[2021-02-24 09:25] wgtgithub opened #8733 "Page Builder 404 (Page Not Found)"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/page-builder/docs/how-to/how-to-use-pagebuilder-for-product-attributes.html

## Description

This page is not found

## Possible solutions

## Additional information

"How to use Page Builder for product attributes | Magento 2 ..." as searched google

[2021-02-24 12:35] dobooth commented on #8731
Likely. I don't know why we would have a tinyUrl in our docs. Perhaps @meker12 can get this in #8728.

[2021-02-24 13:43] bdenham commented on #8733
Hey @wgtgithub! You are our 404th customer! Congratulations!

Sorry about that! Your page is now here: https://devdocs.magento.com/page-builder/docs/administration/use-for-product-attributes.html

We _just_ finished a complete a reorganization of the Page Builder docs site (last night) for easier discovery and access to topics of interest. How's that working out for you? :)

In all seriousness, we

[2021-02-24 14:49] sdzhepa commented on #8731
Hello @BarnyShergold and @dobooth

This link https://tinyurl.com/engcom-slack could work because you already signed in to this slack.
But in the case of the first sign-up, it does not work.
To check it just try to open this link in the incognito browser mode.

Looks like _tinyurl_ link was used a long time ago but later it was changed to the new one.
In engcom we usually refer all email request to

[2021-02-24 15:16] sdzhepa commented on #8731
Update

Let me investigate this issue. Seems some configuration in slack was updated

[2021-02-24 17:18] sdzhepa commented on #8731
fyi: @BarnyShergold @dobooth @meker12

I have investigated this issue discussed and confirmed with Community Engineering

I create PR to fix this issue in all places https://github.com/magento/devdocs/pull/8734

[2021-02-24 19:28] #8731 closed

[2021-02-24 19:41] bdenham commented on #8678
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2021-02-24 19:50] #8678 closed

[2021-02-24 19:53] dobooth commented on #8651
Not enough information to work with on this issue.

[2021-02-24 19:53] #8651 closed

[2021-02-24 19:57] keharper commented on #8620
@joni-jones Can you comment as to whether the vault can be used for features such as instant payment?

[2021-02-24 21:26] BarnyShergold commented on #8733
@bdenham -  based on what you have said, are you happy for this issue to be closed as it doesn't need 'fixing'?

[2021-02-24 21:30] joni-jones commented on #8620
The "Instant Purchase" uses Vault functionality to proceed with a payment process during checkout. To be able to use "Instant Purchase" a customer should already have some stored payment method via Vault, usually, it is done automatically when a customer chooses "Save for later use" on the payment form while placing the previous order.

The vault itself can support not only credit cards, for insta

[2021-02-24 22:01] bdenham commented on #8733
Very true, @BarnyShergold! Closed!

[2021-02-24 22:01] #8733 closed

[2021-02-25 00:42] wgtgithub commented on #8733
Hi there, you can close this issue cause I checked the URL already
Thanks

[2021-02-25 01:59] mggioffre opened #8740 "Broken Installation Guide link"
# General issue

## Description:

The link to the Magento 2 installation guide no longer works (https://community.magento.com/t5/Installing-Magento-2-x/Documentation-for-Installing-Magento-2/td-p/10957)

## Possible solutions:

Update the Installation Guide link

## Additional information:
![image](https://user-images.githubusercontent.com/4570038/109091645-2d9f4b00-76e3-11eb-829b-268a5cb648c4.png

[2021-02-25 15:14] Eddcapone commented on #8620
Is there a guide on how to make any custom payment method vault compatible so I can use instant purchase?

[2021-02-25 17:22] joni-jones commented on #8620
https://devdocs.magento.com/guides/v2.4/payments-integrations/vault/payment-token.html
[code]

[2021-02-26 06:32] Santoshziffity commented on #8682
@magento I am working on this

[2021-02-26 08:34] Eddcapone commented on #8620
My custom payment method is not about credit cards. It is a Cash payment, where customers pickup the stuff at our store and give us cash. Am I right that it is not possible in my case, or do I just have to use `TOKEN_TYPE_CREDIT_CARD` anyways?

[2021-02-26 13:43] Santoshziffity commented on #8664
@magento I am working on this

[2021-02-26 21:10] keharper commented on #8603
Assigning to myself due to time constraints. I discussed this with @andrewbess beforehand.

[2021-02-26 21:11] keharper commented on #8602
Assigning to myself due to time constraints. I discussed this with @andrewbess beforehand.

[2021-03-01 09:08] 2927267743 opened #8750 "Feedback on page: /guides/v2.4/get-started/gs-curl.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-03-01 17:39] dobooth commented on #8740
Thanks for the issue, @mggioffre . This link from 6 years ago points to version 1 docs,  which we no longer publish.
The current Install Guide is. https://devdocs.magento.com/guides/v2.4/install-gde/install-flow-diagram.html

[2021-03-01 17:39] #8740 closed

[2021-03-01 17:40] #8750 closed

[2021-03-01 18:38] ajithkumar-maragathavel commented on #7504
@magento I am working on this

[2021-03-01 18:53] dobooth commented on #8292
Looks like we removed that page in the Install Guide refresh effort.

[2021-03-01 18:53] #8292 closed

[2021-03-01 19:34] #8608 closed

[2021-03-02 02:21] jaimiedijstra opened #8758 "Feedback on page: /guides/v2.3/inventory/inventory-cli-reference.html"
# General issue

## Description:

Missing info on section Create compensations command (https://devdocs.magento.com/guides/v2.3/inventory/inventory-cli-reference.html#create-compensations-command)

## Possible solutions:

Recommend you add that if the sku for a compensation entry includes spaces, enclose the sku in quotation marks for example, the command:

bin/magento inventory:reservation:create

[2021-03-02 04:35] #8603 closed

[2021-03-02 04:44] #8602 closed

[2021-03-02 15:04] #2578 closed

[2021-03-02 17:05] #8465 closed

[2021-03-02 18:53] #8758 closed

[2021-03-03 10:51] TarunBhalodia opened #8767 "Feedback on page: /guides/v2.4/coding-standards/bk-coding-standards.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-03-03 14:39] #8767 closed

[2021-03-03 14:49] dobooth commented on #4451
Great to see all this progress!

[2021-03-03 15:38] dobooth commented on #8576
Closing this issue and #8546. The renderTag can't capture all instances of unsafe, in-line scripts, so we don't want to use it in docs as a recommended method.

[2021-03-03 15:38] #8576 closed

[2021-03-03 16:28] dobooth commented on #8546
Closing this. See note in #8576.

[2021-03-03 16:28] #8546 closed

[2021-03-03 16:57] dobooth commented on #8304
@chiranjeevi-cj Thanks for taking this. There is no new or update sample payment modules. We may as well remove that line from the docs.

[2021-03-04 07:01] ajithkumar-maragathavel opened #8772 "Email Templates Layout Handles"
# New topic request

## Description

Email templates implementation and customization are covered in the below link

- https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/templates/template-email.html

In the sales-related email templates, layout handles are used to render the order items and grand total sections.
For example, the below layout handle is used in the new order email template.

[2021-03-04 09:43] DenisSaltanahmedov commented on #2957
@magento I am working on this

[2021-03-04 17:38] pmsteil opened #8775 "Getting bash: line 1: Not: command not found error for Magento Cloud"
# General issue

## Description:

When I try to run this command

[code]

I get this error:

```bash: line 1: Not: command not found```

## Possible solutions:

The command would work :)

## Additional information:

I am a Magento Cloud customer.  I have cloned the git repo from the magento cloud.

When I try to access this url in my browser:
https://github.com/magento/magento-cloud-docker/release

[2021-03-04 17:46] pmsteil commented on #8775
I was able to find and use this url that worked:

```https://raw.githubusercontent.com/magento/magento-cloud-docker/develop/bin/init-docker.sh```

[2021-03-04 18:47] pmsteil opened #8777 "docker-compose run --rm deploy commands failing, docs issue?"
# General issue

## Description:

I am following instructions on this page:
https://devdocs.magento.com/cloud/docker/docker-mode-developer.html

These two commands are failing:

[code]
[code]
## Possible solutions:

These should work or tell me why they didn't work.

## Additional information:

I have all the docker instances getting initialized properly

[code]

and docker-sync is up and working

[2021-03-04 19:38] shrielenee commented on #8777
Pinging @bdenham ---Hey @pmsteil Is this a docs issue? I'm finding some info in the Magento Forums and also on Stack Exchange and am curious if you have checked there for help.

* https://community.magento.com/t5/Magento-2-x-Version-Upgrades/Could-not-open-input-file-bin-magento/td-p/112857
* https://magento.stackexchange.com/questions/299941/error-while-updating-ece-tools-version-magento-2-2-6

C

[2021-03-04 19:42] pmsteil commented on #8777
Well, I am trying to follow the docs to get the docker environment up and running and it isn't working for me.  So not sure what is missing, but didn't know where else to ask about this. :)

[2021-03-04 19:46] dshevtsov commented on #8777
@shiftedreality, @bdenham can you please check whether this is a documentation issue or local environment issue?

[2021-03-04 19:57] shrielenee commented on #8566
On internal review, we should potentially remove the first level Overview heading as it is not needed.

[2021-03-04 19:59] shrielenee commented on #8565
Hello @Eddcapone --- Is this a request to move the illustration that currently exists at the bottom of the page to the top? Or is this a request for another illustration?

[2021-03-04 20:06] joni-jones commented on #8620
@Eddcapone if you do not use credit cards then you can use `account` type and `\Magento\Vault\Api\Data\PaymentTokenFactoryInterface::TOKEN_TYPE_ACCOUNT` for the token creation.

[2021-03-05 01:12] Leland commented on #8576
Given that the [Dev Docs also mention](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html#whitelist-an-inline-script-or-style):

...it seems odd that the actual code snippets used throughout the docs wouldn't follow this practice, right? IMO, the docs should provide real, usable code to devs – rather than leaving the conversion of them to a secureRe

[2021-03-05 01:34] PivitParkour94 commented on #8576
Yeah definitely agree @Leland
I'd hope that as a dev I can go to the dev docs, copy and paste the code and then modify it for my needs, or at least have a clear understanding of what changes I need to make in the modules I am building

[2021-03-05 04:50] ilima-ebay opened #8779 "Feedback on page: /cloud/project/project-patch.html"
# General issue

## Description:
The indentation of the .magento.env.yaml examples is incorrect. You are currently using 4 spaces but it should be 2 spaces in the below sections:
- [Apply a patch in a local environment](https://devdocs.magento.com/cloud/project/project-patch.html#apply-a-patch-in-a-cloud-environment)
[code]
- [Apply a patch in a Cloud environment](https://devdocs.magento.com/cloud

[2021-03-05 05:54] ajithkumar-maragathavel commented on #8772
@magento I am working on this

[2021-03-05 12:51] aryandesssigner opened #8782 "Space between button on page survey section"
# Bug report

## Description

There is no space between button on page survey section

### Steps to reproduce

1. Open any page of devdoc
2. At the end of the page, you can find survey button

## Expected result

![image](https://user-images.githubusercontent.com/73813417/110117840-72ac3700-7ddf-11eb-9d82-47e34143a3c6.png

[2021-03-05 13:23] aboritskiy opened #8785 "Cache Compression topic is not covered"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-pg-cache.html

## Description

There is no description of cache compression settings on the page, though some of the cache compression settings show up in configuration examples.
Besides that, there is seem to be very little information out there about recommended redis setting

[2021-03-05 14:55] shiftedreality commented on #8777
@pmsteil I would need a few more things:

1. Have you installed dependencies from https://devdocs.magento.com/cloud/docker/docker-installation.html and have `./bin/magento` present locally?
2. Was there any issues after starting `docker-sync`? It usually may take few minutes for the initial sync which may be not really obvious from `docker-sync` output

[2021-03-05 17:24] pmsteil commented on #8777
Yes, I followed those instructions and successfully ran:
curl -sL https://raw.githubusercontent.com/magento/magento-cloud-docker/develop/bin/init-docker.sh | bash -s -- --php 7.4 --host magento2.docker --add-host yes

When I do a docker-compose ps, I get this:
[code]

[2021-03-06 16:12] ahsny opened #8787 "Add symlink for missing file"
# General issue

## Description:

This page doesn't exist.

/guides/v2.4/extension-dev-guide/framework/datetime.html

The v2.3 version does

## Possible solutions:

## Additional information:

[2021-03-06 19:18] medigeek opened #8788 "Question about which mysql extension to use"
# General issue

## Description:

Feedback on page: /guides/v2.4/install-gde/prereq/php-settings.html

In the [guide](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/php-settings.html#verify-installed-extensions) the command line recommends:

[code]

Note **php74u-mysql** and **php74u-mysqlnd**.  Trying to install both mysql and mysqlnd will result in an error, at least in AMI Linux 2 (

[2021-03-07 22:59] PivitParkour94 commented on #8576
In the examples, could we have the snippet instead of

[code]

We could show how it COULD be rendered using the CSP renderer
[code]

Then we could have a linked note saying something like "having inline scripts is not as preferable as loading the script in using the mage-init attribute or custom x-magento-init tag (see <link to info about that>)

If that is in fact how we're wanting JS dev to be u

[2021-03-08 07:25] hostep commented on #4495
Maybe, I'll try to check it out later when I find some more time, sorry 🙂

[2021-03-08 10:17] Eddcapone commented on #8565
@shrielenee , yes, in my oppinion it would be much better, because we will understand what this is all about.

[2021-03-08 10:18] Eddcapone commented on #8620
Ok nice, thank you for your input. I will close this for now! :)

[2021-03-08 10:18] #8620 closed

[2021-03-08 22:29] ncasebolt-sourcebooks opened #8790 "Instructions to create an integration direct the user to a deprecated function"
# General issue

## Description:

The "[Create an integration](https://devdocs.magento.com/guides/v2.4/get-started/create-integration.html)" page directs users to install an integration using `$this->integrationManager->processIntegrationConfig`. This method appears to be deprecated in favor of `$this->integrationManager->processConfigBasedIntegrations`. This obsolete information requires the user

[2021-03-09 14:53] shrielenee commented on #8565
@Eddcapone I didn't quite understand your reply. I'm going to assume that you are requesting that we move the current illustration from the bottom of the page to the top. If I'm incorrect, please respond. Thanks!

[2021-03-09 15:24] Eddcapone commented on #8565
Exactly. I ask you to place it at the top, so we initially understand what the article is all about.

[2021-03-09 17:25] shiftedreality commented on #8777
This all looks good, could you also check what's inside of containers?

`docker-compose run --rm build bash -c "ls -la /app"`

[2021-03-09 22:23] keharper commented on #8602
#8757 was rolled into https://github.com/magento-commerce/devdocs/pull/2115

[2021-03-09 22:23] keharper commented on #8603
#8749 was rolled into https://github.com/magento-commerce/devdocs/pull/2115

[2021-03-10 04:19] mrtuvn commented on #6864
Have you re-read the docs ?
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-guide/css_quick_guide_approach.html

[2021-03-10 15:31] bardon-bicarbonate opened #8795 "Wrong Class specified in the ACL rules page"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/ext-best-practices/tutorials/create-access-control-list-rule.html#restrict-admin-controllers
https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/create-access-control-list-rule.html#restrict-admin-controllers

## Description

"We can restrict the access to admin controllers by overridi

[2021-03-11 04:27] charles-tychons opened #8797 "Module Reference Guide Page Doesn't have Edit on Github Feature"
# New feature request
Module Reference Guide Page Doesn't have "Edit on Github" and "Log an Issue" features.

## Description
Even though it is not a new functionality for DevDocs, But the feature is missing in a section of pages.
All the pages having opportunity to contribute on Dev Docs using  "Edit on Github" and "Log an Issue" links. But all the pages under **Module Reference Guide** section do

[2021-03-11 09:32] BarnyShergold commented on #8797
@dobooth - The content for the "MRG" is stored in a different area from the main pages - `_data/codebase/v2_3/mrg/ee` and it's stored in `.yml` files, not `.md` - is it even possible to add the "Edit Github" / "Log an issue"? Does this come from Github itself as I can't find the texts "Edit Github" / "Log an issue" in the DevDocs repo

[2021-03-11 11:55] dobooth commented on #8797
The MRG is an example of auto-generated content. We have automation we run at each release that pulls in the content of each module's README file from the magento2 codebase. This data is store in the YML file in the devdocs codebase and our Jekyll instance processes the data and template files to create the guide. You can see the work around it being captured in https://github.com/magento/devdocs/

[2021-03-11 11:56] dobooth commented on #8797
Therefore, I will close this issue, but glad we had the opportunity to explain.

[2021-03-11 11:56] #8797 closed

[2021-03-11 14:10] #8795 closed

[2021-03-11 17:20] #8772 closed

[2021-03-12 22:29] ncasebolt-sourcebooks commented on #8790
So after wrestling with this thing off and on, it appears I *must* use the deprecated function, unless there's a method in some other class. `processConfigBasedIntegrations` never did work for me. Can this section be clarified in general so we're not reliant on deprecated functions?

[2021-03-15 05:01] Viper9x commented on #8571
@magento I am working on this

[2021-03-15 09:17] Eddcapone opened #8802 "Information missing - How to include custom template from theme?"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/templates/template-email.html

I have a custom template in THEME/Magento_Email/email/usp_block.html

How can I include it in another template?

I tried it with `{{template config_path="design/email/usp_block_template"}}`
and `{{template config_path="design/email/usp_block"}}` but it says `Email template ''

[2021-03-15 10:29] Viper9x commented on #8571
It's ** #UI Component**, not a layout element so it must be put inside UI component file.
The Container UI component must be located in the scope of _<fieldset>_ node
Ref: vendor/magento/module-inventory-catalog-admin-ui/view/adminhtml/ui_component/product_form.xml

I'll update devdocs page.

[2021-03-15 22:40] joelbyronbarker opened #8805 "Bad link to Slack on https://github.com/magento/devdocs/wiki"
# Bug report

## Description

On the preliminary page https://github.com/magento/devdocs/wiki, the link text **(self signup)** that goes to https://tinyurl.com/engcom-slack (redirecting to https://magentocommeng.slack.com/join/shared_invite/enQtNDUzMDg4Mzc4NTY3LWEyOThjMzY5Zjk2ZGVjZWZmNTU4ZjJkYmQzMWNjY2MwMzRlNDM0ODMyZTVmM2NjODIwOTNjZWQ4NTM2ZjU2YmE#/) results in a page reading
**This link is no long

[2021-03-16 07:41] ajithkumar-maragathavel commented on #8570
@magento I am working on this

[2021-03-16 09:50] ajithkumar-maragathavel opened #8808 "New Topic for Show or Hide Password Widget"
# New topic request

## Description

Recently, the Show or Hide password checkbox feature is introduced in Magento 2 by the below PR:
PR Link - https://github.com/magento/magento2/pull/31482/

Suggest that rather than create a new topic this might be incorporated into an existing related topic. If not, we can create a new topic on how to use the Show or Hide password checkbox feature in the custom

[2021-03-16 11:31] Pinchanzee opened #8809 "Add content to ColumnsEditorRecord component"
# General issue

Affected page: /guides/v2.4/ui_comp_guide/components/ui-columns-editor-record.html

## Description:

No explanation on how to use options that aren't XML hardcoded in a custom type like multi-select.

## Additional information:

This functionality is largely useless without the ability to provide dynamic options.  I'm assuming there is a way to do this that's just undocumented but

[2021-03-16 17:04] #8805 closed

[2021-03-16 17:33] dobooth commented on #3885
Closing this issue. Let's see what upcoming capabilities we will have.

[2021-03-16 17:33] #3885 closed

[2021-03-16 20:20] irenelagno commented on #7852
@magento give me 2.4.0 instance with edition b2b

[2021-03-17 02:02] ak77-prime opened #8810 "Update link in Cloud docs"
# General issue

## Description:

https://devdocs.magento.com/cloud/live/stage-prod-migrate.html#troubleshooting-the-database-migration

``Use the database dump file to migrate the database.``

Remove link back to [migrate the database.](https://devdocs.magento.com/cloud/live/stage-prod-migrate.html?itm_source=devdocs&itm_medium=quick_search&itm_campaign=federated_search&itm_term=import%20data#clo

[2021-03-17 14:29] #8504 closed

[2021-03-17 14:57] #8106 closed

[2021-03-17 15:02] roshanyadav89 commented on #8504
@dobooth It's Fixed?

[2021-03-17 15:22] Viper9x commented on #8563
@magento I am working on this

[2021-03-17 16:51] #7504 closed

[2021-03-17 18:59] dobooth commented on #8785
Hi @aboritskiy Thanks for the well documented issue. We would be thrilled if you would create a PR around this.

[2021-03-17 20:49] singvar opened #8814 "Feedback on page: /guides/v2.4/frontend-dev-guide/css-topics/theme-ui-lib.html"
# General issue

## Description:

The page magento-devdocs.github.io/ is no longer available

## Possible solutions:

Re-enable the specified page.

## Additional information:

The devdoc page is no longer available.
It was possible to use the documentation built into the project, but examples from it are not displayed correctly in the browser. In general, they are not visible.

[2021-03-17 22:54] BarnyShergold commented on #8814
Pages on the domain magento-devdocs.github.io are not be maintained by this team or this repo. We only maintain on devdocs.magento.com

I'm therefore closing this issue. If you have more detailed information as to the content you are trying to reference, please reopen issue.

[2021-03-17 22:54] #8814 closed

[2021-03-18 02:58] ak77-prime opened #8815 "Improve build and deploy env definitions"
# General issue

Feedback on page: /cloud/project/magento-env-yaml.html

Recommend adding a note to these items, in particular ``deploy``:

[code]

## Possible solutions:

If you have enabled [Configuration Management](https://devdocs.magento.com/cloud/live/sens-data-over.html) after dumping the configurations, you should move the SCD_* variables from the deploy to the build stage.

E.g.,

Before

[2021-03-18 03:26] ajithkumar-maragathavel commented on #8808
@magento I am working on this

[2021-03-18 08:57] BarnyShergold commented on #8787
@magento I am working on this

[2021-03-18 14:07] hguthrie commented on #8815
@ak77-prime Good suggestions for improving the build and deploy definitions. And the [Configuration management: SCD performance section](https://devdocs.magento.com/cloud/live/sens-data-over.html#scd-performance) could use your SCD recommendations.

[2021-03-18 18:20] #2957 closed

[2021-03-18 18:30] #8787 closed

[2021-03-18 18:50] #8571 closed

[2021-03-19 11:22] demwarlord opened #8818 "Need more example in REST tutorial"
# General issue

## Description:

Related page: https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-create-shipment.html

There is a mention about bundles and simples, but no information about configurables. I think It means the same principle for configurable, but it would be great if you confirm this. I mean that one has to "ship" only top-level (parent) order_item_id also for co

[2021-03-19 11:31] dobooth commented on #8818
Thanks for filing, @demwarlord

[2021-03-19 14:02] shrielenee commented on #8782
FIx merged, closing

[2021-03-19 14:02] #8782 closed

[2021-03-19 16:42] damienwebdev opened #8819 "Uncached query call to customAttributeMedadata"
# General issue

## Description:
https://devdocs.magento.com/guides/v2.4/graphql/queries/products.html#ProductFilterInput is strictly wrong and direct one to make an uncached query call to `customAttributeMetadata`.

## Possible solutions:
You should instead prefer https://develop.pwa-venia.com/graphql?query=query+GetFilterInputsForCategory%7B__type%28name%3A%22ProductAttributeFilterInput%22%29%7B

[2021-03-21 15:23] Viper9x commented on #8563
Hi @Eddcapone
As I've commented in your issue on [magento 2 repository](https://github.com/magento/magento2/issues/31833)
You've done the wrong way.
The purpose of the document page you applied is "Add a custom template for a form field on Checkout page"
But your task is to customize the payment method.

I've tested the example on the document page and got successful.

[2021-03-22 06:12] mrtuvn commented on #8802
Maybe you don't have to do that (include external template). Include block in your email
I think the suitable way is create custom template email and call it inside admin. Modify later and add your content you want. Add content, variables.v.v
Default magento not support include external block template. Sorry if i got something wrong here. Some lacks of ignorance

[2021-03-22 19:23] hguthrie opened #8823 "Expand remote storage authentication example"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html

## Description

per Slack: i think we need to show a sample scenario for IAM and for the secret keys, separately, and in more depth.

## Possible solutions

Possibly expand topic or create a new sub-topic with a **generic** example for incl

[2021-03-22 20:46] hunterallen opened #8824 "Feedback on page: /guides/v2.4/ui_comp_guide/components/ui-insertform.html"
# General issue

## Description:

Under "**Configuration Options**", the option "**autoRender**" is described as

*InsertListing** should be corrected to  **InsertForm**.

## Possible solutions:

**InsertListing** should be corrected to  **InsertForm**.

## Additional information:

[2021-03-23 04:23] Viper9x opened #8826 "rake symlink:replace_at fail with directory that only contains one file."
# Community engineering issue

## Content

I want to replace a 2.4 symlink with a copy of the 2.3 file: src/guides/v2.3/config-guide/db-profiler/db-profiler.md
I run the command: `rake symlink:replace_at path=src/guides/v2.4/config-guide/db-profiler/db-profiler.md`
Terminal shows the output:
[code]
It appears to be an issue when breaking the symlink in a directory that only contains one file.
## A

[2021-03-23 04:52] Viper9x commented on #8824
@magento I am working on this

[2021-03-23 16:47] jfrontain commented on #8299
@pixel-paul, thanks for bringing this issue to our attention. I've updated the 2.3.6 release notes and will close this issue now. Let us know if we need to add additional information -- we want to get this right! Thanks again.

[2021-03-23 23:08] pixel-paul commented on #8299
@jfrontain - thanks for updating the breaking changes. I'm sure that will help people with updating. For me, this wasn't operationally a big deal, although I had to spend quite a bit of time debugging etc. to figure out the problem and then a solution.

I appreciate on such a big project, keeping track of all the breaking changes must be a major challenge,  however it's still not clear why such a

[2021-03-24 12:50] jfrontain commented on #8299
Actually, @pixel-paul, I wrote too quickly and mixed up this BiC with another issue. I'm re-opening this issue and will follow up today. Tracking these types of changes is a challenge, and we appreciate your help and patience.

[2021-03-24 13:58] jfrontain commented on #8299
Okay, the 2.3.6 release notes have been updated. Here's the PR: https://github.com/magento-commerce/devdocs/pull/2164

[2021-03-24 13:58] #8299 closed

[2021-03-24 14:20] #8824 closed

[2021-03-25 01:42] ak77-prime opened #8832 "Cloud: update callout about Pro routing"
# General issue

Feedback on page: /cloud/project/project-multi-sites.html

## Description:

https://devdocs.magento.com/cloud/project/project-multi-sites.html#routes

This is outdated:

[code]

Most Pro accounts no longer require a Support ticket if they have Auto-Nginx enabled.

## Possible solutions:

[code]

## Additional information:

[2021-03-25 01:43] ak77-prime commented on #8832
I seemed to have been viewing a cached copy of the article

[2021-03-25 02:09] mrtuvn commented on #8664
Basically it's create symlinks all your less/sass files to pub/static but not compile to css yet. That's all
This command rarelly use (Default you should go to grunt workflow or basic run static-content:deploy). Only one use case for this is when you create new less file with styles and you want to sync that file to your theme

[2021-03-25 18:37] dobooth commented on #8818
@keharper Any feedback on this issue?

[2021-03-25 18:43] dobooth commented on #8544
@jcalcaben

[2021-03-25 18:47] dobooth commented on #8052
@bdenham

[2021-03-25 18:51] dobooth commented on #8049
@bdenham

[2021-03-25 20:53] #8826 closed

[2021-03-25 21:01] goivvy commented on #7587
@dobooth I'm still working on it. 50+ events to go. Do you want me to push what's been already done and put the rest is coming up shortly notice at the bottom?

[2021-03-25 21:02] goivvy commented on #7587
@dobooth
![Screen Shot 2021-03-25 at 5 02 06 PM](https://user-images.githubusercontent.com/1328492/112543253-dfd23d00-8d8b-11eb-9100-d23de350d547.png)

[2021-03-26 08:09] gixid192 commented on #8809
I think this can only be used for `form` not grid. In the `Field` class, it has code to initialize that multiselect node

[2021-03-26 08:32] gixid192 commented on #8564
You have trailing space in your code ` <item name="shippingAddress "`, that's the reason it does not disable.

[2021-03-26 10:38] Eddcapone commented on #8564
Ohh... Sorry for this. I am closing the issue. Unfortunatelly there was no error showing to point this out. Thank you!

[2021-03-26 10:38] #8564 closed

[2021-03-26 18:02] dshevtsov commented on #8826
The issue was fixed via internal pull request at 82170ed.

[2021-03-27 10:17] Pinchanzee commented on #8809
How difficult to you think it would it be to bring the online edit functionality inline with the expectated behaviour?
I had a look myself but I'm not proficient with the JS architecture.

[2021-03-27 18:15] mrtuvn commented on #8788
may we don't need to install `php74u-mysql`

[2021-03-28 11:21] Muhammadariesta opened #8838 "Feedback on page: /whats-new.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-03-29 05:29] chrisfyrtarn opened #8839 "BundleOrderItem interface causes Warning: implode(): Invalid arguments passed (v2.4/graphql/interfaces/order-item-interface.html)"
# General issue
BundleOrderItem interface causes `Warning: implode(): Invalid arguments passed`

## Description:

GraphQL Query "Customer/Orders/Items" containing this example:
[code]

Causes Invalid arguments error to be returned:

[code]

## Possible solutions:

GraphQL response contains the intended summary of bundle items with no errors.

## Additional information:
[code]

[2021-03-29 08:32] BarnyShergold commented on #8839
@chrisfyrtarn I've checked this and I can't see why this is a DevDocs issue. It looks more like you are reporting a bug with the behaviour of the GraphQL.

Please open an issue on magento/magento2 and report this there.

I am closing the issue for now. If you consider that there is a DOCS issue, please re-open and let us know what is wrong with the DOCS

[2021-03-29 08:32] #8839 closed

[2021-03-29 08:33] BarnyShergold commented on #8838
There is no issue described on this issue. Closing.

[2021-03-29 08:33] #8838 closed

[2021-03-29 13:17] hguthrie commented on #8392
@bdenham Is this still in progress?

[2021-03-29 13:19] hguthrie commented on #8411
@bdenham Are you or will you be working on this or can we free this up for someone else?

[2021-03-29 13:41] hguthrie commented on #8188
@meker12 Will you be working on this or can we free this issue for someone else to work?

[2021-03-29 13:42] bdenham commented on #8411
Yes, I can work on this starting Wednesday of this week. But if someone wants to start sooner, feel free to unassign me now. Thanks for the nudge!

[2021-03-29 14:29] meker12 commented on #8188
@hguthrie If someone else is available, that's fine.  Otherwise, I can circle back next week and address any outstanding issues assigned to me. On this particular issue, I wonder if this will be true for the new Starter environments. I believe those environments behave just like the Pro environments.

[2021-03-30 07:53] gixid192 commented on #8809
I found a way to accomplish that but it only allows to use 1 multiselect column. More details about why could be found here: https://gist.github.com/gixid192/6e6781b708ace8ad0706f388466bb90a

The code for displaying is as follow (you can try on customer_listing.xml)
For the index selector, you can read more about it here: https://devdocs.magento.com/guides/v2.4/ui_comp_guide/concepts/ui_comp_uireg

[2021-03-30 08:27] BarnyShergold commented on #8775
This is not a DEVDOCS issue. Specifically the issue relates to accessing the magento/magento-cloud-docker repository.

If this is still an issue, please raise on the repository issues.

Closing this issue due to this reason.

[2021-03-30 09:11] Pinchanzee commented on #8809
Brilliant!  At least for my purposes, this should work fine as a workaround thanks.  Would the same work for checkbox-set?

[2021-03-30 09:29] #8775 closed

[2021-03-30 09:48] gixid192 commented on #8809
Pretty much, because UI component works that way (XML -> PHP -> JS)

[2021-03-30 15:11] hostep opened #8845 "Please explain new 'media-content:sync' and 'media-gallery:sync' commands from Magento 2.4.1"
# New topic request

## Description

Magento 2.4.1 introduced these two new commands:
- `bin/magento media-content:sync`
- `bin/magento media-gallery:sync`

These are currently only mentioned on https://devdocs.magento.com/guides/v2.4/reference/cli/magento.html but their explanation is very generic and basically doesn't say anything:

But that doesn't explain what these command are for specificall

[2021-03-30 15:20] jeff-matthews commented on #8845
@gabrieldagama & @tkacheva, is this something you can help us with? I didn't see these commands in the feature list for internal release tracking for 2.4.1.

[2021-03-30 15:45] gabrieldagama commented on #8845
Hi @jeff-matthews, I believe @sivaschenko would be the best person to answer that!

[2021-03-30 18:50] #8815 closed

[2021-03-30 18:50] #8810 closed

[2021-03-30 18:50] #8832 closed

[2021-03-31 02:52] bernieu2 opened #8847 "Make docroot pub requirement more prominent in install documentation"
# Make docroot pub requirement more prominent in install documentation

## Topic Link
Possible areas to add warnings
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/prereq-overview.html
https://devdocs.magento.com/guides/v2.4/install-gde/composer.html
https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-install.html
https://devdocs.magento.com/guides/v2.4/install-

[2021-03-31 03:35] gixid192 commented on #8566
@Eddcapone could you give more information about what you want?
To me the guide provides basic information and it demonstrates with code and explanation well.

[2021-03-31 12:27] bubutek opened #8848 "Feedback on page: /guides/v2.4/frontend-dev-guide/tools/using_grunt.html"
# General issue

## Description:

Possible TYPO error in https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/tools/using_grunt.html#grunt_config:

"...
Grunt configuration file
Copy the contents of themes.js into _**themes.loc.js**_ in the dev/tools/grunt/configs/ directory.
...."

Follow this step and copy file so named (theme.loc.js) result in error when run command "grunt exec:"

## Poss

[2021-03-31 14:52] erikmarr commented on #8847
Hey @shrielenee this looks like it might be related to some of the work you're doing to update the install guide.

[2021-03-31 15:30] shrielenee commented on #8847
Thanks @erikmarr ! Add this to our "to-do" list!

[2021-03-31 16:23] hguthrie commented on #8848
Confirmed! The OOTB [grunt config sample ](https://github.com/magento/magento2/blob/2.4-develop/grunt-config.json.sample) shows `local-themes`

[2021-04-01 20:31] goivvy commented on #7587
@dobooth Could you comment on it?

[2021-04-02 07:49] gixid192 commented on #8340
Hi guys,

I cannot reproduce the error. Could you guys help by listing out the steps?

Here is how I do it:
1. Generate a [medium profile](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-perf-data.html), which according to the docs, will have 3 websites
2. Copy/paste from the tutorial
3. Check the result

I also checked the SQL generated from the plugin, please advi

[2021-04-03 06:40] mrtuvn commented on #8788
[PHP Modules]
amqp
bcmath
bz2
calendar
Core
ctype
curl
date
dom
exif
fileinfo
filter
ftp
gd
gettext
gmp
hash
iconv
igbinary
imagick
intl
ionCube Loader
json
libxml
mbstring
msgpack
mysqli
mysqlnd
openssl
pcntl
pcre
PDO
pdo_mysql
pdo_sqlite
Phar
posix
readline
redis
Reflection
session
shmop
SimpleXML
soap
sockets
sodium
SourceGuardian
SPL
sqlite3
standard
sysvmsg
sysvsem
sysvshm
tokenizer
xml
xmlre

[2021-04-03 06:41] mrtuvn commented on #8788
Maybe you should use mysqli instead

[2021-04-03 14:27] Pinchanzee commented on #8809
Is there some way to change which index the multiselect looks get to its selected values?
For instance if you want to use prepareDataSource to modify how the column data is displayed, but your data provider providers another key that should be used to show populated values.
By default it only works if you are displaying the multiselect values comma separated.

Example data source:
[code]
Is there

[2021-04-03 15:03] gixid192 commented on #8809
I haven't looked deeper at how `index` are defined, usually, it defined by the column's name.

However, it's really doesn't matter, you can always let the grid render first, and then get the `grid-selector` by using knockout
https://devdocs.magento.com/guides/v2.4/ui_comp_guide/troubleshoot/ui_comp_troubleshoot_js.html#debugging-using-pure-knockout

[2021-04-05 12:50] hguthrie commented on #8340
@ioweb-gr  Can you review the steps to produce the error, compare with @gixid192 steps, and provide feedback? Thanks!

[2021-04-05 20:14] medmek opened #8855 "Clarify information on page /guides/v2.4/install-gde/prereq/es-config-apache.html about ports used"
# General issue

## Description:

I was confused in regard to port used by elasticsearch (:9200) and the port used by the proxy (:8080)

## Possible solutions:
in this example it would be maybe better to specify 9200 as the by default port to use for elasticsearch

## Additional information:
In my case when I used 8080 after removing the directives from the unsecure virtual host :
[code]

[2021-04-05 22:09] mrtuvn commented on #8690
Seem docs have updated can you recheck that ? Give docs team a feedback on new content

[2021-04-05 22:11] mrtuvn commented on #8682
Seem docs have updated here
https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/build-system.html

[2021-04-06 05:30] emilmathew opened #8856 "Remove "Deleted" Section from the document which will not allow to perform that activity"
# Topic clarification/correction request

 https://omsdocs.magento.com/specifications/#magento.inventory.aggregate_management
![image](https://user-images.githubusercontent.com/45308572/113663186-395d3480-96c7-11eb-976c-7eaa82064cf6.png)

## Description
As per the engineering team - "It can not be done by MOM API or other ways at this moment. It is a technical restriction from the MOM side and "We

[2021-04-06 05:40] ioweb-gr commented on #8340
It's been about 5 months since I raised the issue. I don't think I have the source code to replicate this any longer.

[2021-04-06 14:53] hguthrie opened #8857 "Update the AWS regions for Cloud integration environments"
# General issue

## Description:

Per Slack:

could we get the following article updated with the IPs for the eu 6 region: https://devdocs.magento.com/cloud/env/environments-start.html#ipaddress

## Possible solutions:

eu-6
Incoming -> 52.47.155.26, 35.181.0.157, 35.181.12.15
Outgoing -> 35.181.23.47, 35.181.24.165, 35.180.237.48

[2021-04-08 14:30] #8808 closed

[2021-04-11 07:18] grotto273 opened #8861 "👋👋👋"
# Bug report

## Description

### Steps to reproduce

1. First Step
1. Second Step
1. Etc.

## Expected result

## Possible solutions

## Additional information

[2021-04-11 07:18] #8861 closed

[2021-04-11 13:39] mrtuvn commented on #8855
Maybe we misleading the information here. Have you setup proxy pass to port 9200 ? This is important part

[2021-04-11 23:08] mrtuvn commented on #3807
I think nothing wrong with that but we should following best practices here
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/theme-best-practice.html

[2021-04-11 23:11] mrtuvn commented on #3807
The note meaning when you add variables in blank _theme.less it will possible overwrite variables magento defined in
https://github.com/magento/magento2/tree/2.4-develop/lib/web/css/source/lib/variables

[2021-04-11 23:39] mrtuvn commented on #8107
Docs updated

[2021-04-12 01:19] bdenham commented on #8544
Hey @LeanderFS. I just came across this issue and want to touch base with you as it was posted before I added to, reorganized, and rewrote many sections of the Page Builder docs in February. Let me know what I or @jcalcaben can do after your new assessment.

[2021-04-12 17:06] EvheniiaKolkhiieva opened #8867 "Stores | Expand a methods of Using a Custom Admin URL"
# Topic clarification/correction request

## Topic Link
https://docs.magento.com/user-guide/stores/store-urls-custom-admin.html

## Description
- Fragment of correspondence from the issue https://github.com/magento/merchdocs/issues/1098#issuecomment-815928768 :

## Possible solutions

1. Add a notice to "Method 1: Change from the Magento Admin", that admin user may specify a custom admin path via

[2021-04-12 17:06] EvheniiaKolkhiieva commented on #8867
@magento I am working on this

[2021-04-12 17:22] #8867 closed

[2021-04-13 05:46] dhentsche1 opened #8869 "Edit shared account access page in onboarding"
# General issue

## Description:  Shared Account Access page can be more clear: https://devdocs.magento.com/cloud/onboarding/onboarding-tasks.html#set-up-shared-account-access

[2021-04-13 18:44] SalyersAdobe opened #8871 "Update DNS configuration topic"
Suggestion for: https://devdocs.magento.com/cloud/cdn/configure-fastly.html#update-dns-configuration-with-development-settings

Users often visit this article while completing their Launch Checklist to go live on production
Recommendation:
Under the  "2. Add ACME challenge CNAME records for domain validation and pre-provisioning of Production SSL/TLS certificates,"
can we provide a disclaimer that

[2021-04-14 11:50] EvheniiaKolkhiieva opened #8873 "Calendar widget | Add clarification about required parameter for date validation"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget_calendar.html

## Description
In 2.4.2 Magento version Magento core team added new required parameter for date validation:
`],
        'validate-date': [
            function (value, params, additionalParams) {
                var test = moment(value, utils.convertToM

[2021-04-14 11:51] EvheniiaKolkhiieva commented on #8873
@magento I am working on this

[2021-04-14 20:38] jcam opened #8877 "Customize PHP.INI section is incorrect and does not work"
# Bug report

## Description

The devdocs section about customizing php.ini (https://devdocs.magento.com/cloud/project/magento-app-php-ini.html) has a validation check of looking at /etc/php5/fpm/php.ini to ensure that the customizations were applied.

This does not exist, as current builds are using php 7.3.
In addition, the customizations do not get added to the php7.3 php.ini.
Is there a new se

[2021-04-15 16:53] dshevtsov opened #8880 "Overloaded informational structure at Upgrade Compatibility Tool Install"
# General issue

Overloaded informational structure at https://devdocs.magento.com/upgrade-compatibility-tool/install.html

## Description:

1. The topic refers to itself several times.
1. The topic contains too much information for a user willing to install the tool:
   -  The following sections should be moved to the [root topic](https://devdocs.magento.com/upgrade-compatibility-tool/introductio

[2021-04-16 00:58] robolmos opened #8881 "Remote storage: nginx config resolver"
# Remote storage AWS S3 nginx config resolver directive feedback

feedback on page: /guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html
Topic: https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html#configure-nginx

## Description:

Having "resolver 8.8.8.8" in the nginx config seems odd as a default instead of using the host's d

[2021-04-16 13:39] shiftedreality commented on #8881
Hello @robolmos

The resolver is needed to serve data from public DNS in this directive:

`proxy_pass https://s3.amazonaws.com/$bucket$uri;`

Here is some more info: https://distinctplace.com/2017/04/19/nginx-resolver-explained/

[2021-04-16 15:48] hguthrie commented on #6966
The current `docker-compose.yaml` file uses the standard `jekyll/jekyll` image that contains all the node and ruby you might need for basic edit-build-test scenarios. You are able to run some of the `rake` commands. See the **Access the container** section of our [Build DevDocs with Docker](https://github.com/magento/devdocs/wiki/Build-DevDocs-with-Docker) wiki page.

[2021-04-17 15:45] medmek commented on #8855
In my `/etc/apache2/sites-enabled/000-default.conf` I added this :
[code]
but I think I removed it following this step :

[2021-04-19 13:18] LeanderFS commented on #8544
@bdenham Thanks for the heads-up! I've glanced over the new (and improved!) page builder docs and I feel they are way more descriptive and clear. When I have more time I'll check them in details, but for now it has improved by miles!

[2021-04-20 08:10] BarnyShergold commented on #8877
I've also found that on an Integration environment for PHP7.4 there is no /etc/php5/fpm folder and php.ini is in a odd place.
@dobooth - Can we have a Cloud Architect confirm where the php.ini files are for PRO/Starter - Prod/Stage/Integration - PHP7.2/7.3/7.4

We could create a table to show this

[2021-04-20 19:25] lenaorobei opened #8886 "Issue to test the deployer"
# Bug report

## Description

### Steps to reproduce

1. First Step
1. Second Step
1. Etc.

## Expected result

## Possible solutions

## Additional information

[2021-04-20 19:25] #8886 closed

[2021-04-20 19:26] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-04-21 14:38] danidelcar commented on #8856
This is already in the OMS ENG backlog, will open PR in OMS when necessary. Closing as per not correct repo, thanks @emilmathew

[2021-04-21 14:38] #8856 closed

[2021-04-21 14:41] erikmarr commented on #8869
@dhentsche1 thanks for your feedback! Can you provide more information about what is not clear in this topic?

[2021-04-21 15:19] lenaorobei commented on #8886
@magento give me 2.4-develop instance with edition b2b

[2021-04-21 15:28] lenaorobei commented on #8886
@magento give me 2.4.2 instance with edition b2b

[2021-04-21 15:55] Eddcapone opened #8887 "Information about file location is missing"
# General issue

Feedback on page:[ /guides/v2.4/frontend-dev-guide/layouts/layout-types.html](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/layout-types.html)

## Description:

Information missing. Where is the file for the following code at "Page layouts declaration"?
It just shows the code but does not explain where the file is located.

[code]

[2021-04-21 15:58] Eddcapone commented on #8887
I noticed that the filename is showing if you click on the link. But I thought that the link will bring us to the actual magento 2 site.
Maybe it would be better to add the filepath to the documentation too.

[2021-04-21 18:11] lenaorobei commented on #8886
@magento give me 2.4-develop instance with edition b2b

[2021-04-22 11:44] EvheniiaKolkhiieva opened #8889 "Add a hint about composer cache clean on the Cloud environment"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/cloud/setup/first-time-setup-import-import.html

## Description
Request from customer:
![image](https://user-images.githubusercontent.com/78729171/115708601-e34fe880-a378-11eb-9a5e-7f54ffa472f4.png)

## Possible solutions
- Add hint about composer cache cleaning on cloud environment with `magento-cloud project:clea

[2021-04-22 11:44] EvheniiaKolkhiieva commented on #8889
@magento I am working on this

[2021-04-22 15:52] jeff-matthews opened #8891 "Feedback on page: /guides/v2.4/config-guide/remote-storage/config-remote-storage.html"
# General issue

## Description:

Remote storage was introduced in 2.4.2, but the topic doesn't specify that. That has led some users to believe that it is available for all 2.4.x versions.

## Possible solutions:

Add a note specifying that remote storage is available for 2.4.2+ only.

## Additional information:

See 2.4.2 release notes for confirmation: https://devdocs.magento.com/guides/v2.4/re

[2021-04-26 15:36] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-04-26 15:37] lenaorobei commented on #8886
@magento give me 2.4-develop instance with edition b2b

[2021-04-26 15:40] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-04-26 16:15] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-04-26 16:51] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-04-26 17:57] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-04-27 13:01] jeff-matthews opened #8897 "Set docroot - remove mention of setup wizard in 2.37"
# General issue

## Description:

The Web Setup Wizard was removed from the code in 2.4.0 and is being removed in 2.3.7. The [Set the docrooot](https://devdocs.magento.com/cloud/before/before-setup-env-install.html#set-the-docroot) section refers to the wizard:

## Possible solutions:

Remove the second sentence.

[2021-04-27 18:20] #8889 closed

[2021-04-27 19:33] dshevtsov opened #8899 "Inventory API docs refer to 1.1.3 in both 2.3 and 2.4 guides"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/inventory/inventory-api-reference.html
https://devdocs.magento.com/guides/v2.4/inventory/inventory-api-reference.html

## Description

Both guides 2.3 and 2.4 refer to the [Inventory codebase v1.1.3](https://github.com/magento/inventory/tree/1.1.3), which was bundled with the core 2.3.3 release.

## Po

[2021-04-27 19:33] dshevtsov commented on #8899
FYI @sidolov

[2021-04-27 21:09] hguthrie commented on #8340
Closing this issue because we are not able to ascertain whether there is a clear and generic solution for the doc update. If this issue persists and you can share more details, you are welcome to reopen or create a PR with an example.

[2021-04-27 21:09] #8340 closed

[2021-04-28 10:05] vsvizev opened #8902 "Update software.md"
## Purpose of this pull request

Fix MySQL 'innodb_thread_concurrency' variable spelling error.

## Affected DevDocs pages

-  https://devdocs.magento.com/guides/v2.3/performance-best-practices/software.html

## Links to Magento source code

-  https://github.com/magento/devdocs/blob/master/src/guides/v2.3/performance-best-practices/software.md

[2021-04-28 10:07] vsvizev opened #8903 "Update software.md"
## Purpose of this pull request

MySQL 'innodb_thread_concurrency' variable spelling error.

## Affected DevDocs pages

- https://devdocs.magento.com/guides/v2.4/performance-best-practices/software.html#mysql

## Links to Magento source code

-  https://github.com/magento/devdocs/blob/master/src/guides/v2.4/performance-best-practices/software.md

[2021-04-28 18:37] dobooth commented on #8902
Close as dupe.

[2021-04-28 18:37] #8902 closed

[2021-04-28 18:43] dobooth commented on #8899
@dshevtsov What fix are you looking for here? 1.1.3. is not referenced in the topic...

[2021-04-28 18:45] dshevtsov commented on #8899
@dobooth, see item 2. at Additional information from the description.

[2021-04-28 18:50] dobooth commented on #8881
Seems like this is as-designed. Closing issue. Please reopen if this is not the case.

[2021-04-28 18:50] #8881 closed

[2021-04-28 18:53] dobooth commented on #8877
@BarnyShergold seems a reasonable request.

[2021-04-28 19:00] dshevtsov commented on #8899
I'm looking for topic clarification and update, as I have mentioned in Possible solutions.

As a reader of the topics, I'd expect that the topic describes the Inventory code relevant for the latest 2.4 and 2.3 versions. If I click on any link in both 2.4 and 2.3 versions of the topic, it will open a file of the 1.1.3 version of the Inventory codebase. This version corresponds to the 2.3.3 version,

[2021-04-29 08:00] EvheniiaKolkhiieva commented on #8897
Hi @bdenham, thank you for assigning!

This suggestion was implemented, could you please check and approve PR? https://github.com/magento/devdocs/pull/8905

[2021-04-29 14:50] #8887 closed

[2021-04-30 08:01] gq-guo opened #8906 "Verify if bug or needs update on "special price" text in configure-best-practices.html"
# General issue

## Description:

special price did not lose effect at the scheduled date

magento open source 2.3

## Additional information:

special prices rules:
![image](https://user-images.githubusercontent.com/54096325/116666041-11fb3e00-a9cd-11eb-9298-3d0f06ad9f0f.png)

set special price, end date:2021-04-30
![image](https://user-images.githubusercontent.com/54096325/116665928-f2fcac00-a9c

[2021-04-30 10:06] gauravjain02 opened #8907 "Update version (or remove) on ext-repo-structure.html"
# General issue
On page: /guides/v2.4/extension-dev-guide/prepare/ext-repo-structure.html

For Magento 2.3 module
## Description:
It should be for Magento 2.4 Module because its M2.4 DevDocs

It should be for Magento 2.4 Module because its M2.4 DevDocs

## Possible solutions:

## Additional information:

[2021-04-30 11:32] Eddcapone opened #8908 "Example missing on how to enter a version - Feedback on page: /extensions/b2b/"
# General issue

## Description:

https://devdocs.magento.com/extensions/b2b/

I try to install the B2B module, it just says that I have to execute this command and enter my version:

    composer require magento/extension-b2b:<version>

I looked at[ this table](https://devdocs.magento.com/release/availability.html#compatibility) to figure out the version I need.
Then I tried:

    composer requir

[2021-04-30 11:38] AntonEvers commented on #8908
Hi @Eddcapone, B2B 1.3.1 is the B2B version that is compatible with Magento 2.4.2.
![Screen Shot 2021-04-30 at 13 36 29](https://user-images.githubusercontent.com/1489129/116690115-34835c00-a9b9-11eb-8ed7-554044dc66e7.png)

[2021-04-30 11:57] Eddcapone commented on #8908
I see, thank you. I thought we have to enter the magento version. The documentation should show an example on what to select for magento 2.4.2

[2021-04-30 12:14] AntonEvers commented on #8908
Hi @Eddcapone, the risk with that, is that multiple versions can be compatible, and the definition can differ per installation.
For instance, currently you can install B2B `1.1.0` up to `1.3.0` with Magento `2.3.0` to `2.4.1`. You might define this as:
[code]
And more.

Currently only B2B version 1.3.1 is compatible with Magento 2.4.2. However, B2B 1.3.2 or 1.4.0 might also be compatible with 2.4.

[2021-04-30 12:30] #8908 closed

[2021-04-30 16:10] #8897 closed

[2021-04-30 22:48] robolmos opened #8912 "Updated open source "System requirements" table has some inaccuracies and can be improved"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

## Description

System requirements are a bit confusing now. The page says: _"This table notes software versions that were officially tested and supported at the time of the Magento version’s release."_

M2.4.2 release notes says: _"Redis 6.x is now supported. Mage

[2021-05-05 09:05] DenisSaltanahmedov commented on #8666
@magento I am working on this

[2021-05-06 18:35] dobooth commented on #8912
@jeff-matthews Any thoughts here?

[2021-05-06 18:42] shrielenee commented on #8869
There has been no response in over two weeks. If you still feel this merits work @dhentsche1 please open a new issue. Thanks!

[2021-05-06 18:42] #8869 closed

[2021-05-06 18:52] jeff-matthews commented on #8912
Confirmed. Varnish 6.5.1 should be 6.x.

[2021-05-06 20:54] #8907 closed

[2021-05-07 00:28] deezznutz opened #8924 "Feedback on page: /videos/"
# General issue

## Description:

I can't watch your tutorial videos.  I keep getting "This video is private."

## Possible solutions:

## Additional information:

I'm using Firefox with uBlock Origin and Privacy Possum addons.  I'm logged into Youtube.

[2021-05-07 06:38] Santoshziffity commented on #8690
@magento I am working on this

[2021-05-09 02:51] robolmos commented on #8912
Alrighty, based on that there's still some improvements for the table.

From the M2.4.2 release notes it says:

1. "Elasticsearch 7.9.x is now supported" -- so the table should be using 7.9 instead of 7.x ?

2. "Magento 2.4.2 has been tested with Varnish 6.4" -- so the table should be using 6.4 instead of 6.x ?

The minor versions for other software that's being tested would be nice to know too. E

[2021-05-10 08:16] Santoshziffity opened #8927 "Add custom input field in offline payment method"
# New topic request

## Description

Here I found many customizations on the checkout page.
But I have one suggestion to add one more topic to this.

New Topic: Add Custom Input Field in the offline payment method

Means in the purchase order payment method we must add purchase order number. if any customer wants to add more field with the purchase order number at that time these docs will help,

[2021-05-10 08:17] Santoshziffity commented on #8927
@magento I am working on this

[2021-05-10 13:30] ajithkumar-maragathavel commented on #8224
@magento I am working on this

[2021-05-10 15:01] crosslightde opened #8928 "Feedback on page: /guides/v2.4/install-gde/install/cli/install-cli-subcommands-deployment.html"
# General issue

## Description:

`bin/magento setup:config:set` updates env.php, which in turn causes a fatal error, because file contents doesn't match database content. In developer mode, this is handled by automatically importing the file into the database. But in production mode, this causes a critical error and thus a full shutdown of the shop.

## Possible solutions:

Add a hint to the docu

[2021-05-11 15:10] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-05-11 16:50] medigeek opened #8933 "Feedback on page: /guides/v2.4/install-gde/prereq/php-settings.html -- M2 requires ext-fileinfo"
# General issue

## Description:

m2 requires ext-fileinfo
if you don't install it, the media file manager/uploader doesn't work and throws the error
"A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."

## Possible solutions:

add to the docs the ext-fileinfo dependency.

## Additional information:

https://co

[2021-05-12 14:41] hguthrie commented on #2427
@Santoshziffity  Are you still working on this?

[2021-05-12 14:48] hguthrie commented on #1763
Closing because the [split DB feature has been deprecated for 2.4.2](https://devdocs.magento.com/guides/v2.4/config-guide/multi-master/multi-master.html)

[2021-05-12 14:48] #1763 closed

[2021-05-12 14:54] hguthrie commented on #7260
@sathiyaaa Are you still working on this?

[2021-05-12 14:54] erikmarr commented on #8664
@Santoshziffity Are you still working on this?

[2021-05-12 14:55] erikmarr commented on #7093
@Santoshziffity Are you still working on this?

[2021-05-12 14:55] erikmarr commented on #2796
@Santoshziffity Are you still working on this?

[2021-05-12 14:55] erikmarr commented on #2609
@Santoshziffity Are you still working on this?

[2021-05-12 19:58] #8924 closed

[2021-05-12 20:06] jeff-matthews commented on #8924
@deezznutz, the videos are no longer marked as private.

[2021-05-12 22:50] JAADOBE opened #8939 "Merchant Feedback"
# Bug report
This merchant outlines what they believe to be Documentation issues with the links listed in the comment:

"Here's what is missing / wrong:
**SSH tunnel**
The documentation describes that for Staging and Production in the Pro plan, a single SSH tunnel must be set up using the cluster name in the target hostname (s. https://devdocs.magento.com/cloud/howtos/debug.html#pro-debug). This i

[2021-05-13 21:19] erikmarr commented on #8682
Agree this does look fixed, but I couldn't find an associated PR. @Santoshziffity were you able to fix this?

[2021-05-14 21:01] EvheniiaKolkhiieva commented on #8928
@magento I am working on this

[2021-05-16 21:11] KrisShannon opened #8941 "Update ulimit terminology"
# General issue

Affected topic: /guides/v2.4/comp-mgr/prereq/prereq_compman-ulimit.html

## Description:

The page talks about `ulimit` as though it is only the open files limit.  There are many legitimate reasons for needing the other user limits increased and presenting this file open limit as **_the_** `ulimit` will create confusion when developers reading this documentation are interacting wi

[2021-05-17 14:33] rajesh-mage opened #8942 "Add or Update validation rules into the checkout address form fields."
# New topic request

## Description

The Customize Checkout section has lots of topics to discuss the customization of checkout functionality. PFA.

![checkout](https://user-images.githubusercontent.com/82952634/118499627-bf4bb100-b744-11eb-8c14-ca61ad63d29d.png)

But there is no information about change or update checkout address field validation rule.

This topic refers to add or update the vali

[2021-05-17 20:27] jeff-matthews commented on #8912
Confirmed with Product Management. We should add the minor versions that we tested with for each release.

[2021-05-18 06:20] rajesh-mage opened #8945 "Create UiGrid component At Front End"
# New topic request

## Description

We have the option to create a UiGrid component at the Frontend. Could we add a new topic to create the UiGrid component at Front End?

For Example:
The following topic discusses the UiGrid component create at Back End(Admin Side).
https://devdocs.magento.com/guides/v2.4/extension-dev-guide/admin-grid.html

[2021-05-18 13:29] rajesh-mage commented on #8665
@magento I am working on this

[2021-05-18 14:53] damienwebdev opened #8946 "Add details about urlResolver redirectCode"
# General issue

Affected page: /guides/v2.4/graphql/queries/url-resolver.html

## Description:

There is no information on what the `type` field returns when the `redirectCode` is non-zero.

## Possible solutions:

Document it.

## Additional information:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/UrlRewriteGraphQl/Model/Resolver/AbstractEntityUrl.php#L131

[2021-05-18 14:53] damienwebdev commented on #8946
cc: @cpartica

[2021-05-18 15:11] Techbrunch opened #8947 "Is anonymous API info out of date?"
# General issue
Affected page:  /guides/v2.4/rest/anonymous-api-security.html

## Description:

Does this also affect the GraphQL API ?

## Possible solutions:

If this setting does not affect the GraphQL API then I think it should be specified on this page.

A new setting should probably added to protect similar endpoint in the GraphQL API.

If the setting also affect the GraphQL API which would

[2021-05-19 06:35] webkul-ajaysaini opened #8948 "Right navigation display problems on System Requirements page"
# General issue
Layout issue: https://prnt.sc/133v685
## Description:

## Possible solutions:

## Additional information:

[2021-05-19 13:14] rajesh-mage opened #8951 "List of all validation rules and examples for custom form"
# New topic request

## Description

Add all the list of validation rules and examples for the Form Validation section.

The Form validation section already has some topics about Custom Validation Rules and Form Validation. PFA.

![validation-rules](https://user-images.githubusercontent.com/82952634/118817853-4f1e6600-b8d1-11eb-902a-9d5612cc583a.png)

In this issue, I requested to add a new topic

[2021-05-19 18:44] ccondra commented on #8948
@bdenham @jeff-matthews   -- What do you think is the best way to address this?

[2021-05-19 18:44] dobooth commented on #8947
@keharper

[2021-05-19 18:45] keharper commented on #8947
I'll take a look

[2021-05-19 18:48] dobooth commented on #8942
Hi @rajesh-mage. What does PFA stand for? We are curious.

[2021-05-19 18:58] dobooth commented on #8939
@hguthrie @bdenham Some good fodder here.

[2021-05-19 18:58] ccondra commented on #4450
Please see the [Security Center](https://magento.com/security) for up-to-date best practices.

[2021-05-19 18:59] #4450 closed

[2021-05-19 19:10] jeff-matthews commented on #8948
Yeah, that happens for any page that contains a large table. It only seems to happen at specific screen widths (between 1201 and 1470 pixels). I'm sure there's a CSS fix for it, but it's a very low priority. The update would need to be made in the theme: https://github.com/magento-devdocs/devdocs-theme.

[2021-05-19 19:46] keharper commented on #8946
@damienwebdev The description on that page states

Contains 0 when there is no redirect error. A value of 301 indicates the URL of the requested resource has been changed permanently, while a value of 302 indicates a temporary redirect

Are you looking for additional information?

This query will be deprecated in 2.4.3, in favor of the `routes` query. The text for the equivalent field, `redirect_c

[2021-05-19 19:50] keharper commented on #8946
Ack. I misread the request. The description for both versions of `type` is One of PRODUCT, CATEGORY, or CMS_PAGE. I'll update both places when I get more details.

[2021-05-19 20:15] damienwebdev commented on #8946
@keharper sorry, my docs request was vague.

The issue at hand is what is the value of `type` when the `redirectCode` is non-zero.

Is the `type` the `type` of the **original** url or is it the type of the url you're being redirected to?

In the `zero` case, and in the route-not-found case, this is obvious, but no so much in a redirect case.

[2021-05-19 23:33] WinstonN commented on #1041
Thank you Magento for ignoring someone as great in the community as @astorm
Thank you for closing tickets like these with no clear improvement on quality. Here I am today, on this very same issue.

[2021-05-20 02:35] rajesh-mage commented on #8942
PFA stands for - Please Find the Attachment

[2021-05-20 02:36] rajesh-mage commented on #8951
@magento I am working on this

[2021-05-20 02:36] rajesh-mage commented on #8942
@magento I am working on this

[2021-05-20 02:37] rajesh-mage commented on #8945
@magento I am working on this

[2021-05-20 09:07] EvheniiaKolkhiieva commented on #8941
@magento I am working on this

[2021-05-20 09:09] EvheniiaKolkhiieva commented on #8891
@magento I am working on this

[2021-05-20 13:50] #8665 closed

[2021-05-20 15:00] #8891 closed

[2021-05-24 14:13] nidheesh-thooleri opened #8960 "How to integrate React component in a Magento page"
# New topic request

## Description
Step to Configure React component in a Magento page.

In some situations, it will be a good feature to integrate the react component in some part of the Magento pages, for example, the Live Order status tracking progress bar in the Order details page.

So by using a base module with webpack configuration we can integrate a component in
Magento. This Base module

[2021-05-26 09:57] shunmugakumaran opened #8965 "Reorder customize checkout field"
# New topic request

## Description

In Customize Checkout documentation we have a list of available customizations PFA

![Reorder Checkout](https://user-images.githubusercontent.com/84446887/119640431-3adcea80-be36-11eb-8fba-bc9792cf4c93.png)

In this issue, I requested to add a new topic to discuss the reorder checkout input fields with examples.

[2021-05-26 10:07] #8965 closed

[2021-05-26 10:08] shunmugakumaran opened #8966 "Reorder Checkout Fields"
# New topic request

## Description

In Customize Checkout documentation we have a list of available customizations PFA

![Reorder Checkout](https://user-images.githubusercontent.com/84446887/119642498-69f45b80-be38-11eb-83c7-34fc1844c8b7.png)

In this issue, I requested to add a new topic to discuss the reorder checkout input fields with examples,
**Sometimes depending on the country, the order o

[2021-05-26 10:21] shunmugakumaran opened #8968 "Create the bundle product using REST API"
# New topic request

## Description

In the rest tutorials documentation, there is no example to create a bundle product using the rest API

![Create bundle pr](https://user-images.githubusercontent.com/84446887/119644096-213da200-be3a-11eb-8f17-9f9c211f0600.png)

So I requested to add a new topic to discuss the bundle product creation using rest API with examples.

[2021-05-26 17:10] #8941 closed

[2021-05-26 18:12] EvheniiaKolkhiieva commented on #8968
@magento I am working on this

[2021-05-26 18:18] shunmugakumaran commented on #8966
@magento I am working on this

[2021-05-27 07:47] shunmugakumaran commented on #8968
@magento i am working on this

[2021-05-27 08:11] srsathish92 commented on #8052
@dobooth @hguthrie Any update on this?

[2021-05-27 13:52] hguthrie commented on #8052
This issue is being evaluated internally to prepare the appropriate documentation. If this is NOT a typical or generic task, then this scenario will be forwarded to the KB team for a new article. Will update the issue once that is determined. Thanks for the reminder!

[2021-05-27 18:53] jcalcaben commented on #8960
Hi @nidheesh-thooleri have you looked into PWA Studio? http://pwastudio.io/

It lets you build a React-based storefront on top of a Magento backend.

[2021-05-27 19:54] keharper commented on #8968
@shunmugakumaran Did you open this issue with the expectation of creating the PR to fix the issue. @EvheniiaKolkhiieva claimed the issue a few hours after you opened it.

[2021-05-28 05:42] shunmugakumaran commented on #8968
@keharper Yes to fix this issue I have opened & I am looking for the status to change from grooming but it has been assigned to @EvheniiaKolkhiieva and then the label has been charged to dev in progress

[2021-05-28 06:29] EvheniiaKolkhiieva commented on #8968
Hi @shunmugakumaran , the "dev in progress" is a correct label in case someone is working on fixing the problem. Please clarify if you want to create a topic on your own about creating the bundle product using REST API?
 If yes - I will unassigned myself, that you finish this; If not, I will soon create a new topic required in the scope of this task
Thank you! 😊

[2021-05-28 06:50] shunmugakumaran commented on #8968
Yes, I am already working on it..! @EvheniiaKolkhiieva :)

[2021-05-28 06:53] EvheniiaKolkhiieva commented on #8968
Got it, thank you @shunmugakumaran :)

[2021-05-30 13:07] threed-factory-store opened #8976 "Add full paths to routes files"
# General issue

The "Example of routing usage" section needs to include the path and filename for all of the example files.

Affected page: /guides/v2.4/extension-dev-guide/routing.html

## Description:

As a new Magento developer, I already find it almost impossible to debug routing issues.  This is one of the few examples that shows mixed case Module and Vendor names, but it doesn't show the co

[2021-05-31 00:24] henriquekieckbusch opened #8977 "Small error on Url Library page"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/framework/url-library.html

## Description

The Title " Declare SerializerInterface as a constructor dependency to get an instance of a serializer class. "
was copied from the "Serialize page". It doesn't work here.

## Possible solutions

Change it to:
"Declare DecoderInterface and

[2021-05-31 00:34] henriquekieckbusch commented on #8977
@magento I am working on this

[2021-05-31 10:37] nidheesh-thooleri commented on #8960
@jcalcaben So it won't be a valuable one I guess too, It is better to close the ticket correct?

[2021-06-01 13:30] #8666 closed

[2021-06-01 13:30] #8928 closed

[2021-06-02 16:13] jajajaime opened #8981 "Block's name is required when attempting to make the block non-cacheable"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_block

## Description

The documentation states that a block's name attribute is recommended, otherwise it is given a random name. It also states that a name is not required.
The issue comes when a block is marked as cacheable=

[2021-06-02 17:04] dobooth commented on #8933
Thanks for the issue. We list PHP that are strictly required by a default Magento instance. We programmatically pull them from the `composer.yml` file. It would be very difficult to list in devdocs all the extension requirements beyond the default. See https://github.com/magento/devdocs/issues/7960 for a discussion about the issue. But if the list is incorrect, we can make changes as needed.

[2021-06-02 17:04] #8933 closed

[2021-06-02 19:56] #8565 closed

[2021-06-02 19:56] #8903 closed

[2021-06-03 14:16] gsa83 opened #8985 "MAGE_INDEXER_THREADS_COUNT"
# New topic request
there is no article about how to set MAGE_INDEXER_THREADS_COUNT and what are the best practices

## Description

## Content checklist

-  [ ] The topic provides an explanation of how ____ works.
-  [ ] The topic provides steps for ____.
-  [ ] The topic contains code samples that shows ____.
-  [ ] Other (please specify)

## Additional information/resources

[2021-06-03 16:35] shunmugakumaran opened #8986 "Tutorial for updating the product image by SKU using rest API"
# New topic request

## Description

In the rest tutorials documentation, there is no example to update a product image using the rest API by SKU

We can add a new tutorial under the rest tutorials with example

[2021-06-04 14:50] #8224 closed

[2021-06-07 07:16] Eddcapone commented on #8802
I don't have the time to try it out at the moment unfortunatelly. I will report back asap. Thx!

[2021-06-07 07:25] Eddcapone opened #8989 "There is no information on how to disable or override a mixin"
# General issue

## Description:

Feedback on page: /guides/v2.4/javascript-dev-guide/javascript/js_mixins.html

I need to disable a third party mixin and replace it with my own. But there are no informations on how to disable a mixin and it seems to be impossible to replace it with another one.

Please add more informations to the documentation about this mather.

## Possible solutions:

## Addit

[2021-06-08 10:37] DenisSaltanahmedov commented on #8906
@magento I am working on this

[2021-06-09 18:54] dobooth commented on #8985
https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-envphp.html

[2021-06-10 07:44] DenisSaltanahmedov commented on #8906
Hi, @shrielenee @dobooth I can not reproduce the issue. It seems the author of the issue had some problem with reindexing. I think we can close the issue.

[2021-06-10 08:28] DenisSaltanahmedov commented on #8989
@magento I am working on this

[2021-06-11 14:59] jeff-matthews commented on #8912
@robolmos, I just merged a PR that adds minor versions for most major system requirements. It will be published within the hour.

I was unable to locate versions for some of the earlier 2.3.x releases, but I got as close as I could with the limited resources that are available. I'm going to close this issue, but please feel free to open a new one if you have more info to share.

[2021-06-11 14:59] #8912 closed

[2021-06-11 20:44] pixelskyales opened #9000 "Feedback on page: /guides/v2.4/release-notes/release-notes-2-4-0-open-source.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-06-11 20:45] #9000 closed

[2021-06-14 15:55] shaneherman opened #9005 "Additional resources for Fastly timeout modification"
# General issue
There are additional details that can be helpful for customers to modify Fastly Timeout parameters for customers receiving 503's beyond just modifying Admin timeout.

https://devdocs.magento.com/cloud/cdn/trouble-fastly.html#errors

Please consider linking pointing them to the below

https://github.com/fastly/fastly-magento2/blob/master/Documentation/Guides/Edge-Modules/EDGE-MODULE

[2021-06-16 08:06] DenisSaltanahmedov commented on #8976
@magento I am working on this

[2021-06-16 08:37] surajraikwar opened #9006 "Wrong .lib-font-face parameters in _typography.less"
When I put
.lib-font-face(
    @family-name: 'ClearSans',
    @font-path: "@{baseDir}fonts/ClearSans",
    @font-format: 'ttf',
    @font-type: 'truetype'
);

I get errors that font-format and font-type is not valid

## Possible solutions:
Remove @font-type and @font-format from doc

[2021-06-17 18:39] dobooth commented on #9006
@surajraikwar Is this referenced in a devdocs topic? Where are you seeing this?

[2021-06-17 18:43] dobooth commented on #8960
Closing.

[2021-06-17 18:43] #8960 closed

[2021-06-17 20:30] #8976 closed

[2021-06-18 10:29] mrtuvn commented on #9006
Can you add more screenshot or steps to reproduce
![Screenshot from 2021-06-18 17-28-41](https://user-images.githubusercontent.com/1908873/122547713-a8a5bc00-d05a-11eb-853c-933ab5ba6725.png)

[2021-06-18 10:36] mrtuvn commented on #9006
![Screenshot from 2021-06-18 17-36-03](https://user-images.githubusercontent.com/1908873/122548533-ae4fd180-d05b-11eb-9d14-20d76aa1fef1.png)

[2021-06-21 12:21] shunmugakumaran commented on #8986
@magento I am working on this

[2021-06-21 12:39] shunmugakumaran opened #9011 "crud eav attribute sets using rest api services"
# New topic request

## Description

- To read the attribute sets list.
- To read the single attribute sets list by :attributeSetId
- To create the attribute sets.
- To update the single attribute sets list by :attributeSetId
- To delete the single attribute sets list by :attributeSetId

![manage-attribute-sets](https://user-images.githubusercontent.com/84446887/122763208-b443ed80-d2bb-11eb-8e18-9

[2021-06-21 16:04] Eddcapone opened #9013 "How to add adminhtml theme to grunt config?"
# General issue

## Description:

Feedback on page: /guides/v2.4/frontend-dev-guide/themes/admin_theme_create.html

There is no information on how to add our custom adminhtml theme to the grunt configuration file **dev\tools\grunt\configs\local-themes.js**

[2021-06-21 22:23] shaneherman opened #9014 "Clarify guidelines on maximum websites and stores customers can configure on cloud"
# General issue

## Description:

https://devdocs.magento.com/cloud/project/project-multi-sites.html

Customers are abusing the Cloud limits for Configurable Websites which cause us to incur cost and can impact overall performance.

Example - Support Ticket:

https://magento.zendesk.com/agent/tickets/401192
This customer has 86 Domains in staging and 184 in Prod.

Our Internal Performance Document

[2021-06-22 18:54] hguthrie commented on #9014
Interesting. Thanks for pointing this out! I am making some inquiries.

[2021-06-23 14:10] #8989 closed

[2021-06-23 14:41] erikmarr commented on #9013
@Eddcapone did you see this topic?
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-topics/css_debug.html#add_theme

[2021-06-24 06:47] ihor-sviziev commented on #8561
Hi @hostep,
It seems like this issue already fixed by https://github.com/magento/devdocs/pull/8765.

[2021-06-24 07:06] 18229957429 opened #9017 "Use the rest/default/V1/products interface to create product issues"
Create a configurable product through the rest/default/V1/products interface, but the image creation fails. Is there an example of a request body with a picture?

[2021-06-24 07:50] 18229957429 commented on #9017
"content": {
      "base64_encoded_data": "string",
      "type": "string",
      "name": "string"
    }

 How to fill in this field

[2021-06-24 08:05] BarnyShergold commented on #9014
But there websites where the client is legit using more than 50+ stores. I know a client with 1 domain but over 56 storeviews.

I was informed elsewhere that you are allowed 15 as 'default' then are supposed to pay a small licence increase for "packs of 10" but this is done on the honour system in that there is no actual way to check except by "audit"?

Perhaps a clearer guide on fair use and what

[2021-06-24 12:16] hostep commented on #8561
Ah right, I thought this issue was going to get auto-closed by that PR, but that didn't happen apparently.

Let me manually close it then.

Thank you again @chandru-199! 🙂

[2021-06-24 12:16] #8561 closed

[2021-06-24 13:58] Eddcapone commented on #9013
@erikmarr, Yes, and I don't get it to work. This is my config so far:

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

'use strict';

/**
 * Define Themes
 *
 * area: area, one of (frontend|adminhtml|doc),
 * name: theme name in format Vendor/theme-name,
 * locale: locale,
 * files: [
 * 'css/styles-m',
 * 'css/styles-l'
 * ],
 * dsl: dynamic styl

[2021-06-24 21:08] keharper commented on #8561
Thanks @hostep The PR description didn't include a phrase like `fixes <issue num>`.

[2021-06-25 16:58] hguthrie opened #9020 "Update enable Xdebug note"
# Topic clarification/correction request

https://devdocs.magento.com/cloud/howtos/debug.html#enable

Per Slack:

and

## Possible solutions

Review the [Cloud guide xdebug topic](https://devdocs.magento.com/cloud/howtos/debug.html) and remove calls to log a ticket for this scenario. Check other parts of Cloud guide, like include files for this note, too.

- [ ] Verify Xdebug is enabled in Cloud i

[2021-06-27 13:36] ajithkumar-maragathavel commented on #6317
@magento I am working on this

[2021-06-28 07:27] #9017 closed

[2021-06-29 13:40] #8927 closed

[2021-06-29 18:13] sivaschenko opened #9027 "Would be good to visualize Magento versions release dates and EOL"
# New feature request

## Description

Would be great to add some visualization of Magento versions release dates and EOL to https://devdocs.magento.com/release/released-versions.html page similar to https://www.php.net/supported-versions.php

![image](https://user-images.githubusercontent.com/2028541/123847177-2ea0ed00-d90e-11eb-8bf1-473a952c741d.png)

## Expected result

A diagram similar to the

[2021-06-30 10:13] xxorax opened #9029 "System requirements page suggest to install everything"
# Bug report

## Description

The requirement page should list the minimal requirements to run Magento 2, instead of, the first paragraph (under *System requirements* show the versions compatibilities table of all the software Magento **could** use.

### Steps to reproduce

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

## Expected result

Got the list of the **minim

[2021-06-30 16:59] hguthrie commented on #9014
I am marking this waiting for response because I have some questions to internal person and waiting to get the info and set aside some time to fix this.

[2021-06-30 18:40] dobooth commented on #9029
We have gone over this table many times and we can only really recommend versions that were specifically tested for the release. We are reluctant to make changes to this format.

[2021-06-30 18:40] #9029 closed

[2021-06-30 18:43] dobooth commented on #9027
@dshevtsov What do you think about this? I know you mentioned a lack of end-of-support dates...

[2021-06-30 18:49] dobooth commented on #9013
@BarnyShergold Any thoughts around this?

[2021-06-30 18:51] keharper commented on #9011
@shunmugakumaran Which REST endpoints do you want described in detail?

[2021-06-30 18:55] shunmugakumaran commented on #9011
pls find the rest endpoints below here

**GET    /V1/eav/attribute-sets/list
GET    /V1/eav/attribute-sets/:attributeSetId
DELETE /V1/eav/attribute-sets/:attributeSetId
POST   /V1/eav/attribute-sets
PUT    /V1/eav/attribute-sets/:attributeSetId**

[2021-06-30 20:09] dshevtsov commented on #9027
@dobooth, thank you for letting me know. Yes, lack of certainty regarding end-of-support dates makes visualization design challenging.

@bdenham, @jcalcaben, @belbiy, do we have support for such visualization on the website?

[2021-06-30 21:47] xxorax commented on #9029
I don't mean this table need to be changed, but surely it needs to be moved somewhere else than at the top of the *System requirements* paragraph (where this table is not, it's a software compatibility table) and whereas the [Miscaleous](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#miscellaneous) paragraph actually try to define the minimum system requirement...

An

[2021-07-01 00:25] belbiy commented on #9027
No, we would have to either:

1.  Use some kind of data visualization widget like https://developers.google.com/chart/interactive/docs/gallery/timeline
2. Or generate SVG on the build time, i believe it's what php.net is doing.

I dont have enough SVG knowledge and cant help with 2, but i think it would be relatively easy to pick some kind of data visualization library that we can use to generate

[2021-07-01 21:51] hguthrie opened #9032 "Missing content"
# General issue

## Description:

There is a procedure heading to "prepare code or branch", but there is no procedure. Looks like the problem may be linked to an include file.

https://devdocs.magento.com/cloud/live/live-sanity-check.html#push

## Possible solutions:

Investigate what is missing and whether the content still exists somewhere in the Cloud assets.
May need to write a fresh procedure

[2021-07-02 19:32] hguthrie opened #9034 "Update debug notices for logging a ticket"
# General issue

## Description:

Per Slack:

## Possible solutions:

Review the [Cloud guide xdebug topic](https://devdocs.magento.com/cloud/howtos/debug.html) and remove calls to log a ticket for this scenario. Check other parts of Cloud guide, like include files for this note, too.

[2021-07-03 18:33] rustavellyne opened #9037 "Feedback on page: /guides/v2.4/frontend-dev-guide/layouts/layout-create.html"
# Can i declare block inside page layout xml?
Documentation said that page layouts can include only containers but in example we see that block also can be icnluded or it just a mistake?
## Description:

[quote from documentation](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/layout-types.html)

but in [example](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layout

[2021-07-06 18:39] drpayyne opened #9041 "GitHub action to build PR as a site and serve temporarily for reviewing"
# New feature request

## Description

We should probably have a GitHub action to build PR sites triggered manually by a reviewer comment like `@magento build site` and a jekyll build should be run async and subsequently comment the public URL which would be valid for an or so.

## Expected result

- Comment a key phrase (manual triggering of build if and when required)
- Check if comment was by r

[2021-07-07 09:47] xxorax commented on #9029
By the way, this requirement page also mention releases that does not exists... :foggy:

[2021-07-07 12:29] EvheniiaKolkhiieva opened #9042 "Fix the instruction for creating the mixins for payment and shipping steps"
# Bug report

## Description
When adding the code, which is described in the instructions for creating a mixin, the actual result is that 2 steps on the checkout are active at once (see screenshot), that is, the code actually causes an error.
![image](https://user-images.githubusercontent.com/78729171/124758601-67a51700-df37-11eb-8ffd-d51e666742f1.png)
![image](https://user-images.githubuserconten

[2021-07-07 12:29] EvheniiaKolkhiieva commented on #9042
@magento I am working on this

[2021-07-08 10:22] shunmugakumaran commented on #9011
@keharper above endpoints we can describe in details..!

[2021-07-08 20:10] medigeek commented on #7960
we need to list ext-fileinfo
explained previously in https://github.com/magento/devdocs/issues/8933

[2021-07-09 07:32] hostep commented on #8933
Hi @medigeek, I think I know what issue you are talking about (https://github.com/magento/magento2/issues/16531 or https://github.com/magento/magento2/issues/24332), but that issue has been solved since Magento 2.4.2 by this PR: https://github.com/magento/magento2/pull/29671

That `fileinfo` extension was indeed missing from `composer.json` files and was a hidden/undeclared dependency, but that ha

[2021-07-09 08:46] medigeek commented on #8933
Awesome thanks for the explanation Pieter! 👍👍

[2021-07-11 10:19] medigeek opened #9046 "Compatibility concerns with Varnish 6.4"
# General issue

Topic: https://devdocs.magento.com/guides/v2.4/config-guide/varnish/config-varnish-configure.html

## Description:

The file /etc/varnish/varnish.params is missing / not found on CentOS 7 with newer versions of varnish 6.x

According to the [official "what's new" document of varnish](https://varnish-cache.org/docs/trunk/whats-new/upgrading-6.0.html#services):

## Possible solution

[2021-07-12 14:09] engcom-November opened #9047 "No more "Add Block Names to Hints". User docs should be updated"
# Topic clarification/correction request
Remove "Add Block Names to Hints" and add "Add Block Class Type to hints" where ever required in the docs.
## Topic Link
https://docs.magento.com/user-guide/configuration/advanced/developer.html
https://docs.magento.com/user-guide/system/template-path-hints.html

## Description
Admin -> Stores -> Configuration -> Advanced -> Developer -> Debug section -> "A

[2021-07-12 14:20] hguthrie commented on #9047
@engcom-November  This issue belongs in the Commerce User Guide ( https://github.com/magento/merchdocs ) repo. You can click "Log an Issue" at the top of the topic to log an issue in that repo.

[2021-07-12 14:34] engcom-November commented on #9047
@hguthrie Thanks for the clarification. Created below issue under [merchdocs](https://github.com/magento/merchdocs) repo.
https://github.com/magento/merchdocs/issues/1381

[2021-07-12 14:39] hguthrie commented on #9047
Great! thanks @engcom-November  I'll close this issue.

[2021-07-12 14:39] #9047 closed

[2021-07-13 07:50] arnopp opened #9049 "Feedback on page: /guides/v2.4/javascript-dev-guide/widgets/widget_alert.html"
# General issue

## Description:

The requirejs dependency list in "Example2: standalone initialization" is missing a comma after 'Magento_Ui/js/modal/alert'

## Possible solutions:

Add a comma after 'Magento_Ui/js/modal/alert' in "Example2: standalone initialization"

[2021-07-13 11:10] DenisSaltanahmedov commented on #9049
@magento I am working on this

[2021-07-14 06:56] DenisSaltanahmedov commented on #9037
@magento I am working on this

[2021-07-14 14:53] hguthrie commented on #9046
Thanks for taking the time to let us know about this. We are looking into your solution.

[2021-07-14 15:20] hguthrie commented on #9032
Include file verified and extra heading removed. Changes coming in a future PR.

[2021-07-14 21:22] dshevtsov commented on #7960
@medigeek, per https://github.com/magento/devdocs/issues/8933#issuecomment-876980045, the dependency is not required since the 2.4.2 version.

[2021-07-15 14:06] hostep commented on #8682
@Eddcapone: you can run the command without a database if the necessary config data exists in your `app/etc/config.php` file. Please first try to execute `bin/magento app:config:dump scopes themes` on your dev system (where you do have a database connection), and then try it again.

If this fixes your issue, maybe this hint can be added to the documentation page?

[2021-07-16 13:40] #9037 closed

[2021-07-16 13:40] #9049 closed

[2021-07-16 14:34] denchev opened #9052 "Modify cart query example"
# General issue
None existing field is passed to cart query

## Description:

In the example cart query is requested a field called "pickup_location_code" that doesn't exist. When I run the query agains Magento 2.4.2 version I get the following error:

`{
  "errors": [
    {
      "message": "Cannot query field \"pickup_location_code\" on type \"ShippingCartAddress\".",
      "extensions": {

[2021-07-16 22:40] ak77-prime opened #9053 "Feedback on page: /guides/v2.4/rest/asynchronous-web-endpoints.html"
# General issue

## Description:

The link here is not valid:

The [REST API documentation](https://devdocs.magento.com/redoc/2.4/) provides a list of all current synchronous Magento API routes.

## Possible solutions:

https://magento.redoc.ly/

## Additional information:

[2021-07-19 16:27] dobooth commented on #9006
Closing for lack of details.

[2021-07-19 16:27] #9006 closed

[2021-07-20 08:26] ZhovnirMaria commented on #9053
@magento I am working on this

[2021-07-20 21:06] #9053 closed

[2021-07-21 05:34] shunmugakumaran commented on #9011
@magento I am working on this

[2021-07-21 10:33] mts527 opened #9058 "More details needed in the Add a New Field topic"
# Topic clarification/correction request

## Topic Link

https://github.com/magento/devdocs/blob/master/src/guides/v2.4/howdoi/checkout/checkout_new_field.md

## Description

It should provide all the steps to save the field value. For example in the `customer_address_entity`, `order_address` and `quote_address` tables. And possibly how to retrieve them later in the customer account section when e

[2021-07-21 17:34] silviaball opened #9059 "Create a new layout example doesn't work as expected"
# General issue

Affected page:
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/layout-create.html

## Description:

I replicated the code exactly as you wrote. The layout in the drop-down appears in the backend. But no footer tag with "page-footer-bottom" class is displayed in the frontend

## Possible solutions:

## Additional information:

[2021-07-21 18:35] keharper commented on #9052
I agree with this. `pickup_location_code` can be removed from the example.

[2021-07-21 18:56] dobooth commented on #9027
Looks like we can't really pull this off without EOL dates. Closing until we have another solution.

[2021-07-21 18:56] #9027 closed

[2021-07-23 06:21] DenisSaltanahmedov commented on #9059
@magento I am working on this

[2021-07-26 22:12] novikor opened #9062 "Fix Cloud Pro integration branch description"
# General issue

## Description:

A number of PaaS containers for Cloud Pro is confusing.

https://devdocs.magento.com/cloud/architecture/pro-architecture.html:

This allows for up to **two active** branches deployed to Platform-as-a-Service (PaaS) containers.

https://devdocs.magento.com/cloud/architecture/pro-develop-deploy-workflow.html#develop:

https://magento-u.magento.com/magento-u/Free-Int

[2021-07-27 08:41] BarnyShergold commented on #9062
@novikor - Actually the correct number is 2. A while back it was reduce from 5 to 2 to give the 2 active branches 4x the resources the environments had when you could have 5.

So it's actually the "pro-develop-deploy-workflow.html" page that needs updating as well as the Magento U.

@dobooth - we can correct the devdocs, but how do we correct https://magento-u.magento.com/magento-u/Free-Intro-to-M

[2021-07-27 10:57] meker12 commented on #9062
That's correct. I have a PR to submit the fix today.

[2021-07-27 16:24] #9042 closed

[2021-07-27 16:25] #9059 closed

[2021-07-27 18:23] amarroni opened #9064 "Broken link in Cloud docker web container section"
# General issue

Feedback on https://devdocs.magento.com/cloud/docker/docker-containers-service.html#web-container

configurations files like doesn't exist anymore.

## Description:
Reviewing the information how to customize NGINX configuration files. under the step 2 you should copy some files to a custom folder.
Template files link doesn't exist. Show a 404 page not found under github.

## Possi

[2021-07-27 19:03] hguthrie commented on #9064
Thanks for letting us know. Looks like there is a typo in the URL. Should point to:
https://github.com/magento/magento-cloud-docker/tree/develop/images/nginx/1.19/etc

[2021-07-27 19:14] amarroni commented on #9064
Hi @hguthrie cool! anytime!
I can create a commit if you want.

Best,
Alejandro.

[2021-07-27 19:15] hguthrie commented on #9064
Yeah! That would be great @amarroni

[2021-07-27 19:39] amarroni commented on #9064
@hguthrie I created the PR #9065

[2021-07-28 11:09] f1-outsourcing opened #9067 "add information on elasticsearch configuration, eg what user/node roles are required."
None of these pages[1] write anything about creating the magento user in elasticsearch. I mean users created at this endpoint and what roles it should have[2]. Also there is nothing written about what node roles[3] are expected to be available.

[1]
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/es-config-apa

[2021-07-28 19:55] #6317 closed

[2021-07-29 13:44] dshevtsov commented on #4451
Seemed like an unintentional closure via a closing keyword.

[2021-07-29 17:10] dobooth commented on #8948
Going to close this. As Jeff said, only happens for a narrow range of widths.

[2021-07-29 17:10] #8948 closed

[2021-07-29 18:46] #8107 closed

[2021-07-29 18:54] dobooth commented on #7587
Sorry for the delay, @goivvy. If you still have it, we would love to see a PR with what you have so far.

[2021-07-29 18:58] shrielenee commented on #8777
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

If you believe that the reported problem needs further review, please open a new issue

[2021-07-29 18:58] #8777 closed

[2021-07-29 18:59] dobooth commented on #8845
@sivaschenko Any updates around this?

[2021-07-29 19:19] #9064 closed

[2021-07-30 14:20] hguthrie commented on #9062
Magento U owns that content. We will have to do a little reconnoitering to find their process.

[2021-07-30 14:32] meker12 commented on #9062
Update completed and published - [commit](https://github.com/magento/devdocs/commit/d06726585d42e9f47b9a11584ec26a0d77c3187b) and updated in [Cloud Guide](https://devdocs.magento.com/cloud/architecture/pro-develop-deploy-workflow.html).

[2021-08-02 11:34] LeanderFS opened #9072 "Display is not a valid attribute on a XML block element"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_block

## Description

The documentation on this page states that the attribute `display` can be used to control the visibility of a block element. Upon trying to use this attribute an exception is thrown.

`Element 'block', at

[2021-08-03 15:54] sivaschenko commented on #9027
@dobooth we do have end-of-support dates for Major releases in the json https://github.com/magento/devdocs/blob/master/src/_data/core-releases.json

[2021-08-04 13:35] hguthrie commented on #8664
Due to no response, I am removing the assignee to allow someone else an opportunity to work on this issue.

[2021-08-04 14:39] hguthrie commented on #9072
Thanks for pointing this out. We will research.

[2021-08-04 14:44] danidelcar commented on #8587
Hi @thomas-kl1 do you think we could close this issue?, was it just a typo then?. Thanks!

[2021-08-04 14:46] danidelcar commented on #9013
Hi @BarnyShergold did you get to clarify @Eddcapone doubts about this issue?, thanks!

[2021-08-04 17:34] dshevtsov commented on #7960
Internal ticket: DOC-362

[2021-08-04 17:41] dshevtsov commented on #9041
That would be a nice feature, but our team doesn't have sufficient resources for this kind of automation unfortunately.

[2021-08-04 17:41] #9041 closed

[2021-08-04 18:16] #9062 closed

[2021-08-04 18:38] dshevtsov commented on #7960
I'm going to use the following logic for the suggested scenario:
[code]

[2021-08-04 19:01] thomas-kl1 commented on #8587
Hi @danidelcar it doesn't seems that the feature has been documented in the Magento Devdoc, so the issue should remain open.

[2021-08-04 19:57] hguthrie commented on #9072
Display was added in #6477
In that ticket, they reference the location in the code. Can you verify this does not work? Perhaps this is not a Docs issue?

[2021-08-05 06:02] yogicse opened #9076 "Unsupported Version While Running the devdocs at local via docker setup"
# Unsupported Version 3.7 While Running the devdocs at local via docker setup

## Description

After Followed the detail step from https://github.com/magento/devdocs/wiki/Build-DevDocs-with-Docker
getting Error

### Steps to reproduce

1. Setup the Docker
1. Clone the Devdoc Repository at local machine
1. Navigate to devdocs and run command docker-compose up
1. Found Error as below
[code]

## Expe

[2021-08-05 06:08] yogicse commented on #9076
@magento I am working on this

[2021-08-05 06:27] nitish-ranjan05 commented on #9058
@magento I am working on this

[2021-08-05 11:08] LeanderFS commented on #9072
I will double check this and get back to you @hguthrie

[2021-08-05 13:26] sivaschenko commented on #8845
@dobooth not updates as of now, unfortunately. Do you have a suggestion of the place where this information can be added?

[2021-08-05 16:59] padisah opened #9080 "looking for a downloadable open api schema"
# General issue
do not found a free downloadable schema, but face authentication requirement for a specific installation
## Description:
I would generate Java classes from Magento Rest API's responses, but I need a json format openapi schema for that.

Magento documentation doesn't provide it as a general, free resource. I got an url, for a specific installation:
doc: https://devdocs.magento.com/g

[2021-08-05 19:10] hostep commented on #8845
@sivaschenko: maybe you can already explain a little bit what these commands are used for, so we can find the correct page in devdocs where it can be added? Currently we don't understand what these commands do or what they are related to.

Maybe https://docs.magento.com/user-guide/system/media-storage.html or https://docs.magento.com/user-guide/cms/media-gallery.html? This is just guessing as I ha

[2021-08-05 19:26] sivaschenko commented on #8845
https://docs.magento.com/user-guide/cms/media-gallery.html is a merchdocs page, but I cannot find a proper place in the devdocs

[2021-08-05 23:12] keharper commented on #8845
@hostep @sivaschenko we would likely need to create a new topic under [Command line configuration](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli.html). @BarnyShergold I see you participated in the code review for [PR-29753](https://github.com/magento/magento2/pull/29753). Any ideas?

[2021-08-06 21:30] #9032 closed

[2021-08-06 21:37] #9014 closed

[2021-08-10 20:15] hostep opened #9081 "The bin/magento cli reference contains way too many duplicated flags"
# Bug report

## Description

Hi guys, take a look at this page here: https://devdocs.magento.com/guides/v2.4/reference/cli/magento.html
Search for any of these flags:
- `--help`
- `--quiet`
- `--version`
- `--ansi`
- `--no-ansi`
- `--no-interaction`
- `--verbose`

All these flags appear 112 times on the page, because they don't belong to a specific command, but to the `bin/magento` command itself

[2021-08-10 22:17] keharper commented on #9080
@padisah Contact me via the Community Engineering Slack space. My ID is `keharper`

See [this page](https://devdocs.magento.com/community/resources.html) for more info about joining Slack.

[2021-08-11 04:30] krisdass opened #9083 "Feedback on page: /guides/v2.4/release-notes/2-4-2-p2.html"
# General issue
Link to Quick Start and Install Patch is not pointed correctly.
## Description:
In Installation and upgrade instructions, Quickstart and Install guide is pointed to wrong/broken url

Quickstart and install is pointed to  http://127.0.0.1:4000/guides/v2.4/install-gde/composer.html.
## Possible solutions:
Point to the correct url so that we can see the patch install options

## Addit

[2021-08-11 11:14] antonfries opened #9086 "Link Error on page guides/v2.3/release-notes/2-3-7-p1.html"
![2021-08-11_13h13_45](https://user-images.githubusercontent.com/49792220/129019669-2c4e40eb-80de-47fd-829b-52f17f66eebe.png)

URL: https://devdocs.magento.com/guides/v2.3/release-notes/2-3-7-p1.html

[2021-08-11 12:02] Chandresh22 opened #9087 "Incorrect description in release notes"
Page affected: /guides/v2.4/release-notes/open-source-2-4-3.html

# General issue
In Reviews Github link wrong
## Description:

in section Reviews : https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html#reviews
4th line **Administrators can now sort product reviews on the Product Reviews section of the product edit page as expected**
has Github link  [GitHub-26301](https://g

[2021-08-11 14:57] BarnyShergold commented on #9083
@magento I am working on this

[2021-08-11 15:33] BarnyShergold commented on #9081
@magento I am working on this

[2021-08-11 16:05] dobooth commented on #9081
@dshevtsov

[2021-08-11 16:32] #9086 closed

[2021-08-11 16:32] #9083 closed

[2021-08-11 17:07] satknightn opened #9089 "Feedback on page: /live-search/install.html"
Update command is invalid because of invalid dash symbol

The command

`composer update magento/live-search -–with-dependencies`

never executes well because the second dash before with-dependencies option is not the default dash but something else, what isn't expected by composer.

The solution will be to write the command properly, such as
`composer update magento/live-search --with-dependencies

[2021-08-11 18:37] keharper commented on #9089
@erikmarr Can you take a look at this?

[2021-08-11 18:45] keharper commented on #9087
@jfrontain Can you take a look at this?

[2021-08-11 20:01] hostep opened #9090 "Magento release dates for 2022 are missing"
# Bug report

## Description

Take a look at the [upcoming releases](https://devdocs.magento.com/release/index.html) document.
Magento 2.4.3 got released yesterday, but now we don't have an idea of when Magento 2.4.4 will get released.

It would be nice if the new release dates that are already know for 2022 could get added to that page.

### Steps to reproduce

See above

## Expected result

Find

[2021-08-11 20:06] jeff-matthews commented on #9090
Hi @hostep!

I actually have a branch with some 2022 dates that may help expedite this request. I just need internal approval to merge and publish. I'll go ask for an update and get back to you.

Cc: @chernenm

[2021-08-12 03:22] Chandresh22 commented on #9087
hello @jfrontain i will check. it updated thank you

[2021-08-12 10:20] BarnyShergold commented on #9087
@keharper & @jfrontain - This has been fixed already

[2021-08-12 10:47] dobooth commented on #9087
Fixed.

[2021-08-12 10:47] #9087 closed

[2021-08-12 18:56] #9052 closed

[2021-08-12 20:17] jeff-matthews commented on #9090
The schedule is still under internal review, but more info will be provided soon. Stay tuned.

[2021-08-13 06:08] hostep commented on #9090
Okay, thanks Jeff 🙂

[2021-08-13 11:16] braders opened #9092 "Clarify pricing fields for orders and order items"
# New topic request

## Description

In the sales_order and sales_order_item, quote and quote_item tables there are a large number of fields related to pricing. These are exposed over the API and may also be read or set by Magento modules. In some cases it's not clear exactly what values these fields should contain, especially when factoring in the large range of VAT and currency options which Mag

[2021-08-13 13:18] braders opened #9093 "Images in CONTRIBUTING.md are broken"
# Bug report

Navigate to https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md. Observe that 3 image files are returning 404 errors, and are therefore not displayed.

 - https://devdocs.magento.com/common/images/contribute-prerequisites.png
 - https://devdocs.magento.com/common/images/contribute-write-submit-pr.png
 - https://devdocs.magento.com/common/images/contribute-feedback-

[2021-08-13 14:05] BarnyShergold opened #9094 "Update Cloud Meta-Package Constraints"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/cloud/project/ece-tools-upgrade-project.html#metapackage
https://devdocs.magento.com/cloud/project/project-upgrade.html

## Description

The constraint numbers for the metapackage don't need to be set as : >=current_version <next_version

eg `"magento/magento-cloud-metapackage":">=2.3.4 <2.3.5"`

This is because t

[2021-08-16 12:36] hguthrie commented on #9094
The "Upgrade to ece-tools" topic and "metapackage" section is a one-time only set of steps. It is for older projects that are not yet using the ece-tools package.

[2021-08-16 15:32] BarnyShergold commented on #9094
True but people are seeing it and getting confused between "Upgrade ECE-TOOLS" and "Upgrade Magento".

ALso the main page (https://devdocs.magento.com/cloud/project/project-upgrade.html) and this is a) wrong in my view and b) refers to the ""Upgrade to ece-tools" topic and "metapackage" section"

So I do think a bit of clean up & clarification is needed. 😄

[2021-08-16 15:47] hguthrie commented on #9094
Ece-tools never requires an upgrade, only an update, which is in this topic:
https://devdocs.magento.com/cloud/project/ece-tools-update.html

The link from the project upgrade topic clearly states "that does not contain the ece-tools package, then you must upgrade" otherwise you only have to "update".

I'm sorry this seems confusing to some. I will research whether this method of upgrading the pro

[2021-08-16 18:26] YPyltiai commented on #9094
@BarnyShergold it should be a range because the idea behind it is that customers can easily pick up security patches once those come out without fixing constraints. You can put a harder dependencies too but ECE-Tools not always had `^` either in constraint, it was less flexible in earlier versions.

[2021-08-17 08:51] BarnyShergold commented on #9094
@YPyltiai - What I am saying that because of the way metapackage has it's "Require" section defined you DON'T need a range.
If you put - "magento/magento-cloud-metapackage":"2.4.3" then when it first comes out you will get 2.4.3 - However when p1 is released, if you run "composer update" then it will be upgrade AUTOMATICALLY to 2.4.3-p1 - no changes necessary.

You ONLY need the main version numbe

[2021-08-17 09:23] n2diving-dgx opened #9095 "Add comment to 2.4.3 Release Notes on backward incompatibility of cookie status banner change"
Upon upgrade to 2.4.3 any store with a pre-existing custom theme will display the "The store will not work correctly in the case when cookies are disabled." banner of every store page, when in fact cookies are enabled.  This is caused by a backward incompatible change in M2.4.3 and how it handles the cookie status message.  **This issue seems so common that it deserves a comment in the 2.4.3 relea

[2021-08-17 16:53] ed007m opened #9097 "Feedback on page: /guides/v2.4/security/google-recaptcha.html"
# General issue
Outdated CLI command for disabling reCaptcha
## Description:

  security:recaptcha:disable-for-user-login                 Disable reCAPTCHA for admin user login form

## Possible solutions:

Replace cli command with relevant for M2.4
security:recaptcha:disable-for-user-login

## Additional information:

[2021-08-17 19:57] goivvy commented on #7587
@dobooth https://github.com/magento/devdocs/pull/9098 The first 154 events.

[2021-08-18 08:59] shane-clickingmad opened #9099 "Missing information on page: /guides/v2.4/install-gde/system-requirements.html & /guides/v2.4/install-gde/prereq/php-settings.html"
# General issue

## Description:

ext-sodium was added as a requirement as of release 2.3.2 but is missing from the current PHP system requirements

## Possible solutions:

Add ext-sodium to both /guides/v2.4/install-gde/system-requirements.html & /guides/v2.4/install-gde/prereq/php-settings.html

## Additional information:

Its not possible to complete Magento install without this extension, and

[2021-08-18 13:13] jeff-matthews commented on #9099
I think https://github.com/magento-commerce/devdocs/pull/2470 will resolve this.

[2021-08-18 15:47] #7960 closed

[2021-08-18 15:47] #9099 closed

[2021-08-18 16:03] dshevtsov commented on #9099
Closed via https://github.com/magento-commerce/devdocs/commit/3ab7dec1903b5b4309ffdaa1b6e8b20eee7c5088

[2021-08-18 16:44] dshevtsov commented on #7960
Resolved in https://github.com/magento/devdocs/commit/3ab7dec1903b5b4309ffdaa1b6e8b20eee7c5088

[2021-08-18 17:55] EvheniiaKolkhiieva commented on #9097
@magento I am working on this

[2021-08-18 20:19] hostep commented on #7960
Awesome, thanks @dshevtsov !

[2021-08-19 18:47] shrielenee commented on #9092
@braders Do you mean this for the REST API docs? Can you point us to the area or guide this content would make sense? Thanks!

[2021-08-19 18:48] shrielenee commented on #9072
@LeanderFS  Any news on this? Thanks!

[2021-08-20 19:07] #9094 closed

[2021-08-21 10:14] EdOverflow opened #9101 "Fix code block language identifier"
# General issue

Topic: /guides/v2.4/security/security-txt.html

## Description:

The example `security.txt` file uses rouge's `bash` syntax highlighting which prepends a `$` symbol. This results in an invalid `security.txt` file.

![image](https://user-images.githubusercontent.com/18099289/130318391-8c54fd7b-2ff4-441c-82ca-a4daeae3b83f.png)

https://github.com/magento/devdocs/blob/9a434591f5e5b5c

[2021-08-21 16:23] yabdu opened #9102 "Feedback on page: /guides/v2.4/install-gde/system-requirements.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-08-23 12:09] #9102 closed

[2021-08-23 18:56] jfrontain commented on #9095
@n2diving-dgx, thanks for your thoughtful feedback. Our internal developers have tested your suggested workaround, and I've updated the 2.4 backward incompatibility highlights topic accordingly. Those changes were merged this morning (8/23). Thanks again for your feedback!

[2021-08-23 18:56] #9095 closed

[2021-08-24 18:01] youanden opened #9106 "Feedback on page: /guides/v2.4/rest/bk-rest.html"
# General issue
Currently all links to Redoc 404 because they are pointing to 2.4.2 instead of 2.4.3

## Description:

## Possible solutions:

## Additional information:

[2021-08-25 13:36] hguthrie commented on #9072
No news could be good news. I am closing this for lack of response. If you continue to have concerns, you can open a new issue with further details and reference this closed issue. Thanks for taking the time to help improve the documentation!

[2021-08-25 13:36] #9072 closed

[2021-08-25 13:43] hguthrie commented on #9034
Closing this because it is a duplicate. Moved pertinent information to original issue.

[2021-08-25 13:43] #9034 closed

[2021-08-25 14:10] GNUXDAR opened #9110 "Post Installer"
# Post Installer

## Hello community, i have a problem installing the module [Product Recommendations](https://marketplace.magento.com/magento-product-recommendations.html)

# steps of installations
composer require magento/product-recommendations:3.3.3
composer require magento/module-page-builder-product-recommendations
composer require magento/module-visual-product-recommendations

bin/magento m

[2021-08-25 14:49] GNUXDAR commented on #9110
when i do click in the admin show that error, in the img published

[2021-08-25 15:21] hguthrie commented on #9013
Hi @Eddcapone It looks like you want to know where to find custom theme CSS files? When you create or add a custom theme, it should have the  `<magento-root>/app/design/adminhtml/<vendor-name>/<admin-theme>/<module>/web/*` directory structure. So are you saying it does not or you can't find it?

The following topic illustrates the typical theme structure: https://devdocs.magento.com/guides/v2.4/fr

[2021-08-25 15:32] #6864 closed

[2021-08-25 16:56] GNUXDAR commented on #9110
version of magento is cloud Magento ver. 2.4.1-p1

[2021-08-27 12:47] ThermScissorpunch opened #9113 "Feedback on page: /guides/v2.4/javascript-dev-guide/widgets/widget-trim-input.html"
# General issue
Input fields are unresponsive on Safari
## Description:
When multiple inputs are suing this widget clicking in the first input disables the ability to click and activate the other inputs.

## Possible solutions:

## Additional information:

[2021-08-27 14:22] #9113 closed, assigned to nobody

[2021-08-28 11:03] hostep commented on #9090
@BarnyShergold: The initial question wasn't answered, so it would be best if the issue only got closed when the new dates get published, so I (and the people watching this thread) get notified by it.

[2021-08-30 13:44] nitish-ranjan05 opened #9117 "New topic for creating custom REST Api"
# New topic request

## Description

In the rest tutorial documentation, there is no example to create a custom rest API

We can add a new topic under the rest tutorials with examples

[2021-08-31 13:36] jeff-matthews commented on #9090
We plan to publish an update in mid-September.

[2021-09-01 07:14] nitish-ranjan05 commented on #9117
@magento I am working on this

[2021-09-01 18:17] keharper commented on #9080
Closing due to lack of response. Feel free to reopen

[2021-09-01 18:17] #9080 closed

[2021-09-03 22:16] ak77-prime opened #9125 "Feedback on page: /live-search/release-notes.html"
# General issue

## Description:

Some customers are having issues with Live Search not working - in many of those cases, the customer is using Adobe Commerce (both On-Prem and on cloud architecture) with the B2B extension.

## Possible solutions:

Update the following and add an exclusion stating that there is currently no Live Search support for B2B extension (I don't have any roadmap informatio

[2021-09-06 08:47] engcom-Hotel commented on #4451
Adding appropriate labels to create a JIRA ticket.

[2021-09-06 13:04] BarnyShergold commented on #9093
@dobooth - these were removed in this commit about 1 month ago : https://github.com/magento/devdocs/commit/c7ab350c8f0166b2fcdeab14ad19736ef85abb7f

Can you restore these? If you have no time I can reach back into the commits, find the files and re-add

[2021-09-06 13:17] BarnyShergold commented on #9092
@braders please comeback with some feedback on this issue as it's been nearly 2 weeks since we requested further information. Otherwise issue will be closed.

[2021-09-06 13:19] BarnyShergold commented on #9081
@dshevtsov - Can we close this issue then or do you want to keep it open for reference? Means we don't have to  keep addressing it 😄

[2021-09-06 13:26] BarnyShergold commented on #9076
@yogicse this was assigned to you a month ago but nothing has been actioned. Are you still going to update this or can we close this issue?

[2021-09-06 13:33] BarnyShergold commented on #9058
@nitish-ranjan05 - We've not heard anything on this issue from you for a about a month, can you let us know how you are getting on?

[2021-09-06 13:35] BarnyShergold commented on #8968
@shunmugakumaran  - We've not heard anything on this issue from you for about 3 months, can you let us know how you are getting on?

[2021-09-06 13:36] BarnyShergold commented on #8966
@shunmugakumaran  - We've not heard anything on this issue from you for about 3 months, can you let us know how you are getting on?

[2021-09-06 13:36] BarnyShergold commented on #8951
@rajesh-mage  - We've not heard anything on this issue from you for about 3 months, can you let us know how you are getting on?

[2021-09-06 13:37] BarnyShergold commented on #8947
@keharper - How's it going on this issue?

[2021-09-06 13:41] BarnyShergold commented on #8946
@keharper @damienwebdev  - As we are now on 2.4.3 and the page in question says this query is deprecated, I am closing this issue. It can be re-opened if required.

[2021-09-06 13:41] #8946 closed

[2021-09-06 13:41] BarnyShergold commented on #8945
@rajesh-mage - We've not heard anything on this issue from you for about 3 months, can you let us know how you are getting on?

[2021-09-06 14:06] BarnyShergold commented on #2796
This was fixed by PR4499

[2021-09-06 14:06] #2796 closed

[2021-09-06 14:13] BarnyShergold commented on #3807
@danielgoodwin97 - There has been quite a few changes on this page since you raised this issue, plus it doesn't mention new variables in _theme.less but that if variables are COMMON.

Please respond in the next few days so the issues can be closed if not needed.

[2021-09-06 14:14] damienwebdev commented on #8946
Read the new doc. LGTM. Confirm solved.

[2021-09-06 14:18] BarnyShergold commented on #4495
@hostep @dobooth - it was suggested 6 months ago that #7951 took care of this issue - can this be confirmed? Can we close this issue?

[2021-09-06 14:26] BarnyShergold commented on #6756
@dobooth - Is this still a relevant issue?

[2021-09-06 14:29] BarnyShergold commented on #6966
@hguthrie - Is this still an issue that should remain open?

[2021-09-06 19:50] hostep commented on #4495
@BarnyShergold: feel free to close it, I never found the time to properly test this again. I'll open a new issue next time I encounter this problem again.

[2021-09-06 19:53] hostep commented on #9081
As long as the issue isn't solved, it shouldn't be closed, right? (What's with the desperation to close issues? Open issues form the backlog of what still needs to happen, it makes little sense to close the ones that aren't addressed yet...)

[2021-09-07 08:41] BarnyShergold commented on #9081
No desperation - just trying to clear up issues that don't need to be open so we don't end up looking at the same ones over and over. Question - is it possible to have a new label? Eg "Backlog" then issues like this can be flagged, left open and perhaps even discussed during maintainer calls?

[2021-09-07 08:41] BarnyShergold commented on #4495
Closed in agreement

[2021-09-07 08:41] #4495 closed

[2021-09-07 08:44] BarnyShergold commented on #8946
LGTM?

Thanks for the confirm

[2021-09-07 13:38] hguthrie commented on #6966
Since I am technically able to access a container and run a rake command, it seems like the objective was met. I left it open in case someone wanted to try to build something more robust or use builder as the possible solution suggest.
But, I am fine with this closing. If someone wants to improve the Docker with a new idea, they can always open a new issue or PR. Closing... thanks Barny!

[2021-09-07 13:38] #6966 closed

[2021-09-07 19:34] dshevtsov commented on #9081
I agree with @hostep. @BarnyShergold, I added the _Help Wanted_ label, because, technically, I'm not the only one who can do it.

[2021-09-07 19:36] #9101 closed

[2021-09-07 19:42] hostep commented on #9081
@dshevtsov: maybe it can help if you can link to the script that is used to generate that page.
Then if somebody is interested in figuring out how to fix this, he/she already knows what script needs to be tweaked and can give it a try.

[2021-09-07 20:22] dshevtsov commented on #9081
Sure.

The topic assigns variables required by the script, and includes a file with the script: https://github.com/magento/devdocs/blob/master/src/guides/v2.4/reference/cli/magento.md

The file with script: https://github.com/magento/devdocs/blob/master/src/_includes/reference/cli-template.md

[2021-09-09 18:37] dobooth commented on #8942
See #9009 for the abandoned PR.

[2021-09-09 18:41] dobooth commented on #9092
Closing. Please reopen if you have more information to share on this.

[2021-09-09 18:41] #9092 closed

[2021-09-09 18:52] dobooth commented on #8845
Hi @sivaschenko We think this would be best added to the codebase, in the command implementation code. This way, it will be pull into our auto-generated reference guide. If you could add it there, that would be very helpful. https://devdocs.magento.com/guides/v2.4/reference/cli/magento.html

[2021-09-10 11:19] hostep opened #9132 "Feedback on page: /guides/v2.4/comp-mgr/cli/cli-upgrade.html"
# General issue

## Description:

About the page: https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html#manage-packages

The instructions for retrieving a list of all available Magento versions via composer doesn't work anymore with composer v2
It currently suggest to use the `--all` flag. But it should suggest the `--available` flag. This `--available` flag also works fine with co

[2021-09-10 13:26] onlinebizsoft opened #9133 "Merge JS and Bundling setting confusion"
# Bug report

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/js-bundling.html
"To configure JavaScript bundling, you must disable Javascript file merging. Bundling will not work as the merging of files excludes bundling"

https://devdocs.magento.com/guides/v2.4/performance-best-practices/advanced-js-bundling.html
"Enabling merging without also enabling bundling is not useful bec

[2021-09-10 13:26] onlinebizsoft commented on #9133
@dobooth

[2021-09-10 13:28] onlinebizsoft opened #9134 "ESI varnish request for block"
# New topic request
Adding a section to explain about ESI request in Magento and setting ttl for block in layout

## Description
https://medium.com/@sivaschenko/5-block-types-from-caching-point-of-view-in-magento-2-cfdfc329d7dc

_What topic is missing from documentation?_

ESI
Block is ESI if it’s declaration in the layout XML has ttl attribute. ESI blocks are actual only if full page cache applic

[2021-09-10 13:30] onlinebizsoft commented on #9134
@dobooth @sivaschenko

[2021-09-10 15:01] #9093 closed

[2021-09-12 04:55] nitish-ranjan05 commented on #9132
@magento I am working on this

[2021-09-12 14:37] monstro805 opened #9136 "update"
https://github.com/magento/devdocs/blob/b97c8712478ca8b0b3ce49c6bb8f1cfae54c63b5/.github/workflows/linter.yml#L47

[2021-09-14 22:30] ak77-prime opened #9141 "Update Install and Configure Recommendations"
# General issue

Affected page:  /recommendations/install-configure.html

## Description:

Add a note indicating that the API Keys must be generated in the account of the Adobe Commerce license holder.

## Possible solutions:

Similar to https://devdocs.magento.com/live-search/install.html#configure-api-keys

The Adobe Commerce API key and its associated private key are required to connect Product

[2021-09-16 14:06] hguthrie commented on #8945
Removing @rajesh-mage as assignee so that someone else can work on it if they like.
If you decide to create a PR, just refer to this issue. Thanks!

[2021-09-16 14:09] hguthrie commented on #8951
Removing @rajesh-mage as assignee so that someone else can work on it if they like.
If you decide to create a PR, just refer to this issue. Thanks!

[2021-09-16 14:13] hguthrie commented on #9013
Closing this issue for lack of clarification. If this is still a concern, you can create a new issue and provide us with more information. Thanks!

[2021-09-16 14:13] #9013 closed

[2021-09-16 14:24] hguthrie commented on #8968
Is this related to #8988 ? I don't think the smart reference worked in the PR, so making the connection here.

[2021-09-16 14:59] #9136 closed

[2021-09-16 16:01] #9090 closed

[2021-09-16 16:29] jeff-matthews commented on #9090
@hostep. We just published updates.

[2021-09-16 18:43] hostep commented on #9090
Alright, awesome, thanks!

So, Magento is switching from 4 releases to 2 releases per year for non-security releases. Interesting...

I'm also wondering what those unannounced releases will be? Magento 2.5? Magento LTS? ...

[2021-09-17 07:43] onlinebizsoft commented on #8985
There was a section about this in the docs version 2.2 but not in 2.4. I have no idea what happened!!
@dobooth @ihor-sviziev

[2021-09-17 22:35] #9132 closed

[2021-09-20 08:49] BarnyShergold commented on #9076
due to the response given on the 5th Aug and that no reponse has been given by the issue creator, this issue is being closed. It can be re-opened if required.

[2021-09-20 08:49] #9076 closed

[2021-09-20 19:46] jeff-matthews opened #9146 "Tech Stack topic isn't redirecting"
# General issue

## Description:

The https://devdocs.magento.com/guides/v2.4/architecture/tech-stack.html page doesn't redirect to https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html like it should.

## Possible solutions:

The source file should include a redirect for https://devdocs.magento.com/guides/v2.4/architecture/tech-stack.html just like the [2.3 version of the f

[2021-09-20 19:58] dshevtsov commented on #9146
There is disparity in versions in the description. It says that 2.4 link has to redirect to 2.3 topic.

[2021-09-21 04:11] nitish-ranjan05 commented on #9146
@magento I am working on this

[2021-09-21 22:57] ak77-prime opened #9149 "Install Guide: Update MAGEID info in "Get your authentication keys""
# General issue

## Description:

Affected page: [/guides/v2.3/install-gde/prereq/connect-auth.html](https://devdocs.magento.com/guides/v2.3/install-gde/prereq/connect-auth.html)

This point should be clarified:

For access to Adobe Commerce and Adobe Commerce on cloud infrastructure packages, you must use keys associated with a MAGEID that has been granted access to those packages. If you encount

[2021-09-22 18:42] bdenham commented on #9141
@eriksmarr Just making you aware of this issue if you were not already. :)

[2021-09-22 18:51] bdenham commented on #9134
@onlinebizsoft, we only mention ESI in relation to Fastly caching. Where do you envision this topic be added?

[2021-09-22 18:58] bdenham commented on #9133
@onlinebizsoft, I believe the first description is describing the settings available in the Admin UI. And the second is referring to changing the RequireJS files. Can you explain what you would expect for the first topic description?

[2021-09-22 18:58] ccondra commented on #9125
At this time, Live Search does not support B2B.  See note added to [Install Live Search](https://devdocs.magento.com/live-search/install.html).  Thank you!

[2021-09-22 18:58] #9125 closed

[2021-09-23 07:41] onlinebizsoft commented on #9133
@bdenham in the first one, it says "Bundling will not work as the merging of files excludes bundling" -> it means if we enable merge then bundling do nothing?
In the second one, it says "When you enable both bundling and merging, Magento creates a single JavaScript file" -> means merging and bundling can work together and output a single JS file for whole site.

Here is another opinion which do ag

[2021-09-23 11:19] bdenham commented on #9133
Got it. Good catch. Thanks for clarifying. If you are interested in submitting a PR for the fix, that would be great.  Regardless, thanks for alerting us to the discrepancy.

[2021-09-24 06:14] onlinebizsoft commented on #9134
@bdenham I dont know where it should be added. But the document is lacking information about this and it should be added.

The technical information were mentioned in the above article

[2021-09-24 12:15] przmak opened #9152 "Missing Adobe Schemas in Snowplow Chrome plugin in Product Recs docs"
# General issue

Snowplow Chrome extension, missing adobe schemas

## Description:

1) Install the Snowplow Chrome plugin into chrome browser
2) Go to a magento website (tested on Magento 2.3.3-p2 ) with product recommendations
3) Open chrome developer tools -> Snowplow Debugger

Schemas Errors:

[code]

[code]

[code]

[code]

[code]

## Possible solutions:

Either remove the topic about Snowplow

[2021-09-27 08:45] nitish-ranjan05 commented on #8945
@magento I am working on this

[2021-09-27 13:51] keharper commented on #8968
Unassigned due to inactivity

[2021-09-28 19:44] keharper commented on #8466
Not sure why this is still open. Work was completed long ago.

[2021-09-28 19:44] #8466 closed

[2021-09-29 20:27] #9146 closed

[2021-09-30 14:36] erikmarr commented on #9141
Thanks @ak77-prime! I have a PR with the change ready to go.

[2021-09-30 15:31] marius-balteanu commented on #6756
+1

An official recommendation from Magento team about which isolation level should be used is quite useful, especially because most of the users are using the default value from MySQL which is `REPEATABLE READ`, but at the same time, Magento Cloud uses `READ COMMITTED`.

[2021-09-30 18:39] shrielenee commented on #9152
@erikmarr Is this truly a docs issue? Do you have insight into this issue?

[2021-09-30 18:48] dobooth commented on #8845
Closing this issue. Once the codebase change is made, the CLI reference will autogenerate the docs. @hostep if you could open an issue on this in the codebase and link this issue, that would be great.

[2021-09-30 18:48] #8845 closed

[2021-09-30 19:20] hostep commented on #8845
@dobooth: I'm not sure if this can be explained in a single line, I think the explanation might be more complex then just adding a single line description in the command summary which is usually pretty short:

<img width="1341" alt="Screenshot 2021-09-30 at 21 15 59" src="https://user-images.githubusercontent.com/85479/135517013-a6d78062-330b-499f-b379-e3296b8c647e.png">

And opening an issue on t

[2021-10-01 01:36] keharper commented on #8947
@Techbrunch the setting does not apply to GraphQL. The product manager is aware of this request and will look into it further. Closing the issue because the docs are correct.

[2021-10-01 01:36] #8947 closed

[2021-10-01 19:31] Rajanusa opened #9167 "Feedback on page: /guides/v2.4/rest/tutorials/orders/order-create-shipment.html"
# General issue

## Description:

I want to update the tracking number and carrier for a given order.
I found the create shipment api end point that has item and carrier details.
What if I want to update just tracking number and carrier code via API after shipment is done through Magento UI
is there any Webhook or Trigger can be made if Order is placed / shipped

[2021-10-02 04:50] ak77-prime opened #9168 "Feedback on page: /guides/v2.4/install-gde/install/cli/install-cli-backup.html"
# General issue

## Description:

There's no distinction on whether this applies to both Adobe Commerce on Cloud and On-Premise

## Possible solutions:

The caveat is that it's not meant for Adobe Commerce on Cloud

## Additional information:

Rolling back of the data in Adobe Commerce on Cloud has to be done in a similar way that's covered in https://devdocs.magento.com/cloud/live/stage-prod-migr

[2021-10-05 02:31] nitish-ranjan05 commented on #9167
@magento I am working on this

[2021-10-05 13:50] #9141 closed

[2021-10-05 14:48] kai687 opened #9171 "Research creating canonical link for docs in Module Reference Guide"
# General issue
Feedback on page:  /guides/v2.4/mrg/module-catalog-permissions.html
Consider adding a canonical, or 'latest' link for your docs. This makes maintaining docs that link to your docs easier.

## Description:

I have to choose between linking to the 2.3, or 2.4 versions of this page.
If you update this page to 2.5, my link should still work, but it's no longer up to date.

## Possible

[2021-10-07 14:52] dshevtsov commented on #9171
@kai687, do you mean README's from the magento2 codebase?

[2021-10-07 15:51] dshevtsov commented on #9171
On devdocs, we should keep v2.x versioning, to allow versioned links from the in-code documentation for Commerce's source code. It means, we should have both 2.4 and 'latest' links. I can see only two solutions at the moment:
1. Global redirect: `/guides/v2.4 -> /guides/latest`. This is no good for Google indexes as I understand.
2. Virtual source files for `/guides/latest` that will replicate `/g

[2021-10-07 20:30] erikmarr commented on #9152
HI @przmak thanks for your feedback! This is expected behavior. Basically those schemas are internal, not public. So the Snowplow Chrome plugin won't be able to validate the events with the private schema. This has no impact on actual functionality. It just shows that message in the Chrome plugin. I will clarify this in the docs. Thanks again.

[2021-10-08 13:43] luke-vitale opened #9178 "Payment field not written to the database"
# General issue

## Description:
Extra Payment Field doesn't add to the database.

https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_payment_new_field.html

## Possible solutions:

The extra fields would get added to the database.

## Additional information:

No fields are added it seems to be an issue in the purchaseorder-method.js

[2021-10-08 20:52] #9152 closed

[2021-10-08 22:48] ak77-prime opened #9181 "Feedback on page: /cloud/env/variables-deploy.html"
9# General issue9

## Description:

Adjust the following:

``The following example merges a new value to the existing configuration:``

[code]

## Possible solutions:

Number of replicas should be 2

## Additional information:

There is no circumstance under which the number of replicas should be 3.

It's easier to simply copy and paste the entire thing when advising a customer how to set the conf

[2021-10-13 15:41] novoamitchel opened #9191 "Feedback on page: /guides/v2.4/mrg/module-review.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-10-13 18:28] #9191 closed, assigned to nobody

[2021-10-14 05:54] df2k2 opened #9194 "app/etc/config.php tracking in VCS - docs conflict with links to .gitignore"
# Track app/etc/config.php or not?

## Topic Link

https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-gitignore.html

## Description

The references to .gitignore found here: https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-gitignore.html and https://devdocs.magento.com/guides/v2.3/config-guide/prod/config-reference-gitignore.html are:

* https://r

[2021-10-14 16:36] Rajanusa opened #9196 "Magneto API for Update Tracking Number and Carrier Code is not working."
# Topic clarification/correction request

## Topic Link

## Description
I tried to update the tracking no and carrier code using the followig api with the payload.
http://xyz.com/rest/default/V1/shipment/track
Payload
{
  "entity": {
    "order_id": 63,
    "entity_id": 26,
    "parent_id": 26,
    "weight": 2,
    "qty": 1,
    "description": "This is testing trackig no",
    "extension_attribute

[2021-10-14 17:42] #9196 closed, assigned to nobody

[2021-10-15 06:58] WebKenth opened #9197 "Feedback on page: /guides/v2.4/mrg/module-quick-order.html"
# General issue

Module is not available, while documentation state that it is

## Description:

Looking at https://github.com/magento/magento2/tree/2.4.3-p1/app/code/Magento
I see no QuickOrder module, but it is listed in the documentation as available ?

## Possible solutions:

Either change the documentation to correctly correct which modules are available or make it available ;)

## Additional

[2021-10-15 13:44] keharper commented on #9197
@WebKenth The Module Reference Guide includes modules from the magento2ce, magento2ee, magento2b2b repos, plus any repos that are required to install those three products. QuickOrder is part of the B2B repo.

[2021-10-15 13:44] #9197 closed

[2021-10-18 02:53] ayaanali110 opened #9202 "Feedback on page: /guides/v2.3/install-gde/prereq/file-system-perms.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-10-19 01:31] #9202 closed

[2021-10-20 05:05] ak77-prime opened #9205 "Needs clarification for Adobe Commerce on Cloud regarding L2 caching"
# General issue

https://devdocs.magento.com/guides/v2.4/config-guide/cache/two-level-cache.html

## Description:

Add a differentiation between On-Premise and Adobe Commerce on Cloud

## Possible solutions:

For Adobe Commerce on Cloud projects, please follow https://support.magento.com/hc/en-us/articles/360049292532

## Additional information:

[2021-10-20 13:19] hostep opened #9206 "It's not clear from what module the system.xml files have changed in the backwards incompatible changes"
# Bug report

## Description

See https://devdocs-beta.magento.com/guides/v2.4/release-notes/backward-incompatible-changes/reference.html

The file `system.xml` gets mentioned a few times, but it never says to what module that `system.xml` file belongs.
Without the module, we have no idea what this is about.

<img width="1111" alt="Screenshot 2021-10-20 at 15 17 38" src="https://user-images.github

[2021-10-20 13:21] hostep commented on #9206
Also, the database changes contain a lot of duplicated info:

<img width="1056" alt="Screenshot 2021-10-20 at 15 20 43" src="https://user-images.githubusercontent.com/85479/138100955-cd634ad7-5248-4d52-8aae-fd292501c816.png">

[2021-10-21 03:11] spongenee opened #9209 "Feedback on page: /guides/v2.4/install-gde/system-requirements.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-10-21 12:00] LeonElephant opened #9211 "Feedback on page: /guides/v2.4/ui_comp_guide/components/ui-insertlisting.html"
# General issue

## Description:

Sorting on id changes the ids and name to the last value

## Possible solutions:

-

## Additional information:

https://www.loom.com/share/7d838daffc6c420f99e6c3a5fcc21083

[2021-10-21 18:53] dobooth commented on #9211
Hi @LeonElephant That does seem troubling. As it appears to be a bug in code and not within the documentation. We suggest you contact support for this issue: https://support.magento.com/hc/en-us

[2021-10-21 18:53] #9211 closed

[2021-10-25 15:47] #9206 closed, assigned to dshevtsov

[2021-10-27 14:06] zexperto opened #9221 "Checkout tutorial lists invalid code."
# General issue

Affected page: /guides/v2.4/howdoi/checkout/checkout_form.html

## Description:

Implement the same custom checkout form into billing-step, with the below path does not work
**billing-step(children)->payment(children)->payments-list(children)->before-place-order(children)**

## Possible solutions:

## Additional information:

When implement this on Billing step instead of shipping

[2021-10-27 19:42] barnato-v opened #9222 "Need clarification for opcache.enable_cli=1"
# Topic clarification/correction request

## Topic Link

devdocs article https://devdocs.magento.com/guides/v2.3/performance-best-practices/software.html#php-settings (link from this articles) recommends
opcache.enable_cli=1

but this differs for recommendations in support.magento.com

## Description

devdocs article https://devdocs.magento.com/guides/v2.3/performance-best-practices/software.html#

[2021-10-27 22:59] ayaanali110 opened #9225 "DriveHQ Publish Link"
Jh6

[2021-10-27 23:40] #9225 closed, assigned to nobody

[2021-11-02 13:51] barnato-v commented on #9222
@hguthrie Can I ask for a contact name for the performance team?

[2021-11-03 13:25] jeff-matthews opened #9232 "Feedback on page: /guides/v2.4/install-gde/composer.html"
# General issue

## Description:

The [Quick start install](https://devdocs.magento.com/guides/v2.4/install-gde/composer.html) topic doesn't explain the nuances/requirements of installing security patches specifically.

## Possible solutions:

Add another bullet to the [Prerequisites](https://devdocs.magento.com/guides/v2.4/install-gde/composer.html#prerequisites) section:

"-  For security patche

[2021-11-03 16:38] C0d3-R3d opened #9234 "Authentication"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com//guides//v2.3//install-gde//prereq//connect-auth.html

## Description

I am trying to get the Authentication for magento2, so i can download it onto debian buster.
After a lot of trying and research, I found the mention link over internet, but it showing it ain't available.

Command i ran:-

php composer.phar crea

[2021-11-03 16:42] C0d3-R3d commented on #9234
@magento I am working on this

[2021-11-03 18:37] keharper commented on #9222
@meker12 Can you recommend a development resource?

[2021-11-03 18:46] #9178 closed

[2021-11-03 18:47] keharper commented on #9178
@ajithkumar-maragathavel I'm not sure if you're the original author of this topic. If you are, can you take a look at this issue?

[2021-11-03 21:17] meker12 commented on #9222
There was a fix for the problem described in the [KB article](https://support.magento.com/hc/en-us/articles/360050422532)  introduced in [ece-tools 2002.1.5](https://devdocs.magento.com/cloud/release-notes/ece-release-notes.html#v200215).

Work done by Cloud team [MCLOUD-7015](https://jira.corp.magento.com/browse/MCLOUD-7015)  -- [GitHub PR](https://github.com/magento-commerce/ece-tools/pull/13) a

[2021-11-03 21:57] ajith107 commented on #9178
Sure. I will check this one. Thanks

[2021-11-05 15:33] xmav commented on #9232
Hi @jeff-matthews
Is there a specific reason why we need 2.3.7 installed before 2.3.7-p2 ?
2.X.X-pZ releases include code from 2.X.X and could be used standalone

[2021-11-05 15:35] jeff-matthews commented on #9232
@xmav, I'm not entirely sure. This issue requires more investigation to confirm. I've asked @jfrontain to follow up.

[2021-11-05 15:41] xmav commented on #9232
Security patch release (like 2.X.X-pZ) could be installed standalone and don't require  previous version as prerequisites. Security patch releases include all needed code to work.

in case we have previous 2.x.x installed and want to install 2.x.x-pZ we should follow upgrade procedure

[2021-11-05 18:44] jfrontain commented on #9232
@xmav, thanks for clarifying whether there are any prerequisites for installing or upgrading to a security release. @jeff-matthews, since it seems that there are no prerequisites or installation/upgrade steps specific to security releases, we can close this issue. Thanks!

[2021-11-05 18:50] #9232 closed

[2021-11-10 02:25] ak77-prime opened #9244 "Add note about additional DB users in cloud"
# General issue

## Description:

https://devdocs.magento.com/cloud/project/services-mysql.html

Add a note that this is a self-service task only in the Integration/Development branches (for Pro projects, and all branches for Starter projects.)

You will have to submit a Support ticket to request the additional DB user in Staging and Production for Pro projects.

## Possible solutions:

[code]

##

[2021-11-10 04:39] ak77-prime opened #9245 "Setting up custom domains on Cloud Pro"
## Description:

https://devdocs.magento.com/cloud/project/project-multi-sites.html

This article doesn't provide much clarity about setting up custom domains for Staging and Production environments in Cloud Pro.

## Possible solutions:

- Cloud Pro:
You must open a Support ticket to request new domains to be added to the cluster. Note: you could add the domains to Fastly yourself, but you will st

[2021-11-10 09:07] sgonzalezmangana opened #9246 "Feedback on page: /guides/v2.4/install-gde/prereq/php-settings.html"
# General issue

## Description:
When clicking on "additional steps may be required." link on this page https://devdocs.magento.com/guides/v2.4/install-gde/prereq/php-settings.html  it opens the link on the same page, it should be on a new tab so we don't lose the user from DevDocs.

## Possible solutions:
Open the link on a new tab

## Additional information:

[2021-11-10 16:46] davidduong90 opened #9247 "Advanced Reporting 404 message Magento 2.4.2"
Feedback on page: [/guides/v2.4//reports/advanced-reporting.html](https://docs.magento.com/user-guide/reports/advanced-reporting.html)

I have configured advanced reporting for my sub domain https://magiccart.io/tpcm2/

![Screenshot_2](https://user-images.githubusercontent.com/39608917/141154772-7c4d3609-5364-4e60-b3a5-381196a99404.png)

![Screenshot_3](https://user-images.githubusercontent.com/39

[2021-11-10 16:47] davidduong90 commented on #9247
@magento I am working on this

[2021-11-10 16:57] davidduong90 commented on #9247
Thank you so much!
@magento add to contributors team

[2021-11-11 10:24] BarnyShergold commented on #9247
@davidduong90 - Please can you explain why his has been raised on the DEVDOCS repository? If there is a bug in the application then this should be raised on magento/amgento2 or reported to Adobe. This bug doesn't relate to the documentation.

[2021-11-11 10:52] BarnyShergold commented on #9245
@ak77-prime - we can add a small section to the top of the page entitled "Adding New Domains"
I don't have access to a Starter Project - so where did you get the info about a Domains tab? Also that link "magento.cloud/projects//edit" - doesn't exist, where's that from? If you have access can you post a couple of screenshots so I can see what you are referring to?

[2021-11-11 14:10] tdm4 commented on #8823
I have some suggestions to make:

1. If you use EC2 IAM profiles you don't need the Nginx `ngx_aws_auth` module. However, I do believe you need to allow public access to the S3 bucket so that nginx can proxy images without getting a 403 forbidden. You can set a bucket policy like this (make sure you **uncheck** `block all public access` first:
[code]

2. The Nginx code snippet for proxying should

[2021-11-11 15:54] BarnyShergold commented on #9246
This has been discussed and it turns out that adding {:target="_blank"} to make links open in other tabs/windows is now deprecated and not being used going forward. Instances of {:target="_blank"} are being removed as and when possible.

Therefor the behaviour of the link in this issue is actually correct and so the issue will be closed. Thank you for taking the time to report the issue.

[2021-11-11 15:54] #9246 closed

[2021-11-11 15:57] davidduong90 commented on #9247
@BarnyShergold But I can't make it work like the guide in document.

[2021-11-11 19:47] dshevtsov commented on #9247
Thank you for your feedback! It doesn't seem like your issue is related to Commerce developer documentation. To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Adobe Commerce issues with code, see the [Adobe Commerce GitHub](https:

[2021-11-11 19:47] #9247 closed

[2021-11-11 19:48] dobooth commented on #9245
@hguthrie

[2021-11-11 19:49] dobooth commented on #9244
@hguthrie

[2021-11-11 20:00] keharper opened #9248 "GraphQL: Add docs for assignCustomerToGuestCart mutation"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/32615

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/33106

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST end

[2021-11-11 20:32] karyna-tsymbal-atwix commented on #9248
@magento I am working on this

[2021-11-11 21:26] hguthrie commented on #9245
The topic does state that Pro users "can create a Support ticket and include “enable self-service routes” in your request."
We can change that notice to contain more clear information, but the Domains can be added in the magento.app.yaml file. I don't think you have to add them using the interface if they are defined in the configuration file. Unless there is something very different about Pro...

[2021-11-12 00:45] ak77-prime commented on #9245
This was what I had entered:

[code]

It was strippd

[2021-11-15 13:59] ihorvansach opened #9251 "Feedback on page: /guides/v2.4/extension-dev-guide/plugins.html"
# General issue

## Description:

Examples for afterDispatch is wrong, they actually goes in another directions.

## Possible solutions:

I will prepare a PR request with the changes.

## Additional information:
To test plugins sort order options we've created a test extensions that demonstrate plugins executions
https://github.com/magefan/module-plugin-sortorder-example

[2021-11-15 14:18] ihorvansach commented on #9251
Have double checked. I made mistake. Everything is fine

[2021-11-15 14:18] #9251 closed

[2021-11-15 16:20] lenaorobei commented on #8886
@magento give me 2.4.1 instance

[2021-11-16 16:41] BarnyShergold commented on #9245
@hguthrie @ak77-prime - You cannot add new domains to be recognised and handled by the platform using configuration files. You can use routes.yaml to manage added domains but not to add them to the system.

PRO REQUIRES that you contact Support and submit a ticket to have them added (this is also required to ensure SSL covers the domains)

If you go to the Domains tab on a PRO project you ALWAYS s

[2021-11-16 19:40] hguthrie commented on #9245
Thanks @BarnyShergold for the clarification. I was indeed thinking about the steps based on the multi-sites topic, which was born out of a presentation devs did some time ago. We do not have much, if anything, about the actual domain tab of the UI.

[2021-11-16 20:04] lenaorobei commented on #8886
@magento give me 2.4.1 instance with edition b2b

[2021-11-16 20:12] lenaorobei commented on #8886
@magento give me 2.4.1 instance with edition b2b

[2021-11-16 20:14] lenaorobei commented on #8886
@magento give me 2.4.1 instance with edition ee

[2021-11-17 05:52] ak77-prime opened #9253 "Update issue reference in 2.4.3 release notes"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.4/release-notes/commerce-2-4-3.html#payment-methods

Under the ``Paypal`` subheading, the page source indicates:

[code]

However, MC-32805 refers to a totally different issue: ``Error message appears when update qty item in the cart.``

[Per discussion with our QA Engineer in Slack](https://magento.slack.com/archives/G01CSAGH

[2021-11-17 16:07] BarnyShergold commented on #9234
@C0d3-R3d - Not sure what the issue is here.
You said "After a lot of trying and research, I found the mention link over internet, but it showing it ain't available."
The page listed does exist you just have double slashes. It should be `https://devdocs.magento.com/guides/v2.3/install-gde/prereq/connect-auth.html`

I've just followed the instructions and downloaded the repo for Magento CE 2.4.3-p1

[2021-11-17 16:07] #9234 closed

[2021-11-20 08:27] mimou78 commented on #9253
Hello @ak77-prime,

 I have just checked in the link of the documentation that you provided I do not see the mention of <! --- MC-32805 ->

[2021-11-22 23:09] ak77-prime commented on #9253
Look at the **Page Source/HTML**

[2021-11-23 09:41] hupu496 opened #9260 "Feedback on page: /guides/v2.4/install-gde/install-flow-diagram.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-11-23 15:50] #9205 closed

[2021-11-23 15:50] #9245 closed

[2021-11-23 16:22] BarnyShergold commented on #9260
Closing this issue as there is not description. Please re-open if one is added.

[2021-11-23 16:22] #9260 closed

[2021-11-23 19:25] hguthrie commented on #8823
@tdm4  Thanks for adding ideas to the issue!

[2021-11-24 09:25] tdm4 commented on #8823
One thing I did notice is.. the new media gallery doesn't work when S3 is used as remote media. I've run the media.sync commands but there's no change. The old media gallery still works though.

[2021-11-24 15:23] ihor-sviziev opened #9261 "Add correction to File systems access permissions topic"
# General issue

Affected topic: /guides/v2.4/config-guide/prod/prod_file-sys-perms.html

## Description:

Please look at https://github.com/magento/magento2/issues/13225 - this is documentation issue

## Possible solutions:

## Additional information:

[2021-11-24 17:15] ioweb-gr opened #9262 "Clarify how to store extension attributes in the database"
# General issue

Affected topic: /guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html

## Description:

The article is not clarifying whether we should create our own table column for scalar attributes manually for example via db_schema.xml or via an InstallSchema setup script to persist the extension attribute value in the database.

## Possible solutions:

Clarify what a

[2021-11-24 18:11] ak77-prime opened #9263 "Clarify who can manage Cloud users"
# General issue

Affected topic: /cloud/project/user-admin.html

## Description:

Update the article to indicate that users with the Admin role can no longer manage users [using the CLI] or click on the Users tab when configuring their assigned environment(s).

[Under this section](https://devdocs.magento.com/cloud/project/user-admin.html#cloud-user-mg-cli)

[code]

[And under this section](https:

[2021-11-24 19:26] keharper commented on #9253
Also check whether the Open Source release notes need to be updated.

[2021-11-24 19:41] keharper commented on #9261
@ihor-sviziev We need clear instructions about what needs to be changed. Reading through the comments of magento/magento2#13225, it looks like a code bug more than a docs bug.

[2021-11-24 19:55] ihor-sviziev commented on #9261
@keharper, when js/css merging is enabled - the folder `pub/static/_cache` even in production mode should be created and writable.

[2021-11-25 10:48] Vitalii-Plechak opened #9264 "Typo needs fixing"
# Typo issue

## Description:

https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget-multiselect.html

Typo in the text on the "Multiselect Widget" page.

Typo in the "The RedirectUrl widget has the following options:" sentence, expected result is the "The Multiselect widget has the following options:" sentence.

![image](https://user-images.githubusercontent.com/60887814/143

[2021-11-26 12:23] BarnyShergold opened #9265 "Stuck Deployments - Commerce Cloud"
# New topic request

## Description

Commerce Cloud builds sometimes get stuck and until cleared, no further deployments can be actioned (even on other environments on the same project)

Most of the time developers have to raise a ticket to support to clear. The stuck deployment can be caused by issues with code or services. Often the developer can clear the deployment themselves by killing stuck

[2021-11-29 15:46] jfrontain commented on #9253
hi @ak77-prime, thanks for catching this. The Jira ticket indicated that this fix was merged into 2.4.3, but it was actually merged into 2.4.4. I've removed the issue description from the  2.4.3 Adobe Commerce and Magento Open Source notes, and the Jira ticket has been updated.

[2021-11-29 15:46] #9253 closed

[2021-11-29 16:02] AboElnoor opened #9268 "Tutorial should specify version number"
# General issue

https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/modify-image-library-permissions/
Available Magento version not provided
## Description:

Showing the Magento version for the article is important for us to check if it's compatible with the current installation.
ex. this article does not show if it's compatible with ver. 2.4.2 or not.
## Possible solutions:

##

[2021-11-30 01:34] ak77-prime opened #9270 "Update incorrect UI element"
# General issue

## Description:

https://devdocs.magento.com/cloud/project/project-webint-basic.html#project-access says:

[code]

## Possible solutions:

Step 2 should be: ``Click **Access site** for a list of URLs and SSH``

[2021-11-30 02:20] ak77-prime opened #9271 "Clarify custom domain not for integration"
# General issue

Under https://devdocs.magento.com/cloud/project/project-multi-sites.html#add-new-domains, add a note to the effect that custom domains are not allowed/possible for the following environments:

- integration branches on Cloud Pro
- [Staging and integration branches on Cloud Starter](https://devdocs.magento.com/cloud/cdn/configure-fastly.html#update-dns-configuration-with-developmen

[2021-11-30 02:34] ak77-prime opened #9272 "Clarify domain note in Fastly topic"
# General issue

## Description:

Enhance the following text/note:

https://devdocs.magento.com/cloud/cdn/configure-fastly.html#update-dns-configuration-with-development-settings

[code]

## Possible solutions:

[code]

[2021-11-30 16:30] goivvy commented on #9134
@magento I am working on this

We can add a new ESI topic under 'Configure and use Varnish' chapter https://devdocs.magento.com/guides/v2.4/config-guide/varnish/config-varnish.html

@dobooth @bdenham What do you think?

General syntax, examples and current restrictions (ESI is only served via HTTP) could be mentioned.

[2021-11-30 16:42] goivvy commented on #8951
@magento I am working on this

[2021-12-01 13:54] edwinjacobs-pon opened #9275 "Cloud: Provide example of adding location headers"
# General issue

https://devdocs.magento.com/cloud/project/magento-app-properties.html

## Description:

Section Web > Location describes that you can add headers however there is no example provided, my guess would be something like this
"/my-location"
  headers:
    "My-Custom-Header": "header-value"

## Possible solutions:

Provide an example in the examples section

## Additional information:

[2021-12-02 21:57] LiamKarlMitchell opened #9279 "Clarify if crons are disabled in Maintenance mode"
# General issue

Does maint mode disable cron?

## Description:

Feedback for: https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-subcommands-maint.html

## Possible solutions:

## Additional information:

[2021-12-03 05:07] ak77-prime opened #9280 "Add recommendations about New Relic user accounts"
# General issue

## Description:

Suggestion to add a note that there's a limit of 5 full users that can be added to the New Relic account.

https://devdocs.magento.com/cloud/project/new-relic.html#manage-new-relic-account

_We recommend adding at least one Admin user to your New Relic account to manage all access, integrations, and tool usage. Adobe Commerce on cloud infrastructure Project Owners

[2021-12-03 13:03] allsilaevex opened #9281 "Remove or update Domain terminology from Domain layer topic"
# General issue

Feedback for : https://devdocs.magento.com/guides/v2.4/architecture/archi_perspectives/domain_layer.html

## Description:

Page has a link to glossary for the term "domain". Term referred to does not refer to the context of the page.

## Possible solution

Create new glossary term for "domain layer", or remove the glossary link within this topic.

[2021-12-07 01:12] ak77-prime opened #9283 "Clarify snapshot feature not applicable to Cloud Pro prod and staging"
# General issue

Feedback on page: /cloud/project/project-webint-snap.html

## Description:

Cloud Pro customers are asking why they cannot see a list of snapshots in their Staging/Production clusters - this is because the snapshot functionality is disabled in these environments.

## Possible solutions:

You will not be able to list [or generate](https://support.magento.com/hc/en-us/articles/36000

[2021-12-09 15:11] hguthrie commented on #9117
@nitish-ranjan05 Do you still plan to create a new PR with the changes that @keharper requested? If so, you can assign yourself to this issue again. We look forward to your updates!

[2021-12-09 15:42] danidelcar commented on #9279
Hi @LiamKarlMitchell you have some information here: https://devdocs.magento.com/cloud/configure/setup-cron-jobs.html#disable-cron-jobs that mentions in some cases you might want to manually disable cron jobs before you complete maintenance tasks. There is a forum topic that covers a similar issue here: https://community.magento.com/t5/Magento-1-x-Technical-Issues/Disable-Cronjobs-when-maintenance

[2021-12-09 16:15] baoutch opened #9286 "JS error from incorrect code sample"
# General issue
The tutorial described in this doc results in a JS error

https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_form.html

## Description:
Followed the 3 steps of the tutorial to add new form to checkout

Form correctly displayed in Checkout / Shipping step

Clicking on the "Submit" button results in the following error :

[code]

## Possible solutions:
Add in config
`<i

[2021-12-09 22:39] #9244 closed

[2021-12-09 22:39] #9271 closed

[2021-12-09 22:39] #9272 closed

[2021-12-09 22:39] #9270 closed

[2021-12-09 22:53] hguthrie commented on #9265
The Support site already has a stuck deployment article: https://support.magento.com/hc/en-us/articles/360040986912

Creating a topic in the cloud guide dedicated to troubleshooting is not ideal, but can link to the KB article in strategic places.

[2021-12-10 13:35] nitish-ranjan05 commented on #9117
@magento I am working on this

[2021-12-10 16:22] #9283 closed

[2021-12-12 21:25] ioweb-gr opened #9287 "Edit checkout form code sample causes errors."
# General issue

The article applies correctly to the shipping address fields for example but it won't work for billing address fields.

## Description:

(https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_edit_form.html)

When trying to override the elementTmpl of a billing address field like company for example using the above guide as an example, you will receive a knockout.js err

[2021-12-13 13:58] BarnyShergold commented on #9281
@hguthrie - If "Domain Layer" is defined as the business layer and encapsulates the business logic and data, then the page itself is defining this. We could add "Domain Layer" to the glossary for a wider use but in the case of this page, isn't it rather circular and thus redundant? I say, just remove the link, what do you think?

[2021-12-14 22:50] ak77-prime opened #9290 "Cloud log rotation needs clarification"
# General issue

Feedback on page: https://devdocs.magento.com/cloud/project/log-locations.html

## Description:

Log rotation is not available on Starter plans.

Also, indicate that rotation only applies to files with a fixed name, not dynamic name, such as a date and/or timestamp

## Possible solutions:

Update this section:

[code]

To this:

[code]

[2021-12-15 19:32] dobooth commented on #9286
Dupe or related to https://github.com/magento/devdocs/issues/9287

[2021-12-15 19:37] dobooth commented on #9279
Let us know if any of the docs needs updating around this.

[2021-12-15 19:37] #9279 closed

[2021-12-16 15:15] MeatPopsicle opened #9291 "Incorrect file name used in custom Fastly VCL snippet steps"
# General issue

## Description:

Misleading instructions in step 4 of: https://devdocs.magento.com/cloud/cdn/cloud-vcl-custom-snippets.html#add-vcl-snippets-using-the-fastly-api:

Step 3 mentions:
Create and save your custom VCL code in a JSON file

Step 4 then directs:
curl -H "Fastly-Key: $FASTLY_API_TOKEN" https://api.fastly.com/service/$FASTLY_SERVICE_ID/version/$FASTLY_EDIT_VERSION/snippet -

[2021-12-17 23:10] andrewmortiz opened #9292 "Cloud user update behavior changed"
# General issue

Feedback on page: https://devdocs.magento.com/cloud/project/user-admin.html

## Description:

The addition of a user no longer triggers an automatic redeployment; however, a redeploy will still need to be triggered for the addition of the user to take place.

## Possible solutions:

Update this section with the new proccess:
Changing user configuration on a Adobe Commerce on cloud

[2021-12-21 01:12] ak77-prime opened #9296 "Feedback on page: /cloud/project/services.html"
# General issue

## Description:

https://devdocs.magento.com/cloud/project/services.html#service-versions

The version compatibility grid is not accurate, specifically the MariaDB version - the 2.4 column indicates 10.2-10.4 are supported - but it should be further broken down into 2.4.0 (which supports all those versions,) and 2.4.1-2.4.3 (supports 10.4 only)

## Possible solutions:

Take the cu

[2021-12-21 03:53] hguthrie commented on #9296
The information in the install guide is not exactly the same compatibility for the Cloud infrastructure. The Cloud guide takes the "cue" from ece-tools and is usually updated or verified on release.

[2021-12-21 03:54] #9296 closed

[2021-12-22 07:54] pawan opened #9297 "Feedback on page: /guides/v2.4/howdoi/custom-attributes/text-field.html"
# General issue

Unused dependency and wrong Constant

## Description:

- In the topic on step number 4 `CustomerMetadataInterface::ENTITY` is used but there is no such constant is available in that class
- Later in `Code reference`, Used `Customer::ENTITY` which can be replaced by `CustomerMetadataInterface::ENTITY_TYPE_CUSTOMER`
- Can remove `use Magento\Customer\Model\Customer;`

## Possible so

[2021-12-22 07:54] pawan commented on #9297
@magento I am working on this

[2021-12-22 19:10] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-12-22 19:23] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-12-22 19:31] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2021-12-22 20:44] lenaorobei commented on #8886
@magento give me 2.4-develop instance with edition b2b

[2021-12-27 04:45] rajatpatil572 opened #9299 "Getting an error when running the REST configurable product tutorial"
Affected page: /guides/v2.3/rest/tutorials/configurable-product/define-config-product-options.html

I get the error when I try to map

{"message":"The child product doesn't have the \"%1\" attribute value. Verify the value and try again.","parameters":["gender"]}

[2021-12-31 13:29] keyurshah070 opened #9302 "Release policy doesn't appear in left nav"
# General issue

## Description:

https://devdocs.magento.com/release/policy/
No active class(which can say that you are on this menu) on Release Polich when you are visiting the Release Policy page
![Release policy _ Adobe Commerce Developer Guide](https://user-images.githubusercontent.com/17308601/147825696-0dbc41b3-4be2-46d1-865b-7b98e4066cf4.png)

while active classes exists when you are visit

[2022-01-04 03:57] leduydong94 opened #9305 "Bug with currency symbol in magento 2.4.3"
# General issue

## Description:

I tried using Euro as my currency, and I noticed, when I visit the product page, the currency symbol appears 1s after the page loads, then disappears, I checked in the vendor magento, I noticed in file /vendor/magento/module-directory/Model/Currency.php the function getOutputFormat is returning '%s' instead of '€%s', so when javascript (file /Magento_Catalog/js /p

[2022-01-04 08:08] leduydong94 commented on #9305
@magento I am working on this

[2022-01-04 13:36] ioweb-gr opened #9306 "Missing example for scalar attributes"
# New topic request
Please add an example for a scalar attribute and how to persist in database at https://devdocs.magento.com/guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html

## Description

The docs accurately describe how to add non scalar attributes but there's no clear example for scalar attributes. Should we add them as a table column, as an attribute or always us

[2022-01-04 13:39] DenisSaltanahmedov commented on #9299
@magento I am working on this

[2022-01-04 19:32] lenaorobei commented on #8886
@magento give me 2.4-develop instance

[2022-01-05 15:42] katmoon opened #9307 "Add Security info to Availability page"
# General issue

Affected page:  https://devdocs.magento.com/release/availability.html

https://github.com/magento-commerce/security-package versions compatibility information is missed on this page
as well as https://github.com/magento-commerce/security-package-ee
and https://github.com/magento-commerce/security-package-b2b

## Possible solutions:

Please add similar information for the packages

[2022-01-05 18:09] #9297 closed

[2022-01-05 18:46] Viper9x commented on #9264
@magento I am working on this

[2022-01-05 19:31] Iskandarcoder opened #9310 "Feedback on page: /guides/v2.3/install-gde/install-flow-diagram.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2022-01-05 19:38] keharper commented on #9310
@Iskandarcoder  You didn't provide any commentary on the topic. Please update this PR.

[2022-01-05 19:50] keharper commented on #9302
@dshevtsov Can you take a look at this?

[2022-01-05 19:55] dshevtsov commented on #9302
@bdenham @belbiy please advise on the issue

[2022-01-05 21:16] belbiy commented on #9302
I think it's because the script in the nav expects the URL to be the same structure (have `.html` extension). I think it can be fixed by changing the entry in [https://github.com/magento/devdocs/blob/master/src/_data/toc/release.yml ](https://github.com/magento/devdocs/blob/master/src/_data/toc/release.yml#L21) to have the `.html` extension.

[2022-01-05 21:45] dshevtsov commented on #9302
@belbiy good catch. I think it should be `/release/policy/`, in a similar way with `/release/` above.

[2022-01-05 22:17] belbiy commented on #9302
Well, i don't remember exactly what's the logic there, but the entry in TOC supposed to match what Jekyll returns from `page.url`, basically use the same permalinks style in TOC as in Jekyll setup.

[2022-01-05 22:29] #9302 closed

[2022-01-06 05:29] Viper9x commented on #9281
@magento I am working on this

[2022-01-06 09:06] Viper9x commented on #9268
@AboElnoor The feature "Modify Media Library folder permissions" is available since Magento 2.0, I think it works with all magento 2 versions: 2.0.x to the latest version. In that case, we don't need to specify version number on the tutorial.
@dobooth What is your thought?

[2022-01-06 10:48] BarnyShergold commented on #9305
@leduydong94 - This is not a DEVDOCS issue but one with code, so this is the wrong place to raise it. You should create an issue on the magnto/magento2 repo.

I am therefore closing this issue.

Thank you!

[2022-01-06 10:48] #9305 closed

[2022-01-06 13:20] Viper9x commented on #9286
@dobooth the issue was fixed in the pull request https://github.com/magento/devdocs/pull/9298

[2022-01-06 14:02] AboElnoor commented on #9268
@Viper9x Thanks for your answer, but I'm thinking about something like what is existing in the PHP manual

Look at the following:
![Screenshot-20220106155933-358x100](https://user-images.githubusercontent.com/16509141/148394371-e151e371-7346-4791-9e91-bb91b42b57b1.png)

I think it will be extremely useful.

[2022-01-06 15:02] Viper9x commented on #9268
@AboElnoor I do not understand, what do you mean?
If you want to check Magento 2.4.2, you can see this code for example:
https://github.com/magento/magento2/blob/2.4.2/app/code/Magento/Catalog/etc/config.xml#L68

[2022-01-06 16:22] #9281 closed

[2022-01-06 18:51] keharper commented on #9268
@AboElnoor We don't maintain separate documentation for each patch release. Instead, the docs reflect the code as of the most recent patch release, unless otherwise noted. We do not have any plans to change this approach.

I looked at the history of the page, and it appears we updated it for 2.4.3-p1, due to some backward incompatible changes. Previously, the configuration was done in a `di.xml` f

[2022-01-06 18:53] keharper commented on #9310
Closing due to the lack of commentary.

[2022-01-06 18:53] #9310 closed

[2022-01-07 08:14] Viper9x commented on #9268
@keharper thanks for the information.
Bonus on @keharper answer: the feature is also supported on 2.3.7-p2 https://devdocs.magento.com/guides/v2.3/release-notes/backward-incompatible-changes/#media-gallery-folders

I've read the history of the page, @dobooth just updated the page to support the new changes in magento 2.3.7-p2 and 2.4.3-p1: [Added tutorial page](https://github.com/magento/devdocs/c

[2022-01-07 14:13] BarnyShergold commented on #9307
@dobooth - I'm not sure this is actually needed.
**magento/security-package** is included as part of **magento/product-community-edition**
**magento/security-package-ee** - doesn't seem to be installable via composer - I'm getting the "invalid package" error when I try to include this on a Cloud project.
**magento/security-package-b2b** is included as part of the B2B repo **magento/extension-b2b**

[2022-01-07 14:16] BarnyShergold commented on #9306
@ioweb-gr - You need to provide the relevant page links for the "The docs accurately describe how to add non scalar attributes" statement - otherwise we cannot review and determine what examples should be give (if any)

You'll need to do this in the next few days or we'll have to close the issue as currently it is incomplete.

Thanks!

[2022-01-07 14:40] ioweb-gr commented on #9306
Oh, I clicked on the devdocs page and added report an issue, I'm wondering why it didn't get the title :(
https://devdocs.magento.com/guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html

[2022-01-07 15:58] keharper commented on #9268
@Viper9x I'm OK with resurrecting the deleted material and having separate sections for the current and previous practices. I'll re-open the issue.

The symbolic link between the 2.3 and 2.4 versions would need to be broken. The 2.3 version would only mention before/after 2.3.7-p2, while the 2.4 version would only mention 2.4.3-p1. The content would otherwise be the same.

[2022-01-07 18:10] Viper9x commented on #9268
@keharper great. for the 2.4 version, what do you think about mentioning from 2.4.0 to 2.4.3 and after 2.4.3-p1?
2.4.0 to 2.4.3 will the same practices as before 2.3.7-p2

[2022-01-07 18:57] keharper commented on #9268
@Viper9x Yes, that would be fine.

[2022-01-09 12:34] Viper9x commented on #8304
@magento I am working on this

[2022-01-10 04:29] leduydong94 commented on #9305
Ok, I'll create on the magento/magento2 repo.
Thank you!

[2022-01-10 14:20] devim-dckap opened #9319 "Input for UpdateCompanyUser Graphql query requires a user id which is deprecated in customer object"
## Topic Link

The input for update company user mutation accepts an object for which the user id is not provided in company query users list
## Description

Hai ,
      I am working on Graphql api (Magento - 2.4) for B2B customers, Logged in as a company admin in Client, I want to edit and update a company user. As per the Magento Dev Docs, the [UpdateCompanyUser](https://devdocs.magento.com/guid

[2022-01-12 12:34] DenisSaltanahmedov commented on #9299
The tutorial is correct, I have tested all steps, I think in this case we have wrong 'attribute_id', I added a PR with additional info to prevent the case.
Thank you.

[2022-01-13 11:21] zhartaunik opened #9323 "Provide more information about creating custom attributes"
## Topic Link

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html

## Description

The information in this article describes the way how to create extension attributes for the system entity. On attempt to create ext attribute for the custom entity user will face with troubles.

## Possible solutions

Add the details that the custom entity should

[2022-01-17 14:48] BarnyShergold commented on #9306
Can you add this to the PR description please? So it's easy for the person doing the task to get the information? things can get lost in comments :)

[2022-01-17 15:21] ioweb-gr commented on #9306
Sure , how about now?

[2022-01-17 16:13] mistcooling opened #9326 "Bug report - elestic search engine seems not to be working"
products not showing on our website - developer says issue is elastic search engine

[2022-01-17 16:17] mistcooling commented on #9326
website is  : www.mistcooling.com

[2022-01-18 13:09] dobooth commented on #9326
Hi @mistcooling. This doesn't sound like a docs issue. For a real time production issue, you might want to contact Magento support (https://support.magento.com/hc/en-us/search?utf8=%E2%9C%93&query=elasticsearch) or active forums such as StackOverflow. If it is a bug with Magento, you can file an issue at https://github.com/magento/magento2

[2022-01-18 13:09] #9326 closed

[2022-01-18 18:26] keharper commented on #9319
@devim-dckap This is a known issue, though I can't find it. Since this is B2B, the issue could be filed under a private repo that I don't know about.

Maybe you can obtain the ID using REST. Here's a pointer to the docs.

https://devdocs.magento.com/guides/v2.4/b2b/company-users.html

You could also check for workarounds on the graphql channel of the Magento Open Source Slack site.

Closing, becau

[2022-01-18 18:26] #9319 closed

[2022-01-20 18:30] #9290 closed

[2022-01-20 18:30] #9292 closed

[2022-01-20 21:03] #9280 closed

[2022-01-20 21:03] #9291 closed

[2022-01-20 21:12] #8304 closed

[2022-01-20 21:12] #9299 closed

[2022-01-25 17:40] #9264 closed

[2022-01-27 03:49] ak77-prime opened #9336 "Request for a topic update"
## Topic Link

https://devdocs.magento.com/cloud/project/project-upgrade.html#update-the-configuration-file

## Description

The hooks mentioned here appear to be outdated

## Possible solutions

The hooks should be changed to reflect https://github.com/magento/magento-cloud/blob/master/.magento.app.yaml#L73-L84

## Additional information

https://github.com/magento/magento-cloud/blob/master/.mage

[2022-01-27 12:46] #9117 closed

[2022-01-27 15:39] Viper9x commented on #9336
@magento I am working on this

[2022-01-28 08:35] ioweb-gr opened #9339 "Request for a topic update on including head scripts / styles"
## Topic Link

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-topics/css-themes.html

## Description

Please add an example of how to add css with preload in the head section.
Currently we can add scripts or stylesheets with the classic way of

[code]

But there's no clear way to add preloaded css

So how would we be able to do something like this?

[code]

## Possible solutions

I

[2022-01-28 15:45] keharper opened #9340 "Add error info to addProductsToCart mutation"
## Topic Link

https://devdocs.magento.com/guides/v2.4/graphql/mutations/add-products-to-cart.html

## Description

Add error information similar to what's present on [updateCartItems](https://devdocs.magento.com/guides/v2.4/graphql/mutations/update-cart-items.html#errors).

## Possible solutions

## Additional information

[2022-01-28 20:50] #9336 closed

[2022-02-01 05:42] benn1988 opened #9345 "Deprecated method shown in incorrect version"
## Topic Link

[https://devdocs.magento.com/guides/v2.4/extension-dev-guide/view-models.html](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/view-models.html)

## Description

The 2.4 version is a symlink to the 2.3. In 2.4 for other pages, the $block->escape methods have been update to use the $escaper, since using it from $block has been deprecated, but on this page, it still shows

[2022-02-02 04:27] ak77-prime opened #9346 "Request for a topic update"
## Topic Link

https://devdocs.magento.com/cloud/env/environments-start.html

## Description

I'm trying to search for ``install magento-cloud`` in devdocs but it's not even in the top results.

I did manage to find this page, but the text below doesn't contain a link on how to install the CLI:

After you **install the Magento Cloud CLI** and set up SSH keys for remote access to your Cloud infrast

[2022-02-08 01:41] SmpromoStars opened #9350 "Request for a new topic"
## Description

## Content checklist

-  [ ] The topic provides an explanation of how ____ works.
-  [ ] The topic provides steps for ____.
-  [ ] The topic contains code samples that shows ____.
-  [ ] Other (please specify)

## Additional information/resources

[2022-02-08 01:42] SmpromoStars opened #9351 "Hi @SmpromoStars. Thank you for your report."
Hi @SmpromoStars. Thank you for your report.
To speed up processing of this issue, make sure that you provided sufficient information.

Add a comment to [assign the issue](https://devdocs.magento.com/contributor-guide/contributing.html#assigning-an-issue): `@magento I am working on this`

---
-  Join [Magento Community Engineering Slack](https://opensource.magento.com/slack) and ask your questions

[2022-02-08 15:00] keharper opened #9353 "Correct instructions for running GraphQL functional tests"
## Description

Affected page: https://devdocs.magento.com/guides/v2.4/graphql/functional-testing.html#run-functional-tests

Update the path for running the tests as described at the bottom of https://github.com/magento/magento2/issues/32252

[2022-02-08 18:16] meker12 opened #9355 "Request clarification in Release Information topics"
## Topic Link

We have two places identified as _Release Information_

[Release Information - release notes](https://devdocs.magento.com/guides/v2.4/release-notes/bk-release-notes.html) - version specific Adobe Commerce and Magento Source release notes, Backward incompatible changes, and links to release notes for other offerings (B2B, GraphQL, Inventory Management, and so on)

[Release Informatio

[2022-02-08 20:23] goivvy commented on #8951
@hguthrie Done, please review - https://github.com/magento/devdocs/pull/9356

[2022-02-09 04:57] denish-c-vachhani opened #9357 "Installation roadmap - 404"
## Description

https://docs.magento.com/user-guide/magento/installation.html
Open above url **click on "Installation roadmap"** it will redirect to "https://devdocs.magento.com/guides/v2.4/install-gde/install-roadmap_part1.html?_ga=2.113227276.963052517.1644381423-691481920.1644381423"

This link goes to 404 page.

### Steps to reproduce

1. First Step - Open **https://docs.magento.com/user-guide

[2022-02-10 07:32] sprankhub commented on #9353
Please mind that this also affects integration tests.

[2022-02-10 13:32] BarnyShergold commented on #9357
@denish-c-vachhani - the link is malformed and install-roadmap-part1 doesn't exist on DEVDOCS.

In any case the issue on docs.magento.com which is this repo : https://github.com/magento/merchdocs/issues

You will need to raise this exact same issue on that rep. I'm asking you to do this as then you can be credited for the issue and keep track.

I am closing this PR as it's not for this repo

[2022-02-10 15:12] #9350 closed

[2022-02-10 15:12] danidelcar commented on #9351
this was automatically generated and linked to 9350. closing it

[2022-02-10 15:12] #9351 closed

[2022-02-10 15:17] danidelcar commented on #9346
In order to help clarity in the page https://devdocs.magento.com/cloud/env/environments-start.html we should relocate the link pointing to https://devdocs.magento.com/cloud/reference/cli-ref-topic.html to the top paragraph/section.

[2022-02-10 15:21] danidelcar commented on #9339
Hi @dshevtsov do you think you could help with this issue?, or point to the right person to address it? Thanks!

[2022-02-10 16:56] danidelcar commented on #9339
Thanks Dima!

[2022-02-11 07:13] ak77-prime opened #9360 "Request for a topic update"
## Topic Link

https://devdocs.magento.com/cloud/project/services-elastic.html#elasticsearch-software-compatibility

## Description

Change the Elasticsearch service version in relation to the Elasticsearch composer package version - ES 7.7 has reached EOL and the current supported version is 7.9

## Possible solutions

Modify 7.7 to 7.9 for ``default versions for Adobe Commerce versions 2.3.5 and

[2022-02-11 23:49] ak77-prime opened #9361 "Request for a topic update"
## Topic Link

https://devdocs.magento.com/cloud/project/services-elastic.html

## Description

This is inaccurate:

[code]

## Possible solutions

It should read:

[code]
## Additional information

[2022-02-12 07:28] Viper9x commented on #9360
@magento I am working on this

[2022-02-14 16:55] oasis1992 opened #9365 "Create a new query for get a detail requisition with graphql"
## Topic Link
https://devdocs.magento.com/guides/v2.4/graphql/queries/customer.html#customerAttributes

## Description
Is difficult  manage cache of requisitions list between views

## Possible solutions
The solution for me is create a new query 'getRequisition(requisitionId: ID!)', this would improve the manage cache

[2022-02-15 15:58] hguthrie commented on #9360
I cannot confirm that ElasticSearch 7.9 has been successfully tested for 2.3.5 and 2.4.1. Closing this issue.

[2022-02-15 15:58] #9360 closed

[2022-02-17 19:11] dobooth commented on #9365
Thanks for the issue, @oasis1992. This sounds like you want a new GraphQL query, rather than an update to the docs. You should open an issue to the magento2 [codebase](https://github.com/magento/magento2/issues).

[2022-02-17 19:11] #9365 closed

[2022-02-20 18:31] MateusDadalto opened #9368 "Fix example for createGiftRegistry mutation"
## Topic Link

https://devdocs.magento.com/guides/v2.4/graphql/mutations/create-gift-registry.html

## Description

The example contains `giftRegistryTypeUid` field but the right name is `gift_registry_type_uid`

## Possible solutions

Change the field name to `gift_registry_type_uid`

[2022-02-20 18:35] MateusDadalto opened #9369 "Fix example for updateGiftRegistryItems mutation"
## Topic Link

https://devdocs.magento.com/guides/v2.4/graphql/mutations/update-gift-registry-items.html

## Description

The example contains giftRegistryTypeUid field but the right name is gift_registry_type_uid

## Possible solutions

Change the field name to gift_registry_type_uid

[2022-02-23 15:44] #8951 closed

[2022-02-23 23:13] #9222 closed

[2022-02-25 15:11] #9346 closed

[2022-02-28 18:15] Xiaoyi-ji-11 opened #9372 "Order Status Change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://magento.redoc.ly/2.4.3-admin/tag/orders#operation/salesOrderRepositoryV1GetListGet

### What's wrong with the content?

The order status enum changed without notice.
<img width="624" alt="image" src="https://user-images.githubusercontent.com/88681868/156036030-2d45c681-b396-4ff5-8b66-f7ad

[2022-03-01 17:34] keharper commented on #9372
@Xiaoyi-ji-11 We need more information to proceed with this issue.

The REST documentation is autogenerated, and enum values are not listed. I did a quick search in `2.4-develop` branch of the magento2 repo for `prepare_for_shipment`, but I found nothing. So, I can't verify that the enum changed in our codebase. It's possible that an extension added it.

If you can find the new enum value in the M

[2022-03-03 19:02] jhadobe commented on #9005
@magento import code to magento-devdocs/devdocs

[2022-03-04 20:17] #9005 closed

[2022-03-05 00:41] ak77-prime opened #9375 "Adding an environment-level user from the Cloud UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/user-admin.html#cloud-user-webinterface

### What's wrong with the content?

The instructions under this section are incorrect:

``Add a environment-level user:``

The same steps are to be used as in ``Add an project-level user:`` above - i.e., ``In the P

[2022-03-06 00:15] SpyderZ opened #9376 "Code format does not match current Magento 2.4.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/config-guide/sessions.html

### What's wrong with the content?

This applies to older versions of Magento, the code format does not match the code in the env.php file on version 2.4.3. Attempting to paste it into the file crashes the Magento instance.

###

[2022-03-07 00:16] alejandro-rgp opened #9377 "Conflicting content in OpCache timestamp validation item"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/optimal-dev-environment.html

### What's wrong with the content?

In the last part of this documentation page (Opcache timestamp validation item), the text says that you should on the Opcache timestamp validation for development, b

[2022-03-07 00:19] alejandro-rgp commented on #9377
@magento I am working on this

[2022-03-07 23:12] keharper commented on #9248
Fixed in #9252

[2022-03-07 23:12] #9248 closed

[2022-03-08 16:39] adamlavery opened #9379 "Inadequate description, overview, usage of UI components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-insertlisting.html

### What's wrong with the content?

As you say in the overview, naming and correct configuration is critical when comes to using UI components, yet you have nothing to describe how it all hangs together. Just

[2022-03-08 18:02] #9268 closed

[2022-03-09 21:42] goivvy commented on #8968
@BarnyShergold @keharper Is someone working on it? I see a PR but it's closed due to inactivity? Do you want me to take over?

[2022-03-09 21:48] goivvy commented on #8624
@bdenham Is it still needed?

[2022-03-10 16:22] goivvy commented on #8624
@magento I am working on this

[2022-03-15 10:12] oehmiche opened #9382 "The Link to sendgrid.com results in a 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The Link to the explanation of the SPF results in a 404.

### Expected behavior

The link to the explanation of the SPF displays information concerning SPF.

### Steps to reproduce

- open the sendgrid documenation https://devdocs.magento.com/cloud/project/sendgrid.html
- click on the link "S

[2022-03-15 16:10] i6media opened #9383 "Incorrect Variable in Example"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/framework/datetime.html

### What's wrong with the content?

In the Example code on line 28 there's a wrong variable:

`return $this->dataTime->formatDate(time());`

should be:

`return $this->dateTime->formatDate(time());`

### What cha

[2022-03-15 18:39] #9382 closed

[2022-03-15 19:41] mpchadwick opened #9384 "The Cloud documentation on crons should cover how the jobs are run across the cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

I think the DevDocs should cover how cron execution is split across the server cluster. My understanding is as follows (I'm only really interested in / aware of Pro production)

- On a traditional 3 server cluster the crons can be executed on any given node and are distributed across the clust

[2022-03-15 19:59] hguthrie commented on #9384
@mpchadwick Thanks for calling out this gap in the Cloud docs. Great timing! We are in the process of evaluating the cron job content, and I am going to add your suggestions to our internal discussion. I hope to provide some exciting updates to this in the near future.

[2022-03-16 13:30] schizek opened #9385 "Grunt LESS Documentation should make local-themes.js vs themes.js more clear and work by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-topics/css_debug.html

### What's wrong with the content?

When following these instructions the user will always get the error “Error: Cannot find module ….” because the tutorial suggests to edit themes.js directly.  The "important n

[2022-03-16 14:57] alanbort opened #9386 "Unclear what the default behavior is when build or deploy variables are not explicitly set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/env/variables-build.html#skip_scd

### What's wrong with the content?

All varialbes in the deploy and build sections have the statement:
Default—Not set

This statement is unhelpful as the meaning of a default is the behavior when a value is not explicitly set.

[2022-03-16 15:20] alanbort commented on #9386
This issue can be seen in several variables (but notably some have actually useful default values):
https://devdocs.magento.com/cloud/env/variables-post-deploy.html
https://devdocs.magento.com/cloud/env/variables-deploy.html
https://devdocs.magento.com/cloud/env/variables-build.html
https://devdocs.magento.com/cloud/env/variables-global.html

[2022-03-16 15:50] dobooth commented on #9307
Hi @katmoon Sorry for the delay in reply here. What do you think about Barney's comment? Are these extension pulled in via  parent extensions?

[2022-03-16 16:06] hguthrie commented on #9386
The ones that are set have a default value. The ones that are not set do not have a default value.
We can look at the [schema](https://github.com/magento/ece-tools/blob/develop/config/schema.yaml) and see if there are any updates we need to make.

[2022-03-17 12:52] alanbort commented on #9386
Perhaps I am missing something. What I would expect to see in the document about variables is how they influence the behavior of the process. In this context, stating that a variable is not set by default is not really helpful as it doesn't explain how the process behaves by default. It's also a bit redundant because `default` kind of means "this is what we use when the value is not explicitly set

[2022-03-17 17:02] hguthrie commented on #9386
Ece-tools sets the `env.php` file based on values from [Cloud variables](https://devdocs.magento.com/cloud/env/variables-cloud.html), variables [set in the Cloud UI](https://devdocs.magento.com/cloud/project/project-webint-basic.html#project-conf-env-var), and the `.magento.env.yaml` configuration file. The environment variables you are referring to are used in the `.magento.env.yaml` file to cust

[2022-03-17 18:10] #9372 closed

[2022-03-17 22:40] alanbort commented on #9386
Thanks for the clarification! This helps me understand the scope of the documentation and where to find the pieces I was missing. I still would appreciate a review of it, as I'm probably not the only one that got confused :)

[2022-03-18 12:18] adamlavery opened #9387 "Incomplete documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-insertlisting.html

### What's wrong with the content?

Take for example this bit of code taken from module-catalog\Ui\DataProvider\Product\Form\Modifier\Related.php

[code]

Where is 'map' or 'links' described or references in t