[2020-09-03 18:32] shrielenee commented on #7374
Are you still on this @atwixfirster ?

[2020-09-03 18:32] dobooth commented on #5001
#7707 was closed due to the submitter not returning to complete the PR. The work is still there.

[2020-09-03 18:37] shrielenee commented on #7219
@chandru-199 It doesn't look like you've made any progress on this? I'm going to remove you as assignee and put it back into Ready for Dev. If you want to pick it up again, please do!

[2020-09-03 18:38] shrielenee commented on #7260
This has seen no progress for months. @serhiyzhovnir if you wanna grab this again please do! You were removed as assignee for now.

[2020-09-03 18:38] keharper commented on #7374
The schema for compare lists is still under development, so the work on this issue can't move forward.

[2020-09-03 18:40] shrielenee commented on #7332
Hey @korostii @jfrontain is this still in progress?

[2020-09-03 18:42] shrielenee commented on #7204
I'm removing you as assignee @nitish-ranjan05 as there has been no progress on this since May. If you'd like to pick this issue back up again and work on it, please do!

[2020-09-03 18:43] shrielenee commented on #7093
@nitish-ranjan05 There has been no activity on this issue so this will be moved back to Ready for Grooming.

[2020-09-03 18:44] shrielenee commented on #6383
@ajithkumar-maragathavel Removing you as assignee as there has been no progress on this issue. Please re-assign if you want to work it!

[2020-09-03 18:45] bdenham commented on #5001
I reopened and will merge this #7707 because the PR changes were correct.

[2020-09-03 18:45] #5001 closed

[2020-09-03 18:48] shrielenee commented on #1727
@paliarush @buskamuza Can we please get some assistance here? 🙏

[2020-09-03 18:49] shrielenee commented on #5253
Should this be moved out of Dev in Progress @dshevtsov @jeff-matthews ? What's the status on this?

[2020-09-03 18:54] jeff-matthews commented on #5253
As far as I know, we're still stuck on version .7 of the MDL tool, but it is not currently in progress. I'll move it.

[2020-09-03 19:04] shrielenee commented on #5473
Clearing the assignee because there has been no action on this since September 2019.

[2020-09-03 19:05] shrielenee commented on #4451
Removing you as assignee @diazwatson. If you want to pick this up again in the future, please do!

[2020-09-03 19:11] shrielenee commented on #6735
Hey @serhiyzhovnir What is the status on this?

[2020-09-03 19:12] shrielenee commented on #6414
Removing you @DrewML as there has been no activity on this. If you can help us, though, please re-grab it! Thanks!

[2020-09-03 19:14] shrielenee commented on #6168
There hasn't been any work on this issue, so I'm moving it back to Ready for Dev. If someone wants to grab this to work please do!

[2020-09-03 21:20] BarnyShergold commented on #7377
@dougkm
I have reviewed the documentation and on the Scaled Architecture and I'm unsure as to what you need clarifying?

Scaled Architecture is available to Pro Projects with  Pro48+ - so its an optional feature.

The first part of you comment says -

However, this is a statement not a question or a request - what do you need?

Secondly you say -

But this is an incomplete sentence, the possible v

[2020-09-03 21:35] BarnyShergold commented on #7204
@shrielenee - This issue is not a DevDoc issue - this seems to be new behaviour in Magento. I have noticed this happen on brand new attributes. You need to wait until indexing & caching catches up. What seems to sometimes happen is the new value IS saves to the database, it's just not displayed on the Admin Product page.

Now it does seem odd behaviour (and I've seen it on Cloud Commerce - drove m

[2020-09-03 21:49] BarnyShergold commented on #7802
I've just read this page and that section on the Production server reads WRONG.
Yes, website and store settings can all be contained in config.php so they can be tested on Dev or Staging and then deployed to Production. But products, categories & catalog? That's always done either manually or by import on Production (or perhaps by a PIM)

This page needs to be properly looked over. Not just for wo

[2020-09-03 22:00] hostep commented on #7802
It depends on if the configuration settings have [been marked as sensitive or system-specific](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/configuration/sensitive-and-environment-settings.html#how-to-specify-values-as-sensitive-or-system-specific), if they aren't, they will get added to your `config.php` file. I'm pretty sure that most sensitive config values from core Magento are

[2020-09-03 22:03] shrielenee commented on #7204
If this is a quasi-bug that resolves itself and is not really a docs issue (as you mentioned, and I should have seen before) we should close this. What do you think @BarnyShergold ?

[2020-09-03 22:08] BarnyShergold commented on #7204
I would say close it and recommend to @neobiz to raise on magento/magento2 if they wish

[2020-09-04 01:48] mmborado opened #7818 "Feedback on page: /guides/v2.4/graphql/mutations/update-cart-items.html"
# General issue

## Description:

Query does not return correct cart data after removing multiple items

## Additional information:

After setting the quantities of multiple items to 0 the cart returns, but only removes 1 item.
If I had 3 items in cart and set all 3 to be removed, then the cart would display 2 items.

I queried for the cart after the mutation and it shows that all the items have b

[2020-09-04 03:05] keharper commented on #7818
Hi @mmborado. I replicated your scenario and got the same results as you. However, this is a code bug, not a documentation bug. Please open an issue on the code repo, https://github.com/magento/magento2/issues, so that this can be fixed.

[2020-09-04 03:05] #7818 closed

[2020-09-04 08:30] BarnyShergold commented on #7625
@milindsingh The scopes section (as well as the themes section) in config.php is not supposed to be added by hand but by using the app:config:dump command as detailed here : https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-config-mgmt-export.html

Magento will then add the correct values for group_ids and store_ids as they are.

If this information was added to the p

[2020-09-04 08:36] Eddcapone commented on #7802
There is another thing I don't understand... If I execute `php bin/magento app:config:dump` for example on the developer environment, then I can't edit settings in the backend anymore. So how am I supposed to make a settings change now? In developer environment you have to make changes often to test extensions or for debugging. Can I only make the change in the file *app/etc/config.php*? How are n

[2020-09-04 09:09] BarnyShergold commented on #7802
Part of the idea of this is to also stop unauthorised changes. You don't HAVE to use it. You could omit using it on development environments. You can even remove elements that you want people to be able to change in the admin.

On Cloud Commerce you also have the option to put settings in the .magento.app.yaml or Cloud Admin UI.

[2020-09-04 11:02] BarnyShergold commented on #7164
@dshevtsov @dobooth
I've checked all the files mentioned above and they are all flagged to be redirected to another page.
Some are now empty files and some like ~/_site/cloud/reference/docker-config.html have been removed completely.

I have run the comment myself and get a lot more now and they are all redirected files.

Therefore, is this really a bug? Given that this was raised 4 months ago and

[2020-09-04 12:20] Eddcapone commented on #7802
"Part of the idea of this is to also stop unauthorised changes."
This should work by setting up roles. Admins should be able to edit everything and other roles should be limited...

[2020-09-04 12:40] BarnyShergold commented on #7802
Well, thats a different type of discussion as this issue is all about documentation, not functionality.

But you can do both. Depends on how you want to set things up.

However, in the case of config.php the options are all there and well documented. The original reason for this issue DOES stand as the statements on https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/ are uncl

[2020-09-04 13:32] BarnyShergold commented on #7636
@buskamuza @dobooth @pmonosolo
Confirmed : Magento created the maintenance.flag file in the var folder
Confirmed : Every instance of maintenance.flag in the documentation refers to it being in var

The issue the OP has raised is that if you have a CUSTOM maintenance page, you should not use the CLI method as it does not create or do what the custom steps do.

Proposal : On this page : https://devd

[2020-09-04 13:33] BarnyShergold commented on #7739
@magento I am working on this

[2020-09-04 13:34] BarnyShergold commented on #7739
@dobooth - I'll work on this - the descriptions are rather  lacking

[2020-09-04 15:19] dshevtsov commented on #7164
@BarnyShergold, thank you for you feedback. I updated the report.

[2020-09-04 15:31] variax20 opened #7820 "2.4 index status labels are not correct in documentation"
# General issue

## Description:

The indexer status labels are different in 2.4 compared to what documentation says
https://devdocs.magento.com/guides/v2.4/extension-dev-guide/indexing.html

## Possible solutions:

Update the status labels from "Valid, Invalid, Working" to "Ready, Reindex Required, Processing"

## Additional information:

N/A

[2020-09-04 18:06] #1786 closed

[2020-09-05 06:09] swnsma commented on #7701
Hi @shrielenee!
Yes, it waits for https://github.com/magento/inventory/pull/3161 to be delivered first.

[2020-09-05 13:37] harakiri-cat opened #7824 "Feedback on page: /guides/v2.4/frontend-dev-guide/css-topics/css_debug.html"
# General issue

## Description:

Wrong paragraph 5

## Possible solutions:

You should create dev/tools/grunt/configs/local-themes/themes.js file
or edit
grunt-config.json file

## Additional information:

Gives and error:
 **$grunt clean**
Loading "Gruntfile.js" tasks...ERROR

Warning: Task "clean" not found. Use --force to continue.

Aborted due to warnings.

[2020-09-06 09:15] medigeek opened #7825 "Feedback on page: /cloud/reference/git-integration.html -- confusing sentence: "A branch name of Sprint2 and sprint2 are just fine.""
# General issue

While explaining the case-insensitive unique naming of branches, the documentation goes on claming: "A branch name of `Sprint2 ` and `sprint2 ` are just fine."

## Description:

This paragraph explains that the naming of branches must be unique in a case-insensitive way (i.e. you can't have two branches named Sprint and sprint). The last line is confusing the reader.

a) Are Sprin

[2020-09-06 09:17] medigeek commented on #7825
@magento I am working on this

[2020-09-07 07:26] YiffyToys opened #7829 "Feedback on page: /guides/v2.3/config-guide/elasticsearch/configure-magento.html"
# General issue

## Description:

There is no " Stores > Settings > Configuration > Catalog " in Magento  2.3.5-p2 CE
In  " Stores > Settings > Configuration "there is a scope selection and country+state+locale options + store information.
It's not in "Default Config" or "Stores Configuration" and not in the specific store itself.
Since it's a system wide or store wide setting, it can't possibly b

[2020-09-07 07:33] #7829 closed

[2020-09-07 19:15] chandru-199 commented on #5001
This issue have some labels. But PR linked with this issue doesn't have any labels. Could anybody look into it?

[2020-09-08 08:49] Eddcapone opened #7836 "Feedback on page: /guides/v2.4/extension-dev-guide/factories.html - Whats the benefit of using factories?"
# General issue

## Description:

It does not explain why factories are used. What are the benefits? Why were they introduced?

## Possible solutions:

Explain benefits.

## Additional information:

[2020-09-08 09:05] Eddcapone opened #7837 "Describe needed parameters for a factory create"
# General issue

## Description:

How do we know which parameters we can pass to the Factory create method?
I looked up the class **Magento\Search\Model\Autocomplete\Item** and it only has a method "getTitle" so why did the autor added **num_results** ?

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/factories.html

## Possible solutions:

## Additional information:

[2020-09-08 18:57] #7825 closed

[2020-09-08 19:25] #5253 closed

[2020-09-08 19:36] BarnyShergold commented on #7164
@dshevtsov - I asked the other day a few questions but you forgot to answer 👍-
"Is this really a bug? Given that this was raised 4 months ago and nothing commented is it still relevant? Can we close this issue?"

What problem is it actually causing? Do you have suggested fix?

[2020-09-08 19:38] BarnyShergold commented on #7204
@shrielenee - As we've not had any nos to the question of closing, I am going to close this issue.

@neobiz - If this is still causing an issue for you then please raise on magento/magento2 as it's a functional issue not a devdocs one.

[2020-09-08 19:38] #7204 closed

[2020-09-08 19:44] dshevtsov commented on #7164
The bug is in that more than one page has one (same) destination.
I suggested how it should be fixed in _Possible solutions_.

[2020-09-08 20:26] #6332 closed

[2020-09-08 21:22] BarnyShergold commented on #7164
AH- sorry do apologise it was one line and got swamped!

However I've dug into this and it looks like what's been happening is people create a newly named file, do the redirect in the new file referencing the old file but don't remove the old file.

It's going to take some time to clean this up but I'll get onto it.

[2020-09-08 21:23] BarnyShergold commented on #7164
@meker12 - I'll take this one on

[2020-09-08 21:24] BarnyShergold commented on #7164
@meker12 - Is there anyway we can add bin/jekyl doctor to the tests to prevent this happening?

[2020-09-08 21:26] meker12 commented on #7164
That

@dshevtsov What do you think?

[2020-09-08 21:32] dshevtsov commented on #7164
Unfortunately, no, because we use symlinks, and thus the report won't be empty. Explanation from the Description:

[2020-09-09 00:17] BarnyShergold commented on #7400
@carlos-reynosa This PR #7810 was added about 5 days ago and has already been merged. Please can you review the changed and confirm if you agree this PR fulfils this issue?

@shrielenee - FYI

[2020-09-09 08:24] BarnyShergold commented on #7837
@Eddcapone - Can you please either rename this Issue OR better, merge it with #7836 - The issue can simply be to improve this one page for multiple reasons - then we can have one PR to deal.

[2020-09-09 08:34] Eddcapone commented on #7837
@BarnyShergold Those are two unrelated feedbacks though, sure that I should merge it?

[2020-09-09 08:34] BarnyShergold commented on #7836
@Eddcapone @meker12
I'm not sure if it's the place of technical documentation of a product to have to explain why things are the way they are. If we had to do this then where would it end? IMO a developer accepts that code works the way it does (if they want justification they can ask) and needs a technical document to explain the WHAT and the HOW.

is there a need to explain the reasons for all t

[2020-09-09 08:36] BarnyShergold commented on #7837
As I said - if you don't want to merge them - can you give them different and more meaningful titles? At the moment we have 2 issues with exactly the same name - gets confusing. People should have an idea about what an issue is by just reading the title and not having to open it - there are a lot of issues :)

[2020-09-09 08:38] Eddcapone commented on #7836
"IMO a developer accepts that code works the way it does "
I can only accept something that I understand. I never heard about factories before, from my understanding it is used for better performance, because objects are only loaded when needed. Is it that bad to add a simple explanation whats the idea behind factories or at least add a reference to an article which explains this? I thought it is

[2020-09-09 08:40] Eddcapone commented on #7837
Sure, the title was auto generated.

[2020-09-09 08:48] BarnyShergold commented on #7836
Ah - what you need it more in depth information into what factories are and what they are for? I can understand that.

Factories have been around for a long time : https://en.wikipedia.org/wiki/Factory_(object-oriented_programming)

So - question - if you read the Wiki article about a high-level view of factories, does that make Magento's use of them clearer? Just trying to see what sort of improv

[2020-09-09 09:00] BarnyShergold commented on #7824
Hi @harakiri-cat - Can you add more information to the title of this issue so someone just reading the list of issues can have an idea what it's about? Thanks

[2020-09-09 09:17] BarnyShergold commented on #6168
@carlos-reynosa @shrielenee
The Cloud Metapackage pulls in the 4 main components -
                fastly/magento2
                magento/ece-tools
                magento/module-paypal-on-boarding
                magento/product-enterprise-edition

Would a brief description of the purpose of each of these packages be sufficient to solve this issue?

[2020-09-09 09:54] BarnyShergold commented on #7802
@Eddcapone @hostep

I'm thinking that that section on the Production Server should be stripped back to say -

Production system
Your live store. You should make minimal direct configuration changes here and certainly nothing that has not been tested on a Staging instance. If possible configuration changes should be made using Data Patches (https://devdocs.magento.com/guides/v2.4/extension-dev-guid

[2020-09-09 10:18] atwixfirster opened #7844 ""Get customer authorization token" page does have a content"
# Bug report

## Description

[Get customer authorization token](https://devdocs.magento.com/guides/v2.3/graphql/get-customer-authorization-token.html) page does have a content.

@keharper , could you please confirm the issue?

Because I see you removed all content from this page in https://github.com/magento/devdocs/commit/4524736df367b26579af02f9c5161b4ea309ab4a#diff-0b6fb511fd9b8b007e7802627358

[2020-09-09 11:04] Eddcapone commented on #7836
Yes a reference to wikipedia would make the topic clearer IMO and it would point out that this is a concept not only used in magento.

[2020-09-09 14:29] Spectre-Creative opened #7847 "Feedback on page: /guides/v2.4/graphql/queries/pickup-locations.html"
# General issue
Stores do not show up when searching for city/postcode.

## Description:
Checkout Page: In-Store Pickup "Select Store" input. If I type something then delete it, all stores show. But if I type anything (city or post code) no stores found.

The response gives items: [] when a search_term is given.

## Possible solutions:
//

//

## Additional information:
//

Have tried on the /swag

[2020-09-09 14:32] irenelagno commented on #7847
@magento give me test instance

[2020-09-09 14:32] irenelagno commented on #7847
@magento give me 2.4-develop instance

[2020-09-09 16:33] hostep commented on #7802
@BarnyShergold, regarding:

I can assure you that very few people do this, it might be considered a best practise, but you often have to deal with clients or project managers who want control over configuration settings without having to bother a developer every single time when they want to change a configuration setting (yes I know Magento Cloud actually has a UI for this, but this documentation

[2020-09-09 17:06] BarnyShergold commented on #7802
Agreed - but these documents should reflect best practise not what people actually do. Hence why the statement "If possible" - ie it's best if you do it this way but if you can't then that's up to you.

I stand by this wording.

[2020-09-09 17:29] irenelagno commented on #7847
@magento give me 2.4-develop instance

[2020-09-09 21:43] irenelagno opened #7852 "Test issue"
# Bug report

## Description

### Steps to reproduce

1. First Step
1. Second Step
1. Etc.

## Expected result

## Possible solutions

## Additional information

[2020-09-09 21:43] irenelagno commented on #7852
@magento give me 2.4-develop instance

[2020-09-09 22:11] irenelagno commented on #7852
@magento give me 2.4.0 instance

[2020-09-09 22:22] irenelagno commented on #7852
@magento give me new 2.4.0 instance with ee edition

[2020-09-09 22:23] irenelagno commented on #7852
@magento give me new 2.4-develop instance with ee edition

[2020-09-09 22:23] irenelagno commented on #7852
@magento give me  2.4-develop instance with ee edition

[2020-09-09 22:24] irenelagno commented on #7852
@magento give me 2.4-develop instance

[2020-09-09 22:25] irenelagno opened #7854 "Test issue 2"
# Bug report

## Description

### Steps to reproduce

1. First Step
1. Second Step
1. Etc.

## Expected result

## Possible solutions

## Additional information

[2020-09-09 22:25] irenelagno commented on #7854
@magento give me  2.4-develop instance with ee edition

[2020-09-09 22:26] irenelagno commented on #7854
@magento give me new 2.4-develop instance with edition ee

[2020-09-09 22:28] irenelagno commented on #7854
@magento give me 2.4-develop instance with ee edition

[2020-09-09 22:46] #7854 closed

[2020-09-10 15:44] BarnyShergold commented on #7844
This problem is due to redirects not being added correctly. I have checked and PR (#7843) will fix this as the file indicated will be removed and a redirect added to the new file

[2020-09-10 15:51] atwixfirster commented on #7844
I am not sure about redirects. File exists but contains and empty content.

[2020-09-10 16:11] keharper commented on #7847
Hi @Spectre-Creative, welcome to Magento.

It looks like you've find a code bug. and this is not the place to report that. Please go to https://github.com/magento/inventory and log an issue there.

Tagging @swnsma because he contributed the code and the devdocs page. He might know more.

[2020-09-10 16:11] #7847 closed

[2020-09-10 16:28] BarnyShergold commented on #7844
What seems to happen sometimes is if a page is moving to a new location, someone creates the new file, moves the content, adds the redirect and then leaves the old file empty. This time it looks like they forgot to add the redirect.

What will happen when my PR is merged is that if you try and go to get-customer-authorization-token.html you get redirected to authorization-tokens.html (the new page

[2020-09-10 16:55] keharper commented on #7844
I'm pretty sure I used the `mv` or `git mv` command to rename the file, but for some reason git decided there should be an empty file.

This is where the content lives now: https://devdocs.magento.com/guides/v2.4/graphql/authorization-tokens.html

Hopefully, the other PR will fix this. I'll keep this PR open and let the automation close it when #7843 is merged

[2020-09-10 18:14] jeff-matthews commented on #7852
@magento give me 2.4.0 instance with extension

[2020-09-10 18:29] meker12 commented on #7836
For high-level design questions, you can review discussions and decisions in the https://github.com/magento/architecture repository.

We are closing this issue, but we kept #7837 open with the request for improving the information provided in the example.

[2020-09-10 18:29] #7836 closed

[2020-09-10 18:52] meker12 commented on #4109
@pramodraam Thank you for your feedback! It doesn’t seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, contact [Magento Support](https://support.magento.com/hc/en-us/articles/360000913794-Magento-Help-Center-User-Guide#support-tickets)—They should be able to help you with this! Let us know if you have anymore questions.

[2020-09-10 20:42] atwixfirster commented on #7844
Hi, @keharper

I do not agree with you. [Authorization tokens](https://devdocs.magento.com/guides/v2.4/graphql/authorization-tokens.html) page does not provide an info how to use a generated token with `Bearer` , etc.

Thank you

[2020-09-10 21:55] #7852 closed

[2020-09-10 22:35] BarnyShergold commented on #6067
If we added a small section at the end of this : https://devdocs.magento.com/cloud/project/services-mysql.html#connect-to-the-database to describe how to remote access the databases (and choose a port) AND update the existing section to details different databases access and the ports?

 Is it necessary to say why someone would use a slave-db? The main reason I might use the slave (when needing di

[2020-09-10 22:57] BarnyShergold commented on #7844
@atwixfirster @keharper
Authorization Tokens page IS now the correct page. What may now be the issue is the content. So it looks like @keharper updated it when it moved. Strictly speaking my PR DOES solve this issues as what you have reported is a missing file/link

However, rather than opening another issue and another PR - if the two of you can agree what changes and additional content need to b

[2020-09-10 23:02] atwixfirster commented on #7844
Hi, @BarnyShergold

You can find an image [here](https://raw.githubusercontent.com/magento/devdocs/06b72cd6dbfe9c12df1db8def89f6d787f8885be/src/guides/v2.3/graphql/images/graphql-authorization.png).

Thank you!

[2020-09-11 08:03] BarnyShergold commented on #7844
@atwixfirster - I've added this now (had to update image links and the revoke link) on 2.3 & 2.4 versions. Does this read okay now?

[2020-09-11 13:23] hguthrie commented on #6067
I think it is very useful to provide an example use case, depending on whether it is a common task. (Weird, edge-cases are not helpful and can be confusing to new users.) I ask questions like—Is it a normal or preferred action to access the remote database? What problem can it solve for me or to what purpose does it serve? What do I need to be careful about when I do? Okay, show me the happy pathw

[2020-09-11 16:26] Eddcapone opened #7862 "More details needed about supported field types"
# General issue

/guides/v2.4/config-guide/prod/config-reference-systemxml.html

## Description:

There is information missing about the different supported types for fields, for example text, select, etc.
In this code you can see that the type of the field is `select`.

[code]
There is a list missing with all the various types available

[2020-09-11 17:44] #7164 closed

[2020-09-11 17:44] #7844 closed

[2020-09-11 20:25] hguthrie commented on #6067
Or, you can point to the [KB article for best practice](https://support.magento.com/hc/en-us/articles/360049045351).

[2020-09-11 22:31] jeff-matthews commented on #7852
@magento give me 2.4.0 instance with edition ee

[2020-09-13 21:21] keharper opened #7866 "GraphQL: Add schema coverage for multiple wishlists"
# Community engineering issue

Add documentation for the following mutations

createWishlist
deleteWishlist
copyProductsToWishlist
moveProductsToWishlist
updateWishlist

The `customer` query will need to be updated as well.

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28551

Magento 2 GitHub PR: h

[2020-09-14 17:01] #7739 closed

[2020-09-14 18:11] #7726 closed

[2020-09-14 18:36] BarnyShergold commented on #6735
@shrielenee - This reads like a Magento bug issue not a docs issue - can you confirm? If it's the former it should be closed?

[2020-09-14 18:40] shrielenee commented on #6735
Hey @BarnyShergold I cannot confirm this is a Magento bug but will privately contact Serhiy to see if we can confirm! Thanks!

[2020-09-14 19:12] shrielenee commented on #6735
@BarnyShergold I talked to Sergiy. The story is that it looks more like we have described a feature in docs that never actually worked in Magento. If we desire this functionality, it should be a feature request here:  https://github.com/magento/magento2.

We can't use the `component` as a child of the `formElements` node because of XML rules restrictions via the ui_configuration.xsd.

We should ad

[2020-09-14 21:46] BarnyShergold commented on #6735
@shrielenee - Ah I see - well, should we not just remove the whole example? Or is it the whole "Secondary Component" feature that doesn't work? If so can we not remove everything from "Declare a custom secondary component"?

Or would that confuse? Perhaps have -

### Declare a custom secondary component
**The current version of Magento does not yet support secondary components.**

[2020-09-14 22:30] BarnyShergold commented on #7625
@milindsingh - Just a final nudge - if we don't get feedback from you in the next 3 days, then this issue will be closed for inactivity

[2020-09-15 04:09] Stoyvo opened #7877 "Populating default values from config.xml"
# Example of Default Value in config.xml

Page: /guides/v2.4/ext-best-practices/tutorials/dynamic-row-system-config.html

## Description:

An example of config.xml default nodes, to provide a value on setup:upgrade.

It will answer the question of: How does a developer populate default values from config.xml?

## Possible solutions:

Add config.xml default value to document.

[2020-09-15 14:19] #7802 closed

[2020-09-15 14:51] belbiy opened #7878 "Delete unnecessary topic"
# General issue

page: /guides/v2.4/install-gde/continue-to-install.html

## Description:

Found some weird page while browsing the install guide:

1. This page is missing a title.
2. There's almost no real content on this page.

## Possible solutions:

Perhaps this page needs to be removed?

## Additional information:

[2020-09-15 15:11] Eddcapone opened #7879 "Feedback on page: /guides/v2.4/migration/migration-overview-how.html"
# General issue

## Description:

It misses the information how this can happen and what we can do if it failed.

I get **Mismatch of entities in the document: catalog_category_product Source: 2564 Destination: 0** after truncating the table in magento 2, what can I do now? Do I have to create a fresh magento 2 shop and start migration again?

[2020-09-15 17:41] shrielenee commented on #6735
@serhiyzhovnir What do you think? 👍 👎

[2020-09-15 18:13] kom93 opened #7881 "Feedback on page: /guides/v2.4/architecture/security_intro.html"
# General issue

## Description:

Href for a link "Magento ownership and permissions in development and production." is invalid.

## Possible solutions:

Replace href to https://devdocs.magento.com/guides/v2.4/config-guide/prod/prod_file-sys-perms.html

## Additional information:

[2020-09-15 18:50] shrielenee commented on #6735
We should probably remove or hide this information from this topic while it’s not working. It could be confusing to our audience, especially since it's a documented best practice!

[2020-09-15 21:10] #6168 closed

[2020-09-15 21:34] BarnyShergold commented on #7444
@meker12 @shrielenee
I get confused over this file on occasion too - can we get an Adobe Magento Developer to take a look at this, provide the definitive definition and then we can write it up?

[2020-09-15 21:38] BarnyShergold commented on #1596
@andrewbess - We've not seen an update from you for months on this topic. Please can we have a status report?

[2020-09-15 21:43] BarnyShergold commented on #1719
@sfritzsche @dobooth
This simple issue has been open for 2.5 years and the page is not updated.
@sfritzsche  can you explain why the chmod u+x bin/magento should be removed? After this time it doesn't seem to be a problem.

This issue will be closed in 14 days if there is no response.

[2020-09-15 21:47] meker12 commented on #7444
@YPyltiai can you suggest someone who can help with fixing the routes documentation in the _Cloud Guide_.

[2020-09-15 22:07] BarnyShergold commented on #6044
@shrielenee @ascottfuji
The first request "However it does provide any information on whether the listed modules are; and if so how" doesn't make sense as "it does" implies the information is there and "whether the listed modules are", whether they are what?

@ascottfuji - we'd need clarity on what you are asking for there and please expand more on what you are after - there are details on how the

[2020-09-15 22:15] BarnyShergold commented on #7877
@Stoyvo
As someone who has written dynamic row configs I can say that I'm very sure there is no easy way to do this as ALL the data for a dynamic row config is stored in a single config in the core_config_data table with all the data in a serialised string - the backend model explodes this and populates the rows & fields.

What you could do is add the data that you want as default to a local insta

[2020-09-15 23:39] BarnyShergold commented on #7878
@meker12 This page on 2.4 has had the information about the Setup Wizard removed and is now redundant.

I suggest :
1. Removing the page completely from 2.4 and redirecting to - https://devdocs.magento.com/guides/v2.4/install-gde/bk-install-guide.html
2. Add the title "Install Option" on 2.3

Do we concur?

[2020-09-16 00:22] meker12 commented on #7878
I would defer to @jeff-matthews, but here are my thoughts:

1.  Agreed: Remove the page completely from 2.4 and redirect to - https://devdocs.magento.com/guides/v2.4/install-gde/bk-install-guide.html

2.  Alternative: Remove the page completely from 2.3 and redirect to - https://devdocs.magento.com/guides/v2.3/install-

Jeff completed the updates to remove Web setup wizard, so I'm sure he has more

[2020-09-16 04:28] sfritzsche commented on #1719
@BarnyShergold
I think my original idea was not to remove the command "chmod u+x bin/magento", but to remove it from point 4 "Remove write permissions to the following directories" and to transfer it to a new point 5 "Make Magento commandline tool executable".

For a better understanding.

I have to admit that it was not very clever of me to open an issue for this topic. A direct "Pull Request" wo

[2020-09-16 13:38] #7881 closed

[2020-09-16 15:56] jeff-matthews commented on #7878
@BarnyShergold, I concur with your suggestions.

[2020-09-16 18:35] YPyltiai commented on #7444
@NadiyaS , could you please help with that ^ ?

[2020-09-16 20:51] NadiyaS commented on #7444
Sure. I will review https://devdocs.magento.com/cloud/project/routes.html and create PR.

[2020-09-17 12:42] BarnyShergold commented on #7879
@Eddcapone @meker12
The section does say it is a high-level overview of what and how the migration tool works. It is not supposed to go into great depth as to what to do if things don't go as expected - part of that reason is that it can't cover how every Magento system works (even core data can be different)

The issue mainly reads as a request for help - this should be obtained either through Ma

[2020-09-17 13:23] BarnyShergold commented on #7786
@meker12 can we get confirmation that this is functionally correct?

Also is it sufficient just to update the code block in the documentation as shown above OR is it necessary to explain why $entity & $result are required?

[2020-09-17 13:33] BarnyShergold commented on #7568
This issue has been closed due to lack of detail and no response to request for information

[2020-09-17 13:33] #7568 closed

[2020-09-17 14:01] BarnyShergold commented on #7562
@shrielenee Can we get a definitive answer on this from the Magento team? The issue is easy to fix, remove A or B - but we need to know if it's A or B 😄

[2020-09-17 14:02] meker12 commented on #7879
Generally, the DevDocs don't address all troubleshooting steps, but you can find troubleshooting information in the
Magento Help Center.

For the "mismatch data entities" issue, check the [Data Migration Tool Troubleshooting](https://support.magento.com/hc/en-us/articles/360033020451-Data-Migration-Tool-troubleshooting) article.

If that article doesn't help resolve your problem, you can submit a

[2020-09-17 14:02] #7879 closed

[2020-09-17 14:18] hostep commented on #7568
- `ext-sockets` which became required in 2.4.0 at least is still missing on https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html

@dobooth is aware of this, but unfortunately it's still not fixed yet 🙁

[2020-09-17 16:21] ak77-prime opened #7892 "How to get access to the Fastly Admin UI?"
# General issue

Page: /cloud/cdn/configure-fastly.html

## Description:

Some merchants have been asking how to get access to the Fastly Admin UI.

The article currently mentions this:
"You need the Fastly credentials to configure Fastly CDN services from the Magento Admin UI and to submit Fastly API requests."

For the sake of clarity, I think it should emphasize/add the caveat that we do not pr

[2020-09-17 16:28] BarnyShergold commented on #7504
@shrielenee @atwixfirster
Based on the fact that @atwixfirster quite rightly says you could write book on this tool, so where do you start (where do you end?) and there have been no updates or responses for 2 months, I propose we close this issue. DO you concur?

[2020-09-17 16:36] BarnyShergold commented on #7500
@meker12
I've checked this section in the Cloud docs and in the "Additional Search Configuration" there is a link to the SEARCH_CONFIGURATION section when you click "Deploy Variables"

If the text was updated to "See Deploy variables for further information on SEARCH_CONFIGURATION" - would that address this issue?

[2020-09-17 16:52] BarnyShergold commented on #7892
I agree - it's quite often someone will post to #cloud or #fastly asking for this.

How about adding a blue info box underneath -
With Magento Cloud, Fastly Admin UI access is not provided. Any issue that cannot be solved through the Fastly Admin in Magento should be referred to Magento Support.

[2020-09-17 18:09] dobooth commented on #7862
Let's add a list of form field types to the `type' row in the Field attribute reference table.

[2020-09-17 18:16] dobooth commented on #7093
@paliarush Can we get a little guidance on this please?

[2020-09-17 18:19] dobooth commented on #7866
Test comment

[2020-09-17 19:12] buskamuza commented on #1727
Yes, the guidelines are meant to use "require" in case absence of the dependency will break the application (errors), and "suggest" for soft dependencies, the ones which absence will not lead to errors.

Yes, the use case discussed in this thread leads to questions, as having logging module which is doing nothing in case Customer module is absent doesn't make much sense. In the same time, what if

[2020-09-17 21:56] brianpittvps commented on #7504
This is just one programmers opinion, but it seems there has to be a happy medium between a comprehensive book of details and addressing a few areas of confusion.  For instance, my original report talks about sample files with thousands of lines in it and no clear understanding of what is needed.  Do we just customize what we wanna customize?  Do we copy the entire file?  I realize there are a myr

[2020-09-17 22:00] ak77-prime commented on #7892
Sounds good – specific verbiage about opening a support ticket (how-to, if applicable) could probably be included.

“. Any issue that cannot be solved through the Fastly Admin in Magento should be referred to Magento Support.”

Anthony Chico
technical SUPPORT ENGINEER
Magento CUSTOMER ENGINEERING
T +1 424.258.3354  |  C +1 626.400.3699
anchico@adobe.com<mailto:anchico@adobe.com>
3640 Holdrege Ave,

[2020-09-18 00:24] BarnyShergold commented on #7400
@shrielenee Closing this issue as I think it's covered by PR #7810 and no response from Issue Owner in 10 days and #233 is now closed

[2020-09-18 00:24] #7400 closed

[2020-09-18 00:28] BarnyShergold commented on #7377
Closed as issue raiser did not respond within 14 days and current information seems clear enough

[2020-09-18 00:28] #7377 closed

[2020-09-18 00:33] BarnyShergold commented on #7297
@hostep @vlmironov Hostep's comment seems to answer the issue. Is there any reason why we cant' close this issue?

[2020-09-18 00:42] BarnyShergold commented on #7189
Issue raiser is looking in the wrong location for contributions. The correct location : https://opensource.magento.com/profile/VenkataRamanaGandham/contribution_statistic

Pull request 7150 can be seen on May's statistics

[2020-09-18 00:42] #7189 closed

[2020-09-18 00:44] BarnyShergold commented on #7110
@shrielenee - I think this issue can be closed as Jeff showed the issue raiser where to find the information - do you concur?

[2020-09-18 01:12] #7878 closed

[2020-09-18 01:15] #7824 closed

[2020-09-18 01:18] #1719 closed

[2020-09-18 02:04] #7435 closed

[2020-09-21 03:09] #7542 closed

[2020-09-21 04:15] Stoyvo commented on #7877
@BarnyShergold I always imagined something like this:
`<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <my_config_section>
            <my_field_group>
                <my_dynamic_row_elm type="dynamic_rows">
                    <item>

[2020-09-21 10:40] BarnyShergold commented on #5473
@shrielenee - I've taken a look at these two pages and whilst they have similarities I don't feel they are close enough to even attempt to merge them into a single document. Plus they are approaching them from different points of view. One document is for contributors to make code changes to the Magento core itself and the other is for extension developers to take into consideration. In my opinion

[2020-09-21 11:08] BarnyShergold commented on #4109
@meker12 - May we close this issue as you have referred the OP to support?

[2020-09-21 12:57] shrielenee commented on #7562
Yes, we need to get an opinion from a dev/architect to ensure we're leaving the right explanation and taking out the one we do not advise. Let me ping someone.

Also @BarnyShergold the gray labels are used by GitHub automation, so do not manually add or remove those from issues or PRs.

[2020-09-21 13:01] shrielenee commented on #7504
@BarnyShergold Issues remain open if they can be worked, which this one _still_ I think can be worked. It's PRs that we close after a certain amount of time with no response.

@brianpittvps Thanks for your helpful feedback regarding our documentation. This issue is open and will be worked, but the team has not yet been able to prioritize it internally. I added "help wanted" and "good first issue"

[2020-09-21 13:08] #7110 closed

[2020-09-21 13:14] shrielenee commented on #5473
This issue cannot be closed @BarnyShergold. It was created by a Magento employee, is still relevant, and while the suggested approach may not be the right one, there is a way we can resolve the raised issue.

If you are not working the actual issue, you must remove yourself as the assignee so someone else can pick it up. I'll remove you for now. Thanks!

[2020-09-21 13:22] BarnyShergold commented on #5473
That's odd I don't remember assigning myself this!

[2020-09-21 13:36] BarnyShergold commented on #7562
@shrielenee - I didn't remove the "dev in progress"! I just marked it "Waiting for Response"! I think the system did it.

I'm most happy to be the "Assignee" for this once we have an answer

[2020-09-21 14:17] #4109 closed

[2020-09-22 00:12] #7892 closed

[2020-09-22 10:43] BarnyShergold commented on #6067
@hguthrie - I'm still considering how to do this - it's not forgotten

[2020-09-22 10:53] BarnyShergold commented on #7625
@hguthrie - I've suggested a small change to the docs above for this issue but the OP hasn't responded in 3 weeks. For a second opinion - should I make the changes as suggested or should this be regarded as a non-issue?

[2020-09-22 10:55] BarnyShergold commented on #7636
@hguthrie Can you check my suggestion above and confirm if you believe it's correct? I've not had a reply back from the issue raiser

[2020-09-22 15:41] BarnyShergold commented on #7877
@Stoyvo - I've found out how you can do this without any development

Will work on the documentation

[2020-09-22 16:20] hguthrie commented on #7625
@milindsingh  We appreciate you bringing this to our attention. This is a reference page that defines what you see in the configuration file.  @BarnyShergold provided a link to more detailed explanation above, so I am closing this request.

If you believe that this needs further review, feel free open a new issue with more detailed information and a possible solution and we can revisit. Thank you

[2020-09-22 16:20] #7625 closed

[2020-09-22 16:57] meker12 commented on #7500
@BarnyShergold I think it's as simple as adding info about the ELASTICSUITE_CONFIGURATION variable at the end of this sentence:

```If you use the ElasticSuite third-party plugin, you must update the ece-tools package to version 2002.0.19 or later.```

For example, append the following sentence:

After you set up ElasticSuite, you can add the configuration settings to the ELASTICSUITE_CONFIGURATIO

[2020-09-22 19:22] katmoon opened #7914 "Feedback on page: /cloud/howtos/debug.html"
# General issue

## Description:

Incorrect link present at the beginning of https://devdocs.magento.com/cloud/howtos/debug.html page

## Possible solutions:

I suppose this page should be referenced https://devdocs.magento.com/cloud/docker/docker-development-debug.html

## Additional information:

The incorrect link text is
 `[Configure Xdebug for Docker]/cloud/docker/docker-development-debug.htm

[2020-09-22 21:03] #7914 closed

[2020-09-23 13:19] #4315 closed

[2020-09-23 13:25] #7500 closed

[2020-09-23 15:49] BarnyShergold commented on #7297
@shrielenee - Can we close this ticket? Any reason not to?

[2020-09-23 16:04] ChrisOrlando opened #7923 "Update/cron.php has been removed. Need to update doc to reflect"
# General issue

Affected topic: https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html

## Description:

This text:

Seems to say that the Magento archive should contain an update/cron.php file within it, but it does not:
[code]

Additionally the two "optional" cron jobs mentioned in this document don't seem to work at all in Magento 2.4.0. So they should be rem

[2020-09-23 16:22] #7877 closed

[2020-09-23 16:23] BarnyShergold commented on #7297
@shrielenee - I would argue that the documentation is deliberately high level as the following statement is made in the assumptions - "An experienced system integrator with excellent knowledge of Magento configuration options."

If you don't know about what hostep mentioned, you probably are not experienced enough and should leave well alone. A little knowledge is a dangerous thing! I believe the

[2020-09-23 17:15] shrielenee commented on #7297
No rebuttal at all @BarnyShergold --- That was my general feeling about what info we should include. The scope and audience of each topic is not always designed for explicit instructions on every little thing. This can be closed in my opinion!

[2020-09-23 17:16] #7444 closed

[2020-09-23 17:26] BarnyShergold commented on #7297
Closing issue due to discussion above

[2020-09-23 17:26] #7297 closed

[2020-09-24 05:22] kishanbharda opened #7930 "Feedback on page: /guides/v2.4/rest/bk-rest.html"
# General issue

## Description:

Getting "404 Page not found" when I navigate to Admin REST endpoints by clicking one side menu Quick Reference > REST Endpoint (ReDoc) > Admin REST endpoints.

## Possible solutions:

Repairs the url

## Additional information:

I opened https://devdocs.magento.com/guides/v2.4/rest/bk-rest.html , this displays me REST API Overview section and a sidebar to navigate

[2020-09-24 12:11] jeff-matthews commented on #7930
Thanks for reporting @kishanbharda. We recently updated the URLs to include the patch level number and we forgot to update links in the docs. The new link should be magento.redoc.ly/2.4.0-admin

[2020-09-24 12:22] BarnyShergold commented on #7930
@jeff-matthews - I'm just updating that menu point

[2020-09-24 12:25] jeff-matthews commented on #7930
Perfect! Thanks @BarnyShergold!

[2020-09-24 12:50] #7930 closed

[2020-09-24 13:18] #7636 closed

[2020-09-24 15:11] keharper commented on #7866
Fixed #7888

[2020-09-24 15:11] #7866 closed

[2020-09-24 16:53] #6735 closed

[2020-09-24 17:00] shrielenee commented on #7562
Hey @BarnyShergold I talked to @chernenm and @maghamed (our internal all-knowing resources) and we agreed we should leave the suggestion that reflects our cloud deployments config:

"Elasticsearch runs on the same host as a web server (The advantage of putting Elasticsearch and the web server on the same host is that it makes intercepting encrypted communication impossible)":
https://devdocs.magen

[2020-09-24 17:09] BarnyShergold commented on #7562
@shrielenee - I would proposed then to remove the complete content of the section "Recommended configuration" on this page : https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html and replace it with the second point - https://devdocs.magento.com/guides/v2.4/install-gde/prereq/es-config-nginx.html#recommendations

Is that agreeable?

[2020-09-24 17:42] keharper opened #7933 "Generate 2.3.6 REST schemas"
# Topic clarification/correction request

## Topic Link

## Description

This is a shell issue for the purpose of generating the 2.3.6 REST schemas

## Possible solutions

## Additional information

[2020-09-24 17:43] keharper commented on #7933
@magento give me 2.3.6-develop instance with edition b2b

[2020-09-24 17:47] shrielenee commented on #7562
I believe that is accurate. Instead of duplicating content, I would simply point to the existing section with the info that's needed with a "See the Recommendations section of the Configure nginx and Elasticsearch topic for information on the recommended configuration." or similar.

[2020-09-24 21:30] #6067 closed

[2020-09-25 07:30] nazaridak opened #7935 "JS error, sample code on the Collapsible widget page"
# Bug report

## Description
Link: https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget_collapsible.html

![image](https://user-images.githubusercontent.com/43548684/94237695-e89aa100-ff17-11ea-8eda-4864f4765036.png)

![image](https://user-images.githubusercontent.com/43548684/94237727-f4866300-ff17-11ea-8bc2-2274e2d9a9a8.png)

Also, the result isn't displayed correctly:
![i

[2020-09-25 09:50] krisztian-fekete commented on #7779
@jfrontain This is definitely not fixed, having the same issue on 2.3.5-p2:

![magento_bug](https://user-images.githubusercontent.com/14894040/94253178-38cc3000-ff25-11ea-9da4-593b3c68a133.png)

[2020-09-25 13:21] BarnyShergold commented on #7935
@shrielenee - Given the nature of this issue and I can't find reference to _satellite, I would class this as either an issue because of the OPs setup or a code bug not a documentation issue?

[2020-09-25 13:46] shrielenee commented on #7935
@BarnyShergold This feels like a code issue. Traditionally we would close this issue with a message similar to:

If we want to ensure it IS a code issue, not a docs issue, we would ping an architect/engineer. Let me know how you think is best to proceed!

CC @keharper

[2020-09-25 13:53] BarnyShergold commented on #7923
@ChrisOrlando
Given that they have removed these from 2.4.0 (as per the linked issue) I would suggest that making the 2.4 version of this page differ from 2.3 and do the following -
Remove the /update/cron.php entry in the crontab example.

Change the information box that starts with "The update/cron.php" ..... to (and make it an alert box) -

update/cron.php is removed from the "All" group defini

[2020-09-25 14:10] sprankhub opened #7936 "Add Docs For Missing Integration Test Annotations"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/test/integration/annotations.html

## Description

The docs do not list all possible integration test annotations. The following annotations are missing:

* `@magentoAdminConfigFixture`
* `@magentoDataFixtureBeforeTransaction`
* `@magentoIndexerDimensionMode`

## Possible solutions

The missing annotat

[2020-09-25 15:11] BarnyShergold commented on #7935
I'm very sure it's a code issue but I'd like to be certain, so would like to hear from @keharper :)

[2020-09-25 15:20] BarnyShergold commented on #7786
@keharper - Can I get another technical opinion on this please?

[2020-09-25 16:23] MichaelThessel commented on #7779
@krisztian-fekete I temporarily fixed it via a composer patch:

[code]

[code]

[2020-09-25 16:28] keharper opened #7938 "GraphQL: Add mutations for creating and updating a company"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/29074

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/216

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] Ne

[2020-09-25 17:36] ecarlseen opened #7940 "Feedback on page: /guides/v2.3/install-gde/composer.html"
# General issue

## Description:

The example command for installing Magento2 from the command line is incorrect. There should not be equals signs (=) between the command line parameter names and the command line parameter options.

## Possible solutions:

Change text to read:

[code]

## Additional information:

[2020-09-26 00:54] ChrisOrlando commented on #7923
@BarnyShergold

The page https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html

It mentions three cron jobs, while two of them don't work at all in 2.4.0 and are no longer needed in this Magento version. Removing these cron jobs from the example in the 2.4 version of the page and updating the info box to explain they have been removed makes sense. to me

[2020-09-26 10:35] BarnyShergold commented on #7923
@ChrisOrlando - PLease can you confirm which 2 crons don't work in 2.4?

[2020-09-26 15:44] BarnyShergold commented on #7940
@ecarlseen - Actually BOTH options are valid. For clarity and consistency the = version has always been shown in the documentation and should remain as it might cause confusion if changed.

@shrielenee - I don't think the documentation should be changed - do you concur?

[2020-09-26 20:11] hostep commented on #7923
@BarnyShergold, see: https://github.com/magento/magento2/issues/29872#issuecomment-686783490

Additionally, we've [added](https://github.com/magento/magento2/pull/24187) that `--non-optional` flag in Magento 2.3.4 because those two crontab entries were optionally if you weren't using the web set up wizard, but now that the web set up wizard has been removed in Magento 2.4.0 (and those two cronjobs

[2020-09-26 20:33] hostep commented on #7779
@jfrontain: I can confirm @MichaelThessel's findings, we also had to create a patch to fix this problem in Magento 2.3.5, so it was definitely not fixed in that version. I seem to remember that I too was confused by the line in the 2.3.5 release notes, it's not correct I believe. It was fixed by ticket `MC-30650` from the information I can find in our patches repository.

[2020-09-27 07:38] eduard13 commented on #7219
@magento I am working on this

[2020-09-27 20:04] ChrisOrlando commented on #7923
@BarnyShergold

This cron job is required in all Magento 2 versions:
[code]

These two are optional until version 2.4.0 where they became inoperable:
[code]

[2020-09-28 08:50] BarnyShergold commented on #7936
@keharper - If you, or another, can define the three annotations above as the other have been on the page, I am happy to write them up.

[2020-09-28 08:51] BarnyShergold commented on #7936
@magento I am working on this

[2020-09-28 10:10] BarnyShergold commented on #7923
@ChrisOrlando - Please take a look at #7944 (for some reason I can't flag you on the PR) - check my comments

[2020-09-28 13:06] #7219 closed

[2020-09-28 13:07] shrielenee commented on #7940
@BarnyShergold  Concur!

[2020-09-28 13:17] BarnyShergold commented on #7940
Issue is being closed to an agreement that no update is required.

Thank you to @ecarlseen for raising the issue for discussion.

[2020-09-28 13:17] #7940 closed

[2020-09-28 18:31] ChrisOrlando commented on #7923
@BarnyShergold
Thanks for putting that together. I added some comments on the PR https://github.com/magento/devdocs/pull/7944

[2020-09-28 20:17] paliarush commented on #7093
Topics in `communication.xml` should be treated as interfaces. Each interface must have arguments defined and may or may not have return type specified, depending whether the interface is synchronous or asynchronous.

If you have existing service interface which will be used as a handler for the messages, it makes sense to rely on its arguments and return types by specifying `schema` attribute on

[2020-09-28 23:36] BarnyShergold commented on #7923
@ChrisOrlando - Comments addressed and release notes added if you'd like to take another look

[2020-09-29 00:47] keharper commented on #7936
@dobooth Any insights?

[2020-09-30 09:28] Eddcapone opened #7955 "Example needed on how to overwrite a knockoutjs .html template file in requirejs-config.js by using paths"
# General issue

Feedback on page: [/guides/v2.4/javascript-dev-guide/javascript/requirejs.html](https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/requirejs.html#requirejs-config-paths)

## Description:

I tried to apply the information provided in the documentation to change the template **Magento_Ui/view/base/web/templates/form/element/input** with my own in **app\code\Comp

[2020-09-30 14:55] ChrisOrlando commented on #7923
@BarnyShergold lgtm -- approved. Thanks for taking care of this!

[2020-09-30 14:57] kananinj opened #7958 "Remove reference to the sample Magento_SamplePaymentGateway module"
# General issue

Affected topic: /guides/v2.3/payments-integrations/base-integration/module-configuration.html

## Description:

**In magento 2 sample payment gateway module link not found on github**

## Possible solutions:

## Additional information:

[2020-09-30 15:10] #6044 closed

[2020-09-30 16:02] Eddcapone opened #7959 "Default is not allowed - Feedback on page: /guides/v2.4/extension-dev-guide/declarative-schema/db-schema.html"
# General issue

## Description:

I tried to modify a colum and set the default value to NULL:

[code]

But I get default is not allowed.

[code]

I don't understand why I get this since default is also listed in the documentation as valid attribute:

I even tried to set default to a string, just like the type `default="xy"` but it still throws the same error.

[2020-09-30 16:23] hostep opened #7960 "Improve generation of required php extensions"
# Bug report

## Description

The list of required php extensions in https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html#required-php-extensions is not accurate.

Currently it's generated from the composer.json file of the latest Magento version, but that's not accurate enough since all its dependency packages are not taken into account.

I suggested a possible soluti

[2020-09-30 16:26] dshevtsov commented on #7960
Related PR with a workaround: #7953

[2020-09-30 16:45] BarnyShergold commented on #7959
@Eddcapone - The documentation is correct. You can have a default value on a text field in MySQL (you didn't used to be) but it is not advised as the same string as to be applied to every row in the table - which could eat up a lot of data.

For a text field the default is NULL in any case you don't need to set it. If you check all the schemas in Magento, not one has a default on a text.

Also def

[2020-09-30 16:45] #7959 closed

[2020-09-30 16:53] BarnyShergold opened #7961 "New Topic - How to create custom field types for system fields (admin configuration)"
# New topic request

## Description

/guides/v2.4/config-guide/prod/config-reference-systemxml.html - will soon have an updated section as to the different field types available for system fields. However, it is possible to create and use custom field types. A new topic to describe how to use this feature, with examples, would be desirable. With a link to it from the original topic.

## Content ch

[2020-09-30 18:43] dshevtsov commented on #7960
The input I've got from the packaging team:

If we have real dependency on `ext-sockets` in the code and don’t have it in the `composer.json` - this needs to be fixed

[2020-09-30 19:54] hostep commented on #7960
Sorry, but that's just incorrect, Magento code strongly relies on code in the dependent packages, so their dependencies are implicitly also dependencies Magento needs.

Just try executing `composer install` with Magento 2.4.0 on a system where only the php extensions listed in the [composer.json](https://github.com/magento/magento2/blob/2.4.0/composer.json#L15-L29) file are installed, it's not goi

[2020-09-30 19:59] hostep commented on #7960
Code of Magento and code called in its dependencies might not need `ext-sockets`, but composer will not allow you to install Magento if the required dependencies (including php extensions) aren't installed. Therefore we should document all php extensions required to be able to install Magento.

[2020-09-30 20:39] dshevtsov commented on #7960
cc @fascinosum

[2020-09-30 20:50] dshevtsov commented on #7960
In DevDocs, we use a Docker project that reproduces Magento installation using Composer on an environment with listed prerequisites to test the documentation. Here is the script for an environment setup for 2.4.0.

[code]

[2020-09-30 20:53] dshevtsov commented on #7960
It's for ubuntu 20.04

[2020-09-30 21:02] dshevtsov commented on #7960
And for Magento installation:

[code]

[2020-10-01 04:15] tiwarimukesh opened #7967 "Beta 2.4.1 release notes contain an invalid link"
# General issue

Affected topic: /guides/v2.4/release-notes/open-source-2-4-1.html

## Description:

Please visit https://devdocs-beta.magento.com/guides/v2.4/release-notes/open-source-2-4-1.html
Navigate to last paragraph in the page. There is a link given for the "The Code Migration Toolkit". On click of it redirects to a 404 page.

## Possible solutions:

I think the code migration repo has bee

[2020-10-01 09:33] hostep commented on #7960
@dshevtsov: maybe `sockets` is included by default on this particular environment with php, no all users of Magento will use this specific php installation. The docs should make it clear for everybody what is needed exactly.

I just tested this again on my local environment where I've explicitly disabled the `sockets` php extension, this is the result:

[code]

[2020-10-01 14:30] #7862 closed

[2020-10-01 16:37] dshevtsov commented on #7960
I agree with that. But since the application is huge and grows rapidly, and our resources are restricted, DevDocs focuses on the content that is directly related to the product. In this case, project dependencies vs dynamic dependencies. Content that is indirectly related to the product typically goes to the [Magento Help Center](https://support.magento.com/hc/en-us). We cannot control dynamic dep

[2020-10-01 17:49] keharper commented on #7961
The topic @BarnyShergold mentioned in the description was updated in #7948.

[2020-10-01 18:21] dobooth commented on #1596
@andrewbess one more nag...

[2020-10-01 18:36] dshevtsov commented on #7960
cc @meker12 , @dobooth

[2020-10-01 19:25] jfrontain commented on #7967
Thanks for catching this bad link, @tiwarimukesh. The toolkit was moved, and I just updated the release notes with a valid link. I'll merge that change today.

[2020-10-01 19:25] #7967 closed

[2020-10-02 05:36] gelanivishal commented on #7958
Hi @keharper, Need to remove this line from docs or any other solution?

[2020-10-02 06:45] gelanivishal commented on #7935
@magento I am working on this

[2020-10-02 08:16] BarnyShergold commented on #7961
@keharper - Yes but this came out of that. There is no topic on how to create CUSTOM field types. When I have time I will work on this issue - it will add to the current docs.

[2020-10-02 12:56] Eddcapone opened #7976 "Unclear on how to activate the Magnifier widget"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget_gallery_mg.html
It says:

But if I hover over a product image in the product view in the frontend, then there is no zoom.
Do I have to enable this first or add a script to make it work?

[2020-10-02 14:22] Eddcapone opened #7979 "Varnish verification is missing"
# General issue

## Description:

Information is missing on how I can test if varnish is successfully configured and working.

https://devdocs.magento.com/guides/v2.4/config-guide/varnish/config-varnish-final.html

[2020-10-02 15:58] rafaelstz commented on #7562
Hi @shrielenee and @BarnyShergold,

I created this PR below to fix it, I left the old content but as another section, providing explanations on how to proceed in case the ElasticSearch must be in another host. I think it's very useful for the content there, and there are many hosts that don't provide ES build-in.

https://github.com/magento/devdocs/pull/7980

Please let me what do you think!

[2020-10-02 16:57] #7923 closed

[2020-10-02 22:14] #7935 closed

[2020-10-03 07:43] hostep commented on #7960
Look, please ask yourself the question why this documentation exist.
I'm going to give you one example.

Suppose a shop owner wants to setup a new Magento shop. He finds a good hosting company and the hosting company asks: "Well, what software should we install on your system?" The shop owner answers with a link to the system requirements documentation from the devdocs site, the hoster starts sett

[2020-10-03 08:32] hostep commented on #7960
Just quickly tried something with the help of a [json cli parser](https://stedolan.github.io/jq/):

1. Setup a new Magento OS 2.4.1 installation using composer
2. Executed:
[code]

3. Ran `composer update --prefer-lowest`
4. Executed:
[code]

If we look at the difference here, there is none, so all the extensions listed here are required for Magento 2.4.1

If we then do the same for Magento 2.3.6,

[2020-10-04 17:12] keharper opened #7985 "GraphQL: Add company user mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/29093

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/203

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x]

[2020-10-04 17:16] keharper opened #7986 "GraphQL: Add company role mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/29094

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/203

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x]

[2020-10-04 17:29] keharper opened #7987 "GraphQL: Add company team mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/29095

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/227

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x]

[2020-10-04 17:43] keharper opened #7988 "GraphQL: Add basic company queries"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28866

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/191

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x]

[2020-10-04 17:56] keharper opened #7989 "GraphQL: Update company query to include credit history"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 https://github.com/magento/magento2/issues/28554

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/247

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpo

[2020-10-04 18:11] keharper opened #7990 "GraphQL: Add requisition list mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue:
Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/147

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax

[2020-10-04 18:31] keharper opened #7991 "GraphQL: Add requisition list mutations for copying/moving/removing items"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue:
Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/158

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax

[2020-10-04 18:48] keharper opened #7992 "GraphQL: Mutations for adding/updating items in a requisition list"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue:
Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/210

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax

[2020-10-04 19:18] keharper opened #7993 "GraphQL: Add gift registry mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28586
Magento 2 GitHub PR: https://github.com/magento/partners-magento2ee/pull/280/

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] N

[2020-10-04 19:33] keharper opened #7994 "GraphQL: Add gift registry queries"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28586
Magento 2 GitHub PR: https://github.com/magento/partners-magento2ee/pull/280/

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] N

[2020-10-05 07:28] gelanivishal commented on #7580
@magento I am working on this

[2020-10-05 17:01] andrewbess commented on #7987
Hello @keharper
Thank you for assigning.
I am going to make it ASAP.
Also, I will add the link on the topic about query `company` when it becomes available to this topic.

[2020-10-07 17:00] tiwarimukesh commented on #7967
@jfrontain  The link is still not working.

[2020-10-07 17:33] Lennonka commented on #7587
Love you for working on this!

[2020-10-07 18:05] #7562 closed

[2020-10-08 00:04] LiamTrioTech opened #8012 "Feedback on page: /guides/v2.4/coding-standards/docblock-standard-general.html"
# General issue
How to actually generate the documentation using phpDocumentor?
Or is there an alternative Magento tool for this?

## Description:

The page clearly outlines how to document our classes, functions, files etc but does not show how to generate documentation.

## Possible solutions:

Task or better yet a Magento bin CLI?

## Additional information:

Needs to exclude many things, tests

[2020-10-08 18:21] dobooth commented on #8012
Hi @LiamTrioTech. Thanks for writing. This topic discusses the standards and formatting of writing a DocBlock. There is no need to generate docs from these blocks. It is mostly to help ensure consistency of formatting. Then if we decide to implement a feature that uses DocBlocks, they will be ready to go.

[2020-10-08 18:21] #8012 closed

[2020-10-08 18:27] dobooth commented on #7979
Hi @Eddcapone Please check https://devdocs.magento.com/guides/v2.4/config-guide/varnish/config-varnish-final.html for verification instructions. If you feel this is inadequate, please let us know. Thanks for submitting.

[2020-10-08 18:36] dobooth commented on #7976
Hi @Eddcapone Thanks again for writing. Most JS widgets are implemented roughly the same way, as described in https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_init.html#init_phtml. Please let us know if these instructions need updating.

[2020-10-09 07:44] #7979 closed

[2020-10-09 07:45] Eddcapone commented on #7976
@dobooth , no, the solution is to copy the etc/view.xml from the base theme to your theme and then setting the value for the magnifier to "true"

[2020-10-09 09:16] Eddcapone opened #8019 "Feedback on page: /guides/v2.4/ui_comp_guide/components/ui-range.html"
# General issue

## Description:

I have a module where users can set some settings in the backend under Stores -> Configuration and I would like to use the same date selector as in the screenshot, is this possible?

![image](https://user-images.githubusercontent.com/16349349/95565751-e90b5f80-0a20-11eb-8d55-1651e40d43a9.png)

[2020-10-09 15:04] medigeek opened #8021 "missing explanation about web > allow property on page: /cloud/project/magento-app-properties.html"
# General issue
The "allow" property under "web" is not explained:

https://devdocs.magento.com/cloud/project/magento-app-properties.html#web

## Description:

The "allow" property under "web" is not explained.

## Possible solutions:

explain what allow does or stands for

## Additional information:

N/A

[2020-10-11 20:36] andrewbess commented on #7985
@magento I am working on this

[2020-10-12 08:37] m2-assistant[bot] opened #8027 "[Issue] update using-font for 2.4.2. New parameter font-type for custom fonts"
This issue is automatically created based on existing pull request: magento/devdocs#8026: update using-font for 2.4.2. New parameter font-type for custom fonts

---------
##  Purpose of this pull request

With the version 2.4.2 of Magento, there will be the new parameter for the `font-type: <font_type>` for the mixin .lib-font-face(). (See issue #30288 on Magento2 repo)
This update describes it.

[2020-10-12 16:02] BarnyShergold opened #8033 "Incorrect numbers of environments on Cloud Docs"
# General issue

## Description:

Default behaviour on PRO Cloud is that there are now only 2 active development environments (including Integration), for a total of 5, however some cloud documentation still talks about the original 4 environments + Integration (8)

## Possible solutions:

Correct the information on these pages.

## Pages Affected:
https://devdocs.magento.com/cloud/architecture/cl

[2020-10-12 23:46] BarnyShergold commented on #8033
@meker12 - I think I found all of them - are these okay to update?

[2020-10-13 05:42] krunalpanchal1607 opened #8038 "Feedback on page: /guides/v2.4/rest/tutorials/orders/order-issue-refund.html"
# General issue

## Description:
I am using magento 2.3.5. I need to offline partial refund through rest api. [I used POST /V1/order/<order_ID>/refund | Issues an offline refund ] URL : https://devdocs.magento.com/guides/v2.4/rest/tutorials/orders/order-issue-refund.html

My code
=========
$jsonValue = array ('items' =>array (array ('order_item_id' =>$item_id,'qty' => $order_qty)),'notify' => true

[2020-10-13 09:53] BarnyShergold commented on #8038
@krunalpanchal1607 - Issues on DevDocs are for additions or improvements to the documentation, we do not answer requested for help on these. I see that you have raised the same issue on the #general Slack channel for MCE, which is the best and most appropriate channel to get advice and help. Therefore I am closing this issue.

[2020-10-13 09:53] #8038 closed

[2020-10-13 09:55] krunalpanchal1607 commented on #8038
This issue is more important for me so please dont closed it . I am remove this issue in general slack

[2020-10-13 09:57] BarnyShergold commented on #8038
Sorry but this is a request for help. We do not deal with help requests on DevDoc issues.

[2020-10-13 09:57] krunalpanchal1607 commented on #8038
I am checking all document of magento 2 rest api but not get my answer and I have done same as document but issue is not solve.

[2020-10-13 10:00] krunalpanchal1607 commented on #8038
I am doing same as magento 2 document. I am develop many site and rest api
for this but this type of issue not come I know very well for rest api. So
please suggest me or open my issue.

On Tue, Oct 13, 2020 at 3:27 PM Barny Shergold <notifications@github.com>
wrote:

--
<http://www.itechnotree.com>
*Krunal Panchal* | Senior PHP Developer
*Mo:* (+91) 8733883344 | (+91) 9662222186
*E: * krunal@itec

[2020-10-13 13:25] BarnyShergold commented on #8038
Hi @krunalpanchal1607 , thank you for your feedback and I have consulted the other DevDoc Maintainers on your comments. However, it doesn’t seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the Magento Support Knowledge Base, forums, or Stack Exchange. To report Magento 2 issues with code, see the Magento 2 GitHub. To suggest new product feat

[2020-10-13 18:51] #7938 closed

[2020-10-14 09:16] codemasternode opened #8041 "Mistake on: /guides/v2.4/rest/tutorials/orders/order-create-order.html"
## Description:
When i try to make call on POST /rest/<store_code>/V1/carts/mine/payment-information with json body copied from
example in API documentation (and in compliance with shopping-card flow) i get response 400 with body:
`
{
    "message": "No such entity with %fieldName = %fieldValue",
    "parameters": {
        "fieldName": "cartId",
        "fieldValue": 0
    },
    "trace": ".....s

[2020-10-14 09:53] Eddcapone opened #8042 "Feedback on page: /guides/v2.4/javascript-dev-guide/javascript/js_mixins.html"
# General issue

## Description:

It misses information about how to extend a mixin of a mixin.
Example: https://magento.stackexchange.com/questions/324314/magento-2-how-to-add-methods-to-a-javascript-file-by-using-mixins

[2020-10-14 22:59] BarnyShergold opened #8049 "Information On Cloud "Configuration management for store settings" is confusing"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/cloud/live/sens-data-over.html

## Description

Information on this page is confusing and is mixing up Application Configurations with Service & Platform Configurations

## Possible solutions

Rework page, possibly creating additional ones, to clarify the information and to remove ambiguity and confusion.

[2020-10-14 23:02] BarnyShergold commented on #8049
@NadiyaS & @meker12 - I'll be looking at this page soon but please can you log elements of this page that you feel are confusing or incorrect?

[2020-10-15 07:33] srsathish92 opened #8052 "Cloud: Update the examples for available services"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/cloud/project/services.html#service-versions

## Description

Please add steps to upgrade all the services or add the warnings or notice for each services. ex: we don't have clear documentation to upgrade node service. I believe we need to create ticket to upgrade services for staging & production (pro account onl

[2020-10-15 07:35] srsathish92 commented on #8052
@meker12 please can you look into this. Thanks

[2020-10-15 13:11] krunalpanchal1607 commented on #8038
hello sir I don't get my answer in magento slack channel. Please suggest me .I think this is bug in magento 2 for partial offline refund api. Not do partial refund through rest api.

[2020-10-15 13:16] BarnyShergold commented on #8038
Your comment "I think this is bug in magento 2 for partial offline refund api" - if you believe this is a bug in the code then you need to raise an issue on the Magento2 Github : https://github.com/magento/magento2

[2020-10-15 13:24] krunalpanchal1607 commented on #8038
Thanks I have place new issue on github
https://github.com/magento/magento2/issues/30500

[2020-10-15 14:05] keharper commented on #8041
@codemasternode You will likely need to populate the `paymentMethod.additional_data` object with whatever credit card information the payment processor requires. We can't provide that information.

Closing this ticket because it's a support request.

[2020-10-15 14:05] #8041 closed

[2020-10-15 16:34] keharper commented on #7933
@magento give me 2.3.6-develop instance with edition b2b

[2020-10-15 18:16] dobooth commented on #8042
Hi @Eddcapone Thanks for writing. The answers in the Stackoverflow question suggest that it is not possible. Please open another issue if something else needs clarifying.

[2020-10-15 18:16] #8042 closed

[2020-10-15 18:19] keharper commented on #7958
@gelanivishal @kananinj and anyone else watching.

We have multiple links to the magento-samples repo, which has been made private. There is no plan to make the repo pubic again. We have to research whether we can add limited code samples in topics that reference the repo, delete the references, or delete the entire topic.

[2020-10-15 18:22] jeff-matthews commented on #7958
I started a wiki page to track our decision making process: https://github.com/magento/devdocs/wiki/Archived-code-samples

[2020-10-15 18:23] dobooth commented on #8019
Hi @Eddcapone This sounds more like a support/EngCom Slack question than a docs issue. We will close this for now.

[2020-10-15 18:23] #8019 closed

[2020-10-15 18:24] dobooth commented on #7976
That's good info! Thanks for the reply.

[2020-10-15 18:29] #8027 closed

[2020-10-15 18:31] shrielenee commented on #7820
@BarnyShergold You working on this?

[2020-10-15 18:32] dobooth commented on #1596
Closing as ancient and abandoned. Please open a new issue if the trouble is still relevant.

[2020-10-15 18:32] #1596 closed

[2020-10-15 19:05] dobooth commented on #1727
Closing this. It seems that between Olga and Vinai, it's accurate but doesn't cover every scenario. And the proper use of 'suggest' and 'require' is a fine topic for the Dev Guild. Updating that doc usually takes a lot of discussion so we will let that happen in its own time.

[2020-10-15 19:05] #1727 closed

[2020-10-15 19:43] keharper commented on #7933
@magento give me 2.3.6-develop instance with edition b2b

[2020-10-15 20:39] dshevtsov commented on #7960
@hostep, The packaging team confirmed that this can be used to publish dynamic dependencies. They also recommend to generate both lists for OpenSource and Commerce, because they can be different, even though in most cases they are the same. We will be implementing this into Docs automation.

[2020-10-15 21:51] ak77-prime opened #8066 "Feedback on page: /cloud/docker/docker-config.html"
# General issue

## Description:

Some merchants have been asking for assistance with their local Docker configuration - however, this is not supported by the Customer Engineering Team.

## Possible solutions:

This was previously [discussed with Margaret Eker in Slack](https://magento.slack.com/archives/C2KKBFDV4/p1578337546012500) about adding some sort of disclaimer in the page:

I don't recall

[2020-10-15 22:08] hguthrie commented on #8021
Thanks @medigeek for pointing this out! I have a PR in review with Cloud team to update that key value list.

[2020-10-15 22:16] ak77-prime opened #8069 "Feedback on page: /cloud/cdn/configure-fastly.html"
# General issue

## Description:

https://devdocs.magento.com/cloud/cdn/configure-fastly.html#cloud-fastly-creds

[code]

When Cloud Pro customers submit tickets relating to Fastly not working correctly, their issue often arises simply due to them having configured the wrong Fastly credentials in the affected environment.

## Possible solutions:

Add an alert for Pro customers under that segment t

[2020-10-16 02:11] keharper commented on #7933
@magento give me 2.3.6-develop instance with edition b2b

[2020-10-16 03:20] andrewbess commented on #7986
@magento I am working on this

[2020-10-16 03:46] #7987 closed

[2020-10-16 08:10] Eddcapone commented on #8042
@dobooth , But the answers on stackoverflow are not from the magento team. People on stackoverflow don't know everything.

[2020-10-16 14:47] meker12 commented on #8069
On the same page, see the [Test Fastly credentials](https://devdocs.magento.com/cloud/cdn/configure-fastly.html#test-the-fastly-credentials). Step 4, specifically:

![image](https://user-images.githubusercontent.com/6391769/96273148-a1db1c80-0f94-11eb-8693-40ce3ea812e1.png)

[2020-10-16 15:18] #1996 closed

[2020-10-16 19:56] #7936 closed

[2020-10-16 20:44] #8069 closed

[2020-10-17 01:36] keharper commented on #7933
@magento give me 2.3.6-develop instance with edition b2b

[2020-10-19 11:43] Emerson-Cardozo opened #8085 "Link to "Magento 2 Samples repository is Broken""
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/config-guide/cron/custom-cron-tut.html

## Description

The link to https://github.com/magento/magento2-samples is broken (404)

## Possible solutions

Is there another repo link for samples?

[2020-10-19 13:02] jeff-matthews commented on #8085
Thanks for the report @Emerson-Cardozo.

This also relates to #7958.

We created a wiki page in this repo to describe the root cause and proposed solution: https://github.com/magento/devdocs/wiki/Archived-code-samples.

[2020-10-19 13:12] #8085 closed

[2020-10-19 21:11] #7820 closed

[2020-10-20 07:55] srsathish92 opened #8091 "B2B: Update the compatibility matrix with B2B versions & MC versions"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/cloud/configure/setup-b2b.html

## Description

Please update the compatibility matrix with B2B versions & MC versions.

## Additional information

I tried the same as mention in given documents. But I am getting version conflicts with dotdigital modules and core modules. Then I replaced the dotdigital modules wit

[2020-10-20 08:15] dani97 commented on #7990
@magento I am working on this

[2020-10-20 09:42] BarnyShergold commented on #8091
Thank you for your feedback! It doesn’t seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the Magento Support Knowledge Base, forums, or Stack Exchange. To report Magento 2 issues with code, see the Magento 2 GitHub. To suggest new product features and enhancements, see Magento features and improvements. Thanks for taking the time to create a

[2020-10-20 09:42] #8091 closed

[2020-10-20 12:55] Eddcapone opened #8092 "Feedback on page: /guides/v2.4/javascript-dev-guide/javascript/js_mixins.html"
# General issue

## Description:

The documentation is missing something important. I tried it out myself by overriding the method **getShippingMethodTitle** which is defined in **vendor/magento/module-checkout/view/frontend/web/js/view/summary/shipping.js**, but all attempts failed.

https://magento.stackexchange.com/questions/324737/magento-2-how-to-override-method-getshippingmethodtitle-in-mage

[2020-10-20 14:40] keharper commented on #7988
Closed via #7984

[2020-10-20 14:40] #7988 closed

[2020-10-20 15:26] #8066 closed

[2020-10-20 17:32] #8033 closed

[2020-10-20 21:34] jfrontain commented on #7332
Hi @korostii, I believe that we updated the release notes a couple of months ago, and I forgot to close this issue. Closing now.

[2020-10-20 21:34] #7332 closed

[2020-10-21 15:58] keharper commented on #7933
@magento give me 2.3.6-develop instance with edition b2b

[2020-10-21 18:41] #7992 closed

[2020-10-22 09:42] Eddcapone commented on #8092
I figured out that the override file has to end with the name `-mixin` for example `shipping-mixin.js` otherwise it does not work!
This is not described in the documentation

[2020-10-22 09:56] Eddcapone commented on #8092
I applied the code from the documentation wrong. To make it work I have to use the code showed in the chapter **Extend UI Component**. I think I copied the code from somewhere from the internet and thought it is from the documentation. So it was my fault.

[2020-10-22 09:56] #8092 closed

[2020-10-22 11:55] Eddcapone opened #8106 "Clarify PHTML template component key"
# General issue

## Description:
https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_init.html

In chapter **Insert a JS component in a PHTML template** -> **Declarative notation** -> _Declarative notation using the data-mage-init attribute_ It says:

But there is no information about where it even tries to lookup the key. How can I create the key so it can be found? Basic i

[2020-10-22 12:02] #8021 closed

[2020-10-22 12:19] krisztian-fekete opened #8107 "CSS inheritance is unclear in less themes"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-guide/css_quick_guide_approach.html
The documentation states:

Simplest way to extend parent styles
To extend the parent theme’s styles in your theme:

In your theme directory, create a web/css/source sub-directory.
Create a _extend.less file there. The path to it looks like following:

<theme_dir>/
│

[2020-10-22 12:32] webkul-ajaysaini opened #8108 "Feedback on page: /guides/v2.4/ext-best-practices/tutorials/dynamic-row-system-config.html"
# General issue

Unable to save configuration for dynamic row if config.xml have default values. Without config.xml file it works.

When admin save configuration it will generate an issue.
**Something went wrong while saving this configuration: Notice: Array to string conversion in** vendor/magento/framework/App/Config/Value.php on line 100

https://github.com/magento/magento2/blob/2.4-develop/lib

[2020-10-22 18:01] amarroni opened #8110 "Duplicate bug fix description in B2B release note 2.4.1 page"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/release-notes/b2b-release-notes.html

## Description

A Bug fix description is duplicated:

"When a merchant creates a new shared catalog, permissions are now automatically set to Allow for the Display Product Prices and Add to Cart features in categories when the customer group has been assigned this

[2020-10-22 18:14] erikmarr commented on #8108
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento/magento2). Thanks for taking the time to create a GitHub issue.

[2020-10-22 18:14] #8108 closed

[2020-10-22 18:23] jfrontain commented on #8110
Thanks, @amarroni! i've removed the redundant description.

[2020-10-22 18:23] #8110 closed

[2020-10-22 21:36] #7985 closed

[2020-10-22 23:22] dshevtsov opened #8114 "B2B installation requires specific version if Magento is not latest"
# General issue

Topic: https://devdocs.magento.com/extensions/b2b/

## Description:

When I install B2B onto Magento 2.3.6 with `composer require magento/extension-b2b`, it loads 1.3 version (`Using version ^1.3 for magento/extension-b2b`), which is the version compatible with Magento 2.4. Though it works when I specify a B2B version such as `composer require magento/extension-b2b:1.1.6`.

## Pos

[2020-10-23 05:29] sathiyaaa commented on #7991
@magento I am working on this

[2020-10-23 10:28] Eddcapone opened #8116 "Review UI registry code sample"
# General issue

## Description:
Does not work with using "%name%" as shown with example checkout. I executed this in the checkout from the chrome developer tools console:

[code]

But I get "Uncaught TypeError: Cannot read property 'name' of undefined
    at <anonymous>:3:23"

![image](https://user-images.githubusercontent.com/16349349/96993559-c488aa80-152b-11eb-81fd-01202a17ab53.png)

 https://

[2020-10-23 14:26] keharper opened #8117 "GraphQL: Rename company-related query names and attributes"
# Community engineering issue

Type of Doc:

-  [ ] New topic
-  [x] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/30466

Magento 2 GitHub PR: TBD

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax?
-

[2020-10-23 16:53] andrewbess commented on #8117
@magento I am working on this

[2020-10-23 18:26] rtyrell24 opened #8119 "Launch Checklist PDF contains Link that doesnt work."
# Bug report
Launch Checklist PDF contains Link that doesn't work.

## Description

https://devdocs.magento.com/cloud/live/site-launch-checklist.html The launch checklist which all Magento Cloud Merchants follow.

FIrst link in PDF The following is a synopsis of our Site launch documentation goes to https://devdocs.magento.com/guides/cloud/live/live.html, which appears dead and displays the follow

[2020-10-23 18:27] rtyrell24 commented on #8119
@magento Please assign this issue.

[2020-10-23 19:06] jeff-matthews commented on #8119
Thanks for the report @rtyrell24.

The link in the PDF is wrong. It should be https://devdocs.magento.com/cloud/live/live.html. There has never been a file by the name of `https://devdocs.magento.com/guides/cloud/live/live.html` on the devdocs site, so it's not an issue with redirects.

I'm requesting assistance from the internal owner of that PDF to revise and provide us with a new copy that we c

[2020-10-23 21:15] #8117 closed

[2020-10-26 10:21] srsathish92 commented on #8114
Related ISSUE: https://github.com/magento/devdocs/issues/8091

[2020-10-26 15:29] meker12 opened #8126 "Deprecate the MySQL configuration setting `explicit_defaults_for_timestamp`"
# Topic clarification/correction request

Dear Developers, we have a devdocs page https://devdocs.magento.com/guides/v2.3/install-gde/prereq/mysql.html#instgde-prereq-mysql-config that says the setting should be set to ON:

[code]

The `explicit_defaults_for_timestamp` setting is itself deprecated because its only purpose is to permit control over deprecated TIMESTAMP behaviors that are to be remo

[2020-10-26 15:34] jeff-matthews commented on #8119
I uploaded a revised PDF to devdocs.

[2020-10-26 15:34] #8119 closed

[2020-10-27 22:30] kirkmadera opened #8139 "Add more info on using selected_options"
# General issue

https://devdocs.magento.com/guides/v2.4/graphql/mutations/add-products-to-cart.html

## Description:

How do I use `selected_options`? There is a random hash stated in the documentation, but no explanation on where to source that from...

## Possible solutions:

## Additional information:

[2020-10-28 08:30] sathiyaaa commented on #7994
@magento I am working on this

[2020-10-28 10:43] dineshvb commented on #7993
@magento I am working on this

[2020-10-28 18:51] #8126 closed

[2020-10-28 22:39] jenlindner commented on #7976
Hi, should I work off of 2.4.2-develop or 2.4-develop-s3 for this? Just wondering which branch to use (in my fork).

[2020-10-28 22:58] jeff-matthews commented on #7976
@jenlindner, you can use the `master` branch since this is not specific to a patch-level release (for example, 2.4.2). The 2.4.2-develop` branch is for updates that won't be published until 2.4.2 reaches GA.

[2020-10-28 23:42] ak77-prime opened #8146 "Define services in magento.app.yaml in docs"
# General issue

## Description:

Under Project configuration it states:

.magento.app.yaml—defines how to build and deploy Magento, including services, hooks, cron jobs, and more.
...
.magento/services.yaml—defines the services Magento uses by name and version. For example, this file may include versions of MySQL, PHP extensions, and Elasticsearch. These are referred to as services.

## Possible

[2020-10-29 05:38] ak77-prime opened #8149 "Mention Dev mode cannot be set in Cloud env"
# General issue

## Description:

It would be a good idea to specify that Developer mode cannot be set in the Cloud environment - in case a Cloud user sees this section.

"The Developer tab and options are only available in Developer mode."

See https://devdocs.magento.com/guides/v2.3/performance-best-practices/configuration.html#client-side-optimization-settings

## Possible solutions:

Add a not

[2020-10-29 20:00] dshevtsov opened #8155 "Unrendered links"
# General issue

https://devdocs.magento.com/guides/v2.4/security/two-factor-authentication.html

## Description:

The topic contains referenced links without references:

`[Configuring MFTF for Two-Factor Authentication (2FA)][12]`
`[Base32 Encode][13]`

## Possible solutions:

Fix links or unlink the text.

[2020-10-29 21:36] keharper commented on #8139
@kirkmadera Make sure your `products` query looks like this.

[code]

These truncated results show what you're getting.

[code]
We'll make sure this is added to the docs.

[2020-10-30 12:31] kirkmadera commented on #8139
Thank you. What about for gift cards? How can I find the uid for the options like "Sender Name". They are hard coded in Magento unit tests, so we ended up hard coding them. While this is working, this data seems like it should be provided from GraphQL like in the above.

[2020-10-30 19:36] keharper commented on #8139
@kirkmadera There's an example of using `entered_options` at https://devdocs.magento.com/guides/v2.4/graphql/mutations/add-products-to-cart.html#add-a-product-with-entered-options

A query to fetch the `uid` of that simple product would look like this

[code]

For a gift card, you'd use a `GiftCardProduct` fragment, instead of `CustomizableProductInterface`. The rest should be easy to figure out.

[2020-10-31 10:09] developerRitesh opened #8163 "Feedback on page: /guides/v2.3/extension-dev-guide/extension_attributes/adding-attributes.html"
# General issue
Sample module on GitHub link at  the bottom of the page should redirect to a valid page
## Description:
Sample module on GitHub like at  the bottom of the page redirect to  404  page not found on the github it either  should redirect to  relevant page or  the link should  be removed.

Sample module on GitHub like at  the bottom of the page redirect to  404  page
## Possible solutio

[2020-10-31 18:30] keharper commented on #8163
@developerRitesh We are aware of this problem. You can see a summary at https://github.com/magento/devdocs/wiki/Archived-code-samples  Closing because #7958 first identified the issue, making this a duplicate.

[2020-10-31 18:30] #8163 closed

[2020-11-01 11:04] konarshankar07 commented on #7730
Hello @zaheerbadi ..
I checked your implementation added in the ticket description and there is typo in your code you have written `setting` instead of `settings` which is correct in https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-columnscontrols.html. Please apply the mention change and let me know if you still have issue with the documentation
Thanks

[2020-11-02 08:10] dfelton opened #8165 "Potentially invalid warning, and inaccurately states not used "options" of "field" node."
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-systemxml.html#field-node-reference

## Description

- The reference table here states the following regarding the `options` node: "Not used. Potentially deprecated."
- Furthermore, the warning box below states the following: "...and `options` are defined by a differe

[2020-11-02 09:39] AndyMardell opened #8166 "Cannot query field "orders" on type Customer: /guides/v2.4/graphql/queries/customer.html"
## Description:

The `orders` field is not available on the `customer` query. As this was only merged 18 days ago, I expect it's an unreleased feature in Magento, however, I can't seem to find a reference to this field anywhere in the Magento 2 project. Can anyone point out the pull request where this feature was/is going to be added?

This was added to the docs in [PR #7436](https://github.com/ma

[2020-11-02 15:11] keharper commented on #8166
@AndyMardell What version of Magento are you using? We added the `orders` object in 2.4.1.

The public repo doesn't maintain branches for each patch release, but you can see here that `orders` was added 8 months ago.

https://github.com/magento/magento2/blame/2.4-develop/app/code/Magento/SalesGraphQl/etc/schema.graphqls#L24

[2020-11-02 15:46] AndyMardell commented on #8166
Perfect, thanks @keharper.

My apologies – I was looking in the CustomerGraphQl module for this change and was only running 2.4.0

Thanks for your quick response

[2020-11-02 15:46] #8166 closed

[2020-11-02 18:55] zenfork commented on #7400
@BarnyShergold Xdebug on Magento Cloud Docker 1.1.2 not working at all: PhpStorm throws an error: `Can't start listening for connections from 'xdebug': Port 9001 is busy`. Please, add this hotfix to the documentation, for example: https://github.com/magento/magento-cloud-docker/issues/233#issuecomment-656273062
For me this hotfix works like a charm, but I spent a lot time investigating what's is w

[2020-11-02 19:44] #8116 closed

[2020-11-02 21:19] #7976 closed

[2020-11-02 21:51] #8149 closed

[2020-11-03 11:21] dineshvb commented on #2957
@magento I am working on this

[2020-11-03 15:12] Eddcapone opened #8173 "Feedback on page: /guides/v2.3/extension-dev-guide/plugins.html"
# General issue

## Description:

It seems to be impossibel to write plugins for API Interface methods.
We are using the webapi to save the quote and I try to write a afterSave plugin to do some additional calculations on the quote and save it back. But it does not work.

All details here:
https://magento.stackexchange.com/questions/325696/magento-2-write-plugin-for-api-interface

[2020-11-03 15:16] BarnyShergold commented on #7400
@zenfork - Please raise a proper issue on DEVDOCS and indicate which docs you wanted updated and how. Then the request can be dealt with in due course.

[2020-11-03 21:40] dshevtsov opened #8177 "Empty topics"
# General issue

https://devdocs.magento.com/guides/v2.3/config-guide/prod/config-reference-parent.html
https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-parent.html

## Description:

Empty topics.

## Possible solutions:

Remove the topics or add content.

[2020-11-04 10:53] Eddcapone commented on #8173
The reason was, that I tried to log by using chromePhp, which does not seem to work at plugins... Now I used this approach to log it:

    $writer = new \Zend\Log\Writer\Stream(BP . '/var/log/zend_debug.log');
    $logger = new \Zend\Log\Logger();
    $logger->addWriter($writer);
    $logger->info("afterSave test");

...and it works!

[2020-11-04 10:53] #8173 closed

[2020-11-04 12:59] willjones-stratagem opened #8178 "Incorrect line in di.xml"
# General issue

## Description:

Configure di.xml section is incorrect
https://devdocs.magento.com/guides/v2.4/inventory/source-selection-algorithms.html

## Possible solutions:

Change the following line in di.xml

`<type name="Magento\InventorySourceSelection\Model\SourceSelectionService">`

To the following

`<type name="Magento\InventorySourceSelectionApi\Model\SourceSelectionService">`

[2020-11-04 16:02] NadiyaS commented on #8049
about **`Consistent configuration`** section. I guess it should be fully rewritten:

All default values stores in config.xml in appropriate module

All changes made in Magento Admin panel are stored in DB only, config.php file is not changed.
Command `config:set` may write configs as to DB as to config.php as to env.php, depends on the used options. By default this command writes to DB.

On instal

[2020-11-04 16:32] redati opened #8189 "error in the documentation of L2 caching in the Magento application"
### Summary (*)
there is an error in the syntax of the configuration informed in the documentation. It doesn't work.

Warning: substr() expects parameter 1 to be string, object given in /usr/share/nginx/decora/decora_n/vendor/colinmollenhour/cache-backend-redis/Cm/Cache/Backend/Redis.php on line 1248

Link: https://devdocs.magento.com/guides/v2.4/config-guide/cache/two-level-cache.html

### Exampl

[2020-11-04 17:12] NadiyaS commented on #8049
**`Configuration data`** section:

I am not sure what means under `Extension list`. Probably list of modules+extensions?
Also, if we list all info that this file may contain, I would add list of all stores configured on the project.

Seems like the link set in `environment variables` is wrong https://devdocs.magento.com/cloud/project/magento-env-yaml.html as I do not know how we may configure fiel

[2020-11-04 23:10] meker12 commented on #8146
Additional info --  Configuring services for your Cloud environment requires configuration info from services.yaml and .magento.app.yaml.  So technically, the .magento.app.yaml file does determine the services that are built, but the service definition is in the services.yaml file.

If you look at all the [service setup topics](https://devdocs.magento.com/cloud/project/services.html), the instruct

[2020-11-05 06:40] sathiyaaa commented on #8178
@magento I am working on this

[2020-11-05 11:26] dineshvb commented on #2957
@magento I am working on this

[2020-11-05 11:41] dineshvb commented on #6383
@magento I am working on this

[2020-11-05 18:15] ak77-prime opened #8188 "Feedback on page: /cloud/env/variables-deploy.html"
# General issue

## Description:

The [MYSQL_USE_SLAVE_CONNECTION](https://devdocs.magento.com/cloud/env/variables-deploy.html#mysql_use_slave_connection) and [REDIS_USE_SLAVE_CONNECTION](https://devdocs.magento.com/cloud/env/variables-deploy.html#redis_use_slave_connection) variables are only supported for Pro clusters

## Possible solutions:

Clarify that these variables/configurations only appl

[2020-11-06 05:00] sathiyaaa commented on #8177
@magento I am working on this

[2020-11-06 10:35] dineshvb commented on #8189
@magento I am working on this

[2020-11-09 07:06] sergey-nechaev opened #8201 "Feedback on page: /guides/v2.4/install-gde/basics/basics_software.html"
# General issue

## Description:
This page doesn't really add any information to the devdocs. The https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html page covers everything.

## Possible solutions:

Remove the page.

## Additional information:

It doesn't make sense to support two pages with system requirements.

[2020-11-09 07:35] sathiyaaa commented on #8177
@dobooth  Can the topic be removed or should the content be added?

[2020-11-09 07:56] dineshvb commented on #2916
@magento I am working on this

[2020-11-09 10:34] kananinj commented on #7958
@gelanivishal
now it public repository..
https://github.com/magento/magento2-samples

i hope its good for us.

[2020-11-09 10:54] sathiyaaa commented on #8201
@magento I am working on this

[2020-11-09 11:55] #7986 closed

[2020-11-09 12:45] #8178 closed

[2020-11-09 14:22] chiranjeevi-cj commented on #8201
@magento I am working on this

[2020-11-09 16:34] jeff-matthews commented on #7958
Thanks @kananinj! Confirmed that the repo is publicly accessible again.

[2020-11-09 16:34] #7958 closed

[2020-11-10 05:45] chiranjeevi-cj commented on #8165
@magento Iam working on this.

[2020-11-10 05:52] chiranjeevi-cj commented on #8201
@m2-community-project @sergey-nechaev Should I remove the page?

[2020-11-10 06:02] dineshvb commented on #7448
@magento I am working on this

[2020-11-10 12:39] dobooth commented on #8177
Ah! This is a PR where one of our writers was checking the codebase and discovered topics with zero content. We think they are from old(v2.2 or older) where the content was moved to another location but the files were not deleted. There is almost no git history in current versions. We will likely end up just deleting them first but want to do some more checking first. Appreciate you grabbing it bu

[2020-11-10 13:21] manafpm opened #8208 "Magneo cloud dev docs contradictory information"
# Contradictory information on cloud dev docs

## Contradictory information on cloud dev docs at https://devdocs.magento.com/cloud/deploy/static-content-deployment.html

At this page https://devdocs.magento.com/cloud/deploy/static-content-deployment.html , there is mentioned as "Even with minified HTML, each content file must be copied to the mounted ~/pub/static directory, which can take a long t

[2020-11-10 13:21] manafpm commented on #8208
@magento I am working on this

[2020-11-10 13:22] manafpm commented on #8208
@magento add to contributors team

[2020-11-10 13:23] manafpm commented on #8208
@magento add to contributors team

[2020-11-10 17:18] AndresAndreev opened #8211 "Clarification for description for attribute "template" in "Layout instructions" page"
# General issue

## Description:

The description for attribute "template" for **block** states:

But that is only true if the class that implements the rendering of this particular block doesn't already have `$_template` property set up (e.g. _Magento\Theme\Block\Html\Header\Logo_, _Magento\Theme\Block\Html\Breadcrumbs_).

## Possible solutions:

Add information about this exception to the rule.

[2020-11-10 21:37] BarnyShergold commented on #8211
@AndresAndreev - Please can you add the full URL to the page? We need this to identify the document to change!

[2020-11-10 21:46] AndresAndreev commented on #8211
@BarnyShergold Yes, of course! It's added now. Totally forgot about it.

[2020-11-10 21:49] BarnyShergold commented on #8208
@manafpm - The statements are not contradictory.
The important bit is that the first paragraph refers to generating static content in the DEPLOY phase and the second in the BUILD phase.

Extracting the most important bits :
"As seen in the following chart, generating static content during the **deploy** phase is the least optimal choice. Even with minified HTML, each content file must be copied to

[2020-11-10 22:00] BarnyShergold commented on #8211
How does this read to you -
"If the attribute is omitted, the block will not render any output unless the block class (or a parent class) has the $_template property defined correctly."

[2020-11-10 22:04] AndresAndreev commented on #8211
Sounds good to me. 👍

[2020-11-10 22:28] BarnyShergold commented on #8211
@AndresAndreev - In the pipeline!

[2020-11-11 07:16] manafpm commented on #8208
Hi @BarnyShergold ,

Thanks a lot for the clarifications. I think I was misreading it. When I re-read it I understood the content properly.

Regards,
Manaf

[2020-11-11 07:16] #8208 closed

[2020-11-11 10:04] sathiyaaa commented on #6414
@magento I am working on this

[2020-11-11 11:35] princekthakur opened #8214 "Feedback on page: /guides/v2.3/rest/tutorials/orders/order-issue-refund.html"
# General issue
Getting 404 Not found while using the format of api
## Description:

## Possible solutions:

## Additional information:

[2020-11-11 11:41] chiranjeevi-cj commented on #3807
@magento i am working on this

[2020-11-11 12:00] #8201 closed

[2020-11-11 12:45] sathiyaaa commented on #8214
@magento I am working on this

[2020-11-12 06:00] sathiyaaa commented on #8214
Hi, @princekthakur . Could you confirm which endpoint you used and can also confirm if the right `order_id` ,` invoice_id` and `store_code` was used?

[2020-11-12 06:23] dineshvb commented on #7059
@magento I am working on this

[2020-11-12 06:46] sathiyaaa commented on #8107
@magento I am working on this

[2020-11-12 07:25] princekthakur commented on #8214
HI, Which store code are you asking?

On Thu, Nov 12, 2020 at 11:31 AM Sathiya Prakash <notifications@github.com>
wrote:

--
Thanks & Regards
Prince Kumar Thakur

[2020-11-12 08:03] sathiyaaa commented on #8214
The one in the example.
`POST <host>/rest/<store_code>/V1/order/5/refund`
Can you please confirm in which endpoint you are facing the issue?

[2020-11-12 08:39] princekthakur commented on #8214
https://toothless.in/admin_b8phvf/V1/order/1500000254/refund

I'm using this endpoint

[2020-11-12 08:42] princekthakur commented on #8214
Could you please check and revert accordingly?
@sathiyaaa

[2020-11-12 10:33] sathiyaaa commented on #8214
This is more of a personal issue. The endpoint seems to be working just fine

[2020-11-12 10:41] sathiyaaa commented on #7580
@magento I am working on this

[2020-11-12 10:57] princekthakur commented on #8214
Hi Sathiya,
can you please share any example cURL ?

[2020-11-12 11:35] #8211 closed

[2020-11-12 18:21] andrewbess commented on #7374
@magento I am working on this

[2020-11-12 19:08] dobooth commented on #8214
Closing this as a technical issue, not a docs issue. But feel free to converse here. :)

[2020-11-12 19:08] #8214 closed

[2020-11-13 12:41] ioweb-gr opened #8224 "add information on how to extend catalog price rule conditions"
# New topic request
Could you please add information on how to extend catalog price rules to add custom conditions?

## Description
Currently in the internet there's not much information about this funcionality but there are lots of questions regarding this subject. On the contrary extending Cart Rules has lots of documentation to find online.

## Content checklist
It would be great to have an ove

[2020-11-13 16:57] keharper commented on #7994
Closed per #8172

[2020-11-13 16:58] keharper commented on #7993
Closed per #8170

[2020-11-13 16:58] #7993 closed

[2020-11-13 16:58] #7994 closed

[2020-11-17 07:07] dineshvb commented on #6011
@magento I am working on this

[2020-11-17 12:02] #6414 closed

[2020-11-17 16:38] #7961 closed

[2020-11-18 05:20] sathiyaaa commented on #8224
@magento I am working on this

[2020-11-18 05:22] sathiyaaa commented on #7260
@magento I am working on this

[2020-11-18 07:57] ihor-sviziev opened #8237 "Requesting a table for comparing installation methods"
# General issue

## Description:

Right now it's not clearly described here that it's recommended to use composer based installation for production. This causes issues like https://github.com/magento/magento2/issues/30920.

## Possible solutions:

Would be good to add recommendation to use composer based installation, maybe compare table similar to https://magento.com/tech-resources/download
![ima

[2020-11-18 11:02] pixel-paul opened #8299 "Undocumented breaking change in 2.3.6 - \Magento\Sales\Model\Order\Pdf\Invoice class"
### Summary (*)
After upgrading from 2.3.5-p1 to 2.3.6 an undocumented breaking change was introduced to the \Magento\Sales\Model\Order\Pdf\Invoice class. This prevents invoices from being printed if the class has been extended.

Ref: https://devdocs.magento.com/guides/v2.3/release-notes/backward-incompatible-changes/reference.html

### Examples (*)
Before (2.3.5-p1):

[code]
After (2.3.6):
[code]

[2020-11-18 11:39] dineshvb commented on #8237
@magento I am working on this

[2020-11-18 15:44] sathiyaaa commented on #7260
Hello @palomaEcommistry , I tried the above code and implemented the widget and it seems to be working fine for all of PNG, JPEG and JPG formats. I have attached the screenshot for your reference.
![rsz_widget](https://user-images.githubusercontent.com/50226394/99552480-0e599900-29e3-11eb-839b-c946adf5e5ae.png)

[2020-11-18 15:48] sathiyaaa commented on #7260
The documentation covers only the JS and phtml part whereas the other files required for setting up a widget programmatically (widget.xml, block files) are missing.

[2020-11-18 18:00] dumpstrack1 opened #8241 "https://pp247.dumpstrack1.com/Sell Bank Login + Paypal Cashout"
Hi everybody

I have an online service and I am looking for a good buyer to work together for a long time

I provide cashout money service

If you are looking for money online, you have come to the right place

** This is my service:

Dumps Track1 Track2 Extremely good fresh all countries with high balances,

Paypal with high balance

Bank login

- Full Information of the United States (Name / Add

[2020-11-18 18:05] #8241 closed

[2020-11-18 18:22] dumpstrack1 commented on #8241
Hello All Buyers Worldwide !!!

You want cashout money online or Some Tools other to work that does not want to See RIPPER / SCAMMER

That is the reason why today we want to recommend to your . One where you can get what you want, but not to worry.

I provide cashout money service
I have a shop online
auto 24/7
100% refund if the stuff is bad or invalid
support online 24/7

- Sell Paypal Good Fres

[2020-11-19 06:07] chiranjeevi-cj commented on #7786
@magento I am working on this.

[2020-11-19 06:09] chiranjeevi-cj commented on #7786
Should I Proceed with the possible solution given by @infinityredux?

[2020-11-19 06:26] dineshvb commented on #3393
@magento I am working on this

[2020-11-19 10:13] chiranjeevi-cj commented on #8114
@magento I am working on this

[2020-11-19 10:16] chiranjeevi-cj commented on #8114
@dshevtsov Can you please tell me the reference link to the topic with a list of compatible versions Magento - B2B?

[2020-11-19 13:02] #6011 closed

[2020-11-19 13:26] #7448 closed

[2020-11-19 15:33] dshevtsov commented on #8114
@dobooth can you help with the link?

[2020-11-20 05:43] sathiyaaa commented on #7955
@magento I am working on this

[2020-11-20 14:07] Eddcapone opened #8256 "Not explained how to pass data to script via data-mage-init and how to access them in the script."
# General issue

Feedback on page: /guides/v2.4/javascript-dev-guide/javascript/js_init.html

## Description:

It does not explain how to pass parameters to the script via data-mage-init and how to access them in the script.
Examples are missing.

[2020-11-20 22:07] goivvy commented on #7587
Please see a screenshot - would this layout be informative enough? I'd like to use for the rest 300+ events, thought I'd ask first.
![Screen Shot 2020-11-20 at 5 04 19 PM](https://user-images.githubusercontent.com/1328492/99854451-d5403680-2b52-11eb-9c01-c993e959bb6e.png)

[2020-11-23 04:49] sathiyaaa commented on #8256
@magento I am working on this

[2020-11-23 15:25] #7059 closed

[2020-11-23 16:54] #7933 closed

[2020-11-23 16:57] keharper commented on #7701
Closed per #7702

[2020-11-23 16:57] #7701 closed

[2020-11-23 21:28] goivvy commented on #7587
@shrielenee Could you take a look, please?

[2020-11-23 21:35] apkc-dvsts opened #8260 "Feedback on page: /cloud/docker/docker-mode-production.html"
I'm following these manuals: https://devdocs.magento.com/cloud/docker/docker-mode-production.html
Configured authentication keys, set PHP (7.4) and Image version (1.2.1), but it stuck with such error:
[code]
How this can be bypassed?

[2020-11-23 22:35] meker12 commented on #8260
@apkc-dvsts --  Image version for Docker is 1.2.0 --

What version of Magento are you trying to install?   If you are installing 2.4 or 2.4.1, make sure you apply patches as described in Step 10 of the (_Launch Docker environment in Developer mode procedure_](https://devdocs.magento.com/cloud/docker/docker-mode-developer.html).

[2020-11-23 22:42] apkc-dvsts commented on #8260
@meker12, I'm stuck with p.3 of that manual

Last thing I did was trying to
[code]

But it was complaining for too low PHP version. So I decided to to go with second way there and did
[code]
then edited this sh with PHP version 7.4 (instead of 7.2), also tried to set different Image versions 1.2.0, 1.2.1 - nothing works, everything gets stuck after hundred or two modules on that same message:
[cod

[2020-11-23 22:44] meker12 commented on #8260
try:

curl https://raw.githubusercontent.com/magento/magento-cloud-docker/<package-version>/bin/init-docker.sh \| bash -s -- --php 7.4 --image 1.2.0

[2020-11-23 23:07] apkc-dvsts commented on #8260
@meker12, no, same result.

Now I cleaned my CentOS 7 VM and here is list of all my actions:
[code]

In step 9 I've put my proper keys from profile. And then output of line 11 is:
[code]
I'd understand access issue if I had 403, but 404 - no such file is there.

[2020-11-23 23:14] meker12 commented on #8260
So this is more of a support issue.  Try following up in the Magento Community Slack forum in the thread you already started.

[2020-11-23 23:14] #8260 closed

[2020-11-24 07:29] ak77-prime opened #8261 "Clarify Fastly set up info about DNS configuration for production"
# General issue

## Description:

The following text is mentioned in the [Fastly set up](https://devdocs.magento.com/cloud/cdn/configure-fastly.html) topic towards the top of the page:

[code]

Logically speaking, the development settings would be configured first, then the Production settings would later be configured prior to launching.

## Possible solutions:

This section about configuring the

[2020-11-24 07:39] chiranjeevi-cj commented on #8114
@dobooth Is the reference link to the topic with a list of compatible versions Magento - B2B available? or need to create?

[2020-11-24 07:53] vergissberlin opened #8262 "Change viewModel to view_model"
# General issue

## Description:

Update this topic: ../guides/v2.4/extension-dev-guide/view-models.html

XML: It is `viewModel` instead of `view_model` right?

[2020-11-24 08:42] chiranjeevi-cj commented on #8261
@magento I am working on this

[2020-11-24 08:51] chiranjeevi-cj commented on #8262
Hello @vergissberlin ... view_model is the right one.

[2020-11-24 12:29] #7786 closed

[2020-11-24 13:44] ajaysingh-webkul opened #8264 "Issue with Zero Checkout Subtotal Magento2.4"
Step To Reproduce

1 Please Set **Zero Subtotal checkout**  **new order status** to **Processing** ( https://imgur.com/a/mrJQyTN )
2.create a virtual Product with Price 0
3.then add to cart that product and place an order with a total of 0
4. then check order status in admin orders grid ( https://imgur.com/a/syfqkkX )

[2020-11-24 14:46] #8189 closed

[2020-11-24 16:09] #6383 closed

[2020-11-24 17:13] #8146 closed

[2020-11-25 03:26] keharper commented on #8264
Hi @ajaysingh-webkul. This looks like a code issue. Please open an issue against the code base at https://github.com/magento/magento2

[2020-11-25 03:26] #8264 closed

[2020-11-25 12:26] truonghdpk opened #8269 "Join to Slack community"
Hey, there are no bugs in here but in the Document site of PWA Studio with Slack community but i can't join it, what problem?
my email is  truongondaihoc@gmail.com
please i need the community to communicate the problem of developing

[2020-11-25 13:15] leopinnheiro opened #8270 "Unable to View the Rest API documentation for Magento version 2.3"
@magento Unable to View the Rest API documentation for Magento version 2.3
http://devdocs.magento.com/swagger/index_23.html

Can anybody provide the resource to view the REST API the documentation for Magento version 2.3?
Thanks.

[2020-11-25 13:33] dobooth commented on #8270
https://devdocs.magento.com/redoc/2.3/

[2020-11-25 13:33] dobooth commented on #8270
We might have some links to update here.

[2020-11-25 13:37] leopinnheiro commented on #8270
Is there a link to access the swagger?

[2020-11-25 13:42] jeff-matthews commented on #8270
No, we replaced the swagger-ui library with Redoc because the latest version of swagger-ui has an XSS vulnerability.

Technically, both libraries use the same "swagger" (now known as OpenAPI) schema to generate docs.

[2020-11-25 13:42] #8270 closed

[2020-11-25 18:04] eguardado-one opened #8272 "error in L2 caching documentation 2.3 vs 2.4"
# Topic clarification/correction request
Clarification if the documentation for 2.3 should be the same as 2.4
## Topic Link
Related issue
https://github.com/magento/devdocs/issues/8189

2.4 doc
https://devdocs.magento.com/guides/v2.4/config-guide/cache/two-level-cache.html
2.3 doc
https://devdocs.magento.com/guides/v2.3/config-guide/cache/two-level-cache.html

## Description
Clarification if the d

[2020-11-26 05:58] chiranjeevi-cj commented on #8272
@magento I am working on this

[2020-11-26 10:17] #8269 closed

[2020-11-26 13:00] ParimalSigma opened #8275 "Feedback on page: /guides/v2.4/comp-mgr/cli/cli-rc1-samp.html"
# General issue

## Description:

In latest Magento 2.4, there should not be var/generation folder

## Possible solutions:

Update Text from "rm -rf var/cache/* var/page_cache/* var/generation/*" to "rm -rf var/cache/* var/page_cache/* generated/*"

[2020-11-26 13:00] ParimalSigma commented on #8275
@magento I am working on this

[2020-11-26 13:00] ParimalSigma commented on #8275
@magento add to contributors team

[2020-11-26 13:04] Techytt commented on #8275
@magento I am working on this

[2020-11-26 13:04] Techytt commented on #8275
@magento add to contributors team

[2020-11-26 13:05] Techytt commented on #8275
@magento add to contributors team

[2020-11-26 13:06] Techytt commented on #8275
@magento I am working on this

[2020-11-27 04:57] chiranjeevi-cj opened #8277 "Feedback on page: /guides/v2.4/install-gde/install/sample-data-after-clone.html"
# General issue

## Description:

In the latest Magento 2.4, there should not be a var/generation folder

## Possible solutions:

Update Text from "rm -rf var/generation/" to "rm generated/*"

[2020-11-27 04:57] chiranjeevi-cj commented on #8277
@magento I am working on this

[2020-11-27 20:16] #2916 closed

[2020-11-27 22:45] keharper opened #8281 "GraphQL: Add coverage for Shopper Assistance"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue:

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/30130

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax?
-  [ ]

[2020-11-30 04:38] #7580 closed

[2020-11-30 14:48] shrielenee commented on #7587
Hey @goivvy Do you have an open or in-progress PR for this? It's easier to review that way. Calling in some reinforcements... paging @keharper 📲

[2020-11-30 14:57] #8261 closed

[2020-11-30 15:37] keharper commented on #7587
This request is a job for automation. Any manually gathered list could be out of date the next patch release, and we can't search the code base every time we release a patch or add new functionality to the code base.

@dshevtsov Does this look like something we can automate?

[2020-11-30 16:47] dshevtsov commented on #7587
I think so, but I will need time to explore available options.
cc @jeff-matthews

[2020-12-01 03:57] sathiyaaa commented on #8281
@magento I am working on this

[2020-12-01 05:56] dineshvb commented on #7837
Related Issue - #6011

[2020-12-01 05:57] dineshvb commented on #7837
It is resolved and merged

[2020-12-01 06:54] chiranjeevi-cj opened #8289 "Feedback on page: /guides/v2.4/install-gde/install/legacy-file-system-perms.html"
# General issue

## Description:

In the latest Magento 2.4, there should not be a var/generation folder

## Possible solutions:

Update Text from "rm -rf var/generation/" to "rm generated/*"

[2020-12-01 06:55] chiranjeevi-cj commented on #8289
@magento I am working on this

[2020-12-01 06:58] chiranjeevi-cj commented on #8275
@magento I am working on this

[2020-12-01 07:30] Techytt commented on #8275
@magento I am working on this

[2020-12-01 07:33] Techytt commented on #8289
@magento I am working on this

[2020-12-01 09:11] chiranjeevi-cj opened #8292 "Need to change `generation` to `generated` in command"
# General issue

Affected file: src/guides/v2.4/install-gde/trouble/tshoot_wrong-mysql.html

## Description

In the latest Magento 2.4, there should not be a var/generation folder

## Possible solutions

Update Text from "rm -rf var/cache/* var/page_cache/* var/generation/" to "rm -rf var/cache/ var/page_cache/* generated/*"

[2020-12-01 09:11] sathiyaaa commented on #8292
@magento I am working on this

[2020-12-01 09:15] chiranjeevi-cj opened #8293 "Feedback on page: /guides/v2.4/install-gde/install/cli/install-cli-sample-data-clone.html"
# General issue

## Description:

In the latest Magento 2.4, there should not be var/generation folder

## Possible solutions:

Update Text from "rm -rf var/cache/* var/page_cache/* var/generation/" to "rm -rf var/cache/ var/page_cache/* generated/*"

[2020-12-01 09:15] dineshvb commented on #8293
@magento I am working on this

[2020-12-01 11:53] #8293 closed

[2020-12-01 12:08] #7837 closed

[2020-12-01 20:10] almarchenko opened #8297 "Move and update the content from Magento Support KB to DevDocs"
In Magento Support Knowledge Base there's an article, which would better belong in Magento Devdocs:
https://support.magento.com/hc/en-us/articles/360005032794
So it would be great to "move" it to Devdocs, and updating if required.
High-level steps to complete this issue:

1. Take a look at the article and verify it's content.
2. Create a new article in the relevant section of the Devdocs repo and

[2020-12-01 20:46] jeff-matthews commented on #8297
I discussed this with @almarchenko and agree that the KB article is out of scope for the Magento Knowledge Base (KB) and in scope for devdocs.

We already have a tutorial on devdocs that is similar, but not exact: https://devdocs.magento.com/guides/v2.4/howdoi/customize_product.html

[2020-12-02 16:35] RakeshJesadiya commented on #7989
@magento I am working on this.

[2020-12-02 17:57] qaniel opened #8304 "Update references to Payment sample module"
# General issue

You are providing old version support of Magento and archived repo for code base on creating a custom payment method

## Description:

Affected page: /guides/v2.4/payments-integrations/base-integration/integration-intro.html

In the following text on the documentation:

To simplify the development of new payment integration, Magento developed the [Payment sample module](https://gi

[2020-12-03 05:12] chiranjeevi-cj commented on #8304
@magento I am working on this

[2020-12-03 06:28] chiranjeevi-cj commented on #8304
@dobooth Is there any working repo for the Payment sample module? If there, Can you please share the link.
Thank You.

[2020-12-03 06:39] chiranjeevi-cj commented on #8114
@dobooth Any update on the link?

[2020-12-03 07:05] srsathish92 commented on #8114
@chiranjeevi-cj Need to update the compatible matrix of B2B & Magento

[2020-12-03 15:46] dshevtsov commented on #8114
cc @jeff-matthews

[2020-12-03 15:49] jeff-matthews commented on #8114
@chiranjeevi-cj, you can find B2B in the following compatibility matrix: https://devdocs.magento.com/release/availability.html#compatibility

[2020-12-03 18:57] goivvy commented on #7587
Here is what I did:

1. Downloaded the latest Magento release
2. find vendor -type f -exec grep -iHn --color=always '\->dispatch(' {} \; >eventlist.txt
3. Went over eventlist.txt manually and store all event names in DB.

[2020-12-03 19:41] erikmarr commented on #8299
@maghamed can you please take a look at this issue and recommend someone who can help with documentation?

[2020-12-03 22:54] dshevtsov commented on #8299
NOTE
The reported change wasn't detected by our automation. See #8316
This should be considered at magento/magento-semver#34.

[2020-12-04 03:20] ak77-prime opened #8317 "Feedback on page: /cloud/cdn/cloud-vcl-custom-snippets.html"
# General issue

## Description:

Deleting of VCL snippets using the Magento Admin tool does not result in the snippet being removed at Fastly.

According to the Fastly extension [documentation](https://github.com/fastly/fastly-magento2/blob/master/Documentation/Guides/CUSTOM-VCL-SNIPPETS.md):
[code]

Recommend adding a note/caution that deleting of snippets has to be done using the API.

## Possi

[2020-12-04 04:03] #8114 closed

[2020-12-04 04:46] sathiyaaa commented on #8317
@magento I am working on this

[2020-12-04 15:34] #8272 closed

[2020-12-04 16:09] #8275 closed

[2020-12-04 16:55] jeff-matthews opened #8338 "Change var/generation/ to generated/ globally"
# General issue

## Description:

In Magento 2.4.0, the `var/generation` directory was changed to `generated`.

## Possible solutions:

Globally update references to `var/generation/*` and `generation/* to `generated/*` in all 2.4.x docs.

[2020-12-04 17:10] chiranjeevi-cj commented on #8338
@magento I am working on this

[2020-12-04 17:11] chiranjeevi-cj commented on #8338
@magento I am working on this

[2020-12-04 17:13] chiranjeevi-cj commented on #8338
@jeff-matthews I have changed almost every place. Correct me if iam wrong. Below added PR for those fix
https://github.com/magento/devdocs/pull/8291
https://github.com/magento/devdocs/pull/8279

[2020-12-04 17:19] jeff-matthews commented on #8338
Thanks @chiranjeevi-cj! It looks like you did.

[2020-12-04 17:31] #8277 closed

[2020-12-04 18:06] #8338 closed

[2020-12-05 00:00] dshevtsov opened #8339 "404 external links"
# Bug report

## Description

404 links

[code]

## Expected result

The 404 links are replaced with working links or deleted.

[2020-12-05 09:33] ioweb-gr opened #8340 "Update Admin Grids example to include an example for multistore installations"
# Topic clarification/correction request

The example is not working for multistore installations throwing an error

[code]

## Topic Link

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/admin-grid.html

## Description

It needs to be clarified that this example works for single store installations. If you create a multistore installation you will receive an error because the plugin i

[2020-12-06 20:20] keharper commented on #8281
Fixed in #8303

[2020-12-06 20:20] #8281 closed

[2020-12-06 22:20] keharper commented on #7989
Fixed by #8303

[2020-12-06 22:20] #7989 closed

[2020-12-06 22:25] keharper commented on #8289
Closing this issue because affected file will be deleted soon. See #8291 for details
 fo

[2020-12-06 22:25] #8289 closed

[2020-12-06 23:12] keharper opened #8341 "GraphQL: Miscellaneous requisition list mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue:

Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/448

Magento 2 version:

-  [ ] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax?

[2020-12-07 05:03] chiranjeevi-cj commented on #8341
@magento I am working on this

[2020-12-07 05:16] sathiyaaa commented on #8262
@magento I am working on this

[2020-12-07 14:46] nwcasebolt opened #8347 "Feedback on page: /videos/fundamentals/add-new-product-attribute/"
# General issue

## Description:

Documents are insufficiently clear on how to create product attribute options via upgrade script.

## Possible solutions:

I would request that Magento's DevDocs be modified to clarify the process of product attribute option creation. I had to deep dive into the core and document the nuances of creating attribute options for my team because (as near as I can tell)

[2020-12-07 14:53] #3393 closed

[2020-12-07 15:09] BarnyShergold commented on #8340
@hguthrie - I think this is more of a found bug with the plugin rather than a documentation issue. Can we get a developer to take a look at the plugin code on this page and suggest a correction?

[2020-12-07 17:20] dineshvb commented on #8347
@magento I am working on this

[2020-12-07 18:21] BarnyShergold commented on #8297
@magento I am working on this

[2020-12-08 16:11] #8262 closed

[2020-12-08 17:17] hguthrie commented on #8340
@BarnyShergold Thanks, I will search for one.

[2020-12-08 23:33] #8297 closed

[2020-12-08 23:35] jeff-matthews commented on #8297
@almarchenko, the topic will be published on devdocs soon (~30 minutes). After it's published, you should set up a redirect from the KB article to https://devdocs.magento.com/guides/v2.4/howdoi/admin/customize_admin.html.

[2020-12-09 14:23] #8256 closed

[2020-12-09 15:08] hguthrie commented on #8052
@srsathish92  At the beginning of the Configure services topic is a large note about upgrading services in Pro environments. And at the beginning of each service configuration topic, there is a similar note regarding Pro environments. There is also a note about it in the [Magento Help Center](https://support.magento.com/hc/en-us/articles/360048603692).

[2020-12-09 15:28] srsathish92 commented on #8052
@hguthrie Yes, I agreed the point. As per the given link said "Customers with Pro plan, can only self-serve the services upgrades on their Integration environment" But I can't able to upgrade "node" service in integration environment. This is the my only concern.

[2020-12-09 15:55] hguthrie commented on #8052
The services are upgraded and downgraded roughly the same. The instructions are below the Service compatibility table in the [Change service version](https://devdocs.magento.com/cloud/project/services.html#change-service-version) section. Based on your error, it seems like it is a problem specific to your environment. I am not sure what you are asking docs to do. There are no special configuration

[2020-12-09 21:52] goivvy commented on #7587
@shrielenee @dshevtsov @keharper  Should I continue going over the events manually?

[2020-12-10 17:57] Serializator opened #8370 "Container started using Docker Compose terminates with unexpected error"
# Bug report

## Description

When using `docker-compose up` the container is terminated with the error below.

[code]

### Steps to reproduce

- Clone the repository
- Run `docker-compose up`

## Expected result

Container is started without any issues.

## Possible solutions

Use `jekyll/jekyll:3` as the Docker image in the Docker Compose configuration.

[2020-12-10 19:05] ak77-prime opened #8372 "Feedback on page: /cloud/before/before-workspace-ssh.html"
# General issue

## Description:

This section describes 2 methods of adding an SSH key:
https://devdocs.magento.com/cloud/before/before-workspace-ssh.html#ssh-add-to-account

* Using the Magento Commerce Cloud CLI
* Using the Magento Commerce Cloud Web Interface

There should be one additional method: Using the Cloud account dashboard.

Also, add another section about what to do if you have added

[2020-12-10 19:45] keharper commented on #7990
Fixed by #8093

[2020-12-10 19:45] #7990 closed

[2020-12-11 03:55] #7991 closed

[2020-12-11 05:17] sathiyaaa commented on #8372
@magento I am working on this

[2020-12-11 05:20] keharper opened #8376 "GraphQL: Update earlier requisition list PR"
# Community engineering issue

Type of Doc:

-  [ ] New topic
-  [X] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue:
Magento 2 GitHub PR: https://github.com/magento/partners-magento2b2b/pull/448

Magento 2 version:

-  [x] 2.4.2

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endpoints or updated GraphQL query syntax

[2020-12-11 07:38] dineshvb commented on #8376
@magento I am working on this

[2020-12-14 05:08] chiranjeevi-cj commented on #7656
@magento I am working on this

[2020-12-14 05:08] chiranjeevi-cj commented on #7656
@magento I am working on this

[2020-12-14 10:56] sathiyaaa commented on #7260
@shrielenee Thoughts?

[2020-12-14 12:25] chiranjeevi-cj commented on #7391
@magento I am working on this

[2020-12-14 13:13] shrielenee commented on #7260
Yes @sathiyaaa! Please add any information about files that are not covered in the documentation currently and submit a PR. Don't forget to tag this issue in it so they are linked. 🙇‍♀️

[2020-12-14 15:59] #7955 closed

[2020-12-14 16:07] Serializator commented on #7587
It depends on what level of detail you want.

A simple overview of events can be done by using a regular expression. If you want some more detail then it'd quickly go to using some kind of AST to determine what is e.g. passed as data to the event.

An AST might be over-engineering the problem but at the same time feels like to only viable solution which can also be automated.

What do you think @g

[2020-12-14 16:16] #7656 closed

[2020-12-14 16:58] dshevtsov commented on #8370
cc @hguthrie

[2020-12-14 18:09] goivvy commented on #7587
I'd root for a manual approach, that way it would be more accurate and I can add usage (when to listen) details which would be impossible to compose automatically.

[2020-12-14 18:42] dshevtsov commented on #7587
Unfortunately, manual approach would require manual reapplying for each new release.
We added this request to the list of automation requests in our backlog.

[2020-12-14 20:11] goivvy commented on #7587
That's 20 hours of my time wasted down the drain. Thank you.

[2020-12-14 21:06] hguthrie commented on #8370
Hi there! I will take a look at this. Thanks @dshevtsov

[2020-12-14 23:05] hguthrie commented on #8370
This is not exactly a bug. The simple docker compose YAML that is in our repo points to `jekyll/jekyll:latest`. The[ latest image uses ruby version 2.7.0](https://hub.docker.com/r/jekyll/jekyll/tags?page=1&ordering=last_updated), which is probably what is causing the errors you see. Devdocs is using [Ruby 2.6.6](https://github.com/magento/devdocs/blob/master/.ruby-version). You can change the dock

[2020-12-14 23:11] hguthrie commented on #8370
The `docker-compose.yaml` file was provided by a contributor and is a nice, quick solution to use Docker. We do not have time to enhance this file, but anyone that does have the time and familiarity with Docker is welcome to create a more robust version. I am closing this issue.

[2020-12-14 23:11] #8370 closed

[2020-12-14 23:31] dshevtsov commented on #7587
@goivvy, since we have encouraged you to work on this pull request and you have already done great work, it makes perfect sense to publish it and keep until we come up with the automation. We'll need to add corresponding notes referring to the documented components (code repositories such as magento2, inventory, etc) and versions of the code.

@shrielenee , @keharper what do you think?

[2020-12-15 04:24] keharper commented on #7587
I concur.

[2020-12-15 10:21] sathiyaaa opened #8389 "Feedback on page: /guides/v2.4/javascript-dev-guide/javascript/js_init.html"
# General issue

## Description:

Formatting error of the javascript block
```javascript define([‘jquery’,’'], function($) { return function(config, element) { $(element).(config); }; });```

[2020-12-15 10:22] sathiyaaa commented on #8389
@magento I am working on this

[2020-12-15 10:38] dineshvb commented on #6317
@magento I am working on this

[2020-12-15 14:05] #8389 closed

[2020-12-15 14:09] #7391 closed

[2020-12-15 20:59] #8339 closed

[2020-12-15 21:12] poprasad opened #8392 "Incorrect instructions for crontab errors"
# General issue

## Description:

under https://devdocs.magento.com/cloud/configure/setup-cron-jobs.html#verify-cron-configuration-on-pro-projects it says:

If the crontab -l command returns a Command not found error, contact your Customer Technical Advisor (CTA) or Customer Success Manager (CSM) about enabling the auto-crons self-service configuration option on your Magento Commerce Cloud project

[2020-12-15 21:57] hguthrie commented on #8049
@BarnyShergold are you still working on this? I will keep your name on it, but I will remove Nadiya since she provided input.

[2020-12-16 04:05] chiranjeevi-cj commented on #8392
@magento I am working on this

[2020-12-16 04:20] pkodithuwakku opened #8394 "Update PHP settings on performance best practices software page"
# General issue

## Description:

The recommendation provided in https://support.magento.com/hc/en-us/articles/360050422532 article contradicts with the
recommendation given in https://devdocs.magento.com/guides/v2.4/performance-best-practices/software.html#php-settings. In Magento cloud environments  opcache.enable_cli setting has to be set to 0, without that the changes in .magento.env.yaml are

[2020-12-16 04:43] chiranjeevi-cj commented on #8394
@magento I am working on this

[2020-12-16 05:52] sathiyaaa commented on #8392
@magento I am working on this

[2020-12-16 08:27] srsathish92 commented on #8052
@meker12 @NadiyaS Can you please give instructions to upgrade node on integration environment in Pro account.

[2020-12-16 09:59] BarnyShergold commented on #8049
@hguthrie - I've just not time to commit to this. Hopefully in the new year. You can remove my name if you wish and when I have time I'll "reclaim" the issue.

[2020-12-16 10:24] korovitskyi commented on #4451
@magento I am working on this

[2020-12-16 15:42] hguthrie commented on #8049
Okay, thanks Barny! Just want to free it up in case someone else wants to try. Feel free to grab it back any time 🙂

[2020-12-16 16:23] goivvy commented on #7587
OK.

[2020-12-16 17:13] goivvy commented on #7587
Will you keep my top 'thank you' backlink once you adopt an automated page?

[2020-12-17 07:15] chiranjeevi-cj commented on #4451
@korovitskyi I think there are more modules that need to be updated.  Can I also join the show? If you okay with that.

[2020-12-17 15:00] hguthrie commented on #8340
Update: still looking around for someone to check it out.

[2020-12-17 23:53] bzahariev opened #8411 "Set up multiple websites or stores on Cloud"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/cloud/project/project-multi-sites.html

## Possible solutions
Have a more simple and easy to understand and follow approach.
The attached file contains a recipe that has been followed successfully by several customers who had failed to follow the current text. It can be given either as an example or used to rework

[2020-12-18 09:51] korovitskyi commented on #4451
Hi @chiranjeevi-cj !
Sure.
I think you should start from the button of modules list to avoid conflicts.

[2020-12-18 09:55] chiranjeevi-cj commented on #4451
@magento I am working on this

[2020-12-18 18:14] #8372 closed

[2020-12-21 14:33] ericerway commented on #7852
@magento give me 2.4.0 instance

[2020-12-21 14:33] ericerway commented on #7852
@magento give me 2.4.1 instance

[2020-12-21 14:34] ericerway commented on #7852
@magento give me 2.4-develop instance

[2020-12-21 16:32] VladimirZaets commented on #7852
@magento give me 2.4-develop instance

[2020-12-21 16:48] VladimirZaets commented on #7852
@magento give me 2.4-develop instance

[2020-12-21 20:16] keharper commented on #8341
Closed via #8354

[2020-12-21 20:16] #8341 closed

[2020-12-21 22:13] goivvy commented on #7587
@dshevtsov @keharper @shrielenee Could you please answer my question before I move forward?

[2020-12-21 22:48] jeff-matthews commented on #7587
@goivvy, yes, we'll preserve the backlink in honor of your original coontribution.

[2020-12-22 06:40] bhaveshpp opened #8431 "Feedback on page: /cloud/configure/import-url-rewrites.html"
# General issue

## Description:

The module is not available  I have tried to install it but could not find a matching version of the package
![image](https://user-images.githubusercontent.com/41717838/102857286-27c08b80-444e-11eb-908a-f33768123afc.png)

[2020-12-23 16:06] lenaorobei commented on #7852
@magento give me 2.4-develop instance with edition ce

[2020-12-23 16:24] thiagopov opened #8441 "Feedback on page: /guides/v2.4/migration/bk-migration-guide.html"
Erro 404 in https://github.com/magento/code-migration

# General issue

## Description:

## Possible solutions:

## Additional information:

Erro 404 in https://github.com/magento/code-migration

[2020-12-23 17:23] jeff-matthews commented on #8441
The magento/code-migration repo has been marked `Private archived`, which is why it appears as a 404 for users that do not have access to our private repos.

@victor-v-rad, we either need to remove the link to the code-migration repo or ask the repo owner to mark it as `Archived` (public). What do you think?

[2020-12-23 19:21] thiagopov commented on #8441
ok, i await access, public, i believe, in order to better understand the migration process, hug, merry christmas and end of year to all.

[2020-12-23 19:39] victor-v-rad commented on #8441
code migration tool project looks outdated (no git commits in about 1.5 years) and no support. I believe it is better to remove the text

from /guides/v2.4/migration/bk-migration-guide.html

[2020-12-27 09:11] ioweb-gr opened #8446 "Update the checkout tutorial to show how to reorder billing/shipping address forms"
# General issue

Affected page: /guides/v2.4/howdoi/checkout/checkout_overview.html

There is some very important information that would benefit a lot of users in the checkout customization. It's a very popular question that is needed in our country but as I see online there is a lot of interest online from other users as well but there's no official guidance on how to do it.
The needed action is

[2020-12-29 19:29] bybilgili opened #8451 "Hello, if I ask, do I have a friend to help me install magento"
Hello, if I ask, do I have a friend to help me install magento     whatsapp : +905415159595

[2020-12-29 19:50] bybilgili commented on #8451
Can you install it via remote assistance program

[2020-12-29 19:51] bybilgili commented on #8451
magento 2,4
Can you install it via remote assistance program

[2020-12-31 16:10] chrisfwd opened #8458 "Feedback on page: /guides/v2.4/extension-dev-guide/view-models.html"
# `getViewModel()` results in null

## Description:

Documentation explains to use `<argument name="viewModel">` within layout.xml and then to retrieve that viewModel in the template by calling `$viewModel = $block->getViewModel();`. This causes `$viewModel` to be null.

## Possible solutions:

Update layout.xml instructions to read `name="view_model"`

[2021-01-01 21:31] andrewmortiz opened #8461 "Correction on https://magento.redoc.ly/2.4.1-admin/tag/productsattributes"
# Topic clarification/correction request
Options > Value under POST /V1/products/attributes listed as required; however, this doesn't seem to be correct.
## Topic Link

https://magento.redoc.ly/2.4.1-admin/tag/productsattributes

## Description
![image](https://user-images.githubusercontent.com/18596805/103446455-7e477a00-4c45-11eb-8988-c06078215b79.png)

## Possible solutions

Remove the required

[2021-01-03 20:58] keharper opened #8465 "GraphQL: Document CORS support"
# Community engineering issue

Type of Doc:

-  [ ] New topic
-  [x] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/31195

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/31484

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST end

[2021-01-03 21:34] keharper opened #8466 "GraphQL: Add docs for routes query and RoutableInterface"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/31196

Magento 2 GitHub PRs:
- https://github.com/magento/magento2/pull/31490
- https://github.com/magento/partners-magento2ee/pull/445

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin int

[2021-01-04 05:32] KrishnaK-Z commented on #8466
@magento I am working on this

[2021-01-04 05:33] G-Arvind commented on #8465
@magento I am working on this

[2021-01-04 05:50] sathiyaaa commented on #8461
@magento I am working on this

[2021-01-04 09:10] ajithkumar-maragathavel commented on #2227
@magento I am working on this

[2021-01-04 15:23] keharper commented on #8461
@andrewmortiz @sathiyaaa This is a code problem and devdocs can't fix this.

We autogenerate the schema and make some programmatic edits for displaying on ReDoc.  These edits don't touch the technical details of the schema. The following screenshot shows the same issue in the native Swagger, so the problem isn't with our edits.

![Screen Shot 2021-01-04 at 9 10 04 AM](https://user-images.githubuse

[2021-01-04 15:23] #8461 closed

[2021-01-05 01:46] ak77-prime opened #8471 "Feedback on page: /cloud/reference/cli-ref-topic.html"
# General issue

## Description:

https://devdocs.magento.com/cloud/reference/cli-ref-topic.html

This point should be clarified:
[code]

Merchants think it means that it can be **installed on all environments.** which is not the case

## Possible solutions:

Change it to
[code]

## Additional information:

[2021-01-05 08:31] chiranjeevi-cj commented on #8304
@keharper @dobooth Is there any working repo for the Payment sample module?
Thank You.

[2021-01-06 16:25] BarnyShergold commented on #8451
This is not the place to ask this question - this is DEVDOCS. I can recommend that you join the Magento Community Engineering Slack channel and posting to #general

Closing as this is not a DEVDOCS issue

[2021-01-06 16:25] #8451 closed

[2021-01-06 17:08] shashankparikh opened #8479 "Feedback on page: /guides/v2.4/graphql/queries/customer-orders.html"
# General issue
Can't able to fetch orders while using customer query.
## Description:
query {
  customer {
    orders(
      pageSize: 20
    ) ...

gives the error of orders in customer query.

gives the error of orders in customer query.
## Possible solutions:

## Additional information:

[2021-01-06 22:17] keharper commented on #8479
@shashankparikh Support for the order history in the `customer` query was added in 2.4.1. I ran the query on the a 2.4.2 build (I don't have a 2.4.1 build handy), and the code sample works. You opened this issue against the `customerOrders` query. That code sample still works as well, although the query has been deprecated.

Reopen this issue if I haven't addressed the problem. If you do, provide

[2021-01-06 22:17] #8479 closed

[2021-01-08 10:44] robsch opened #8490 "Feedback on page: /guides/v2.4/install-gde/install/post-install-config.html"
The sample (and probably the description) on the [page](https://devdocs.magento.com/guides/v2.4/install-gde/install/post-install-config.html#post-install-cron) is outdated, compared to https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html#create-the-magento-crontab . AFAIK it still belongs to version 2.3.

Old:

[code]

New:

[code]

[2021-01-08 14:23] fj-sfd commented on #1041
In my case only unidentified Class was:
**OauthClient**

and following the answer from [this link](https://ubuntugeeks.com/questions/1006464/magento-2-oauth-integration-error) worked for me.

You need to define OauthClient.php in your checklogin.php file as:
require 'OauthClient.php';

[2021-01-08 17:22] braders opened #8491 "Feedback on page: /cloud/docker/docker-containers-service.html"
# General issue
The wrong port is listed for the MailHog docker service in the Cloud Docker documenation.

## Description:

Under the heading [MailHog container](https://devdocs.magento.com/cloud/docker/docker-containers-service.html#mailhog-container) it is stated that you can connect to MailHog at http://magento2.docker:8026. In reality this should be http://magento2.docker:8025. The port is off

[2021-01-09 21:54] audio-engineer opened #8493 "Feedback on page: /guides/v2.4/extension-dev-guide/view-models.html"
# General issue

## Description:

Line 3 in the "How to write view models" section is wrong. If `$viewModel = $block->getViewModel();` is used in the template to reference to the view model class, it won't work when using `<argument name="viewModel">`.

On the other hand, if `$viewModel = $block->getData("viewModel");` is used, `<argument name="viewModel" xsi:type="object">OrangeCompany\Catalog\Vi

[2021-01-10 16:18] pawan commented on #8493
Issue confirmed!

[2021-01-10 16:19] pawan commented on #8493
@magento I am working on this

[2021-01-11 16:30] #8491 closed

[2021-01-12 12:28] dineshvb commented on #8471
@magento I am working on this

[2021-01-12 14:32] #8471 closed

[2021-01-12 15:49] victor-v-rad commented on #8441
Created MC-40381 to process reported issue

[2021-01-12 16:07] roshanyadav89 opened #8504 "Feedback on page: /guides/v2.3/rest/modules/catalog-pricing.html"
as per your document price_to is optional in API but it's not optional it's necessary on Magento 2 EE 2.3.3

https://devdocs.magento.com/guides/v2.3/rest/modules/catalog-pricing.html

I am facing some serious issues related to adding/set a special price of the same product / SKU with multiple stores using API.
- The same issue exists from the backend also.

++++++++++++++++++

- Tried adding store

[2021-01-12 17:34] hostep commented on #8299
If people end up here from a search engine, here's how we solved the constructor problem if you have a module which needs to support both Magento 2.3.5 and 2.3.6: https://github.com/magento/magento2/issues/30684#issuecomment-722602562

[2021-01-12 23:03] NadiyaS commented on #8052
hi @srsathish92 ,
if you want to upgrade service on integration environment, you need to change **version** in .magento/services.yaml file https://devdocs.magento.com/cloud/project/services.html#service-values, then just commit and push version. Appropriate version number should be found by the link you already mentioned in the [description](https://devdocs.magento.com/cloud/project/services.html#

[2021-01-13 08:34] monstro805 opened #8510 "How do we fix"
https://github.com/magento/devdocs/blob/b97c8712478ca8b0b3ce49c6bb8f1cfae54c63b5/.github/workflows/linter.yml#L47

[2021-01-13 08:35] monstro805 commented on #8510
hello how do we fix this issue ???

[2021-01-13 09:21] BarnyShergold commented on #8510
@monstro805 - You haven't actually said what the problem is and why its a problem.

[2021-01-13 10:32] vlmed commented on #4451
@magento I am working on this

[2021-01-13 16:38] dineshvb commented on #8490
@magento I am working on this

[2021-01-13 17:49] keharper commented on #8465
@G-Arvind If you've started working on this issue, be aware that there is now a `2.4.3-develop` branch.

[2021-01-14 13:31] BarnyShergold commented on #8510
Closing this as it doesn't actually report a problem. @monstro805, please reopen if you update it.

[2021-01-14 13:31] #8510 closed

[2021-01-15 13:29] #8441 closed

[2021-01-15 19:19] irenelagno commented on #7852
@magento give me 2.4-develop instance with edition ce

[2021-01-16 03:41] ak77-prime opened #8527 "Feedback on page: /cloud/deploy/smart-wizards.html"
# General issue

## Description:

It appears that the Smart Wizards may no longer be available in the latest update of ECE Tools (2002.1.4)

## Possible solutions:

Verify the version compatibility and add a notice about which version(s) of ECE Tools this applies to

## Additional information:

[2021-01-18 16:35] bogdan-tomi opened #8532 "Feedback on page: /guides/v2.4/extension-dev-guide/plugins.html"
# General issue

## Description:

Regarding prioritizing plugins (https://devdocs.magento.com/guides/v2.4/extension-dev-guide/plugins.html#prioritizing-plugins), the sort order of after plugins is not the specified "Following the execution flow, starting from lowest to highest sortOrder in the current sequence plugins loop.", but rather **highest to lowest** instead.

Also, all the examples should

[2021-01-20 07:02] rahulpathakweb commented on #6683
error filtering template: notice: undefined index: directivename in vendor/magento/framework/filter/directiveprocessor/simpledirective.php on line 68
Hi Dear, i felt same error but i solved it 100%.  please check email template in marketing in the admin, if any commented code or unused  space please remove. you will get 100% solution.

[2021-01-20 10:36] korovitskyi commented on #8532
Hi, @bogdan-tomi .
Information of this article part is actual.
You can see the message `The around plugin’s method affects the flow of all plugins that are executed after it.` there.
If using `around` it may destructure prioritizing of the plugin.
You can see it at **Scenario B (with a callable around)**.
Methods will call there by the next steps:
1) PluginA::beforeDispatch()
2) PluginB::beforeDis

[2021-01-20 12:25] #8532 closed

[2021-01-20 15:09] #8347 closed

[2021-01-21 12:03] LeanderFS opened #8544 "Page Builder - How to add an appearance clarification"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/page-builder/docs/how-to/how-to-add-appearance.html

## Description
The guide is incomplete to say the least. There is not clarification on most of the topics and concepts are very poorly explained.
A couple of pointers:

- Adding a `_module.less` in the location indicated doesn't work and is not picked up by eithe

[2021-01-21 13:51] #8490 closed

[2021-01-21 14:25] #2227 closed

[2021-01-21 19:30] Leland opened #8546 "All inlined scripts for v2.4+ should use secureRenderer"
# Topic clarification/correction request

## Topic Link

* https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_init.html#init_script
* https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget_loader.html#loader_init
* https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget-trim-input.html#initialize-the-triminput-widget

etc.

## Descri

[2021-01-22 00:56] srsathish92 commented on #8052
@NadiyaS As per our internal discussion in slack, "You cannot setup nodejs on your environment. You can add it to the build phase and in the build hook add necessary script which will use it" . Can you please update the same in devdocs?

@hguthrie @meker12

[2021-01-22 13:58] Santoshziffity commented on #7730
@magento I am working on this

[2021-01-22 15:16] #8458 closed

[2021-01-25 22:32] hostep opened #8561 "[2.4.2] Document the new `--no-parent` flag in the static content deploy command"
# Topic clarification/correction request

## Topic Link

- https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-static-view.html

## Description

This [pull request](https://github.com/magento/magento2/pull/30090) added a new `--no-parent` flag to the `setup:static-content:deploy` command to significantly improve its performance.
And this will be included in Magento 2.4.

[2021-01-26 07:51] Eddcapone opened #8563 "Checkout Customisation instructions do not work"
# General issue

## Description:

Feedback on page: /guides/v2.4/howdoi/checkout/checkout_edit_form.html

I tried to apply the information from the [documentation ](https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_edit_form.html)to add a logo to the payment method.
But it does not work and nothing has changed. The instructions seem to be wrong.

Details can be found [here](https://

[2021-01-26 09:47] Eddcapone opened #8564 "Instructions for disabling component are not clear enough"
# General issue

## Description:

Feedback on page: /guides/v2.4/howdoi/checkout/checkout_customize.html

In the [documentation ](https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_customize.html)it says:

![image](https://user-images.githubusercontent.com/16349349/105827832-c0ed3f80-5fc2-11eb-8822-e6b539a4df06.png)

So I tried it by disabling the amazon pay button at the top:

![ima

[2021-01-26 14:27] Eddcapone opened #8565 "Article should start with illustration"
# General issue

## Description:
Feedback on page: /guides/v2.4/howdoi/checkout/checkout_form.html

The article should start with the illustration to let us know about the main goal of these instructions.
It would be much easier to understand.

## Possible solutions:

Move the illustration from the bottom of the page to the top for more clarity.

## Additional information:

[2021-01-26 16:27] Eddcapone opened #8566 "Illustrative example needed"
# General issue

## Description:

Feedback on page: /guides/v2.4/ui_comp_guide/concepts/ui_comp_xmldeclaration_concept.html

I've read through it but I dont fully understand the example.
What exactly is the code doing? From my understanding a form is created, but where can I see it?
Please make it easier to understand for beginners and add some screenshots to it.

[2021-01-26 19:51] keharper commented on #7374
@magento export issue to Jira project PWA as Issue

[2021-01-26 19:53] keharper commented on #7374
@magento export issue to Jira project PWA as Story

[2021-01-26 22:53] hguthrie commented on #8527
@ak77-prime  Are you receiving some error that indicates the commands are no longer available? The Cloud guide represents the latest version of the Cloud tools.
The Wizard commands are still in the [2002.1 development branch of the ece-tools repository](https://github.com/magento/ece-tools/tree/2002.1/src/Command/Wizard), as well as their latest `develop` branch, so not sure what you are experienc

[2021-01-26 23:19] ak77-prime commented on #8527
I tried running the command on some cloud merchant's servers - they are on ECE Tools 2002.1.4 - but it gives an error There are no commands defined in the "wizard" namespace

e.g., in the uyjy6h7avtxes_stg environment

Anthony Chico
technical SUPPORT ENGINEER
Magento CUSTOMER ENGINEERING
T +1 424.258.3354  |  C +1 626.400.3699
anchico@adobe.com<mailto:anchico@adobe.com>
3640 Holdrege Ave, Los Ange

[2021-01-27 06:29] Eddcapone opened #8570 "Need example for new_component_declaration topic"
# General issue

## Description:

Feedback on page: [/guides/v2.4/ui_comp_guide/howto/new_component_declaration.html](https://devdocs.magento.com/guides/v2.4/ui_comp_guide/howto/new_component_declaration.html)

The article needs an example so we can understand the process.

[2021-01-27 06:38] Eddcapone opened #8571 "Example not working - more information needed"
# General issue

## Description:

Feedback on page: /guides/v2.4/ui_comp_guide/components/ui-container.html

There is not enough information provided to be able to test the example.
Where do we have to add the code?

I created a layout file for the checkout for testing and added the code into it:

**app\design\frontend\company\fresh\Magento_Checkout\layout\checkout_index_index.xml**

[code]

But I

[2021-01-27 10:48] viveknetsmartz opened #8572 "Could not find a matching version of package magento/extension-b2b."
# General issue
Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stable).

## Description:

Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is availa

[2021-01-27 11:26] BarnyShergold commented on #8527
@ak77-prime @hguthrie
I can confirm that there is no problem with Wizards on ECE-TOOLS 2002.1.4 - I just upgraded a test instance, deployed and checked.

Normally when an expected namespace disappears it means there is a bug somewhere that prevents it from being listed ir run.

My recommendation is that this is NOT a DevDocs issue and so should be closed and @ak77-prime needs to raise it with Mage

[2021-01-27 14:07] lipsa-git opened #8574 "Feedback on page: /guides/v2.4/install-gde/install/cli/install-cli.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2021-01-27 14:08] lipsa-git commented on #8574
![image](https://user-images.githubusercontent.com/55824806/106002435-183aff00-60ec-11eb-96fd-8c231e4ab364.png)

not able to proceed to next step . How can i proceed to next?

[2021-01-27 14:36] lipsa-git commented on #8574
Hi Team, Can get a quick support on this.

[2021-01-27 14:41] dobooth commented on #8527
@ak77-prime Closing this for now. We can verify this internally before opening an issue.

[2021-01-27 14:41] #8527 closed

[2021-01-28 05:20] PivitParkour94 opened #8576 "CSP RenderTag missing in JS Resource Docs"
# Bug report

## Description
The issue is that as of Magento 2.4.x the Magento_CSP module is meant to be used, which means all phtml templates that render JS script tags should be done via the `$csp->renderTag('script', [], $scriptString, false);` method.

### Steps to reproduce

1. Look at JS resource docs
1. See it's a copy of the 2.3 documentation
1. Laugh a little

## Expected result

Look at

[2021-01-28 05:24] PivitParkour94 commented on #8576
the specific page I am referring to is https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js-resources.html

[2021-01-28 09:45] monstro805 opened #8579 "?"
https://github.com/magento/devdocs/blob/b97c8712478ca8b0b3ce49c6bb8f1cfae54c63b5/.github/workflows/linter.yml#L47

[2021-01-28 14:30] barbazul opened #8581 "Feedback on page: /guides/v2.4/howdoi/checkout/checkout_new_field.html - Misleading snippet"
# General issue

## Description:

Step 2 snippet acceses the custom_field value with `shippingAddress.customAttributes['custom_field']`.
However, following instructions in Step one, `shippingAddress.customAttributes`is actually an array like the following:

[code]

## Possible solutions:

Array.find could be used to locate the corresponding object and extract the value

[code]

[2021-01-28 16:58] monstro805 opened #8582 "help"
https://github.com/magento/devdocs/blob/b97c8712478ca8b0b3ce49c6bb8f1cfae54c63b5/.github/workflows/linter.yml#L47

[2021-01-28 17:23] lenaorobei commented on #7852
@magento give me 2.4-develop instance with edition ce

[2021-01-28 17:45] lenaorobei commented on #7852
@magento give me 2.4-develop instance with edition ce

[2021-01-28 18:17] dineshvb commented on #8581
@magento I am working on this

[2021-01-28 22:16] keharper commented on #8579
@dshevtsov Would you take a look at this issue and probably close it?

[2021-01-28 22:25] dshevtsov commented on #8579
We've had one already https://github.com/magento/devdocs/issues/8510.

@monstro805 please provide more information about your issue if you want it to be resolved.

[2021-01-28 22:25] #8579 closed

[2021-01-28 22:32] #8582 closed

[2021-01-29 04:49] Santoshziffity commented on #2609
@magento I am working on this

[2021-01-29 09:35] thomas-kl1 opened #8587 "Register attribute output handlers via di.xml"
# New feature request

## Description

Register new attribute output handlers via the di.

Issue: https://github.com/magento/magento2/issues/12371
Pull Request: https://github.com/magento/magento2/pull/24405

## Expected result

The developer can add new attribute output handlers via the dia without having to edit the templates/theme which reduce maintenance and cost and is great for extensibility

[2021-01-29 12:14] ProkopovVitaliy commented on #4451
@magento I am working on this

[2021-01-29 15:29] dineshvb commented on #8587
@magento I am working on this

[2021-01-29 22:22] nahall commented on #8587
Can you confirm if this code does work for you? I'm trying it out but the productAttribute function in Vendor\Module\Model\Handler\Output never gets run. I can see the constructor in Vendor\Module\Model\Handler\Output firing, though, but when I trace through Magento\Catalog\Helper\Output I can't see this new handler being added anywhere. Thanks.

[2021-01-29 22:30] thomas-kl1 commented on #8587
@nahall sorry there was a typo in the xml, please try again, but set the key in lowercase in the di (I have updated the description)

[2021-01-29 22:51] nahall commented on #8587
Ah, I had found the first typo but didn't realize that productattribute was case sensitive. It seems to be working now. Thanks much!

[2021-02-01 05:44] keharper opened #8602 "GraphQL: Add mutations for managing gift registry items"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28586

Magento 2 GitHub PR: https://github.com/magento/partners-magento2ee/pull/280

Magento 2 version:

-  [x] 2.4.3

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] N

[2021-02-01 05:47] keharper opened #8603 "GraphQL: Add mutations for managing gift registry registrants"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28586

Magento 2 GitHub PR: https://github.com/magento/partners-magento2ee/pull/280

Magento 2 version:

-  [x] 2.4.3

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] N

[2021-02-01 15:41] chickenland opened #8604 "Feedback on page: /guides/v2.4/soap/bk-soap.html"
# General issue

## Description:

The overview for catalog SOAP API endpoint includes the notation * against a number of endpoints, however, it doesn't make any reference to what this means on those endpoints.

## Possible solutions:

Add a definition against the *.

[2021-02-01 15:42] chickenland commented on #8574
Magento 2.4 dropped the UI installation - you need to install via CLI.

[2021-02-01 22:38] PivitParkour94 commented on #8576
Found a related issue #8546

[2021-02-02 04:51] ak77-prime opened #8608 "Feedback on page: /cloud/cdn/configure-fastly.html"
# General issue

## Description:

https://devdocs.magento.com/cloud/cdn/configure-fastly.html#update-dns-configuration-with-development-settings

Add a note that custom domains are not supported for Starter projects

``Starter projects:``
* mcprod.<your-domain>.com

## Possible solutions:

```You cannot specify a custom domain in Staging for your Starter project```

## Additional information:

[2021-02-02 08:55] DenisSaltanahmedov commented on #8106
@magento I am working on this

[2021-02-02 12:12] dineshvb commented on #8608
@magento I am working on this

[2021-02-02 23:51] shaneherman opened #8616 "https://devdocs.magento.com/safe-upgrade-tool/introduction.html [Missing]"
# General issue

This page has gone missimg:

https://devdocs.magento.com/safe-upgrade-tool/introduction.html

## Description:

Expected for page to be there as this was an announced tool / page.

## Possible solutions:

Provide more details if tool will be available or not.

## Additional information:

[2021-02-03 00:00] jeff-matthews commented on #8616
@shaneherman, the correct URL is https://devdocs.magento.com/upgrade-compatibility-tool/introduction.html.

@danidelcar, please investigate why the redirect isn't working.

[2021-02-03 00:14] shaneherman commented on #8616
Thanks @jeff-matthews .. Google has the above page Indexed so appreciate fixing the Redirect.

[2021-02-03 02:31] monstro805 opened #8619 "???"
https://github.com/magento/devdocs/blob/b97c8712478ca8b0b3ce49c6bb8f1cfae54c63b5/.github/workflows/linter.yml#L47

[2021-02-03 04:20] #8619 closed

[2021-02-03 09:30] danidelcar commented on #8616
I'll look into it today, thanks for the alert!

thanks @jeff-matthews

[2021-02-03 10:20] Eddcapone opened #8620 "Can the vault only be used to store credit card information or can I implement it on other payment methods as well?"
# General issue

## Description:

Feedback on page: /guides/v2.4/payments-integrations/vault/vault-intro.html

Can the vault only be used to store credit card information or can I implement it on other custom payment methods like "invoice" as well?

[2021-02-03 10:42] danidelcar commented on #8616
created PR to fix issue, thanks @jeff-matthews & @shaneherman

[2021-02-03 13:32] #8616 closed

[2021-02-03 15:20] bdenham commented on #7242
This is true. There needs to be a pretty big effort to clarify the information surrounding the processing of Magento .less files, whether in app modules or themes. The themes side is covered fairly well, but processing .less files within app modules is missing.

LiveReload has also recently become an issue because of Magento security enhancements. Current versions of LiveReload will not work with

[2021-02-03 16:11] bdenham opened #8624 "Grunt less compiling in Docker environment"
# New topic request

## Description

Add a topic to the cloud side of frontend development, specifying that the Grunt `.less` transpiler needs to be run from inside the containers. As it stands now, there is no good documentation for css transpiling via Grunt in the Docker environment.

## What the new topic should cover

-  [x] The new topic should provide an explanation of how Grunt transpiling

[2021-02-03 19:39] dobooth commented on #8237
Hey @jeff-matthews After our Install Guide refresh, this table on /tech-resources/ is now stale. Who can update this?

[2021-02-03 19:41] dobooth commented on #8292
@sathiyaaa Any progress on this issue?

[2021-02-03 19:43] jeff-matthews commented on #8237
@dobooth, Holli Matthews' team (Marketing) owns that page. We would need to create an internal Jira ticket to request updates. @MMyles-Adobe, I know you worked on the redesign. Do you have any suggestions for who we can escalate this feedback to?

[2021-02-03 19:47] bdenham commented on #8317
Fixed with PR #8327

[2021-02-03 19:47] #8317 closed

[2021-02-03 19:48] bdenham commented on #8340
@hguthrie Any updates for this?

[2021-02-03 19:50] keharper commented on #8376
Fixed by #8381

[2021-02-03 19:50] #8376 closed

[2021-02-03 19:57] dobooth commented on #8431
This is more of a support issue than a docs issue. https://support.magento.com/hc/en-us/articles/360019088251-Submit-a-support-ticket

[2021-02-03 19:57] #8431 closed

[2021-02-03 20:01] hguthrie commented on #8340
No one has offered any feedback. 😞

[2021-02-03 20:11] MMyles-Adobe commented on #8237
@jeff-matthews , are you looking for info on who implemented the Tech Downloads comparison table? That was done by Ernest Wong's identity team. This is the Jira ticket for it - [ITIS-7568](https://jira.corp.magento.com/browse/ITIS-7568)

The design is based on this [Spectrum Comparison Table spec](https://spectrum-contributions.corp.adobe.com/page/comparison-table-beta/).

[2021-02-03 20:16] jeff-matthews commented on #8237
Thanks @MMyles-Adobe! That's what I was thinking of.

[2021-02-03 20:16] jeff-matthews commented on #8237
This is not a devdocs issue.

[2021-02-03 20:18] jeff-matthews commented on #8237
@dobooth, my understanding of the reposted issue is that we're being asked to add a table like that to our devdocs; not to refresh the page at https://magento.com/tech-resources/download.

[2021-02-03 20:25] MMyles-Adobe commented on #8237
@jeff-matthews & @dobooth - if looking to implement a similar table on a devdocs webpage, can probably use [Spectrum CSS](https://opensource.adobe.com/spectrum-css/) to style with similar look, if desired. But could use standard devdocs table styling as well, for consistency.

[2021-02-03 20:34] lenaorobei commented on #7852
@magento give me 2.4-develop instance with edition ce

[2021-02-04 01:05] ak77-prime opened #8626 "Version numbers for ece-tools and cloud patches did not update"
# General issue

## Description:

The VERSION column isn't updated - ECE Tools is currently on 2002.1.5, for example

## Possible solutions:

Please double-check all the versions

## Additional information:

[2021-02-04 02:11] bdenham commented on #8626
@ak77-prime, thanks for reporting this. The variables that control these version numbers are set correctly as you can see here defined here: https://github.com/magento/devdocs/blob/e8b61b8f080a18a6a7102236e8822abef51ef21e/src/_data/var.yml#L28 and used here: https://github.com/magento/devdocs/blob/master/src/cloud/release-notes/cloud-tools.md.

We might need to do a clean/full production build to

[2021-02-04 08:35] kokitamoto opened #8627 "Feedback on page: /guides/v2.4/install-gde/install/get-software.html"
I heard that magento portal will be close, and all contents of magento portal will be moved to Solution Partner portal.

In [Magento Commerce] step 4.

Already, removed Downloads menu, and can't download source of "Magento Commerce".

Should be explain what is/will happen, and write new procedures.

[2021-02-04 09:23] DenisSaltanahmedov commented on #6970
@magento I am working on this

[2021-02-04 09:24] DenisSaltanahmedov commented on #8106
Hi @dobooth the PR is merged, can you clouse the issue?

[2021-02-04 13:41] jeff-matthews commented on #8626
I'm running a full build/deploy now.

[2021-02-04 13:53] jeff-matthews commented on #8626
That seems to have fixed the issue: https://devdocs.magento.com/cloud/release-notes/cloud-tools.html

<img width="1079" alt="Screen Shot 2021-02-04 at 7 52 35 AM" src="https://user-images.githubusercontent.com/13662379/106902065-034b0680-66be-11eb-9899-a32cf7bfa186.png">

[2021-02-04 13:53] #8626 closed

[2021-02-04 14:53] BarnyShergold commented on #8572
@viveknetsmartz - this is not a DEVDOCS issue. You have a technical issue. You should either raise this with Magento Support (please remember that B2B is for COMMERCE only) or you could ask on either #general or #b2b on the Magento Community Slack channel. It would be good to post you "require" section of the composer.json to give more info.

Closing this ISSUE as it is not a DEVDOC issue.

[2021-02-04 14:53] #8572 closed

[2021-02-04 17:11] BarnyShergold commented on #8493
@dobooth - Now this PR : #8459 is merged, can we now close this issue as being completed?

[2021-02-04 17:17] audio-engineer commented on #8493
Hello, @BarnyShergold. Yes, I think you can close it now. Good that it's fixed now!

[2021-02-04 17:19] BarnyShergold commented on #8493
Issue closed as completed.

[2021-02-04 17:19] #8493 closed

[2021-02-04 17:20] keharper commented on #8493
Fixed by #8459

[2021-02-05 12:19] #8581 closed

[2021-02-05 14:44] shrielenee commented on #8544
Hey @LeanderFS --- Thanks for submitting this comprehensive issue to us. It sounds like you've already done the legwork and have a good headstart on the solution for documentation! Would you consider submitting a PR with this info? We'd MUCH appreciate it? Let us know how we can assist!

CC @bdenham

[2021-02-05 16:37] #6970 closed

[2021-02-05 18:32] #8627 closed

[2021-02-08 03:07] #7374 closed

[2021-02-08 11:28] BarnyShergold commented on #8620
Vault does not store credit card information, it stores tokens which can then be used for payments. It does have "masked card details" for confirmation. Why would invoice need this, no payment is exchanged? I'm unsure as to what you are trying to achieve and why?

[2021-02-08 11:41] BarnyShergold commented on #8604
@meker12 @jeff-matthews @dshevtsov - I've checked this page and there are "*" next  to some API endpoints in the catalog section and it looks like they mean "refer to footnote" but there is none on the page. It is not clear in anyway what the "*" is for.

As you are the only people with changes to this page please can you take a look and let us know what the "*" is for?

[2021-02-08 11:46] BarnyShergold commented on #8574
As the page indicated refers to Magento CLI and the issue raiser is querying the UI installation which has now been dropped (which is also indicated as being the installation method in the screenshot) there is no issue that needs addressing on the DevDocs itself, so I am closing this issue.

[2021-02-08 11:46] #8574 closed

[2021-02-08 13:17] jeff-matthews commented on #8604
It's not clear what the asterisks represent. I don't see anything in the history that sheds any light an it either. @keharper, do you know?

[2021-02-08 15:26] andrewbess commented on #8603
@magento I am working on this

[2021-02-08 15:27] andrewbess commented on #8602
@magento I am working on this

[2021-02-08 16:34] Eddcapone commented on #8620
The goal is to let the user save their payment method, so that they don't have to choose it everytime. You also need to save a payment method, to be able to use the "instant purchase" feature.

[2021-02-08 16:48] BarnyShergold commented on #8620
I guess you would need to create payment method that was linked to vault but doesn't actually store any data (or it could be fake data) but to use the Vault with payment methods that are not storing card tokens, is outside the designed use. So you'd have to work out how to extend it. I don't think any updates are needed for the DEVDOCS as what you want is Out Of Scope.

[2021-02-08 16:57] dshevtsov commented on #8604
Looks like some text had been lost since 2.2 https://github.com/magento/devdocs/commit/355970339af9e9fc89616606c59e777403d6bbd1#diff-b92ea9c2ab16aa9506f5bfb81a533a2c905ddc35fe875937ffd3fe9759caf0dfR18

[2021-02-08 17:00] dshevtsov commented on #8604
FYI [Tags](https://github.com/magento/devdocs/tags) are very helpful to explore older versions.

[2021-02-08 17:11] BarnyShergold commented on #8604
As 2.1 & 2.2 are now unsupported versions, can these "*" not just be removed?

[2021-02-08 17:33] dshevtsov commented on #8604
I agree. @keharper, do you approve such removal?

[2021-02-08 18:01] Eddcapone commented on #8620
So the feature "instant purchase" from magento is only available for credit card payment method?

[2021-02-09 10:39] BarnyShergold commented on #8620
The way I read it, if you can develop a payment gateway that has vault enabled and the customer can store the payment, then it should be usable for Instant Payment. There is no mention that the saved method HAS to be a credit card. This feels feels like you should be conferring with a Magento Developer/Architect rather than raising an issue on DEVDOCS?

@jeff-matthews - Can we get a Magento Develo

[2021-02-09 10:52] BarnyShergold commented on #8394
@chiranjeevi-cj @bdenham - Now that the linked PR has been closed and for the closure reasons, can this issue now also be closed?

[2021-02-09 14:15] jeff-matthews commented on #8620
@joni-jones, can you help us out here?

[2021-02-09 14:55] shrielenee opened #8651 "Code Generators are not generating the factories and we do not have a complete code"
# Topic clarification/correction request

## Topic Link

Topic: https://devdocs.magento.com/guides/v2.3/extension-dev-guide/code-generation.html

From [Hotjar ](https://insights.hotjar.com/sites/806243/feedback/responses/38638?frid=58728834)

## Description

Magento 2.3 Code Generators are not generating the factories and we do not have a complete code with all the factory files to serve as a refe

[2021-02-09 15:05] shrielenee opened #8652 "Referenced modifier interface class is incorrect"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/howdoi/customize-modifier-class.html

## Description

From [Hotjar](https://insights.hotjar.com/sites/806243/feedback/responses/38638?frid=58684578)

The referenced modifier interface class is incorrect. This page references "Magento\UI\DataProvider\ModifierInterface", while the correct class is Magent

[2021-02-09 16:35] shrielenee opened #8656 "Better explanation about Inventory asynchronous reindex"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/release-notes/backward-incompatible-changes/#magento-functional-testing-framework-mftf

From [Hotjar](https://insights.hotjar.com/sites/806243/feedback/responses/38638?frid=58141137) (including contact email to notify reporter that changes were made)

## Description

regarding "Inventory asynchronous r

[2021-02-09 18:31] Eddcapone opened #8658 "What does "Magento Code" mean?"
# General issue

## Description:

Feedback on page: /guides/v2.4/config-guide/deployment/pipeline/build-system.html

I am confused about what the author means with "Magento Code" for example:

"_Retrieve the Magento code from source control._"

Is "Magento Code" meaning the code in the vendor folder? Or also code from custom themes or modules?

## Possible solutions:

## Additional information:

[2021-02-09 23:33] jeff-matthews commented on #7852
@magento give me 2.4.2 instance with edition b2b

[2021-02-10 10:47] Eddcapone opened #8664 "Missing information about the usecase of the command `bin/magento dev:source-theme:deploy`"
# General issue

## Description:

Feedback on page: [/guides/v2.4/config-guide/cli/config-cli-subcommands-less-sass.html](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-less-sass.html)

Unclear why this command exist. There is no explanation. Whats the usecase?

It just says "Use this command to create symlinks to LESS files."
but does not explain why and in which

[2021-02-10 12:49] Eddcapone opened #8665 "Does the build system needs to be in deploy mode default, developer or production?"
# General issue

## Description:

Feedback on page: /guides/v2.4/config-guide/deployment/pipeline/build-system.html

There is no information about what deployment mode is required for the build system.

[2021-02-10 13:58] Eddcapone opened #8666 "How to stop queue workers for magento commerce?"
# General issue

## Description:

Feedback on page: /guides/v2.4/config-guide/deployment/pipeline/example/shared-configuration.html

In the documentation it says "If you use Magento Commerce, stop queue workers. TBD".
but there is no explanation on how it is done and no background information why this has to be done.
There should be a link pointing to an article with more information.

[2021-02-10 15:24] jeff-matthews commented on #7852
@magento give me 2.4.2 instance with edition b2b

[2021-02-10 18:50] gitpankajsharma opened #8670 "Feedback on page: /guides/v2.4/config-guide/elasticsearch/configure-magento.html"
# General issue
**Configure Elasticsearch within Magento**: HTML Issue in the description column.
## Description:
Elasticsearch Server Hostname: HTML `</br>` tag in the description
Elasticsearch Server Port: HTML `</br>`  tag in the description

## Possible solutions:
Add space before and after `</br>` tag or remove this tag.

[2021-02-11 12:13] Ahmed-Sajjad opened #8678 "Can nested fields be used in the searchCriteria"
# General issue

Is it possible to use the nested fields of a salesorder in a GET Orders searchCriteria?

## Description:

Hi,

I wanted to filter the Orders using a nested field. Refer to the json below, I want to use the `method` field in the searchCriteria

[code]

## Possible solutions:

I searched the docs and tried the syntax as used in the filtering field

`?searchCriteria[filterGroups][0][

[2021-02-11 12:16] Ahmed-Sajjad commented on #8678
@magento-admin just wanted to know if this is possible in the current version of the API

[2021-02-11 14:23] #7730 closed

[2021-02-11 14:48] keharper commented on #8465
This PR also contains documentation that was backed out.

https://github.com/magento/merchdocs/pull/637/

[2021-02-11 15:51] Eddcapone opened #8682 "Build System Setup: Claim that magento database connection is not needed is wrong!"
# General issue

## Description:

Feedback on page: /guides/v2.4/config-guide/deployment/pipeline/build-system.html

In the [documentation ](https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/build-system.html)it says:

So I removed the db section of my app/etc/env.php, but if I execute `php bin/magento setup:static-content:deploy -f` then I get:

**Fatal: No Database connect

[2021-02-12 15:13] dineshvb commented on #8670
@magento I am working on this

[2021-02-13 18:11] marciomaciel opened #8688 "Invalid documentation for UrlResolver GraphQL query"
# General issue
Invalid attribute _entity_uid_ in the documentation and no information about _id_ attribute was specified.
## Description:
The documentation mentions the attribute _entity_uid_ that does not exist in any schema.graphlqs configuration file. The attribute was probably depreciated and later removed, but the documentation has not been updated.

When I try to perform a query with the en

[2021-02-13 18:17] marciomaciel commented on #8688
I found the correct information. The entity_uid exists only in 2.4.2, but not exists in 2.4.1. The id is now deprecated in 2.4.2.

[2021-02-13 18:17] #8688 closed

[2021-02-15 10:45] Santoshziffity commented on #2796
@magento I am working on this

[2021-02-15 12:20] Eddcapone opened #8690 "Documentation is missing an important step!"
# General issue

## Description:

Feedback on page: /guides/v2.4/config-guide/deployment/pipeline/example/shared-configuration.html

I was running into what I thought was a bug and created an [issue](https://github.com/magento/magento2/issues/32149), because the documentation does miss a very important step.

In Step 3 it says that we have to execute:

It misses the information that you need to ex

[2021-02-16 07:30] hostep commented on #8690
Hi @Eddcapone, I think you have misunderstood what all these commands do based on incorrect comments in https://github.com/magento/magento2/issues/32149 unfortunately.

1. `bin/magento setup:di:compile` has nothing to do with compiling static assets.
2. `bin/magento setup:upgrade` already runs both `setup:di:compile` and `setup:static-content:deploy` if you don't specify the `--keep-generated` fla

[2021-02-16 08:06] Eddcapone commented on #8690
"bin/magento setup:di:compile has nothing to do with compiling static assets."

Then why does the documentation says I need to execute it? Look [at Step 4].(bin/magento setup:di:compile has nothing to do with compiling static assets.).

"The documentation you refer to is about a build server, which generally does not have access to the database"

I followed the instructions to create the build ser

[2021-02-16 08:28] hostep commented on #8690
Because it is needed to generate php files which are needed on production. The step is definitely needed, it's just not used for generating static assets (which is what you were asking for in your opening post).

The documentation assumes you are running this in a clean environment (you start from an empty directory) but doesn't explicitly mention this. Maybe that can get added to make the documen

[2021-02-16 08:42] Eddcapone commented on #8690
This is not true, there is no mention of this in the Assumptions section. Look [here](https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/example/cli.html#assumptions).

Am I correct with my assumption that I need to execute `php bin/magento setup:upgrade --keep-generated` only on the production server after `git pull`?

I tested it by delting the static content before recompi

[2021-02-16 14:37] BarnyShergold opened #8695 "Real Company Name "OrangeCo" should not be used in documentation"
## Description
The name OrangeCo is used quite heavily in DevDocs. This is a real company name in many territories and should not be used for possible legal and respect issues.

## Possible solutions

Replace ALL instances of OrangeCo with ExampleCorp. (as this has been used elsewhere)

I am happy to undertake this fix but want to discuss and agree that it should be done first.

[2021-02-16 17:43] hostep commented on #8690
That's why I said:

----

It's a bit too complicated to explain, but sometimes you don't need to execute `setup:upgrade` at all if only certain files got changed since the last time you ran it. But that's an expert optimisation (which is probably also not explained on devdocs), to be safe, you should execute it each time code has changed.

Good to hear this 🙂

[2021-02-17 04:03] mrtuvn commented on #8690
The only confuse me is in here
https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/build-system.html
Doc said build system doesnot need database. I think it's not true. We need database for build system(staging, production, development)
Should we remove that statement. Especially when run some basic command related with config

command setup:upgrade is optional depend on scena

[2021-02-17 06:59] hostep commented on #8690
I have no personal experience with a build server since we build on the same server as where we publishing the new version of our code.

But I'm very confident that a true build server (as they assume you have in that documentation) doesn't need access to the database. You only need database access when you publish new code to the server which actually runs the code.

It has something to do with s

[2021-02-17 08:50] Santoshziffity commented on #2427
@magento I am working on this

[2021-02-17 12:50] indefinitedevil opened #8698 "Feedback on page: /guides/v2.4/graphql/mutations/set-gift-options.html"
# General issue

## Description:

setGiftOptionsOnCart is not currently available in Open Source

## Possible solutions:

Marking this as Commerce only if it exists in Commerce?
Getting setGiftOptionsOnCart added to Open Source

## Additional information:

[2021-02-17 16:25] keharper commented on #8695
Great idea. Thanks.

[2021-02-17 16:29] BarnyShergold commented on #8695
@magento I am working on this

[2021-02-17 18:00] Eddcapone commented on #8690
I understand you, I could just create two deploy scripts, one without and one with the statement and only use the setup one if I install/remove/update extensions.

Oh sorry, my fault

[2021-02-17 19:02] #8695 closed

[2021-02-17 19:35] keharper commented on #8698
Thanks for heads up @indefinitedevil

[2021-02-17 20:16] #8698 closed

[2021-02-18 14:51] LeanderFS commented on #8544
I'm sorry, but my english and explaining capabilities are not on a level that is required to rewrite this documentation. I understand it's a lot of work keeping the docs up to date, but seeing this is an enterprise-level module I feel it's absolutely required to, at least, keep the documentation up to date. Apparently there is a repository with pagebuilder examples, but it's horribly outdated. Hal

[2021-02-19 06:21] Santoshziffity commented on #2578
@magento I am working on this

[2021-02-19 23:50] #8394 closed

[2021-02-19 23:50] hguthrie commented on #8394
Closed. Recent Cloud release address opcache.enable_cli default.

[2021-02-22 08:46] Santoshziffity commented on #7093
@magento I am working on this

[2021-02-22 12:30] #8177 closed

[2021-02-22 16:00] dobooth commented on #8658
Hi Edward. You have been busy lately! Thanks for the contributions. I think we can just close this one. It's pretty clear what the  Magento code is...the next line it `git clone`.

[2021-02-22 16:00] #8658 closed

[2021-02-22 16:58] dobooth commented on #8561
@ihor-sviziev I was hoping you could contribute a bit here, seeing as you wrote the code. If you have a chance, that would be great.

[2021-02-22 17:02] dobooth commented on #2427
Sweet, @Santoshziffity! Good work picking up the old ones!

[2021-02-22 17:20] dobooth commented on #4495
Hi @hostep. Do you think that #7951 takes care of this issue?

[2021-02-22 17:36] ihor-sviziev commented on #8561
@dobooth will see if I'll have some free time - maybe will contribute. Anyway feel free to work on it if you wish

[2021-02-22 17:36] ihor-sviziev commented on #8561
@dobooth will see if I'll have some free time - maybe will contribute. Anyway feel free to work on it if you wish

[2021-02-22 18:09] #8670 closed

[2021-02-22 18:10] #8652 closed

[2021-02-22 18:36] #8604 closed

[2021-02-22 21:17] keharper commented on #8465
@G-Arvind A Magento development team is finishing the original PR. Do you want to submit a devdocs PR to cover the work that you completed, or would you prefer that I do all the work to complete this issue.

If you want to start the work and get the credit for it:

1. Add the content that was originally committed in #7629, making any updates.
2. Update the `env.php` reference, located at `src/guid

[2021-02-23 10:46] Eddcapone commented on #8658
@dobooth , Hello, no it still remains unclear. Do you mean the code in vendor/magento or also lib, setup, app/design etc?

[2021-02-23 12:49] dobooth commented on #7587
Hi @goivvy Did a PR ever come of this? It would be great to publish it.

[2021-02-23 13:59] dobooth commented on #8106
Happily! Thanks for the effort.

[2021-02-23 21:21] SlowFamily opened #8729 "Feedback on page: /guides/v2.4/rest/bk-rest.html"
# General issue

## Description:

Links to REST endpoint references in navigation throw a 404 - Not Found
## Possible solutions:

Update REST endpoints to 2.4.2 docs

## Additional information:

[2021-02-23 22:24] sdzhepa opened #8731 "Feedback on page: /cloud/docker/docker-development.html"
# General issue

## Description:

Based on several reports, the link for the " sign yourself up" (https://tinyurl.com/engcom-slack) in

Is expired and leads to the _"This link is no longer active"_

## Possible solutions:

Should be updated with https://opensource.magento.com/slack

## Additional information:

[2021-02-23 22:37] #8729 closed

[2021-02-24 09:24] BarnyShergold commented on #8731
@sdzhepa I've just tested the tinyurl and it is working perfectly fine.
@dobooth - Should we replace this tinyurl with the real URL just in case it does expire or for the fact that for some it is not working?