[2019-03-03 19:55] Karlasa opened #3857 "Feedback on page: /guides/v2.3/javascript-dev-guide/widgets/widget_collapsible.html"
# General issue
Collapsible attribute "saveState" default value is in correct.
https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_collapsible.html#fedg_collaps_saveState

## Description:
In doc it's true, but in code it's false
https://github.com/magento/magento2/blob/2.3-develop/lib/web/mage/collapsible.js#L34

## Possible solutions:

## Additional information:

[2019-03-04 15:24] keharper commented on #2407
Closed per #3859

[2019-03-04 15:24] #2407 closed

[2019-03-05 17:03] hguthrie commented on #1763
@buskamuza @paliarush Can you let us know if this request is relative for 2.3 since the new declarative schema?

[2019-03-05 17:10] DrewML opened #3869 "Deprecate and redirect JsTestDriver docs"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/test/js/test_js-unit.html
https://devdocs.magento.com/guides/v2.2/test/js/test_js-unit.html

## Description

`JsTestDriver` was removed in `2.2.4`/`2.3.0`. The `2.2` and `2.3` documents should redirect to the newer, `jasmine` docs (`jasmine.md` in the same directory).

## Possible solutions

Documents

[2019-03-05 22:32] #3777 closed

[2019-03-05 22:32] #3779 closed

[2019-03-05 22:37] keharper commented on #3716
Closed per #3840

[2019-03-05 22:37] #3716 closed

[2019-03-05 22:39] keharper commented on #3713
Closed as part of #3840

[2019-03-05 22:39] #3713 closed

[2019-03-05 22:44] keharper commented on #3717
Contacted @pmclain to determine if the `config:sensitive:set` command can be used to disable introspection.

[2019-03-06 10:20] stphn opened #3878 "Feedback on page: /guides/v2.3/pattern-library/graphics/iconography/iconography.html"
# General issue

## Description:

Sketch files and illustrator files are different, they are not consistent and probably out of date.

## Possible solutions:

Please update both files to the latest (magento 2.3 webfont) or remove them because they are just confusing people.

## Additional information:

I.e: When comparing the web-font (Magento 2.3), to the sketch file as the illustrator file. You'

[2019-03-06 10:32] #3878 closed

[2019-03-06 19:33] #3857 closed

[2019-03-07 12:25] paales opened #3885 "Add 'current page' highlight + breadcrumb"
# New feature request

## Description

Requested something similar earlier in #793, but I think we got a miscommunication or something.

If you go to https://devdocs.magento.com/guides/v2.3/ui_comp_guide/bk-ui_comps.html you have a nice subnavigation on on this page and are able to navigate to child-pages, this is good.

But you can't actually see that this page is beneath 'Development', there isn

[2019-03-07 12:51] paales opened #3886 "Navigation titles don't match the actual section titles"
# Bug report

## Description

### Steps to reproduce

1. Go to a deeplink: https://devdocs.magento.com/guides/v2.3/comp-mgr/marketplace/marketplace.html
2. Guess on which section I actually am on the website..
3. Be confused because there doesn't exist a menu navigation item called 'Software Update Guide'.

## Expected result

The section name should be in the menu, no differences.

## Possible so

[2019-03-07 12:59] paales opened #3887 "Search 'update msi' doesn't yield any result"
# Bug report

## Description

The search looks broken, returns insensible results.

### Steps to reproduce

Fill in 'update msi' in the search, you dont find anything useful.

## Expected result

Find the actual page: https://devdocs.magento.com/guides/v2.3/comp-mgr/install-extensions/inventory-management-installation.html

I had to search for a few minutes to find this page via the navigation bec

[2019-03-08 17:37] keharper opened #3895 "GraphQL: Add currency/countries/country queries"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/353
Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/313

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
-

[2019-03-10 05:09] XxXgeoXxX commented on #2743
Hi. Looks like some guide has already existed
https://docs.magento.com/m2/ce/user_guide/stores/store-urls.html
I could help you  if you have some another questions.

[2019-03-10 11:18] dharake opened #3906 "Feedback on page: /guides/v2.3/migration/migration-tool.html"
# General issue

## Description:

Need a toold to transfer data between M2 instances (i.e. M2.1 -> 2.3)

## Possible solutions:

Updated migration tool?

## Additional information:

[2019-03-11 20:22] #3895 closed

[2019-03-11 23:01] diazwatson opened #3913 "Feedback on page: /guides/v2.2/comp-mgr/trouble/cman/maint-mode.html"
# General issue

## Description:

Why is it recommended to create a [custom maintenance page](https://devdocs.magento.com/guides/v2.2/comp-mgr/trouble/cman/maint-mode.html) outside Magento if there is already a [maintenance page mechanism](https://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-subcommands-maint.html) in place?

## Possible solutions:

## Additional information

[2019-03-12 16:25] lorikrell commented on #3906
Hello @dharake, great feature request! We do have a data migration tool available for M1 to M2 instances. For M2 version migration, you may want to feature request using the [Magento 2 Feature and Requests forum](https://community.magento.com/t5/Magento-2-x-Feature-Requests-and/idb-p/feature-requests). Everyone can review and vote for new features.

[2019-03-12 16:25] #3906 closed

[2019-03-12 16:27] dharake commented on #3906
Thanks @lorikrell, will do

[2019-03-12 20:14] lorikrell commented on #3887
Hello @paales, we are working to increase Algolia search performance and parameters. We also have a DevBlog on searches for DevDocs/MerchDocs coming out soon!

I'm updating some Inventory Management/MSI content. I'll see if I can help out a bit for searches.

[2019-03-13 16:03] dougkm opened #3923 "Feedback on page: /guides/v2.2/config-guide/elasticsearch/es-overview.html - Elastic Search Version"
This page suggests that Magento support Elastic Search Version 5.x.  The supported version is 5.2.  5.3 and later is not supported currently (2.3.0) to the best of my knowledge

[2019-03-13 16:16] dobooth commented on #3923
Hi Doug.
Good eye.
We are getting ready for an ES update:
https://github.com/magento/devdocs/pull/3890

[2019-03-13 16:16] #3923 closed

[2019-03-13 16:32] #3475 closed

[2019-03-14 14:29] dobooth commented on #3886
Top-level nav in Devdocs:
Setup > Extension Update and System Upgrade Guide takes you to the Software Update Guide.
Looks like a bit of a title mis-match.

[2019-03-14 15:13] dobooth commented on #3885
![navbar](https://user-images.githubusercontent.com/45772453/54368280-d7de4f00-4641-11e9-9859-1523ed648411.gif)

[2019-03-14 16:31] #3886 closed

[2019-03-15 15:56] arhiopterecs opened #3936 "Feedback on page: /guides/v2.3/config-guide/redis/redis-session.html"
# General issue

## Description:

Broken formatting in the topic.

## Possible solutions:

Fix formatting so it would be rendered with HTML appropriately.

[2019-03-18 12:08] paales commented on #3886
@dobooth This is happening on multiple pages on the website, don't know if you've checked for every page, wasn't just talking about this page. :)

[2019-03-18 14:28] dobooth commented on #3885
@belbiy Seems like a good idea...

[2019-03-18 14:55] jeff-matthews commented on #3885
I just want to provide some background that we should consider when working on this.

We used to have breadcrumbs at the top of every page on devdocs, but they were a little buggy and didn't work as expected in all scenarios.

Also, generating breadcrumbs accounted for an inordinately high percentage of build time (I don't recall the precise number). If we start exploring the use of breadcrumbs ag

[2019-03-18 15:58] Hesder opened #3948 "Feedback on page: /guides/v2.3/install-gde/trouble/php/tshoot_php-set.html"
This manual mentions to uncomment the line:
always_populate_raw_post_data

This feature was DEPRECATED in PHP 5.6.0, and REMOVED as of PHP 7.0.0. As such it doesn't exist in up-to-date installations.

Please remove any mentioning of this property.

Thanks.

[2019-03-19 13:39] YaroslavHolovanych opened #3956 "phpunit.de moved to readthedocs.io update needed"
# Bug report

## Description

### Steps to reproduce

1. Navigate to page https://devdocs.magento.com/guides/v2.3/test/integration/integration_test_execution.html#adjust-the-phpunit-configuration-file
2. Click the link "PHPUnit documentation"

## Expected result

https://phpunit.readthedocs.io/en/8.0/configuration.html instead of https://phpunit.de/manual/4.1/en/appendixes.configuration.html

## P

[2019-03-19 16:22] dshevtsov opened #3958 "Update the Magento third party licenses topic"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/magento-third-party.html

## Description

1. The topic doesn't cover Magento 2.2 and 2.3.
2. First heading is the same as title.

## Possible solutions

1. Add sections for Magento 2.2 and Magento 2.3
2. Remove the heading that is the same as title of the topic

[2019-03-20 18:26] keithbentrup opened #3975 "Feedback on page: /guides/v2.3/cloud/docker/docker-config.html"
# General issue

## Description:

The branch to checkout for the magento-cloud repo is not specified. i think only 2.3.0 is currently deploying properly. master is not last time i checked.

Step 1 of the  *To launch docker* procedure in the [Launch docker](https://devdocs.magento.com/guides/v2.3/cloud/docker/docker-config.html) topic doesn't specify that you have to download the magento-cloud temp

[2019-03-20 20:49] meker12 opened #3978 "Feedback on page: /guides/v2.3/config-guide/mq/manage-mysql.html"
# General issue

Topic about Managing message queues is confusing:

Why is the page about Managing message queues named `manage-*mysql*.html?`.  The preamble is confusing b/c the cloud solution can (and recommends) rabbitmq and cron. (The topic is written as if it's one or the other.) Also, this doc says the default max messages is 10k in one place and then 1k in another and then 0 in another. On

[2019-03-21 21:37] erikmarr commented on #3958
After talking with @keharper we should delete this topic because we now have a release_notes directory.

[2019-03-21 21:54] #3958 closed

[2019-03-21 22:03] dshevtsov commented on #3958
The removal requires changes in the footnote layout and may require additional internal approvals.
The corresponding changes should be processed in a separate issue/PR.

[2019-03-22 15:00] dobooth commented on #3956
Fixed.

[2019-03-22 15:00] #3956 closed

[2019-03-22 15:44] dobooth commented on #3975
@keithbentrup Could you flesh out the issue a bit more?
Where exactly is the problem on the page?

[2019-03-24 11:51] RubanSvitlana commented on #3978
PR: #4012 - fix the number of messages

[2019-03-25 16:06] dobooth commented on #3913
Hi @diazwatson
Thanks for the issue.
Not sure what to do with this. Both links go to the same page.
Did you want clarification somewhere?
Flesh this out a bit and we can work on it.
Thanks!

[2019-03-26 13:32] dobooth commented on #3975
Thanks for the update.

[2019-03-26 15:48] meker12 commented on #3975
@keithbentrup  and I discusssed this issue, so I filled in the details in the issue above.  Thanks for submitting the issue, Keith.

[2019-03-26 19:44] belbiy commented on #3887
This bug should be fixed by now. Search index now understands `msi = multi-source inventory = inventory management`.

[2019-03-26 19:44] #3887 closed

[2019-03-27 11:14] paales commented on #3887
🎉

[2019-03-27 16:41] dobooth commented on #2552
Looks like these changes were made with PR #2571 noted above. Closing.

[2019-03-27 16:41] #2552 closed

[2019-03-27 19:57] hguthrie commented on #3975
I addressed this for the next Cloud release.  See #4068

[2019-03-28 08:26] sanganinamrata opened #4076 "Need to update example for 2.3"
# Bug report
There is issue on while installing magento via terminal, Check attached screenshot
![2019-03-28_13-22-12](https://user-images.githubusercontent.com/37930646/55141208-e65b5900-515f-11e9-8a33-7614f5f5efc6.jpg)

https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-install.html

[2019-03-28 11:29] #3936 closed

[2019-03-28 18:02] #3975 closed

[2019-03-29 09:37] ihor-sviziev opened #4093 "Document directories/document_root_is_pub option in env.php"
It would be great to find documentation about that in the dev docs. I only found that:

- https://devdocs.magento.com/guides/v2.2/cloud/trouble/robots-sitemap.html

Is the `'document_root_is_pub' => true` needed for something else too?

_Originally posted by @jalogut in https://github.com/magento/magento2/pull/9094#issuecomment-420965212_

[2019-03-30 18:32] michaelscheel opened #4109 "CDN and Advanced JS Bundling do not work together: /guides/v2.3/performance-best-practices/advanced-js-bundling.html"
# General issue

## Description:
requirejs/text.js is used as a plugin loader for require.js, therefore usage in combination with a CDN for static assets (or another domain) does not work – require.js tries to load a .js version of .html/.json to prevent problems with CORS.

That's why https://github.com/magento/magento2/blob/2.3-develop/lib/web/mage/requirejs/text.js exists(see history). Using ma

[2019-04-01 04:55] krishprakash opened #4113 "Broken 404 pages on search result when search MFTF on google"
# Bug report

## Description

Search MFTF on google and open links it 404 pages.
https://www.google.com/search?rlz=1C1GCEU_enIN830IN830&ei=15ahXJyyL9DVz7sPxu-EiAY&q=mftf&oq=mftf&gs_l=psy-ab.3..0i71l4.0.0..289712...0.0..0.0.0.......0......gws-wiz.7v9DGEs9oqI

https://devdocs.magento.com/mftf/2.2/introduction.html
https://devdocs.magento.com/mftf/2.3/introduction.html

Review the screenshot: https:/

[2019-04-01 11:35] ashsmith opened #4118 "Magento 2.2.x does not support PHP 7.2"
# Bug report

## Description

DevDocs states that Magento 2.2.x supports PHP 7.2, which is not true.

Commit that made the change: https://github.com/magento/devdocs/commit/9c03365ae06e06eb23c4344b24f1018ff6952c3d#diff-2c0a624a75cf786e8905587c1042634d

Link to page in DevDocs: https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

## Expected result

DevDocs should stat

[2019-04-02 15:49] #4076 closed

[2019-04-02 15:54] shrielenee commented on #4109
@DrewML we may need some assistance with this one! @bdenham is going to get this going with ya. 🏆

[2019-04-02 16:00] shrielenee commented on #3885
@belbiy What do you think about this idea? ❓

[2019-04-02 16:09] dobooth commented on #4113
Hi Prakash,
 A few days ago, we moved the MFTF docs to https://devdocs.magento.com/mftf/docs/introduction.html.
This was part of our change to a multi-repo setup.
It will take some time for Google to update its' index to find the new URL.
Thanks for taking the time.

[2019-04-02 16:09] #4113 closed

[2019-04-02 16:43] #3948 closed

[2019-04-02 20:56] #3978 closed

[2019-04-04 13:39] YaroslavHolovanych opened #4169 "The value isn't correct in the example."
# Bug report

## Description
The value isn't correct in the example.

### Steps to reproduce

1. Go to [Usage examples](https://devdocs.magento.com/mftf/docs/commands/codeception.html#usage-examples)

## Expected result

`<group value="skip"/>` **instead** `<group value="skpip"/>`

## Possible solutions

## Additional information

[2019-04-04 14:25] pefferen commented on #3748
This issue seems to have been fixed in PR #3928

[2019-04-04 14:29] YaroslavHolovanych opened #4171 "The page link is absent in the "Sensitive data" section."
# Bug report

## Description
The page link is absent in the "Sensitive data" section.

### Steps to reproduce

1. Go to [Sensitive data](https://devdocs.magento.com/mftf/docs/data.html#sensitive-data)

## Expected result
The text contains the link to Credentials page **instead** [Credentials][].

## Possible solutions

## Additional information

[2019-04-05 07:11] diazwatson commented on #3913
Hi @dobooth, sorry for the delay. I have updated the links in my comments to reflect the two options.
Basically one of them explains how to create a custom maintenance.html and use the web server (Nginx, Apache) to redirects to it in the event of a 503 header.

The other option uses the cli command `magento maintenance:enable`

Thanks

[2019-04-05 14:47] dshevtsov opened #4182 "Convert docx document to PDF or other free viewable format"
# Document conversion

## Topic Link

https://github.com/magento/devdocs/blob/master/common/pdf/Pre-Launch.Checklist_4_23_2018.docx

## Description

The document is in the `docx` format that requires to use proprietary software from a user.

## Possible solutions

Convert the document to PDF or other format freely available for the open-source community to work with. (Ideally, to a devdocs topic.)

[2019-04-05 20:54] dobooth commented on #4118
Fixed.

[2019-04-05 20:54] #4118 closed

[2019-04-05 21:42] dobooth commented on #4169
Fixing with https://github.com/magento/magento2-functional-testing-framework/pull/328

[2019-04-05 21:44] dobooth commented on #3913
Thanks for the update.

[2019-04-07 16:06] n3phos opened #4187 "Feedback on page: /guides/v2.3/config-guide/prod/config-reference-gitignore.html"
# General issue

## Description:

Reference .gitignore has entry `/app/etc/config.php` which should **not** be in the .gitignore file.

## Possible solutions:

remove this entry from the .gitignore in documentation

[2019-04-07 17:27] belbiy commented on #3885
This is awesome idea, highlighting the current top nav should improve the understanding of the navigation, especially in the inner pages.

I have been researching this for a long time and have no idea how to implement it with our current nav system.

We have 2 data sources to generate navigation: [_data/main-nav.yml](https://github.com/magento/devdocs/blob/master/_data/main-nav.yml) and [_data/toc

[2019-04-08 12:37] michaelscheel commented on #4109
Next issue: mixins (e.g. as defined in module-checkout-agreements) do not work when the module that is „mixed“ (e.g. Magento_Checkout/js/action/place-order) is included in one of the generated bundles (e.g. bundles/checkout.js). You have to exclude all js-files that have mixins defined in build.js.

[2019-04-08 16:31] dobooth commented on #3913
One page describes how to setup a custom maintenance page. The other describes how to go into maintenance mode. I'm not sure what kid of clarification you are looking for. There is a bit of overlap on content on the pages but that's not egregious.
I am going to close this issue for now. If you can point out changes you would like made or any clarification in the text, please let us know.

[2019-04-08 16:31] #3913 closed

[2019-04-09 12:20] williankeller opened #4201 "Page not found when open "Magento product availability""
# Bug report
When trying to open the following URL, seems it's redirected to a new one, which doesn't exist. Even searching at Google, etc. We got the 404 page.
Page: https://devdocs.magento.com/availability.html

### Steps to reproduce
1. Open https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.0Commerce.html
2. Search for _Magento 2.3 product availability_
3. Click on it.

----

[2019-04-09 12:27] jeff-matthews commented on #4201
Thanks for reporting this @williankeller. There seems to be an issue with the redirect. I'm workiong on a fix, but in the meantime, just remove the `.html` from the URL and the page will resolve.

[2019-04-09 15:12] dobooth commented on #4187
Fixed with the above PR.

[2019-04-09 15:48] lorikrell commented on #1231
Need to check with architects for additional information. @buskamuza do you happen to know who may have this info?

[2019-04-09 15:52] lorikrell commented on #1572
We need to locate an SME who may have this info. Possible information for this very question: https://magento.stackexchange.com/questions/132114/how-to-save-custom-field-in-custom-database-table-while-editing-product-from-bac

[2019-04-09 15:54] jeff-matthews commented on #1572
@rogyar, can you help with this re: DB operations?

[2019-04-09 16:08] lorikrell commented on #1763
For those interested in a special challenge, we are offering a Special Achievement to research and help in solving this question. This would update documentation for 2.2, while being aware of potential Declarative Schema changes.

[2019-04-09 17:29] dougkm opened #4202 "Starter B2B module Feedback on page: /guides/v2.3/cloud/architecture/cloud-architecture.html"
The B2B module is not included with Starter.

It is available for use with Starter for an additional fee.

[2019-04-10 19:45] dobooth commented on #1634
I couldn't find a bad character. UTF-8 seems to validate on the whole page.

[2019-04-10 20:09] buskamuza commented on #1631
Agree, this is incorrect behavior. The specified paths should be default values, in case nothing is provided in `$_SERVER`.

[2019-04-10 20:29] dobooth commented on #1631
It seems that the bad dupe code has been removed from https://devdocs.magento.com/guides/v2.2/config-guide/bootstrap/mage-dirs.html
@lorikrell @shrielenee Is this still a valid issue?

[2019-04-10 21:33] keharper commented on #3715
Closing. This work item is now tracked on the graphql board.

[2019-04-10 21:33] #3715 closed

[2019-04-10 21:37] jeff-matthews commented on #4201
I created a temporary fix to prevent a 404 from that particular link, but the real fix is to update the link.

[2019-04-10 21:40] keharper commented on #3340
This issue is now being tracked here:

https://github.com/magento/graphql-ce/issues/591

[2019-04-10 21:40] #3340 closed

[2019-04-10 21:41] keharper commented on #3337
This issue is now being tracked here:

https://github.com/magento/graphql-ce/issues/588

[2019-04-10 21:41] #3337 closed

[2019-04-11 11:50] shrielenee commented on #1631
It does look like the errant code has been removed. I would confirm with @rossmitchell that this looks correct --- Ross, https://devdocs.magento.com/guides/v2.2/config-guide/bootstrap/mage-dirs.html ???

[2019-04-11 12:29] #4201 closed

[2019-04-11 22:24] #1445 closed

[2019-04-12 07:15] sanganinamrata opened #4233 "There are missing feature on queue:consumes:list command"
# New topic request
There are some missing feature for **queue:consumes:list** command https://devdocs.magento.com/guides/v2.3/comp-mgr/install-extensions/b2b-installation.html

## Description

## Content checklist

- [ ] The topic provides an explanation of how ____ works.
- [ ] The topic provides steps for ____.
- [ ] The topic contains code samples that shows ____.
- [ ] Other (please specify)

[2019-04-12 19:59] dobooth commented on #3748
sys requirements have been updated with latest PHP versions.
https://github.com/magento/devdocs/pull/4128
2.3 is updated as well but can't find PR...

[2019-04-12 19:59] #3748 closed

[2019-04-12 21:31] rossmitchell commented on #1631
Hi @shrielenee, thanks the docs now look to be accurate. I'll test the instructions in the docs against the latest version of Magento over the weekend and if I hit any issues will raise a ticket there.

[2019-04-12 21:31] #1631 closed

[2019-04-13 07:00] gelanivishal opened #4239 "There is path issue on document"
# Bug report
There is file path issue.

## Description

### Steps to reproduce

1. Go to this link https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/db-schema.html
2. <Magento_root_directory/setup/src/Magento/Setup/Model/Declaration/Schema/ - I didn't get on file system

## Expected result
N/A

## Possible solutions
- Update as per file system

## Additional informatio

[2019-04-13 15:59] pefferen commented on #1868
In addition this page is not part of the menu, it would fit under the 'Component development' section.

[2019-04-15 12:35] sanganinamrata opened #4244 "Parameter issue on company account"
# Bug report

## Description
There are some parameter issue on companyCompanyRepositoryV1 API, Please check attached screenshot
![2019-04-15_18-02-50](https://user-images.githubusercontent.com/37930646/56132930-e73a1a80-5fa8-11e9-8eef-3bb4679e81ba.jpg)

### Steps to reproduce

1. https://devdocs.magento.com/guides/v2.3/b2b/company-object.html
2. Check attached screenshot

## Expected result
You ha

[2019-04-15 14:56] keharper commented on #4244
Closing because the company admin is defined in a different call in REST.  See [Manage company users](https://devdocs.magento.com/guides/v2.3/b2b/company-users.html) for more info,

[2019-04-15 14:56] #4244 closed

[2019-04-15 19:23] kotasthanesp opened #4252 "Feedback on page: /guides/v2.2/cloud/deploy/reduce-downtime.html"
# General issue
Confusion about what constitutes 'ideal state wizard'
## Description:
"Configure static content deployment
If static content deployment fails in the deploy phase, your site gets stuck in maintenance mode. When a failure occurs during the build phase, the process avoids downtime because it never begins the deploy phase. Generating static content during the build phase with minified

[2019-04-15 20:38] kotasthanesp opened #4255 "Feedback on page: /guides/v2.2/cloud/deploy/reduce-downtime.html"
# General issue
confusion about minimum ece-tools version needed for 0-downtime deploy
## Description:
"Upgrade to the ece-tools package or update the ece-tools version
Your Magento Commerce Cloud project must have the latest ece-tools package so that you have the tools available to configure an optimal deployment. If you have the latest ece-tools, continue to the next step."
Actually, 0-downtime

[2019-04-16 11:11] harrykumar123 opened #4259 "Feedback on page: /guides/v2.3/extension-dev-guide/prepare/lifecycle.html"
# General issue
Example: Customer module’s InstallData.php
The example url not working InstallData.php
Its showing 404

[2019-04-16 15:09] hguthrie commented on #4202
https://magento2.atlassian.net/browse/MAGECLOUD-3469

[2019-04-16 16:06] dobooth commented on #4239
Assigning to you for completeness with the PR.

[2019-04-16 16:09] dobooth commented on #4233
We haved moved the file that is referenced here but we are working to update the content with another PR.

[2019-04-16 16:13] keharper commented on #4233
Copying this comment from #4234

I don't want to list every consumer that is added to the system, so if you choose to open a new PR to address the issue, either rewrite the procedure to avoid giving the impression that only 2 consumers exist, or state that the two consumers are among those listed in the output. Thanks!

[2019-04-16 16:28] jcalcaben commented on #4259
File removed in:
https://github.com/magento/magento2/commit/4236163c7115ee06fd85863a1d9fcdbfda46d152#diff-986f265e758f4cfe394a816b9e9c9727

Related to: MAGETWO-87551

[2019-04-16 17:13] keharper commented on #4259
@harrykumar123 Thanks for identifying this issue. This topic is out of date for 2.3, except for these sections:

* Recurring schema event
* Recurring data event

See [Declarative schema overview](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/) for information about the new standards.

[2019-04-16 17:17] keharper commented on #4259
The work for this issue now entails:

* Determining whether new information needs to be added for the lifecycle in 2.3+, or whether to delete the topic
* Possibly finding a new home for the two sections that aren't outdated (see above)
* Possibly updating links

[2019-04-16 19:39] shrielenee commented on #3298
So, @CompactCodeEU, are you suggesting that declaring component dependencies in composer.json is optional?

[2019-04-17 01:31] CompactCodeEU commented on #3298
@shrielenee It is best practice and everybody should do it. But it is not required at all. I would even go as far that if the module does not have any dependencies the file is redundant when not installed provided via composer.

The thing here is clarity between terms. Required means that it will not work without it. Think about the exams how confusing it is.

If you want to have automatic depende

[2019-04-17 04:51] gelanivishal commented on #4233
@keharper I'm not getting you, Do you want to update it or not? If yes then I'll create a new PR for https://devdocs.magento.com/extensions/b2b/ document. Let me know.

[2019-04-17 21:25] robsch opened #4278 "Feedback on page: /guides/v2.3/extension-dev-guide/versioning/dependencies.html"
Isn't this contradictory on the page:

But on [Check the Magento version](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/versioning/check-version.html) one way is to look into the composer.lock file and look at `magento/product-community-edition` to find out the version.

So why not specify a dependy to product-community-edition?

[2019-04-17 22:04] dshevtsov commented on #1559
The issue still exists, we just added a note that warns about it.

[2019-04-17 22:07] dshevtsov commented on #1559
The ticket for engineering is MAGETWO-86853.

[2019-04-18 14:29] dobooth commented on #4171
Fixed with above merge.

[2019-04-18 14:29] #4171 closed

[2019-04-18 21:48] belbiy opened #4294 "Tables overflow the content area if cell contains unbreakable text"
# Bug report

## Description

See https://devdocs.magento.com/guides/v2.3/extension-dev-guide/webapi/request-processor-
pool.html

This bug was introduced with https://github.com/magento/devdocs/pull/4105.
Since all our tables have `table-layout: auto` issues like this sometimes can happen.

### Steps to reproduce

Open the page with the table that has long lines:
https://devdocs.magento.com/guide

[2019-04-19 13:35] dobooth commented on #3298
Closing as fixed.

[2019-04-19 13:35] #3298 closed

[2019-04-19 13:57] #4259 closed

[2019-04-19 13:59] harrykumar123 commented on #4259
Ok Thanks

[2019-04-22 14:41] #4169 closed

[2019-04-23 06:38] svossen opened #4315 "Feedback on page: /guides/v2.3/ui_comp_guide/components/wysiwyg/configure-tinymce-editor.html"
# General issue
The documentation page didn‘t mention anything about adding two modules to the load order. Without adding the modules `Magento_Cms` and `Magento_PageBuilder`, it’s not possible to override the Pagebuilder default TinyMCE configuration.

## Description:

Documention lacks sufficient information to properly override the PageBuilder TinyMCE configuration.

## Possible solutions:

Plea

[2019-04-23 18:04] shrielenee opened #4322 "Provide clarity on error resolution in Conflicting dependencies section"
# General issue

## Description:

This is an issue reported on the page via Hotjar feedback mechanism regarding the [Resolve component dependency readiness check issues page](https://devdocs.magento.com/guides/v2.1/comp-mgr/trouble/cman/component-depend.html#trouble-depend-conflict)

## Possible solutions:

Improve clarity, in the [Conflicting dependencies section](https://devdocs.magento.com/guid

[2019-04-24 05:07] hitesh-wagento commented on #4294
I am working on this issue

[2019-04-24 06:09] triabhishek95 commented on #4239
This is resolved here with the commit [cc7734b](https://github.com/magento/devdocs/pull/4240/commits/cc7734b47942622aad849a3a0dcaacef56331381) but it is yet to be merged.

[2019-04-25 13:46] tushars26 commented on #4322
I resized the the AWS ec2 Instance from t2.small to t2.medium and the readiness check been passed.
Now, its a proven fact since we have invested days to sort it out, that Magento Community must consider, If you want to run Magento Stack do not go below 2GB RAM be it a Shared/Maganed hosting plan, VPC or anything !

Thanks to Address the Issue. Further, I request you to Add this Information in the

[2019-04-30 12:30] Ketika commented on #3393
Hi @meker12 How can I assign this issue to me?

[2019-04-30 12:35] jeff-matthews commented on #3393
@Ketika, only someone with write access to this repo can assign issues. I've assigned this to you.

[2019-04-30 16:25] #4294 closed

[2019-04-30 16:51] keharper commented on #4278
@robsch The "Module version dependencies" topic discusses versioning considerations when developing a new module. The "Check the Magento version' topic just lists the least-preferred way to determine what version you're currently running. There's no contradiction here.

[2019-04-30 16:51] #4278 closed

[2019-04-30 16:57] kotasthanesp opened #4384 "Feedback on page: /guides/v2.2/cloud/architecture/cloud-architecture.html"
# General issue
Highlight differences between regional availability for Pro and Starter
## Description:

Starter and Pro are not available in exact same AWS regions, but there's no information about this in devdocs

## Possible solutions:

## Additional information:
Pro Customers can select which AWS Region to host their production and staging instances from any AWS Region except for the Chinese R

[2019-05-01 09:14] sagarppanchal opened #4391 "Getting 404 Market Place link on The composer.json file Page"
# Getting 404 Market Place link on The composer.json file Page

## https://devdocs.magento.com/guides/v2.3/extension-dev-guide/build/composer-integration.html#vendor-name

### Steps to reproduce

1. Click on the above given
2. Scroll upto Magento Marketplace Extensions Paragraph
3. Click on the Magento Marketplace (https://docs.magento.com/marketplace/user_guide/getting-started-seller.html)
4. You

[2019-05-01 14:33] lorikrell commented on #4391
Investigating the Marketplace User Guide (outside of DevDocs), the content is not available in the guide in any other topic.
Recommend this topic for more info on Vendor Name, where located in Marketplace, etc https://docs.magento.com/marketplace/user_guide/sellers/company-profile.html. Or removing the sentence.

[2019-05-02 21:19] hguthrie commented on #1690
There have been many improvements from development on log levels and log message formatting in the last couple of releases. I am closing this issue.

[2019-05-02 21:19] #1690 closed

[2019-05-03 02:19] diamondavocado opened #4410 "Broken link"
# Bug report

## Description

Broken link:
http://devdocs.magento.com/guides/v2.2/comp-mgr/install-extensions.html#enable-the-extension

[2019-05-03 16:11] kotasthanesp opened #4413 "Feedback on page: /guides/v2.2/cloud/architecture/cloud-architecture.html"
# General issue
Merchants/partners should have deep understanding of self-service capability differences between Starter and Pro
## Description:
We have a table here (slide 5) comparing self-service features - this should be public facing info to minimize tickets/customer confusion
https://adobe-my.sharepoint.com/:p:/p/kotastha/EYyUiBr4kOREhWScpeg-rk0BbPP-uAxO5BTsF8CL5T3Y8A?e=KblqHr

## Possible s

[2019-05-04 07:13] realadityayadav opened #4422 "Inconsistent URL of file references in 2.3 Devdocs"
# Bug report

## Description

Even though the guide is of Magento 2.3 but the file URL's to GitHub point to Version 2.2 like

![image](https://user-images.githubusercontent.com/25526193/57175363-ab3bfc00-6e68-11e9-8eae-eb1e2bd4a22b.png)

Same is for
https://devdocs.magento.com/guides/v2.3/config-guide/log/log-magento.html
The di.xml reference takes to the 2.0 version of it.

## Expected result
The

[2019-05-04 07:54] Ketika commented on #4422
I am working on this at #dmcdindia19

[2019-05-04 07:59] Ketika commented on #4422
I am working on this at #dmcdindia19

[2019-05-04 08:27] realadityayadav commented on #4422
@ketika what will be the correct way since I asked about it?

[2019-05-04 08:58] atwixfirster commented on #4410
Pull request: https://github.com/magento/devdocs/pull/4423

[2019-05-04 16:06] #4410 closed

[2019-05-06 14:11] dobooth commented on #2784
Closing as stale. The feedback I got from arch and community didn't find any errors in the docs. We can reopen if need be.

[2019-05-06 14:11] #2784 closed

[2019-05-06 17:07] balex13 opened #4432 "Feedback on page: /guides/v2.3/install-gde/system-requirements-tech.html"
# General issue

## Description:

It should be a statement regarding certified PHP 7.1.x version

## Possible solutions:

Add note that Magento 2.3.x can work with PHP 7.1.29 and above

## Additional information:

Magento 2.3.0 used PHP 7.1.29 features. And can produce syntax errors on lower versions of PHP. See https://github.com/magento/magento2/issues/17285

[2019-05-06 19:59] hguthrie commented on #4413
The self-service OKR is handled through the Self-service team kanban. @meker12 Is this appropriate for  a User Story on your team? If so, confirm it is part of the team plan and close this issue.

[2019-05-06 20:54] meker12 commented on #4413
We have a ticket for documenting self-service enablement features. I added the requirement to clarify differences between self-service features on Starter and Pro environments. You can close this issue.

[2019-05-06 20:54] #4413 closed

[2019-05-06 22:03] hguthrie commented on #4384
@kotasthanesp  Is this choice made at the time of Onboarding?

[2019-05-06 22:23] hguthrie commented on #4255
Good point. I noted the best practice is to use latest, but that zero-downtime method works with 2002.0.13 and later versions. Thanks!

[2019-05-06 22:35] hguthrie commented on #4252
Another good point. I moved the statement about the ideal state wizard to the end of the list and added an emphasis. Once you're done with the list, you can run ideal state wizard to confirm configuration settings...in case more checks are added to ideal state in the future.

[2019-05-07 08:45] realadityayadav commented on #4422
@ronak2ram can you suggest the correct way to make these changes so that I can go ahead and create the Pull Request for it?

[2019-05-07 08:49] #3498 closed

[2019-05-07 09:54] ronak2ram commented on #4422
Hie @realadityayadav
As per my suggestion not need to do any change.
Because if you refer di.xml example. then [di.xml](https://github.com/magento/magento2/blob/2.0/app/etc/di.xml#L9) is showing `<preference for="Psr\Log\LoggerInterface" type="Magento\Framework\Logger\Monolog" />` and same code showing in [2.1](https://github.com/magento/magento2/blob/2.1/app/etc/di.xml#L9), [2.2](https://github.c

[2019-05-07 14:19] MagentoGuysProjects opened #4440 "Feedback on page: /guides/v2.2/architecture/archi_perspectives/components/modules/mod_intro.html"

[2019-05-07 14:44] dobooth commented on #3295
Fixed.

[2019-05-07 14:44] #3295 closed

[2019-05-07 14:55] #4440 closed

[2019-05-07 16:09] dobooth commented on #4255
Fixed with merge.

[2019-05-07 16:09] #4255 closed

[2019-05-07 16:09] dobooth commented on #4252
Fixed with merge.

[2019-05-07 16:09] #4252 closed

[2019-05-07 16:14] dougkm opened #4443 "Feedback on page: /guides/v2.3/cloud/cdn/fastly-vcl-wordpress.html"
"Add the WordPress host to the Fastly backend configuration, for example customer.example.com."

Is there any more information on how to make this addition?  The Fastly Documentation describes the Fastly UI, which is not available to customers.

Beyond the API, support (or the TAMs during onboarding) should be able to add this information from Fastly UI.

[2019-05-07 16:28] dshevtsov commented on #4322
As part of the discussion during DevDocs grooming, we recommend closing this issue as it is not directly related to Magento.

[2019-05-07 16:36] #4432 closed

[2019-05-07 16:38] dobooth commented on #4391
Fixed with above merge.

[2019-05-07 16:38] #4391 closed

[2019-05-07 19:22] #4322 closed

[2019-05-07 21:34] meker12 commented on #4443
@dougkm  I updated the instructions to tell customers to submit a support ticket for the backend configuration changes.  Currently, instructions for completing this configuration using the API are not documented.

[2019-05-07 21:36] lorikrell opened #4450 "Best Practices for Security and Secure Coding"
# New topic request

This issue is created for Magento Imagine 2019, but is open to everyone! We welcome PRs to help document this info.

## Description

We are seeking your knowledge, expertise, and best practices for security and secure coding. Do you have recommendations, warnings, tips and tricks for extension development?

## Where to write?

If you create a new topic, and need a location, yo

[2019-05-07 22:23] lorikrell commented on #1537
Content was resolved with PR https://github.com/magento/devdocs/pull/4231
Closing issue

[2019-05-07 22:23] #1537 closed

[2019-05-07 22:34] lorikrell opened #4451 "README content for modules - work in M2 Code"
# Topic clarification/correction request

## Topic Link

All modules documented in the Open Source and Commerce
 of the [Module Reference Guide](https://devdocs.magento.com/guides/v2.4/mrg/intro.html) pull the content from the READMEs in Magento 2 code. To add content, create PRs to Magento 2 core!

## Solution

We need Modules documented in the Magento 2 source code.
2.4: https://github.com/magen

[2019-05-07 22:43] lorikrell commented on #2910
THis was completed per PR https://github.com/magento/devdocs/pull/3992. Closing issue.

[2019-05-07 22:43] #2910 closed

[2019-05-08 18:30] #4202 closed

[2019-05-09 22:41] meker12 opened #4474 "Feedback on page: /guides/v2.3/cloud/docker/docker-config.html"
# General issue

In this instruction:

Optional: Configure the Docker global variables in the docker-compose.yaml file. For example, you can enable and configure Xdebug.

The docker-compose file name in the Magento-Cloud version 2.3 template = docker-compose.yml.

## Possible solutions:

Change docker-compose.yaml ==> docker-compose.yml

[2019-05-10 19:19] erikmarr commented on #4422
Hi @realadityayadav thank you for filing a bug report. With symlink files, we cannot have unique URLs based on the devdocs version. This is a known issue that we hope to resolve in a future release when we incorporate a more robust branching strategy.

[2019-05-10 20:43] #4443 closed

[2019-05-11 08:06] realadityayadav commented on #4422
Ok Thanks @erikmarr & @ronak2ram for your comments.
The base I believe why this needs correction is because Even though the general lines mentioned might be similar but the concept of viewing a 2.3 doc means to look over 2.3 Magento Code and not 2.0 code.
This is very much inconsistent logically. So until a robust branching strategy is made should we help to find and resolve such figures as @willi

[2019-05-11 21:26] jfrontain opened #4491 "Temporary Admin Access"
Created issue at 2019 Imagine Contribution Day. This will move to Merchdocs when that repo is ready.

# New feature request

At Imagine 2019 Contribution Day, there is a Security issue for creating options and code for configuring temp admin access. Merchants sometimes create accounts for extension developers/partners/etc to access and test issues. They may forget to delete the account, leaving it

[2019-05-11 21:44] jfrontain opened #4492 "B2B company credit discussion incomplete"
Ticket created at Imagine 2019 Contribution Day.
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/m2/b2b/user_guide/sales/credit-company.html

## Description
The discussion of company credit needs clarification and additional information. This observation was made by a developer translating the docs into German, where the term "credit" can be translated in my ways.

[2019-05-12 07:29] hostep opened #4495 "Provide detailed steps of how you can execute tests on your local machine before creating a PR"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 version:
- [ ] 2.1.X
- [x] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?
- [ ] New REST endpoints or updated GraphQL query syntax?
- [ ] New command line option?

## Content

Hi!

Whe

[2019-05-12 17:00] lorikrell commented on #4422
The best short term solution is to remove the symlink files. Create new files using the original per version, changing the link to the code files per version. If anyone needs help, can definitely provide more info!

[2019-05-12 18:12] realadityayadav commented on #4422
I am working on this.
#ContributionDay

[2019-05-12 18:14] realadityayadav commented on #4422
#ContributionDay

[2019-05-12 19:53] nicolashibrido commented on #4492
Something like this can help?

The limit value of credit granted by the seller to the purchasing company is to enable agility in PO purchases, if necessary
The value of the credit is defined by the seller for each company, and the credit possibility for the companies to make the purchase without payment at the moment, accumulating several buy for later payment according to the negotiation that thi

[2019-05-12 20:16] lorikrell commented on #3152
Lucas added content for all steps and info, except for "Create a more clear section for the "dynamic" and "static" ways" which can be completed in another PR.

[2019-05-12 21:06] #3152 closed

[2019-05-12 21:49] lorikrell commented on #4495
@hostep, great request! I'm working with @dmanners on a set of [Beginner Guides](https://github.com/magento/magento2/wiki/Getting-Started) and the [wiki](https://github.com/magento/magento2/wiki) for Magento2 repo to document some of this information. I've assigned myself to the ticket, and will work towards that content.

We've covered the Issue process. Next is PR! More info soon for this one.

[2019-05-13 10:56] ProcessEight opened #4505 "Table content containing glossary tags incorrectly forces a new table row"
# Bug report

## Description

On this page: https://devdocs.magento.com/guides/v2.3/extension-dev-guide/attributes.html
In the 'Declare Extension Attributes' section, there is a table.
The second row of the table begins with 'that processes the extensions. '. However, that line of text should in fact be part of the second cell of the first row (the cell that begins with 'The fully-qualified type n

[2019-05-13 12:23] jeff-matthews commented on #4422
I don't think that removing all the symlinks in our project just to replace variables with the correct version is the best short-term solution at all. We have hundreds of symlinked files and we could potentially receive hundreds of PRs about this, which is not a good use of our time.

If we were to proceed with breaking symlinks, we would do so all at once as part of an internal project.

[2019-05-13 15:17] #4474 closed

[2019-05-14 09:11] aman3103 opened #4514 "Feedback on page: /guides/v2.3/cloud/docker/docker-quick-reference.html"
# General issue

## Description:

docker-compose run deploy magento <command> is wrong when we run this it is showing
/docker-entrypoint.sh: line 39: exec: magento: not found

Have tried this command docker-compose run deploy magento cache:flush which throws above error

currently as per document docker-compose run deploy magento <command> in this we just have to replace the <command> with any Mag

[2019-05-14 09:14] aman3103 commented on #4514
@magento-admin please assign this issue to me, I will submit the PR

[2019-05-14 15:33] jcalcaben commented on #4505
A possible solution for this would be to remove the surrounding glossary tag.

[2019-05-14 19:02] #4422 closed

[2019-05-14 19:14] #4514 closed

[2019-05-14 19:19] realadityayadav commented on #4422
Great you got this resolved @dshevtsov

[2019-05-14 19:28] erikmarr commented on #4422
Thanks @realadityayadav for raising this issue! As you can see, @dshevtsov was able to implement a fix internally and his PR has been merged (https://github.com/magento/devdocs/pull/4518).

[2019-05-15 12:03] brucecubit opened #4524 "Feedback on page: /guides/v2.3/javascript-dev-guide/widgets/widget_modal.html"
# General issue
Confusing documentation
https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_modal.html
## Description:
The description for the type option states, "The type of window: **popup or slide**." . From my perspective this reads as only two choices. Above this type option is the responsive option description which reads, "Turn popup modal window to slide panel on s

[2019-05-15 12:29] kurund opened #4525 "Feedback on page: /guides/v2.3/cloud/project/sendgrid.html"
# General issue
This page should be removed as SendGrid does not support v2.3

## Description:

## Possible solutions:

## Additional information:

[2019-05-17 05:25] anshulsh13m opened #4544 "After Plugin processing flow"
# Bug report

## After Plugin calling in increment order

### Steps to reproduce

1. Create custom module, which apply the after plugin on public method Magento\Customer\Model\AccountManagement::createAccount()
2.  we have 2 plugin with different plugin name and sort order 10 and 20.
3. In custom module, I have applied the plugin as method name afterCreateAccount(..args).

according to Magento doc

[2019-05-17 05:55] hitesh-wagento commented on #3807
Hi @danielgoodwin97

If you use parent theme **blank** instead of **luma** you should add new global variables in [_theme.less](https://github.com/magento/magento2/blob/2.3/app/design/frontend/Magento/blank/web/css/source/_theme.less)

[2019-05-17 06:35] #4544 closed

[2019-05-17 15:25] lorikrell commented on #4450
[Talesh Seerparson](https://twitter.com/_Talesh) and @jfrontain  will be working together on this issue. Getting this github account to assign.

[2019-05-17 17:46] talesh commented on #4450
You can assign to me.

[2019-05-20 14:48] hguthrie commented on #4525
This is typically Magento version agnostic. @kurund  Could you provide more information why you think it should be removed?

[2019-05-20 15:04] hguthrie commented on #4525
@kurund if you are referring to the module : https://marketplace.magento.com/sendgrid-email-delivery-simplified.html
Cloud does **not** use the module, but rather the SMTP proxy service.

[2019-05-21 16:31] daolwede opened #4571 "FreshDesk / Magento 2 extension - missing dev doc"
# New topic request

## Description

## Content checklist

- [ ] The topic provides an explanation of how ____ works.
- [ ] The topic provides steps for ____.
- [ ] The topic contains code samples that shows ____.
- [ ] Other (please specify)

## Additional information/resources

[2019-05-21 16:33] daolwede commented on #4571
The following url: http://devdocs.magento.com/guides/v2.1//get-started/authentication/gs-authentication-token.html is listed within the installation information screen to find out about integration tokens. However the link is now a page not found...

[2019-05-21 18:00] keharper commented on #4571
@daolwede Where did you encounter that link? The problem is that there are two slashes (//) after `v2.1`. Remove one of them, and you'll get the topic you're looking for.

Let us know where the broken link is. The broken link doesn't show up in our tests, so we'll try to determine why and fix any others like this.

[2019-05-21 20:24] #4525 closed

[2019-05-21 20:48] daolwede commented on #4571
@keharper

Thanks. I did not spot the // in the url and the link works as expected now. The incorrect link appears in the Freshdesk/Magento 2  installation instructions which I got to through my FreshDesk account. It can also be seen here: https://www.freshworks.com/apps/freshdesk/magento_2/ on the 'Instructions' tab (you'll also need to click the 'expand' link).

[2019-05-21 20:48] #4571 closed

[2019-05-23 13:56] bassplayer7 opened #4601 "Link missing on page: /guides/v2.3/frontend-dev-guide/translations/xlate.html"
# General issue

There is a placeholder / missing link on the Translation page.

## Description:

Under [the heading](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/translations/xlate.html#m2devgde-xlate-generatortool) this link does not exist:

## Possible solutions:

If there is currently a page on this it should be included. If not, perhaps change the sentence to: "We intend to publ

[2019-05-24 14:34] jeff-matthews commented on #1276
Thank you @eduard13 for contributing the code sample!

Thank you @vasilii-b for contributing supplemental documentation about widget options!

[2019-05-24 14:34] #1276 closed

[2019-05-25 12:02] sanganinamrata opened #4612 "Missing Hidden component on Latest Magento 2.3 download."
# Bug report

## Description

### Steps to reproduce

On one of my website, client needed to store some valut on hidden field, So I just referred this doc https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-hidden.html and came to know that there are no such component located at `vendor\magento\module-ui\view\frontend\web\js` and template located at `\vendor\magento\module-ui\view\

[2019-05-25 12:07] #4612 closed

[2019-05-26 20:18] cihatzafer opened #4614 "Feedback on page: /guides/v2.3/install-gde/prereq/prereq_updater.html"
# General issue

## Description:

https://github.com/magento/magento2-updater is not available.

## Possible solutions:

Information about its history and if exist, its replacement.

## Additional information:

[2019-05-28 15:41] shrielenee commented on #4614
@dshevtsov This repo hasn't been updated in some time. Do you have information on the updater?

[2019-05-28 15:45] dshevtsov commented on #4614
There is a similar issue #3178

[2019-05-28 15:54] dshevtsov commented on #3178
@melnikovi @buskamuza what is the appropriate scenario for the described issue?

[2019-05-28 15:56] shrielenee commented on #1651
@paliarush Alex, do you know if this is still a known issue? Please confirm.

[2019-05-28 19:23] scm-incomm opened #4622 "Feedback on page: /guides/v2.3/install-gde/prereq/install-rabbitmq.html"
# General issue

## Description:
The ssl documentation/example configuration is wrong.  The parameter
` 'ssl' => true,`
doesn't work.  Magento will not communicate with SSL enabled RabbitMQ.

It needs to be corrected to:
`'ssl' => 'true'`
where "true" must be a string (i.e. true must be in quotes.)

It looks like the code treats the ssl value as a string not as a boolean.  The code in question is:

[2019-05-28 20:59] melnikovi commented on #3178
Need to update this page to recommend install updater from composer `composer create-project magento/updater update --repository https://repo.magento.com` and make the repo public, so community can contribute.

[2019-05-28 21:46] talesh commented on #4450
OK here are my initial high level thoughts for later implementation:

Maybe we have a single section about security similar to how we have the B2B Developer Guide. We can call it the Magento Security guide or something similar. Importantly though I think we should link to it from all the locations listed above: (Writing Secure Code + Security, Performance and Data Handling) so we're always directi

[2019-05-28 21:47] lorikrell commented on #4450
Awesome and thank you @talesh ! I was trying to assign this one to you, but not seeing you in the list. You may need to join the repo, etc.

[2019-05-28 22:35] jeff-matthews commented on #4450
@lorikrell, ask EngComm to add him to the [Community Contributor](https://github.com/orgs/magento/teams/community-contributors) team and then you can assign it to @talesh. Please keep Jeanne in the assignment list as well.

[2019-05-28 22:47] lorikrell commented on #4450
Tossed a request their way!

[2019-05-29 15:29] talesh commented on #4450
We can also incorporate the [Sensitive and Environment Settings](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/configuration/sensitive-and-environment-settings.html#how-to-specify-values-as-sensitive-or-system-specific) information into **Technical practices for secure store operation** section of this.

[2019-05-30 16:16] hostep opened #4647 "Provide information about how to (re-)create mysql triggers"
# New topic request

## Description

This comes from a request over here: https://github.com/magento/magento2/issues/23023

It's not documented yet how mysql triggers are created in the database. It would be beneficial that this could be found easily so people who are missing triggers in their database know how to (re-)create them.

## Content checklist

Not sure where this could go, I think eithe

[2019-05-30 18:15] victortodoran opened #4649 "Declarative schema. Confusing (possibly incorrect) revertable data patch docs."
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/data-patches.html

## Description
The docs say

This leads to believe that patches can be uninstalled individually and revert logic is executed when a patch is uninstalled or deleted. This is not true.

## Possible solutions
A possible solution would be to clarify

[2019-05-30 19:21] jasonhildebrand opened #4651 "/guides/v2.3/config-guide/cron/custom-cron-tut.html"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/config-guide/cron/custom-cron-tut.html

## Description

After creating crontab.xml and then proceeding with the following section (Verify the cron job), no entries showed up in the cron_schedule table.  Even after running magento cron:run more than 3 times.

## Possible solutions

I found that running

[2019-05-31 18:02] lorikrell commented on #4491
Removed the Contribution Day label at this time. The repo required for this content is not live yet for open source contribution.

[2019-05-31 18:02] lorikrell commented on #4492
Thanks @nicolashibrido ! Will check this out for adding to the Admin User Guide.

[2019-05-31 18:03] lorikrell commented on #4492
Removing the Contribution Day label as the repo for working this issue is not open yet for open source contribution.

[2019-05-31 18:06] lorikrell commented on #4450
CONTRIBUTORS: Talesh and Jeanne are working on this issue together. If you would like to join them, feel free to post here!

[2019-05-31 18:07] lorikrell commented on #3700
Closing this ticket as content was provided in a merged PR. If additional work is needed, a new issue can be opened.

[2019-05-31 18:07] #3700 closed

[2019-05-31 18:46] lorikrell commented on #1451
This issue may be related to this issue: https://github.com/magento/devdocs/issues/2078

[2019-05-31 18:47] lorikrell commented on #2078
This issue may be linked to https://github.com/magento/devdocs/issues/1451

[2019-06-01 09:31] DrewML opened #4658 "Missing redirect for URL found in Google"
# Bug report

## Description
https://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js-resources.html

(Looks like [this](https://github.com/magento/devdocs/blob/3a1f8d795b008a2511dba6be6f4c39b66f6c6f4e/guides/v2.1/javascript-dev-guide/javascript/requirejs_concept.md) is the document)

### Steps to reproduce

1. Go to Google
2. Search `magento "requirejs-config.js" devdocs`
3. Cli

[2019-06-01 09:41] keharper commented on #4658
This file existed in 2.0 and 2.1, but not 2.2 and 2.3.

[2019-06-01 14:20] jeff-matthews commented on #4658
Thanks for the report. There's definitely a bug with the redirect config that I'll have to investigate. It's adding an extra slash to the end of the URL which is causing a 404. When there is no 2.3 equivalent for a 2.0 file, it should redirect to the 2.3 home page.

[2019-06-01 19:01] victortodoran opened #4661 "Code generation. Misleading information about factories."
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/code-generation.html#codegen-over-why
## Description
Excerpt from the docs

The issue is that factories have only one method, that is **create** they are not affected (as far as I can tell) by the adding or subtraction of class methods. Class constructors modifications might have imp

[2019-06-02 20:33] bartoszkubicki opened #4662 "Payment method integration - with redirect to external system"
Currently devdocs - https://devdocs.magento.com/guides/v2.3/payments-integrations/bk-payments-integrations.html for payment integration don't mention how to correctly handle payments with redirect to external system. It would be extremely useful to know how to do it according to Magento guidelines.

[2019-06-03 14:33] dshevtsov commented on #4658
When I follow the scenario, I see the 2.3 topic as a first result.
<img width="883" alt="Screen Shot 2019-06-03 at 09 30 42" src="https://user-images.githubusercontent.com/12731225/58809897-6ed3fb00-85e2-11e9-9fe2-a720acd7bdc7.png">

[2019-06-03 14:38] jeff-matthews commented on #4658
I think your search results depend on your search and browsing history. So, if you've predominantly visited 2.0 pages, your search is more likely to include 2.0 results.

[2019-06-03 15:34] tkymuk opened #4669 "Feedback on page: /guides/v2.3/config-guide/multi-site/ms_over.html"
# General issue
There is little to no technical examples on how to complete this function in the documentation

## Description:

There is little to no technical examples on how to complete this function in the documentation

## Possible solutions:

Actual examples of how to complete the multi-site functionality in the documentation. Currently I am having to look at third party sources, which are a

[2019-06-04 13:42] DanielRuf commented on #4495
Exactly the issue that I face at the moment.
It is not clear how and what is running behind the curtains on the new private CI setup (no logs?).

[2019-06-04 16:13] lorikrell commented on #4614
@cihatzafer thank you for your feedback! We have an older open ticket for this issue here https://github.com/magento/devdocs/issues/3178. We will work to get this resolved/updated.

[2019-06-04 16:13] #4614 closed

[2019-06-04 16:32] lorikrell commented on #4651
**Consideration of content location:**
For location of this content, we may want to consider adding cron specifics to [pipeline deployment docs](https://devdocs.magento.com/guides/v2.3/config-guide/deployment/) where the `magento setup:di:compile` comes into play. Then add a link in https://devdocs.magento.com/guides/v2.3/config-guide/cron/custom-cron-tut.html to that info added to pipeline deploy

[2019-06-04 22:00] kotasthanesp opened #4678 "Feedback on page: /guides/v2.2/cloud/architecture/cloud-architecture.html"
# General issue
Confusion over IaaS verbiage
## Description:
https://magento.slack.com/archives/CB76PEDHC/p1559664119002900
CSM and merchant confused over use of IaaS terminology, since offering is a PaaS.

## Possible solutions:
The Magento Commerce Pro service includes high-availability production and staging environments along with the associated server capacity. The Pro architecture uses three

[2019-06-05 09:10] balex13 opened #4681 "Feedback on page: /guides/v2.3/cloud/configure/setup-cron-jobs.html"
# General issue

## Description:

Please remove `indexer:reindex` from the samples

## Possible solutions:

Use something like `import:start` or any other sample command name.

## Additional information:

The `indexer:reindex` command performs reindexation of indexers. And this lead to clean caches and site slowness. And it looks like Magento recommend doing this.

[2019-06-05 15:16] hguthrie commented on #4678
We are very clear in multiple places that PaaS is the development environment for all Cloud accounts. On the first page of the Cloud documentation it describes the [Tech Stack](https://devdocs.magento.com/guides/v2.2/cloud/bk-cloud.html) and mentions the Cloud infrastructure, which consists of AWS as powering the IaaS of our managed services. This matrix of account comparisons is in a brief format

[2019-06-05 15:18] hguthrie commented on #4681
Thanks for bringing this to our attention. I will review.

[2019-06-05 16:59] meker12 commented on #4678
If a customer needs clarification on IaaS and PaaS infrastructure on Cloud, the Tech Stack page mentioned above has a very useful description:

`Amazon Web Services (AWS) powers the underlying Infrastructure as a Service (IaaS) for Magento Commerce Cloud. Each Magento Commerce Cloud plan provides a PaaS Integration environment for developing, testing, and integrating services, see Magento Commerce

[2019-06-06 16:14] #4678 closed

[2019-06-07 13:39] jeff-matthews commented on #4658
I fixed the issue that was adding an extra slash to the URL, which was causing 404. This is working as designed now.

[2019-06-07 13:40] #4658 closed

[2019-06-09 18:55] webosteve opened #4716 "Feedback on page: /guides/v2.3/frontend-dev-guide/css-topics/css-preprocess.html"
The entire documentation should be removed, it is incorrect and causes developers to waste large amounts of time reading and following along with instructions that are in NO WAY HELPFUL!

I believe it was the goal of Magento to create Magento 2 in the most complicated, unconventional and laborious of ways in order to try and get as much of the existing community to PAY for training. Only thing is

[2019-06-10 15:05] shrielenee commented on #4716
Hello @webosteve --- Can you elaborate on what is incorrect about [this page|https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css-preprocess.html]?

What exactly was the issue you were trying to solve with our documentation? It would be helpful for us if you provided information on the specific issue(s) in your feedback.

Barring documentation changes, to get answers to your q

[2019-06-10 18:05] victortodoran opened #4719 "Missing information about ui component php modifiers."
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/ui_comp_config_flow_concept.html
## Description
First, thank you for this page.
Under this section

there is no information about when and how php modifiers kick in even though they are mentioned in the beginning of the explication

## Possible solutions

Insert information about

[2019-06-11 12:01] DrewML commented on #4658
Thanks @jeff-matthews!

[2019-06-11 15:51] hguthrie commented on #1231
There has been no response for some time. We are closing this issue.

[2019-06-11 15:51] #1231 closed

[2019-06-11 15:52] shrielenee commented on #1234
@belbiy Does any of the versioning redirect work affect this at all?

[2019-06-11 15:58] shrielenee commented on #1434
@meker12 Any updates on this? Thanks!

[2019-06-11 16:00] shrielenee commented on #1436
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2019-06-11 16:00] #1436 closed

[2019-06-11 16:03] shrielenee commented on #1437
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:03] #1437 closed

[2019-06-11 16:05] shrielenee commented on #1451
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. 

This issue is related to a newer issue, https://github.com/magento/devdocs/issues/207

[2019-06-11 16:05] #1451 closed

[2019-06-11 16:07] shrielenee commented on #1465
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:09] shrielenee commented on #1484
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this, and the solution is not in our purview currently. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported prob

[2019-06-11 16:09] #1484 closed

[2019-06-11 16:13] shrielenee commented on #1547
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:13] #1547 closed

[2019-06-11 16:16] shrielenee commented on #1572
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:16] #1572 closed

[2019-06-11 16:17] shrielenee commented on #1588
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:17] #1588 closed

[2019-06-11 16:25] shrielenee commented on #1602
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:25] #1602 closed

[2019-06-11 16:27] shrielenee commented on #1634
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this, and we could not reproduce this issue. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs f

[2019-06-11 16:27] #1634 closed

[2019-06-11 16:29] shrielenee commented on #1636
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem needs further review, please open a new issue.

[2019-06-11 16:29] #1636 closed

[2019-06-11 16:30] #4716 closed

[2019-06-13 15:07] SD-dthompson opened #4748 "Feedback on page: /guides/v2.3/config-guide/cli/config-cli-subcommands-mode.html (update git rm instruction)"
# General issue
rm -rf command described in the "Change to developer mode" section shows absolute paths

## Description:

it seems highly unlikely (if even possible) that someone's magento root would be the same as their actual system root directory, which is where the current recommended rm -rf command (for use before switching to developer mode from production mode) suggests the files to be dele

[2019-06-14 16:04] DrewML opened #4755 "Incorrect steps for composer install"
# Bug report

## Description

https://devdocs.magento.com/guides/v2.3/install-gde/composer.html

I don't believe this is correct. Think we should be prompting folks to go into Marketplace and generate their public/private pair.

## Expected result

I can follow the docs to setup Magento using composer

## Possible solutions

Provide correct info for authenticating with Magento composer repository

[2019-06-14 16:06] DrewML commented on #4755
nvm I'm being dumb

[2019-06-14 16:06] #4755 closed

[2019-06-14 17:59] Carradee opened #4757 "Feedback on page: /guides/v2.3/frontend-dev-guide/theme-best-practice.html"
# General issue

Objective grammar errors.

## Description:

The punctuation and grammar are poor.

Poor grammar.

For example:

"Keep in mind, that after Magento instances, updates or upgrades something can change in default templates, layouts, and styles. So it is recommended to check if the changes effected the files overridden in your theme and copy changes if any, to your templates, layouts,

[2019-06-16 02:39] diazwatson opened #4762 "Provide information about colorPicker Ui Component"
# New topic request

## Description
Is it possible to add an explanation of how to use the colorPicker Ui component to this section of the dev docs?
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/bk-ui_comps.html

Although I can see the component in the core, I could not find information or examples on how to use it.

## Content checklist

- [x] The topic provides an explanation of how colo

[2019-06-16 07:04] luo3555 opened #4763 "Feedback on page: /guides/v2.3/extension-dev-guide/extension_attributes/adding-attributes.html"
In afterSave function, what's customDataRepository? where can I get it ?

[2019-06-16 17:15] nahshaviki opened #4764 "Feedback on page: /guides/v2.3/extension-dev-guide/depend-inj.html"
# General issue

## Description:

Second paragraph:

The dependencies declared by A are usually class interfaces and **the dependencies B provides are the concrete** implementations for those interfaces.

# Possible solutions:

.
... dependencies B provides a concrete implementations  ...
or:
... dependencies B are the concrete ...

## Additional information:

[2019-06-17 15:04] lorikrell commented on #4450
Adding links from multiple docs and info pages @ DevExchange Imagine 2019:

http://ka.lpe.sh/2019/06/09/magentoimagine2019-dev-exchange-recap-make-magento-secure/
https://extdn.org/resources/ten-tips-for-secure-magento-2-development/
https://extdn.org/wp-content/uploads/2019/06/extdn-security-flyer.pdf
There is a Google Doc (not adding that link unless ok). Jeanne has it.

[2019-06-19 11:30] victortodoran opened #4784 "Feedback on page: /guides/v2.3/howdoi/checkout/checkout_new_field.html"
# General issue

## Description:

Usage of the **ObjectManager** is strongly discouraged(and for good reason) yet you use is in official how to tutorials.

## Possible solutions:
Remove the usage of the **objectManager** in the tutorial.

[2019-06-19 14:40] keharper commented on #4748
Fixed by #4779

[2019-06-19 14:40] #4748 closed

[2019-06-19 19:20] juaniAla opened #4788 "Feedback on page: /extensions/amazon-sales/"
# General issue
Problems with the CPU usage of the php-fpm process when I install the Magento_ServiceConnector module
## Description:
To install the Amazon Sales Channel module, the Magento_ServiceConnector module in version 1.0.3 is required.
As soon as I install the latter, many php-fpm processes are created and I consume 100% of the CPU leaving the system almost unusable.
## Possible solutions:

[2019-06-19 22:09] lorikrell opened #4789 "Module documentation for Security.txt EngCom submission"
# Community engineering issue

Dev in progress!
Docs: DevDocs may have content...?  MerchDocs for Config updates. Issue for MerchDocs created in the new repo)
**Dev Contact**: @kalpmehta
Community Core project

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub repo: https://github.com/kalpmehta/securitytxt

Magento 2 version:
VERSION TBD! 2.3.x, tbd if 2.2

[2019-06-20 20:06] SD-dthompson opened #4792 "Clarify command-line update prereq steps"
# General issue

## Description:
/guides/v2.3/comp-mgr/cli/cli-upgrade.html

Command Line Upgrade process includes running the System Upgrade Utility as part of it's prerequisites.

## Possible solutions:

Maybe just omit this, or move it out of the prerequisites? Unless I am misunderstanding, if a user wanted to be running an update via the command line, instructions to run the update via the Sys

[2019-06-20 20:31] kibret16 opened #4793 "Feedback on page: /guides/v2.1/frontend-dev-guide/themes/admin_theme_create.html"
# General issue

## Description:

1. The guide says to create the theme in **adminhtml**
2. The example says **"backend"** instead of **"blank"** for the parent theme.

[2019-06-20 20:35] kibret16 commented on #4793
Never mind. I was on the wrong page.

[2019-06-20 20:35] #4793 closed

[2019-06-21 15:50] RajendraNayak opened #4800 "Feedback on page: /guides/v2.3/rest/tutorials/orders/order-create-order.html"
# General issue

## Description:

According to document after consuming "carts/mine/payment-information" API, Sale Order status should be "Pending" but in my case it is showing as "Processing".

Below is the response i am getting in "order details" API along with other details
{
...
"state": "processing",
    "status": "processing",
....
}

## Possible solutions:
Order status should be "Pending" a

[2019-06-21 18:48] keharper commented on #4800
@RajendraNayak Did you use the `banktransfer` payment method? The status immediately after creating an order may vary, depending on the payment method.

If yes, I'll have to investigate whether the behavior changed for this payment method.

[2019-06-21 19:01] RajendraNayak commented on #4800
Thanks for your quick reply.
Yes i am using banktranfer payment method.
I am using CCAvenue {"method":"ccavenuepay"}.

[2019-06-21 19:32] RajendraNayak commented on #4800
Thanks for your quick reply.
Yes i am using banktranfer payment method.
I am using CCAvenue {"method":"ccavenuepay"}.

[2019-06-21 19:43] keharper commented on #4800
@RajendraNayak If this is what your `paymentMethod` definition looks like

[code]

then the CC Avenue payment method is processing the transaction as a standard online payment processor. The tutorial uses an offline payment method, (`"method": "banktransfer"`) because it's built-in to Magento, and everyone can use it.

I would expect a typical online payment method to have different `state` and `s

[2019-06-21 19:53] RajendraNayak commented on #4800
@keharper
But i never redirect to CCAvenue page. I am still on checkout page and on checkout page itself Sale Order status & state both are showing as "Processing" in database. Suppose user didn't pay then status remains processing which is wrong.

[2019-06-21 20:38] keharper commented on #4800
I can't be of any help here, because I don't have any knowledge of 3rd party payment methods. If you discover there's a missing step between 7 and 8 for online payment methods, please open a new issue, and we'll try to work it into the tutorial. Perhaps someone on the Community Engineering Slack channel or on Stack Exchange can answer your question.

[2019-06-21 20:38] #4800 closed

[2019-06-21 21:13] mbrovko opened #4804 "Missing link to the glossary item / possibly unfinished section"
# Bug report

## Description

Security, Performance, and Data Handling page contains a section covering using a correct object as a source to get correct data.

It has a sentence "For example, get $1 data from the Product instead of the Order object." which doesn't really explain how does one decide on which object to use to get data and in what cases. It also mentions **$1** but doesn't provide a

[2019-06-23 23:59] diazwatson opened #4811 "Error: undefined method `match?' for ".md":String while generating preview"
Trying to generate a preview with the following command:
`master$ bundle exec jekyll serve --incremental`

Result in the following error:
[code]
## Assumptions
- Bundler version 2.0.2
- jekyll 3.8.5
- ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]
## Steps to reproduce the issue
1. Clone the repo
2. `$ gem install bundler`
3. `$ bundle install`
4. `$ rake preview` or `$ bundle exec jek

[2019-06-24 13:04] diazwatson commented on #4811
Closing this issue as I just noticed that it was due to the ruby version used when generating the preview.

Although I have ruby 2.4.0p0 installed it changes to 2.3.0p0 because it is set to be the default one in my local environment 🤦‍♂

Manually changing back to 2.4.0p0 fix the issue.

[2019-06-24 13:04] #4811 closed

[2019-06-24 21:49] buskamuza commented on #3178
@dshevtsov , Updater can be installed via Composer. But for contributions, the repo should be made public.

[2019-06-24 21:53] buskamuza commented on #1763
Yes, it's still relevant, as split DB functionality was not impacted much (if at all) by the declarative schema.
Please work with @akaplya to clarify all the questions.

[2019-06-25 18:20] shrielenee commented on #4505
This issue appears to have been resolved for v2.3 via #4584. I will make any table fixes (there are some link issues for 2.1 and 2.2 versions).

[2019-06-26 08:41] thomas-kl1 opened #4840 "2.3.2 release notes: missing information: view models"
# Incompatible Backward change

## Description

An important change has been shipped for the view models in Magento 2.3.2 and is missing in the release notes.
Now the instances of the view models are shared by default. If a view model requires to be a new instance at each time, you have to add the attribute shared="false" on the argument node in the layout xml file.

Eg:
[code]

See PR: https://gi

[2019-06-26 12:20] victortodoran opened #4846 "Statement that cache can be enabled|disabled only from command line starting Magento 2.2 is false"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-cache.html

## Description

Statement that cache can be enabled|disabled only from command line starting Magento 2.2 is false
## Possible solutions

Remove the false statement

[2019-06-26 13:32] shrielenee commented on #4505
This has been fixed in #4834 - closing.

[2019-06-26 13:32] #4505 closed

[2019-06-27 18:09] dobooth commented on #1434
Closing as outdated.

[2019-06-27 18:09] #1434 closed

[2019-06-27 19:52] lorikrell commented on #4492
Closing issue and moving to the new MerchDocs repo. The repository and contribution submissions for the Magento Merchant content (User Guide) will be available at a later date. Thank you!

[2019-06-27 19:52] #4492 closed

[2019-06-27 19:57] lorikrell commented on #4789
Created issue in the MerchDocs repo. The repository and contribution submissions for the Magento Merchant content (User Guide) will be available at a later date. This ticket may have content for DevDocs.

[2019-06-27 20:01] lorikrell commented on #4491
Closing issue and moving to the new MerchDocs repo. The repository and contribution submissions for the Magento Merchant content (User Guide) will be available at a later date. Thank you!

[2019-06-27 20:01] #4491 closed

[2019-06-28 19:50] #4622 closed

[2019-07-01 10:07] jarkkouitti opened #4877 "Feedback on page: /guides/v2.3/comp-mgr/cli/cli-upgrade.html"
# General issue

## Description:

php_codesniffer version (3.2.2) is too old in command:
Specify additional packages:
"composer require --dev allure-framework/allure-phpunit:~1.2.0 friendsofphp/php-cs-fixer:~2.13.0 lusitanian/oauth:~0.8.10 magento/magento-coding-standard:~1.0.0 magento/magento2-functional-testing-framework:~2.3.14 pdepend/pdepend:2.5.2 phpunit/phpunit:~6.5.0 sebastian/phpcpd:~3.0.

[2019-07-02 09:25] cundd opened #4879 "Update image in Inventory Management overview"
# General issue

## Description:

The text under in section "A simple scenario" does not match the image (https://devdocs.magento.com/guides/v2.3/inventory/index.html#a-simple-scenario)

- Text mentions a German (DE) web store which is not in the image
- Drop shipper in image never mentioned in text

## Possible solutions:

- Update text
- Update image

[2019-07-02 15:03] victortodoran opened #4881 "Feedback on page: /guides/v2.3/extension-dev-guide/versioning/dependencies.html"
# General issue

## Question:

Why is it that when changing the **preference** of a **class** marked with `@api` you can depend on a **MAJOR** version but when you change the preference of an **interface** marked with `@api` you have to depend on a **MINOR** version release. Is it not kinda the same thing?

Same thing goes for implementing an **interface** (depend on **MINOR**) and **extending** a

[2019-07-04 17:03] lfolco commented on #4491
What is the issue number in the new repo? I couldn't find any issues in there.

[2019-07-05 19:31] LucasCalazans opened #4890 "Devdocs should give a better example about the import/export/listen properties"
# Clarify the usage of import, export and listen

## Topic Link

https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/ui_comp_linking_concept.html

## Description

I think that it should have another example when we explain inside of a `.js` file, we are just using this type of example:
[code]

## Possible solutions

Add another example, like this one:
[code]

[2019-07-08 09:25] Simonchik opened #4894 "Subscribed object is singleton in events by default"
# Bug report

shared - Determines the lifestyle of the class. Default is **false**.

### Steps to reproduce

Open https://devdocs.magento.com/guides/v2.3/extension-dev-guide/events-and-observers.html and check the `Subscribing to events` section

## Expected result

shared - Determines the lifestyle of the class. Default is **true**.

[code]

[2019-07-08 12:51] jeff-matthews commented on #4491
@lfolco, the new repo is still private at the moment.

Cc: @leslietilling to comment on how to track this going forward.

[2019-07-08 15:26] dobooth commented on #4877
Fixed in https://github.com/magento/devdocs/pull/4886

[2019-07-08 15:26] #4877 closed

[2019-07-08 19:29] jsamhall opened #4903 "Provide example for afterGetList method"
# General issue

## Description:

There is no example method provided for the `afterGetList` method of proposed Plugin class to handle loading extension attribute data. Instead, the documentation simply reads "AfterGetList is similar to afterGet."

This is **wildly** open to interpretation and has no place in official documentation.

Is iterating over the collection returned from `getList` and hit

[2019-07-08 22:52] #4890 closed

[2019-07-09 19:04] #4762 closed

[2019-07-10 13:15] #4894 closed

[2019-07-10 14:53] korostii opened #4924 "Feedback on page: /guides/v2.3/release-notes/ReleaseNotes2.3.2OpenSource.html"
# 2.3.2 Release Notes: missing known issue

## Description:

There is a confirmed issue https://github.com/magento/magento2/issues/23462 which [reportedly](https://github.com/magento/magento2/issues/23462#issuecomment-507177403) was introduced in version 2.3.2.
This is a rather unpleasant issue and it has been confirmed by multiple users in comments and also elsewhere, as well:
https://magento.sta

[2019-07-10 15:07] vasilii-b opened #4926 "Missing documentation for Javascript Dropdown Widget"
# New topic request

## Description

We are missing any kind of information related to the Javascript Drodpdown Widget on DevDocs.

## Content checklist

- [ ] The topic provides an explanation of how to use *Dropdown Widget*.
- [ ] The topic contains code samples that shows how to initialize *Dropdown Widget*.
- [ ] The topic contains what options are available for *Dropdown Widget*

## Additiona

[2019-07-10 17:42] #4924 closed

[2019-07-10 18:47] #4846 closed

[2019-07-10 23:40] LucasCalazans opened #4932 "Devdocs should give an exact example of where we have to put import/export/listen properties"
# Clarify the usage of import, export and listen

## Topic Link

https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/ui_comp_linking_concept.html

## Description

I think that it should have an exact example of where we need to put the export/import/listen properties

## Possible solutions

Add another example, like this one:
[code]

[2019-07-11 09:34] NickvdMeij opened #4937 "Alert and Confirmation Widgets aren't well documented"
### Summary (*)
After doing some research on the Alert and Confirmation widgets, I noticed some lack in documentation about these widgets on their documentation pages ([here ](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_alert.html) and [here](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_confirm.html)).
Appearently, both widgets have a

[2019-07-11 15:25] #4932 closed

[2019-07-11 18:30] keharper commented on #4903
Affected pages

https://devdocs.magento.com/guides/v2.2/extension-dev-guide/extension_attributes/adding-attributes.html
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/extension_attributes/adding-attributes.html

[2019-07-11 18:42] keharper commented on #4789
@tilling Can this issue be moved/duplicated in the Merchant Doc repo?

[2019-07-11 18:45] keharper commented on #4789
I'm closing this issue. Please open a MAGEDOC if devdocs is affected.

[2019-07-11 18:45] #4789 closed

[2019-07-11 18:49] bdenham commented on #4788
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the Magento Support Knowledge Base, forums, or Stack Exchange. To report Magento 2 issues with code, see the Magento 2 GitHub. To suggest new product features and enhancements, see Magento features and improvements. Thanks for taking the time to create a

[2019-07-11 18:49] #4788 closed

[2019-07-11 18:53] dobooth commented on #3350
This seems to be working fine in v2.3.

[2019-07-11 18:53] #3350 closed

[2019-07-12 16:24] hguthrie commented on #4681
Assigned to @meker12 , writer working on cron updates.

[2019-07-12 19:45] #4764 closed

[2019-07-15 12:23] jeff-matthews opened #4954 "Feedback on page: /community/resources/best-practices.html"
# General issue

## Description:

There's a note at the top of the page that says:

Since all of the links point to devdocs topics, that statement is inaccurate. We DO endorse our own best practices.

Also, the word "Note" should be removed. The styling indicates that it is a note.

## Possible solutions:

Remove the note.

## Additional information:

[2019-07-15 13:31] anishcorratech opened #4957 "Feedback on page: /guides/v2.3/config-guide/redis/redis-pg-cache.html"
# General issue

Regarding the Magento Object Cache "<cache>"

Can we use a similar config from this [Page](https://github.com/colinmollenhour/Cm_Cache_Backend_Redis/blob/master/README.md#elasticache)  in magento 2 `env.php`

[code]

## Description:

New Configuration Parameter for Magento 2 Elasticache.

## Possible solutions:

Magento 2 to use Read Replica's

## Additional information:

NA

[2019-07-15 17:39] #4804 closed

[2019-07-15 19:19] #4840 closed

[2019-07-16 15:42] #4926 closed

[2019-07-17 12:41] johnorourke opened #4975 "Feedback on page: /guides/v2.3/config-guide/deployment/pipeline/"
# General issue

## Description:

Describing 'production system' it says 'no changes to websites, stores, store views, products, or the catalog. '.  This implies that you wouldn't update product data on the live system and would somehow deploy it. I believe the intent is 'no changes to product view configuration' or similar.

## Possible solutions:

Replace 'products' with 'product view settings'.

[2019-07-17 14:46] #4681 closed

[2019-07-18 10:52] farhadniaz opened #4987 "Feedback on page: /guides/v2.3/install-gde/prereq/prereq_updater.html"
# General issue

## Description:

The "Magento 2 updater" link is doesn't exist on github and it gives 404 error .
https://github.com/magento/magento2-updater
## Possible solutions:
please fix to correct link

## Additional information:

[2019-07-18 14:13] #4954 closed

[2019-07-18 18:38] dshevtsov commented on #2014
@korostii, according to magento/magento2#7399 the issue has been fixed. If you still observe any documentation issues in 2.2 or 2.3, please let us know.

Note: This issue/pull request applies to 2.1 only. We are no longer accepting pull requests for 2.1 DevDoc updates, because this version reached end of life (EOL) on June 2019. Magento no longer applies security patches, quality fixes, or documen

[2019-07-18 18:39] #2014 closed

[2019-07-18 18:56] dshevtsov commented on #1868
We no longer support 2.1 documentation. This page does not exist in 2.2 and 2.3 versions.
@jcalcaben please add a link to the page in case it was moved.

NOTE: This issue/pull request applies to 2.1 only. We are no longer accepting pull requests for 2.1 DevDoc updates, because this version reached end of life (EOL) on June 2019. Magento no longer applies security patches, quality fixes, or documen

[2019-07-18 19:09] #4784 closed

[2019-07-19 15:14] scouttyg opened #5001 "Update integration page about integrating modules in 2.3"
# General issue
Integration guide missing critical steps for 2.3

## Description:
Following the guide for creating a basic integration for 2.3 resulted in a module that is almost exactly this:

[Vendor1.zip](https://github.com/magento/devdocs/files/3411679/Vendor1.zip)

This module does not show up in `System > Extensions > Integrations`, even though it is supposed to as per the guide's instructio

[2019-07-21 10:17] HeiderSati opened #5005 "Update Magento setup rollback command"
# General issue

/guides/v2.3/install-gde/install/cli/install-cli-backup.html

 Description:   Online Document Incorrect: The rollback procedure has "=" after the (-m -c -d) switches which causes the rollback script execution to give an error of "code/data file not found ...".

## Possible solutions: Please replace the following statement:

 magento setup:rollback [-c|--code-file="<name>"] [-m|--m

[2019-07-21 10:19] HeiderSati commented on #5005
From execution, please see the below output:

php bin/magento setup:rollback -c=1563541635_filesystem_code.tgz -d=1563541635_db.sql
Maintenance mode already enabled
You are about to remove current code and/or database tables. Are you sure?[y/N]y
Do you want to keep the backups?[y/N]y
The rollback file doesn't exist. Verify the file and try again.
Skipped disabling maintenance mode

---------------

[2019-07-22 17:25] hguthrie commented on #4601
Looks like there is an attempt to fix this broken link in #4998

[2019-07-22 18:16] #4937 closed

[2019-07-22 21:22] Nacoma opened #5015 "Incorrect Example: /guides/v2.3/howdoi/customize-modifier-class.html"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/howdoi/customize-modifier-class.html

## Description

`Example::modifyMeta` in the first code sample under the **Add your modifier** section is not adding the required `componentType` argument to the `test_fieldset_name`'s configuration. This throws a `LocalizedException`.

## Possible solutions

[code

[2019-07-23 12:02] campan85 opened #5020 "Gift options location"
# General issue

 wrong description of the Gif options location
https://docs.magento.com/m2/ee/user_guide/sales/gift-options.html
Here is a sshot of the current Magento 2.3 documentation: https://prnt.sc/oiwf77

## Description:
It is written that the Gift options are located under Stores -> Configuration -> Sales -> Checkout -> My Cart link -> Gift options but there is only the Display cart summar

[2019-07-23 15:34] #4601 closed

[2019-07-23 20:36] dshevtsov opened #5022 "Broken external links"
# Bug report

## Description

Local link checking reports about more than 400 broken external links.

### Steps to reproduce

1. In the `_config.checks.yml`, set `:disable_external: false`
2. Run `rake test`
3. See the report that appears in your default browser

## Expected result

No broken external links.

## Possible solutions

Fix the links that can be fixed.
Remove the links that cannot be f

[2019-07-23 22:04] dshevtsov commented on #3521
The current number of conflicts is [120](https://gist.github.com/dshevtsov/9f9a6eaef2cf454b5989ef8f3dcfee66).

[2019-07-24 15:40] mrrobotisback opened #5032 "Docs for customAttributeMetadata query are out of date"
[code]

Is there a way, for specify more than one attribute_code ?

Exemple:
I need listing of 3 attributes ( energy_label_heating, energy_label_water, energy_label_cooling )

I try with this syntax, but it is wrong.
[code]
Is there a way to solve this problem easly ?
Or do I need to create a module?

Thank you in advance ;)

[2019-07-24 15:53] okolesnyk opened #5033 "MTF pages should notify users that framework is outdated"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/mtf/mtf_introduction.html

## Description
This link dedicated to explain how our outdated Functional Testing Framework works and this misleading community, because we should advertise MFTF current framework.

## Possible solutions
Add header to all MTF doc pages which say that this framework is outdate

[2019-07-24 16:23] keharper commented on #5032
@mrrobotisback It looks like the syntax of the query changed since this topic was posted. This is the correct syntax with two items. It's easy to add a third.

[code]

I'm keeping this issue open because the topic needs to be updated.

[2019-07-24 20:50] #5015 closed

[2019-07-24 20:50] #4975 closed

[2019-07-24 22:10] dshevtsov commented on #3521
#5037 reduces the number of conflicts to [108](https://gist.github.com/dshevtsov/9f9a6eaef2cf454b5989ef8f3dcfee66)

[2019-07-24 23:33] meker12 opened #5040 "Feedback on page: /guides/v2.2/howdoi/customize-form-configuration.html"
# General issue

## Description:

Looks like this page has two titles:  The first is coded as a title; the second as a subtitle.  Subtitle is larger than the title.

![image](https://user-images.githubusercontent.com/6391769/61835148-3e6d4800-ae40-11e9-9b7b-1352e7842d6c.png)

Is this the way the title and subtitle fields in the metadata are intended to be displayed?
Or does the metadata need to be

[2019-07-25 01:48] twocs commented on #5022
I believe that this bug relates to missing links in the wiki pages. For example, on the page https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-i18n.html, the link is `[de_de]` resolves to a page that does not exist:
https://github.com/magento/magento2/blob/2.3/app/i18n/magento/de_de/registration.php

It appears that the correct page is:
https://github.com/magento/mage

[2019-07-25 02:04] keharper commented on #5040
@meker12  This is the frontmatter of the REST order processing tutorial

[code]

The topic you site isn't using all of the tags it's supposed to have, but `subtitle` is meant to be rendered at the top of every page in the tutorial, with `title` being the standard H1. I wouldn't mind if the subtitle is styled to be smaller, but @belbiy should give his opinion.

[2019-07-25 08:43] mrrobotisback commented on #5032
Thank you for the response, now it work.

But i have another question, can i take a name of attribute and not only attribute code, from insomnia i see only 4 option:

[code]
But i need of attribute name.
is there a way ?

[2019-07-25 18:23] shrielenee commented on #5020
Hello @campan85 --- Our merchant user guide docs are not yet open for open source contribution (though our DevDocs are), but they will be in the very near future! This issue you are reporting is applicable to merchant user guide docs.

I am closing this issue, but will raise it to the merchant docs team and @leslietilling in the meantime. If they want to add it to our internal backlog they can. Ot

[2019-07-25 18:24] #5020 closed

[2019-07-25 18:28] jcalcaben commented on #5001
Feedback on page: /guides/v2.3/get-started/create-integration.html

[2019-07-25 18:31] jcalcaben commented on #4987
@dobooth to check in with architects to see why the repository is now private

[2019-07-25 18:34] shrielenee commented on #4957
Can we get some clarification on this issue? Are you suggesting a more optimal config? And is the config in the docs not sufficient or not working? Thanks!

[2019-07-25 18:48] shrielenee commented on #4763
Hello @luo3555 --- The`customDataRepository` is a custom repository that the user (you) would create.

See this sentence in the page --- "In order to retrieve a product or a list of products from the Magento API, you need to make an API request to the appropriate service (the Product Repository in this case)."

It's a sample term/placeholder that you would replace with the name of your own custom

[2019-07-25 18:48] #4763 closed

[2019-07-25 18:52] shrielenee commented on #4757
Hey @Carradee -- Thanks for raising this issue. We will address this oversight.

In other news, did you know you can contribute to our docs!? We'd love for you to provide your insight and expertise. See here to get started: https://github.com/magento/devdocs/wiki.

We have a team of technical writers that manage and facilitate GitHub issues and PRs, as well as write a slew of documentation for MAN

[2019-07-25 18:54] jcalcaben commented on #4719
Does the following page contain the information you need?

https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/ui_comp_modifier_concept.html

[2019-07-25 20:20] keharper commented on #5032
@mrrobotisback Your question is beyond what I can answer. I suggest asking on the graphql channel in the [EngComm Slack](https://tinyurl.com/engcom-slack).

[2019-07-25 22:59] diazwatson commented on #5005
@jcalcaben I am looking into this issue could you please assign this to me?

[2019-07-26 02:18] keharper commented on #5005
It's yours @diazwatson

[2019-07-26 05:35] eduard13 commented on #5001
Hi @jcalcaben, could you please assign it to me? I'd like to check it.
Thanks.

[2019-07-26 08:59] diazwatson commented on #5005
Cheers

[2019-07-26 13:15] victortodoran commented on #4719
Yes

[2019-07-26 20:49] dshevtsov commented on #5022
Thank you, @twocs
Seems like GitHub server processes [git objects](https://git-scm.com/book/en/v2/Git-Internals-Git-Objects) differently. It is case sensitive when you open file as part of a blob, and case insensitive when you open the file as a tree.

[2019-07-28 23:45] diazwatson commented on #3361
Hey guys I am looking into this issue could you please assign this to me?

[2019-07-29 02:56] keharper commented on #3361
@diazwatson It's yours.

[2019-07-29 08:47] diazwatson commented on #3361
Thanks @keharper  👍

[2019-07-29 12:04] diazwatson commented on #4451
Hi guys, can I have this assigned to me please?

[2019-07-29 13:13] jeff-matthews commented on #4451
@diazwatson, assigned to you. It looks like we still need to provide you with a README template before you can start work.

@dshevtsov, is there a template available?

[2019-07-29 13:39] diazwatson commented on #4451
Yes please.
From what I can see Readme files need to be created for all modules in m2 repo, then (once change merged) referenced in these 2 pages. Is this correct?

[2019-07-29 13:42] #5005 closed

[2019-07-29 13:55] jeff-matthews commented on #4451
Yes, that's correct @diazwatson.

[2019-07-29 16:13] dshevtsov commented on #4451
@jeff-matthews, the template is in our internal wiki and has to be published.

[2019-07-29 17:15] jeff-matthews commented on #4451
@diazwatson, I attached the template to this comment. GitHub won't accept a Markdown (.md) file attachment, so I changed it to `.txt`. After you download it, just change the extension to `.md`.

[module-readme-template.txt](https://github.com/magento/devdocs/files/3443413/module-readme-template.txt)

[2019-07-29 20:19] diazwatson commented on #4451
Thanks for sorting that @jeff-matthews I think I have everything to start

[2019-07-29 20:23] jeff-matthews commented on #4451
No problem! Thanks for volunteering to work on this. I also created a public gist of the template: https://gist.github.com/magento-docbot/dfb8cc7db6519da14fc92b890d49b7d3

[2019-07-29 20:41] keharper commented on #4451
Make sure any links that point to devdocs contain the proper version in the URL. The template shows links with "2.1".

[2019-07-29 20:48] jeff-matthews commented on #4451
Thanks for pointing that out @keharper. I just fixed the gist, but the file attached to my previous comment still has the old 2.1 links.

[2019-07-30 16:01] dshevtsov commented on #3178
Links to https://devdocs.magento.com/guides/v2.3/install-gde/prereq/prereq_updater.html will be replaced with links to https://devdocs.magento.com/guides/v2.3/comp-mgr/updater/update-updater.html (same for 2.2).
The topic itself will be removed.

[2019-07-31 14:50] #5022 closed

[2019-07-31 14:50] #3178 closed

[2019-08-01 18:48] dshevtsov commented on #1651
We are closing this ticket because there has been no response to our request. If you think this issue needs further review, reopen it.
Thank you for your continued collaboration and assistance!

[2019-08-01 18:48] #1651 closed

[2019-08-01 21:42] not-art opened #5103 "2.3.2-validated PHP version?"
# Topic clarification/correction request
Currently, the 2.3.2 Open Source and Commerce release notes do not reference the certified, tested version of PHP. The 2.3 DevDocs Tech Requirements also only list the tested/certified PHP version for 2.3.1, not 2.3.2.

If you're using the debian stretch, you need to upgrade PHP to 7.2.20 in order to install the required libsodium 1.0.13 package update, but

[2019-08-01 21:53] #1868 closed

[2019-08-03 13:54] diazwatson opened #5115 "Provide detailed steps on how to create and use viewModels"
# New topic request

## Description
In many places we encourage the use of `viewModel` over other techniques to inject functionality in elements, however detailed steps on how to create and use a `viewModel` are only found in https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html#layout_markup_add_to_elements

## Questions:
- Should we redirect readers to this page?
- H

[2019-08-03 14:00] diazwatson commented on #5115
I am ready to create a PR with changes to fix this issue (so please assign to me if this issue is accepted), although would need DevDocs team to provide answers to these questions.

[2019-08-05 08:36] ryantfowler commented on #1996
@jeff-matthews I suppose that would work, as long as following the instructions on that page do, in fact, suppress any of the anonymouse API endpoints' information from being shown with the `/swagger` path in a store's URL.

[2019-08-05 20:11] #5033 closed

[2019-08-07 07:07] kanduvisla opened #5133 "Feedback on page: /guides/v2.3/install-gde/composer.html"
# General issue

## Description:

The installation instructions are incorrect. They state:

But shouldn't this be:

Or am I missing something here?

[2019-08-07 21:08] dobooth commented on #1516
The arch guide has been updated more than once since this issue was filed. The topic noted no longer exists in the repo. I am closing this as out-of-date. Happy to update any language that is currently vague.

[2019-08-07 21:08] #1516 closed

[2019-08-08 18:40] jcalcaben commented on #5103
@jfrontain Who can we contact to get this information?

[2019-08-08 18:45] jcalcaben commented on #5115
Issue is yours @diazwatson

Answers:
1. Yes, we should direct people to this page from the page you listed
2. If you have viewModel used in your topic, our search indexer should pick it up
3. Yes, please create this section. Creating links is optional.

[2019-08-08 18:49] shrielenee commented on #4957
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this and we haven't heard from you in two weeks.

We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily. If you believe that the reported problem ne

[2019-08-08 18:49] #4957 closed

[2019-08-08 18:50] #4719 closed

[2019-08-08 18:52] #4233 closed

[2019-08-09 09:39] rain2o opened #5149 "REST API Store Code scope documentation differs from application"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/get-started/gs-web-api-request.html#endpoints

## Description

There seems to be a discrepancy between real-life implementation of the M2 REST API and the documentation around it. The documentation for the API structure is as follows:

For example, in the http://magento.ll/index.php/rest/default/V1/cus

[2019-08-09 16:16] #4524 closed

[2019-08-12 05:15] konarshankar07 commented on #434
Hello
Do we need to add the new [acceptance criteria ](https://github.com/magento/devdocs/issues/434#issuecomment-369284122)in new menu or we need to separate the [acceptance criteria](https://github.com/magento/devdocs/issues/434#issuecomment-369284122) into different menu?
Thanks

[2019-08-12 14:13] jeff-matthews commented on #5103
@chernenm

[2019-08-12 16:21] dobooth commented on #4987
https://github.com/magento/devdocs/issues/3178

[2019-08-12 16:21] #4987 closed

[2019-08-12 18:37] empirewebdigital opened #5172 "Feedback on page: /guides/v2.2/frontend-dev-guide/layouts/xml-instructions.html"
# General issue

## Description:

Container required attributes. "Name" attribute is set to required: no, but I think it should be set to yes? For both blocks and containers, name attribute is required?

[2019-08-12 22:22] buskamuza commented on #4881
MAJOR version is used to mark API changes, MINOR version is used to mark SPI changes (see https://devdocs.magento.com/guides/v2.3/extension-dev-guide/versioning/dependencies.html#service-provider-interfaces)
It could be vice versa, and we would get similar questions, so it's just how it is declared.

Now,
* if you create a class that implements an API interface, your implementation will be broken

[2019-08-13 16:28] #5133 closed

[2019-08-14 00:33] nettree opened #5179 "Clarify when to use the command for deploying a theme"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/theme-create.html

## Description

Down to the bottom of the topic link page, in section `Troubleshooting`, it suggests we can run the static content deploy command like `magento setup:static-content:deploy en_US` if:
[code]
Based on my understanding, if we're in developer mod

[2019-08-14 21:28] hubertinio opened #5185 "Need more info about configuring TinyMCE"
# General issue

Verify that instructions on the page work. Issue submitter @hubertinio was not able to configure it correctly in di.xml.

https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/wysiwyg/configure-tinymce-editor.html

## Description:
Proposed solution don`t work.

## Possible solutions:

[code]

[2019-08-15 18:17] erikmarr commented on #5149
@keharper this looks like it might turn into a devdocs PR, but wanted to see if you had thoughts before proceeding.

[2019-08-15 18:36] erikmarr commented on #5185
Hi @hubertinio thank you for taking the time to submit an issue. Can you provide more context and information about the issue and your proposed solution?

[2019-08-15 18:48] hubertinio commented on #5185
I have plan add these options from tinyMce manual to it initialize config in
lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js::33
I have achived it by plugin
[code]

[2019-08-15 18:57] erikmarr commented on #5172
Hi @empirewebdigital thank you for taking the time to submit an issue. `name` is recommended but not required. We have a note above the block and container tables that says:
`We recommend always adding a name to blocks. Otherwise, it is given a random name.`

Please let us know if you have any concerns or feedback.

[2019-08-16 23:42] jfrontain commented on #5103
@jcalcaben, it looks as though Magento support policy does not "certify" any particular version of PHP. Although we test PHP compatibility on a range of environments, we stick to only a general message that the Magento platform is compatible with PHP 7.1.x, 7.2.x and 7.3.x (and that 7.0.x is no longer supported).

That said, Olena Marchenko would know best about our test environments and who has t

[2019-08-17 11:32] hostep commented on #5103
Small remark, libsodium is not strictly needed to run Magento, it is highly recommended, but not strictly needed.
If it isn't installed, Magento will not use the new argon2id password hashing algorithm introduced in Magento 2.3.2, it will fall back to the old sha256 algorithm instead and will continue working just fine (as long as you don't already have upgraded password hashes in your database).

[2019-08-18 03:39] mohammedomaraslim opened #5201 "Change verbiage about Developer Mode not showing errors on frontend"
# General issue

(Developer Mode ) Does not show errors on the frontend

## Possible solutions:
(Developer Mode ) show exceptions to the user

[2019-08-18 05:06] atwixfirster commented on #4649
Hi, @victortodoran!

Thank you for the reporting. You can check a proposed solution in https://github.com/magento/devdocs/pull/5202.

Please let us know if it ok for you?

Thank you!

[2019-08-18 15:46] amoin-magento opened #5203 "Update cron job tutorial"
# General issue

https://devdocs.magento.com/guides/v2.3/config-guide/cron/custom-cron-tut.html

## Description:

 Step 2: Verify the sample module is incorrect

## Possible solutions:

https://community.magento.com/t5/Magento-2-x-Admin-Configuration/advanced-menu-missing/td-p/81384

## Additional information:

[2019-08-18 21:57] atwixfirster commented on #4239
https://github.com/magento/devdocs/pull/4240 has been merged.

@jeff-matthews , could you please resolve this issue?

Thank you!

[2019-08-18 22:37] atwixfirster commented on #3200
Nothing.

Magento will check if plugin has the `around` method. If `around` does not exist in the plugin then Magento execute a parent(native) method.

CC: @shrielenee

[2019-08-18 22:39] atwixfirster commented on #3200
Will be skipped. Magento verifies each plugin for the `before`, `around` and `after` methods availability.

[2019-08-18 23:41] atwixfirster commented on #3200
@shrielenee , let me please clarify how does it work.

For example, we have some class with `execute` method.

For this method we have 2 plugins:
- `Plugin A` (sortOrder = 10)
  - `aroundExecute` method
  - `afterExecute` method
- `Plugin B` (sortOrder = 20)
  - `beforeExecute` method
  - `aroundExecute` method
  - `afterExecute` method

**Execution queue:**
1. `Plugin A`::`aroundExecute` (sortOrd

[2019-08-18 23:49] atwixfirster commented on #3200
Added some editorial fixes that will help to understand the explanations.

https://github.com/magento/devdocs/pull/5205

[2019-08-19 12:40] #4239 closed

[2019-08-19 15:48] skinlikeporcelain opened #5211 "Feedback on page: /guides/v2.3/cloud/project/ece-tools-update.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2019-08-20 07:19] ericclaeren opened #5218 "Need info about structures in Adding a custom indexer"
How does 'structure' work in an indexer?

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexing-custom.html

## Description:

There apparently is a ```<structure>``` element within an indexer.xml, but this is not described on the documentation page.

## Possible solutions:

Explain what structure does optionally with a code example.  A use case when to use db_schema.xml for an index

[2019-08-20 13:44] arnoudhgz opened #5220 "More info needed in Calling and initializing JavaScriptFeedback topic"
# General issue

## Description:

What is the preferable option for the **[Declarative notation](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/javascript/js_init.html#declarative-notation)** ?

## Possible solutions:
* Preferable option no matter which case (current code standards) --OR--
* Preferable option explained for specific cases

Topic: https://devdocs.magento.com/guides/v2.

[2019-08-22 05:46] rani-webkul opened #5233 "Update Magento binding syntax for template binding"
# Topic clarification/correction request

## Topic Link : https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/magento-bindings.html

## Description
Issue Reference : https://github.com/magento/magento2/issues/24087
Here Knockout Syntax and Magento Syntax for  template binding is wrong. It's not working.

## Possible solutions
It should be
**Knockout Syntax**
&lt;div data-bind="template:

[2019-08-22 10:47] magudelo62 opened #5235 "Invalid example in CSS in responsive design topic"
# Bug report

## Description

Why does Magento documentation show a media breakpoint that doesn't work? (Tablet breakpoint)

![63506700-52a37400-c4d6-11e9-88b1-bfe252f1b8a3](https://user-images.githubusercontent.com/5323922/63508725-c6e01680-c4da-11e9-81b8-cb5a087f0332.png)

### Steps to reproduce

1. When you try to use the .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @s

[2019-08-22 12:31] jeff-matthews opened #5237 "Contact support when robots.txt 404s"
# General issue

## Description:

I'd like to make a suggestion for https://devdocs.magento.com/guides/v2.2/cloud/trouble/robots-sitemap.html.

## Possible solutions:

Add a troubleshooting section saying that if your `robots.txt` file goes to 404, you should open a Support Ticket requesting to remove the redirect from `/robots.txt to /media/robots.txt`
https://magento.zendesk.com/agent/tickets/23

[2019-08-22 18:16] keharper commented on #5233
PR: https://github.com/magento/devdocs/pull/5234

[2019-08-22 18:28] dshevtsov opened #5240 "Markdown linting: Header levels should only increment by one level at a time (MD001)"
# Bug report

## Description

The Markdown linter reports about 276 issues when the [rule 'MD001'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md001---header-levels-should-only-increment-by-one-level-at-a-time) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD001'` to `rule 'MD001'`.
2. In your terminal, run `rake t

[2019-08-22 18:30] shrielenee commented on #5211
Hello @skinlikeporcelain --- There is no info in this issue. I am going to close it now. If you have something to report please create a new issue!

[2019-08-22 18:30] #5211 closed

[2019-08-22 18:35] dshevtsov opened #5241 "Markdown linting: Inconsistent unordered list style (MD004 )"
# Bug report

## Description

The Markdown linter reports about 5224 issues when [rule 'MD004'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md004---unordered-list-style) is enabled.

### Instructions

1. Checkout the `MD004-integration` branch.
1. In the `_checks/styles/style-rules-prod` file, change `exclude_rule 'MD004'` to `rule 'MD004'`.
1. In your terminal, run `rak

[2019-08-22 18:38] dshevtsov opened #5242 "Markdown linting: Inconsistent indentation for list items at the same level (MD005 )"
# Bug report

## Description

The Markdown linter reports about 622 issues when the [rule 'MD005'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md005---inconsistent-indentation-for-list-items-at-the-same-level) is enabled.

### Instructions

1. Add a comment to this issue requesting the `devdocs-admins` to assign the issue to you.
1. Checkout the `MD005-integration` branc

[2019-08-22 18:40] dshevtsov opened #5243 "Markdown linting: Consider starting bulleted lists at the beginning of the line (MD006 )"
# Bug report

## Description

The Markdown linter reports about 127 issues when the [rule 'MD006'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md006---consider-starting-bulleted-lists-at-the-beginning-of-the-line) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD006'` to `rule 'MD006'`.
2. In your terminal, run `rak

[2019-08-22 18:45] dshevtsov opened #5244 "Markdown linting: Unordered list indentation (MD007)"
# Bug report

## Description

The Markdown linter reports about 436 issues when the [rule 'MD007'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md007---unordered-list-indentation) is enabled with 3 spaces for each nesting level.

### Instructions

1. Add a comment to this issue requesting the `devdocs-admins` to assign the issue to you.
1. Checkout the `MD007-integration`

[2019-08-22 18:45] shrielenee commented on #5185
Hey @hubertinio --- Are you using an external plugin to provide internal functionality? What result are you attempting to achieve by doing this? The snippet you provided is not in the documentation page you referenced in this issue.

[2019-08-22 18:49] dshevtsov opened #5245 "Markdown linting: Hard tabs (MD010)"
# Bug report

## Description

The Markdown linter reports about 11725 issues when the [rule 'MD010'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md010---hard-tabs) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD010'` to `rule 'MD010'`.
2. In your terminal, run `rake test:md`.

## Test your updates

1. Follow "Step

[2019-08-22 18:56] shrielenee commented on #5172
@empirewebdigital  It looks like our doc page covers this with the note that @erikmarr mentioned. I'm going to close this issue. If you feel that's in error, or would like to reopen an issue, please do!

[2019-08-22 18:56] #5172 closed

[2019-08-22 18:57] keharper commented on #5149
@paliarush Is this issue correct?

[2019-08-22 19:01] dshevtsov opened #5246 "Markdown linting: No space after hash on atx style header (MD018 )"
# Bug report

## Description

The Markdown linter reports about an issue when the [rule 'MD018'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md004---unordered-list-style) is enabled.

The issue is in the `guides/v2.3/mrg/ce/Config.md` file which is imported from the [magento2](https://github.com/magento/magento2/blob/2.3/app/code/Magento/Config/README.md) codebase. The i

[2019-08-22 19:12] dshevtsov opened #5247 "Markdown linting: Headers must start at the beginning of the line (MD023)"
# Bug report

## Description

The Markdown linter reports about 8 issues when the [rule 'MD023'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md023---headers-must-start-at-the-beginning-of-the-line) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD023'` to `rule 'MD023'`.
2. In your terminal, run `rake test:md`.

##

[2019-08-22 19:15] dshevtsov opened #5248 "Markdown linting: Ordered list item prefix (MD029)"
# Bug report

## Description

The Markdown linter reports about 3867 issues when the [rule 'MD029'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md029---ordered-list-item-prefix) is enabled.

### Instructions

1. Add a comment to this issue requesting the `devdocs-admins` to assign the issue to you.
1. Checkout the `MD029-integration` branch.
1. In the `_checks/styles/sty

[2019-08-22 19:18] dshevtsov opened #5249 "Markdown linting: Spaces after list markers (MD030)"
# Bug report

**We're no longer accepting PRS for this issue.**

## Description

The Markdown linter reports about 11851 issues when the [rule 'MD030'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md030---spaces-after-list-markers) is enabled.

### Instructions

1. Add a comment to this issue requesting the `devdocs-admins` to assign the issue to you.
1. Checkout the `MD0

[2019-08-22 19:21] dshevtsov opened #5250 "Markdown linting: Lists should be surrounded by blank lines (MD032)"
# Bug report

## Description

The Markdown linter reports about 2897 issues when the [rule 'MD032'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md032---lists-should-be-surrounded-by-blank-lines) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD032'` to `rule 'MD032'`.
2. In your terminal, run `rake test:md`.

## Tes

[2019-08-22 19:23] dshevtsov opened #5251 "Markdown linting: Emphasis used instead of a header (MD036)"
# Bug report

## Description

The Markdown linter reports about 415 issues when the [rule 'MD036'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md036---emphasis-used-instead-of-a-header) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD036'` to `rule 'MD036'`.
2. In your terminal, run `rake test:md`.

## Test your up

[2019-08-22 19:26] dshevtsov opened #5252 "Markdown linting: Fenced code blocks should have a language specified (MD040)"
# Bug report

## Description

The Markdown linter reports about 1421 issues when the [rule 'MD040']( https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md040---fenced-code-blocks-should-have-a-language-specified) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD040'` to `rule 'MD040'`.
2. In your terminal, run `rake test:m

[2019-08-22 19:28] dshevtsov opened #5253 "Markdown linting: Code block style (MD046)"
# Bug report

## Description

The Markdown linter reports about 704 issues when the [rule 'MD046'](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md046---code-block-style) is enabled.

### Steps to reproduce

1. In the `_checks/styles/style-rules-prod` change `exclude_rule 'MD046'` to `rule 'MD046', :style => :fenced`.
2. In your terminal, run `rake test:md`.

## Test your

[2019-08-22 23:03] meker12 opened #5260 "Feedback on page: /guides/v2.2/cloud/trouble/redis-troubleshooting.html"
# General issue

Please update the information under the `Redis and static-content deployment` section
That was just a workaround that is no longer needed if the merchant is on the newest version of ECE Tools.

The solution is to Upgrade to ECE Tools to the latest version

## Solution:
Update the Redis troubleshooting topic with the following information:

If customers see Redis errors in the log

[2019-08-23 07:55] hubertinio commented on #5185
Yes, I did external plugin and this is my solution, because that one mentioned in manual in section "Edit the module’s di.xml file" doesnt work.

[2019-08-23 14:58] #5201 closed

[2019-08-23 14:59] #5203 closed

[2019-08-23 15:07] #4649 closed

[2019-08-23 19:11] #5237 closed

[2019-08-26 13:00] #4757 closed

[2019-08-26 15:55] Sharkozp opened #5273 "Missing function escapeCss"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/templates/template-security.html

## Description

Here is missing documentation about function:

## Possible solutions

Description from code is **Escape string for the CSS context**

[2019-08-26 17:24] #5115 closed

[2019-08-27 13:48] jeff-matthews opened #5278 "Feedback on page: /guides/v2.3/cloud/trouble/troubleshoot-deployment.html"
# General issue

## Description:

There was a recent update which made it mandatory to specify version for all services on cloud. All services defined in `.magento.app.yaml` or `.magento/services.yaml` must have a valid version specified or it will break deployment. The deploy will still fail if the configuration is not valid and/or if there is a service in `services.yaml` which does not specify t

[2019-08-28 07:02] imrandotftr commented on #1286
@phronesis ,

You need to enter in particular container for executing the command.

[2019-08-28 15:56] paulgreenspan opened #5288 "Feedback on page: /guides/v2.3/config-guide/cli/config-cli-subcommands-perf-data.html"
# General issue

## Description:

Path to profile file is wrong

## Possible solutions:

bin/magento setup:perf:generate-fixtures /var/www/html/magento2/setup/performance-toolkit/profiles/ce/small.xml

file location is actually:  /var/www/html/setup/performance-toolkit/profiles/ce/small.xml

## Additional information:

[2019-08-29 16:40] lb-sa opened #5293 "Feedback on page: /guides/v2.3/config-guide/mq/manage-message-queues.html"
# List display from this command bin/magento queue:consumers:list is written wrong

## when we run bin/magento queue:consumers:list it is showing different list on default Magento 2.3.2 but on devdocs it's old list

Current it's showing this:
sharedCatalogUpdatePrice
sharedCatalogUpdateCategoryPermissions
quoteItemCleaner
inventoryQtyCounter
async.operations.all

But it should show:

product_actio

[2019-08-29 16:42] #5293 closed

[2019-08-29 16:43] aman3103 opened #5294 "Feedback on page: /guides/v2.3/config-guide/mq/manage-message-queues.html"
# List display from this command bin/magento queue:consumers:list is written wrong

## Description:

when we run bin/magento queue:consumers:list it is showing different list on default Magento 2.3.2 but on devdocs it's old list

Current it's showing this:
sharedCatalogUpdatePrice
sharedCatalogUpdateCategoryPermissions
quoteItemCleaner
inventoryQtyCounter
async.operations.all

But it should show:

[2019-08-29 20:29] hguthrie commented on #4384
@meker12 If we have this in the Cloud backlog already, maybe we can close this issue.

[2019-08-30 12:52] #3772 closed

[2019-08-30 13:03] jeff-matthews commented on #5288
Thanks @paulgreenspan. Doesn't the path depend on where you installed the app? Most of our docs recommend installing in a directory called `magento2` instead of in the `html` directory.

[2019-08-30 13:08] jeff-matthews commented on #5273
Thanks @Sharkozp. Can you please provide an example of using the function?

**Case:** Escape string for the CSS context
**Function:** escapeCss

[2019-08-30 13:14] atwixfirster commented on #1740
Explanations provided in https://github.com/magento/devdocs/pull/5298

Thank you for help , @hostep

[2019-08-30 13:20] jeff-matthews commented on #5103
The following DevBlog post provides the most up-to-date info we have about PHP support for the 2.2.x and 2.3.x release lines: https://community.magento.com/t5/Magento-DevBlog/Changes-to-supported-PHP-versions-due-to-PHP-7-1-End-of-Life/ba-p/140142.

The system requirements topic on devdocs pulls the PHP version directly from the `composer.lock` file for the most recent patch release.

Our general

[2019-08-30 13:21] #5103 closed

[2019-08-30 13:27] jeff-matthews commented on #1740
Thanks @atwixfirster! We'll review next week.

[2019-08-30 13:32] jeff-matthews commented on #4792
Thanks @SD-dthompson. I think you're right about the reference to the System Upgrade Utility in a CLI upgrade topic. I think we should remove it. Also, we should link the topic about modifying docroot: https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html.

[2019-08-30 13:37] jeff-matthews commented on #4669
@tkymuk, have you reviewed all of the topics under the main topic?

<img width="270" alt="Screen Shot 2019-08-30 at 8 35 29 AM" src="https://user-images.githubusercontent.com/13662379/64024985-3ec4c700-cb01-11e9-8ee2-68fdb1ca3457.png">

The tutorials provide detailed technical info about implementing this feature in the Admin, on nginx, or Apache.

[2019-08-30 13:39] atwixfirster commented on #1740
sounds pretty optimistic, @jeff-matthews 😆

Many thanks

[2019-08-30 13:40] jeff-matthews commented on #4661
@buskamuza, can you provide any insight on this?

[2019-08-30 13:47] Sharkozp commented on #5273
Case: Escape string for the CSS context
Function: escapeCss
[code]

Here example from [Zend Framework 2](https://framework.zend.com/manual/2.1/en/modules/zend.escaper.escaping-css.html)

[2019-08-30 13:49] jeff-matthews commented on #4647
Thanks @hostep. What do you think about enhancing the descriptions for both modes in the following topic: https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-index.html#config-cli-subcommands-index-reindex?

By adding references to "triggers" and/or "missing triggers" specifically, people looking for this info should be able to find it easily using our site search.

[2019-08-30 13:54] jeff-matthews commented on #5273
Thanks @Sharkozp! I'll open a PR shortly.

[2019-08-30 14:09] paulgreenspan commented on #5288
@paulgreenspan Yes, I guess that is true.

Maybe we should change the regression envs to match the docs.

[2019-08-30 14:12] #5288 closed

[2019-08-30 14:17] #5294 closed

[2019-08-30 14:18] #3200 closed

[2019-08-30 17:36] hostep commented on #4647
Hi @jeff-matthews

Ah yes, that might be a good idea, but I would put it in the [Configure indexers](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-index.html#configure-indexers-1) section of that page, since that's where the `indexer:set-mode` command is being explained.

And then maybe also add a link to that section from [Mysql](https://devdocs.magento.com/guide

[2019-08-30 17:41] jeff-matthews commented on #4647
Good idea! I think that's a solid plan. I'll move this to the **Ready for Development** column in the [Pull Request Progress](https://github.com/magento/devdocs/projects/16) project. If someone doesn't pick it up in the next few days, I'll work on it. Thanks!

[2019-08-30 18:30] clish1 opened #5304 "Feedback on page: /guides/v2.3/inventory/"
Current Behavior - Stock can only be assigned at the website level.
Desired Behavior - Stock can be assigned at the store view level.

We have a global website and we want to show a Buy Now button based on the store view.  To do this we were going to rely on the store view.

Is there any plans to allow stocks to be assigned to a store view level?

[2019-08-30 18:34] clish1 opened #5305 "Unable to add more than 20 sources to a stock."
Current Behavior:  I am not able to add more than 20 sources to a stock.
Desired Behavior:  We need the ability to add hundreds of sources to a stock.

We have several hundred sources (warehouses) throughout the US.  We need to be able to add all of them to a stock.  This is especially true since only 1 stock can be associated with a website.  If multiple stocks could be associated with a website

[2019-08-30 21:25] meker12 commented on #5278
If this happens, there is validation in the deployment failure messages that provide guidance for solving the problem.    In the documentation, we show examples with the version included.  I think this troubleshooting information is coming up now because of the behavior change.  Doesn't seem like a good thing to add to the Cloud Guide.

The Service configuration topic does need to be updated to cl

[2019-08-31 05:45] atwixfirster commented on #5235
Hi!

There are two different tablet declarations:
- [Tablets](https://github.com/magento/magento2/blob/2.3/app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/_menu.less#L532) for back-end styles
- [Tablet](https://github.com/magento/magento2/blob/2.3/app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_order-summary.less#L236) for front-end

I'v

[2019-08-31 07:58] atwixfirster commented on #4792
PR: https://github.com/magento/devdocs/pull/5308

[2019-09-03 06:26] atwixfirster commented on #5246
PR: https://github.com/magento/magento2/pull/24420

[2019-09-03 13:34] UB3RL33T opened #5316 "broken table layout for https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html"
# Bug report

## Description

The Issue is the, what I believe is supposed to be a table inside the "Work with configuration and mapping files" section: https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html#migration-config

I believe it's supposed to be a table because of the closing </table> tag at the end of the section.

### Steps to reproduce

1. Open up https://devd

[2019-09-03 13:41] KevinMace opened #5317 "Invalid XML in example layout handler"
## Topic Link

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/routing.html

## Description

In the example for adding a new layout handler, the opening tag is incorrect

## Possible solutions

Replace the opening `<config>` tag with a `<body>` tag, referencing the correct xsd file.

[2019-09-03 14:38] dshevtsov commented on #5246
@atwixfirster, the heading with wrong formatting is still [there](https://github.com/magento/magento2/pull/24420/files#diff-5842ad70b588bf105368974bd22e4ebbR3)

[2019-09-03 14:43] atwixfirster commented on #5246
yes, it was 😊

**fixed now**

[2019-09-03 15:11] dshevtsov commented on #4182
@meker12 any progress with this issue?

[2019-09-03 15:46] meker12 commented on #4182
No.  We don't own this document, but I will follow up with the owner.  We also have a MAGEDOC issue that was recently entered.

[2019-09-03 16:26] #4792 closed

[2019-09-03 18:53] #5235 closed

[2019-09-03 20:44] buskamuza commented on #4661
That's correct. Please remove "factory" from the statement.

[2019-09-04 08:14] atwixfirster commented on #5316
Fix for this issue has been created 5 days ago - https://github.com/magento/devdocs/pull/5302

[2019-09-04 08:19] ihor-sviziev opened #5321 "Update Component Status page"
# General issue

## Description:
AFAIK following pages showed status of each component in 2.3.0 preview releases:
https://devdocs.magento.com/guides/v2.3/release-notes/component-status.html

On the following page I can see that not all components showed as "green" status. Is there any real reasons to keep it "yellow"?

## Possible solutions:
- Add meaningful description what this page needed for?

[2019-09-04 09:44] UB3RL33T commented on #5316
I was looking for an existing issue, but didn't find one... silly me.

Thank you for sharing :)

[2019-09-04 12:24] #3164 closed

[2019-09-04 15:59] #5317 closed

[2019-09-05 17:08] dshevtsov commented on #5240
@hguthrie, it is not clear why the _Waiting for response_ label was added here. Could you please add the request for response in comments here?

[2019-09-05 18:57] keharper commented on #5233
Closed per #5262

[2019-09-05 18:57] #5233 closed

[2019-09-05 20:50] jeff-matthews commented on #5240
Before this issue can be worked, we need to create a new CSS class in the [devdocs theme](https://github.com/magento-devdocs/devdocs-theme) that we can use to replace some occurrences of H4s (e.g., Related topics, cloud topics, API topics). This issue is not ready for dev.

[2019-09-06 14:27] jeff-matthews commented on #5316
I'm going to close this since the PR that fixes has been merged. The change won't be deployed to production until we merge the `small-changes` branch with `master`.

[2019-09-06 14:27] #5316 closed

[2019-09-06 14:34] jeff-matthews commented on #5305
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento/magento2). To suggest new product features and enhancements, see [Magento features and improvements](https://community.magento.com/t5/Magento-2-x-Feature-Requests-and/idb-p/feature-requests). Thanks for

[2019-09-06 14:34] #5305 closed

[2019-09-06 14:35] jeff-matthews commented on #5304
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2019-09-06 14:35] #5304 closed

[2019-09-06 15:51] jeff-matthews commented on #5246
To close this issue, we'll need to run the script to update the MRG topics and enable rule MD018 in `_checks/styles/style-rules-prod`.

@dshevtsov, there have been several other module README updates recently that would be nice to publish on devdocs anyway.

[2019-09-06 15:53] atwixfirster commented on #5246
@jeff-matthews, please give me a list of modules and I will fix them.

[2019-09-06 16:00] jeff-matthews commented on #5247
There's an error in the MRG topic that must be fixed in the magento2 codebase:

[code]

I'll open a PR shortly.

[2019-09-06 16:10] jeff-matthews commented on #5246
Actually @atwixfirster, I was referring to some work that @diazwatson has done recently to add more detail to module READMEs. We'll run a script to regenerate the MRG topics on devdocs after the next release.

However, there IS another fix that you could make related to devdocs issue https://github.com/magento/devdocs/issues/5247.

There's an error in the ReleaseNotification README that must be fi

[2019-09-06 16:20] atwixfirster commented on #5246
@jeff-mathews, I can fix `guides/v2.3/mrg/ce/ReleaseNotification.md`.

[2019-09-06 16:24] jeff-matthews commented on #5246
Thanks @atwixfirster!

[2019-09-06 16:28] #5273 closed

[2019-09-06 16:36] atwixfirster commented on #5246
PR: https://github.com/magento/magento2/pull/24489

[2019-09-06 17:30] jeff-matthews commented on #5247
PR to fix README: magento/magento2#24489

[2019-09-06 19:00] jeff-matthews commented on #5321
Thanks for the feedback @ihor-sviziev. You're correct, this page only shows module status for the 2.3.0 preview releases and is not updated for patches.

I've raised this issue with internal stakeholders to start a conversation about the goals and purpose of this page. I'll keep this open and report back here when I have more info to share.

[2019-09-07 21:28] hguthrie commented on #5278
This looks like it would be a good thing to add to the Services topic **Type** definition.
https://devdocs.magento.com/guides/v2.2/cloud/project/project-conf-files_services.html#type

[2019-09-08 07:50] konarshankar07 commented on #4661
Hello guys,
Please assign to me as I'm working on this task
Thanks

[2019-09-09 17:11] #4661 closed

[2019-09-09 21:35] #5278 closed

[2019-09-11 11:22] sakiland opened #5359 "Feedback on page: /guides/v2.2/mtf/create_test/create_new_test.html"
# General issue
Script generateFixtureXml.php doesn't exist from Magento 2.2

## Description:
The script generateFixtureXml.php has been removed from Magento 2.2 and above. So, instructions on this page is not relevant any more, and developer cannot create fixture on this way.

## Possible solutions:
 We need to update documentation with relevant instructions.

[2019-09-11 14:30] dshevtsov opened #5361 "404 external links"
# Bug report

## Description

[htmlproofer](https://github.com/gjtorikian/html-proofer) reports about 5 external links that return 404.

[code]

### Steps to reproduce

1. `rake build`
2. `bundle exec htmlproofer _site/ --external_only --only-4xx`

## Expected result

All reported failures are fixed.

[2019-09-11 15:31] atwixfirster commented on #5253
Hi, @dshevtsov !

I have a question about **MD046** rule.

For example, when this rule is active it reports issues:

[code]

If you open **README.md** and check lines 160 and 170 you will see code blocks:

<img width="674" alt="rule" src="https://user-images.githubusercontent.com/13585327/64711463-50737a80-d4c2-11e9-8dc7-12084c6ddead.png">

Should we ignore this report or the marked code blocks ar

[2019-09-11 15:56] dshevtsov commented on #5253
@atwixfirster, a code bock have to be aligned with first symbol of text in parent order list item.
The indentation for code blocks should be equal to 3 spaces in this case:

![Screen Shot 2019-09-11 at 10 53 16](https://user-images.githubusercontent.com/12731225/64713540-a7f1f600-d482-11e9-9bde-f64a97cb9d1d.png)

[2019-09-11 15:59] atwixfirster commented on #5361
@dshevtsov, we do not have `page-builder/` folder in the repository.

[2019-09-11 16:01] dshevtsov commented on #5361
@bdenham, could you please help with the `page-builder` link issue?

[2019-09-11 16:03] bdenham commented on #5361
I can't change it today, but I will help as soon as I am able.

[2019-09-11 16:10] atwixfirster commented on #5253
Thank you for the explanations, @dshevtsov!

Per my opinion the `Editorial` label of this issue is a very low price for the requested changes. There are more than 1000 places where we should change code blocks.

This is a big piece of manual work.

[2019-09-11 16:49] #4647 closed

[2019-09-11 18:26] dshevtsov commented on #5361
Actually, the page-builder link is stored in the devdocs repository in a [table of contents file](https://github.com/magento/devdocs/blob/master/_data/toc/page-builder.yml#L204).

@bdenham can we remove the entire _Contribution guide_ entry until it is fixed at the page-builder repository?

[2019-09-11 18:40] bdenham commented on #5361
Yes, that is fine. Please do!

[2019-09-11 18:49] dshevtsov commented on #5361
@atwixfirster, could you do this in your PR please?
You just need to remove the lines 203-205 in `_data/toc/page-builder.yml`.

[2019-09-11 18:57] atwixfirster commented on #5361
**done**

[2019-09-11 20:36] #5361 closed

[2019-09-11 21:05] andriyShevtsov opened #5366 "Feedback on page: /guides/v2.2/cloud/docker/docker-development-testing.html"
# Missed step:
clone ece-tools repo:

## Description:

## Possible solutions:

## Additional information:

[2019-09-11 21:06] #5366 closed

[2019-09-12 12:57] jeff-matthews opened #5369 "Feedback on page: /guides/v2.3/cloud/trouble/message-queues.html"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that this topic is no longer relevant and will not be migrated to the KB.

## Possible solutions:

Remove this topic from devdocs and add a redirect from the o

[2019-09-12 12:59] jeff-matthews opened #5370 "Feedback on page: /guides/v2.3/cloud/trouble/redis-troubleshooting.html"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that this topic is no longer relevant and will not be migrated to the KB.

## Possible solutions:

Remove this topic from devdocs and add a redirect from the o

[2019-09-12 17:48] #5369 closed, assigned to jeff-matthews

[2019-09-12 17:54] jeff-matthews opened #5378 "Feedback on page: /guides/v2.3/comp-mgr/trouble/cman/gitignore.html"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that this topic is no longer relevant and will not be migrated to the KB.

## Possible solutions:

Remove this topic from devdocs. There is not another topic t

[2019-09-12 17:56] jeff-matthews opened #5379 "Feedback on page: /guides/v2.3/comp-mgr/trouble/cman/upgrade_51431.html"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that this topic is no longer relevant and will not be migrated to the KB.

## Possible solutions:

Remove this topic from devdocs. There is not another topic t

[2019-09-12 17:58] jeff-matthews opened #5380 "Feedback on page: /guides/v2.3/comp-mgr/trouble/cman/ce-ee-upgrade.html"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that this topic is no longer relevant and will not be migrated to the KB.

## Possible solutions:

Remove this topic from devdocs. There is not another topic t

[2019-09-12 17:58] jeff-matthews opened #5381 "Feedback on page: /guides/v2.3/comp-mgr/trouble/cman/doc.html"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that this topic is no longer relevant and will not be migrated to the KB.

## Possible solutions:

Remove this topic from devdocs. There is not another topic t

[2019-09-16 19:54] dobooth commented on #1691
Closing this. Looks like the topics have been updated to show the CLI instructions only.
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/js-bundling.html

[2019-09-16 19:54] #1691 closed

[2019-09-16 21:11] dobooth commented on #2427
Hey @serhiyzhovnir, any interest in updating the page above? You and the team have done so much for widgets lately, it would be great to get this updated as well. No problem at all if you don't want to tackle it!

[2019-09-17 18:46] jeff-matthews opened #5408 "Add note about alpha testing `baler` for advanced JS bundling"
# General issue

## Description:

Advanced JS bundling in Magento 2, as described in [this topic](https://devdocs.magento.com/guides/v2.3/performance-best-practices/advanced-js-bundling.html), is error prone and difficult to implement.

## Possible solutions:

Add a note at the top of the topic redirecting users to the new [baler](https://github.com/magento/baler) module. Be sure to mention that t

[2019-09-17 19:46] serhiyzhovnir commented on #2427
Hey @dobooth
Thank you for mentioning me here :)
Can you, please, assign this issue to me?
I would be glad to work on this issue!
Thank you!

[2019-09-17 21:04] #1234 closed

[2019-09-17 21:15] #5379 closed

[2019-09-18 13:56] #5370 closed

[2019-09-18 15:19] #5378 closed

[2019-09-18 15:21] #5381 closed

[2019-09-18 15:21] #5380 closed

[2019-09-18 15:42] dobooth commented on #5218
@ericclaeren I am not seeing a reference to 'structure'. Can you provide a link to the code?

[2019-09-18 23:32] jeff-matthews commented on #5250
PR #5415 fixes a majority of the errors, but before we can close this issue and enable the rule on production we need to fix the remaining issues:

[code]

[2019-09-19 14:40] #4881 closed

[2019-09-19 15:35] jeff-matthews commented on #5252
This rule flags indented code blocks as errors; not just fenced code blocks with no language specified. See the following example:

<img width="1031" alt="Screen Shot 2019-09-19 at 10 32 28 AM" src="https://user-images.githubusercontent.com/13662379/65258814-30971480-dac9-11e9-8488-3ddb657c0ead.png">

That's going to make it more difficult to enable this rule, especially when we have a separate is

[2019-09-19 19:11] paliarush commented on #5149
Described situation may happen when store code is [configured to be used in URLs](https://devdocs.magento.com/guides/v2.3/config-guide/multi-site/ms_websites.html#multi-storecode-baseurl).

I do not think this is a bug.

[2019-09-19 20:59] hguthrie commented on #1786
There is a section in the Cloud guide that mentions customizing `php.ini` settings. Ideally, we could extract that section to a new topic and expand on it. The section is in:
[Configure environments > Application > Configure PHP options](https://devdocs.magento.com/guides/v2.2/cloud/project/project-conf-files_magento-app.html#customize-phpini-settings)

[2019-09-20 17:00] shrielenee commented on #5252
@danidelcar This will affect OMS Docs significantly when/if this is merged to our repo. I think I brought this up to you recently when doing a review.

[2019-09-20 17:05] shrielenee commented on #5245
@danidelcar This will also have an impact on our repo.

[2019-09-20 17:11] atwixfirster commented on #5245
@dshevtsov ,

Can we break this ISSUE into pieces?

For example, remove HARD TABS in B2B, Cloud, Coding Standards, etc...

Thank you!

[2019-09-20 18:26] dshevtsov commented on #5245
@atwixfirster feel free to create several PRs for different scopes like in #5252.

[2019-09-20 19:53] meker12 commented on #4384
Just to follow up, the regions for Pro and Starter projects are selected during the Cloud provisioning process. If a customer wants to change the region for a project, it requires decommissioning and reprovisioning.  No need to include information about the regions available for Starter and Pro in the docs.

[2019-09-20 19:53] #4384 closed

[2019-09-20 20:37] jeff-matthews commented on #5252
There are still a lot of errors to fix, but there are two that are in the MRG:

[code]

[2019-09-23 07:07] ericclaeren commented on #5218
Hi, It is used here:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/CatalogSearch/etc/indexer.xml

Maybe in some other indexer files as well.

[2019-09-24 10:35] drpayyne opened #5463 "A properly organized RequireJS guide"
# New topic request

## Description

There isn't a properly structured, and well-explained RequireJS guide present in the DevDocs. I feel RequireJS needs a separate side bar section for itself and have pages for introduction, all the properties and functionalities (Mixin, Shim, Paths, etc) of a RequireJS file with examples, and also how RequireJS is loaded and used in Magento.

Also, I feel the [J

[2019-09-24 15:29] webmaster-sfs opened #5466 "Feedback on page: /guides/v2.3/rest/tutorials/bulk-configurable-product/create-configurable-simple-products.html"
# General issue
When I try to submit either a configurable product or a configurable product along with multiple simple products using /async/bulk/V1/products

(http://{domain}/rest/{store_code}/async/bulk/V1/products)

the response is:

message": "Unknown connection name amqp,
 "trace": "#0 {path}/public_html/vendor/magento/framework-message-queue/PublisherPool.php(143): Magento\\Framework\\Messa

[2019-09-24 15:36] atwixfirster commented on #5246
@jeff-matthews , are we ok here? If yes then please resolve the issue.

Thank you!

[2019-09-24 15:48] jeff-matthews commented on #5246
@atwixfirster, we need to leave this open until we either 1) regenerate all MRG topics and add to devdocs in a separate PR or 2) refactor the MRG topic generation so that linting skips these files.

@dshevtsov is working on refactoring. We'll close this as soon as we turn on rule MD0018 in production.

[2019-09-24 15:50] webmaster-sfs opened #5468 "Prerequisite task in "Create a configurable product using bulk APIs" tutorial doesn't work"
When I get to the last step (Use the bin/magento queue:consumers:start async.operations.all command to enable bulk endpoint processing.), I get an error:

$ bin/magento queue:consumers:start async.operations.all
In ConnectionTypeResolver.php line 43:

I'm on Magento CE 2.3.1

Affected topic: /guides/v2.3/rest/tutorials/bulk-configurable-product/config-product-intro.html

#5867  fixes this issue

[2019-09-24 17:02] dobooth commented on #2370
From Misha via Slack " since we still will be releasing security patches for 2.2.x next year, I believe it makes sense to do the RabbitMQ upgrade for it too, so I will create a ticket for this"

[2019-09-24 19:48] Tsquare17 opened #5472 "Clarify encryption library for PHP 7.2"
The page states "added support for Argon2ID13, which is used by default in PHP 7.2 or if you have installed the Libsodium extension for PHP."

PHP 7.2 uses bcrypt by default, and I'm pretty sure even when compiled with Argon2 and Sodium, only Argon2i is supported by PHP 7.2. Support was added in 7.3 for Argon2id.

[https://www.php.net/manual/en/function.password-hash.php#refsect1-function.password

[2019-09-24 20:41] keharper commented on #5468
@nuzil Is there any system configuration that needs to occur befoe you run `bin/magento queue:consumers:start async.operations.all`?

[2019-09-24 22:33] #5408 closed

[2019-09-24 23:06] DrewML opened #5473 "Consider consolidating backcompat docs"
# Topic clarification/correction request

## Topic Link

https://github.com/magento/devdocs/blob/master/src/guides/v2.4/contributor-guide/backward-compatible-development/index.md

https://github.com/magento/devdocs/blob/master/src/guides/v2.4/extension-dev-guide/versioning/codebase-changes.md

## Description

As far as I can tell, these documents overlap quite a bit, and it's not quite clear what

[2019-09-24 23:10] DrewML commented on #5473
cc @jcalcaben (don't have perms to assign you)

[2019-09-25 13:01] jeff-matthews commented on #5252
PR #5478 brings the error count down to ~`265`.

[2019-09-25 14:38] jeff-matthews opened #5479 "Remove obsolete troubleshooting topics"
# General issue

## Description:

All troubleshooting topics are being reviewed for migration to the [Magento Knowledge Base (KB)](https://support.magento.com/hc/en-us/categories/115000200533-Troubleshooting). Magento Support has determined that the following topics are no longer relevant and will not be migrated to the KB.

- https://devdocs.magento.com/guides/v2.3/install-gde/trouble/tshoot_mysq

[2019-09-25 23:48] #5220 closed

[2019-09-26 07:08] ihor-sviziev opened #5488 "Clarify compatible Elasticsearch versions"
# General issue

## Description:

It's not really clear what exact Elasticsearch versions supported.
On some pages we have "Elasticsearch 6.x", on some "Elasticsearch 6.0+" (that probably means 7.x is supported).

Please update in all places to reflect that ES 7.x is not supported (or is it supported?).
Examples:
- Elasticsearch 5.0+/6.0+
https://devdocs.magento.com/guides/v2.3/config-guide/elasti

[2019-09-26 07:12] ihor-sviziev opened #5490 "Feedback on page: /guides/v2.3/performance-best-practices/software.html"
# General issue

## Description:

mcrypt php extensions isn't available on php 7.2, it was replaced to sodium

## Possible solutions:

## Additional information:

[2019-09-26 14:58] hguthrie commented on #5240
The new procedure class is live. The Cloud guide has been scrubbed.

[2019-09-26 23:16] jeff-matthews commented on #5252
After #5495, #5497, and #5498 are merged, we can turn on the MD040 rule in production.

[2019-09-27 00:36] meker12 opened #5499 "Feedback on page: /guides/v2.3/cloud/project/project-conf-files_services-rabbit.html"
# General issue

## Description:

Procedure for enabling Rabbitmq on Cloud does not include step to verify the configuration after enabling.

## Possible solutions:
It would be useful if the section on enabling RabbitMq topic had a procedure with instructions similar to the ones in the [Enable My SQL](https://devdocs.magento.com/guides/v2.3/cloud/project/project-conf-files_services-mysql.html#enab

[2019-09-27 05:52] heider-hulft opened #5502 "Clarify/add indexer class locations"
# General issue

## Description:
You are showing classes (thanks) but where "exactly" are these files located?!

## Possible solutions:
Please provide the full path to each file you are referring to (di.xml for example exists everywhere, and the CatalogInventory directories that I found using the linux "find" tool only reports ones that has no "etc" directories, therefore, the article isn't workin

[2019-09-27 16:17] #5252 closed

[2019-09-27 16:38] #5247 closed

[2019-09-30 06:37] ihor-sviziev commented on #5488
Following issues not clear understanding. Example https://github.com/magento/magento2/issues/24777

[2019-09-30 14:06] extremeskillz commented on #5488
Please note Ubuntu repo keep the current versions of elasticsearch there. Anyone running mangento on debian based system will get the latest and greatest by update. This will break Magento2.3.2 if you rely on ubuntu repos for updates. Support needs to be added to Magento2 with composer update.

[2019-09-30 21:24] #5479 closed

[2019-10-01 17:30] jeff-matthews commented on #5245
@atwixfirster, I'm fixing errors in the `_include/install/` directory right now, so you should focus on other areas.

[2019-10-01 18:14] jeff-matthews commented on #5245
@atwixfirster, now I'm working on errors in the `_include/config/` directory.

[2019-10-01 18:17] atwixfirster commented on #5245
sure

Thank you, @jeff-matthews

[2019-10-01 18:32] jeff-matthews commented on #5245
Working on errors in the following directories:

- `guides/v2.2/pattern-library/`
- `guides/v2.3/pattern-library/`

[2019-10-01 18:54] jeff-matthews commented on #5245
Working on errors in the following directories:

- `guides/v2.2/migration`
- `guides/v2.3/migration`

[2019-10-01 19:26] jeff-matthews commented on #5245
Working on errors in the following directories:

- `guides/v2.2/release-notes/`
- `guides/v2.3/release-notes/`

[2019-10-01 19:57] jeff-matthews commented on #5245
Working on errors in the following directories:

- `guides/v2.2/rest/`
- `guides/v2.3/rest/`

[2019-10-01 22:32] jeff-matthews commented on #5245
I'm working on errors in the following directories:

- `guides/v2.2/test/`
- `guides/v2.3/test/`

[2019-10-01 22:45] jeff-matthews commented on #5245
I'm working on errors in the following directories:

- `guides/v2.2/ui_comp_guide/`
- `guides/v2.3/ui_comp_guide/`
- `guides/v2.2/javascript-dev-guide/`
- `guides/v2.3/javascript-dev-guide/`

[2019-10-01 22:57] jeff-matthews commented on #5245
I'm working on errors in the following directories:

- `guides/v2.2/graphql/`
- `guides/v2.3/graphql/`

[2019-10-01 23:03] jeff-matthews commented on #5245
I'm working on all files in the `_include/` directory except cloud.

[2019-10-01 23:12] jeff-matthews commented on #5245
I'm working on the remaining errors to complete this issue, which are all located in the following directories:

- `_include/cloud/`
- `guides/v2.2/cloud/`
- `guides/v2.3/cloud/`

[2019-10-02 08:21] atwixfirster commented on #5245
Working on `guides/pattern-library/` (v2.2, v2.3)

[2019-10-02 08:43] atwixfirster commented on #5245
Working on `guides/payments-integrations/` (v2.2, v2.3) -

[2019-10-02 08:55] atwixfirster commented on #5245
Working on `guides/performance-best-practices/` (v2.2, v2.3)

[2019-10-02 09:05] atwixfirster commented on #5245
Working on `_layouts` files.

[2019-10-02 15:18] jeff-matthews commented on #5245
A majority of MD010 errors have been resolved in the `db_hardtab_integration` branch. The remaining errors are related to cloud files.

I'm reviewing #5471 to see if we can merge it and resolve the remaining issues.

Please do not submit any more PRs until further notice.

[2019-10-02 18:41] jeff-matthews commented on #5240
Thank you for scrubbing the cloud topics @hguthrie.

We likely need a similar solution for instances of **Related topics** and **Next steps**.

I'm also concerned about headings that are too long. For example: https://github.com/magento/devdocs/pull/5310/files#diff-107c3817ff51b41f675673f8ac907514R24. That won't look good in the **On this page** table of contents. I suspect the original author use

[2019-10-02 18:56] hguthrie commented on #5240
@jeff-matthews In Cloud guide, I reduced the Next steps and Previous steps to be BOLD and have no header value. There were not part of a tutorial, and we may eliminate them soon anyway. But I preferred a closer review of the other guides before using the same solution.

[2019-10-02 21:14] dobooth commented on #5359
Hi @sakiland Thanks for the feedback. We no develop for the MTF. As we note in https://devdocs.magento.com/guides/v2.2/mtf/mtf_introduction.html, we are focused on the [MFTF](https://devdocs.magento.com/mftf/docs/introduction.html) for the future of testing and we recommend that new tests be made through it.
The MTF documentation is being kept up until the porting to MFTF is complete. We don't exp

[2019-10-02 21:14] #5359 closed

[2019-10-03 10:12] atwixfirster commented on #5253
@jeff-matthews , does someone from DevDocs team work on this issue?

Thank you!

[2019-10-03 12:08] jeff-matthews commented on #5253
@atwixfirster, thanks for asking. This issue is not ready for development. In fact, none of the markdown linting issues that are ready for development. See https://github.com/magento/devdocs/wiki/Markdown-linting-issues for more information.

[2019-10-03 13:26] jeff-matthews commented on #5240
I created a new class called `pseudo-header` for the **Related topics** and **Next step** sections:

<img width="801" alt="Screen Shot 2019-10-03 at 8 22 30 AM" src="https://user-images.githubusercontent.com/13662379/66130492-6652f780-e5b7-11e9-86d0-9a05656cb2a6.png">

@keharper, do you think you could use these for other scenarios in API docs for examples and what not?

[2019-10-03 14:51] OTt8 commented on #1561
We had big problems with 10.3. Only 10.2 is fully supported so we downgraded to previous version.

[2019-10-03 16:39] jeff-matthews commented on #5240
I got some feedback on this.

Class should use H4 font size with default text color (black). Change the class name to `ref-header`. We can create another class later to address scenarios where we use plain bolded text as a header (API docs).

[2019-10-03 18:25] keharper commented on #5149
Closing based on Alex's statement.

[2019-10-03 18:25] #5149 closed

[2019-10-03 18:26] shrielenee commented on #5463
@bdenham @jcalcaben --- @drpayyne Wants to start on this! How does his proposed structure look? Please provide a bit of guidance so he can run with it.

[2019-10-03 18:39] shrielenee commented on #5488
Possible steps for resolving this:
1. Confirm correct version to publicize.
2. Possibly add a warning label?
3. Clarify field options in the UI.

[2019-10-03 18:43] keharper commented on #5502
@heider-hulft Does this section provide the info you're looking for?

https://devdocs.magento.com/guides/v2.2/extension-dev-guide/indexing.html#m2devgde-indexing-outofbox

[2019-10-03 18:48] dgoryunov opened #5560 "Feedback on page: /guides/v2.3/install-gde/prereq/php-centos-ubuntu.html"
# General issue

## Description:

Documentation lists compatible PHP versions without exlicitly mentioning that 7.3.X versions are not compatible.
It can be inferred that installing later version of PHP would not be a problem. Later version can be easily installed by default since, for example, 7.3 is the current version included in Debian

## Possible solutions:

Mention explicitly that 7.3.X is

[2019-10-03 19:47] SYDevsys commented on #5005
Thank you guys, looking forward to the update.

[2019-10-03 19:48] HeiderSati commented on #5005
Thank you guys

Looking forward to the update.

Thanks

[2019-10-03 23:12] #5245 closed

[2019-10-04 00:02] jeff-matthews commented on #5246
@dshevtsov, now that you've refactored the way we generate MRG topics, we can tunr on rule MD018. See https://github.com/magento/devdocs/pull/5563.

[2019-10-04 02:34] drpayyne commented on #5179
@jeff-matthews @shrielenee @keharper Please assign this to me, so I can start working on this. Thanks!

[2019-10-04 03:01] keharper commented on #5179
@drpayyne It's yours.

[2019-10-04 13:04] #5472 closed

[2019-10-04 14:47] brunoroeder commented on #5468
@keharper and @webmaster-sfs You should configure the cron_consumers_runner before: https://devdocs.magento.com/guides/v2.3/config-guide/mq/manage-message-queues.html

[2019-10-04 14:52] #5246 closed

[2019-10-04 15:48] #5240 closed

[2019-10-04 16:02] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.2/ui_comp_guide/`
- `guides/v2.3/ui_comp_guide/`

[2019-10-04 16:11] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.2/config-guide/`
- `guides/v2.3/config-guide/`

[2019-10-04 17:18] #5499 closed

[2019-10-04 20:33] jeff-matthews commented on #5241
I'm working in the following directories:

- `guides/v2.2/release-notes/`
- `guides/v2.3/release-notes/`

[2019-10-04 20:47] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.2/frontend-dev-guide/`
- `guides/v2.3/frontend-dev-guide/`

[2019-10-04 21:38] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.2/migration/`
- `guides/v2.3/migration/`

[2019-10-07 07:03] ericclaeren commented on #5218
@dobooth Was the information I provided useful?

[2019-10-07 14:12] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.2/design-styleguide/`
- `guides/v2.3/design-styleguide/`

[2019-10-07 14:58] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.3/graphql/`
- `guides/v2.3/inventory/`
- `guides/v2.2/mtf/`
- `guides/v2.3/mtf/`

[2019-10-07 15:56] jeff-matthews commented on #5241
I'm working on the following directories:

- `guides/v2.2/cloud/`
- `guides/v2.3/cloud/`
- `community/`

[2019-10-08 07:09] sparrowek opened #5611 "Need clarifications for creating an integration"
# General issue

## Description:
Missing example for "testIntegration must refer to your etc/integrations/config.xml file, and the integration name value must be the same."
There is no example of how this file should look like.
The path should also be etc/integration/config.xml ie. without the "s"
Probably this refers to the file mentioned below "Your module can optionally provide a configuration

[2019-10-08 07:20] sparrowek commented on #5611
It seems that <email> is also required although when defining integration through admin it is not.

[2019-10-08 15:20] #5241 closed

[2019-10-08 15:58] jeff-matthews commented on #5242
I'm working on the following directories:

- `guides/v2.3/javascript-dev-guide/`
- `guides/v2.3/marketplace/`
- `guides/v2.3/mtf/`
- `guides/v2.3/payments-integrations/`
- `guides/v2.3/release-notes/`
- `guides/v2.3/rest/tutorials/`
- `guides/v2.3/ui_comp_guide/`

[2019-10-08 17:54] jeff-matthews commented on #5242
I'm working on the following directories:

- `guides/v2.3/coding-standards/`
- `guides/v2.3/config-guide/`
- `guides/v2.3/frontend-dev-guide/`
- `guides/v2.3/graphql/`
- `guides/v2.3/howdoi/`
- `guides/v2.3/install-gde/`

[2019-10-08 21:31] dobooth commented on #5560
Thanks for the feedback. Not sure how you did it since we remove that page some time ago...
PHP support is discussed here: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html
Let me know if you find a version inconsistency somewhere in the docs.
Support for PHP 7.3 was added today!

[2019-10-08 21:31] #5560 closed

[2019-10-09 08:36] milindsingh opened #5629 "Behaviour for Declarative Schema for Disabled Modules"
# General issue

## Description:
Feedback on page: https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/db-schema.html

Disable a module

Does this mean the `tables` of **disabled** modules will be **dropped** from the database on `setup:upgrade` command?

The statement is confusing the actual behaviour, which is currently **the tables are dropped**.

## Possible solution

[2019-10-09 10:19] p-bystritsky opened #5632 "Incorrect link to JSCS site."
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/coding-standards/code-standard-javascript.html#eslint-and-jscs-tools

## Description

Link to JSCS site is incorrect. Looks like this project no longer has a separate site.
https://github.com/jscs-dev/node-jscs/blob/master/README.md

## Possible solutions

## Additional information

[2019-10-09 14:50] #5242 closed

[2019-10-09 20:05] #5243 closed

[2019-10-09 23:49] jeff-matthews commented on #5244
I'm working on the following directories:

- `_includes/`
- `_videos/`
- `community/`
- `extensions/`
- `guides/v2.2/architecture/`
- `guides/v2.2/cloud/`
- `guides/v2.2/coding-standards/`
- `guides/v2.2/comp-mgr/`

[2019-10-10 00:57] jeff-matthews commented on #5244
I'm working on the following directories:

- `guides/v2.2/config-guide/`
- `guides/v2.2/design-styleguide/`
- `guides/v2.2/ext-best-practices/`
- `guides/v2.2/frontend-dev-guide/`
- `guides/v2.2/get-started/`
- `guides/v2.2/install-gde/`

[2019-10-10 01:34] jeff-matthews commented on #5244
I'm working on the following directories:

- `guides/v2.2/javascript-dev-guide/`
- `guides/v2.2/migration/`
- `guides/v2.2/mrg/`
- `guides/v2.2/mtf/`
- `guides/v2.2/release-notes/`
- `guides/v2.2/test/`
- `guides/v2.2/ui_comp_guide/`
- `guides/v2.3/architecture/`

[2019-10-10 11:41] benmarks opened #5647 "Feedback on page: /guides/v2.3/architecture/archi_perspectives/service_layer.html"
# General issue

## Description:

Looks like the content in the "Related topics" section has some formatting issues.

## Additional information:

![image](https://user-images.githubusercontent.com/2141138/66565805-a8ee7400-eb63-11e9-8194-c0abd63c6c07.png)

[2019-10-10 16:37] brunoroeder commented on #5632
I'm working on it.

[2019-10-10 18:47] #5647 closed

[2019-10-11 15:45] #5490 closed

[2019-10-11 16:04] jeff-matthews commented on #5244
@dshevtsov, almost all errors have been fixed.

I'm still getting errors on the following files and I'm not sure why:

[code]

I think it has something to do with nested lists. Here's an example of an error.

[code]

I've checked for errors in other lists in file, but there are none. It's isolated to these deeply nested lists. This is blocking this rule.

[2019-10-11 16:59] dshevtsov commented on #5244
Try this please:
[code]

[2019-10-11 17:03] jeff-matthews commented on #5244
Still shows as an error:

[code]

I'm going to see if we have other examples of nesting this deeply. If not, we may need to add a convention to our style guide that prohibits nesting past 2 levels in lists.

[2019-10-11 17:07] dshevtsov commented on #5244
It worked for me on those files.

[2019-10-11 17:20] jeff-matthews commented on #5244
Indenting 2 spaces works (tests pass and renders HTML correctly.

[code]
[code]

[2019-10-11 19:20] #5629 closed

[2019-10-11 19:41] #5244 closed

[2019-10-11 19:47] jeff-matthews commented on #5248
I'm working on the following directories:

- `guides/v2.2/rest/`
- `guides/v2.2/test/`
- `guides/v2.2/ui_comp_guide/`

[2019-10-11 20:48] jeff-matthews commented on #5248
I'm working on the following directories:

- `release-notes/`
- `performance-best-practices/`

[2019-10-11 21:54] jeff-matthews commented on #5248
I'm working on the following directories:

- `pattern-library/`
- `payments-integrations/`

[2019-10-11 22:06] jeff-matthews commented on #5248
I'm working on the following directories:

- `marketplace/`
- `migration/`
- `mtf/`

[2019-10-11 22:30] jeff-matthews commented on #5248
I'm working on the following directories:

- `inventory/`
- `javascript-dev-guide`

[2019-10-14 12:43] jeff-matthews commented on #5248
I'm working on the following directories:

- `howdoi/`

[2019-10-14 12:56] jeff-matthews commented on #5248
I'm working on the following directories:

- `graphql/`
- `get-started/`

[2019-10-14 13:11] jeff-matthews commented on #5248
I'm working on the following directories:

- `frontend-dev-guide/`

[2019-10-14 13:35] jeff-matthews commented on #5248
I'm working on the following directories:

- `ext-best-practices/`
-`extension-dev-guide/`

[2019-10-14 14:28] jeff-matthews commented on #5248
I'm working on the following directories:

- `config-guide/`

[2019-10-14 16:35] #5179 closed

[2019-10-14 18:51] ilima-ebay opened #5683 "Feedback on page: /guides/v2.3/cloud/cdn/configure-fastly.html"
# General issue
Wrong maximum limit for Admin path timeout

## Description:

The section **[Extend Fastly timeout for the Magento Admin > Point #2](https://devdocs.magento.com/guides/v2.3/cloud/cdn/configure-fastly.html#bulkaction)** states that  Admin path timeout has a limit of 3600 seconds, but it is actually 600 seconds.

You can also find that the max limit is 600 when looking at this setting

[2019-10-14 19:36] jeff-matthews commented on #5248
I'm working on the following directories:

- `design-styleguide/`
- `contributor-guide/`
- `comp-mgr/`
- `coding-standards/`

[2019-10-14 19:58] jeff-matthews commented on #5248
I'm working on the following directories:

- `advanced-reporting/`
- `architecture/`
- `_vidoes/`

[2019-10-14 20:12] jeff-matthews commented on #5248
I'm working on all `_include/` files except cloud.

[2019-10-14 20:26] jeff-matthews commented on #5248
All remaining MD029 errors are in cloud files. I'm working on that next.

[2019-10-15 17:42] #5248 closed

[2019-10-15 19:23] brpine opened #5702 "Feedback on page: /guides/v2.3/install-gde/prereq/connect-auth.html"
# General issue

## Description:

It states the following "You cannot delete or disable keys you created by signing in to your magento.com account."

## Possible solutions:

 You can delete keys as well as disable keys now.

## Additional information:

[2019-10-15 23:07] jeff-matthews commented on #5702
Thanks for reporting @brpine.

I think that at one point, you could not actually delete keys; only disable them. I logged in to my account and confirmed that you can now delete keys in addition to disabling them.

The docs should be updated accordingly.

[2019-10-16 03:24] hellotaran commented on #5702
@jeff-matthews Doc looks correct. However, it has that additional information to download access token. Which should not be there. Let me know if that works and I can go ahead and remove the same.

[2019-10-16 08:00] atwixfirster commented on #5249
Working on files in `_includes` directory.

[2019-10-16 12:43] aepod opened #5715 "Devdocs Build throws warnings on new build"
# Bug report

## Description

During a build of the devdocs warnings are thrown as follows:

### Steps to reproduce
1. checkout source clean
2. run a devdocs build
`bundle exec jekyll serve --incremental`

Note this is on a freshly checked out and not modified version of the devdocs.

## Expected result
There should be no warnings.

## Additional information
This is just a warning, and oddly the s

[2019-10-16 13:18] jeff-matthews commented on #5715
Thanks for reporting @aepod.

You've discovered a syntax error in the note class.

Line 132 in https://github.com/magento/devdocs/blob/master/guides/v2.2/cloud/env/variables-deploy.md should be `{:.bs-callout-warning}`; NOT `{{ .bs-callout-warning }}`.

[2019-10-16 13:40] jeff-matthews commented on #5702
@hellotaran,

Actually, the steps are technically correct.

The sentence:

_Seems_ to contradict the first sentence in that [section](https://devdocs.magento.com/guides/v2.3/install-gde/prereq/connect-auth.html#manage-your-authentication-keys), which says:

I think the problem here is that this section sort of conflates "access keys" and "downloads token". I don't know precisely what the purpose o

[2019-10-16 15:34] #5715 closed

[2019-10-16 18:46] jeff-matthews commented on #5249
Welcome to the party @drpayyne!

[2019-10-16 19:29] eduard13 commented on #5249
Hi @jeff-matthews, I'd also love to join the party 👯‍♂. Could you please assign me to the ticket?
I'l be working on `extensions/` folder if you don't mind.

[2019-10-16 19:57] atwixfirster commented on #5249
Working on files in `guides/v2.2/b2b` and `guides/v2.3/b2b` directories:

[2019-10-16 20:08] #5702 closed

[2019-10-16 20:16] jeff-matthews commented on #5249
Welcome aboard @eduard13 !

[2019-10-16 20:18] atwixfirster commented on #5249
Working on files in the next directories:
- `guides/v2.2/cloud`
- `guides/v2.3/cloud`

[2019-10-16 21:35] atwixfirster commented on #5249
Working on files in the next directories:
- `guides/v2.2/coding-standards`
- `guides/v2.3/coding-standards`

[2019-10-16 21:53] atwixfirster commented on #5249
Working on files in the next directories:
- `guides/v2.2/comp-mgr`
- `guides/v2.3/comp-mgr`

PR:

[2019-10-16 22:08] eduard13 commented on #5249
Working on the following directories:
- `guides/v2.2/javascript-dev-guide`
- `guides/v2.3/javascript-dev-guide`

[2019-10-16 22:13] atwixfirster commented on #5249
Working on files in the next directories:
- `guides/v2.2/config-guide`
- `guides/v2.3/config-guide`

PR:

[2019-10-16 23:29] atwixfirster commented on #5249
Working on files in the next directories:
- `guides/v2.2/contributor-guide`
- `guides/v2.3/contributor-guide`
- `guides/v2.2/design-styleguide`
- `guides/v2.3/design-styleguide`

PR:

[2019-10-16 23:50] atwixfirster commented on #5249
Working on files in the next directories:
- `guides/v2.2/ext-best-practices`
- `guides/v2.3/extension-dev-guide`
- `guides/v2.2/ext-best-practices`
- `guides/v2.3/extension-dev-guide`

PR:

[2019-10-17 01:34] drpayyne commented on #5249
WIP in directory/file:
- `guides/v2.3/ui_comp_guide`

PRs created:
- #5743

[2019-10-17 02:33] #5683 closed

[2019-10-17 04:57] drpayyne commented on #5249
@jeff-matthews Have refactored all code, in the above PRs **_except_** the following directories which have been chosen by developers already to avoid conflicts
- `guides/v2.2/javascript-dev-guide`
- `guides/v2.3/javascript-dev-guide`
- `guides/v2.2/extension-dev-guide`
- `guides/v2.3/extension-dev-guide`
- `_includes`

**I believe there are no remaining issues to take up, regarding MD030.**
Thank

[2019-10-17 13:33] jeff-matthews commented on #5249
Thanks for all your help @drpayyne, @atwixfirster, and @eduard13! I'm going to run some checks on the integration branch and make any final changes necessary before creating a PR to master.

Please do not submit any new PRs.

[2019-10-17 13:55] atwixfirster commented on #5249
@jeff-matthews , for your notice: `extension-dev-guide` is not fixed. I am working on files from that folder but I did not create a PRs yet.

Thanks

[2019-10-17 13:58] jeff-matthews commented on #5249
Oh ok. Thanks @atwixfirster. In that case, submit your PRs when you're ready. I think I got ahead of myself and assumed all work was complete.

[2019-10-17 14:14] eduard13 commented on #5249
@jeff-matthews, the same here, planning to finish with `javascript-dev-guide` folder soon.
Thanks.

[2019-10-17 14:38] jeff-matthews commented on #5249
No problem @eduard13!

[2019-10-17 15:04] atwixfirster commented on #5249
@jeff-matthews , I've finished all my pending files. All PRs from my side were created.

Thank you and have fun in review ;)

[2019-10-17 15:31] filmaj opened #5778 "Add Adobe Stock Integration setup documentation"
# New topic request

## Description

In early 2020, the Adobe Stock Integration extension project (https://github.com/magento/adobe-stock-integration) will be released and become available for use. This integration will add a new sub-section to the standard Media Gallery, wherein admins can choose to 'Search Adobe Stock' when selecting an image from the media gallery.

It would be good to add a se

[2019-10-17 15:38] jeff-matthews commented on #5778
HI @filmaj! Thanks for opening an issue and providing a great detailed description of the need.

A new Functional Areas subsection sounds like a good idea.

@keharper (from the Magento Docs Team) will assist you with drafting a PR (or multiple PRs depending on how much content we need to add).

[2019-10-17 16:06] filmaj commented on #5778
Thanks for your quick response @jeff-matthews!

One area of confusion for me is where the system configuration information for the extension should go. @leslietilling suggested in her merchdocs plan/overview for the Adobe Stock Integration project (https://github.com/magento/merchdocs/issues/77) to add a new section to the advanced system configuration screen (I've filed this here: https://github.

[2019-10-17 16:41] jeff-matthews commented on #5778
You're asking great questions!

This could get long, so please bear with me.

## Context

Your questions are actually forcing us to confront some inconsistencies on the devdocs site.

For example, the following existing devdocs topics contain both install _and_ config steps for extensions:

- https://devdocs.magento.com/extensions/amazon-sales/
- https://devdocs.magento.com/extensions/b2b/
- https

[2019-10-17 18:37] keharper commented on #5502
Closing this PR due to the lack of response.

[2019-10-17 18:37] #5502 closed

[2019-10-17 18:40] keharper commented on #5611
It would also be helpful to update the code samples. For example, the `composer.json` file lists versions of PHP that are no longer supported.

[2019-10-17 18:41] jcalcaben commented on #5463
I think the best solution for this issue is to create the page "RequireJS in Magento Page" you suggested. Since RequireJS documentation already exists, we want to avoid duplicating these docs and just link to them in the appropriate places on the "RequireJS in Magento Page" topic.

[2019-10-17 18:44] jcalcaben commented on #3885
@belbiy are there any updates on this issue?

[2019-10-17 18:53] drpayyne commented on #5463
I agree, @jcalcaben. But I thought _examples and usage_  of RequireJS **in** Magento would be needed in DevDocs since RequireJS isn't as popular and standard as jQuery for example, for which we definitely don't need docs in DevDocs.

Thank you.

[2019-10-17 18:54] drpayyne commented on #5463
I can start working on this for a preliminary PR, please assign me to avoid duplicate work. Thanks!

[2019-10-17 18:57] filmaj commented on #5778
That makes a lot of sense to me @jeff-matthews ! I've updated the original issue checklist to try to reflect your suggestions.

[2019-10-17 19:01] jcalcaben commented on #5463
@drpayyne If necessary, you can maybe create an additional topic "RequireJS examples and usage"

[2019-10-17 19:08] drpayyne commented on #5463
Will do, thanks

[2019-10-17 19:58] #5249 closed

[2019-10-17 20:06] jeff-matthews commented on #5250
Unfortunately, the error count rose to `6410` since #5415.

[2019-10-17 21:52] meker12 commented on #5250
@jeff-matthews and @dshevtsov  Is the problem with blank lines related to the   {:.no-copy} class?  Maybe I missed the workaround for that one?

[2019-10-18 20:42] HeiderSati commented on #5502
Hi Shrielenee

Apologies for taking time to get back to you, I was off on a holiday.

I looked at the page you sent, unfortunately, it does not resolve the problem. I believe my initial query was about the files on the original page I was referring to, mainly asking "which di.xml file was the page referring to?" the page you sent has nothing to do with this file.

I hope this makes sense.

Kind Re

[2019-10-19 04:03] #5611 closed

[2019-10-21 20:14] keharper commented on #5778
@filmaj @jeff-matthews ASI needs to have an info architecture pretty similar to Inventory Management. There's too much going on here to for everything to live tidily in the Magento Extensions Guide. @sivaschenko confirmed that ASI is built in an extensible way, and so we'll need to include more architecture/interface/service contract info than I originally expected.

ASI should have its own sectio

[2019-10-22 08:55] scholtz opened #5818 "Detect Malware with New Discovery Rules"
# Topic clarification/correction request

## Topic Link

https://magento.com/security/best-practices/detect-malware-new-discovery-rules

## Description

On **pure magento 2.3.3 installation** i have received this error:
Your site is compromised with injected JavaScript malware. (18)
Malicious code signature(s) have been found in these resources:
https://m2-demo-sk.aveo-trade.cz/static/version15706

[2019-10-22 13:03] jeff-matthews commented on #5778
Thanks for the additional insight @keharper. Agreed.

[2019-10-22 14:35] keharper opened #5822 "Update link in Vault topic"
# Bug report

## Description

Our automated link checker found the following error

[code]
The same error repeats for v2.3.

The bad link is in the "Modifying the payment component" section of this topic.

The `hosted-fields.js` file was deleted as a result of internal PR magento2ce/pull/4266, which added support for Braintree SDK 3.0.

At minimum, we need to remove or update the link. We probably

[2019-10-22 14:41] filmaj commented on #5778
Just adding some initial pointers based on @keharper's suggested outline and mapping to some of the project's wiki content:

1. Re: overview/installation, other than the [Installation Guide](https://github.com/magento/adobe-stock-integration/wiki/Installation-Guide), I'm not sure any of the other wiki articles could be gracefully lifted and dropped in as 'conceptual' guides. Perhaps the [Implement

[2019-10-22 22:51] keharper commented on #5778
To answer the easiest question first.  We won't need to publish the DB schema info.

1. I realized that I made the mistake of reading what's been written, and not what needs to be written. The current installation docs describe how contributors can install ASI. This info should not be migrated. The installation docs should state how Open Source/Commerce customers install the module. My guess is th

[2019-10-23 10:33] atwixfirster commented on #4903
Pull request: https://github.com/magento/devdocs/pull/5826

[2019-10-23 14:43] filmaj commented on #5778
Thanks @keharper! I'll mull your guidance over and chat this through with @sivaschenko before taking a stab at a draft for the overview.

[2019-10-24 10:31] KilalaPhu opened #5834 "Feedback on page: /guides/v2.3/migration/migration-tool-install.html"
i use magento migration tool to migrate data base magento 1.9.1 to magento 2.1.18
it run ok and have data but i can not checkout. it error
https://imgur.com/fe8KMfP

i try change new database  with sameple data and still use this code. it can checkout. but use database had migrate it error.
https://imgur.com/ekMkES7
country it underfind

# General issue

## Description:

## Possible solutions:

##

[2019-10-24 15:38] #5822 closed

[2019-10-24 15:41] korostii commented on #5834
Hi @KilalaPhu
This repository is for documentation issues only, and you seem to be having issue with quite a specific technical issue not related to documentation, at all.

FYI The data migration tool has a separate standalone repository and the team typically responds in a timely manner, feel free contact them here: https://github.com/magento/data-migration-tool/issues (but, naturally, that only

[2019-10-24 16:50] #4903 closed

[2019-10-24 18:47] hguthrie commented on #5834
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2019-10-24 18:47] #5834 closed

[2019-10-24 18:52] hguthrie commented on #5818
@scholtz  DevDocs does not maintain the topic you are referencing; however, we will look into the scenario to determine if there is a need to update DevDocs.

[2019-10-24 20:56] zellkz commented on #5001
Is this actually in progress? These inaccurate/outdated docs caused me some headache.

[2019-10-24 21:11] keharper commented on #5001
@eduard13 Any update on the status of this issue?

[2019-10-25 06:55] scholtz commented on #5818
@hguthrie Is there any other better place to submit this type of error?

[2019-10-28 09:44] magedevel opened #5859 "Feedback on page: /guides/v2.3/howdoi/checkout/checkout_order.html"
# General issue
The example do not show how to show the validation message
## Description:
The example do not show hot to show the validation message if the validation fails.

## Possible solutions:
I suggest to add a code snippet that show how to show the validation message on top of checkout page. As an example:
[code]

[2019-10-28 15:13] jeff-matthews commented on #5818
We can notify the maintainers of the [Magento Security Center](https://magento.com/security) blog.

Cc: @piotrekkaminski.

We have plans to add a Security section to devdocs by the end of this year to accommodate CCPA data privacy legislation. Perhaps we could consider adding some of the requested info at that time.

[2019-10-28 17:40] jfrontain commented on #5818
hi @scholtz, I've followed up with our new Security PM, and here are her suggestions:
* Please sign up for the Magento Security Scan tool at https://magento.com/security. If you still see that error, you can then open a support ticket on that tool. That'll be the most efficient way to bring attention to your issue.  (When you open the ticket, please include your store URL in the issue description.

[2019-10-28 17:40] #5818 closed

[2019-10-28 18:24] drpayyne opened #5862 "Translation hierarchy mismatch?"
# Topic clarification / correction request

## Topic Link

[Translation hierarchy](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/translations/theme_dictionary.html#how-magento-applies-locales)

## Description

The DevDocs says the translation hierarchy is as follows: Module < **Theme** < **Package** < Database. Whereas the [core code](https://github.com/magento/magento2/blob/68d21376f

[2019-10-30 18:56] keharper commented on #5001
I'll unassign it, @eduard13.

[2019-10-30 22:08] fabriciosobral opened #5887 "Need chance link reference on page: /guides/v2.2/ui_comp_guide/concepts/ui_comp_linking_concept.html"
# Bug report

## Description
When we are reading the "listens property" Observe the following excerpt:
"For an example of listens usage in Magento code see line 92." The link is incorrect because the line has changed, now the line is 84

### Steps to reproduce
**Step 1**
Access the link:
[https://devdocs.magento.com/guides/v2.2/ui_comp_guide/concepts/ui_comp_linking_concept.html#listens-property](

[2019-10-30 22:09] fabriciosobral commented on #5887
I'm working on this

[2019-10-30 22:11] alvsgabriel commented on #5859
I'm working on it

[2019-10-31 10:47] lenlorijn commented on #1384
Sorry for reopening the issue here, but I can't find any other public place to reopen it.
It seems like the issue in  MAGETWO-71829 is fixed in 2.3 as it now returns 'is_subscribed' in the API. However, it does not return `is_subscribed` for `rest/V1/customers/search?searchCriteria` only for `rest/V1/customers/id`.
Is this a separate bug/issue?

[2019-10-31 15:42] keharper commented on #1384
Hi @lenlorijn. It looks like the original issue was resolved in 2.2.4. The internal ticket I opened addressed `GET /V1/customers/:customerId` only, and so it seems that `GET V1/customers/search?searchCriteria` would be a separate bug.

Please report the bug at https://github.com/magento/magento2/issues

[2019-10-31 15:49] #5859 closed

[2019-10-31 18:28] shrielenee commented on #5632
Yo @brunoroeder --- We closed the applicable PR for this because it exceeded our two week timeframe for response.

If you, or someone else, wants to work this feel free to open a new PR or reopen the closed one.

🙅

[2019-10-31 18:34] #3717 closed

[2019-10-31 18:34] keharper commented on #3717
Fixed this already

[2019-10-31 18:37] shrielenee commented on #3885
@hguthrie is researching whether this is an internal issue and will update or close this as she sees fit! 🙇‍♀

[2019-10-31 19:44] #5862 closed

[2019-10-31 20:33] hguthrie commented on #3885
Just to be clear, according to the original request, there is a perception that this guide is "beneath" or a part of an overarching development entity. The example provided is a topic in the UI Components guide. We use the Development drop-down navigation to categorize these guides as part of a Magento development stage of need. Structurally, they are not connected outside of the navigation. The p

[2019-10-31 20:41] #5463 closed

[2019-11-02 00:00] lfolco opened #5916 "Add use cases and examples to Searching with repositories topic"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/searching-with-repositories.html

Can you add more information on JoinProcessors? There is very little to go on about how to use them, when they should be used, etc. The examples are pretty light, and there is no explanation on what is going on in the examples.

[2019-11-04 09:14] oneserv-heuser opened #5919 "GraphQL product query missing filter attribute "url_key""
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/graphql/queries/products.html#ProductFilterInput

## Description

On the GraphQL products query page in the section "filter attribute" there is a list with all attributes which can be used to create filters. This list is incomplete as there are attributes missing, for example "url_key".
I don't know if

[2019-11-04 22:31] multipasko opened #5924 "Add clarification to required files in About component file structure page"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/prepare/prepare_file-str.html

you say:

"All components require these three files:"
- etc/module.xml

This is not true. Only modules have this etc/module.xml file. Themes or language packages do not have this. I also believe that composer.json is not required but recommended to use.

## Possible solution

[2019-11-05 09:51] kakashihuli opened #5925 "Feedback on page: /guides/v2.3/graphql/mutations/create-braintree-client-token.html"
# General issue

## Description:
I get error when I call "createBraintreeClientToken".

{
  "errors": [
    {
      "message": "Cannot query field \"createBraintreeClientToken\" on type \"Mutation\".",
      "category": "graphql",
      "locations": [
        {
          "line": 29,
          "column": 3
        }
      ]
    }
  ]
}

[2019-11-05 15:23] hguthrie opened #5926 "Install Guide: PHP settings topic has formatting issues"
The [Required PHP settings](https://devdocs.magento.com/guides/v2.2/install-gde/prereq/php-settings.html) topic of the Install guide has some formatting issues in the **Supported PHP versions** list. It looks like both versions of the topic use an include file: `install/php-versions-template.md`

Review this formatting problem and make corrections so that the list displays appropriately.

It is po

[2019-11-05 15:36] keharper commented on #5925
@kakashihuli I can't replicate this error. Are you using Magento 2.3.3 or the `2.3-develop` branch from the graphql-ce repo?

[2019-11-05 16:00] GreenGinkgo opened #5927 "Update env.php ref page with config options + descriptions"
# General issue

The env.php reference page is lacking most configuration options or detailed descriptions

## Description:

The current reference page includes 11 top-level configuration sections, but little-to-no detailed information that is easily accessible. Additionally, there are dozens of env.php sub-sections which are not mentioned at all in this page, and indeed may not be detailed anywhe

[2019-11-05 16:46] keharper commented on #5919
Good catch @oneserv-heuser. Most filters are defined here

https://github.com/magento/magento2/blob/d5104d52fc5e07f88be373ae2bc6a61d4d98c939/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L308

However, a few filter attributes are defined in other modules, and `url_key` is one of them.

[2019-11-05 17:03] #5919 closed

[2019-11-06 03:17] kakashihuli commented on #5925
@keharper I'm using Magento 2.3.2, it must be 2.3.3?

[2019-11-06 03:25] keharper commented on #5925
@kakashihuli  Yes. GraphQL support for PayPal/Braintree/Authorize.Net payment was added in 2.3.3, as you can see in the [GraphQL release notes](https://devdocs.magento.com/guides/v2.3/graphql/release-notes.html).

I'm closing this issue, because this isn't a documentation problem. Tag me if you have any more questions

[2019-11-06 03:25] #5925 closed

[2019-11-06 03:37] kakashihuli commented on #5925
@keharper Okay, thanks for your help.

[2019-11-06 21:59] jeff-matthews opened #5951 "Add options for secure DB connection during installation"
## Description:

PR https://github.com/magento/magento2/pull/25398 introduced the following new `bin/magento setup:install` options in Magento 2.3.4:

- `--db-ssl-key=<MYSQL_CLIENT_KEY>`
- `--db-ssl-cert=<MYSQL_CLIENT_CERT>`
- `--db-ssl-ca=<MYSQL_SERVER_CERT>`

These options have not been documented in devdocs.

## Possible solutions:

Add the options and descriptions to the **Site, database, and

[2019-11-07 03:38] keharper commented on #5951
Additional notes.

The  link to the "Install the Magento software" topic goes to the 2.2 version, but as far as I can tell, the new flags were added for 2.3 only. The contributor who works on this will need  to

1. Break the symlink from the 2.3 version to the 2.2 version.
2. Copy the 2.2 version to the 2.3 directory.
3. Edit the copied 2.3 version.