[2022-03-18 12:58] hguthrie commented on #9386
You are welcome, and I agree. We will revisit these concepts and improve the Cloud guide. Thank you for raising the questions.

[2022-03-18 16:34] #9361 closed

[2022-03-21 16:07] adamlavery opened #9388 "Explain URN Highlighter use in Visual Studio Code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-urn.html

### What's wrong with the content?

Briefly mentions Visual Studio Code and then nothing else.

### What changes do you propose?

 Explain how to enable this for VS Code, along with the missing --ide command

[2022-03-22 19:20] #9134 closed

[2022-03-23 12:46] tales-desde-mileto opened #9390 "system-requirements : error in composer version in Magento >= 2.4.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

Composer versions in system-requirements.html

### What's wrong with the content?

Incorrect composer version in version >= 2.4.2
https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html
Table: src/_includes/install/system-requirements-table.md

2.4.5 | 2.4.4 | 2.4.3-p2 | 2.4.

[2022-03-23 13:57] jeff-matthews commented on #9390
Hi @tales-desde-mileto,

According to our engineering team, Adobe has not officially tested Composer 2 on versions earlier than 2.4.4. So although Composer 2 may be "compatible" with those versions, it does not necessarily mean that Adobe "supports" it. We try to make that clear in the introductory paragraph before the table:

[2022-03-24 00:49] tales-desde-mileto commented on #9390
Hi @jeff-matthews
Thanks for your answer.

But, then, the release notes of 2.4.2 are not correct:
https://devdocs.magento.com/guides/v2.4/release-notes/commerce-2-4-2.html
"Magento 2.4.2 is now compatible with Composer 2.x. We recommend that merchants migrate to Composer 2.x. Although you can install this release using Composer 1.x, Composer 1.x will soon reach end-of-life."

Based on this documen

[2022-03-24 01:01] jeff-matthews commented on #9390
Technically, the release notes are correct.  2.4.2 is compatible with Composer 2, but that's not the same thing as supported. The system requirements page lists supported software only.

[2022-03-24 22:31] hguthrie commented on #9387
Hi @adamlavery To answer your question about the `links` property, it can be found in the [Linking properties concept](https://devdocs.magento.com/guides/v2.4/ui_comp_guide/concepts/ui_comp_linking_concept.html#links-property). The rest of your question may be answered by taking a closer look at the [DynamicRows configuration options](https://devdocs.magento.com/guides/v2.4/ui_comp_guide/component

[2022-03-25 10:42] adamlavery commented on #9387
Hi @hguthrie, I've taken another closer look the DynamicRows doc and nope, still can't see anything about the map property. Before posting I tried searching all Magento code for other instances that might explain it - nothing. Try searching the web - nothing.

I get that UI components are a difficult concept to explain clearly - it's an amorphous mass of endless config permutations that can be (an

[2022-03-28 12:30] #9376 closed

[2022-04-01 09:15] adamlavery opened #9393 "More explanation needed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-form.html

### What's wrong with the content?

The following are crucial to understanding UI components and need much more/better explanation, including examples of how what we enter here relates to what has been configured elsew

[2022-04-01 10:49] adamlavery opened #9394 "Better explanation of datasource vs dataprovider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/ui_comp_guide/concepts/ui_comp_data_source.html

### What's wrong with the content?

_Remember that this data provider is still, technically speaking, a completely separate UI Component. To fully link it to the “base” component, there are a few things that

[2022-04-01 11:50] stefan-sedlak opened #9395 "Outdated terms of service link"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/marketplace/sellers/account-setup-process.html

### What's wrong with the content?

Link [terms of service](https://magento.com/legal/terms/marketplace-xcelerate) is outdated and redirects to [Legacy Magento Terms](https://www.adobe.com/legal/terms/enterprise-licensing

[2022-04-01 15:13] chavesfop opened #9396 "Incorrect or unclear ElasticSearch version for magento 2.4.3-p1 on system requirements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

### What's wrong with the content?

The content says 2.4.3 needs elasticsearch 7.10, and when I try to build a cloud environment on magento cloud this warning appears on logs:

[code]

### What changes do you propose?

[2022-04-01 17:06] BaDos commented on #9396
@chavesfop do you use ece-tools 2002.1.10?

[2022-04-01 17:22] chavesfop commented on #9396
Yes, in my composer.lock it uses the version 2002.1.10
[code]

[2022-04-01 17:32] BaDos commented on #9396
@chavesfop This issue was fixed in 2002.1.10

[2022-04-01 17:32] #9396 closed

[2022-04-01 22:00] ak77-prime opened #9397 "Clarification of an example configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/env/variables-deploy.html#cron_consumers_runner

### What's wrong with the content?

I have a customer that actually used consumer1 and consumer2 in their configuration as if they are actual consumers

### What changes do you propose?

Add a note that consumer1 a

[2022-04-05 13:52] BarnyShergold commented on #9395
There are now two T & Cs to sign.

Please can these be confirmed and I'll update the page here and also any other places the outdated link appears
@stefan-sedlak @dobooth

[Xcelerate & Marketplace Master Terms](https://magento.com/legal/terms/marketplace-xcelerate-master)
https://magento.com/legal/terms/marketplace-xcelerate-master

[Xcelerate & Marketplace Development terms](https://magento.com/l

[2022-04-06 06:40] JustinThiede opened #9398 "Missing search condition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

Search using REST endpoints
Missing condition "nlike"

[2022-04-06 10:20] megham29 opened #9399 "Integration branch deletion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/integrations/gitlab-integration.html

### What's wrong with the content?

<html>
<body>
<p style="box-sizing: border-box; font-size: 18px; font-weight: 400; line-height: var(--spectrum-body-l-text-line-height, var(--spectrum-alias-body-text-line-height)); font-st

[2022-04-06 10:55] dobooth commented on #9399
@hguthrie @jhadobe

[2022-04-06 13:23] hguthrie commented on #9399
Sorry for the changes in assignee. I decided to take this one since I am familiar with these integrations.

[2022-04-06 15:22] keharper commented on #9398
This is a legit request.

Affected topic: https://devdocs.magento.com/guides/v2.4/rest/performing-searches.html

[2022-04-06 15:36] dobooth commented on #9398
running tests

[2022-04-06 18:14] #8682 closed

[2022-04-07 18:17] gamarshall commented on #8563
Is this still an issue?

[2022-04-07 18:24] dshevtsov commented on #8819
@keharper, are you still working on this?

[2022-04-07 18:26] gamarshall commented on #8906
@gq-guo please confirm if this is still an issue.

[2022-04-07 18:29] #8139 closed

[2022-04-07 20:14] damienwebdev commented on #8819
@dshevtsov @keharper this doc is also wrong. The original call should be cached and the other shouldn't be allowed. PWA studio is doing something incorrect to accommodate the poor performance of `customAttributeMetadata`

[2022-04-07 20:14] #8819 closed

[2022-04-07 20:14] damienwebdev commented on #8819
cc: @cpartica

[2022-04-08 01:54] neginparsa opened #9401 "mage2kata link does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Vinai kope http://mage2katas.com/ mage2 kata link in the end of the file is not working anymore

### Expected behavior

the link either should be changed to his videos or removed.

### Steps to reproduce

click on http://mage2katas.com/
[01 The Module Skeleton Kata](https://www.youtube.com/wa

[2022-04-08 14:51] dshevtsov commented on #9401
@neginparsa I removed the third-party links because they are not necessary for the issue
Instead, please add links to the devdocs pages that contain the issue.

[2022-04-08 15:25] asrar7787 opened #9403 "Incorrect Magento version reference in"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/inventory/architecture.html#dependencies-in-a-standard-installation

### What's wrong with the content?

`For non-headless installations, Magento Inventory Management has dependencies on the following Magento 2.3 modules:`

### What changes do you propose?

[2022-04-11 19:32] #9399 closed

[2022-04-12 10:00] Nurgiel opened #9404 "Extra resources yatil.net link 404 on magento devdocs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

In the guide Iconography in Admin Pattern Library
https://devdocs.magento.com/guides/v2.4/pattern-library/graphics/iconography/iconography.html
at the very bottom there's and Additional resources link that does not exist anymore (404 error - https://yatil.net/the-best-way-to-use-icon-fonts/).

[2022-04-12 12:32] datacubed opened #9405 "Passing store code to URL is returning data for all stores"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

Fetch sales data by store code

### What's wrong with the content?

The docs say you should do: client.com/rest/<store code>/V1/orders?<filters>

When we do this for 1 of our clients <store code> is ignored and we get all their different stores' datas. This can be seen in the "items" array where

[2022-04-12 13:49] BarnyShergold opened #9406 "Broken Links On Plugins Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/plugins.html

### What's wrong with the content?

The two links at the foot of the page that link to external site -
[The Plugin Integration Test Kata](http://vinaikopp.com/2016/03/07/04_the_plugin_integration_test_kata) by Magento contr

[2022-04-12 17:53] dobooth commented on #8899
Looks like this has been fixed already, using local vars. I just updated 2.4 to the latest version.

[2022-04-12 18:39] #9395 closed

[2022-04-12 18:39] #9403 closed

[2022-04-12 18:39] #9404 closed

[2022-04-12 18:39] #9406 closed

[2022-04-13 03:42] ak77-prime opened #9408 "Clarification on where/how to configure the variables on Adobe Commerce Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

Under https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-var-name.html#cloud-system-vars-ex - it doesn't say how/where to configure the variables on Adobe Commerce Cloud, e.g., do they add it to .magento.app.yaml, .magento.env.yaml, or via the Cloud UI, e.g., https://us

[2022-04-13 03:52] bvowell1975 opened #9409 "This release is not compatible with PHP 8.1.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-4.html

### What's wrong with the content?

output of "magento set:up"
PHP Fatal error:  During inheritance of Countable: Uncaught Exception: Deprecated Functionality: Return type of Composer\Repository\ArrayRepository::count()

[2022-04-13 04:23] boban-dj opened #9410 "Completely secure installation missing explanation details"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

Here:

 [https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-subcommands-store.html#instgde-cli-fully-secure](url)

The document says:  "More details about these parameters can be found later in this topic."
But that is missing. There should be this example:

`bin/magen

[2022-04-13 15:45] adamlavery opened #9411 "Read-only apparently not supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/pattern-library/getting-user-input/form_elements/form_elements.html#read-only-form-data

### What's wrong with the content?

Doc says there should be an option to set a field read-only (as opposed to disabled). But appears this never made it into the actual

[2022-04-13 15:59] adamlavery commented on #9411
Ok, so there is a way to do it: set elementTmpl to 'ui/form/element/text'. Somehow we're supposed to relate a text component to a read-only element. This doc should state that to create a read-only element, use the Text component, which happens to also be an input component! Cross reference this page to explain it: https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-text.html

[2022-04-14 12:36] hostep commented on #9409
@bvowell1975, try upgrading `composer/composer` to the latest version, credits to @BarnyShergold:

<img width="395" alt="Screen Shot 2022-04-14 at 14 35 22" src="https://user-images.githubusercontent.com/85479/163391681-3013ef21-e74e-42e8-b5ec-ae5454048e6a.png">

[2022-04-14 14:09] hguthrie commented on #9409
@bvowell1975 Does this solve your issue?

[2022-04-14 14:18] hguthrie commented on #9401
@neginparsa Is this the page you are talking about?
https://devdocs.magento.com/guides/v2.4/extension-dev-guide/validate/test-module.html

[2022-04-14 18:21] shherman opened #9413 "Make Backup RPO More Clear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/architecture/pro-architecture.html#backup-and-disaster-recovery

### What's wrong with the content?

Customers are unclear on what recovery points we store between Days 1 thru 3.
Per the table below it seems like we keep a backup every hour for the first 72 hours

[2022-04-14 19:09] hguthrie commented on #9413
@shherman This does seem to always be a point of confusion. Even though we make it fairly clear in the paragraph that introduces the table, we understand that the first line of the table can be confusing. Thanks for pointing this out and we will do our best to improve it.

On a separate note, please refrain from using direct names in our GitHub issues. If needed, we will reach out to the subject m

[2022-04-14 21:05] bvowell1975 commented on #9409
No, same result.  I am using Debian Sid, and the newest composer available from that Debian repo is v2.2.9.  I manually downloaded composer v2.3.5 from the getcomposer.org website and tried everything again with PHP 8.1.2, and the exact same errors come up.  I'm reverting back to PHP 7.4.26 right now and 'magento set:up' appears to be functional.

[2022-04-14 22:07] ak77-prime opened #9414 "Instructions are incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/user-admin.html#cloud-user-webinterface

### What's wrong with the content?

We have removed the ability to add users on the environment level - all users must be managed on the project level.

### What changes do you propose?

Remove this section complet

[2022-04-14 22:10] ak77-prime commented on #9414
duplicate of https://github.com/magento/devdocs/issues/9263

[2022-04-14 22:10] #9414 closed

[2022-04-14 22:28] bvowell1975 commented on #9409
I'm not sure if this is relevant or not, but PHP 8.1.2 was also throwing MySQL errors about a file not existing.  I'm running and connecting to MySQL through a local unix socket, and TCP/IP connections are disabled completely in the MySQL config.  Is there something different about how PHP 8.1 handles PDO connections and how Magento uses them when connecting over a socket?  My env.php has a blank

[2022-04-15 09:03] hostep commented on #9409
There is more info in this thread: https://github.com/magento/magento2/issues/35306, hopefully you can find an answer there...

[2022-04-15 09:23] C4rter commented on #9409
The issue is the composer module in the vendor folder.
I don't know when but when following the steps in the linked thread, it will update at some point.

If not following the steps there is a point when it won't update anymore and you are stuck with the old module that's incompatible to PHP 8.1

[2022-04-15 20:44] bvowell1975 commented on #9409
Can you share the old and new module versions?  I've restored my 2.4.3-p1 backup several times and followed the steps in the other thread, and keep ending up with a 2.4.4 installation that works with PHP 7 but not with PHP 8.  I had a couple of dependency problems in the composer.json that took a bit to sort out, but all the Magento components downloaded and upgraded without complaining.

At the e

[2022-04-18 18:52] katmoon commented on #9307
Rechecked that the packages are indeed installed with the ee and b2b edition. Thank you @BarnyShergold  and @dobooth

[2022-04-19 02:53] ak77-prime opened #9417 "Incorrect information - does not apply to all implementations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/live/sens-data-initial.html#configure

### What's wrong with the content?

These steps do not apply to Adobe Commerce Cloud - the section is not available:

[code]

### What changes do you propose?

Add the caveat that the following steps do not apply to Adobe Co

[2022-04-19 06:59] ravirajm10 opened #9418 "Missing content for create custom rest api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

Tried to access the page but seems content is missing.

https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/create-custom-rest-api.html
<img width="1511" alt="Screenshot 2022-04-19 at 12 27 24" src="https://user-images.githubusercontent.com/19620035/163944341-e26c237e-7dcf-40c

[2022-04-20 13:11] bhargav-bvi commented on #9418
@magento I am working on this

[2022-04-20 13:11] bhargav-bvi commented on #9418
@magento add to contributors team

[2022-04-20 13:14] bhargav-bvi commented on #9418
@magento add to contributors team

[2022-04-21 18:23] dobooth commented on #9417
@gamarshall Can you take a look at this?

[2022-04-21 18:30] dobooth commented on #9409
Closing as this is not a docs issue.

[2022-04-21 18:30] #9409 closed

[2022-04-22 10:20] bvowell1975 commented on #9409
The docs will need to be updated once the root of this problem is found.  There's obviously something missing or different that should be documented so that someone can upgrade from 2.4.3-p1 to 2.4.4.

[2022-04-22 10:36] hostep commented on #9409
@bvowell1975: make sure that the composer version you are using is at least version 2.1.4 (either a seperate phar you're using, or the `composer/composer` dependency that is installed with Magento if you're using `vendor/bin/composer`), I have the feeling that this might be the problem, because in [version 2.1.3](https://github.com/composer/composer/blob/2.1.3/src/Composer/Repository/ArrayReposito

[2022-04-22 20:27] bvowell1975 commented on #9409
I checked that first thing.  I'm on composer v2.2.11.

[2022-04-25 06:12] hostep commented on #9409
Yes but also check the version of the `composer/composer` dependency in your project, it might also have an influence here...

[2022-04-25 15:33] hostep commented on #9390
For the record https://github.com/magento/devdocs/pull/9425 does not fix this issue, no idea why this automatically linked?

[2022-04-25 16:19] hguthrie commented on #9409
Make sure you are following this guidance for using composer 2: https://devdocs.magento.com/cloud/project/magento-app-properties.html#installing-and-using-composer-2
The latest version used in Cloud template for Commerce 2.4.4  is composer 2.2.4:

[code]

[2022-04-26 18:46] jakubfrieb opened #9426 "Bad minimum version of composer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

### What's wrong with the content?

You mentioned that minimum version of composer is 2.x for magento 2.4.4. and php 8.1 but .. with composer 2.0.12 I am getting deprecation errors so its not possible run bin/magento co

[2022-04-28 11:02] electrospanner opened #9427 "A possible missing comma which has confused a customer."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#supported-browsers

### What's wrong with the content?

Under the section:
https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#supported-browsers

We describe most supported browsers as:

- _brow

[2022-04-28 18:15] keharper commented on #9405
@datacubed which page needs updating?

[2022-04-28 19:54] dobooth commented on #9307
Thanks all. Closing the issue.

[2022-04-28 19:54] #9307 closed

[2022-04-28 23:50] #9390 closed

[2022-04-29 19:43] #9427 closed

[2022-05-03 16:03] gamarshall commented on #9263
Fixed by magento-commerce/devdocs#2919

[2022-05-03 16:03] #9263 closed

[2022-05-06 14:34] adamlavery opened #9432 "Need clarification the difference between Extending and Overriding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-guide/css_quick_guide_approach.html

### What's wrong with the content?

Uses terms Extend and Override without explaining what these mean in terms of what style rules result. CSS itself has no concept of Extend vs Override. It simply

[2022-05-07 04:56] Viper9x commented on #9411
@keharper the purpose of this topic is to describe Admin Design Pattern Library: Getting User Input - Form Elements.
This topic does not intend to guide how to implement the feature.
So, we don't need to modify this page and this issue should be closed, isn't it?

[2022-05-07 07:08] Viper9x commented on #9410
@boban-dj document says: "**More details** about these parameters can be found later in this topic."
The document did that, you can see these parameters have been described in the table at the end of the topic:
![Screen Shot 2022-05-07 at 14 05 36](https://user-images.githubusercontent.com/5556060/167243084-1e1ef71e-6c93-4a27-b055-76c32086520c.png)

@keharper I think this topic should be closed.

[2022-05-07 13:11] #9410 closed

[2022-05-07 13:11] boban-dj commented on #9410
fine

[2022-05-08 22:51] #8968 closed

[2022-05-09 06:20] grafzahl-io commented on #6683
Thanks! Helped me to find my fault: I just changed the address format and accidentally moved a `{{/if}}` to the wrong place. This also caused this unrelated error message.

[2022-05-09 08:44] adamlavery commented on #9411
@Viper9x does what the doc describes work? Regardless of what it's meant to show - if what it describes doesn't actually work then there should be a note like "This is what should be available but it doesn't work so here's how to actually do it...".

[2022-05-09 14:49] jeff-matthews commented on #9149
Fixed in #2941

[2022-05-09 14:49] #9149 closed

[2022-05-11 08:50] hostep opened #9434 "Incorrect versions in changelog of v1.1.14 of the quality patches"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/quality-patches/release-notes.html

### What's wrong with the content?

It mentions Magento versions 1.3.0, 1.3.1 & 1.3.4, which never existed, so that seems to be a typo.

<img width="1115" alt="Screen Shot 2022-05-11 at 10 47 11" src="https://user-images.githubuserco

[2022-05-11 08:52] hostep commented on #9434
Under 1.1.13 there is another one:

And under 1.0.21 another one:

Maybe there are more? I didn't search further...

[2022-05-11 08:56] hostep commented on #9434
For the first two mentioned, it looks like those version ranges apply to the B2B product, and not the normal Commerce or Open Source products:

<img width="1025" alt="Screen Shot 2022-05-11 at 10 55 57" src="https://user-images.githubusercontent.com/85479/167811106-d619b1b2-4845-426c-a55c-214912ef2d17.png">

[2022-05-11 13:53] jeff-matthews commented on #9434
@apoltoratskyi, please take a look and advise.

[2022-05-11 19:10] #8857 closed

[2022-05-11 19:10] #9408 closed

[2022-05-11 19:28] hostep commented on #9434
@jeff-matthews: why did this issue get closed?

[2022-05-11 19:33] jeff-matthews commented on #9434
@hostep, because the https://github.com/magento/devdocs/commit/c280c70528901af47db1b5b7e43a66fd4bfba0e5 commit fixed it and the PR that merged that commit automatically closed this issue. It looks like I need to force a deploy since the changes didn't affect file size.

[2022-05-11 19:37] hostep commented on #9434
Ah okay great! It's probably not being mentioned automatically over here since it was done in a private repository: https://github.com/magento-commerce/devdocs/

Any reason why this is not done over here on the public repo directly?

[2022-05-11 19:38] hostep commented on #9434
Also, this commit doesn't seem to fix:

[2022-05-11 19:51] jeff-matthews commented on #9434
Yeah, you're right. All PRs are actually delivered via private repos in the magento-commerce org. That's why you see us adding the `@magento import...` comment on external PR contributions.

For internal PR contributions (those submitted by Adobe staff), it's more efficient to open the PR directly in the private repo so that we don't need to import it and put it through an unnecessary layer of pro

[2022-05-11 19:54] jeff-matthews commented on #9434
That wasn't part of the original report, so we didn't address that. It looks like that's part of the [1.0.21](https://devdocs.magento.com/quality-patches/release-notes.html#v1021) release notes.

[2022-05-12 10:45] mohitnavik opened #9435 "Create return(RMA) is not working(Magento 2.4.3-p2)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have upgraded Magento from 2.4.3-p1 to 2.4.3-p2. After upgrading the magento version, I am trying to create returns but getting the broken page. I checked the logs files and found the following error: Call to a member function getStoreLabel() on bool in vendor/magento/module-rma/Block/Admin

[2022-05-12 13:42] danidelcar commented on #9432
Hi @omiroshnichenko do you have any suggestions as to how to approach this issue?, thanks!

[2022-05-12 13:46] danidelcar commented on #9405
Hi @datacubed you are welcome to reopen this issue again if you still need help with it. Closing it due to no response

[2022-05-12 13:46] #9405 closed

[2022-05-12 13:49] adamlavery commented on #9432
"However, the above only works if the theme’s parent is a Blank." should be "...is Blank"!

[2022-05-12 13:56] danidelcar commented on #8906
Hi @gq-guo you are welcome to reopen this issue again if you need, or have more information. Closing it due to no response

[2022-05-12 13:56] #8906 closed

[2022-05-12 17:25] dshevtsov commented on #9435
Thank you for your feedback! It doesn't seem like your issue is related to Commerce developer documentation. To get answers to your questions, contact [Adobe Commerce Support](https://support.magento.com/hc/en-us/articles/360000913794-Magento-Help-Center-User-Guide#support-tickets). They should be able to help you with this! Let us know if you have any more questions.

[2022-05-12 17:25] #9435 closed

[2022-05-16 09:14] hostep opened #9437 "Incorrect link to blog on Upcoming releases page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/release/

### What's wrong with the content?

There is a link to a blog post that is no longer valid:

The link now points to:
https://business.adobe.com/blog/the-latest/accelerating-innovation-through-simplified-release-strategy
But should point to:
https://business.a

[2022-05-16 10:23] BarnyShergold commented on #9434
@jeff-matthews - I just checked this page : https://devdocs.magento.com/quality-patches/release-notes.html and all the version numbers have been corrected. Is there a reason why this issue is still open?

[2022-05-16 10:28] hostep commented on #9434
@BarnyShergold, yes there is, please read **ALL** the comments in this thread 😉

[2022-05-17 21:24] outis opened #9439 "Unencoded less-thans in documentation cause content to be interpreted as HTML on GitHub."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://github.com/magento/devdocs/blob/master/src/guides/v2.3/coding-standards/docblock-standard-javascript.md#javascript-types-frontend-dev-guide-javascript-js-coding-docblock-jstypes

### What's wrong with the content?

In the [JavaScript type language](https://github.com/magento/devdocs/blob/

[2022-05-18 09:16] #9437 closed

[2022-05-18 10:01] hostep commented on #9437
Thank you @BarnyShergold! 🙂

[2022-05-18 14:47] akislawek opened #9441 "Custom directive for email template not working as per Docs example (Magento 2.4.3-p2, 2.4.4)"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/templates/template-email-migration.html#create-a-custom-directive

### What's wrong with the content?

The example provided in the "Create a custom directive" section does not seem to work. I've tried with Magento 2.4.3-p2 as well as the

[2022-05-18 14:57] akislawek commented on #6683
@lenlorijn, @denis-zyk, @grafzahl-io

Did anyone of you manage to successfully implement a custom directive in an email template and get it working correctly? I'm currently trying to achieve this, but with no success. The directive is not interpreted and still show as "{{lifetime_spend}}" in the email body.

I would be grateful if you could share your code if you got it working correctly.

Below I

[2022-05-19 13:39] gjohnadobe opened #9443 "Configure XDebug wiki has incorrect information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/howtos/debug.html#enable

### What's wrong with the content?

The document states -

"You can enable Xdebug directly to all Starter environments and Pro Integration environments. For Pro Staging and Production, you need to update this file and enter a [Support ti

[2022-05-20 12:48] BarnyShergold commented on #9443
I can categorically state that XDEBUG is NOT enabled by default on Cloud Pro Production & Staging.

Even if the .magento.app.yaml has xdebug listed in the runtime > extensions and has been deployed, it is REQUIRED that a ticket is raised to support to actually activate XDEBUG.

I am therefore closing this issue as the current documentation is correct.

[2022-05-20 12:55] hguthrie commented on #9443
Thank you for confirming that @BarnyShergold 👍

[2022-05-20 14:52] BarnyShergold commented on #9443
@magento I am working on this

[2022-05-23 23:27] ak77-prime opened #9445 "Explain that the PHP version needs to be"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/project-upgrade.html#application-upgrade

### What's wrong with the content?

This needs clarification:

[code]

PHP is not considered a service and the customer must upgrade PHP themselves: https://devdocs.magento.com/cloud/project/magento-app-php-applic

[2022-05-24 22:04] #9426 closed

[2022-05-24 22:05] jeff-matthews commented on #9426
Fixed in https://github.com/magento/devdocs/commit/0c67a578d3154952861ae09ee4127cca9d62d6de

[2022-05-25 16:35] #8392 closed

[2022-05-25 19:45] nlh-ddunn opened #9446 "Amendment / Correction to HTTP Access control"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/project-webint-basic.html#project-conf-env-set

### What's wrong with the content?

HTTP access control, when enabled via the Commerce Cloud UI will break Fastly caching (and related functionality like image optimization)

### What changes do you propose?

[2022-05-26 18:22] dobooth commented on #9446
@gamarshall Easy fix here?

[2022-05-26 18:25] dobooth commented on #9445
@gamarshall @hguthrie Actionable?

[2022-05-26 18:53] hguthrie commented on #9445
I am working on this very topic right now to update extensions. Will include this issue, too. Thanks!

[2022-05-27 08:57] engcom-Hotel opened #9447 "Page Not Found for Change message queue from MySQL to AMQP link"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/config-guide/mq/manage-message-queues.html

### What's wrong with the content?

The link mentioned in the text `Change message queue from MySQL to AMQP` is not working and redirecting to a 404 page.

### What changes do you propose?

Please correct the link

[2022-05-27 22:29] #9443 closed

[2022-05-31 17:08] rparsi-boxycharm opened #9452 "No developer level documentation on how to programmatically (in code) create a custom attribute input type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

I've searched the available magento developer documentation regarding attribute input types.
Specifically I'm looking for developer docs illustrating how to create a custom attribute input type in code,
that can be used as the renderer for (also in code) custom entity attributes.

For example,

[2022-06-02 20:24] goivvy commented on #8986
@bdenham @shunmugakumaran Do you need help with it? It's been almost a year

[2022-06-06 21:25] hguthrie opened #9461 "Images missing from Contribute topic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The images for the [Contributing to Magento DevDocs](https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md) topic are missing.

### Expected behavior

Images need to load.

### Steps to reproduce

Click Contributing to devdocs link in the wiki.

### Environment

- Browser: Sa

[2022-06-07 21:36] ak77-prime opened #9462 "Details required on how to specify an empty array of consumers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/env/variables-deploy.html#cron_consumers_runner

### What's wrong with the content?

[code]

It doesn't explain how to specify an empty array.

### What changes do you propose?

It can be explained using this example (instead of listing out the individual consume

[2022-06-07 22:34] #9446 closed

[2022-06-07 23:25] hguthrie commented on #9462
@ak77-prime I actually have a ticket staged on our team board. I will add your comments from this GH issue to that ticket. Thanks!

[2022-06-08 19:16] shherman opened #9463 "Fix References to MongoDB in Magento Cloud CLI Documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/reference/cli/magento-cloud.html#servicemongodump

### What's wrong with the content?

Per Customer Support we believe that MongoDB is not supported on Commerce Cloud.
We believe we need to remove mention of MongoDB on this 2.3 and 2.4 Document

### What ch

[2022-06-08 19:48] hguthrie commented on #9463
@shherman  The reference page is generated based on magento-cloud CLI output. For example, when I use the CLI to list commands, they show as follows:

[code]

I will bring this up with the team to see what we can do.

[2022-06-08 21:43] #9462 closed

[2022-06-10 13:33] hguthrie commented on #8188
@gamarshall Did you complete this already?

[2022-06-13 11:57] hguthrie commented on #9463
@gamarshall Did you finish researching this?

[2022-06-13 12:09] hguthrie commented on #9445
Update, I haven't forgotten about this issue. I made the change in a branch that has some other PHP-related fixes, and those fixes have been in a debated review. I may be able to merge this change in the next day or so.

[2022-06-14 00:08] ak77-prime opened #9466 "JSON extension for PHP 8.x is not needed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

In https://devdocs.magento.com/cloud/project/magento-app-php-application.html#php-extensions, under the list of ``INSTALLED EXTENSIONS THAT CANNOT BE UNINSTALLED`` - json would have to removed from .magento.app.yaml if the PHP version being upgraded to is 8.0 or newer, otherwise, it would thro

[2022-06-14 13:44] hguthrie commented on #9466
The evaluation and work scheduled is in MCLOUD-8760

[2022-06-16 23:19] ak77-prime opened #9468 "A step applies to both Starter and Pro"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/services-opensearch.html

### What's wrong with the content?

In this section:

``To enable OpenSearch:``

1. For Starter projects, add the opensearch service to the .magento/services.yaml file with the appropriate version and allocated disk space in MB.

[2022-06-20 10:31] #9439 closed

[2022-06-20 11:36] dobooth commented on #9418
This page is part of our migration policy. We are fixing the 404 today.

[2022-06-20 11:36] #9418 closed

[2022-06-20 15:10] #9461 closed

[2022-06-22 03:19] mrtuvn opened #9470 "Add some note related IE support for magento version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements.html

### What's wrong with the content?

Internet Explorer has retired and is officially out of support as of June 15, 2022.
I think we should update docs related for this announcement
We can drop support IE from now on 2.3

[2022-06-22 03:21] mrtuvn commented on #9470
cc: @dobooth

[2022-06-22 09:58] MaksSum41 commented on #8981
@magento I am working on this

[2022-06-23 13:46] erikmarr commented on #9468
@hguthrie could you take a look to confirm?

[2022-06-23 13:47] erikmarr commented on #9447
@engcom-Hotel thanks for your feedback! Looks like the link is working now.

[2022-06-23 13:47] #9447 closed

[2022-06-23 13:58] erikmarr commented on #9375
@hguthrie is there any missing information in this issue or can we move this to ready for dev?

[2022-06-24 05:25] ak77-prime opened #9472 "Incorrect notation used in the composer command to upgrade the application version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/project-upgrade.html#application-upgrade

### What's wrong with the content?

1. Change to your application root directory and set the upgrade version using the version constraint syntax.

[code]

### What changes do you propose?

Since the instruction wa

[2022-06-24 13:52] hguthrie commented on #9375
Okay, I looked into this more. There is a bug in the UI. Because of a project we are working on, the workaround will have to be in the docs for now. @gamarshall Can you address this?

[2022-06-28 15:47] gamarshall commented on #9375
Addressing this issue.

[2022-06-29 12:27] MeatPopsicle opened #9474 "Add mention of 6-hour cooldown period for Pro Staging / Production storage increases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

In the article: https://devdocs.magento.com/cloud/project/manage-disk-space.html
Namely the **Allocate disk space** section - https://devdocs.magento.com/cloud/project/manage-disk-space.html#allocate-disk-space.

I believe that there should be a notice that any storage increases of Pro Staging

[2022-06-29 15:10] gmfnem opened #9475 "Wrong nginx version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

1.18

### Expected behavior

1.8

### Steps to reproduce

look at the website

### Environment

- Browser: Any
- OS: Any

[2022-06-29 15:42] hguthrie commented on #9474
Thank you for pointing this out!
We will take a look.

[2022-06-29 15:48] #9475 closed

[2022-06-30 18:41] #9445 closed

[2022-06-30 18:42] hguthrie commented on #9020
@gamarshall  What is your status on this ticket?

[2022-07-12 14:27] #9470 closed

[2022-07-12 16:00] hguthrie commented on #8188
Closing because this appears to be completed.

[2022-07-13 12:12] engcom-November opened #9478 "WebApi - OAuth Login: HMAC-SHA1 is not a supported method. Magento docs should be updated."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

OAuth based Authentication

### What's wrong with the content?

The [documentation](https://developer.adobe.com/commerce/webapi/get-started/authentication/oauth-errors/) and code implementation do not match. In other [documentation](https://developer.adobe.com/commerce/webapi/get-started/authenti

[2022-07-15 10:55] engcom-Charlie opened #9480 "The field "Allow to Edit Shipping Address Entered During Checkout on PayPal Side" is still getting display on Magento Admin configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://docs.magento.com/user-guide/payment/braintree.html#step-5-complete-the-paypal-through-braintree-settings

### What's wrong with the content?

The Magento Braintree documentation is showing some depricated fields.

As per the [comment](https://github.com/magento/magento2/issues/30635#issue

[2022-07-15 13:33] #9480 closed

[2022-07-15 17:15] nitinharikant opened #9481 "Missing Documentation on Bitbucket_server Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

In the https://devdocs.magento.com/cloud/integrations/cloud-integrations.html the integration on bitbucket_server is missing.

[2022-07-16 06:36] farmketprocess opened #9482 "Order placed and Order History Using Graphql"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

if we place order using graphql then order placed successfully but its not updated in order history of customer .

order placed :
https://devdocs.magento.com/guides/v2.4/graphql/mutations/place-order.html

Order history query :
https://devdocs.magento.com/guides/v2.4/graphql/queries/customer-o

[2022-07-21 01:05] ak77-prime opened #9486 "Add a clarification/note on the proper formatting of the contents of .magento.env.yaml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/magento-env-yaml.html

### What's wrong with the content?

Customers are sometimes configuring .magento.env.yaml incorrectly due to/evidenced by the following issues

1. They are using the wrong indentation - if the indentation is not consistent throughou

[2022-07-21 14:00] hguthrie commented on #9486
Thanks for letting us know. Repeating the `stage` block is definitely a concern and we can improve on our presentation of how this file should be constructed. On the YAML, we can offer some minimal guidance, but as a general rule we try not to link to external references. Thanks for the suggestions, though. It helps us to understand the issues they are having.

[2022-07-21 18:38] dobooth commented on #8981
Fixed in https://github.com/AdobeDocs/commerce-frontend-core/pull/17

[2022-07-21 18:38] #8981 closed

[2022-07-21 18:41] dobooth commented on #9482
@farmketprocess We are going to close this as it sounds like a code issue and not a doc issue Please reopen if it is indeed a problem in the docs. Contact support if you suspect a bug: https://support.magento.com/hc/en-us.

[2022-07-21 18:41] #9482 closed

[2022-07-25 17:55] hguthrie commented on #9463
I am closing this issue. The CLI is generated from a YAML dump. If the CLI needs changing, then can create an internal ticket.

[2022-07-25 17:55] #9463 closed

[2022-07-26 09:58] vandijkstef commented on #9441
I found your question on SE, and following up I ended up here. Can confirm, on Mage2.4.4, that dropping the underscore (replace `lifetime_spend` with `lifetimespend`) and re-running `setup:di:compile` did work for me. Along the way I also set the `is_legacy` in the database to `0`, but I'm not sure that had any real influence.

[2022-07-27 06:09] ak77-prime opened #9488 "Provide more details about the service versions, specifically Elasticsearch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

### What's wrong with the content?

More details could be provided about this caveat/caption:

[code]

### What changes do you propose?

[code]

### Anything else that can help to cover this?

The content at the top of

[2022-08-02 14:42] lakshmana opened #9490 "Available patches not visible because of Error: Unexpected token < in JSON at position 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/quality-patches/tool.html#patch-grid

### What's wrong with the content?

Available patches not visible because of the following error
`Error: Unexpected token < in JSON at position 1`
<img width="242" alt="image" src="https://user-images.githubusercontent.com/3132026/

[2022-08-04 13:43] hguthrie commented on #9490
@lakshmana  We don't see the same error. Which browser are you using? Have you tried clearing the cache?
Were you using the search field? We cannot reproduce, so let us know if this is still an issue.

[2022-08-04 14:08] lakshmana commented on #9490
Hi @hguthrie  it seems all good now. We can close this task.

[2022-08-04 14:08] #9490 closed

[2022-08-04 17:19] hguthrie commented on #9466
Am closing this issue since it has an internal ticket.

[2022-08-04 17:19] #9466 closed

[2022-08-07 11:49] rmsundar1 opened #9493 "Add a configurable product to a cart - Specify a parent and a child SKU : Given example is not working as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/graphql/mutations/add-products-to-cart.html#add-a-configurable-product-to-a-cart

### What's wrong with the content?

I have tried the example given under `Specify a parent and a child SKU`, however, it's not adding the product as a configurable product int

[2022-08-09 16:11] damienwebdev opened #9497 "System requirements are out of date with the recent releases."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

https://github.com/magento/devdocs/blob/master/src/_data/codebase/v2_3/system-requirements.yml
https://github.com/magento/devdocs/blob/master/src/_data/codebase/v2_4/system-requirements.yml

Are missing the patch tags:

[code]

[2022-08-12 12:17] damienwebdev opened #9498 "System requirements Composer version is incorrect for v2.4.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://github.com/magento/devdocs/blob/master/src/_data/codebase/v2_4/system-requirements.yml

### What's wrong with the content?

The v2.4.2 `composer` requirement is incorrect. The requirement is composer 2, not 1.

You could instead make it `1,2`

https://devdocs.magento.com/guides/v2.4/relea

[2022-08-12 17:28] #9474 closed

[2022-08-16 22:20] jeff-matthews commented on #9497
Hey @damienwebdev,

Thanks for the report. It's prompted an internal conversation about representing security patches in the system requirements table.

Historically, we've only included security patches in the system requirements table if/when they introduce major platform upgrades (which is an outlier). For example, 2.4.3-p2 and 2.3.7-p3 introduced support for ES 7.16 and OS 1.2, which is why th

[2022-08-16 22:31] damienwebdev commented on #9497
I maintain this list:

https://github.com/graycoreio/github-actions-magento2/blob/main/supported-version/src/versions/individual.json

I don't know if you maintain a similar list, or even if mine is correct since I base it on the list here.

[2022-08-16 22:34] jeff-matthews commented on #9497
Nice!

This is how we're currently maintaining the list:

https://github.com/magento/devdocs/blob/master/src/_data/codebase/v2_4/system-requirements.yml
https://github.com/magento/devdocs/blob/master/src/_data/codebase/v2_3/system-requirements.yml

[2022-08-17 13:34] damienwebdev commented on #9497
@jeff-matthews yes, that's where I get my versions from, however with things like: https://github.com/magento/devdocs/issues/9498

I'm neither fully convinced of the correctness of my own version matrix or the currently listed one.

[2022-08-18 18:06] dobooth commented on #9493
@keharper Any thoughts here?

[2022-08-25 22:28] meker12 opened #9502 "Change to` composer require` command on 2.4.5 upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/project-upgrade.html.

### What's wrong with the content?

While upgrading the Cloud verions, we encountered the following issues:

###  Requiring magento-cloud-metapackage

When running composer require in local env, we ran the command from the docs:

`c

[2022-08-26 00:44] straheyatadobe opened #9503 "instructions assume that the shell being used is bash and since MacOS 10.15 (catalina) zsh is the default shell"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

steps 3-4 assume its Bash but if the user is using zsh, the path isn't updated and the cli wont be found

### Expected behavior

na

### Steps to reproduce

na

### Environment

- Browser:
- OS: Macos 12.5.1 Monterey

[2022-08-26 04:48] farmketprocess commented on #9482
no code issue was their

[2022-08-29 15:18] Nuranto opened #9504 "Message queues - Issue with 2.4.5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://developer.adobe.com/commerce/php/development/components/message-queues/

### What's wrong with the content?

We get an example containing

[code]

On 2.4.5, this throws an exception : `Missing exchange field for publisher product_action_attribute.update in connection config.`

### What ch

[2022-08-29 22:38] #9375 closed

[2022-08-31 18:54] hguthrie commented on #9020
This looks like it was addressed.

[2022-08-31 18:54] #9020 closed

[2022-08-31 21:24] BaDos commented on #9502
@meker12 hi,

Can you provide more information regarding composer issue `composer require "magento/magento-cloud-metapackage":">=2.4.5 <2.4.6" --no-update`?

I use php 8.1, composer 2.2.4, template 2.4.4
run the command `composer require "magento/magento-cloud-metapackage":">=2.4.5 <2.4.6" --no-update` and it works, any errors and warnings

Could you tell me which version you tried to upgrade from

[2022-09-01 18:42] gamarshall commented on #8237
Contributor installation guide has been moved here:
 https://developer.adobe.com/commerce/contributor/guides/install/
Guide is being migrated to ExlLeague -

[2022-09-01 18:46] gamarshall commented on #9503
@straheyatadobe We do not support macOS as a platform.  Please add link to where this topic resides.

[2022-09-01 18:54] keharper commented on #9493
I'll try to find time to look at this issue. I don't work in this area any more, so it might be a while.

[2022-09-02 20:43] #9386 closed

[2022-09-02 20:43] #9486 closed

[2022-09-05 03:04] cscrewvala opened #9507 "Commerce - Snapshot Backup details"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/architecture/pro-architecture.html#backup-and-disaster-recovery

### What's wrong with the content?

https://fieldreadiness-adobe.highspot.com/items/5f904a8da4dfa0282c36257f?lfrm=srp.1#34
Page 34 of Cloud Features Field Readiness deck  - Backup Snapshots detail (

[2022-09-05 23:18] ak77-prime opened #9508 "command to dump specific tables/databases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/project-webint-snap.html#db-dump

### What's wrong with the content?

I think this command might be wrong/incomplete:

[code]

### What changes do you propose?

Perhaps the ``--`` should be replaced with ``db-dump``?

[code]

### Anything else that can he

[2022-09-07 22:13] ak77-prime opened #9510 "Cloud Patches version not updated on main ECE Tools page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

The table in https://devdocs.magento.com/cloud/release-notes/cloud-tools.html doesn't reflect the updated versions that are shown when you click on [cloud-patches](https://devdocs.magento.com/cloud/release-notes/mcp-release-notes.html) which should be 1.0.18

[2022-09-07 22:51] ak77-prime opened #9511 "System requirements not showing show latest 2.4.3 patch release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

The latest 2.4.3 release is 2.4.3-p3 - but the requirements page still shows 2.4.3-p2

### Expected behavior

2.4.3-p2 should be updated to 2.4.3-p3 even though the requirements have not changed.

### Steps to repro

[2022-09-08 13:43] hguthrie commented on #9510
That page causes problems sometimes. @gamarshall can you make sure this page gets updated with the next release?

[2022-09-08 13:46] jeff-matthews commented on #9510
I think the [file](https://github.com/magento/devdocs/blob/master/src/_data/var.yml#L41) has been updated, but we need to do a full-site deployment since the change is only one character.

[2022-09-08 13:49] #9511 closed

[2022-09-08 13:54] hguthrie commented on #8624
Hi @goivvy  If you are still working on this, let me know. I am making updates to the Docker documentation, not for Grunt less compiling per se, but I want to make sure your changes fit in with our planned updates.

[2022-09-08 14:01] jeff-matthews commented on #9510
The full site deployment worked. Table now shows expected version.

[2022-09-08 14:01] #9510 closed

[2022-09-09 15:31] #9468 closed

[2022-09-13 15:32] jeff-matthews commented on #9497
@damienwebdev, sorry for the delay. We'll be publishing updates today to add security patches to the system requirements table for both 2.3.x and 2.4.x.

See commit https://github.com/magento/devdocs/commit/a53858655710ef612096bca1088fd7fc5779b3c8. It will be deployed to production shortly.

[2022-09-13 15:32] #9497 closed

[2022-09-15 13:39] hguthrie commented on #9503
We are closing this ticket because there has been no response to our request. If you think this issue needs further review, reopen it.

[2022-09-15 13:39] #9503 closed

[2022-09-15 13:40] hguthrie commented on #9493
@keharper Do you need a little more time?

[2022-09-15 14:03] hguthrie commented on #9502
We are closing this ticket because there has been no response to our request. If you think this issue needs further review, reopen the issue with the additional information.

[2022-09-15 14:03] #9502 closed

[2022-09-20 16:13] #9508 closed

[2022-09-20 17:26] #8877 closed

[2022-09-22 10:36] tuanhaviet22 opened #9516 "Error 404 on Javascript Developer Guilde"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

- In the page [Javascript Developer Guilde](https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/bk-javascript-dev-guide.html) when click redirect to new doc version, all links return 404 error, include sub-topic: widget, javascript

![image](https://user-images.githubusercontent.com/4

[2022-09-22 10:37] tuanhaviet22 commented on #9516
@magento I am working on this

[2022-09-22 10:37] tuanhaviet22 commented on #9516
@magento add to contributors team

[2022-09-22 10:39] tuanhaviet22 commented on #9516
So, what next step?!

[2022-09-22 14:09] jeff-matthews commented on #9516
Thanks for letting us know @tuanhaviet22. There seems to be a problem with the new location. I think the link is correct, but the page is unavailable. I'm redeploying the site and will confirm.

[2022-09-22 14:26] jeff-matthews commented on #9516
@tuanhaviet22, the site is back up and the link now resolves as exxpected.

[2022-09-22 14:26] #9516 closed

[2022-09-26 20:13] hguthrie commented on #9413
This has been updated and we are waiting on some feedback.

[2022-09-29 11:30] facundocapua opened #9517 "Missing reference on how to install PWA Studio modules in Adobe Commerce"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

In GraphQL documentation related to `attributesMetadata` query found in [here](https://devdocs.magento.com/guides/v2.4/graphql/queries/attributes-metadata.html) it is missing the steps to follow to get the PWA Modules installed in Magento.

I have also check the link at the top of that same pa

[2022-09-29 11:58] facundocapua commented on #9517
I have found it's described as the second step in this [page](https://developer.adobe.com/commerce/pwa-studio/tutorials/production-deployment/adobe-commerce/#add-required-adobe-commerce-extensions)

It's a bit confusing since that page is a guide on how to deploy PWA studio within Adobe Commerce Cloud and if I'm not mistaken those modules are necessary for any PWA Studio installation independently

[2022-09-30 00:12] #9413 closed

[2022-09-30 12:08] hguthrie commented on #9507
@cscrewvala I have updated our backup and retention policies with clarity and confirmation from engineering.

[2022-10-03 22:12] ak77-prime opened #9522 "The procedure for managing domains on the project is partially incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/cdn/configure-fastly-customize-cache.html#manage-domains

### What's wrong with the content?

For Starter projects, use the Domains option to add and manage the Fastly domain configuration for your store. Before adding a domain to your project, you must submit a

[2022-10-04 12:32] engcom-November opened #9523 "Stale links to topics migrated to Adobe domains"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What feature should be added?

Update the devdocs links which are migrated to Adobe domains
Example: The link points to https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog, which was moved to https://developer.adobe.com/commerce/contributor/guides/code-contributions/

### What i

[2022-10-04 14:02] jeff-matthews commented on #9523
Hi @engcom-November,

Thanks for the report. I'm not sure exactly where the link you reference appears in devdocs, but we are currently working on updating the navigation on the devdocs home page to point to new locations.

We will not implement redirects on devdocs until we've finished migrating all content. See https://community.magento.com/t5/News-Announcements/Community-Monthly-Update-February

[2022-10-04 17:53] #9523 closed

[2022-10-07 15:37] engcom-November opened #9526 "docs(graphql): ConfigurableProductOptions.use_default is documented incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/guides/v2.4/graphql/interfaces/configurable-product.html

### What's wrong with the content?

use_default: Boolean @doc(description: "Indicates whether the option is the default.")
This doc is incorrect and unclear

### What changes do you propose?

Change the doc to r

[2022-10-08 20:33] schizek commented on #3807
I believe this still needs clarification.  As of today the codebase `_theme.less` file in the blank theme still says...

[code]

While the [Magento Theme Best Practice doc](https://devdocs.magento.com/guides/v2.3/coding-standards/code-standard-less.html#variables) now says...

This is still inconsistent.  Additionally, it makes no mention of the `_variables.less` file which in the blank theme cont

[2022-10-09 02:32] mrtuvn commented on #3807
_variables for define variable from beginning, reused later in many places
_theme.less intend for override existing variable from parent if theme have inheritance. It's not only for override purposes it's can be use for define new variable too but i think better put new variables in _variables file for consistency

[2022-10-13 18:44] dobooth commented on #9522
@hguthrie Something you want to handle?

[2022-10-13 18:46] dobooth commented on #9517
@bdenham Care to take a look at this one?

[2022-10-13 18:47] keharper commented on #9526
@damienwebdev If you have any idea what this field really does, leave a message here. It's going to be difficult to find an internal developer who knows.

[2022-10-13 19:37] damienwebdev commented on #9526
[code]

I'm pretty sure (not 100% that these two values are similar in intent, but at different levels.

Consider the following attribute structure:

[code]

In reality, the behind the scenes data structure looks like:
[code]

I believe (unfortunately) that GraphQl is over-exposing the values: on  `ConfigurableProductOptionsValues`

[code]

[2022-10-20 22:57] ak77-prime opened #9529 "Clarify requirements for upgrading services in Staging and Production"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/services.html

### What's wrong with the content?

The bold text implies that we would be upgrading PHP for the merchant when that's not the case:

"
For Pro projects, you must create a [Support ticket](https://support.magento.com/hc/en-us) to install or

[2022-10-20 23:03] ak77-prime opened #9530 "Upgrading PHP might require additional prep work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's missing?

Upgrading of the PHP version is done by the merchant per https://devdocs.magento.com/cloud/project/magento-app-php-application.html

However, in some cases, the project's OS may not support the PHP version and would require an OS upgrade by the Infrastructure team before the customer would be

[2022-10-24 19:31] #9504 closed

[2022-10-26 14:37] #9498 closed

[2022-10-26 19:26] hguthrie commented on #8049
I have made these updates during the Cloud guide migration and they will be available soon.

[2022-10-26 19:26] #8049 closed

[2022-10-27 13:50] jhadobe commented on #8802
@Eddcapone Is this still an issue? If you still need assistance, please create a ticket in the new repo:
https://github.com/AdobeDocs/commerce-frontend-core/pulls

This page is now located at:
https://developer.adobe.com/commerce/frontend-core/guide/templates/email/

[2022-10-28 16:25] hguthrie commented on #9397
Thanks for letting us know. I fixed this in the migration, so will be available soon in new docs.

[2022-10-28 16:25] #9397 closed

[2022-10-28 17:17] hguthrie commented on #9472
This notation has been the same since ece-tools was released. I'm hesitant to change it now. However, I have clarified in the new documentation. There is a topic where the meta package constraints are explained in detail, so I will link to that for further understanding.

[2022-10-28 17:17] #9472 closed

[2022-11-09 12:54] asim-blueprintprep commented on #9502
@BaDos I'm not the original poster, but I have the same issue as above.

PHP:8.1.1
Composer: 2.3.4
Magento: 2.4.4

Running `composer require "magento/magento-cloud-metapackage":">=2.4.5 <2.4.6" --no-update`

Throws:

`ERROR: 'composer require' does not function properly for magento/product-community-edition, magento/product-enterprise-edition, or magento/magento-cloud-metapackage metapackages as o

[2022-11-17 19:54] ak77-prime opened #9535 "Advanced notice required for upgrading in a live Production site"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/services.html

### What's wrong with the content?

Need to be more explicit that it requires a minimum 48 hour notice for upgrades in live Production

[code]

### What changes do you propose?

For Pro projects, you must create a [Support ticket](https://s

[2022-11-17 21:59] hguthrie commented on #9535
Okay, will be more explicit. Thanks!

[2022-11-18 00:32] aingham opened #9536 "Clarity around "....On macOS or Windows" on the "Synchronizing data in a Docker developer environment" doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/docker/docker-syncing-data.html

### What's wrong with the content?

This topic talks about the best configurations depending on OS, but it would be really helpful here if when it talks about "Windows" it clarified whether this is regardless of whether WSL is bei

[2022-11-21 19:47] LeanderFS commented on #6659
Is there any update regarding this issue?

[2022-11-28 11:43] gjohnadobe opened #9539 "Sendgrid transactional email credits/limits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which topic?

https://devdocs.magento.com/cloud/project/sendgrid.html#transactional-email-credits

### What's wrong with the content?

It seems somewhat contradictory.

The first paragraph -
"The 12,000 transactional email threshold refers to the number of transactional email messages that you can send on a mo

[2022-11-28 11:47] BarnyShergold commented on #9539
@hguthrie I can concur that this piece of documentation is contradictory and is not clear. Please can the 12,000 limit on PRODUCTION be confirmed or rejected? (We know it is correct for Staging & Integration)

Thanks