[2018-06-10 19:43] elibyy opened #2202 "Feedback on page: /guides/v2.2/config-guide/cli/config-cli-subcommands-urn.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [x] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
If you run the URN generator command on a computer without database connection it will refuse to generate and will generate MySQL error

### Steps to reproduce

1. Run `bin/magento dev:urn-catalog:generate <path>`.
You Will get `SQLST

[2018-06-11 18:55] #2107 closed

[2018-06-11 18:56] jcalcaben commented on #2107
Thanks for reporting this @jonashrem !

This topic is a 2.3-only topic. I have fixed the table of contents so it only appears in 2.3.

[2018-06-11 19:01] OccamsRazorCoder opened #2209 "Feedback on page: /guides/v2.2/mtf/mtf_introduction.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [X ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:

  How about saying where you need to install the test framework.  Does it need to be installed on the Magento Server or can it be installed on a Desktop PC Connected to the internet?      Have a diagram showing configurations.    Al

[2018-06-12 12:45] Patelcc opened #2226 "Magento 2.2.4 :menu is not showing"
I was found that issue related to **Varnish Cache**

If we select **Store -> Configuration -> Advanced -> System -> Full page cache -> Caching Application** Set to **Varnish Cache** then menu are not appear in home page other then appear on all pages .

see below attached screen-shoot

![megamenu](https://user-images.githubusercontent.com/40203855/41290357-44d3291a-6e6a-11e8-8531-163244829e77.png)

[2018-06-12 15:04] keharper commented on #2226
@Patelcc I'm not certain whether you are asking for a documentation fix or reporting a bug.

[2018-06-12 21:08] keharper opened #2227 "Update page layout documentation"
Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/layouts/layout-types.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/4454

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/14205

Magento 2 version:
- [ ] 2.1.X
- [x] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notific

[2018-06-13 06:08] Patelcc commented on #2226
@keharper i am not talking about to modifying  documentation, it's a default magento bug related to varnish cache.
If you want to reproduce this issue in your system then follow step as i mentioned in my question.

[2018-06-13 14:35] keharper commented on #2226
@Patelcc I need you to report this as an issue on the magento2 code repository.

https://github.com/magento/magento2/issues

Feel free to reopen this bug if the Community Engineering team says there's a gap or inaccuracy in the docs.

[2018-06-13 14:35] #2226 closed

[2018-06-13 19:00] #526 closed

[2018-06-13 19:10] lorikrell opened #2240 "Update DevDocs Contributor guide"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [x] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
Update the contributor guide - https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing_docs.html:

* Add info for submitting GitHub issues for Community content
* Revise How To / Tutorial template info (internal ticket

[2018-06-13 19:41] dshevtsov commented on #526
The Magento UI Library documentation is now available on https://magento-devdocs.github.io/magento2-ui-library

[2018-06-13 19:50] erikhansen commented on #526
Thanks.

FYI, the fonts are broken on that page: https://magento-devdocs.github.io/magento2-ui-library/icons.html

Compare that to a working example: http://magento2-demo.nexcess.net/pub/static/frontend/Magento/blank/en_US/css/docs/icons.html

[2018-06-13 20:08] dshevtsov commented on #526
Thanks for the immediate feedback!
Did you mean the font icons?

[2018-06-13 20:13] dshevtsov commented on #526
I mean the icon images on the page.

[2018-06-13 21:15] keharper commented on #1962
Forgot that I opened an issue and a PR. This was merged in [PR-2087](https://github.com/magento/devdocs/pull/2087)

[2018-06-13 21:15] #1962 closed

[2018-06-13 22:30] dshevtsov commented on #526
Added the images.

[2018-06-13 22:31] erikhansen commented on #526
Yes, I meant the icon images. I see they're fixed now.

[2018-06-14 08:54] weblaunch opened #2248 "Feedback on page: /guides/v2.2/migration/migration-migrate-settings.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [x ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
Run the settings migration command
`{<path to config.xml>}` is the absolute file system path to config.xml; this argument is required.

### Steps to reproduce
n/a

## Expected result:
n/a

## Possible solutions:
It is not explicit _w

[2018-06-14 21:22] leviv opened #2259 "Left navigation menu not appearing on contribute to Magento DevDocs page"
## This issue is a:
- [x] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
Left navigation menu not appearing on contribute to Magento DevDocs page

### Steps to reproduce

1. First Step
Go to [contribution page](https://devdocs.magento.com/guides/v2.2/extension-dev-guide/Contribute_edg.html)

## Expected re

[2018-06-14 21:46] lorikrell commented on #2259
Thank you for your feedback, @leviv! This issue will be resolved in PR https://github.com/magento/devdocs/pull/2256. We are redirecting that page to the Contributor Guide here: https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html

This should be updated shortly.

[2018-06-14 22:45] lorikrell commented on #2259
Updates have been merged.

[2018-06-14 22:45] #2259 closed

[2018-06-14 22:45] lorikrell commented on #2240
Updates merged.

[2018-06-14 22:45] #2240 closed

[2018-06-15 01:31] ssaurabh opened #2263 "Why Magento 2.2.3 doesn't support on save indexing while mass updating products?"
## This issue is a:
- [x] Bug on the website
- [x] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:

### Steps to reproduce

1. First Step
2. Second Step
3. Etc.

## Expected result:

## Possible solutions:

## Additional information:

[2018-06-15 01:41] ssaurabh commented on #2263
As we all know Magento 2.X.X supports indexing on **saving** and on **schedule**.
However, I found it is working only for single product update, Magento2.2.3 doesn't work with on **MASS** products update.
I think that is a bug in Magento 2.x.x it should create the index on MASS update/save also.

[2018-06-15 13:38] Karlasa opened #2274 "Using custom fonts Page HTML escape"
## This issue is a:
- [x] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description: Seems like wrong html or html escape
https://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/using-fonts.html
Shows @font-weight and @font-style with escaped <a> element

### Steps to reproduce

## Expected result:

Shou

[2018-06-15 14:49] skotasthane opened #2276 "Feedback on page: /guides/v2.2/cloud/env/variables-build.html"
## This issue is a:
- [x] Bug on the website

## Description:
Update SCD Compact strategy to indicate it works with multi-threads.

### Steps to reproduce

1. See release notes: https://devdocs.magento.com/guides/v2.2/cloud/release-notes/cloud-tools.html#v2002012
2. We fixed an issue that prevented static content deployment with the compact strategy in multiple threads

## Expected result:
Devdocs

[2018-06-16 11:20] #2274 closed

[2018-06-16 11:22] jeff-matthews commented on #2263
Hi @ssaurabh,

Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://git

[2018-06-16 11:22] #2263 closed

[2018-06-16 11:28] jeff-matthews commented on #2248
@victor-v-rad, can you help clarify this?

[2018-06-16 13:58] jeff-matthews opened #2280 "Swagger devdocs are broken for 2.3"
## This issue is a:
- [X] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:

When you navigate to the static 2.3 swagger API reference docs, swagger UI returns an error:

<img width="930" alt="swagger-docs" src="https://user-images.githubusercontent.com/13662379/41499329-811f3fb4-717e-11e8-93da-1de6b40414c9.p

[2018-06-16 14:05] #2280 closed

[2018-06-16 14:07] Karlasa opened #2282 "HTML escape at v2.1/frontend-dev-guide/layouts/layout-practice"
## This issue is a:
- [x] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
at https://devdocs.magento.com/guides/v2.1/frontend-dev-guide/layouts/layout-practice.html
bottom of the page just before "As a result, the customer links look like following:"
It's showing two closing divs

### Steps to reproduce

1.

[2018-06-16 14:57] #2282 closed

[2018-06-17 10:59] jeff-matthews opened #2290 "Broken link in performance best practices TOC"
## This issue is a:
- [X] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:

The **Advanced JavaScript Bundling**  link in the left nav/TOC of the [Performance Best Practices guide](https://devdocs.magento.com/guides/v2.2/performance-best-practices/index.html) is broken because the `guides/v2.2/performance-be

[2018-06-17 11:48] jeff-matthews commented on #1254
This is no longer valid.

[2018-06-17 11:48] #1254 closed

[2018-06-17 11:50] jeff-matthews commented on #1849
We've just finished scoping and planning the internal project that will solve this issue. Will update when more info is available, but we expect to complete this by the end of the year.

[2018-06-17 11:51] jeff-matthews commented on #1231
@noctufaber, did you ever figure out how to do this? If so, please consider creating a PR to update the docs. You can also just leave comments about how you did it and I'll update the docs.

[2018-06-17 11:54] jeff-matthews commented on #1224
@osrecio, is this something you could help us with?

[2018-06-17 12:41] mhauri commented on #2202
Hi @elibyy which magento version did you used and have you any modules/extensions installed?
Tried it on a vanilla Magento 2.2 and vanilla Magento 2.3 version, wasn't able to reproduce.

[2018-06-17 12:47] elibyy commented on #2202
@mhauri magento 2.2.4 with env.php file but with no access to the database

[2018-06-17 12:59] mhauri commented on #2202
Thank you for your reply @elibyy I tried it on a 2.2.4 with env.php and no running database.
Sadly I still can't reproduce the issue.

[2018-06-17 21:44] mhauri commented on #2202
Hi @elibyy the message "There are no commands defined in the "xxxx:yyyy" namespace." normally appears when Magento isn't installed properly. Try to reinstall Magento again or have a look into the log files.

[2018-06-18 06:17] victor-v-rad commented on #2248
The config.xml which is described previous section of the guide
https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html#migration-configure

[2018-06-18 15:28] #1876 closed

[2018-06-18 15:28] osrecio commented on #1224
For sure. Now I'm at MM18DE. I will check on Thursday.

[2018-06-18 15:29] jcalcaben commented on #1876
This issue has been addressed in #2238. Thanks for reporting it @SvanteAvenla !

[2018-06-18 20:30] #1162 closed

[2018-06-18 22:27] keharper opened #2297 "Resurrect updater topic"
## This issue is a:
- [ ] Bug on the website
- [x] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
The [Set up the updater (obsolete)](https://devdocs.magento.com/guides/v2.1/install-gde/prereq/prereq_updater.html) topic claims to be obsolete. @buskamuza stated that the updater is still present in the 2.3 code base.

This topic sho

[2018-06-19 21:21] MikeSheward commented on #1537
I agree, this stuff should just work out the box.

[2018-06-20 00:30] rafaelstz opened #2312 "Magento ^2.2.3 is not compatible with PHP 7.0"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [x] Other

## Description:
Magento 2.2.3 and 2.2.4 is not compatible with PHP 7.0

### Steps to reproduce

1. Upgrade Magento 2.2.2
2. Run `composer install`
3. You can see that some core components need PHP 7.1

## Expected result:
Run `composer install`

## P

[2018-06-20 21:35] lorikrell commented on #2290
Verified with Bruce - this is strictly a 2.3 topic. Updating the TOC in PR https://github.com/magento/devdocs/pull/2320

[2018-06-20 21:35] #2290 closed

[2018-06-22 18:35] techspotbr opened #2337 "Feedback on page: /guides/v2.2/install-gde/trouble/tshoot_wrong-mysql.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [x] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
I executed the article steps, but the bug was still. So I cleared the redis cache and it worked.
I suggest adding in the article this information for users who are using redis

### Steps to reproduce

1. First Step
2. Second Step
3. E

[2018-06-25 06:04] mhauri commented on #2312
Hello @rafaelstz which PHP 7.0 version did you use exactly?

As you can see in the [system requirements](https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html) some PHP 7.0 Versions aren't supported.

I tested a fresh install with PHP 7.0.27, and it worked.
`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition test-php-7.0

[2018-06-25 06:06] mhauri commented on #2337
Hi @techspotbr thank you for your feedback, I created a [Pull Request](https://github.com/magento/devdocs/pull/2345) to add this information to the section.

[2018-06-25 12:44] #2248 closed

[2018-06-25 12:47] jeff-matthews commented on #1224
Hi @osrecio, can you take a look at this this week?

[2018-06-25 13:53] #2337 closed

[2018-06-25 19:36] jeff-matthews commented on #1068
@valugi, I recreated the "no-styles" scenario in my nginx environment. Neglecting to create a virtual host file as specified [here](https://devdocs.magento.com/guides/v2.2/install-gde/prereq/nginx.html#configure-nginx-ubuntu) seemed to be the cause. Creating/configuring a virtual host seemed to fix my particular issue.

I'm not sure how likely it is that someone else will fail to configure a virtu

[2018-06-25 20:06] #1068 closed

[2018-06-26 06:17] mhauri commented on #2312
@rafaelstz thank you for the print screen, as far as I can see is that you use `composer install` this means it reads the versions from the composer.lock file. Maybe the lock file was generated on a system with PHP 7.1, so what you can try is to use `composer update`.

[2018-06-26 13:53] BabliDey opened #2368 "Add custom atttibute like autofill in already existing field in checkout form"
## This issue is a:
- [ ] New topic request

## Description:
In my custom module checkou layout processor.php page added
$jsLayout['components']['checkout']['children']['steps']['children']['shipping-step']['children']
                    ['shippingAddress']['children']['shipping-address-fieldset']['children']['telephone']['autocomplete'] = 'section-blue shipping telephone';

### Steps to reproduc

[2018-06-26 13:54] amvapor opened #2369 "Feedback on page: /guides/v2.2/cloud/project/project-conf-files_services-rabbit.html"
## This issue is a:
Topic clarification request

## Description:
The Magento documentation states simply:

However when looking at RabbitMQ's documentation, we find:

https://www.rabbitmq.com/which-erlang.html

Please Clarify if additional versions of RabbitMq are supported
Alternatively, and likely better, please provide a protocol to which compliance is required.

## Possible solutions:

Updates

[2018-06-26 15:28] valugi opened #2370 "RabbitMQ version recommended by M2.2 is EOF for more than 1 year"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [x ] Other

## Description:
M2.2 [recommends](https://devdocs.magento.com/guides/v2.2/install-gde/prereq/install-rabbitmq.html) installing RabbitMQ 3.5.x, which [has finished](https://www.rabbitmq.com/which-erlang.html) his life in 2017-09-11 and its use is not

[2018-06-26 15:30] jeff-matthews commented on #2370
Related to #2369

[2018-06-26 15:35] skotasthane opened #2371 "Add recommendation for database backup scheduling"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [x] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
Admins may define maintenance schedule that takes a backup of both the production and staging databases at the same time. This will actually run more slowly than running them one after the other, due to contention for the available re

[2018-06-26 15:53] lorikrell commented on #2370
Not related to Cloud specifically. More system requirements for install.

[2018-06-27 07:14] osrecio commented on #1224
I tested the config from @sgnsajgon and seems to be ok. I compared with other projects in production with Apache and is so similar.

I will create a PR to add the advices I think is a good idea to have a guideline if is your first time with Magento and Apache configuration.

IMHO the Apache configuration depends at all of your environment although it is true that we can have a "standard".

[2018-06-27 12:30] jeff-matthews commented on #1224
Thanks @osrecio!

[2018-06-27 16:39] danmooney2 opened #2381 "UI Component overview shows wrong method for execution"
## This issue is a:
- [x] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/bk-ui_comps.html#javascript-class has this image:
https://devdocs.magento.com/common/images/ui_comp_js_class.png.  The execution method should be `initialize`, not `initialization`

[2018-06-27 16:49] rafaelstz commented on #2312
Thanks @mhauri

[2018-06-27 16:49] #2312 closed

[2018-06-27 18:28] dougkm opened #2384 "Feedback on page: /guides/v2.2/release-notes/ReleaseNotes2.2.5EE.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [X] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

In the following paragraph:

"Merchants can now run the catalog search full text indexer and category product indexer in parallel mode by store view, which can significantly increase indexer:reindex execution time when running Magento with multiple s

[2018-06-28 00:54] dougkm opened #2387 "Feedback on page: /guides/v2.2/cloud/access-acct/fastly.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [x] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

The section with the Origin Shield locations needs to also include the Cloud PaaS region to Shield locations mappings  for starter customers.

### Steps to reproduce

1. First Step
2. Second Step
3. Etc.

## Expected result:

## Possible solutions:

[2018-06-28 03:19] jfrontain commented on #2384
Thanks, @dougkm. I've made the correction (changed "increase" to "decrease") and have published the revision.

[2018-06-28 03:19] #2384 closed

[2018-06-28 18:17] jaustinlam opened #2395 "Incorrect information on page: guides/v2.2/cloud/basic-information/cloud-plans.html"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [ X] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
This page states that BI Essentials is only available for Cloud Pro, it is also available on Cloud Starter. The AWS Managed VPN Connection Service access is not currently offered for either plan.

### Steps to reproduce

1. First Ste

[2018-06-28 20:03] hguthrie commented on #2395
Thanks for pointing this out. Created an internal ticket to fix this issue.

[2018-06-30 13:48] hostep opened #2401 "Link to the deps-map.sh file on Advanced JavaScript bundling page isn't working"
## This issue is a:
- [x] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
On https://devdocs.magento.com/guides/v2.3/performance-best-practices/advanced-js-bundling.html#advanced-bundling there is a link to the file `deps-map.sh`, but it isn't working currently.
The file actually exist, but my guess is that

[2018-07-02 15:49] keharper opened #2403 "Document GraphQL CMS endpoint"
Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/31

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/105

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?

[2018-07-02 16:08] keharper opened #2404 "Document support for mutations in GraphQL"
Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/74

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/114

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?

[2018-07-02 16:20] keharper opened #2405 "Alphabetize fields/parameters in GraphQL docs"
Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/11

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/104

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?

[2018-07-02 16:29] keharper opened #2406 "Update CustomAttributeMetadata endpoint topic to include attribute_options field"
Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/custom-attribute-metadata.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/87

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/108

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Not

[2018-07-02 16:31] shrielenee commented on #2370
Hey @valugi - Are you installing on CentOS or Ubuntu?

[2018-07-02 18:24] valugi commented on #2370
correct. Centos 7

[2018-07-02 19:40] keharper opened #2407 "Add/update GraphQL URL Rewrite docs"
Type of Doc:
- [x] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/products.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/84

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/107

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Cha

[2018-07-02 19:57] keharper opened #2408 "List Admin fields that affect GraphQL responses"
Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/25

Magento 2 GitHub PRs:
https://github.com/magento/graphql-ce/pull/103
https://github.com/magento/graphql-ce/pull/112

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to A

[2018-07-02 20:04] keharper opened #2409 "Change canonical_url to relative_url"
Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/url-resolver.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/80

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/94

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of

[2018-07-03 06:59] mhauri commented on #2202
Hi @elibyy just wanted to ask if the problem still exists? Otherwise, I would be glad if you could close the issue.

[2018-07-03 08:17] elibyy commented on #2202
Hey,
sorry about the delay, currently I'll be closing this issue as I cannot reproduce it either, if I'll be able to reproduce will reopen this issue.

Thanks for the support 👍

[2018-07-03 08:17] #2202 closed

[2018-07-03 13:22] kanduvisla opened #2417 "Feedback on page: /guides/v2.2/frontend-dev-guide/themes/js-bundling.html"
## This issue is a:

- [ ] Wrong information in the documentation

## Description:

The documentation status that to enable JavaScript bundling, you need to have your site set in production mode and then navigate to "Stores > Configuration > Advanced > Developer". However, since Magento 2.2, the "Developer"-tab is no longer visible in the configuration.

### Steps to reproduce

Read the docs

## E

[2018-07-03 13:49] lorikrell opened #2419 "Add contributing.md to DevDocs"
## This issue is a:
- [ ] Bug on the website
- [x] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
Add a CONTRIBUTING.md file to the DevDocs walking through the basics with links to sample templates, etc.

## Expected result:

* Add CONTRIBUTING.md file.
* Move/add info from the [DevDocs Contribution Guide](https://devdocs.magento.

[2018-07-03 14:58] lorikrell opened #2421 "2.2.5 CLI command option for app:config:dump"
## This issue is a:
- [ ] Bug on the website
- [x] New topic/content request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:
Add option `config-types` on `app:config:dump` from Community contribution, PR: https://github.com/magento/magento2/pull/12410

Content was originally written and merged during 2.2.5 (devdocs_internal PR 1925). But the content

[2018-07-03 15:46] shrielenee commented on #792
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to create a new issue if necessary. Thank you for continued collaboration and ass

[2018-07-03 15:46] #792 closed

[2018-07-03 15:46] shrielenee commented on #974
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to create a new issue if necessary. Thank you for continued collaboration and ass

[2018-07-03 15:46] #974 closed

[2018-07-03 15:46] shrielenee commented on #365
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to create a new issue if necessary. Thank you for continued collaboration and ass

[2018-07-03 15:46] #365 closed

[2018-07-03 15:48] shrielenee commented on #958
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to create a new issue if necessary. Thank you for continued collaboration and ass

[2018-07-03 15:48] #958 closed

[2018-07-03 15:48] shrielenee commented on #1027
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to create a new issue if necessary. Thank you for continued collaboration and ass

[2018-07-03 15:48] #1027 closed

[2018-07-03 15:49] shrielenee commented on #770
Hello! We are archiving this ticket. We have an internal ticket tracking this issue. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to create a new issue if necessar

[2018-07-03 15:49] #770 closed

[2018-07-03 15:51] shrielenee commented on #1033
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2018-07-03 15:52] #1033 closed

[2018-07-03 15:55] shrielenee commented on #1041
Hello @astorm ! We are going to go ahead and archive this ticket. We haven't had the bandwidth to facilitate a comprehensive solution using the information you've kindly provided for us here. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.
 
Please feel free to create a new issue if necessary. Thank

[2018-07-03 15:55] #1041 closed

[2018-07-03 15:56] shrielenee commented on #1072
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2018-07-03 15:57] #1072 closed

[2018-07-03 16:05] shrielenee commented on #1169
Thanks for bringing this to our attention! We are actually currently working on improving all of our UI components documentation. This is on our radar and we will consider it as we work to revise that documentation. I'll be closing this for now - so stay tuned for components docs updates!

[2018-07-03 16:05] #1169 closed

[2018-07-03 16:09] jcalcaben commented on #1172
Hi @dougkm this issue has been fixed. Thanks for reporting it!

[2018-07-03 16:09] #1172 closed

[2018-07-03 16:11] jcalcaben commented on #1176
Closing this issue since the PR has been merged.

[2018-07-03 16:11] #1176 closed

[2018-07-03 16:15] shrielenee commented on #1180
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.
 
Please feel free to create a new issue if necessary. Thank you for continued collaboration and as

[2018-07-03 16:15] #1180 closed

[2018-07-03 16:18] shrielenee commented on #1191
Hello! We are archiving this ticket. Our Magento Community and Core developers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.
 
Please feel free to create a new issue if necessary. Thank you for continued collaboration and as

[2018-07-03 16:18] #1191 closed

[2018-07-03 16:19] #1215 closed

[2018-07-03 16:25] shrielenee commented on #1222
Hey @irenelagno - This is regarding the last section of https://devdocs.magento.com//guides/v2.1/howdoi/checkout/checkout_new_field.html. Can you help us out with this? Thanks!

[2018-07-03 16:26] shrielenee commented on #1222
Hey @gelanivishal - Do you have info on this? Thanks in advance!

[2018-07-03 16:29] shrielenee commented on #505
Hi @rafaelstz - Is this something you can help us with? It requires using the solution documented in the link above and adding it to the relevant page. Let us know! 💯

[2018-07-03 16:57] irenelagno commented on #1222
@shrielenee Depends on business logic. You can add plugins on api calls which uses on checkout to verify if data exists. For example
[code]

[2018-07-03 17:05] jfrontain commented on #1120
@korostii, I'm sorry for the long delay in resolving this issue. Looks as though we removed the fixed issue description as you suggested, but did not describe the problem as a known issue. That MAGETWO issue is still unresolved, but we did not get the go-ahead to call it out in the release notes. I'm closing this particular doc issue and suggest that if you still feel strongly about the unresolved

[2018-07-03 17:05] #1120 closed

[2018-07-03 17:24] hostep commented on #1180
@dshevtsov: can we assume that Magento Open Source is supported for the same amount of time as Magento Commerce? Since the [last release of 2.0 for Open Source](https://github.com/magento/magento2/releases/tag/2.0.18) was on 27 February 2018 and that seems to match the date (March 2018) mentioned in [the document you referred to](https://magento.com/legal/terms/enterprise-agreement).

It also look

[2018-07-03 18:02] jfrontain commented on #1119
@korostii, I am closing this issue now. We updated the workaround to the best of our abilities last year and hope that users have upgraded to a more recent version of 2.1.x by now. Thanks, as always, for your thoughtful and always helpful suggestions.

[2018-07-03 18:02] #1119 closed

[2018-07-03 18:41] mzeis commented on #1180
@hostep To my knowledge, EOL for Open Source is 2 years after launch. The only official source I can refer to is this [Tweet](https://twitter.com/ProductPaul/status/748302089554583553) by Paul who was Director of Product Management at Magento.

I will try to get some feedback on this.

[2018-07-03 19:58] lorikrell commented on #2419
Completed work. PR https://github.com/magento/devdocs/pull/2422

[2018-07-03 19:58] #2419 closed

[2018-07-03 21:07] jfrontain commented on #1470
Closing this issue per @buskamuza's suggestion.

[2018-07-03 21:07] #1470 closed

[2018-07-03 21:35] jfrontain commented on #1337
@franckgarnier21, we've just updated the third-party license information for 2.2. Thanks for your help and your patience!

[2018-07-03 21:35] #1337 closed

[2018-07-03 21:52] bdenham commented on #2417
Good catch, @kanduvisla. I will update this soon.

[2018-07-04 09:39] ProcessEight opened #2426 "List of 'minimal' required PHP extensions does not include all dependencies required by Composer"
## This issue is a:
- [x] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:

The DevDocs page https://devdocs.magento.com/guides/v2.2/performance-best-practices/software.html#php-extensions suggests to remove all PHP extensions, except for a whitelist. However, if you do this and then try and run either compo

[2018-07-04 11:40] gelanivishal commented on #1222
@shrielenee @terryx
After perform this **Step 4: Add field to address model** step,

Now clear the var/generation when you run `setup:di:compile` command, new getter and setter methods will be added in `/var/generation/Magento/Checkout/Api/Data/ShippingInformationExtensionInterface.php`

Now you can set/get these attributes value by creating the instance of `Magento/Checkout/Api/Data/ShippingInfor

[2018-07-04 12:56] DenyVeyten opened #2427 "Instantiation and resources section unclear on jQuery widget coding standard topic"
## This issue is a:
- [ ] Topic clarification request

## Description:
`Instantiation and resources` section unclear (misleading or obsolete?)

## Expected result:
What is `$.mage.components` and `$.mage.extend` methods, example of usage
What is benefits of usage $.mage.extend() and $.mage.components().

[2018-07-05 17:33] rafaelstz commented on #505
I'm taking a look @shrielenee .

[2018-07-05 18:34] shrielenee commented on #1222
Thanks @gelanivishal! Can you implement these changes in the docs and push up for review? @jcalcaben can then approve or request changes as needed. 🏆

[2018-07-06 08:48] gelanivishal commented on #1222
@shrielenee Let me create a PR for it.

[2018-07-06 15:09] ajithcorratech opened #2440 "r ps"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [ ] New DevDocs feature request
- [ ] Other

## Description:

### Steps to reproduce

1. First Step
2. Second Step
3. Etc.

## Expected result:

## Possible solutions:

## Additional information:

[2018-07-06 17:45] #1222 closed

[2018-07-06 18:28] jfrontain commented on #1428
Hi @ekuusela, I see that Piotr answered your question about 2.2.0. I wanted to add that we are adding a note to the next set of release notes similar to the following note, and we'll continue adding this information to the release notes for all subsequent releases. Thanks again for this suggestion!

"All exploitable security issues fixed in this release (2.2.6 ) have been back ported to 2.1.15 , 1

[2018-07-06 18:28] #1428 closed

[2018-07-06 20:47] GuitarKat opened #2441 "Page in 2.2.x not reflected and is missing on 2.1.x - Not sure if intentional"
## This issue is a:
- [ ] Bug on the website
- [ ] New topic request
- [ ] Topic clarification request
- [x] New DevDocs feature request
- [x] Other

## Description:

https://devdocs.magento.com/guides/v2.2/comp-mgr/install-extensions.html is not existing in https://devdocs.magento.com/guides/v2.1/comp-mgr/install-extensions.html - is this intentional?

### Steps to reproduce

1. Go to https://dev

[2018-07-08 09:38] mzeis commented on #1180
@hostep This isn't the official word by Magento (it will be clarified soon, hopefully), but based on responses I got from core members this is my new personal working hypothesis: https://www.magento.com/legal/terms refers to https://www.magento.com/sites/default/files/magento-software-lifecycle-policy.pdf and Open Source follows the same time deadlines as mentioned for Commerce.

This would mean t

[2018-07-08 14:03] hostep commented on #1180
Thanks for pursuing this @mzeis. Your interpretation is the same as mine and makes the most sense. Since Magento Commerce relies on Magento OS code, so it makes sense that OS is supported as long as Commerce itself.

[2018-07-09 13:06] #2440 closed

[2018-07-09 13:18] jeff-matthews commented on #2441
Hi @GuitarKat! Thanks for contributing to devdocs. I don't think the 2.1 version was intentionally omitted. We just need to create a 2.1 version of the file and symlink it to the 2.2 and 2.3 directories.

[2018-07-09 15:04] #2441 closed

[2018-07-10 03:50] Orstio opened #2456 "Feedback on page: /guides/v2.2/migration/migration-migrate-delta.html"
# General issue
It should be noted here somewhere that you need the tables the migration initially created in the Magento 1 database in order to perform the delta.  If you wipe the Magento 1 database and try to do the delta, it will fail with the error:

 Deltalog for customer_entity is not installed

## Description:

It is not at all mentioned that the tables created during the initial migration

[2018-07-10 15:06] #2401 closed

[2018-07-10 22:20] jfrontain commented on #2065
@victortodoran, thanks so much for your comment. I'm updating that section of the discussion with the following text, approved by one of our architects. Thanks again for your help and please send more suggestions our way.

Note about Magento request processing
Magento processes a URL request by first stripping off the base URL. The first path segment of the remaining URL identifies the request are

[2018-07-10 22:20] #2065 closed

[2018-07-11 11:07] mhauri commented on #2368
Hi @BabliDey
GitHub is intended for bug reports only, please use [Magento Stack Exchange](https://magento.stackexchange.com/) for questions on how particular customisation can be implemented.

[2018-07-11 11:07] #2368 closed

[2018-07-11 20:32] jcalcaben opened #2487 "Swagger docs console errors"
# Bug report

## Description

The following JavaScript errors show up on the console on the swagger pages:

[code]

[code]

### Steps to reproduce

1. Open swagger docs: https://devdocs.magento.com/swagger/index_23.html
2. Inspect the page
3. Click on the **Console** tab to see the errors

## Expected result

Page loads with no JavaScript errors in the console.

## Possible solutions

### Missing

[2018-07-11 20:49] keharper commented on #2487
The instance of Swagger that ships with Magento has an api_key field in the top right corner. This field is hidden for the devdocs version.

Also, Magento graphic needs to be updated .

[2018-07-11 21:35] #2409 closed

[2018-07-11 21:38] keharper commented on #2409
Closed per [PR-2451](https://github.com/magento/devdocs/pull/2451)

[2018-07-12 09:12] osrecio commented on #2190
@lorikrell I can update this page. Is ok for you?

[2018-07-12 14:32] lorikrell commented on #2190
@osrecio Of course! :) Feel free to take this one.

[2018-07-13 06:48] Arthi22 opened #2503 "Magento facebook store extension installation"
# New feature request

## Description

http://absolutebedding.com.sg/test/admin/
username admin
password joom123!@#sphere
[Facebook_store_application-0.1.7.zip](https://github.com/magento/devdocs/files/2191563/Facebook_store_application-0.1.7.zip)

## Expected result

We need to upload this extension. The plugin developer informed to contact the magento support.

## Benefits

## Possible solutions

[2018-07-13 14:11] mhauri commented on #2503
Hi @Arthi22
The Devdoc Github is only intended for issues/feature request with the Devdocs.
Actually you should first check with your integrator, as Magento only offers Support for Commerce (Enterprise) Clients.

Also you shouldn't never reveal your password in any form.
I will close this issue. I also suggest to change your password immediately as it is public to anyone.

[2018-07-13 14:11] #2503 closed

[2018-07-13 14:25] bdenham commented on #2381
Closing this issue as it is being fixed in this PR: https://github.com/magento/devdocs/pull/2469

[2018-07-13 14:25] #2381 closed

[2018-07-16 09:51] osrecio commented on #2190
Thanks @lorikrell , I overrided a `config-cli-subcommands-cache.md` with new cache type `compiled_config`.

[2018-07-17 14:50] lorikrell commented on #2190
Reviewing the PR and working to merge. Looks great@

[2018-07-17 14:52] lorikrell commented on #2190
Accepted PR. @osrecio thank you for the contribution!

[2018-07-17 14:52] #2190 closed

[2018-07-18 17:13] Andreavbr opened #2541 "Magento 2.5, Pagina Principal(LUMA)"
La pagina principal de magento 2.5 (LUMA) intento registrar o iniciar sesion con un cliente y se recarga en el mismo sitio y no inicia, ni registra clientes...

Ya borre cache, actualice, borre la carpeta pub/static y aun asi el problema persiste

[2018-07-18 18:22] Andreavbr opened #2544 "METODOS DE PAGO PAYPAL MAGENTO"
Estoy intentando realizar una apps con magento y la estoy tratando de configurar con paypal pero debo de colocar el code de el, algo asi como lo que esta en rojo y no logro desifrar cual es? Estoy utilizando PayPal Express Checkout

[2018-07-18 20:00] jeff-matthews commented on #2544
hi @Andreavbr,

Since I'm not fluent in Spanish, I used Google Translate to translate your comment.

Based on your feedback, it doesn't seem like your issue is related to Magento documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/).

To

[2018-07-18 20:00] #2544 closed

[2018-07-19 10:00] Taral-Patoliya opened #2552 "Topic Correction: Magento Framework correction about the class paths mentioned in the DataObject namespace"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.2/architecture/archi_perspectives/framework.html

## Description

Under the "Highlights of Magento Framework", the following entries need to be reviewed
Magento\Framework\DataObject\Model
Magento\Framework\DataObject\AbstractModel  
Magento\Framework\DataObject\AbstractResource 
Magento\Framework\DataObje

[2018-07-21 04:02] rafaelstz commented on #505
@shrielenee I think that this page below is the more relevant page to add it, what do you think? I can create the usual way, then create an optional and dynamic way to add the label.

https://devdocs.magento.com/guides/v2.2/ext-best-practices/extension-coding/example-module-adminpage.html

[2018-07-21 14:31] amoin-magento opened #2575 "Feedback on page: /guides/v2.2/cloud/onboarding/onboarding-tasks.html"
# General issue

The starter and pro architecture links are broken.

[2018-07-21 20:53] denistrator opened #2578 "Add info how to declare custom less mixins"
There is info in M2 docs how to declare custom variables or how to override existing less variables.
For example: custom less variables can be define in theme in `web/css/source/_variables.less`
But where custom less mixing must be declared?

[2018-07-22 21:55] siniztr opened #2581 "Installation won't complete > fCGI conflict?"
# Bug report

## Description

Installation script freezes after installing modules

### Steps to reproduce
Doing full install from package downloaded from magento.com (with samples) on Ubuntu server with PHP7.1 and FastCGI/HTTP2.

1. First Step
Upload files via sFTP to server
2. Second Step
Do webinstall and create database using phpmyadmin. All modules enabled.

## Expected result

Full and succe

[2018-07-23 09:29] mohitmehta1996 opened #2583 "Feedback on page: /guides/v2.1/release-notes/ReleaseNotes2.1.4CE.html"
# General issue
Issue in checkout for multiple address.

## Description:
If a customer has 3 address and if any of the address is not complete then magento does not let him checkout even though he has selected complete address for shipping & billing.

I have migrated from magento 1 to magento 2.1.4. So some customers have missing region or postcode. So it cause above issue.

[2018-07-23 12:46] jeff-matthews commented on #2575
@hguthrie, the broken links are in this section: https://devdocs.magento.com//guides/v2.2/cloud/onboarding/onboarding-tasks.html#project-setup.

Those links use the `{{site.baseurl}}` variable, but they should probably use the `{{page.baseurl}}` variable instead. Also, the Pro Architecture link contains the wrong path to the file.

[2018-07-23 12:59] jeff-matthews commented on #2581
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/).

To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magent

[2018-07-23 12:59] #2581 closed

[2018-07-23 13:06] jeff-matthews commented on #2583
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/).

To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magent

[2018-07-23 13:06] #2583 closed

[2018-07-23 13:11] siniztr commented on #2581
Hmmm that's strange I thought I went to the Magento 2 GitHub. Apologies.

[2018-07-23 14:41] hguthrie commented on #2575
I am adding Margaret. She worked on this topic recently and wants to address it.

[2018-07-23 14:55] meker12 commented on #2575
@mage2pratik Thanks for fixing the broken links.

[2018-07-23 14:55] #2575 closed

[2018-07-23 17:22] lorikrell opened #2594 "Add porting strategies to Code Contributions content in DevDocs"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html v2.1, 2.2, 2.3

## Description
Add content on porting strategies for code contributions from Magento Wiki:
https://github.com/magento/magento2/wiki/Simple-way-to-port-your-solutions-automatically
https://github.com/magento/magento2/wiki/Up-porting-and-back-porting-of-

[2018-07-23 19:04] jcalcaben commented on #2578
Hi @denistrator ! Please format the content of this issue to match one of the pre-set issue templates:
https://github.com/magento/devdocs/issues/new/choose

Thanks!

[2018-07-24 15:12] keharper commented on #2427
@bdenham  Can you take this on? Be sure to get advice from an architect.

[2018-07-24 15:16] keharper commented on #2456
@dmrachkovskyi Can you help on this one?

[2018-07-24 15:19] keharper commented on #2487
We'll need to open a DevOps ticket, most likely.

[2018-07-24 15:22] keharper commented on #2578
@bdenham Can you follow up with this?

[2018-07-24 18:05] bdenham commented on #2578
Hi @denistrator!, Is this what you are looking for? https://devdocs.magento.com/guides/v2.2/coding-standards/code-standard-less.html#mixins

[2018-07-24 18:39] denistrator commented on #2578
@bdenham hi. No this is not. I need to know where I should put my custom less mixins. I think it's possible that there's no place for it yet. Need to check it

[2018-07-24 20:13] bdenham commented on #2578
@denistrator, I just talked to @bassplayer7 and in his own words:

I the coming days, I will include a new devdocs topic to address this gap. In the meantime, I hope the above info helps.

[2018-07-25 01:40] summerrector opened #2605 "Feedback on page: /guides/v2.2/ui_comp_guide/bk-ui_comps.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2018-07-25 12:07] Januszpl opened #2609 "Static files fall back mechanism docs clarification"
# Topic clarification/correction request
Theme inheritance

## Topic Link
https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/theme-inherit.html

## Description
There is issue with docs about overriding static files.

Section "If module context is not defined for a file" seems correct but if "module context is defined for a file" seem it doesn't work (path nr 1) for case like:

[code

[2018-07-25 13:54] jeff-matthews commented on #2605
@summerrector,

At a minimum, you must complete the **Description** section of the issue template to provide feedback.

[2018-07-25 13:54] #2605 closed

[2018-07-26 04:41] kunal1234gh opened #2619 "Feedback on page: /guides/v2.2/extension-dev-guide/versioning/codebase-changes.html"
# General issue
What is the difference between public code and private code
## Description:
Please give one example for  public code and private code

## Possible solutions:
Explanation required for  public code and private code

## Additional information:

[2018-07-27 20:47] lorikrell commented on #2371
@skotasthane - I have generated a PR if you want to look over the information. Thanks!

[2018-07-27 21:16] denistrator opened #2634 "Prerequisites / MySQL / Installing and configuring. Add reminder to start mysql service"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.2/install-gde/prereq/mysql.html#instgde-prereq-mysql57-ub16

## Description
In `Installing and configuring MySQL 5.7 on Ubuntu 16` section, under `To install MySQL 5.7 on Ubuntu 16:` steps it would be nice to add step after first step to remind user to start Mysql.

## Possible solutions
Add step after cu

[2018-07-30 13:55] lorikrell commented on #2371
Content approved and PR merged. Closing issue. Thank you!

[2018-07-30 13:55] #2371 closed

[2018-07-30 13:56] lorikrell commented on #2594
Content approved and PR merged! Closing issue.

[2018-07-30 13:56] #2594 closed

[2018-07-30 15:50] lorikrell commented on #2184
Already live in https://github.com/magento/devdocs/blob/develop/.github/CONTRIBUTING.md
Closing ticket

[2018-07-30 15:50] #2184 closed

[2018-07-30 17:04] lorikrell opened #2645 "Add GitHub 2FA info to Community Contributions guide"
# Topic clarification/correction request

## Topic Link

Potential topics to update:

https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html
https://github.com/magento/devdocs/blob/develop/.github/CONTRIBUTING.md

## Description

For GitHub code contributions, 2FA is required for partners and nice-to-have for public. For details see: https://community.magento.com/t5/Magento-De

[2018-07-30 21:59] lorikrell commented on #2645
Completed. Closing as content was merged in PR.

[2018-07-30 21:59] #2645 closed

[2018-07-31 14:49] hostep opened #2655 "'</div> </div>' output on Creating a Magento admin page"
# Bug report

## Description

On [Creating a Magento admin page](https://devdocs.magento.com/guides/v2.2/ext-best-practices/extension-coding/example-module-adminpage.html) in the section 'Routing and navigation' I'm seeing `</div> </div>` being outputted.

See:

<img width="607" alt="screen shot 2018-07-31 at 16 47 01" src="https://user-images.githubusercontent.com/85479/43467262-a4c587bc-94e1-11e

[2018-07-31 15:43] shrielenee commented on #1179
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

If you believe that the reported problem needs further review, please open a new issue

[2018-07-31 15:43] #1179 closed

[2018-07-31 15:52] shrielenee commented on #1226
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2018-07-31 15:53] #1226 closed

[2018-07-31 15:57] shrielenee commented on #1292
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.
 
If you believe that the reported problem needs further review, please open a new issu

[2018-07-31 15:57] #1292 closed

[2018-07-31 16:01] jcalcaben commented on #1479
@csned do you have any updates for this issue?

[2018-07-31 16:02] shrielenee commented on #1385
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.
 
If you believe that the reported problem needs further review, please open a new issu

[2018-07-31 16:03] #1385 closed

[2018-07-31 16:06] shrielenee commented on #1451
I have added this issue to our UI components work planning documentation for us to address in the scope of components work. Thanks!

[2018-07-31 16:08] shrielenee commented on #1386
Hello! We are archiving this ticket. Our Magento Community and Core developers and writers haven't had the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.
 
If you believe that the reported problem needs further review, please open a new issu

[2018-07-31 16:09] #1386 closed

[2018-07-31 16:12] shrielenee commented on #1409
Hi @dshevtsov - Can you take a look at this? Thanks! 💯

[2018-07-31 16:15] jcalcaben commented on #1526
@likemusic We are currently migrating all HTML content to markdown. Closing this issue since HTML link conversion is part of this effort.

[2018-07-31 16:15] #1526 closed

[2018-07-31 16:28] shrielenee commented on #1602
Hey @dshevtsov - Have you had a chance to review this? It looks like the deprecated tag can be removed.

[2018-07-31 16:31] shrielenee commented on #1631
Yo @lorikrell - any news on this? 👋 Thanks!

[2018-07-31 16:38] hguthrie commented on #1531
Because this repository is very active, there is a potential for broken links to emerge at any time. Thank you for helping us keep the links up to date. We are closing this issue because many links have been fixed. If you encounter any new broken links, feel free to create a new GitHub issue, or submit a pull request with a fix.

[2018-07-31 16:38] #1531 closed

[2018-07-31 16:45] lorikrell commented on #1436
Revisiting and pulling together all issues for Pipeline deployment for devdoc updates.

[2018-07-31 16:48] lorikrell commented on #2103
Revisiting and pulling together all issues for Pipeline deployment for devdoc updates.

[2018-07-31 16:49] lorikrell commented on #2104
Revisiting and pulling together all issues for Pipeline deployment for devdoc updates.

[2018-07-31 16:58] shrielenee commented on #505
Hi @rafaelstz - our very own @vrann documented the solution in the [mentioned issue](https://github.com/magento/magento2/pull/2626#issuecomment-305904005) back in 2017. However, if you know of another or more efficient way to accomplish this we absolutely welcome your work.

We would love it if you submitted a PR for this - please do! I'll check back here in a weeks time to get an update on your p

[2018-07-31 19:46] dshevtsov commented on #2297
The correct diff is: 821c880d460013e7accdabcd4605c1db78ecfab6#diff-59d53e8ee269bae443eecf2019e17359

[2018-08-01 20:54] skotasthane opened #2664 "Feedback on page: /guides/v2.2/install-gde/system-requirements-tls-parent.html"
Should this page be empty? or removed?

[2018-08-02 00:55] meker12 commented on #2387
@dougkm  Apologies for the delayed response.  I created a [JIRA ticket](https://magento2.atlassian.net/browse/MAGECLOUD-2552) to provide info about Fastly setup for customers on the Cloud Starter plan.

In the meantime, there's a KB article that explains [how to configure Fastly on Starter:](https://support.magento.com/hc/en-us/articles/360002491773-Set-up-Fastly-for-Starter-plan-on-Cloud):

Are y

[2018-08-02 06:06] mhauri commented on #2634
Hi @denistrator thanks for pointing out, it's now added to the devdocs.

[2018-08-02 06:06] #2634 closed

[2018-08-02 12:25] jeff-matthews commented on #2664
@skotasthane, thanks for raising this issue. We definitely shouldn't be publishing blank pages. I think the page should redirect to https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements_repo-tls1-2.html.

[2018-08-03 11:16] LouNik1984 opened #2676 "misleading documentation"
# Topic clarification/correction request
Official documentation leads people to install a version of php which is not compatible with magento. Documentation should be changed to avoid this.

## Topic Link
https://devdocs.magento.com/guides/v2.2/install-gde/prereq/nginx.html

## Description
- Go to magento official guide at page https://devdocs.magento.com/guides/v2.2/install-gde/prereq/nginx.html

[2018-08-03 12:32] jeff-matthews commented on #2676
Great catch @LouNik1984. I think we should also update the method of downloading the Magento software from an archive to Composer.

[2018-08-03 12:45] jeff-matthews opened #2677 "Feedback on page: /guides/v2.2/config-guide/deployment/pipeline/example/rsync.html"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.2/config-guide/deployment/pipeline/example/rsync.html

When I see this topic, I expect to see an example about using rsync to manage shared configuration settings, as the title suggests (_Using rsync_). However, there is no information about rsync in this topic.

## Possible solutions:

1) Change the topic title (and TOC title

[2018-08-03 13:40] hostep commented on #2655
Got fixed by https://github.com/magento/devdocs/pull/2669

[2018-08-03 13:40] #2655 closed

[2018-08-03 14:26] keharper opened #2678 "Additional Elasticsearch documentation updates"
# Topic clarification/correction request

It has already been documented that as of 2.3, Open Source supports Elasticsearch. @paliarush identified a few more documentation tasks relating to the fact that MySQL catalog searches are deprecated in 2.3:

* Help create a banner message to notify merchants that these searches are deprecated for 2.3 and to encourage them to switch to Elasticsearch now.

[2018-08-03 15:11] LouNik1984 commented on #2676
I agree about composer, to this day I still haven't figure out what's the reccomended way to install magento. Some pages of the documentation goes towards composer, but then they say that you shouldn't use composer on a shared host but then again composer is mandatory for upgrades but then you shouldn't use it on production environment... But again, I don't find any other people who mention this t

[2018-08-03 15:15] jeff-matthews commented on #2676
I don't think it's just you. Historically, we haven't made a solid recommendation. We're currently working on some update however that will make it more clear.

Also, we recently rewrote the [Composer install topic](https://devdocs.magento.com/guides/v2.2/install-gde/composer.html) to be more clear and concise. In general, Composer is the best way to install Magento.

[2018-08-03 20:30] shrielenee commented on #2664
Hey @skotasthane - I'm working to fix this up! Can you tell me how you came across this blank page? Was it from a site search, Google search, or from the nav? Thanks!

[2018-08-03 20:38] shrielenee commented on #2664
I've added a redirect to v2.0 and v2.1 (which 2.2 and 2.3 are symlinked to) to direct visitors to the correct, non-blank page: /install-gde/system-requirements_repo-tls1-2.html.

Because of symlinking, the v2.2 and v2.3 versions redirect to the v2.3 version of https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements_repo-tls1-2.html. We are making the decision not to break the symli

[2018-08-03 21:16] skotasthane commented on #2664
I was searching for 'tls' in magento dev docs. so, you can say 'site search' is how I came across this

[2018-08-03 21:57] jeff-matthews commented on #2664
As soon as you delete the empty file Shrie, we'll reindex the site so that it doesn't show up in our site search. We can do that Monday.

[2018-08-04 16:53] hguthrie commented on #1479
So, I have tested a successful, local deploy of DevDocs on Windows using a combination of Git Bash and the Chocolatey package manager. Chocolatey allows extensions for Ruby version management, much like Hombrew. You can isolate the local DevDocs repository management and builds through Git Bash without affecting your normal Windows systems settings. I am sure there is a lot of customization availa

[2018-08-06 10:16] rubenexp opened #2685 "Feedback on page: /guides/v2.2/b2b/credit-manage.html"
# General issue

## Description:
The documentation in section https://devdocs.magento.com/guides/v2.2/b2b/credit-manage.html#update-a-company-credit-limit says the creditLimit can be updated based on companyID, but the PUT endpoint does not exist in 2.2.5.

## Possible solutions:

Remove the section, or make this endpoint available for the API.

[2018-08-06 14:01] lorikrell commented on #1479
This sounds great to me!

[2018-08-06 14:18] shrielenee commented on #2664
Thanks for bringing this to our attention @skotasthane. I have an open PR to remedy this. 🥇

[2018-08-06 14:19] #2664 closed

[2018-08-06 14:27] keharper commented on #2685
@rubenexp Thanks for making us aware of this. The endpoint route was listed correctly at the top of the topic. I've corrected the route to `PUT /V1/companyCredits/:id`.

Fixed in[ PR-2689](https://github.com/magento/devdocs/pull/2689)

[2018-08-06 14:27] #2685 closed

[2018-08-06 15:29] dshevtsov commented on #1308
Adding the annotations topics in #2665

[2018-08-06 17:40] #2677 closed

[2018-08-06 23:04] buskamuza commented on #1155
@steros, technically there should not be a restriction to load `di.xml` from a specific area. So I'd rather suggest you to file an issue at https://github.com/magento/magento2 with more specific use case and steps to reproduce.

But I'd also suggest you to look at our Tech Guidelines - https://devdocs.magento.com/guides/v2.2/coding-standards/technical-guidelines.html#3-dependency-injection (3.3 an

[2018-08-07 08:14] domeglic opened #2700 "Shipping carrier validation missing important name convention"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/howdoi/checkout/checkout_carrier.html

## Description

In step 4 adding validation using layout does not mention the naming convention. If the name is not correct it will get removed and will not work.

## Possible solutions

It should be mentioned that the name needs to be `carrier-rates-validation` i

[2018-08-07 12:41] jeff-matthews commented on #1155
Thanks @buskamuza.

@steros, I'm going to close this for now because it seems you may have found an issue with the code. We can reopen this if necessary after you report this to magento/magento2 and we can gather more information.

[2018-08-07 12:41] #1155 closed

[2018-08-07 15:55] lorikrell commented on #2676
Updating content - notes for changes TBD:

* v2.2 - Adding note and link to PHP versions topic. When using the command, the latest 7.0.X version is installed. Can view the topic for supported versions for details.
* v2.3 - The PHP version in the command needs to be updated with link to PHP versions topic for 2.3 Verify the PHP versions topic for 2.3 is also accurate.

[2018-08-07 16:40] shrielenee commented on #505
Hi @rafaelstz - any news on this? Thanks!

[2018-08-08 09:30] skotasthane opened #2705 "Feedback on page: /guides/v2.2/cloud/basic-information/cloud-plans.html"
# General issue

## Description: Remove 'Additional Options' section about AWS Managed VPN Connection Services. This has been withdrawn in Q1 2018

 We don't sell VPN with Cloud offering. We have withdrawn this offer, updated Seismic (sales collateral), and don't want to confuse anyone through devdocs that this is an optional add-on for Cloud

## Possible solutions:

 We are working on a proof of

[2018-08-08 14:31] hguthrie commented on #2705
Discussing this in the Cloud sprint. This is a P1.

[2018-08-08 15:11] lorikrell commented on #2104
Content added and merged to devdocs for 2.2 and 2.3.

[2018-08-08 15:11] #2104 closed

[2018-08-08 15:15] ilima-ebay opened #2708 "Feedback on page: /guides/v2.2/cloud/trouble/environments-logs.html"
https://devdocs.magento.com/guides/v2.2/cloud/trouble/environments-logs.html
please look into the section

Logs from the deploy hook are located on the server in the following locations:

Integration: /var/log/deploy.log
Staging: /var/log/platform/<project ID>_stg/post_deploy.log
Production: /var/log/platform/<project ID>/post_deploy.log

the post_deploy.log is not longer used. Now the deploy is

[2018-08-09 12:35] #2395 closed

[2018-08-09 12:35] #2705 closed

[2018-08-09 12:42] hguthrie commented on #2705
Changes were approved and merged this morning.

[2018-08-09 12:43] hguthrie commented on #2395
Changes were approved and merged this morning.

[2018-08-09 16:12] skotasthane opened #2716 "Feedback on page: /guides/v2.2/cloud/cdn/fastly-image-optimization.html"
# General issue

## Description: Request to update version based on recent fix to image optimization functionality

 https://magento.zendesk.com/agent/tickets/93084
per this ticket, image could not be resized when deep IO was enabled. Fastly fixed this with 1.2.62 version

## Possible solutions:

 Update this page to say "Install or upgrade to Fastly module version **1.2.62** or later" instead of

[2018-08-09 16:15] meker12 commented on #2716
We have added this update requirement to an existing JIRA ticket for additional Fastly documentation updates.

[2018-08-10 09:46] ArmenBodour opened #2721 "Feedback on page: /guides/v2.2/frontend-dev-guide/templates/template-walkthrough.html"
# General issue
Set your Magento application to the developer mode
## Description:

How do you do this, and why is it not shown?

## Possible solutions:

In order to change magento 2.0 mode you have to run this command php bin/magento deploy:mode:set developer in CMD or your SSH windows into magento 2.0 root folder. More information you can find here and here.

## Additional information:

Before s

[2018-08-13 19:29] lorikrell opened #2736 "Contributor Guide - Add labels and Contributor Assitant"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html

## Description

- Update all labels for GitHub issues/PRs
- Add Magento Contributor Assistant content

[2018-08-13 20:50] lorikrell commented on #2676
Content updated, revising PHP version across all Magento versions. Added Composer instructions to replace archive install. Please check [nginx](https://devdocs.magento.com/guides/v2.2/install-gde/prereq/nginx.html) for updates.

[2018-08-13 20:50] #2676 closed

[2018-08-14 16:28] GuitarKat opened #2743 "URL Differences"
# New topic request

## Description

Store URL and other URL differences - how they really function in templates for the Front End Dev guide.

i.e: {{base_unsecure_url}} v. {{base_secure_url}} and {{store url=""}} in how they work for different situations, like multi-store and single store and production and testing environments where SSL certs may not exist.

I couldn't find any resources specifi

[2018-08-14 18:54] #1785 closed

[2018-08-15 14:16] aman3103 commented on #1637
Is this one still open? Can I work on it?

[2018-08-15 14:26] shrielenee commented on #1637
@aman3103 If you're game to work on this, please do! Let us know if you have any questions and create a PR with your changes, referencing this issue. Thanks! 🏆

[2018-08-15 14:45] #1479 closed

[2018-08-15 14:48] aman3103 commented on #1637
Thanks, let me start work on this.

[2018-08-15 15:04] keharper commented on #1637
I wasn't previously aware of this issue. If there are any additional steps needed to make the attribute available for REST/SOAP/GraphQL, that would also be valuable information.

[2018-08-17 02:35] RedAtRareCandy opened #2756 "Feedback on page: /guides/v2.2/config-guide/prod/prod_file-sys-perms.html"
# General issue

"Production file system ownership for shared hosting (one user)" permissions recommendation causes 500 server error with PHP-FPM & SuPHP (which run as user).

## Description:

This page suggests that User write permissions should be removed in Production for a number of directories and files. Unfortunately, with SuPHP and PHP-FPM, they run as the user so removing write permissions

[2018-08-17 14:28] peterjaap opened #2763 "auto flag missing in Data Migration devdocs"
# Topic clarification/correction request

## Topic Link

https://github.com/magento/devdocs/blob/master/guides/v2.3/migration/migration-migrate-settings.md
(symlinks to https://github.com/magento/devdocs/blob/master/guides/v2.1/migration/migration-migrate-settings.md)

## Description

The command signature shows the reset option and the config argument, but the auto option (`-a`) is missing. This

[2018-08-17 20:26] keharper commented on #2408
Updates originating from GraphQL PR-112 addressed in [PR-2767](https://github.com/magento/devdocs/pull/2767)

[2018-08-19 08:56] victortodoran opened #2769 "Postal Code Scope. Misleading information presented in documentation."
# Bug report

## Description
Misleading information shown in documentation.
Says that postal code scope is global. When In fact postal code scope is website.

## Expected result
Correct information to be presented in the documentation

## Possible solutions
Change the information presented in the documentation to be accurate.

## Additional information
https://docs.magento.com/m2/ce/user_guide/con

[2018-08-19 09:05] victortodoran opened #2770 "Incorrect information about Price Scope."
# Bug report

## Description
Documentation states that Product Price can be set at Store Level.
This is not true. Product Price can be set only at Global or Website Level.

## Expected result
Correct and accurate information to be presented in the documentation

## Additional information
https://docs.magento.com/m2/ce/user_guide/catalog/catalog-price-scope.html
![price-docs](https://user-images.gi

[2018-08-20 10:05] osrecio commented on #2763
Hi @peterjaap . You're right, I can create a PR with the change or I can invite you to create it.

[2018-08-20 10:14] osrecio commented on #2721
Hi @ArmenBodour In the page you have a link to [Set Mode](https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-mode.html)

In the word "Set" is a link to config cli command mode.

[code]

Raw:
[Set](https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-mode.html) your Magento application to the developer [mode](https://devdocs.magento.com/guides

[2018-08-20 10:14] #2721 closed

[2018-08-20 12:29] jeff-matthews commented on #2769
Thanks for reporting this issue @victortodoran. This repo doesn't contain the source for the _Admin User Guide_ (https://docs.magento.com). Please use the feedback mechanism at the bottom of the [affected page](https://docs.magento.com/m2/ce/user_guide/configuration/scope.html). Click **Rate This Page** > **Problem** to describe the issue.

<img width="710" alt="rate-this-page" src="https://user-i

[2018-08-20 12:29] #2769 closed

[2018-08-20 12:29] jeff-matthews commented on #2770
Thanks for reporting this issue @victortodoran. This repo doesn't contain the source for the _Admin User Guide_ (https://docs.magento.com). Please use the feedback mechanism at the bottom of the [affected page](https://docs.magento.com/m2/ce/user_guide/catalog/catalog-price-scope.html). Click **Rate This Page** > **Problem** to describe the issue.

<img width="710" alt="rate-this-page" src="https:

[2018-08-20 12:29] #2770 closed

[2018-08-21 06:58] CaronteVIII opened #2780 "Massive update of stock"
Is there any way to massively update the stock of a set of items without having to update one by one?
Thanks!

[2018-08-21 07:09] CaronteVIII commented on #2780
For Magento 1.9

[2018-08-21 12:07] jeff-matthews commented on #2780
Thank you for your feedback! However, it doesn't appear that your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/).

To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github

[2018-08-21 12:07] #2780 closed

[2018-08-21 15:51] keharper commented on #1710
@jcalcaben You removed the rsync document in [PR-2694](https://github.com/magento/devdocs/pull/2694). Was that work attached to this issue?

[2018-08-21 15:55] jcalcaben commented on #1710
It was attached to #2677 but it probably fixes this too. Closing issue.

[2018-08-21 15:55] #1710 closed

[2018-08-22 06:21] gpnalin opened #2784 "Feedback on page: /guides/v2.2/extension-dev-guide/plugins.html"
# General issue

## Description:
After the plugin execution order seems to be invalid. On devdocs page, it stated that after plugin will run on order as below.

1. PluginC::afterDispatch()
2. PluginB::afterDispatch()
3. PluginA::afterDispatch()

But with the investigations, it turns out order is as below.

1. PluginA::afterDispatch()
2. PluginB::afterDispatch()
3. PluginC::afterDispatch()

## Poss

[2018-08-22 06:31] osrecio commented on #2784
Hi @gpnalin , You use the sortOrder for the plugin A, B, C like a documentation?
Following that they have beforeDispatch and Around Dispatch?
A->10
B->20
C->30

If you only have afterDispatch you're are right but following the guide I think is OK in the guide.

[2018-08-22 19:35] dshevtsov commented on #2297
Fixed in #2660

[2018-08-22 19:35] #2297 closed

[2018-08-23 12:58] gpnalin commented on #2784
I've used the sortOrder like in the guide. Yes my concern is about the
afterDispatch. Isn't that order is incorrect? Higher sirtOrder value runs
after lower sortOrder plugins. But according to guide lower one runs after
higher ones.

On Wed, Aug 22, 2018, 12:01 Oscar Recio <notifications@github.com> wrote:

[2018-08-23 13:36] mhauri commented on #2426
Thank you @ProcessEight for pointing this out and taking the time to create a detailed report.
I've added the missing PHP extensions.

[2018-08-23 13:36] #2426 closed

[2018-08-23 18:41] Januszpl opened #2796 "Theme inheritance - layout files order"
# Topic clarification/correction request
Theme inheritance - Extends layout - Layout files collecting order

## Topic Link
https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/theme-inherit.html#theme-inherit-layout

## Description

Not sure but I think the order is opposite unless the author meant here something else and collecting != merging. But following guide from SwiftOtter prob

[2018-08-23 19:54] meker12 commented on #1927
This issue was fixed by [PR 1928](https://github.com/magento/devdocs/pull/1928).

[2018-08-23 19:54] #1927 closed

[2018-08-23 20:59] meker12 commented on #2276
Created a ticket to track this issue.   Requested help from @shiftedreality on correcting the description for the SCD_STRATEGY compact option.

[2018-08-27 12:41] #2763 closed

[2018-08-27 14:47] #2708 closed

[2018-08-27 20:16] shrielenee commented on #505
We haven't heard from you regarding this issue in two weeks. Due to inactivity, we are closing this issue.
If you believe that the reported problem needs further review, please open a new issue. Thank you for your continued collaboration and assistance!

[2018-08-27 20:16] #505 closed

[2018-08-28 15:45] shrielenee commented on #1174
Hello! We are archiving this ticket in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

It looks like your original issue was addressed, but there was another issue brought to our attention: "By the way, the "Access Magento 1.x patches" instruction doesn't make any sense to me, neither.
Being a CE user, I don't see any "Do

[2018-08-28 15:45] #1174 closed

[2018-08-28 15:46] hguthrie commented on #964
Awaiting feedback on the pull request.

[2018-08-28 15:58] shrielenee commented on #1313
Thanks for bringing this to our attention. It looks like @bdenham addressed part of the issue here, by adding reference/example info via https://github.com/magento/devdocs/pull/1699.

We are creating an internal ticket to further address the bigger issue of creating a doc page about how to find them, use them, why they are important, etc.

Thanks again for helping out!

[2018-08-28 15:58] #1313 closed

[2018-08-28 16:03] shrielenee commented on #1409
Thanks for bringing this to our attention! This definitely needs to be fixed and we are creating an internal ticket to track it and begin work. If you have any further questions feel free to comment here or reopen the issue. 👍

[2018-08-28 16:03] bdenham commented on #1313
Internal ticket number is #MAGEDOC-3124.

[2018-08-28 16:08] hguthrie commented on #1409
MAGEDOC-3125

[2018-08-28 16:10] shrielenee commented on #1370
Hey there - thanks for bringing this to our attention. This issue is no longer relevant, as this release candidate messaging is no longer visible on our site and we have no moved on to v2.3 (pre-release) docs. I will close this issue at this time.

Thanks for taking the time! Keep 'em coming.

[2018-08-28 16:10] #1370 closed

[2018-08-28 16:14] meker12 commented on #1434
**To do:**  Add information about what mechanism to use to make a page non-cacheable when using Varnish.

[2018-08-28 16:19] shrielenee commented on #1436
Thanks @lorikrell! Any news on this thus far? 😄

[2018-08-28 16:20] bdenham commented on #1220
Sorry this issue has sat dormant for so long. Thanks, for bringing this to our attention. I'm not sure I fully understand what the issue is. Can you explain further, so we can address it? Thanks.

[2018-08-28 16:29] bdenham commented on #1516
Hey @likemusic, I just created a Jira issue for this issue to clarify these concepts in the docs. Thanks for alerting us to this.

[2018-08-28 16:32] shrielenee commented on #1547
Thanks @koenner01 - This is definitely something that needs to be addressed and we are creating an internal ticket to track and resolve it. 🏆

[2018-08-28 16:34] hguthrie commented on #1547
MAGEDOC-3127

[2018-09-01 06:16] clivewalkden commented on #1729
I'll check this out and submit a PR if it's still needed.

[2018-09-01 12:46] bdenham commented on #1729
That would be great, Clive. Thanks.

[2018-09-03 12:40] clivewalkden commented on #1234
I've pushed an example branch on my fork [https://github.com/sozo-design/devdocs/tree/fix_issue_1234](https://github.com/sozo-design/devdocs/tree/fix_issue_1234).

I've hooked into the after-site-header to replicate the current 2.0.x deprecation notice. I think it might need styling to make it more obvious but it links through the the current major version ```site.version``` (2.2 from current _con

[2018-09-04 15:20] jeff-matthews opened #2861 "Feedback on page: /guides/v2.2/install-gde/install/sample-data-after-clone.html"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.2/install-gde/install/sample-data-after-clone.html

Step 8 in both the SSH and HTTPS sections are out of date.

Wrong: `<your Magento sample data clone dir>/dev/tools`

Right: `<your Magento installation directory>`

## Possible solutions:

## Additional information:

[2018-09-04 15:52] lorikrell commented on #2736
Closing as completed.

[2018-09-04 15:52] #2736 closed

[2018-09-04 15:54] bdenham commented on #2796
Thanks, @Januszpl. Sorry for the delay on this. I will investigate and open a PR when I can. Or if you're willing to open a PR yourself on this, I'll be happy to facilitate a quicker path to production. In either case, I'll investigate and get this pushed through as soon as I'm able.

[2018-09-04 16:49] bdenham commented on #1729
Fixed in https://github.com/magento/devdocs/pull/2854

[2018-09-04 16:49] #1729 closed

[2018-09-05 07:04] clivewalkden opened #2873 "Table output not transformed correctly"
# Bug report

## Description

Table isn't transformed into html correctly.

### Steps to reproduce

Visit the following pages:
https://devdocs.magento.com/guides/v2.0/install-gde/install/web/install-web_3-web-conf.html
https://devdocs.magento.com/guides/v2.1/install-gde/install/web/install-web_3-web-conf.html
https://devdocs.magento.com/guides/v2.2/install-gde/install/web/install-web_3-web-conf.ht

[2018-09-05 08:05] skotasthane opened #2875 "Feedback on page: /guides/v2.2/install-gde/prereq/install-rabbitmq.html"
# General issue: typo, and request for clarifying use of cron vs RabbitMQ

## Description: A blue-colored note states: "A basic message queue system can be implemented on EE without using cron instead of RabbitMQ. See Configure message queues for more information."
It should be 'using cron', not 'without using cron'.
also, please clarify the natural question arising from this statement: when shoul

[2018-09-05 08:17] dverkade opened #2876 "Documentation about running Web API integration tests no longer correct"
# Topic clarification/correction request

https://devdocs.magento.com/guides/v2.3/get-started/web-api-functional-testing.html

## Description

Under "running the tests" is suggests copying the file "/dev/tests/api-functional/phpunit.xml.dist". This file does not exist anymore in Magento 2.3 alpha and the files have been split up into:

- /dev/tests/api-functional/phpunit_graphql.xml.dist
- /dev/te

[2018-09-05 13:38] shrielenee commented on #2873
Hey @clivewalkden - I see you created a PR to address this raised issue. I'm going to go ahead and close this and work your PR instead! Thanks! 💯

[2018-09-05 13:38] #2873 closed

[2018-09-05 15:24] #2861 closed, assigned to lorikrell

[2018-09-05 16:41] lorikrell commented on #2421
Content updated and merged!

[2018-09-05 16:41] #2421 closed

[2018-09-05 16:41] lorikrell commented on #2103
Content updated and merged!

[2018-09-05 16:41] #2103 closed

[2018-09-05 17:07] keharper commented on #2876
Thanks @dverkade for letting us know about the change.

Closed via #2882 . I only mentioned the REST and SOAP files. GraphQL is documented separately. I did note the new file for GraphQL in graphql-ce [Issue 77](https://github.com/magento/graphql-ce/issues/77)

[2018-09-05 17:07] #2876 closed

[2018-09-05 21:39] keharper commented on #2408
Updates originating from GraphQL PR-103 addressed in #2885

[2018-09-05 21:39] #2408 closed

[2018-09-06 15:37] #2276 closed

[2018-09-07 22:41] skotasthane opened #2904 "Feedback on page: /guides/v2.2/cloud/integrations/cloud-integrations.html"
# General issue: There is a 'strong' recommendation about using private repos here but with no clear reason

## Description: it would be great to explain why it is highly recommended to use private repos, otherwise the recommendation may not be followed as widely

[2018-09-10 13:54] WebKenth opened #2910 "Feedback on page: /guides/v2.2/ext-best-practices/tutorials/copy-fieldsets.html"
# General issue

## Description:

It is not declared where the copy class should be placed.

A slimmed down version of a class without any hint of where to put it is really bad documentation.

## Possible solutions:

Rather than using the magic 3 dots to hide important information, show us the entire class.
The namespace alone would reveal key information on where to place it.

This hardly qualifi

[2018-09-11 15:14] shrielenee opened #2916 "Provide more info about file/classes in code snippets to adding-attributes.html"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/extension-dev-guide/extension_attributes/adding-attributes.html

## Description

In the [Extension Attributes Configuration section](https://devdocs.magento.com/guides/v2.2/extension-dev-guide/extension_attributes/adding-attributes.html#extension-attributes-configuration) of [Adding extension attribute

[2018-09-11 18:41] lorikrell opened #2917 "Contribution guide updates"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [X] Topic Update, Devdoc link:
- [ ] Other

Magento 2 version:
- [X] 2.1.X
- [X] 2.2.X
- [X] 2.3.X
- [ ] back port
- [ ] forward port

## Content

Updates to the Contribution guide needed:

- only supporting PRs for 2.2 and later code development, per EngComm
- update templates with group frontmatter change

[2018-09-11 22:45] lorikrell commented on #1688
For 2.2, this content moved to the file https://devdocs.magento.com/guides/v2.2/performance-best-practices/configuration.html.  Adding a notation to the page. Will link to a PR.

[2018-09-12 14:57] #1688 closed

[2018-09-12 14:59] lorikrell commented on #1688
Content available in page https://devdocs.magento.com/guides/v2.2/performance-best-practices/configuration.html shortly. The merged PR will generate final docs within an hour of ticket closure. Thank you!

[2018-09-12 15:19] EmmaEwert opened #2921 "Feedback on page: /guides/v2.2/performance-best-practices/software.html"
# General issue

Mistake in attribute name.

## Description:

In the web server thread configuration table, Nginx lists `worker_collections`. Surely this should be `worker_connections`?

[2018-09-12 15:43] keharper commented on #2921
D'oh. Thanks for pointing this out. Corrected via #2922 . The change should be live within an hour.

[2018-09-12 15:43] #2921 closed

[2018-09-14 16:16] #2917 closed

[2018-09-14 16:17] lorikrell commented on #2917
Content merged.

[2018-09-15 02:08] ryantfowler commented on #2112
Closing this now as the devdocs now reflect a release notes section. Thanks

[2018-09-15 02:08] #2112 closed

[2018-09-18 21:44] meker12 opened #2950 "Feedback on page: /guides/v2.2/config-guide/bootstrap/magento-modes.html"
# General issue

## Description:

Would be helpful if the information about Magento modes included a note about Maintenance mode.

Add links to where maintenance mode is discussed.

One such place:  https://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-subcommands-maint.html

Also, when you deploy Magento Commerce Cloud, maintenance mode is enabled automatically and remains e

[2018-09-18 22:20] #1409 closed

[2018-09-19 08:16] debuysserk opened #2953 "Feedback on page Translate theme strings"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.0/frontend-dev-guide/translations/translate_theory.html

## Description

using sprintf in combination with __( to add variables in translate strings results in a too few arguments exception.

## Possible solutions

Sprintf is not needed anymore, you can just use __('variable %1 variable %2',$yourvariable

[2018-09-19 12:47] SAPontwerp opened #2954 "Feedback on page: /guides/v2.2/release-notes/ReleaseNotes2.2.6CE.html - Use default value randomly unticked store level issue"
# General issue

## Description:

When updating attribute values on store level for other attributes default values are un ticked.
For example when I update the product name the default value tickbox is ticked off for the images and some of the search engine optimazation fields
## Possible solutions:

Only update the attribute value that has been changed for the selected store view.

## Additional

[2018-09-20 16:58] nathancasebolt opened #2957 "XML сonfiguration of UI сomponents: Example appears to offer conflicting information"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/ui_comp_guide/concepts/ui_comp_xmldeclaration_concept.html

## Description

If I understand this article correctly, a UI component's `component` node within a module's component configuration file (if said node exists) will merge with the UI component's `component` node within `definition.xml`. The art

[2018-09-20 20:11] likemusic opened #2959 "Feedback on page: /guides/v2.2/config-guide/config/disable-module-output.html"
# General issue
No references to DB tables where module could be also disabled.

## Description:
It would be great to add info that event if there is no any disabled modules in mentioned in article files (`config.xml` in Backend module and `<Magento_install_dir>/app/etc/config.php`) it's still possible that module is disabled by value in database in table `core_config_data` and it can be found byv

[2018-09-24 18:03] hguthrie commented on #2904
Since I put this out there, I'll take this. The note is pretty sparse.

[2018-09-24 18:10] hguthrie commented on #2904
Tracking in MC-2757

[2018-09-25 19:06] dshevtsov commented on #1987
Fixed in 1964e42a1e2aaf64c023b2ab7e0b990d952889ed

[2018-09-25 19:06] #1987 closed

[2018-09-25 19:36] dshevtsov commented on #1602
@shrielenee  do you mean the deprecated topic? We cannot remove the tag because it is a part of the codebase.
I've asked architects for confirmation of the deprecation and the topic relevance.

[2018-09-26 22:33] keharper commented on #2875
Thanks for reporting this @skotasthane. I've updated the 2.2 and 2.3 versions of the topic. (2.0 and 2.1 were fine.)

Fixed via #2988

[2018-09-26 22:33] #2875 closed

[2018-09-27 07:34] manishmittalm opened #2990 "404 Links in /guides/v2.2/contributor-guide/contributing.html"
# Bug report
404 Links in /guides/v2.2/contributor-guide/contributing.html

## Description

Many 404 Links I found in this document /guides/v2.2/contributor-guide/contributing.html, they should redirect to proper URL instead 404.

### Steps to reproduce

1. Open in browser https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html
2. Search "Community Maintainers", "Magento EngCom

[2018-09-27 13:43] #2904 closed

[2018-09-27 20:40] shrielenee commented on #2990
Hi @manishmittalm - I checked those links on my browser and an Incognito window and received no 404s. What browser are you using?

[2018-09-28 07:28] manishmittalm commented on #2990
Hello @shrielenee

I am using Ubuntu > Google Chrome.

Trying to access these pages directly:

https://github.com/orgs/magento/teams/core-maintainers/members
https://github.com/orgs/magento/teams/open-source-maintainers/members

![404 png 1366x768](https://user-images.githubusercontent.com/37134503/46194160-34f97900-c31e-11e8-8866-1147c3c3b84c.png)

[2018-09-28 12:04] jeff-matthews commented on #2990
I believe that you must have access to a GitHub org to see the teams associated with that org. GitHub doesn't do a good job indicating you don't have access on their error page.

[2018-09-28 12:09] manishmittalm commented on #2990
Thanks, Jeff, can you please guide how can I access now.

[2018-09-28 12:19] jeff-matthews commented on #2990
If you create a pull request for this repo, you'll automatically receive an invitation to join the maintainers team, which is part of the Magento org. After accepting the invitation, you should be able to see these links.

[2018-09-28 15:37] shrielenee commented on #2990
Did that work for you @manishmittalm? If so, I'll close this issue! Thanks for taking the time to submit it. 🏆

[2018-10-01 22:44] georgios-2317 commented on #802
@jorbope Not working. Still getting infinite redirections from front-end to back-end. Using Redis session storage and EFS for media folder sharing.

[2018-10-02 15:43] shrielenee commented on #1791
This issue is fixed per PR #2361

[2018-10-02 15:43] #1791 closed

[2018-10-02 15:46] shrielenee commented on #1814
Hello! The documented solution is technically correct, so we are archiving this ticket as we do not currently have the bandwidth for an extended period of time to address this. We're archiving this in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

If you believe that the reported problem needs further review, please open

[2018-10-02 15:46] #1814 closed

[2018-10-02 15:48] shrielenee commented on #1845
Hey @rip057 - it doesn't look like you've had a chance to work on this issue. Please see the above comment for information on how to create a PR for this work (and please do -- we'd love the contribution!)

I will be closing this issue now. Please reopen as a PR as needed.

[2018-10-02 15:48] #1845 closed

[2018-10-02 15:52] shrielenee commented on #1961
Hey @jfrontain - Was there a bundled extensions page added? If there is an outstanding Jira ticket we can add the Tracking tag to this. Let us know so we may close or update this issue! 🙇‍♀️

[2018-10-02 16:02] shrielenee commented on #2209
Hey @dshevtsov - Have you had any chance to review this? Let us know so we can update the issue. 👍

[2018-10-02 16:11] shrielenee commented on #2227
Reference the GH issue and PR linked in the description for information on what to add or revise in the noted page.

[2018-10-02 16:15] shrielenee commented on #2403
@keharper Is this valid for Squashtoberfest? If so, let's add that Project tag!

[2018-10-02 16:15] shrielenee commented on #2404
@keharper Is this valid for Squashtoberfest? If so, let's add that Project tag!

[2018-10-02 16:39] shrielenee commented on #2209
Hello there @OccamsRazorCoder! We have moved on to the new and improved [MFTF](https://devdocs.magento.com/mftf/2.2/introduction.html), and while we are still maintaining MTF any new efforts are relegated to MFTF.

Due to bandwidth concerns, @dshevtsov and I will be closing this issue so we can focus keenly on MFTF updates and improvements. Thanks for bringing this to our attention!

[2018-10-02 16:40] #2209 closed

[2018-10-02 17:20] michizhou commented on #1910
I would like to take this issue. I would appreciate it if you could provide more info and docs that may help guide me. Thanks!

[2018-10-02 17:42] michizhou commented on #2910
I can take this issue. If you could provide more supporting docs that would be much appreciated! #SQUASHTOBERFEST

[2018-10-02 17:47] michizhou commented on #1234
If it's alright, I would like to take this issue. If I could be provided more info and docs that may help guide me, that would be great. Thanks! #SQUASHTOBERFEST

[2018-10-02 17:58] michizhou commented on #1136
I would be willing to take on this issue! #SQUASHTOBERFEST

[2018-10-03 06:48] WebKenth commented on #2910
@michizhou couldn't get it to work at all ended up using a plugin listening on `beforePlace` on the `\Magento\Sales\Api\OrderManagementInterface` and added my data from the `Quote`

All i needed was to copy a field when converting from Quote to Order and this doc seems like the right way to do it, but alas i couldn't get it to work using fieldsets.

[2018-10-03 07:28] bhargavmehta commented on #2084
I am on it @shrielenee

[2018-10-03 08:39] michizhou commented on #2910
@WebKenth In that case, are there other related tasks to which I could contribute? I would appreciate being able to help resolve this issue in any way I can!

[2018-10-03 08:49] michizhou commented on #2456
If it's alright, I would like to take this issue. #SQUASHTOBERFEST

[2018-10-03 09:49] michizhou commented on #2456
Hi @Orstio so I had worked on a separate issue (#1136) and planned to make a separate pull request for my commit to this issue, but I made the mistake of making my separate pull request before my old pull request was merged. If there is any chance you could help me split off or recommit my commit for this issue into a separate pull request, I would appreciate it.

[2018-10-03 10:25] camplusplus opened #3018 "Feedback on page: /guides/v2.2/frontend-dev-guide/templates/template-email.html"
# General issue
No List of Vars
## Description:
There are no full list of possible vars like {{var store_hours}} ...

## Possible solutions:

## Additional information:

[2018-10-03 11:40] bhargavmehta commented on #2990
Hello @shrielenee can we replace the maintainers link with https://magento.com/magento-contributors#/community-maintainers which is a better option and maintained on Magento Website?
If so I'll create a PR for the same.

Thank you

[2018-10-03 16:06] michizhou commented on #2456
Hi @Orstio so I had worked on a separate issue (#1136) and I made the mistake of pushing my commit and then making my pull request for this issue on the same branch as my commit for that branch. Please ignore my pull request for that one (#3017) and only consider my more recent one (#3023).

[2018-10-03 17:27] springimport opened #3024 "Speed up chmod commands"
# General issue
[Settings permissions](https://devdocs.magento.com/guides/v2.3/install-gde/prereq/file-system-perms.html) is too slow.
[code]

## Description:
As is known, commands like find + chmod work not fast. Especially for huge systems like magento with big file base. I think we should to find how to speed up settings permissions.

## Possible solutions:
1. Is it necessary to set write permi

[2018-10-03 19:19] #2084 closed

[2018-10-03 20:27] jeff-matthews commented on #1910
Thanks for volunteering @michizhou! If you need help understanding how to contribute to devdocs, check out our [CONTRIBUTING.md](https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md) file. If you still have questions, don't hesitate to ask.

[2018-10-03 20:30] jeff-matthews commented on #2959
Thanks for volunteering @michizhou! If you need help understanding how to contribute to devdocs, check out our [CONTRIBUTING.md](https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md) file. If you still have questions, don't hesitate to ask.

[2018-10-03 20:31] jeff-matthews commented on #1136
Thanks for volunteering @michizhou!

[2018-10-03 20:36] jeff-matthews commented on #1234
We'll check out your solution @clivewalkden. Thanks for contributing!

[2018-10-03 20:37] jeff-matthews commented on #1234
@belbiy, @jcalcaben,  & @dshevtsov, will one of you please review https://github.com/sozo-design/devdocs/tree/fix_issue_1234 and provide feedback?

[2018-10-03 20:41] shrielenee opened #3028 "Add info about available endpoints for REST API in Construct a request page"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/get-started/gs-web-api-request.html

## Description

The customer indicated, via Hotjar feedback on the site, that they expected to see information about what the available endpoints are for the REST API, related to the Customers Search API request example section.

## Possible solutions

- Add more in

[2018-10-04 05:16] braniac commented on #434
Generally i use this old Magento 1 technique to print all logs in our custom modules, by adding this much code in helper.
https://gist.github.com/braniac/5a7df043fef8723a88ea4da215ea29ad

I hope this will help.

[2018-10-04 06:36] bhargavmehta commented on #2417
@meker12  I want to take this on.

A possible solution is to add one line in the doc representing the code for production mode or having one section for enabling in production mode.
Kindly suggest I will create a PR in a couple of hours after that.

Thank you

[2018-10-04 11:48] meker12 commented on #2417
@bhargavmehta We already have PR #2519 for this issue from @gelanivishal if you'd like to review and comment on those changes.

[2018-10-04 12:57] jeff-matthews commented on #2959
It would be best to work directly with @likemusic for clarification, but I think the request is to add information about disabling modules using database values instead of the `config.xml` file.

[2018-10-04 19:32] jcalcaben commented on #1234
Hey @clivewalkden
This is a good start to a solution! One problem I encountered was when I navigated to a 2.3 topic and see two banners.
Ideally, the 2.3 banner message should be the only one showing in this case.

[2018-10-04 22:38] keharper opened #3041 "Add Redis command line configuration options"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: config-guide/redis/redis-pg-cache.html
- [ ] Other

Magento 2 GitHub Issue:

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/17078

Magento 2 version:
- [ ] 2.1.X
- [x] 2.2.7
- [x] 2.3.X
- [ ] back port
- [ ] forward port: Code PR: 17449

Notifications of Changes:
- [ ] Changes to Admin inter

[2018-10-05 14:55] manishmittalm commented on #2990
Hello @jeff-matthews Can you please share a link of the repo to create a pull request. Thanks for the help and one more suggestion if we have to make a pull request for this repo then that should be mention therein guidance so that will be helpful to other users.

[2018-10-05 14:55] manishmittalm commented on #2990
Thanks @shrielenee but still facing issue.

[2018-10-05 15:46] jeff-matthews commented on #2990
@manishmittalm, it's _this_ repo: https://github.com/magento/devdocs

[2018-10-05 20:52] dshevtsov commented on #1602
@melnikovi please help to clarify the issue

[2018-10-05 20:57] clivewalkden commented on #1234
@jcalcaben I was thinking that the theme styling could be updated to make this upgrade message stand out. That would require the theme to be updated? Or is there alternative message styling already available?

[2018-10-06 05:50] Vinai commented on #1727
This one I can reply to, since I asked the exact same question in the past. It confused me at first, too.

You are correct. A module should only require another module if the absence would cause errors or exceptions. A module not doing anything does not break Magento, so in your example `suggests` is correct.

This is counter-intuitive and seems to go against common sense in many cases.
In fact, f

[2018-10-07 15:57] hostep commented on #3024
I agree with @springimport that running `-exec some-cmd {} \;` is many times slower then `-print0 | xargs -0 some-cmd`, but while [researching a bit more](https://www.everythingcli.org/find-exec-vs-find-xargs/), it looks like the `-exec` flag has a better, more performant implementation if you let it end with `+` instead of `\;`, as long as the command is able to deal with multiple arguments,  so

[2018-10-07 18:22] chrisl300 opened #3052 "Feedback on page: /guides/v2.2/migration/migration-migrate-data.html"
# General issue
Documentation error
## Description:

Before you start
2) Change to the Magento /bin directory or make sure it is added to your system PATH.

To start migrating data, run:

bin/magento migrate:data [-r|--reset] [-a|--auto] {<path to config.xml>}

## Possible solutions:

Should read:
2) Change to the Magento install directory

## Additional information:

[2018-10-08 14:06] shrielenee commented on #2990
@bhargavmehta You want to change the Maintainers link in the left sidebar on this page https://devdocs.magento.com/guides/v2.2/contributor-guide/maintainers.html to https://magento.com/magento-contributors#/community-maintainers ?

The way it's currently linked is appropriate, as the page we send users to includes the link to the Contributors page you mentioned, along with a wealth of other releva

[2018-10-08 15:03] jcalcaben commented on #1234
Yes, that would require the theme to be updated. @belbiy is there another message style that @clivewalkden can use?

[2018-10-08 16:44] bhargavmehta commented on #2990
Hello @shrielenee ,

I was talking of the line "To deploy, Community Maintainers, a Magento EngCom Team member, or contributor under the existing Pull Request enters the following command as a comment to the pull request:" in the attached screenshot. But I guess its correct right now and dont need any change. As that page will appear after someone does a PR.
Thank you
![image](https://user-images.

[2018-10-08 17:15] shrielenee commented on #2990
Hey @manishmittalm - I'm going to go ahead and close this issue, as it seems you now have a better idea where to create a PR for this! Thanks so much for taking the time to report an issue!

[2018-10-08 17:15] #2990 closed

[2018-10-08 21:52] michizhou commented on #2959
Hi @jeff-matthews I just wanted you to know that I submitted a PR with a commit addressing this issue a few days ago. Let me know if other changes need to be made. Thanks!

[2018-10-08 22:32] jfrontain commented on #1961
@hostep, we're in the process of adding it right now. Will be up within the next day. Thanks for your patience!

[2018-10-09 01:04] michizhou commented on #3018
Hi @camplusplus just wanted you to know that I can take this issue. #SQUASHTOBERFEST

[2018-10-09 02:39] michizhou commented on #3018
@camplusplus Just wanted to let you know that I created a PR that will address this issue. Let me know if you need me to make any more changes to the documentation. Thanks!

[2018-10-09 04:42] hishadab25 opened #3064 "Url not found"
https://devdocs.magento.com/guides/v2.2/howdoi/migrate/migrate.html

[2018-10-09 06:51] bhargavmehta commented on #3064
Hello @hishadab25 ,

Please format the issue. Provide more details on which page are you facing the issue.

More details will help us resolve the issue.

Thank you

[code]

[2018-10-09 12:51] jeff-matthews commented on #2959
Hi @michizhou, thanks. I commented on your PR.

[2018-10-09 13:58] #3052 closed

[2018-10-09 22:30] #1961 closed

[2018-10-10 06:48] hostep commented on #1961
Thanks Jeanne (and all others involved)!

[2018-10-10 12:22] #3018 closed, assigned to michizhou

[2018-10-10 15:54] shrielenee opened #3072 "Add a note about order of properties in theme-images.md file"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-images.html (all versions)

## Description

Create a note on the theme-images.md file that all image properties, including width, height, constraint, aspect_ratio, frame, etc., used in etc/view.xml should be used in listed order to prevent a frontend error ("This element

[2018-10-11 05:36] bhargavmehta commented on #3072
Hello @shrielenee ,

Was thinking to add just before the For example line in the attached screenshot. Do let me know your thoughts if agreed will create a PR for the same.

![image](https://user-images.githubusercontent.com/7995219/46782912-b6510280-cd45-11e8-878b-d5019636e6ba.png)

Thank you

[2018-10-11 12:37] jeff-matthews commented on #3024
Thanks for the thorough research @hostep!

[2018-10-11 12:47] diazwatson opened #3080 "Missing page for Form Component in Magento 2.2 when switching from Magento 2.0"
# Bug report

## Description

Wrong redirection in Component Form page from 2.0 to 2.2

### Steps to reproduce

1. Go to https://devdocs.magento.com/guides/v2.0/ui-components/ui-form.html
2. In the Magento version dropdown at the top of the page, select Magento 2.2

## Expected result

You should be redirected to
https://devdocs.magento.com/guides/v2.2/ui_comp_guide/components/ui-form.html

Instea

[2018-10-11 13:19] #3072 closed

[2018-10-11 13:50] diazwatson commented on #3080
I just cloned the repo and after install the project using `bundle exec jekyll serve --incremental` I can see the following:
[code]
I would be more than happy to fix it if somebody point me in the right direction.

[2018-10-11 16:32] jeff-matthews commented on #3080
This also affects the 2.3 topic. Try switching from 2.0 to 2.3; you get the same 404.

Yes, I think we need to create redirects in the 2.2 and 2.3 files. For example:

In **guides/v2.2/ui_comp_guide/components/ui-form.md**, add the following parameter to the YAML metadata at the top of the file:

In **guides/v2.3/ui_comp_guide/components/ui-form.md**, add the following parameter to the YAML metada

[2018-10-11 16:39] #3024 closed

[2018-10-11 19:02] myselfgaurav opened #3082 "add file attributes to product"
i want to create file type attributes, where i can add pds,doc to product

[2018-10-12 02:59] bhargavmehta commented on #3082
Hello @myselfgaurav ,

There is no possible way to create file type attributes right now by using default Magento. You will need to do customizations or use an extension.

For your reference please go through
https://magento.stackexchange.com/questions/140347/show-value-of-product-attribute-of-type-file-in-magento2-backend

Thank you

[2018-10-12 09:02] diazwatson commented on #3080
is it not better to update the links in
[code]
?
That way we could remove the following errors:
[code]

[2018-10-12 12:14] #3082 closed

[2018-10-12 12:19] jeff-matthews commented on #3080
It's not quite that simple. There are no links in the topic itself. The version switcher automatically generates links at build time.

[2018-10-12 12:29] itsazzad opened #3086 "Page Not Found"
# Bug report

## Description

Page Not Found

### Steps to reproduce

https://devdocs.magento.com/guides/v2.1/install-gde/docker/docker-over.html

## Expected result

DevBox documentation

## Possible solutions

## Additional information

[2018-10-12 12:38] jeff-matthews commented on #3086
@itsazzad, where did you find that link?

[2018-10-12 12:45] itsazzad commented on #3086
https://github.com/magento/magento2devbox-web
Magento DevBox Beta – Update in Progress, Check Back Soon: https://magento.com/tech-resources/download

[2018-10-12 12:48] jeff-matthews commented on #3086
Thanks for letting us know. This isn't actually a devdocs issue since development of devbox has been suspended. We removed all devbox topics from devdocs as a result. The devbox README should be updated.

[2018-10-12 12:48] #3086 closed

[2018-10-12 12:51] itsazzad commented on #3086
Should we use devbox or not?

[2018-10-12 12:54] keharper commented on #3028
Closed via #3071

[2018-10-12 12:57] jeff-matthews commented on #3086
No, I don't recommend using devbox.

[2018-10-12 13:34] #3041 closed

[2018-10-12 14:04] diazwatson commented on #3080
Ok,
One more thing, is it normal that any change in
[code]
gets automatically replicated in
[code]
and viceversa

[2018-10-12 14:22] jeff-matthews commented on #3080
Yes, that's normal because (in this case) 2.2 is symlinked to 2.3.

We use symlinking to simplify versioning. If there is no difference between versions of a file, we'll create a symlink from the earlier version to the later version (e.g., 2.1 --> 2.2) instead of duplicating the file. That means we only have to update a single file instead of two.

Now, when a file is unique between versions, we b

[2018-10-15 13:45] diazwatson commented on #3080
Thanks @jeff-matthews

[2018-10-15 16:39] #3080 closed

[2018-10-15 17:00] springimport commented on #3024
@hostep I've applied this new solution for my deployment process and reduced the build time by 30%: from 3 to 2 minutes. Thanks!

[2018-10-15 17:17] hostep commented on #3024
Nice!

[2018-10-16 14:07] lorikrell opened #3112 "MSI inventory API and tech overview"
# Community engineering issue

Content for MSI

Type of Doc:
- [X] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: No GH issue associated

Magento 2 GitHub PR: https://github.com/magento/magento2ce/pull/3263

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [X] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] Ne

[2018-10-16 15:44] shrielenee commented on #1224
Hey @osrecio @jeff-matthews - Was there a PR created for this work? I don't notice one referenced here. Let us know so we can update this to be accurate!

[2018-10-16 15:45] meker12 commented on #1774
We added a table that shows the difference between Cloud Starter and Cloud Pro architectures. See [Magento Commerce Cloud architecture](https://devdocs.magento.com/guides/v2.2/cloud/architecture/cloud-architecture.html) and cleaned up the Starter architecture and workflow topics to remove duplication.

Closing this issue. @dougkm If you have additional feedback about the updated content, we'd love

[2018-10-16 15:45] #1774 closed

[2018-10-16 15:59] shrielenee commented on #1230
Hey there @noctufaber - In the page you reference, in order to add your custom field to the checkout address form and access its value on the client side, you should complete all of the listed steps. If you click through to the linked plugins page, from the Step 1. section noting that you should create a plugin, it is mentioned that you add this info to the `di.xml` file.

I will also add this inf

[2018-10-16 16:11] shrielenee commented on #1451
@bdenham Hey Bruce -- is there an update on this? Is this a quick fix that we can accomplish before revisiting whole page changes in the future? Let us know! Thanks.

[2018-10-16 20:34] nathancasebolt commented on #2916
If I may chime in, I agree with @shrielenee that this page needs attention. In my opinion, it needs to be thoroughly reworked. The only way to come close to understanding the example is to reference the sample module at the bottom of the page and try to match its files to the example text.

Even then, it's difficult to tell what's happening for a number of reasons. First, actual code is mixed with

[2018-10-16 20:49] shrielenee commented on #2916
That's great feedback @nathancasebolt.  💯

@michizhou Can you run with that to start creating a PR? I'm more than happy to edit it for language and copy stuff when done.

Let us know!!!

[2018-10-17 14:28] lorikrell opened #3117 "Add best practices to Community Resources"
# New topic request

## Description

Add best/leading practices or common solutions section to DevDocs from Community.

## Content checklist

Add content into multiple pages to https://devdocs.magento.com/community/resources/index.html
Add navigation for new pages
Add links and info for existing best practices to the pages
Possible rename discussions may affect multiple sections: best practices vs

[2018-10-17 15:49] shrielenee opened #3118 "Ensure noted file paths are correct per applicable repo in Javascript resources for Magento page"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascript/js-resources.html

## Description

Ensure that the paths in the Accessing JS resources section are correct.

Per Hotjar customer feedback:

## Possible solutions

1. Check the applicable repo and ensure noted paths are correct (potentially also check all paths on page).

[2018-10-17 16:46] brentwpeterson commented on #3117
@lorikrell am I able to add navigation?

[2018-10-17 18:37] lorikrell commented on #3117
Hey there! I added a parent page with linked info, side navigation, etc in this PR: https://github.com/magento/devdocs/pull/3121

When this PR is merged, it will add navigation with commented out example of how to add new pages (_data/toc/community.yml file). We can also handle all the navigation if confusing to submitted PRs.
Anyone can add new contribution pages to /community/resources. Just sub

[2018-10-18 04:53] bhargavmehta commented on #3118
Hello @shrielenee ,
I checked the page found few things.
https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascript/js-resources.html
1) Structure of the document is broken at some places.
2) app/code/design is nowhere on the page.
3) Magento_Configurable path needs to be changed.

If assigned would like to take up the issue and fix it up.

Thank you

[2018-10-18 13:14] shrielenee commented on #3118
No problem @bhargavmehta - You are free to work on it! Please create a PR for this work. Mention that it "Fixes #3118" and when your PR is merged this issue will be closed. Let me know if you need anything else!

[2018-10-18 18:45] buskamuza opened #3126 "setup_version is optional starting from Magento 2.3"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/build/create_component.html#module-xml

## Description

"Both of these attributes are required." is incorrect for Magento 2.3+. While "name" is still required, "setup_version" is optional, and should be omitted if declarative schema approach is used.

## Additional information

Back

[2018-10-18 22:36] lorikrell commented on #3117
Added a section for community contributed best practices: https://devdocs.magento.com/community/resources/best-practices.html

Anyone that wants to add content, look over the contributing section. Content will be added to this page, and to the navigation through PRs. If you would like help, feel free to contact me and the DevDocs Slack in EngCom!

[2018-10-18 22:36] #3117 closed

[2018-10-19 05:51] arshadkazmi42 opened #3131 "Broken Links in CONTRIBUTING.md"
# Bug report
Two links in CONTRUTING.md are redirecting to 404 page

## Description

In CONTRIBUTORS.md following links are brokens,
- Community Maintainers link [here](https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md#how-to-contribute)
- DevDocs link [here](https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md#prerequisites)

### Steps to reproduce

1. Go to

[2018-10-19 05:52] arshadkazmi42 commented on #3131
I am working on this #SQUASHTOBERFEST

[2018-10-19 13:17] #3131 closed

[2018-10-19 13:34] brentwpeterson opened #3134 "Page does not exist on Magento Approved Best Practices"
# Bug report

https://devdocs.magento.com/community/resources/best-practices.html

Under -Magento approved best practices

Theme development best practices link is broken

Navigate to https://devdocs.magento.com/community/resources/best-practices.html
Click on https://devdocs.magento.com/frontend-dev-guide/theme-best-practice.html
You get a broken page

## Expected result

Page should exist

## Po

[2018-10-19 13:51] jeff-matthews commented on #3134
Thanks for reporting this @brentwpeterson. Most of the links on that page are broken, unfortunately. I think I know what the problem is. We're using a variable (`{{page.baseurl}}`) for internal links, which works for relative links inside the `guides/` directory. Since the directory where this topic resides is outside of the `guides/` directory, we can't use the relative link variable the same way

[2018-10-19 14:07] witmeng commented on #778
I get the same error

[2018-10-19 14:08] witmeng commented on #778
I have the same error. in Magento2.2.6
[2018-10-19 13:55:04] setup-cron.ERROR: Could not locate magento/magento2-base/composer.json file. [] []

[2018-10-19 14:18] lorikrell commented on #3134
Getting this fixed ASAP!

[2018-10-19 14:34] lorikrell commented on #3134
@brentwpeterson  -  Resolved with https://github.com/magento/devdocs/pull/3135!   The links will be updated in the source repo. Generated output will take a bit to update.

Thank you!

[2018-10-19 14:34] #3134 closed

[2018-10-22 15:56] keharper commented on #3126
Thanks for your offer @arshadkazmi42, but this is more complicated than it looks. I've got it.

[2018-10-22 17:04] shrielenee opened #3152 "Add information to "Add a new input form to checkout" topic"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/howdoi/checkout/checkout_form.html

## Description

We received feedback about page via the Hotjar widget on DevDocs. Upon following up via email I got the following information and a request for topic clarity.

The guide gives an example JS file to start with, but doesn't name this example file, which

[2018-10-22 17:20] keharper commented on #3112
Closed via #3139

[2018-10-22 17:20] #3112 closed

[2018-10-23 15:43] dshevtsov commented on #3064
@hishadab25
We haven't heard from you regarding this issue in two weeks. Due to inactivity, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2018-10-23 15:43] #3064 closed

[2018-10-23 16:09] shrielenee commented on #1230
Fixed in relevant PR https://github.com/magento/devdocs/pull/3160

[2018-10-23 16:10] #1230 closed

[2018-10-23 17:13] Karlasa opened #3162 "some content missing in /guides/v2.2/frontend-dev-guide/layouts/xml-manage"
# Bug report

## Description
https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/layouts/xml-manage.html
Section "Rearrange elements" have some empty bullet points.

### Steps to reproduce

## Expected result
Bullet points have same content as in v2.1 page

## Possible solutions

## Additional information

[2018-10-23 19:44] Karlasa opened #3164 "Feedback on page: /guides/v2.2/frontend-dev-guide/themes/theme-structure.html"
# General issue

## Description:

Directory | Required | Description
-- | -- | --
/<Vendor>_<Module>/web/css/source | optional | Module-specific styles (.css and/or .less files). General styles for the module are in the _module.less file, and styles for widgets are in _widgets.less.

it should be <Vendor>_<Module>/web/css/ as .css files are not under /source ex: [Module_Theme](https://github.com/m

[2018-10-24 03:52] Karlasa opened #3167 "Feedback on page: /guides/v2.2/frontend-dev-guide/themes/product-video.html"
# General issue

## Description:
In the bottom of the page

Most likely it should be "The options can be set..."

## Possible solutions:

## Additional information:

[2018-10-24 04:56] Karlasa opened #3168 "Feedback on page: /guides/v2.2/frontend-dev-guide/layouts/xml-instructions.html"
# General issue

## Description:

Under Container section

Attribute | Description | Values | Required?
-- | -- | -- | --
name | A name that can be used to address the container in which this attribute is assigned. The name must be unique per generated page. | A-Z, a-z, 0-9, underscore (_), period (.), dash (-). Should start with a letter. Case-sensitive. | yes

Required section should be "No"

##

[2018-10-24 14:42] #3167 closed

[2018-10-24 15:19] keharper commented on #3126
Closed via #3153

[2018-10-24 15:19] #3126 closed

[2018-10-25 01:38] ricalonso58 opened #3178 "Feedback on page: /guides/v2.2/install-gde/prereq/prereq_updater.html"
# General issue
When disabling a module the Readiness Check fails on several levels.  One of which is that the updater is missing. I clicked the link provided which took me to this page.

The link to the github repository gives a 404 page.

I searched on git-hub but there is no available repository for the updater.

## Description:

When I try to clone from github....

git clone git@github.com:mag

[2018-10-26 16:49] keharper opened #3187 "Update REST bulk API examples"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/async-import/issues/23

Magento 2 GitHub PR:

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?
- [x] New RES

[2018-10-26 20:15] loganstellway commented on #718
Hey @andreicostin

This post is quite stale now, but I believe you should be able to accomplish custom bindings utilizing a [RequireJS mixin](https://devdocs.magento.com/guides/v2.1/javascript-dev-guide/javascript/js_mixins.html).

I created a [sample repo](https://github.com/loganstellway/module-sample-ko-bindings) to help show how.

[2018-10-27 13:49] nickolasnikolic opened #3190 "Install documentation is a broken link"
https://devdocs.magento.com/guides/v2.2/howdoi/install/install-topics.html?_ga=2.29235647.2030894075.1540600117-914559671.1540600117

is a broken link

[2018-10-29 12:55] shrielenee commented on #3190
@nickolasnikolic - From where did you click or find this link? Also, it's a requirement when creating an issue to completed fill out the provided form with as much information as possible. This allows us to quickly assess and take care of the issue.

[2018-10-29 20:47] lorikrell commented on #3190
The link may be from Merchant docs. If found a link in these two versions https://docs.magento.com/m2/2.2/ce/user_guide/magento/installation.html and https://docs.magento.com/m2/2.2/ee/user_guide/magento/installation.html and https://docs.magento.com/m2/2.2/b2b/user_guide/magento/installation.html with different Google Analytics tag that come up with a 404 on devdocs. I'll get a ticket in for fixi

[2018-10-30 12:54] jeff-matthews commented on #2227
@bdenham, can you handle this this week? If not, let's talk about reassigning it. Apparently, there are some support tickets that would benefit from this info.

[2018-10-30 13:46] shrielenee opened #3200 "Prioritizing Plugins section of Plugins (Interceptors) is not clear"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.2/extension-dev-guide/plugins.html

## Description

Section "Prioritizing plugins" is not clear enough:
* I have read "During each plugin execution, Magento executes the current plugin’s before method." But what if there is no before handlers? What will happen? Running observed method? -- I hope NO! Runni

[2018-10-30 15:38] shrielenee commented on #3190
Hey @lorikrell - did you create a ticket for this? If so, I'll add the tracking label. Thanks!

[2018-10-30 15:44] shrielenee commented on #3178
The linked repo is private. @buskamuza Was this repo always private?

[2018-10-30 15:50] shrielenee commented on #3118
Hey @bhargavmehta - Are you planning to work on this? Please let us know! Thanks.

[2018-10-30 15:54] jcalcaben commented on #2954
@jfrontain is there an update on this issue?

[2018-10-30 15:57] shrielenee commented on #2916
Hey @michizhou - Can you please update us on your progress? Thanks!

[2018-10-30 16:03] #2456 closed

[2018-10-30 16:07] shrielenee commented on #2756
Hey @antonkril - Do you have an architect willing to help with this issue? We need some expert guidance on how to approach it. Thanks!

[2018-10-30 16:07] hguthrie commented on #2784
@osrecio Are you still waiting for a response? Do we need a little more research into sortOrder and afterDispatch?

[2018-10-30 16:11] shrielenee commented on #2700
Hey @lorikrell - Are you working on this? If not, is it a good candidate for community work?

[2018-10-30 16:38] antonkril commented on #2756
cc @buskamuza

[2018-10-30 17:01] bdenham commented on #2227
@jeff-matthews, sure, I'll make sure it gets done this week.

[2018-10-30 17:01] #1136 closed

[2018-10-30 17:25] dpatil-magento opened #3203 "Feedback on page: /guides/v2.3/config-guide/multi-site/ms_nginx.html"
I recently setup Multiple website on enterprise env. Some observations below -
1. Under /etc/nginx/ there is no directory called "sites-available" but we have "conf.d"
2. Also there is no "Sites-enabled" directory, we need to use conf.d only. so the command links needs to be updated.

[2018-10-30 17:47] jeff-matthews commented on #3203
Thanks for reporting these issues @dpatil-magento.

The `sites-available` and `sites-enabled` directories are considered a best practice, especially for hosting multiple sites on a single server. These directories are created by default when you install nginx or apache. If you don't have them, it probably means that you or your server admin decided to manage your virtual host configuration using `

[2018-10-30 17:48] #3203 closed

[2018-10-30 19:04] wknechtel opened #3206 "404: https://devdocs.magento.com/guides/v2.1/install-gde/docker/docker-over.html"
# Bug report

## Description

https://devdocs.magento.com/guides/v2.1/install-gde/docker/docker-over.html returns an error 404, not found.

### Steps to reproduce

1) Visit https://magento.com/tech-resources/download
2) Navigate to the third section, "Download With Composer"
3) Find the last link in the section, with the text of "DevBox Documentation," and click that link.

## Expected result

A p

[2018-10-30 19:22] jeff-matthews commented on #3206
Devbox is no longer supported, so we no longer maintain documentation about it. The should be removed from the download page, which is a different site from devdocs.magento.com. I'll create an internal request to remove the link from that page.

[2018-10-30 19:36] lorikrell opened #3207 "Add and Revise Translation sections - Contribution Guide"
# New topic request

Translations Special Project

## Description

Add info for contributing to translations:

- CrowdIn preferred, per discussions with Special Projects EngCom Translations
- Process in-progress, need to cover this in phases
- Review and revise this section: https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/translations/xlate.html . Remove any GitHub mentions, streamline

[2018-10-30 21:16] #3162 closed

[2018-10-31 02:12] jasonevans1 commented on #1455
I will work on this. #SQUASHTOBERFEST

[2018-10-31 14:27] caseybecking opened #3213 "Page missing Next Link - https://devdocs.magento.com/guides/v2.1/config-guide/varnish/config-varnish.html"
# Bug report

## Link missing from the varnish config page to the install page

### Steps to reproduce

1. Goto - https://devdocs.magento.com/guides/v2.1/config-guide/varnish/config-varnish.html
2. scroll all the way down to Install Varnish

## Expected result

Expecting to be directed to https://devdocs.magento.com/guides/v2.1/config-guide/varnish/config-varnish-install.html

## Possible solution

[2018-10-31 14:54] jeff-matthews commented on #3213
Fixed via #3214

[2018-10-31 14:54] #3213 closed

[2018-10-31 21:13] bdenham commented on #2953
This issue was resolved with the merge of #3075.

[2018-10-31 21:13] #2953 closed

[2018-10-31 21:36] bdenham commented on #2417
@kanduvisla and @bhargavmehta, I will make sure that the info from this issue gets merged with the changes in PR #2519 and will close it when that PR is merged. Thanks to both of you!

[2018-11-01 02:37] bhargavmehta commented on #3118
Hey @shrielenee ,

Sorry for late reply. Yes, I will be working on the ticket this weekend.

Thank you

[2018-11-01 12:48] jeff-matthews commented on #1455
@kevingimbel & @jasonevans1: have you seen this page?

https://docs.magento.com/m2/ce/user_guide/stores/cookie-reference.html

[2018-11-01 13:04] kevingimbel commented on #1455
I haven't. When I opened this issue a year ago I was only looking at https://devdocs.magento.com

[2018-11-01 17:53] lorikrell commented on #3190
Yes I have an internal ticket - MAGEDOC-3225

[2018-11-01 21:39] bdenham commented on #2417
Fixed in PR #2519. Closing.

[2018-11-01 21:39] #2417 closed

[2018-11-02 08:44] osrecio commented on #2784
I didn't have time to do a little reseach about it.

[2018-11-02 13:39] hguthrie commented on #2784
Okay, no problem. Thanks for your input; I removed you from the assignee.

[2018-11-06 16:36] lorikrell commented on #3190
This is a Merchant Docs issue. I am tracking and completing the work using an internal ticket. Updates will be pushed November 6, 2018 to production for the User Guides. Thank you for reporting!

[2018-11-06 16:36] #3190 closed

[2018-11-06 16:48] dshevtsov commented on #3178
@buskamuza, see the related issues for more context: #2962, #2660

[2018-11-07 13:47] jeff-matthews opened #3244 "Broken links: Community guide"
# Bug report

## Description

There are broken links in the Community guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `community` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:24] jeff-matthews opened #3245 "Broken links: Extension Best Practices Guide"
## Description

There are broken links in the Extension Best Practices guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `navigation` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:27] jeff-matthews opened #3246 "Broken links: UI library"
## Description

There are broken links in the UI Library.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `ui-library` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd` and observe the following errors:

[code]

[2018-11-07 14:31] jeff-matthews opened #3247 "Broken links: MFTF"
# Bug report

## Description

There are broken links in the MFTF guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `mftf` from the `url_ignore` and `file_ignore` arrays.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:33] jeff-matthews opened #3248 "Broken links: UI Components Guide"
# Bug report

## Description

There are broken links in the UI Components Guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `ui_comp_guide` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:35] jeff-matthews opened #3249 "Broken links: REST guide"
# Bug report

## Description

There are broken links in the REST guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `rest` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:36] jeff-matthews opened #3250 "Broken links: Pattern library"
# Bug report

## Description

There are broken links in the Pattern Library guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `pattern-library` from the `url_ignore` and `file_ignore` arrays.
1. Build the site.
1. Run `rake test:cicd` and observe the following errors:

[code]

[2018-11-07 14:38] jeff-matthews opened #3251 "Broken links: JavaScript Developer Guide"
# Bug report

## Description

There are broken links to pages in the JavaScript Developer Guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `javascript-dev-guide` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd` and observe the following errors:

[code]

[2018-11-07 14:39] jeff-matthews opened #3252 "Broken links: How Do I Guide"
# Bug report

## Description

There are broken links in the Howe Do I guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `howdoi` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:40] jeff-matthews opened #3254 "Broken links: GraphQL Guide"
# Bug report

## Description

There's a broken link in the GraphQL guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `graphql` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following error:

[code]

[2018-11-07 14:42] jeff-matthews opened #3255 "Broken links: Architecture Guide"
# Bug report

## Description

There are broken links in the Architecture guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `architecture` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:42] jeff-matthews opened #3256 "Broken links: Component Manager Guide"
# Bug report

## Description

There are broken links in the Component Manager guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `comp-mgr` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:44] jeff-matthews opened #3257 "Broken links: Configuration Guide"
# Bug report

## Description

There are broken links to the Configuration guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `config-guide` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd` and observe the following errors:

[code]

[2018-11-07 14:45] jeff-matthews opened #3258 "Broken links: Extension Developer Guide"
# Bug report

## Description

There are broken links in the Extension Developer guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `extension-dev-guide` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:46] jeff-matthews opened #3259 "Broken links: Frontend Developer Guide"
# Bug report

## Description

There are broken links in the Frontend Developer guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `frontend-dev-guide` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:47] jeff-matthews opened #3260 "Broken links: Module Reference Guide"
# Bug report

## Description

There are broken links in the Module Reference guide.

## Steps to reproduce

1. Open the `devdocs/rakelib/proofer.rb` file.
1. Delete `mrg` from the `url_ignore` array.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 14:49] jeff-matthews opened #3261 "Broken links: Release notes"
# Bug report

## Description

There are broken links in the Community guide.

## Steps to reproduce

1. Open the `devdocs/_config.checks.yml` file.
1. Delete `release-notes` from the `url_ignore` and `file_ignore` arrays.
1. Build the site.
1. Run `rake test:cicd and observe the following errors:

[code]

[2018-11-07 19:00] #3254 closed

[2018-11-07 19:54] #3256 closed

[2018-11-07 20:27] #3246 closed, assigned to jeff-matthews

[2018-11-07 20:38] #3255 closed

[2018-11-07 21:11] #3251 closed

[2018-11-07 21:11] keharper commented on #3251
Closed via #3268

[2018-11-13 16:15] #3247 closed

[2018-11-13 17:23] #3118 closed

[2018-11-13 18:19] dougkm opened #3291 "Feedback on page: /guides/v2.2/cloud/cdn/fastly-vcl-blacklist.html"
# General issue

## Description:

Should add information from https://github.com/fastly/fastly-magento2/blob/master/Documentation/Guides/BLOCKING.md

[2018-11-13 21:16] olmansoa opened #3292 "Feedback on page: /guides/v2.3/cloud/docker/docker-config.html"
# General issue

Instructions are not detailed.

## Description:

says to run "composer install" with no instructions on how to install composer. Also it appears to require that I install composer, but I trying to use docker, so I don't have to install a bunch of stuff on my computer.

## Possible solutions:

A docker commend that runs composer from a docker instance.

## Additional information:

[2018-11-14 09:29] CompactCodeEU opened #3295 "Architecture layers names are switched the whole time"
# Topic clarification/correction request

Consistent naming of the layers is something that will help understanding this topic

## Topic Link

https://devdocs.magento.com/guides/v2.2/architecture/archi_perspectives/present_layer.html
https://devdocs.magento.com/guides/v2.2/architecture/archi_perspectives/service_layer.html

## Description

Initially you have 4 layers :
- Presentation layer
- Servi

[2018-11-14 14:53] CompactCodeEU opened #3298 "Required , cannot , should not , may not ,..."
# Topic clarification/correction request

As the usage of words are important within PSR PHP guidelines they are also important in documentation.
I will give some examples

## Topic Link

https://devdocs.magento.com/guides/v2.2/architecture/archi_perspectives/components/modules/mod_relationships.html
https://devdocs.magento.com/guides/v2.2/extension-dev-guide/intro/developers_roadmap.html

## Desc

[2018-11-14 19:20] hguthrie commented on #3257
Applied fixes to link listed using the steps to produce.

[2018-11-14 22:05] keharper opened #3302 "Add documentation for GraphQL wishlist queries and mutations"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue:
https://github.com/magento/graphql-ce/issues/43

Magento 2 GitHub PR:
https://github.com/magento/graphql-ce/pull/223/
https://github.com/magento/graphql-ce/pull/236

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications

[2018-11-15 02:44] #3257 closed

[2018-11-15 15:32] CompactCodeEU commented on #3298
composer.json is not a required file. It is a recommended file.  It even says so on https://devdocs.magento.com/guides/v2.2/extension-dev-guide/build/composer-integration.html

[2018-11-15 15:36] CompactCodeEU commented on #3298
https://devdocs.magento.com/guides/v2.2/extension-dev-guide/build/required-configuration-files.html

Again composer.json is NOT required. It is recommended but not required. Lacking that fille makes it that composer can not manage that module and it needs to be done manually

[2018-11-15 15:44] CompactCodeEU opened #3306 "Missing directories"
# Topic clarification/correction request

This is missing addtional directories.

## Topic Link

https://devdocs.magento.com/guides/v2.2/extension-dev-guide/build/module-file-structure.html

## Description

It states that additional directories are
Api: contains any PHP classes exposed to the API .
Console: contains CLI commands. For more info, see Add CLI commands.
i18n: contains localization fil

[2018-11-15 18:56] #3245 closed

[2018-11-16 15:31] #3258 closed

[2018-11-16 17:54] #3248 closed

[2018-11-16 18:48] #3252 closed

[2018-11-17 21:03] benjamin2708 opened #3318 "Feedback on page: /guides/v2.2/config-guide/config/config-create.html"
# General issue

## Description:

The page says:

is that the correct place for a module event observer?

## Possible solutions:
change to module-dir/etc/events.xml ?

## Additional information:

[2018-11-19 16:33] #3249 closed

[2018-11-20 03:57] dani97 opened #3328 "Feedback on page: guides/v2.3/graphql/search-pagination.html"
Docs  for pagination functions before,after,first, last etc.

[2018-11-20 16:52] #3261 closed

[2018-11-20 17:16] hguthrie commented on #2369
The information for RabbitMQ is still correct. The Protocol is mentioned in the sentence just above. We understand it is EOL, but at this moment, the docs are truthful in defining the Cloud implementation. You can use the new Docker development environment, which supports RabbitMQ 3.7.
https://devdocs.magedevteam.com/hg-scdstrategies/guides/v2.2/cloud/docker/docker-config.html

[2018-11-20 17:16] #2369 closed

[2018-11-20 17:32] keharper commented on #3328
Hi, @dani97. we need a little more context about what kind of information you're looking for. We address pagination in the context of query results at https://devdocs.magento.com/guides/v2.3/graphql/search-pagination.html

[2018-11-20 18:51] belbiy commented on #3250
PR that fixes this issue: https://github.com/magento/devdocs/pull/3331

[2018-11-20 19:19] dani97 commented on #3328
Hi @keharper  I meant is there any implementations like first, last, before, after etc pagination functions  as there in https://graphql.org/learn/pagination/#pagination-and-edges

[2018-11-20 19:54] #3250 closed

[2018-11-20 20:07] keharper commented on #3328
@dani97  I asked the GraphQL product manager if this type of pagination is on our roadmap, and unfortunately, it's not. All we've got for now are pagination attributes described on the page I linked to earlier.

Thanks for asking.

[2018-11-20 20:07] #3328 closed

[2018-11-20 22:20] #3259 closed

[2018-11-21 17:04] keharper opened #3337 "GraphQL: Add docs for quote endpoint in 2.3.1"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/quote.html
- [ ] Other

Magento 2 GitHub Issue: Various. See the links within the graphql-ce PRs

Magento 2 GitHub PRs:
https://github.com/magento/graphql-ce/pull/163
https://github.com/magento/graphql-ce/pull/170
https://github.com/magento/graphql-

[2018-11-21 17:36] keharper opened #3338 "GraphQL: Update customer endpoint docs for 2.3.1"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: Various. See the links within the graphql-ce PRs

Magento 2 GitHub PRs:

https://github.com/magento/graphql-ce/pull/150
https://github.com/magento/graphql-ce/pull/162
https://github.com/magento/graphql-ce/pull/180
https://github.com/magento/graphql-ce/pull/187
https://g

[2018-11-21 17:43] keharper opened #3339 "GraphQL: Update product (catalog) endpoint docs for 2.3.1"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: Various. See the links within the graphql-ce PRs

Magento 2 GitHub PRs:
https://github.com/magento/graphql-ce/pull/132
https://github.com/magento/graphql-ce/pull/183
https://github.com/magento/graphql-ce/pull/186

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.1
-

[2018-11-21 18:13] keharper opened #3340 "GraphQL: Add sendEmailToFriend endpoint"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: N/A

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/226

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?
- [x] New RE

[2018-11-21 18:23] keharper opened #3341 "GraphQL: Add wishlist endpoint for 2.3.1"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/43

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/223

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
-

[2018-11-21 18:39] keharper opened #3342 "GraphQL: Add documentation for storeConfig queries in 2.3.1"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue:
https://github.com/magento/graphql-ce/issues/128

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/182

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.1
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?

[2018-11-21 19:15] dani97 commented on #3328
Thanks @keharper . I have made a feature request for it :+1:

[2018-11-22 13:29] kevingimbel opened #3344 "Feedback on page: /guides/v2.2/install-gde/prereq/file-system-perms.html"
# General issue

Outdated commands recommended.

## Description:

Under "Step 2: Find the web server user’s group" the guide recommends to run the following command to get the apache user and group from the httpd.conf file:

[code]

While this is technically correct the `egrep` program has been deprecated. It is only available for historical reasons and backwards compatibility. The man page says:

[2018-11-26 08:33] sunilit42 opened #3350 "Feedback on page: /guides/v2.1/ui_comp_guide/concepts/ui_comp_linking_concept.html"
# General issue
=>left the navigation sub child missing

As you can see here
https://devdocs.magento.com/guides/v2.1/ui_comp_guide/concepts/ui_comp_uiregistry.html#debug_uiregistry

[2018-11-26 15:00] Delyman opened #3351 "Build using Docker is missing docker-compose.yml"
# Bug report

## Description

When I use Docker to build the devdocs,it do not work. The ERROR prompt message is "Can't find a suitable configuration file in this directory or any parent. Are you in the right directory? Supported filenames: docker-compose.yml, docker-compose.yaml"
### Steps to reproduce

1. install the Docker in windows10 pro
2. Download ZIP (under the "clone or download",I Just d

[2018-11-26 16:39] belbiy opened #3357 "Feedback on page: /guides/v2.1/install-gde/install/sample-data.html"
# General issue

## Description:

Sample data installation guides missing left navigation.

## Possible solutions:

Page `group` is set to `SampleData`, but no matching TOC exists in _data/toc/. Either create a new TOC, or change the group to `installation-guide`

## Additional information:

Search for group `SampleData` to find similar pages with the same issue.

[2018-11-26 16:43] jeff-matthews commented on #3357
Thanks for reporting @belbiy. The right solution in this case is to use the existing `installation-guide` TOC.

[2018-11-27 16:45] hguthrie commented on #776
@bdenham @kokoc  What is the status on this? Is it **In Progress**?

[2018-11-27 16:49] jcalcaben opened #3361 "Configuration object topic"
# New topic request

## Description

As a developer, I want to understand how to "use the classes described in Overview of Module Configuration to create a configuration object for a new system wide foo.xml. In addition to solving a specific problem (how do I add new global/frontend/adminhtml configuration file to the system) the existence of this article would also allow developers to infer how t

[2018-11-27 16:51] jcalcaben commented on #470
This request has been recreated in #3361 using the new issue template to better outline the type of content that needs to be written.

[2018-11-27 16:51] #470 closed

[2018-11-27 16:54] hguthrie commented on #964
The related pull request was closed based on architecture discussions, see https://github.com/magento/architecture/wiki/October-31,-2018

[2018-11-27 16:54] #964 closed

[2018-11-27 16:56] hguthrie commented on #1224
@osrecio Is this still **In Progress**?

[2018-11-27 16:58] hguthrie commented on #1637
@aman3103 Are you still working on this?

[2018-11-28 12:48] Delyman commented on #3351
Anyone can tell me why "Can't find a suitable configuration file in this directory or any parent. Are you in the right directory? Supported filenames: docker-compose.yml, docker-compose.yaml"

[2018-11-28 13:35] jeff-matthews commented on #3351
@Delyman, I'm not familiar with our Docker implementation, but I'll see what I can do to help.

The only `docker-compose.yml` that I'm familiar with was added by one of our DevOps people to facilitate a CICD process. Here's the commit: https://github.com/magento/devdocs/commit/547f09d4f29793be50f8a92b1c90a25f40d7cce2.

This CICD process was abandoned, so we did some cleanup and removed both the `D

[2018-11-28 16:08] jcalcaben commented on #3351
@jeff-matthews correct. We no longer maintain a docker file in the project.

We need to update the README file to remove the section about using docker or restore that file and test it to make sure it still works.

[2018-11-29 13:32] Delyman commented on #3351
@jeff-matthews @jcalcaben Thank you for telling me about the  issue! When the README.md file updated, I will try the other way.

[2018-11-29 13:32] #3351 closed

[2018-11-29 16:24] shrielenee commented on #3318
This issue fixed by #3348

[2018-11-29 16:25] #3318 closed

[2018-11-30 18:59] cgarrigues opened #3388 "Feedback on page: /guides/v2.3/cloud/live/go-live-checklist.html"
# General issue

This page seems to be a clone of the v2.1 documentation rather than the 2.2 documentation
## Description:

The information is out of date and incorrect

## Possible solutions:

Copy the documentation from the 2.2 version into place

## Additional information:

[2018-11-30 22:29] #3388 closed

[2018-11-30 22:34] meker12 commented on #3388
Updated the v2.3 [Go Live Checklist](https://devdocs.magento.com/guides/v2.3/cloud/live/go-live-checklist.html)

[2018-12-03 17:03] sreichel opened #3393 "Update maintenance page for multistore setup"
# Topic clarification/correction request

## Topic Link

- https://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-subcommands-maint.html
- https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-subcommands-maint.html

## Description

**Guide/suggestion for multistore maintenance pages.**

A problem i faced was to have different layout and localized content

[2018-12-04 01:22] shawnabramson opened #3396 "Feedback on page: /guides/v2.2/ui_comp_guide/components/ui-insertlisting.html"
# General issue

## Description:
I am using an insertListing component to insert a grid into a form. I want to pre-filter the grid by a value from the parent form. I've spent quite a bit of time studying insert-listing.js as well as core examples of using externalFilterMode, externalProvider, and some other options that go along with it. There is very little, if anything, online that describes the

[2018-12-04 14:36] jacekl opened #3399 "Feedback on page: /guides/v2.3/comp-mgr/cli/cli-rc1-samp.html"
# General issue
There is a typo on the page, Magento Open Source mentioned twice by mistake.

## Description:

There is a typo on the page, Magento Open Source mentioned twice:
`These instructions apply to Magento Open Source (formerly Community Edition (CE) and Magento Open Source (formerly Enterprise Edition (EE) users only if all of the following are true`

## Possible solutions:

Change to:
`T

[2018-12-04 16:49] lorikrell commented on #3295
Thank you for your feedback on the Architecture Guide, @CompactCodeEU . The entire guide could use review, revision, etc. As we investigate writer support, we are also open to any contributor that would like to help with this issue!

[2018-12-04 17:22] CompactCodeEU commented on #3295
When we use and see errors in the documentation as a company we would love to help out and improve it based on our experience even though we can not be responsible for grammar errors and such.

[2018-12-04 20:20] syedqurat opened #3404 "Magento 2.3 Optimization Guide Page"
# General issue
optimization guide page not found
## Description:

Here is link when i go to optimize guide and select documentation version 2.3 i got page not found error.
https://devdocs.magento.com/guides/v2.3/config-guide/prod/prod_perf-optimize.html

page not found
## Possible solutions:

## Additional information:

[2018-12-04 20:23] keharper commented on #3404
@syedqurat I'll fix that shortly. In the meantime, that URL should redirect to here:

https://devdocs.magento.com/guides/v2.3/performance-best-practices/introduction.html

[2018-12-04 21:17] keharper commented on #3404
Fixed via #3405

[2018-12-04 21:17] #3404 closed

[2018-12-06 04:33] gelanivishal commented on #3399
@jacekl Give me page URL.

[2018-12-06 04:50] keharper commented on #3399
Hi @gelanivishal . The file to be updated is at _includes/install/sampledata/sample-data-rc1-cli.md

I think it's OK to remove `(formerly Community Edition (CE)` and `(formerly Enterprise Edition (EE)`. It's been well over a year since we renamed the products.

[2018-12-06 05:43] df2k2 opened #3412 "Development Best Practices - Database Architecture"
# New topic request

## Description

I've not found any development documentation, best practices, or even guidelines when working with database architecture.  There are some fairly important points surrounding database architecture that should be noted for developers.

## Content checklist

Topics should cover various areas surrounding database table design and maintenance, best practices, etc..

[2018-12-06 14:09] keharper commented on #3399
@gelanivishal Please make the same change as suggested in #3409.

[2018-12-06 16:24] igrybkov opened #3413 "Feedback on page: /guides/v2.3/install-gde/install/get-software.html"
# General issue

## Description:

This documentation page for 2.3 release contains a warning which talks about Magento 2.2.
![image](https://user-images.githubusercontent.com/228986/49596828-d4e80a00-f940-11e8-9867-002278dca949.png)
## Possible solutions:

## Additional information:

[2018-12-07 10:11] futratladan opened #3417 "Feedback on page: /guides/v2.3/cloud/env/environments.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2018-12-07 10:13] futratladan commented on #3417
Subscrib

[2018-12-07 13:16] #3417 closed

[2018-12-07 13:29] #3344 closed

[2018-12-07 14:15] Vinai commented on #3412
Much of this isn't Magento specific, but rather depends on the underlying RDBMS. I don't think Magento should document those things.
From what you listed, I think only table and field naming are Magento specific.
In addition to that it would make sense to write something about avoiding foreign key constraints across DB sections.

[2018-12-09 10:36] ryantfowler opened #3422 "Testing Resources For Magento 2 Are Referencing Magento 1 Resources"
# Correction request

## Topic Links
- https://devdocs.magento.com/guides/v2.2/extension-dev-guide/validate/test-module.html#more-information
  - The "Validating Magento Extensions" link
- https://devdocs.magento.com/community/resources/resources.html#automated-testing
  - "Book Test Driven Magento Extension Development by Allan MacGregor"

## Description
There are references to unit testing for M

[2018-12-10 06:14] futratladan opened #3424 "Feedback on page: /guides/v2.3/config-guide/config/config-magento.html"
https://devdocs.magento.com/guides/v2.3/config-guide/config/config-create.html
https://devdocs.magento.com/guides/v2.2/config-guide/config/config-create.html
https://devdocs.magento.com/guides/v2.1/config-guide/config/config-create.html

[2018-12-10 06:15] futratladan commented on #3424
https://instagram.com/futratladan02

[2018-12-10 06:19] futratladan opened #3426 "Feedback on page: /guides/v2.3/install-gde/install/get-software.html"
https://devdocs.magento.com/guides/v2.3/config-guide/config/config-create.html
https://devdocs.magento.com/guides/v2.2/config-guide/config/config-create.html
https://devdocs.magento.com/guides/v2.1/config-guide/config/config-create.html

[2018-12-11 05:30] namratavora opened #3435 "Missing some parameter of setup:store-config:set"
# New feature request
There are missing some parameter description. https://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-subcommands-store.html

[2018-12-11 13:59] #3435 closed

[2018-12-11 20:56] dobooth opened #3441 "Value clarification in install/allowoverrides24.md"
# Topic clarification/correction request

## Topic Link

https://github.com/magento/devdocs/blob/master/_includes/install/allowoverrides24.md

## Description

In step 2, it is not clear what value needs to go in the <Value from apache site> area. We should be clear about expected values.

[2018-12-11 21:17] jeff-matthews commented on #3441
Thanks @dobooth. I think this may duplicate #1224. Please confirm. If so, please close this issue.

[2018-12-11 21:19] dobooth commented on #3441
Duped!

[2018-12-11 21:19] #3441 closed

[2018-12-12 17:54] #3399 closed

[2018-12-13 05:01] dankhrapiyush opened #3450 "Add other caches information"
# Topic clarification/correction request
Add other caches information

## Topic Link
https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-cache.html

## Description
There are some cache data missing in the above document link.

[2018-12-13 07:17] namratavora opened #3455 "Parameter related issue on queue consumers"
# Bug report
There is parameter are missing with on queue:consumers:start command

## Description
Check document https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-queue.html

[2018-12-13 13:55] #3450 closed

[2018-12-13 19:38] #2700 closed

[2018-12-14 14:02] jeff-matthews commented on #1849
PR https://github.com/magento/devdocs/pull/3462 will use the latest version for canonical URLs. When we implement our new branch versioning project, we'll revisit this as needed. In the meantime, this, along with the new sitemap.xml file should mitigate these SEO issues.

[2018-12-14 14:02] #1849 closed

[2018-12-14 14:03] jeff-matthews commented on #1849
This PR is also related https://github.com/magento/devdocs/pull/3463.

[2018-12-15 00:36] #2189 closed

[2018-12-15 06:30] jigar48 commented on #1281
This issue is still exist on the Magento 2.2.5
![screenshot_2](https://user-images.githubusercontent.com/16815711/50039921-d9a76f00-0060-11e9-93ba-812155bf14a6.png)

Why no one is focusing on this as its important part of System and Data ???

[2018-12-15 17:04] #3455 closed

[2018-12-16 16:51] EarthTurns-Tom opened #3472 "Feedback on page: /guides/v2.3/config-guide/cron/custom-cron-tut.html"
# General issue

## Description:

Step 6 (optional): Set up a custom cron group:
Sentence missing "if".
"You should set up a custom cron group **IF** you want your custom cron job..."

## Possible solutions:

Add "if"

## Additional information:

[2018-12-17 05:50] namratavora opened #3475 "Parameter related issue on Deploy static view files"
# Bug report
There is parameter are missing with on setup:static-content:deploy command

## Description
Check document https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-static-view.html

[2018-12-18 07:17] igrybkov opened #3482 "Feedback on page: /guides/v2.3/install-gde/prereq/dev_install.html"
# General issue

## Description:

In the section "[Creating an authorization file](https://devdocs.magento.com/guides/v2.3/install-gde/prereq/dev_install.html#instgde-prereq-compose-clone-auth)" documentation describes how to set a GitHub token to `auth.json` file to avoid GitHub's throttling by requests.
In the public slack channel appeared, that some developers does not familiar with the concept

[2018-12-18 17:20] #3472 closed

[2018-12-20 16:40] lorikrell commented on #3422
@ryantfowler  thanks for the feedback! I've investigated a number of resources, including the one you provided. I also accept any additions and favorites for the Community Resources page through issues, PRs, or twitter messages. PR incoming with changes.

[2018-12-20 23:00] #3207 closed

[2018-12-21 00:52] #3422 closed

[2018-12-21 02:13] ryantfowler commented on #3422
@lorikrell Thank you

[2018-12-21 20:13] danmooney2 opened #3498 "{@inheritdoc} should be @inheritdoc"
# Bug report

## Description

Doc inheritance is not correct for LimitedMutableClass:setVal example
https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html#inheritdoc

Should be using @inheritdoc and not {@inheritdoc}, because {@inheritdoc} does not inherit required @param annotations; it only imports long description.

## Expected result

[code]

[2019-01-02 08:55] rddwh opened #3508 "Feedback on page: /guides/v2.3/rest/bulk-endpoints.html"
# General issue
More examples required around product creation via bulk API

## Description:
There is little or no information available on how to create configurable products, options and linked child SKUs using the bulk API.  Is this possible out of the box?  The page states:

_Endpoint routes that contain input parameters require additional changes. For example, PUT /V1/product/:sku/options/:op

[2019-01-02 21:33] nuzil commented on #3508
Hi @rddwh I will try to create documentation in next days

[2019-01-02 23:48] brendanfalkowski opened #3511 "Feedback on page: /guides/v2.3/install-gde/prereq/dev_install.md"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/install-gde/prereq/dev_install.html

## Description

The required information for Composer authentication glazes over how to generate a GitHub token. The Composer object naming implies that an OAuth token is needed, but this requires detailed information about the application be provided.

Currently, M

[2019-01-03 10:16] Dx3webs opened #3514 "Feedback on page: /guides/v2.2/config-guide/redis/redis-pg-cache.html"
replace redis.example.com with 127.0.0.1 which will fit most people better

[2019-01-03 14:45] jeff-matthews commented on #3511
@brendanfalkowski,

I see that you've already created a PR and I'll add comments there re: versioning. For future reference, we no longer update version 2.0 of the docs, as indicated in the banner message at the top of all 2.0 devdocs pages. In most cases, the 2.1 version of a file is symlinked to 2.2 and 2.2 symlinked to 2.3. Always check for symlinks before updating a file. Sometimes, you need t

[2019-01-04 13:52] #3511 closed

[2019-01-04 17:11] dshevtsov opened #3521 "URLs have several sources (duplicates in redirects)"
# Bug report

## Description

The `jekyll doctor` tool reports about [429 conflicts](https://gist.github.com/dshevtsov/9f9a6eaef2cf454b5989ef8f3dcfee66) where a URL is destination for several sources. In most cases the conflicts are caused by duplicated redirects when the same URL is declared as a redirect in several topics. Some of them are introduced manually and can be fixed manually. Many of t

[2019-01-08 16:41] meker12 commented on #3168
Fixed in PR #3169

[2019-01-08 16:48] jcalcaben commented on #3306
@CompactCodeEU can you provide descriptions for each of the additional directories you listed?

[2019-01-08 16:55] jcalcaben commented on #1644
Hi @SunshineTech I think you may have misread that statement, the docs say:

So the paragraph is talking about a Factory class or a Proxy class that is dependent on the class signature of the Customer class. When new functions are added to the Customer class, the Factory or Proxy classes need to be regenerated to incorporate the update.

[2019-01-08 17:13] jcalcaben commented on #1568
Hi @lazyguru can you provide more details on this request? Where should it be located?

[2019-01-08 17:23] #3168 closed

[2019-01-08 19:04] #2756 closed

[2019-01-09 13:19] herod2k opened #3540 "Installation on /pub"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html

## Description

The page says:

The problem is that this is the only way to install magento on /pub there is not another way. We can't install directly from /pub we get a loop error (https://github.com/magento/magento2/issues/16538).

The documentation

[2019-01-09 15:59] dobooth commented on #3482
This will be fixed when https://github.com/magento/devdocs/pull/3491 is pushed.

[2019-01-09 15:59] #3482 closed

[2019-01-09 22:17] lorikrell opened #3548 "MSI - Add information for new SSA Distance Priority"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [X] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub PR: https://github.com/magento-engcom/msi/pull/1866
Draft User Content: https://github.com/magento-engcom/msi/wiki/Configure-MSI-SSA

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [X] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin int

[2019-01-10 16:22] #1308 closed

[2019-01-10 20:57] #3514 closed

[2019-01-11 01:39] mohammadttc opened #3554 "Feedback on page: /guides/v2.3/ui_comp_guide/concepts/ui_comp_modifier_concept.html"
# General issue
Broken link.
## Description:

There is a broken link at the following page.
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/ui_comp_modifier_concept.html
"UI components configuration" link is pointing to a 404 page.

## Possible solutions:

## Additional information:

[2019-01-11 14:31] jeff-matthews commented on #3554
Thanks for reporting @mohammadttc. The issue is a double slash in the URL.

[2019-01-14 16:59] dobooth commented on #3554
Fixed with https://github.com/magento/devdocs/pull/3567

[2019-01-14 16:59] #3554 closed

[2019-01-14 17:51] #3357 closed

[2019-01-15 20:36] #3540 closed

[2019-01-15 21:57] #3306 closed

[2019-01-16 19:09] gregdolder opened #3582 "Missing Page: https://devdocs.magento.com/guides/v2.3/cloud/project/project-domains.html"
# Bug report

## Description

Dev Doc Missing Page: https://devdocs.magento.com/guides/v2.3/cloud/project/project-domains.html

### Steps to reproduce

1. Login to Cloud site
2. From the Domains view click the help ?

## Expected result

Page to display

## Possible solutions

Create page or name the link appropriately.

[2019-01-17 08:45] nuzil commented on #3508
Here is a PR with tutorial for Bulk API
https://github.com/magento/devdocs/pull/3580

[2019-01-17 20:15] #2619 closed

[2019-01-18 18:21] dougkm opened #3594 "ECE-Tools release notes are hard to find - Feedback on page: /guides/v2.3/cloud/release-notes/cloud-tools.html"
# General issue

ECE-Tools release notes are not easy to find.  Can they be linked from the Release information section here - https://magento.com/technical-resources and here - https://devdocs.magento.com/guides/v2.3/release-notes/bk-release-notes.html?

-->

[2019-01-18 19:08] dougkm commented on #3594
I did eventually find that link but only after looking in several other locations and falling back to find it via google.

Separate issue but note that the top hit for "Magento Cloud release notes" goes to this stub page rather than any actual release notes - https://devdocs.magento.com/guides/v2.3/cloud/release-notes/CloudReleaseNotes.html.

[2019-01-18 19:20] jeff-matthews commented on #3594
Agh... that page shouldn't exist.

@hguthrie & @meker12, please remove the `guides/v2.3/cloud/release-notes/CloudReleaseNotes.md`  file.

[2019-01-18 22:12] #1527 closed

[2019-01-19 19:57] camdixon commented on #3508
Finally some documentation about this item for bulk cataloging.  :)

[2019-01-21 07:28] ramarajsaravana opened #3598 "Feedback on page: /guides/v2.1/install-gde/bk-install-guide.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2019-01-21 07:30] ramarajsaravana commented on #3598
it is very difficult to install and settings.

[2019-01-21 15:24] jeff-matthews commented on #3598
We appreciate your feedback @ramarajsaravana, but this repo is for reporting _specific_ issues about the content on https://devdocs.magento.com.

[2019-01-21 15:24] #3598 closed

[2019-01-22 16:38] shrielenee commented on #1644
We haven't heard from you regarding this issue in two weeks. Due to inactivity, and our message explaining what you may have misconstrued, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-01-22 16:39] #1644 closed

[2019-01-22 18:13] #1612 closed

[2019-01-24 19:50] #3594 closed

[2019-01-25 09:58] hguthrie commented on #3582
There are two problems here.

1.   I will review the missing content and see if it is missing or needs a redirect.
2.  Any links from the Cloud site is out of the control of DevDocs, but I will pass along the notice to whomever controls it.

Thanks for alerting us about this!

[2019-01-28 12:53] terolahtinen opened #3631 "Error in SOAP example"
# Bug report

## Description

Code example at: https://devdocs.magento.com/guides/v2.3/get-started/soap/soap-web-api-calls.html

`$soapClient = new SoapClient($wsdlUrl, ['version' => SOAP_1_2, 'context' => $context]);`

**Should be**

`$soapClient = new SoapClient($wsdlUrl, ['version' => SOAP_1_2, 'stream_context' => $context]);`

[2019-01-29 19:10] dobooth commented on #3295
Thanks CCEU. We are working on a redo of the Architecture Guide at the moment and will bring in the clarifications you are asking for here.

[2019-01-29 19:33] bnymn opened #3649 "The example in module load order is not correct"
# Bug report

The first example given to explain module load order is not correct. I think component A and component B should be switched in the example.

The current documentation is as follows:

### Steps to reproduce

Please visit the following link to see the erroneous example, https://devdocs.magento.com/guides/v2.3/extension-dev-guide/build/module-load-order.html

## Expected result

I think

[2019-01-30 07:28] ktsixit opened #3653 "Feedback on page: /guides/v2.3/install-gde/install/post-install-umask.html"
Instructions for setting umask are not clear or complete.

1. What kind of file should 'magento_umask' be? .txt? .php?

2. Should the content of the file be the following line?
`umask 022`

3. Is there any other action required than placing the magento_umask file in magento root directory?

[2019-01-30 17:08] #3631 closed

[2019-01-31 08:49] nuzil commented on #3508
Tutorial is available online. So I'm closing issue

[2019-01-31 08:49] #3508 closed

[2019-01-31 09:45] rddwh commented on #3508
@nuzil Thanks for adding the tutorial however this only covers using the async endpoints.  I was hoping for the example to cover the Bulk endpoints e.g. /async/bulk/V1/products

The only documentation on using the Bulk endpoints is here:

https://devdocs.magento.com/guides/v2.3/rest/bulk-endpoints.html

It would be good to cover the configurable product creation, options and child linking using Bu

[2019-01-31 18:25] #3653 closed, assigned to dobooth

[2019-01-31 21:55] keharper commented on #3548
Devdocs PR: #3668

[2019-02-04 13:00] irajneeshgupta commented on #3649
@bnymn

Thank you for the report.

[2019-02-04 15:43] williankeller opened #3687 "Adjust GraphQL queries indentation & text markdown"
# Topic clarification/correction request

## Topic Link
- https://devdocs.magento.com/guides/v2.3/graphql/reference/categories.html
- https://devdocs.magento.com/guides/v2.3/graphql/reference/customer.html
- https://devdocs.magento.com/guides/v2.3/graphql/reference/products.html
- https://devdocs.magento.com/guides/v2.3/graphql/reference/quote.html
- https://devdocs.magento.com/guides/v2.3/graphql

[2019-02-04 19:35] jcalcaben opened #3690 "[Architecture] Add documentation about Magento's approach to testing"
# New topic request

## Description

Publish topic from architects regarding Magento's approach to testing.

## Content checklist

- [x] Topic contains information about Magento's approach to testing
- [ ] Find an appropriate place for this topic in the docs

## Additional information/resources

Content for the topic can be found here: https://github.com/magento/architecture/pull/65

[2019-02-04 19:57] #3649 closed

[2019-02-04 22:15] hguthrie commented on #3582
Created MAGECLOUD-3120 to address the outdated links in the Cloud project web UI. The PO will assign this to the appropriate group.

[2019-02-04 22:15] #3582 closed

[2019-02-05 16:38] shrielenee commented on #776
Hey @bdenham @kokoc @osrecio - We haven't heard from you regarding this issue in two weeks or more. Due to inactivity, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 16:38] #776 closed

[2019-02-05 16:38] #1224 closed

[2019-02-05 16:39] shrielenee commented on #1224
We haven't heard from you regarding this issue in two weeks or more. Due to inactivity, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 16:40] shrielenee commented on #776
Hey @bdenham @kokoc @osrecio - We haven't heard from you regarding this issue in two weeks or more. Due to inactivity, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 16:41] shrielenee commented on #1455
Hey there - It looks like this info may be covered in our merch docs, as mentioned above. I'm going to go ahead and close this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 16:41] #1455 closed

[2019-02-05 16:45] shrielenee commented on #1579
Hey @kunal1234gh - It looks like you already have the steps defined! Would you mind creating a PR for this? Or another fresh issue if this is still relevant? See how to do so here: https://github.com/magento/devdocs/blob/master/.github/CONTRIBUTING.md.

I'm going to close this issue. Please resubmit if needed. Thanks!

[2019-02-05 16:45] #1579 closed

[2019-02-05 16:48] shrielenee commented on #1602
Hey @melnikovi @osrecio - What's the status on this? Was it deleted?

[2019-02-05 16:51] shrielenee commented on #3178
Hey @buskamuza @ricalonso58 @dshevtsov --- It looks like we need to delete this page. Please confirm ASAP. Thanks!

[2019-02-05 16:53] shrielenee commented on #1637
Hello all - We haven't heard from you regarding this issue in two weeks or more. Due to inactivity, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 16:56] shrielenee commented on #1910
Hey @michizhou --- It looks like the PR that fixes this is still open: https://github.com/magento/devdocs/pull/3054.

Can you take a look at feedback and resubmit? Thanks!

[2019-02-05 16:59] shrielenee commented on #1220
Hey @medmek - We haven't heard from you regarding this issue in a while. Due to inactivity, we are closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 16:59] #1220 closed

[2019-02-05 17:03] shrielenee commented on #1436
Hellooo @lorikrell - It looks like the linked StackExchange post may provide a useful answer. Any info on this? Thanks!

[2019-02-05 17:05] shrielenee commented on #1441
Hello @valugi and @keharper - It doesn't look we've had any traction on this. Due to inactivity, we are closing this issue. If you have further comments and feedback, or if you have updates @keharper, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 17:05] #1441 closed

[2019-02-05 17:05] jcalcaben commented on #1217
Closing this issue. If you have further comments and feedback, please create a new issue. Thanks for taking the time to create a GitHub issue for docs improvement!

[2019-02-05 17:05] #1217 closed

[2019-02-05 17:09] shrielenee commented on #1445
Hello all - It seems there is a working Jira issue to solve for this, but no work has been done yet. We are awaiting info on the open issue before closing this. 👍

[2019-02-05 17:10] shrielenee commented on #1746
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2019-02-05 17:10] #1746 closed

[2019-02-05 17:18] jcalcaben commented on #2487
Closing issue now that ReDoc is available.

[2019-02-05 17:18] #2487 closed

[2019-02-05 17:20] shrielenee commented on #1547
Hey all - We are checking on availability of internal resources to work this ticket as mentioned above. Stand by for updates!

[2019-02-05 17:23] shrielenee commented on #1631
Hello @buskamuza --- Can you clarify this? Please see above comments.

[2019-02-05 17:53] dougkm opened #3697 "Feedback on page: /guides/v2.3/cloud/architecture/pro-architecture.html"
"For Pro projects created before October 23, 2017, the architecture is slightly different."

This statement is not strictly correct as older projects are being upgraded to the new approach.

We should say something like:

"Pro projects created before October 23, 2017, were originally provisioned using a slight different architecture.  To be upgraded, please contact your Customer Success Manager."

[2019-02-05 18:41] ricalonso58 commented on #3178
OK to delete.

[2019-02-05 18:53] michizhou commented on #1910
@shrielenee My apologies for the lackluster response on my end. I have been busy with other things for the past month, but I'll be sure to revise and resubmit by the end of this week.

[2019-02-06 15:39] hguthrie commented on #1547
I confirmed that we are still tracking this issue internally.

[2019-02-06 17:10] shrielenee opened #3700 "Add note about `InstallData` - per HotJar feedback"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.2/extension-dev-guide/attributes.html

[Extension attribute authentication](https://devdocs.magento.com/guides/v2.2/extension-dev-guide/attributes.html#ext-aut) section

## Description

Mention that `InstallData` will be executed only if the module in question was just inserted in Magento system. Otherwi

[2019-02-06 18:35] shrielenee opened #3701 "`composer create` doesn't initialize /git into install directory"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-uninstall.html

[Reinstall the Magento software section](https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-uninstall.html#instgde-install-magento-reinstall)

## Description

Per DevDocs site feedback in HotJar:

## Possible solutions

Revise

[2019-02-06 19:38] hostep commented on #1547
Recently somebody mentioned on Slack that the documentation might be correct after all (well at least with a more recent version of Magento). So if someone could double check and confirm, then that would be great. :)

[2019-02-06 19:58] keharper commented on #1547
@nuzil Can you comment on this?

[2019-02-07 19:13] #1568 closed

[2019-02-07 19:18] keharper commented on #3700
This topic might require some additional changes for 2.3.x. MSI is making CatalogInventory obsolete, while Declarative Schema might change how the attributes are saved.

[2019-02-07 23:17] keharper commented on #3342
The `ThemeGraphQl` module also needs to be documented.

[2019-02-08 16:11] keharper commented on #3340
It appears that the code PR won't be merged until after 2.3.1

[2019-02-08 17:10] keharper commented on #3302
This is a duplicate of #3341

[2019-02-08 17:10] #3302 closed

[2019-02-08 17:23] dobooth commented on #3521
When files have multiple redirects:
`- /guides/v2.1/cloud/before/before-project-owner.html
- /guides/v2.2/cloud/before/before-project-owner.html
- /guides/v2.3/cloud/before/before-project-owner.html `
The last one listed is the resultant redirect.
I suspect the first two are written and then immediately overwritten.
When files are symlinked between versions, all these multiple redirects are copied

[2019-02-08 18:24] keharper opened #3712 "GraphQL: Add documentation for customerOrders query"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/41

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/212

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
-

[2019-02-08 18:50] keharper opened #3713 "GraphQL: Describe the maximum complexity allowed in a query"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/28

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/133

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
-

[2019-02-08 20:55] hguthrie commented on #3697
Thanks @dougkm . You're right. I can enhance the note as you suggest and that should update all occurrences.

[2019-02-08 22:30] #3697 closed

[2019-02-08 23:21] keharper opened #3715 "GraphQL: Create a GraphQL tutorial based on REST order processing"
# Community engineering issue

Type of Doc:
- [x] New topic
- [ ] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/181

Magento 2 GitHub PR: N/A

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?
- [ ] New

[2019-02-08 23:31] keharper opened #3716 "GraphQL: Describe variable use in queries"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/93

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/259

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
-

[2019-02-08 23:42] keharper opened #3717 "GraphQL: Introspection is allowed in production mode"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link:
- [ ] Other

Magento 2 GitHub Issue: N/A

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/308

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] forward port

Notifications of Changes:
- [ ] Changes to Admin interface?
- [ ] New software requirements?
- [ ] New RE

[2019-02-10 09:10] travis5491811 opened #3718 "serving site from pub docs incomplete"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html

## Description

Docs are incomplete regarding serving from pub. This is a case where a fully developed site with all categories and images for categories have been added and then the site is served from pub according to docs. Based on the way the docs a

[2019-02-11 14:42] jeff-matthews commented on #3718
Thanks for reporting this @travis5491811. I wrote these instructions for version 2.2 and never tested them with version 2.3. I'll take a look.

[2019-02-11 15:44] jeff-matthews commented on #3718
@travis5491811,

I installed Magento 2.3.0 on an Apache web stack with sample data and verified that the site worked as expected. Then, I changed docroot to pub per the instructions on devdocs and the site continued working as expected. I'm not sure why you're having an issue with `pub/` appearing in your URLs. Have you tried reindexing (`bin/magento indexer:reindex`)?

[2019-02-11 16:57] travis5491811 commented on #3718
@jeff-matthews,

Thanks for taking a look. Yes, i tried re-indexing (item 13 in attempts). I'm not sure what the exact sequences is to re-produce the problem. If you installed 2.3.0, setup product categories (don't have to test making products), added images to all product categories (in my case i had sub categories with images as well), tested to make sure all images visible as expected in fronte

[2019-02-11 16:57] #3718 closed

[2019-02-13 19:20] dobooth commented on #1812
@xmav In a comment above, they mentioned that they need to run`bin/magento setup:upgrade` to make these config changes stick. Is that correct?
https://devdocs.magento.com/guides/v2.2/config-guide/config/disable-module-output.html

[2019-02-14 23:51] meker12 opened #3748 "Feedback on page: /guides/v2.3/comp-mgr/trouble/cman/php-version.html"
# General issue
Links to PHP version requirements are out of date

## Description:

[code]

Update links to the PHP version requirements for each release

v2.0 --- Delete link
Add links to v2.2 and 2.3:

v2.2: https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html
v2.3: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-02-15 18:03] erikmarr commented on #3341
test is located here:
https://github.com/magento/graphql-ce/blob/2.3-develop/dev/tests/api-functional/testsuite/Magento/GraphQl/Wishlist/WishlistTest.php

[2019-02-18 18:49] travis5491811 opened #3766 "Deprecation Notice! Magento backup features are deprecated as of v2.3.0"
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/m2/ce/user_guide/system/backups.html

## Description

The linked page says the following:

If it's deprecated as of v2.3.0, why is it in the UI for v2.3.0? Does it in-fact not work properly? For now we are using a cron job to backup the site by copying the database and the installation directory. However, this doesn'

[2019-02-19 13:28] DanielRuf opened #3772 "Do not set / recommend /admin for backend login"
# Topic clarification/correction request

## Topic Link

1. https://devdocs.magento.com/guides/v2.2/install-gde/composer.html

## Description

1. https://devdocs.magento.com/guides/v2.2/install-gde/composer.html sets the backend page to `/admin` which is insecure.

## Possible solutions

Update the `backend-frontname` to specify a more secure name, or remove from code example in the [Command line]

[2019-02-19 13:49] jeff-matthews commented on #3766
@travis5491811, this repo is for questions/feedback about _devdocs_ content only. You're referring to _merchant_ documentation, which at present is not publicly available on GitHub the same way that the devdocs source is.

But to answer your question: yes, you are misunderstanding the definition of "deprecated". From [Wikipedia](https://en.wikipedia.org/wiki/Deprecation):

[2019-02-19 13:49] #3766 closed

[2019-02-19 17:44] keharper opened #3777 "GraphQL: Add downloadable products query"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/downloadable-product.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/42

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/273

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back po

[2019-02-19 17:56] keharper opened #3779 "GraphQL: Add mutation to configurable product"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/configurable-product.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/142
Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/224

Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back po

[2019-02-19 19:26] debuysserk commented on #2609
What's the status on this item? Currently studying for front-end developer exam and was curious about the fallback with locales and like you, my tests showed option 1 for files with module context does NOT work. All the other options work alright.

Thanks for clarifyig the docs, or should M2 code be corrected?

[2019-02-19 21:17] bdenham commented on #2609
Hi @debuysserk, I'll check into this and see if I can get some resolution on it soon.

[2019-02-19 21:35] dobooth commented on #2784
Hi @gpnalin I am following up on this issue you submitted.
I wanted to first confirm they issue and your thoughts on it.
In the docs, it says:
`Before the execution of the observed method, Magento will execute plugins from lowest to greatest sortOrder.`
and then:
`Following the execution of the observed method, Magento will execute plugins from greatest to lowest sortOrder.`
Note that in afterDisp

[2019-02-20 21:18] dobooth commented on #3690
Since this was mostly expository text, it seemed better to flesh out the existing testing intro rather than create a new file.

[2019-02-20 21:36] #3690 closed

[2019-02-20 22:36] #3341 closed

[2019-02-21 19:26] #1812 closed

[2019-02-21 22:10] #1910 closed

[2019-02-22 14:44] #3701 closed

[2019-02-22 14:59] danielgoodwin97 opened #3807 "Defining new theme variables"
# Defining new theme variables

## Topic Link

https://devdocs.magento.com/guides/v2.3/coding-standards/code-standard-less.html#location

## Description

When defining new variables for a theme that are used globally, it says in the devdocs that they must be defined in the _theme.less file.

But in Magento blank's [_theme.less file](https://github.com/magento/magento2/blob/2.3/app/design/frontend/

[2019-02-22 15:11] dobooth commented on #3200
https://github.com/magento/devdocs/issues/2784

[2019-02-22 19:43] #3342 closed

[2019-02-25 17:21] shrielenee opened #3821 "Span tags visible on Installation of the Functional Testing Framework Entities page"
# Bug report

## Description

Per Hotjar feedback ID 21272352:

### Steps to reproduce

## Expected result

## Possible solutions

## Additional information

v2.0 error only

[2019-02-25 17:33] keharper commented on #2678
This should have been closed at 2.3

[2019-02-25 17:33] #2678 closed

[2019-02-25 20:28] dobooth commented on #3521
https://github.com/magento/devdocs/pull/3812

[2019-02-25 21:51] lorikrell commented on #3548
Closing due to work completed.

[2019-02-25 21:51] #3548 closed

[2019-02-25 22:10] #3821 closed

[2019-02-26 17:08] jfrontain commented on #2959
hi @michizhou, let us know where you are in this task. We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Installation and Configuration project.

[2019-02-26 17:15] jfrontain commented on #2578
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Frontend project.

[2019-02-26 17:15] keharper commented on #2959
This topic as been updated recently, thanks to the efforts of @dobooth I don't think we want to encourage poking around in the DB to determine whether module output is disabled. Sounds more like a potential knowledge base article.

[2019-02-26 17:18] jfrontain commented on #2387
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Cloud project.

[2019-02-26 17:19] keharper commented on #2959
Closing, per https://github.com/magento/devdocs/pull/3030

[2019-02-26 17:19] #2959 closed

[2019-02-26 17:19] jfrontain commented on #2796
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Frontend project.

[2019-02-26 17:19] michizhou commented on #2959
@jfrontain As mentioned by @keharper, this particular issue seems no longer relevant as the focus has shifted away from its original scope of looking in the DB to see if module output is disabled for the fear that such probing could lead to unfavorable changes that could affect the DB. As such, I am no longer involved with this issue and have left @keharper and company to take over.

[2019-02-26 17:22] jfrontain commented on #2108
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Cloud project.

[2019-02-26 17:23] jfrontain commented on #1537
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Installation and Configuration project.

[2019-02-26 17:24] meker12 commented on #1727
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the   Installation and Configuration Documentation project.

[2019-02-26 17:25] jfrontain commented on #1276
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the Frontend project.

[2019-02-26 17:25] meker12 commented on #1740
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the  Installation and Configuration Documentation project.

[2019-02-26 17:27] meker12 commented on #3393
We are re-organizing our unresolved GH issues into smaller, more focused projects, and have moved this to the  <name> project.

[2019-02-26 18:15] hguthrie commented on #2108
This request is tracked in the Cloud kanban MAGECLOUD-2282.

[2019-02-26 18:26] keharper commented on #2404
Completed with #3825

[2019-02-26 18:26] #2404 closed

[2019-02-26 19:29] keharper opened #3827 "GraphQL: Add isEmailAvailable query to Customer endpoint"
# Community engineering issue

Type of Doc:
- [ ] New topic
- [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/graphql/reference/customer.html
- [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/graphql-ce/issues/352

Magento 2 GitHub PR: https://github.com/magento/graphql-ce/pull/356
Magento 2 version:
- [ ] 2.1.X
- [ ] 2.2.X
- [x] 2.3.X
- [ ] back port
- [ ] for

[2019-02-28 19:17] hguthrie commented on #3521
Regarding the cloud example with `/before/before-project-owner.html`. The original file does not exist. There is only one file that exists and it is an Onboarding topic in version 2.1. Are you talking about Redirect To? Or Redirect From?

I'm all for cleaning these things up. Over time, they get messy.

[2019-03-01 16:00] keharper commented on #3716
Addressing https://github.com/magento/devdocs/issues/3713 in this PR because I only needed to add a short note.

[2019-03-01 19:38] keharper commented on #2405
Fixed per #3849

[2019-03-01 19:38] #2405 closed

[2019-03-01 19:49] keharper commented on #2406
Work completed by https://github.com/magento/devdocs/pull/2870

[2019-03-01 19:49] #2406 closed

[2019-03-02 18:06] keharper commented on #3712
Closed per #3855

[2019-03-02 22:10] keharper commented on #3339
Closed per #3854

[2019-03-02 22:10] #3339 closed

[2019-03-02 22:14] keharper commented on #3338
Closed per #3818

[2019-03-02 22:14] #3338 closed

[2019-03-02 22:31] #3712 closed