[2016-06-16 03:35] astorm opened #718 "KnockoutJS: Custom Binding Documentation"
Magento 2's KnockoutJs implementation includes a number of "custom bindings".  There are 12 in the 2.0.x branch.

[code]

Documenting what each of these does would be extremely valuable to javascript and theme developers working in the Magento 2 system.

[2016-06-16 13:00] xcomSteveJohnson commented on #706
We can't help with the PHP merge issue but I have a question for you. The `mcrypt` and `mhash` extensions aren't in `ppa:ondrej/php`. `mhash` is supposedly in `php-common` and I used `php5-mcrypt`, which installs a PHP 5.4 version. Do you know if that works with Magento?

[2016-06-16 14:01] xcomSteveJohnson commented on #715
Verify page and troubleshooting pages are updated. We cannot tell the user to use `Allow Override All` so it's up to you to decide the value to use there.

Please look at it and close this if you're satisfied. Thanks

[2016-06-16 19:43] Vinai opened #719 "JavaScript testing documentation is incomplete"
The page https://github.com/magento/devdocs/blob/2.0/guides/v2.0/extension-dev-guide/test/test_js-unit.md only covers using the old qunit/JsTestDriver based tests found in the directory `dev/tests/js/JsTestDriver`.

It does not cover the jasmine/grunt based tests found in `dev/tests/js/jasmine`, even though they are newer and easier read, write and execute.

Links to the documentation of the assoc

[2016-06-16 21:39] xcomSteveJohnson commented on #706
@deepanshu27193  Updated, please check and close this if you're satisfied.

[2016-06-19 19:08] xcomSteveJohnson commented on #719
@Vinai Any chance you can help with this?

[2016-06-19 19:38] Vinai commented on #719
Currently too busy to commit, but generally I'd be happy to.

[2016-06-19 22:50] vagdou opened #722 "Greek language pack for the administrator Options"
Hi,

There Greek language pack for the administrator of magento 2.0.7 Connunity?

Yours sincerely

Vag dou

[2016-06-19 23:08] xcomSteveJohnson commented on #722
Suggest you ask in the [crowdin discussion](https://crowdin.com/project/magento-2)

[2016-06-19 23:36] vagdou commented on #722
Ok, Thank you very much!

[2016-06-21 15:43] jfrontain commented on #717
Hi Alan, thanks for catching these errors. I've fixed the installation instructions as needed in the RC2 CE and EE notes, and republished. As always, your eagle eyes are welcome.

[2016-06-21 15:43] #717 closed

[2016-06-22 08:56] almarchenko commented on #718
Hi @astorm, thank you for the feedback!
I created an internal issue for this MAGETWO-54468, but it will take at least couple of weeks, because there are other issues in backlog.

[2016-06-25 14:05] xcomSteveJohnson commented on #722
Closing

[2016-06-25 14:05] #722 closed

[2016-06-25 14:05] xcomSteveJohnson commented on #706
Update?

[2016-06-25 14:07] xcomSteveJohnson commented on #705
We're still looking at this and hope to have an answer soon. Thanks.

[2016-06-26 09:14] hostep commented on #419
Hi

I also believe Magento should write some documentation about recommended deployment scenario's to/on a production server.
There already exists a [page](http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_deploy.html) about this, but this only talks about the initial setup. Not about deploying updates of your project to the production server.

We need to know exactly which steps (comm

[2016-06-27 05:08] deepanshu27193 commented on #706
First of all sorry for the late reply, as far as my concern i haven't came across with any problem, so i can say that there will be no issues regarding mcrypt and mhash, and it will work fine with magento 2.0.x.

[2016-06-27 05:08] #706 closed

[2016-06-27 15:13] avoelkl opened #731 "Elasticsearch link broken"
Hi,

The "More information about Elasticsearch" link on this page is broken:
http://devdocs.magento.com/guides/v2.0/cloud/project/project-conf-files_services-elastic.html

Instead of http://devdocs.magento.com/guides/v2.1/config-guide/elasticsearch/es-overview.html it links to http://devdocs.magento.com/guides/v2.0/config-guide/elasticsearch/es-overview.html

I'm not quite sure how the link genera

[2016-06-27 15:59] xcomSteveJohnson commented on #731
Sorry about that. Fixed now. Please check and close this issue if it resolves the problem.

[2016-06-28 03:54] christopherbradbury opened #732 "Search Criteria documentation incorrect for "And" scenario"
#### Re:
http://devdocs.magento.com/guides/v2.1/howdoi/webapi/search-criteria.html

Section for "The following example searches for products whose attributes are size=Large <strong>AND</strong> color=Red." (emphasis mine)
[code]

#### Version
Magento 2.1.0

#### Issue/Question

We are using Magento 2.1.0, and best I can tell, the above example does not result in an AND condition, but an OR conditi

[2016-06-28 16:56] dougkm opened #734 "404 for indexing link"
On the page http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-index.html, the link for "More information about Indexing" (http://devdocs.magento.com/guides/v2.1/architecture/index-cache/indexing.html) returns a 404

[2016-06-29 12:27] LittleCamel opened #735 "Magento 2.1 documentation"
Documentation need updates for Magento v2.1. For example: http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-apply.html to apply theme and add a design exception in Admin now you have to go to Content->Configuration and then from table select where you want to apply the theme.

[2016-06-29 13:41] brobie opened #736 "404 on Magento EE Backwards Comp Link"
From this page: http://devdocs.magento.com/guides/v2.1/release-notes/changes_2.0.html

When clicking on the link for: Magento EE backward incompatible changes

404 happens.

[2016-06-29 14:52] xcomSteveJohnson commented on #736
This is a strange side effect of using Jekyll. After initially publishing 2.1 documentation, I removed the `changes_2.0.html` page from the source; however, the HTML page that Jekyll created is still there.

When you go to the [2.1 Release Notes home page](http://devdocs.magento.com/guides/v2.1/release-notes/bk-release-notes.html), you don't see that same link.

There's no easy way to clean these

[2016-06-30 17:10] erikhansen commented on #419
@xcomSteveJohnson I agree with @hostep that the devdocs should be updated to include the recommend order of steps to deploy. It might also be useful to link to community projects that can facilitate production deployments, such as @davidalger's [capistrano-magento2](https://github.com/davidalger/capistrano-magento2) Gem.

Whoever is writing this documentation may want to reference the sequence of

[2016-06-30 18:33] dougkm opened #737 "update Services document to reflect our packaged build and deploy scripts"
For example, the page:

https://github.com/magento/devdocs/blob/develop/guides/v2.0/cloud/project/project-conf-files_services-elastic.md

Gives the implementation example for out how extend the deploy script for elastic but this should just be handled by our out of the box script.  That script is not referenced by the documentation.

[2016-06-30 20:04] RG-1 opened #738 "Mistake in "Magento ownership and permissions in development and production""
There is a small mistake in Developer Documentation.

Where to find it?
--
1. Go to http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html
2. Find "Tasks for one Magento file system owner" and reveal "Click to show/hide content"
3. Find "Make files and directories writable:"

Mistake
--
I think that `chmod -R u+x .` should be changed to `chmod -R u+w .`

File
--
https://

[2016-07-01 14:48] xcomSteveJohnson commented on #737
Please provide more detail because I do not know what script you're referring to.

[2016-07-01 15:24] xcomSteveJohnson commented on #734
Fixed now. Please verify and close this issue.

[2016-07-01 15:59] xcomSteveJohnson commented on #738
Thanks for pointing that out. I fixed some other mistakes at the same time. Please take a look.

[2016-07-01 19:58] RG-1 commented on #738
:thumbsup:

[2016-07-01 19:58] #738 closed

[2016-07-02 18:23] xcomSteveJohnson commented on #705
Thanks @dooblem for bringing this up and to @davidalger for the solution. Updated the [crontab topic](http://devdocs.magento.com/guides/v2.1/install-gde/install/post-install-config.html#post-install-cron) and the [PHP settings topics](http://devdocs.magento.com/guides/v2.1/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone) as follows:

*  Removed `-c` from crontab
*  Advised in both place

[2016-07-03 12:50] hostep opened #739 "Add a recommended PHP memory_limit value for just running Magento 2 in production"
Hi

I noticed you added a bunch of recommended `memory_limit` values over [here](http://devdocs.magento.com/guides/v2.1/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone) and [here](http://devdocs.magento.com/guides/v2.1/install-gde/prereq/php-centos.html#instgde-prereq-timezone):

But there is one crucial recommendation missing: namely what `memory_limit` do we need to use to just run Ma

[2016-07-03 15:03] avoelkl commented on #731
Hi,
Thanks, works now :)

[2016-07-03 15:03] #731 closed

[2016-07-04 11:36] almarchenko commented on #735
@LittleCamel Thanks!
The topic for v 2.0 was published for 2.1 by mistake. I'll correct asap.

[2016-07-04 15:38] xcomSteveJohnson commented on #739
In my personal opinion, Magento should not recommend these settings because they're too dependent on what you want to do. Import/export and testing drives memory usage way up and memory is pretty cheap isn't it?

I'll ask for advice and update you.

[2016-07-04 15:51] almarchenko commented on #735
@LittleCamel I've fixed the problem,
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-apply.html
Thank you again for reporting, can we close the issue?

[2016-07-04 17:41] hostep commented on #739
You have a point there, although for testing you already recommend a value (`2G`).
My question was for a production environment (testing shouldn't be performed on a production environment).
Import/export is something you (normally) do using a cronjob, so this runs in the background using php-cli which has no memory limit by default.

I'm looking for a value for just running a vanilla Magento 2 ins

[2016-07-04 21:00] LittleCamel commented on #735
Yes, you can close this issue.
Thank you!

[2016-07-04 21:30] maderlock commented on #419
As usual we're trying to work this out ourselves but it is a lot more difficult to get working than with Magento 1 which in very well understood by this point. c.f.
http://magento.stackexchange.com/questions/102144/magento-2-deployment-process
http://magento.stackexchange.com/questions/124166/order-of-magento-2-deployment-tasks

[2016-07-05 08:14] #735 closed

[2016-07-05 15:05] navarr opened #741 "Magento Testing Guide missing from v2.1"
The howdoi/mtf is missing in v2.1, where it exists in v2.0, and is linked from extension-dev-guide/validate/test-module

Page with link: http://devdocs.magento.com/guides/v2.1/extension-dev-guide/validate/test-module.html
Link text: "Magento Testing Overview"
Link to: http://devdocs.magento.com/guides/v2.1/howdoi/mtf/mtf.html

[2016-07-05 15:21] dshevtsov commented on #741
Good catch!
This topic was moved to http://devdocs.magento.com/guides/v2.1/test/testing.html
Now you can open it when click "Testing" in navigation bar on top of the page (on left from "How Do I...?").
We'll fix the links.
Thanks!

[2016-07-05 21:53] jcalcaben commented on #473
Documentation for the event/observer pattern has been created and can be found here: http://devdocs.magento.com/guides/v2.1/extension-dev-guide/events-and-observers.html

[2016-07-05 21:53] #473 closed

[2016-07-05 22:34] erikhansen commented on #473
Great!

[2016-07-06 09:13] dshevtsov commented on #741
Please check the "Magento Testing Overview" link.

[2016-07-06 12:35] navarr commented on #741
Confirmed fixed.

[2016-07-06 12:35] #741 closed

[2016-07-06 15:23] RG-1 opened #745 ""Customize email templates" needs update due to changes since Magento 2.1.0"
Developer Documentation needs update due to changes since Magento 2.1.0

Where to find it?
--
1. File: https://github.com/magento/devdocs/blob/develop/guides/v2.0/frontend-dev-guide/templates/template-email.md
2. Go to http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/templates/template-email.html#customize-logo-admin

Update
--
1. `STORES > Settings > Configuration > GENERAL > Design > Em

[2016-07-06 18:24] keharper commented on #732
@christopherbradbury You are correct, and it's a documentation bug. The filters within a filter_groups are logically OR'd. The filter_groups logically AND'd. This is internal issue MAGETWO-50587, and I'll correct the documentation this week

[2016-07-06 18:34] christopherbradbury commented on #732
@keharper Thank you for the reply/clarification!

[2016-07-07 14:38] almarchenko commented on #712
@astorm  "JS component" term in defined here http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/bk-javascript-dev-guide.html#js_terms
I've added a link to the definitions in JS initialiation topic

[2016-07-07 16:15] astorm commented on #712
@almarchenko  Thank you!  It seems small, but it's an important distinction that makes things clearer for folks coming cold into Magento's javascript systems!

[2016-07-07 16:15] #712 closed

[2016-07-07 17:07] astorm opened #746 "KnockoutJS Template Customizations Need Documentation"
Magento 2 has made a number of customizations to the KnockoutJS framework that make it behave in ways that are different from standard KnockoutJS.  These include (but are not limited to)
1. Modifying the template system so it loads KnockoutJS templates from a URL (vs. the standard behavior of loading them from the page source)
2. Parsing those templates for extra nodes and tags and attributes that

[2016-07-07 20:06] xcomSteveJohnson commented on #736
I was incorrect that deleting HTML files breaks the publication process. I deleted the HTML file you mentioned, so now you'll get a 404 if you try to go to that page.

Please verify and close.

[2016-07-07 22:48] shraddhacloudelements opened #747 "Where do we get the `authorization endpoint` in v2"
What endpoint is being used for `admin authorization`?

[2016-07-08 08:31] LittleCamel opened #748 "Catalog Category Link Widget issue"
When adding "Catalog Category Link" widget if you leave empty "Anchor Custom Text" it should use category name but it don't. It just display empty span inside anchor on fronted ( link to category is there but category name is not).

[2016-07-08 08:40] almarchenko commented on #748
Hi @LittleCamel
As far as I understand this is an issue in the product itself, not docs, so more chances it would efficiently addressed  if you put in the magento2 github repo. https://github.com/magento/magento2/issues

[2016-07-08 09:15] LittleCamel commented on #748
Hi @almarchenko
Yes, sorry. I open it here by mistake.
You can close this.

[2016-07-08 11:56] #748 closed

[2016-07-08 14:24] keharper commented on #747
I'm not sure I understand the full context of your question. Are you looking for /V1/integration/admin/token?

[2016-07-11 14:19] almarchenko commented on #560
@samleeiii  Can we close this issue?

[2016-07-11 14:20] almarchenko commented on #524
@mohinik-chetu is this issue related to documentation?

[2016-07-11 14:22] #510 closed

[2016-07-11 15:42] #560 closed

[2016-07-11 21:29] xcomSteveJohnson commented on #366
FWIW, this is underway but could still take a while to complete.

[2016-07-11 23:00] xcomSteveJohnson commented on #648
I'm sorry this took so long; I had assigned it to the wrong person.

Removed the word "schema". The internal wiki says "The command converts layout(XML) files to new format by applying XSL style sheet." which is kind of vague. If you've used this command, please let me know how and when you used it and I'll update the information.

If you're happy with the resolution, please close this issue.

[2016-07-12 16:03] keharper commented on #747
@shraddhacloudelements , just checking to see if you're still looking for help.

[2016-07-13 15:04] xcomSteveJohnson commented on #737
@dougkm  Reminder. I am not sure what I need to do.

[2016-07-13 15:05] xcomSteveJohnson commented on #736
Please let us know if you still have concerns. I expect to close this in the next week or so otherwise.

[2016-07-13 15:05] #734 closed

[2016-07-13 15:06] xcomSteveJohnson commented on #705
@dooblem  Please let us know if you have additional feedback or concerns; otherwise, I expect to close this in the next week or so.

[2016-07-13 15:09] xcomSteveJohnson commented on #623
@asemenenko @Greenbebiz What else is needed to close this issue?

[2016-07-13 15:17] xcomSteveJohnson commented on #419
Tracking with internal issue MAGETWO-55366.

Expect some questions from me as I get started.

[2016-07-13 15:17] dooblem commented on #705
Perfect for me. I think you can close.

[2016-07-13 15:18] xcomSteveJohnson commented on #339
Unfortunately we're stuck on improving Varnish documentation. We need some help to discuss how to use Varnish with HTTPS and it isn't happening. I can't give you an ETA right now.

[2016-07-13 15:19] erikhansen commented on #419
@xcomSteveJohnson I'd be happy to answer questions as you have them.

[2016-07-13 15:32] #705 closed

[2016-07-13 16:30] maderlock commented on #419
Ditto. We have our first production site going live next week and we've reverted to manual commands due to uncertainty over ordering of commands. Great to see some movement on this.

[2016-07-13 17:25] dougkm commented on #734
verified

[2016-07-14 13:44] xcomSteveJohnson commented on #434
@astorm  Let us know what you think: http://bit.ly/29xO5Hd

[2016-07-14 15:26] astorm commented on #434
A good first draft, but it doesn't go far enough.

You mention

However, I don't see any concrete example of how this works. i.e. you say you can log to files, but the three articles don't show which files get logged to.  Some like like

1. Write this code
2. Run this code
3. Look in *file x* on your system for the message

It's also not clear from the above if *Magento* has stock loggers for logg

[2016-07-14 16:55] mttjohnson commented on #434
Agreed. It is a nice first draft, but does lack a lot of details for understanding how to utilize a logger  affectively.

There are two handlers currently defined in the Magento di.xml that will write to the `/var/log/debug.log` and `/var/log/system.log`.

    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">main</argument>

[2016-07-14 22:54] xcomSteveJohnson commented on #434
@mttjohnson Thanks for your input. We'll keep you posted.

[2016-07-15 12:48] purplecommerce commented on #497
I am facing same issue with Model class and it gives error,[2016-07-15 11:57:18] main.CRITICAL: Class Magento\Ccavenuepay\Model\CbdomMain does not exist [] []

a:4:{i:0;s:37:"Object DOMDocument should be created.";i:1;s:10228:"#0 /home/beebayonline/public_html/vendor/magento/framework/View/Element/UiComponent/Config/Reader.php(95): Magento\Framework\View\Element\UiComponent\Config\DomMerger->getDo

[2016-07-15 12:54] xcomSteveJohnson commented on #497
Please don't comment on closed issues. You'll be better off posting this technical question on [magento.stackexchange.com](http://magento.stackexchange.com/) or the [Magento 2 GitHub repo](https://github.com/magento/magento2/issues).

[2016-07-18 11:36] almarchenko commented on #746
Hi @astorm, thank you for pointing out.
I've created the internal issue MAGETWO-55538 in our SMEs's backlog, and it will be one of our priorities.

[2016-07-18 20:00] xcomSteveJohnson commented on #736
Closing.

[2016-07-18 20:00] #736 closed

[2016-07-18 20:00] xcomSteveJohnson commented on #648
@ryantfowler  OK to close?

[2016-07-21 19:01] nickmarx12345678 opened #760 "Bad clear pub/static command"
On the page
http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html

In the orange box towards the middle of the page, you suggest the following command to clear the static content files

`find . -depth -name .htaccess -prune -o -delete`

It isn't immediately clear this is a very destructive action if run from the wrong directory (project root for example)

[2016-07-21 21:01] erikhansen opened #761 "Stack Overflow Documentation"
Stack Overflow just launched Documentation as a beta feature: http://stackoverflow.com/tour/documentation

There is now a Magento 1 Stack Overflow documentation page: http://stackoverflow.com/documentation/magento/topics

The Magento 2 Stack Overflow documentation page has not yet gained enough "committers" for it to get its own page, but I expect it will soon: http://stackoverflow.com/documentati

[2016-07-21 22:17] tanberry commented on #761
Hi and thanks, @erikhansen . Yes, DevDocs team is aware of this site, but we very much appreciate you sharing your views and concerns.

Agreed, bifurcation and general dissolution of content is a real concern. We definitely prefer that effort and investments are made to the official Magento devdocs, and we prefer that as a community we all focus there. However, it is part of Magento culture and hi

[2016-07-22 01:52] erikhansen commented on #761
@tanberry Ok, great. I'm glad you're aware.

I think that letting the community do what it's going sounds like a good course. The fact that there are 580 merged pull requests to DevDocs says good things about how the ecosystem has embraced DevDocs.

Closing this issue. Thanks for the quick response.

[2016-07-22 01:52] #761 closed

[2016-07-22 10:03] hostep commented on #760
A way more easier command to remove all files from `pub/static` without removing hidden files (the `*` doesn't match hidden files) is:

[code]

In my opinion, way more clearer then that complicated `find` command ;)

[2016-07-22 10:46] icsw opened #762 "Business Logic layer is mentioned, but no explanation of this term."
At http://devdocs.magento.com/guides/v2.1/architecture/arch_whatis.html there is Business Logic layer mentioned but no explanation of its meaning are given.

Have they equivalent meanings (synonyms)? Or, is Business Logic layer subset of Domain layer (made by developers)? Or is it something else?

[2016-07-22 19:43] shraddhacloudelements commented on #747
Instead of oauth, I switched to Token authentication. That worked fine. Thanks for your help.

[2016-07-22 19:43] #747 closed

[2016-07-22 19:46] almarchenko commented on #695
@erikhansen We've made it a separate topic
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html

(I didn't rename the file itself this time, to avoid issues with re-addressing, but will do eventually)

[2016-07-22 19:47] shraddhacloudelements opened #763 "REST: GET /V1/products/attribute-sets/groups/list"
I used exactly this API:
http://{site}/index.php/rest/V1/products/attribute-sets/groups/list?searchCriteria[pageSize]=100&searchCriteria[currentPage]=1

This API gives me this error:
{
  "message": "%fieldName is a required field.",
  "parameters": {
    "fieldName": "attribute_set_id"
  }
}

Just wanted to check if this is the correct way?

[2016-07-22 19:54] erikhansen commented on #695
@almarchenko Looks great! Thanks for being so responsive to community feedback.

[2016-07-22 19:54] #695 closed

[2016-07-22 19:56] keharper commented on #763
You'll have to specify a field/value/condition_type as shown here:

http://devdocs.magento.com/guides/v2.1/howdoi/webapi/search-criteria.html

Then you can add your pageSize and currentPage arguments.

[2016-07-24 22:26] xcomSteveJohnson commented on #623
Closing

[2016-07-24 22:26] #623 closed

[2016-07-24 23:24] xcomSteveJohnson commented on #760
@nickmarx12345678 Thank you for pointing this out. I'm sorry to hear how much trouble it caused you. I don't recall who suggested this command but it's gone now.

Thanks to @hostep for the simple solution.

Please check it and close this issue if you're happy with the resolution: http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html

[2016-07-25 16:14] shraddhacloudelements commented on #763
That means, `attribute_set_id` is mandatory to be passed as parameters. That worked. Thanks.

[2016-07-25 16:14] #763 closed

[2016-07-25 19:43] shraddhacloudelements opened #764 "REST: POST /V1/products/{sku}/media"
I used the below payload for this API:
{
  "entry": {
    "media_type": "image",
    "label": "Testbuild",
    "position": 1,
    "disabled": false,
    "types": [
      "image",
      "small_image",
      "thumbnail",
      "swatch_image"
    ],
    "file": "/Users/....path/to/file/hawaii.jpeg"
  }
}

I get the below error:
"messages - {error=[{code=500, message=Server internal error. See details

[2016-07-25 20:42] shraddhacloudelements opened #765 "creating Coupons through magento UI"
What is the path to `Coupons` option in Magento UI? I am sure it should be under `Sales`, but I cannot find it.

[2016-07-25 20:48] xcomSteveJohnson commented on #765
We're not familiar with all the options in the Admin but you can start here: http://docs.magento.com/m2/2.0/ce/user_guide/marketing/price-rules-cart.html

There is also a configuration reference: http://docs.magento.com/m2/2.0/ce/user_guide/stores/configuration.html

[2016-07-25 21:00] shraddhacloudelements commented on #765
That would be of good help. Thanks @xcomSteveJohnson.

[2016-07-25 21:03] keharper commented on #764
I don't have an installation available right now. Can you provide the details listed in the report?

[2016-07-25 21:06] ccondra commented on #765
One thing I would add is that whenever you can't find something, just do a search from the user guide.  A search for "coupon" returns 27 results.  Even though I work on the user guides, I use Search all the time!

[2016-07-25 21:07] shraddhacloudelements commented on #765
Sure. Thanks!

[2016-07-25 21:08] tanberry commented on #765
Thanks, @ccondra . Can you throw in the URL for the User guide, for @shraddhacloudelements ?

[2016-07-25 21:20] ccondra commented on #765
Steve included the links, but here's a link to our documentation landing page, where you can find everything that you might need:  https://magento.com/help/documentation

[2016-07-25 21:27] shraddhacloudelements commented on #765
Thanks guys for helping me out.

[2016-07-25 21:29] shraddhacloudelements commented on #764
I am not sure how to retrieve that report. However, I tried doing `GET http://{ip}/index.php/rest/V1/api/1276978747689`, but it was incorrect. Could you please help me in retrieving it? Thanks.

[2016-07-25 22:56] shraddhacloudelements opened #766 "REST: POST /V1/coupons/generate"
I am trying to generate a coupon using the below payload:
{
  "couponSpec": {
    "rule_id": 1,
    "format": "",
    "quantity": 0,
    "length": 0
  }
}

I get this error:
message - One or more input exceptions have occurred.

I am not sure what the "format" value be in the JSON. It could be "text", "number", etc. Could you please help me with this?

[2016-07-26 17:32] nickmarx12345678 commented on #760
That should do it yeah, thanks. closing

[2016-07-26 17:32] #760 closed

[2016-07-26 18:34] keharper commented on #732
@christopherbradbury  I've posted the updates to the searchCriteria article. Let me know what you think.

[2016-07-26 22:25] shraddhacloudelements opened #767 "POST: /V1/orders"
On doing a POST /V1/orders, I get the following error:

  "message": "Request does not match any route."

Is this a known issue? What could be the possible reason? I am not writing the payload that I used for request here as it is quite a big one, but if required I will do so. Thanks!

[2016-07-26 23:15] shraddhacloudelements opened #768 "Adding Products Links through magento UI"
I am trying to look for the path to add links to a product but could not find one. I tried to do search in user guide but did not get any relevant answer.

[2016-07-27 00:16] xcomSteveJohnson commented on #768
@ccondra Claire?

[2016-07-27 02:11] ccondra commented on #768
Yes, you can do this with a URL Rewrite.  (I need to add this recipe to the user guide.) Here's how:
1. Create a new category where you want it to appear in the top nav.
2. Write down the full URL key of the category, or go to the storefront and copy the URL. (You will need the category path part of the URL. For example: sale/my-cms-page
3. Write down the URL key of the CMS page that you want to l

[2016-07-27 15:01] rob1256 commented on #419
Can I ask what commands people are using and in what order for deployment in production mode, with minimal down-time?  I don't think I'm going to be able to have a build server to compile etc. on to then sync across to the production server (the idea of this seems a bit ridiculous anyway).

For example, say there is an update to one or more less files in my theme, as far as I can tell, you need to

[2016-07-27 15:41] christopherbradbury commented on #732
👍
Thank you for updating that!

[2016-07-27 17:02] keharper commented on #732
Glad you liked it. I'll close this issue. Feel free to reopen if you see any errors or need more clarification.

[2016-07-27 17:02] #732 closed

[2016-07-27 17:52] icsw opened #769 "A broken link"
(I found it in page http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/install-cli-install.html)

There's link http://devdocs.magento.com/guides/v2.1/install-gde/install/continue.html under text "Your install or upgrade path" that is broken.

Or, from page's source code:
`<a href="/guides/v2.1/install-gde/install/continue.html">Your install or upgrade path</a>`

[2016-07-27 18:24] davidalger commented on #419
@rob1256 Classy Llama is using the capistrano-magento2 gem (which I personally wrote and published on my github) for all code deployments to staging and production environments: https://rubygems.org/gems/capistrano-magento2 (more info in the [README](https://github.com/davidalger/capistrano-magento2/blob/master/README.md) and at [this blog post](http://davidalger.com/development/magento/deploying-

[2016-07-27 18:56] xcomSteveJohnson commented on #769
@icsw Sorry, I cannot find the link. Please confirm the page you found it on and I'll be glad to fix it ASAP.

[2016-07-27 19:05] icsw commented on #769
It's still here.
I updated description a bit. I hope that helps.

[2016-07-27 20:10] xcomSteveJohnson commented on #769
Thanks for pointing it out. Fixed now. Please close this if you're happy with the resolution.

[2016-07-27 20:11] icsw commented on #769
Thanks!

[2016-07-27 20:11] #769 closed

[2016-07-27 20:39] keharper commented on #767
I'm sure the problem lies with the payload. If you can reduce it to an order with just one item and post it, that'd be helpful.

[2016-07-28 20:39] xcomSteveJohnson commented on #768
@shraddhacloudelements Does this help? Can we close the issue?

[2016-07-28 20:39] xcomSteveJohnson commented on #765
@shraddhacloudelements  Can we close this?

[2016-07-28 20:39] shraddhacloudelements opened #770 "REST: POST /V1/coupons/generate"
I use this payload to generate the coupon:
{
  "couponSpec": {
    "rule_id": 3,
    "quantity": 5,
    "length": 5
  }
}

Before this, I created a new cart rule to get the rule ID.
I get this error for `generate coupons`:
"message - Error occurred when generating coupons: %1, parameters - [Specified rule does not allow automatic coupon generation]"
Could you please let me know what should be a va

[2016-07-28 20:40] xcomSteveJohnson commented on #648
Closing.

[2016-07-28 20:40] #648 closed

[2016-07-28 21:14] ryantfowler commented on #648
@xcomSteveJohnson my apologies for not closing this...and yes I'm happy with the resolution. Thanks!

[2016-07-28 22:08] shraddhacloudelements opened #771 "REST: GET /V1/stockItems/lowStock/"
For this API, how can I get the `scopeId` which is to be passed as one of the parameter?

[2016-07-28 22:20] shraddhacloudelements commented on #768
Well, I have to do it via REST `POST /V1/products/{sku}/links`, but before that, I wanted to do it through UI. But still, I could not find it. I just wanted to check with you if the above-mentioned solution is related to the `POST /V1/products/{sku}/links` so that we are on the same page. Thanks!

[2016-07-28 22:21] shraddhacloudelements commented on #765
Thanks!

[2016-07-28 22:21] #765 closed

[2016-07-29 14:32] keharper commented on #771
It seems to be a bit of a mystery. Try your website ID.

[2016-07-29 17:08] keharper commented on #771
GET /V1/store/websites

[2016-07-29 17:17] shraddhacloudelements commented on #771
Thanks for the input, but now it gives this error:
"{\"message\":\"One or more input exceptions have occurred.\",\"errors\":[{\"message\":\"%fieldName is a required field.\",\"parameters\":{\"fieldName\":\"scopeId\"}},{\"message\":\"%fieldName is a required field.\",\"parameters\":{\"fieldName\":\"qty\"}}]}"

I gave the scopeId as website ID.

[2016-07-29 17:20] shraddhacloudelements commented on #770
I got it resolved. The documentation(model for this API) is wrong in:
http://devdocs.magento.com/swagger/index.html#/

The correct payload is:
{
  "coupon": {
    "rule_id": 3,
    "code":"1234567",
    "type": "0"
  }
}

[2016-07-29 17:22] keharper commented on #770
Hmm. I was about to say to set "use_auto_generation" to true when creating the sales rule.

[2016-07-29 17:29] shraddhacloudelements commented on #770
Even the model for `POST /creditmemos` is incorrect. The correct payload is:
{
  "entity": {
    "adjustment": 0,
    "adjustment_negative": 0,
    "adjustment_positive": 0,
    "base_adjustment": 0,
    "base_adjustment_negative": 0,
    "base_adjustment_positive": 0,
    "base_currency_code": "USD",
    "base_discount_amount": 0,
    "base_grand_total": 20,
    "base_discount_tax_compensation_am

[2016-07-29 17:42] shraddhacloudelements opened #773 "REST: POST /V1/products/attribute-sets"
I want to do `POST /V1/products/attribute-sets`. But first I want to create a product attribute-set from UI. Could you please help me in finding its path on UI. Search did not give relevant answers for Magento 2.0 REST.
However, I tried the below payload for POST:
{
  "attributeSet": {
    "attribute_set_name": "Sj",
    "sort_order": 2,
    "entity_type_id":5
  },
  "skeletonId": 0
}

And I got t

[2016-07-29 19:29] keharper commented on #771
This is working for me.

GET http://<server>/rest/default/V1/stockItems/lowStock/?scopeId=0&qty=10&pageSize=100

[2016-07-29 19:53] shraddhacloudelements commented on #771
That worked for me as well. I was not passing the scopeId and qty as query. Thanks for that.

[2016-07-29 19:53] #771 closed

[2016-07-29 19:58] shraddhacloudelements commented on #766
Got it done. Thanks

[2016-07-29 19:58] #766 closed

[2016-07-29 19:59] shraddhacloudelements commented on #767
Can I get a payload for this with minimal required fields, as the documentation contains close to 700 fields and it is becoming impossible to find the data for all those fields.

[2016-07-29 19:59] keharper commented on #771
@shraddhacloudelements  I just want to make sure you're aware of the option to use Swagger on your own server. See http://devdocs.magento.com/guides/v2.1/rest/generate-local.html

i got the URL above from using my local Swagger.

[2016-07-29 20:24] shraddhacloudelements commented on #771
I am using this link: http://devdocs.magento.com/swagger/index.html#/ and postman to run the APIs and then integrating it with my App.

Well I was using the API this way:
http:///rest/default/V1/stockItems/lowStock/?searchCriteria[pageSize]=100&searchCriteria[filter_groups][0][filters][0][field]=scopeId&searchCriteria[filter_groups][0][filters][0][value]=1&searchCriteria[filter_groups][0][filters]

[2016-07-29 22:31] keharper commented on #767
I'll try to find that out for you. It's an essential question.

[2016-07-29 23:30] xcomSteveJohnson commented on #366
@mttjohnson We have a good start on page caching: http://bit.ly/2aBf6t5. Let us know what you think and close this issue if you're happy with it.

[2016-07-29 23:30] xcomSteveJohnson commented on #222
@halk We now have some information on page caching: http://bit.ly/2aBf6t5. Tell us what you think and close this issue if you're happy with it.

[2016-07-30 12:39] Vinai opened #776 "Questions on private page content documentation"
Hi,
reading the page http://devdocs.magento.com/guides/v2.1/config-guide/cache/cache-priv-priv.html and trying to follow along by creating my own example private content block, I don't find answers to the following questions.
It would be great if the documentation could be improved by the original author to include more information to make it simpler to follow.

---

Why is there no example for "R

[2016-07-30 13:48] xcomSteveJohnson commented on #776
Thanks for the detailed list of questions. Created internal issue MAGETWO-56161 and contacted the source of the information. We'll try to get answers ASAP.

[2016-08-01 11:07] rob1256 commented on #419
@davidalger Thanks for that information, looks like a useful deployment tool, do you know of anyway of doing deployments with no down-time and without having to do release folders etc?

I'm getting relatively close but it looks like I may need to run `magento setup:upgrade --keep-generated` as soon as any new code is pushed to make sure that the `setup_modules` table is up-to-date to stop Magento

[2016-08-01 21:11] shraddhacloudelements commented on #773
In the above payload, what does `skeletonId` mean and where can I get it? I tried searching it in User Guide, but did not get anything. Thanks.

[2016-08-01 21:24] shraddhacloudelements commented on #767
Hi, did you get a chance to look into this?

[2016-08-01 21:42] shraddhacloudelements commented on #773
I got it working. The`skeletonId` is the `Default Attribute Set Id`.

[2016-08-01 21:42] #773 closed

[2016-08-01 22:34] Vinai opened #777 "Why use ::class only for fully qualified class names?"
The page http://devdocs.magento.com/guides/v2.0/coding-standards/code-standard-php.html states

Since I'm not sure if that is on purpose or by accident, I didn't open a PR, but I think it makes no sense to only use the `::class` constant for full class names and use strings for the rest.

Since the` ::class` always is mapped to a fully qualified class name by the PHP preprocessor, there should be

[2016-08-01 22:59] xcomSteveJohnson commented on #777
@antonkril Can you comment? Thanks

[2016-08-01 23:56] xcomSteveJohnson commented on #777
@Vinai It looks like [this](https://github.com/magento/magento2/issues/4068) will be implemented soon. Does that help?

[2016-08-02 00:07] Vinai commented on #777
Well... it's related, but I opened this issue so the wording in the documentation can be clarified. So the implementation you linked is basically the core team following the recommendation documented here.

[2016-08-03 05:03] pantaoran opened #778 "Cron documentation example contains files which I don't have"
This page:

https://github.com/magento/devdocs/blob/develop/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.md

contains instructions that don't work for me. There are three lines in the example:

    * * * * * /usr/bin/php /var/www/magento2/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /var/www/magento2/var/log/magento.cron.log
    * * * * * /usr/bin/php /var/www/magento2/upda

[2016-08-03 13:01] xcomSteveJohnson commented on #778
Thanks for pointing it out. I'll confirm the answer and get back to you ASAP.

[2016-08-03 14:59] antonkril commented on #777
Don't see reasons to use strings for non-full names. Wording should be fixed

[2016-08-03 21:25] jcalcaben commented on #777
I agree and see how the wording can be confusing. @Vinai may I use your examples in our docs for clarification?

[2016-08-04 13:42] xcomSteveJohnson commented on #778
@pantaoran You are correct. I updated the cron documentation [here](http://devdocs.magento.com/guides/v2.1/install-gde/install/post-install-config.html#post-install-cron). Please take a look and close this issue if you're happy with the resolution.

[2016-08-04 13:56] xcomSteveJohnson commented on #737
@dougkm Closing because of elapsed time. Feel free to reopen with more information.

[2016-08-04 13:56] #737 closed

[2016-08-04 13:58] xcomSteveJohnson commented on #608
@gamort Repeating my request for information from internal resources. Hope to have an update soon.

[2016-08-04 15:30] tkacheva commented on #223
Closing the ticket as the documentation will be part of community project driven by  [SnowDog](https://github.com/SnowdogApps/magento2-theme-blank-sass)

[2016-08-04 15:34] #223 closed

[2016-08-04 18:50] shraddhacloudelements opened #780 "What exactly POST /V1/products/attribute-sets/groups do?"
The `POST /V1/products/attribute-sets/groups` needs an `attribute_group_id` in the POST payload. It doesn't really do a POST. Then what are the possible differences between `POST /V1/products/attribute-sets/groups` and `PUT /V1/products/attribute-sets/{attributeSetId}/groups`?

[2016-08-05 14:56] almarchenko commented on #524
Closing because no response received

[2016-08-05 14:56] #524 closed

[2016-08-05 14:58] almarchenko commented on #711
Closing as no response for a couple of months.

[2016-08-05 14:58] #711 closed

[2016-08-05 15:01] almarchenko commented on #745
@RG-1 Thank you! Sorry it took so long! Looking at this now.

[2016-08-08 10:21] pantaoran commented on #778
Thanks for adding that.

Please note the following quote from my first post:

You didn't address that part. Is that not supposed to happen?

[2016-08-08 12:09] dooblem opened #783 "Add more details for Elastic Search version compatibility"
Hello,

In:
http://devdocs.magento.com/guides/v2.1/config-guide/elasticsearch/es-overview.html#es-install-es

However, the install commands will install the latest 2.x version (2.3 under Debian).

I did not test Magento with ES 2.3. So I don't know if it's working. Can you either:
- Launch regression testing and update the doc , if Magento is ES 2.3 compatible.
- Update the install commands in the

[2016-08-08 13:41] xcomSteveJohnson commented on #778
Would you mind pasting your current crontab and verifying that `magento/magento2-base/composer.json` exists?

[2016-08-08 19:15] timneutkens opened #784 "Relative .xsd paths still in documentation"
So I did a small grep in the `guides` directory as a result of #782
`grep -lRE '..\/..\/..\/.*\.xsd' .`
[code]

[2016-08-08 19:20] timneutkens commented on #784
@xcomSteveJohnson that was fast 👍

[2016-08-08 19:21] xcomSteveJohnson commented on #784
We aim to please. This should have been done many moons ago.

[2016-08-08 19:23] timneutkens commented on #784
Yeah it's just to not confuse new developers. Keep up the good work 😄

[2016-08-08 23:10] xcomSteveJohnson commented on #783
We're having an issue publishing at this time but the answer is, yes, 2.3 is supported. When I publish the update I'll put a link here.

[2016-08-08 23:53] xcomSteveJohnson commented on #784
All fixed with caveats:

*  We're unable to publish to the devdocs site right now but I'll let you know when you can check the documentation again.
*  There are a lot of repeats in your list. Many topics are identical in 2.0, 2.1, and 2.2.
*  I didn't check all of the MTF links but the ones I checked are "correctly incorrect"; IOW, the schema references are not URNs.

Hopefully the publication iss

[2016-08-09 05:56] timneutkens commented on #784
Cool 👍  I just did a loose grep, that's why the false positives came back

[2016-08-09 10:37] antonkril commented on #776
Thanks again, Vinai. Good catch as always.

Main confustion with this page is that it describes more details about UI components than about page caching. And I see that most of your questions are about UI components, not about private content.

Specifically this question indicates the confusion most:

Yes, of course, private content can be rendered without UI components. Main point about private d

[2016-08-09 10:47] tanberry commented on #776
Hi all... @Vinai, on the issue of UI Components... first of all thank you and @ryantfowler and community for pushing hard to get better docs around these; the comments in the Issue you opened have led to what we hope is a solid approach to vastly improving the docs, and the core action is a Doc Sprint with the frontend Devs, next week when I am in Kyiv. Details to follow... if you or Ryan have eve

[2016-08-09 13:00] xcomSteveJohnson commented on #783
You can now see the changes. I put more detail [here](http://devdocs.magento.com/guides/v2.1/config-guide/elasticsearch/es-overview.html#es-spt-versions).

Please close this is you're happy with the resolution.

[2016-08-09 13:01] xcomSteveJohnson commented on #784
Please check now and close this if we fixed the ones we can fix.

[2016-08-09 13:04] timneutkens commented on #784
Saw your commit. Seems fine 👍

[2016-08-09 13:04] #784 closed

[2016-08-09 15:12] #777 closed

[2016-08-10 01:32] pantaoran commented on #778
I cannot find any directory called "magento2-base". Isn't this the same reason as the first problem?

[2016-08-10 07:56] dooblem commented on #783
Great! thanks.

[2016-08-10 07:56] #783 closed

[2016-08-10 07:56] Vinai commented on #776
Thank you for responding to the issue with such detail @antonkril and @tanberry. I'm looking forward to the new documentation a lot. And I would be very happy to review any documentation. What communication channel would you prefer for that? A github branch maybe?

[2016-08-10 08:31] tanberry commented on #776
@Vinai  keep pushing, we are listening and responding as best as possible. And it's great to have the urgency around it that makes us think outside of the box. ;-)

For the new UI Components docs, here are the basics of the plan:
-- This week we are finalizing the list of topics that the community has asked for around UI Comps. I can email you that list (and I will ask Ryan and a few others as wel

[2016-08-10 12:27] irenelagno commented on #767
Hi, @shraddhacloudelements!
We couldn't provide list of minimal required fields for POST /V1/orders. Because it depends of store configuration.
If you want to submit order it is better to use **PUT /V1/carts/mine/order** or
**PUT /V1/carts/{cartId}/order**.

[2016-08-10 16:56] ryantfowler commented on #776
@tanberry Glad to hear that there is action being taken at Magento, Inc in response to community feedback. Feel free to reach out to me and I'm more than willing to help in whatever way you'd like. Thanks

[2016-08-10 17:24] shraddhacloudelements commented on #767
Okay. Let me try that. Thanks for your help. I appreciate that.

[2016-08-10 22:56] Vinai commented on #776
@tanberry Wow, that sounds like a great plan! Thanks, I'm looking forward to any new content :)
Happy documentation-hacking!

[2016-08-12 04:49] pantaoran commented on #778
To be more specific, the following command returns zero hits:

    find myMagentoRoot -name "magento2-base" -type d

I now created a module with a crontab.xml that's supposed to execute something every minute, but it never gets executed. My cron job only runs `bin/magento cron:run` but I guess that is not enough?

How do I get this to work?

[2016-08-12 09:34] paales opened #789 "Version switcher should not default to the home page but should just replace 2.0 with 2.1"
I frequently find pages through google which refer to Magento 2.0. When I switch I expect to find the same page for Magento 2.1, but it redirects met to the home page.

[2016-08-12 11:31] tanberry commented on #789
Yep, that's drives me nuts, too, @paales ! We are working in it, or more specifically, @jcalcaben on the DevDocs team is working on it. Thanks for your feedback, please keep it coming.

[2016-08-12 18:21] xcomSteveJohnson commented on #778
I'll try to answer your questions but please let me know whether or not this helps and I can try to get additional assistance.

If you don't have a `magento2-base` directory, then the error "Could not locate.." is normal.

Your crontab looks OK although I think you need a second line. Assuming that the environment variable `$PHP` is defined for the Magento file system user, it should work.

I migh

[2016-08-13 12:46] tiwarimukesh opened #791 "Information needed on authentication keys for upgrade"
As per following link http://devdocs.magento.com/guides/v2.1/comp-mgr/upgrader/upgrade-start.html
We must use the same authentication keys which we used to install Magento.

I have a question suppose if I lost the keys which I used to install the Magento and later I recreated new keys then in this case will I be able to upgrade?

[2016-08-13 14:36] xcomSteveJohnson commented on #791
I had been meaning to try this myself for some time so thanks for asking. I think the answer to your question, strictly speaking, is your upgrade should work unless you or someone else disabled them.

What I did:

1. Took a CE 2.0.7 system and knew what keys I had used.
2. In my magento.com account, disabled those keys.
3. Created a new pair.
4. Used the Web Setup Wizard to upgrade to 2.1.0 with n

[2016-08-14 16:13] xcomSteveJohnson commented on #768
@keharper Can you help?

[2016-08-14 16:31] ccondra commented on #768
You can use the Widget tool to add links to products, categories, and CMS pages.  When you set up the widget, choose the type of link and the location where you want it to appear. http://docs.magento.com/m2/ce/user_guide/cms/widget-create.html

[2016-08-15 04:10] pantaoran commented on #778
In your EDIT you recommend to also run `bin/magento setup:cron:run`, but that's exactly what I've been asking about because I don't think this works for me. I first run that command without cron just to see what it does, and its only result is the message `setup-cron.ERROR: Could not locate magento/magento2-base/composer.json file.`

You said that message was normal if I don't have that folder, bu

[2016-08-15 13:21] xcomSteveJohnson commented on #778
I referred this question to engineering. Meanwhile, if you haven't done so already, you can ask this to a lot bigger audience by posting it on stackoverflow or [magento.stackexchange.com](http://magento.stackexchange.com).

[2016-08-15 14:53] develpr opened #792 "Instructions around message queues are unclear / contradictory"
The docs here: https://github.com/magento/devdocs/blob/develop/guides/v2.1/config-guide/mq/config-mq.md

In general the documentation around message queues is lacking in my opinion (where is the documentation around how a person actually published a message to one of the queues that were created? How does one trigger the generation of these queues in the queue provider?), but reading through the d

[2016-08-15 15:04] shiftedreality commented on #778
Hi @pantaoran

This looks like a bug in the documentation and should be fixed.
In your case (git clone) you will not have /update folder because it's separate repository and is not available for git-cloned version of Magento.

[2016-08-15 15:15] tanberry commented on #776
@Vinai and @ryantfowler , we just completed our first day of the Doc Sprint for UI components, here in the Kyiv office! Our most important step was to create the outline with the core developers, and then prioritize the topics. (We also went over our plan for how the Doc Sprint would work, agreed on demos for each new topic, process for the core developers to contribute to devdocs repo, etc). We w

[2016-08-15 16:25] xcomSteveJohnson commented on #778
@shiftedreality Can you provide any guidance to his [crontab.xml question](https://github.com/magento/devdocs/issues/778#issuecomment-239726177)?

[2016-08-15 20:13] keharper commented on #792
I created internal issue MAGETWO-56855 to provide better examples and clarification. The message queue development team is currently working on other tasks, so it might take a few weeks to get back to you. I definitely want better examples too.

In the first line that you quoted, the last word should have been "synchronous". That correction will be pushed out immediately.

[2016-08-15 20:53] keharper commented on #594
Closing the issue.

[2016-08-15 20:53] #594 closed

[2016-08-15 21:13] develpr commented on #792
Awesome, thanks for following up @keharper !

[2016-08-15 22:35] xcomSteveJohnson commented on #778
@pantaoran Updated the [cron setup page](http://devdocs.magento.com/guides/v2.1/install-gde/install/post-install-config.html#post-install-cron) to remove the setup cron job for those that cloned GitHub.

[2016-08-16 03:58] Vinai commented on #776
Thanks, done

[2016-08-16 07:46] shiftedreality commented on #778
@pantaoran I would like to ask you about few clarifications:

1. Did you clean cache?
2. Is your custom module registered in Magento
3. Are basic cron tasks works fine for you?

[2016-08-16 11:11] pantaoran commented on #778
Thank you both for confirming that only the first line in crontab should apply and that all cron functionality should still work correctly based on only `bin/magento cron:run`.

Answers:

1. As a "contributing developer" as you call it, I am cleaning or even disabling caches extremely frequently.
2. The module shows as "enabled" in the output of `bin/magento module:status` if that's what you mean.

[2016-08-16 12:25] xcomSteveJohnson commented on #778
Basic cron tasks are listed [here](http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-cron.html#config-cli-cron-overview). One of the most common is indexing.

[2016-08-17 08:04] paales commented on #789
Thanks 😄

[2016-08-17 08:09] paales opened #793 "Navigation could be clearer"
Go to http://devdocs.magento.com/guides/v2.1/ui-components/ui-component.html

In the left navigation you see all the navigation for the UI-components, but you don't see that these pages are part of the Developers section. I'd suggest to include all other Developer topics to the left-navigation as well + a link back to 'overview'.

Documentations that get it right in my opinion:
https://stripe.com/

[2016-08-18 08:56] pantaoran commented on #778
So I turned all indexers from "Update on save" to "Update by schedule". Then I tried to so some action which would require reindexing, but I failed, the indexers are always green.

What I tried are two things: Registering a new customer (which I expected to invalidate the customer grid index) and changing the stock of a product (which I expected to invalidate the Stock index), but like I said they

[2016-08-18 12:49] xcomSteveJohnson commented on #778
The user guide has a [list of actions](http://docs.magento.com/m2/ce/user_guide/system/index-management-events.html?Highlight=reindex) that should cause reindexing. (Read the entire page.)

Don't worry about it, we'll do what we can to help you.

[2016-08-18 15:39] mttjohnson opened #794 "Documentation Changes Log"
I brought this up in a discussion at Magento Imagine 2016 (I'm thinking with Alan Kent @alankent and Tana Berry @tanberry) and I don't know if anything actionable ever happened related to it. It seemed like a good idea at the time so I thought I'd bring it up again in case it just got forgotten about.

There seems to be a [lot of changes occurring on the DevDocs site](https://github.com/magento/de

[2016-08-18 15:59] erikhansen commented on #794
I agree with @mttjohnson that this would be valuable.

Here is an example of where this would have come in handy: a developer on our team was working on a project that upgraded from Magento 2.0 to 2.1. He was working on a model and noticed that PhpStorm was flagging the `->load()` method as deprecated after the 2.1 upgrade. None of the developers he mentioned it to were aware this had been depreca

[2016-08-18 16:07] xcomSteveJohnson commented on #793
Can you help me understand why disparate chunks of information related to development must share the same TOC? I think this would result in a huge and unusable TOC and result in complaints about "why am I seeing information about REST when I all am interested in is frontend development"?

Would breadcrumbs be equally effective?

Thanks

[2016-08-18 16:27] xcomSteveJohnson commented on #794
It's a good idea in general but we're going to have to nail down the requirements quite a bit before it will work without a lot of manual effort.

Every change we feel is important we tweet about and you get those updates when they happen.

Following are some changes that technical writers feel are important that you probably don't care about:

*  Yesterday I fixed some misspellings and removed a

[2016-08-19 07:14] pantaoran commented on #778
Alright, @shiftedreality I can now confirm that basic cron tasks seem to work fine. I had an outdated index, and once I scheduled my system's cronjob it took 2min and the index was refreshed.

[2016-08-20 15:43] xcomSteveJohnson commented on #794
@mttjohnson @erikhansen So far I see the following requests:

*  Deprecations
*  Page Caching (which unfortunately has not been updated yet)

What else?

[2016-08-20 17:36] hostep commented on #794
Ah great question @mttjohnson, I also requested the same thing [a couple of days ago (last paragraph)](https://github.com/magento/magento2/issues/6131#issuecomment-239607754).

@xcomSteveJohnson: I'm afraid you can only accomplish something like this manually and not by using scripts, because we only need "important" changes in the changelog. For example:
- a new topic is added
- an existing topic

[2016-08-20 18:19] hostep commented on #793
Or just add an active state to the main menu item when a subpage of that menu item is active, that will probably also resolve the issue?

[2016-08-20 19:24] xcomSteveJohnson commented on #793
Please elaborate because I don't understand your request. Thanks. What is a "main menu"?

Do Stripe and Redux do this?

Thanks

[2016-08-20 19:27] hostep commented on #793
Main menu:
![screen shot 2016-08-20 at 21 25 30](https://cloud.githubusercontent.com/assets/85479/17833407/b07a9b28-671c-11e6-942b-c4633042949f.png) ;)

There is currently no indication what item of the menu is active when you are on a subpage of the item (everything is in white text).

[2016-08-20 23:33] xcomSteveJohnson commented on #793
Thanks for clarifying. Can do.

[2016-08-20 23:53] xcomSteveJohnson commented on #794
Thanks, we're tracking this request. If anyone else has input, please let us know.

[2016-08-22 14:38] erikhansen commented on #794
@xcomSteveJohnson I agree with @hostep that creating a manual changelog will be necessary in order to provide value to the community. I like @hostep's idea of a weekly (or every other week?) changelog outlining new pages or notable changes to existing pages.

[2016-08-22 18:50] hostep opened #795 "Broken link on the 'Manage the cache' page"
Hi

Just noticed a broken link over here: http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-cache.html#config-cli-subcommands-cache-clean-over
In the Description of the `DDL` cache type, the link on `magento setup:db-schema:upgrade` is broken.

[2016-08-22 19:05] #795 closed

[2016-08-23 11:43] icsw opened #797 "Broken link"
At the page
http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html
there is a broken link:
`<a href="/guides/v2.1/install-gde/install/install-cli-subcommands-enable.html">Enable or disable modules</a>` or  <a href="http://devdocs.magento.com/guides/v2.1/install-gde/install/install-cli-subcommands-enable.html">Enable or disable modules</a>.

[2016-08-23 13:08] xcomSteveJohnson commented on #797
Sorry about that. Fixed now. Please verify and close this issue.

[2016-08-23 13:11] icsw commented on #797
Thank you, now it's fixed.

[2016-08-23 13:11] #797 closed

[2016-08-24 21:53] keharper commented on #764
I don't know if this was a transient problem, but here's my attempt to explain. I'm assuming you were trying to upload an image for your product.

I can't figure out what, if anything, the `file` element is supposed to do in a POST. It specifies where on the server the image is located. I've tried using it to override the default location, relative to the `pub` directory, to no avail. Anyway, it i

[2016-08-24 21:57] keharper commented on #764
This is a successful call. `base64_encoded_data` has been truncated.

{
  "entry": {
    "media_type": "image",
"types": [
      "image",
      "small_image",
      "thumbnail"
    ],
    "content": {
      "type": "image/png",
      "name": "xyzzyx.png",
              "base64_encoded_data": "iVBOR...QmCC"
    }
  }
}

[2016-08-25 01:49] timrsfo opened #799 "Testing_Rest_Resources.html - header Auto Refresh - where is it?"
[http://devdocs.magento.com/guides/m1x/api/rest/testing_rest_resources.html](url)
1) the link to [edit this page on git hub] is wrong
[https://github.com/magento/devdocs/tree/m1x/guides/m1x//guides/m1x/api/rest/testing_rest_resources.html
](url)
2) The following note appears on the page - How do you get to this pop-up?
    "Click the Header with authorization data"  - I can't find this
<b>NOTE</b>

[2016-08-26 19:24] xcomSteveJohnson commented on #799
@timrsfo  Thanks for pointing out the issue with **Edit this page on GitHub**. It affected _all_ API pages! That is fixed now.

I don't know the answer to your other question. Someone in engineering said that apparently the browser REST client has changed. I don't know how to generate the auth credentials to try it and I don't have Magento 1 installed right now.

There are at least two options:

*

[2016-08-26 19:38] keharper commented on #799
Is the Header with authorization data shown in the graphic under step 7?

[2016-08-26 19:57] timrsfo commented on #799
for me its under step 6. I never see the popup mentiond with
[http://devdocs.magento.com/common/images/m1x/rest_test3.png](url)

[2016-08-26 20:02] xcomSteveJohnson commented on #799
Is this blocking you?

[2016-08-26 20:29] timrsfo commented on #799
ok, I see the problem. Operator error on my part
Your graphic shows the [green Insert] button, but I neglected to hit it
possible update:
 step 3 In the OAuth window, on the Signature for the request tab, fill in the following fields:
last bullet:  Click Insert, to add oauth header
step 6. Click Save. You are prompted whether you want to save entered data. Click Yes.
step 6.5 Back on the main page

[2016-08-26 20:50] keharper commented on #799
@timrsfo I didn't see your last post come through, so I was installing the plug-in, testing everything, and came to same conclusion as you. :)

@xcomSteveJohnson Do you want me to update the docs, since I've got the environment all set up?

[2016-08-27 13:52] xcomSteveJohnson commented on #799
@keharper Sure, if you don't mind, thanks!

[2016-08-30 08:59] mbrehme commented on #419
+1

[2016-08-30 09:16] Blackskyliner opened #801 "t.js"

[2016-08-30 09:17] Blackskyliner commented on #801
Nevermind I though I was in Browsers locationbar and then I just opened an issue... Damn Github Shortcuts...

[2016-08-30 09:17] #801 closed

[2016-08-30 12:40] tanberry commented on #801
@Blackskyliner, thanks for a really easy "Issue" to fix! ;-)

[2016-08-30 19:42] hostep commented on #419
Just a heads up for people working on deployment workflows, because something important has changed between Magento 2.1.0 and 2.1.1.
Magento now requires a file `pub/static/deployed_version.txt` to exist before running `bin/magento  setup:static-content:deploy`

So if you are using a current/releases/shared directory setup, you'll need to copy that file from your `current` directory into your `rel

[2016-08-31 13:08] jorbope opened #802 "how can Set up Magento2 backend on a separate node?"
##how can Set up Magento2 backend on a separate node?
I want to install magento in 3 servers,
- server 1: front
- server 2: backend
- server 3: database

Anyone achieved that?

[2016-08-31 15:05] jorbope commented on #802
I want to install magento in 3 servers,
server 1: front
server 2: backend
server 3: database

Anyone achieved that?

[2016-08-31 19:14] keharper commented on #799
@timrsfo I've updated the procedure at http://devdocs.magento.com/guides/m1x/api/rest/testing_rest_resources.html . The changes weren't exactly as you suggested because whenever I tried to click on Insert as header, the window would close.

Please close this PR if these changes are good.

[2016-08-31 21:24] timrsfo commented on #799
looks good

[2016-08-31 21:24] #799 closed

[2016-08-31 21:50] timrsfo opened #805 "Magento 1.x Reference Rest API, All Resources indicate XML is default format?"
[Resources]((http://devdocs.magento.com/guides/m1x/api/rest/Resources/inventory.html)

1.  I am using Postman to issue Rest commands to Magento. All my response data is returned in Json format. Postman inserts an Accept: */* header. To me this indicates "send me what ever you want" ie default format. I can insert Accept: application/xml and it will return XML, but it doesn't seem like the default.

[2016-09-02 14:07] gazzaf commented on #745
Please fix this because the live 2.1 docs are still showing incorrect information.
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/templates/template-email.html

I spent hours tearing my hair out trying to follow instructions that were completely wrong. The menus are a complete maze to anyone new to Magento so accurate documentation is essential. In the end I found this useful post from

[2016-09-02 16:00] almarchenko commented on #745
No excuse( fixing it now!

[2016-09-02 21:05] gazzaf commented on #745
Thank you @almarchenko :-)

[2016-09-05 14:40] almarchenko commented on #745
@RG-1  @gazzaf  I updated the doc, sorry it took so long. Plz let me know if I can close this issue.

[2016-09-05 16:53] gazzaf commented on #745
Ok by me, although I've uninstalled 2.1 now as it's not fit for production. _Upgraded_ to 1.9 now.

[2016-09-06 06:27] almarchenko commented on #745
@gazzaf I hope you will get back to M2. We'll update docs quicker, I promise!))

[2016-09-07 11:48] pascaladriaansen opened #806 "Migration plan advises to use replicated database - what about incremental updates/changes?"
In [devdocs/guides/v2.0/migration/migration-plan.md](https://github.com/magento/devdocs/blob/develop/guides/v2.0/migration/migration-plan.md) the following is mentioned under Step 3:

So, for a test migration run I replicated my production Magento 1.x database and entered the details of this replicated database in my config.xml. After some tweaking of some mapping files I got it to run the data mi

[2016-09-07 13:36] victor-v-rad commented on #806
Hi @pascaladriaansen
It is best to create new issues in the dedicated repository
https://github.com/magento/data-migration-tool/issues
and further conversation should be there.
In answering to your question is must to know the way you did the replication. If it is Mysql replication (master-slave/master-master) please read the article https://dev.mysql.com/doc/refman/5.7/en/replication-features-tri

[2016-09-09 15:32] MaximumP opened #811 "Next steps over "Define your configuration files""
http://devdocs.magento.com/guides/v2.1/extension-dev-guide/build/module-file-structure.html

The topic under the next heading steps over the "Define your configuration files"

[2016-09-09 15:34] MaximumP opened #812 "Enable or disable your component: wrong command line example"
at "2. Enter the following at the command line:"
php is missing in front of the command

[2016-09-09 16:43] jcalcaben commented on #811
Thanks for pointing this out! It looks like the navigation is a little out of order. I will fix this.

[2016-09-09 19:18] davidalger commented on #419
@hostep

Also interesting tidbit is that issue only causes trouble if the versioned URLs have been enabled. I've worked around that in the capistrano-magento2 gem by adding a call to touch the deploy_version.txt file prior to running static asset deployment. See davidalger/capistrano-magento2@d61d6983

[2016-09-10 19:27] #745 closed

[2016-09-12 07:49] luckyraul commented on #419
@xcomSteveJohnson

Hi, do have any update about this ticket?

[2016-09-12 20:33] hostep opened #818 "XSS escape functions could use some more explanation"
Hi guys

Regarding this page: http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/templates/template-security.html

It is mentioned that you can use 4 methods to escape the output to html:
- escapeHtml
- escapeQuote
- escapeUrl
- escapeXssInUrl

But I'm missing some explanation about what each one of those 4 exactly does, and in what cases I have to use one of these.

Would be great if you c

[2016-09-12 20:45] jcalcaben commented on #818
Thanks for the feedback @hostep!

I will consult with our developers and add additional information for these methods.

[2016-09-12 20:46] tanberry commented on #818
Sure, and there has been some recent work around that... @jcalcaben can you work with @almarchenko to pull in to the 2.1 the work that you did with Igor and Olga on the upcoming 2.1 docs?

[2016-09-12 20:47] tanberry commented on #818
oops, yes, both of us replied same time. ;-)

[2016-09-12 22:23] keharper commented on #768
It doesn't look like @shraddhacloudelements and @ccondra are talking about the same thing. The `POST /V1/products/{sku}/links` call defines a relationship to other products, such as "related", "upsell", "crosssell" or "associated".

[2016-09-13 11:30] meng-tian opened #821 "Outdated REST API documentation for Magento 2.1"
The statement:
[code]

on http://devdocs.magento.com/guides/v2.1/rest/rest_endpoints.html is no longer valid since Magento 2.1.0. Please refer to magento/magento2@8651be8228b8bfb1ac5910ef16e6146774a02861 for details.

Can you please updated the documentation?

[2016-09-13 14:28] xcomSteveJohnson commented on #812
That's intentional. In the First Steps section, we explain various ways to add the `magento` command to your `PATH` so you don't have to precede it with `php`.

[2016-09-13 14:28] #812 closed

[2016-09-13 14:28] keharper commented on #821
Thanks for noticing this. Done. I've also deleted the equivalent sentence from the SOAP documentation.

[2016-09-13 14:28] #821 closed

[2016-09-13 20:46] xcomSteveJohnson commented on #805
Answers:

1.  By default we return JSON.
2.  It would be faster if you could submit an example to us. You can use the **Edit this page in GitHub** link on any page to do that. We cannot promise creating such examples for all APIs though. Maybe [this](http://devdocs.magento.com/guides/m1x/api/rest/introduction.html#RESTAPIIntroduction-OutputFormats) is a good place for such an example.

[2016-09-14 02:12] tanberry commented on #718
Hi @astorm, we have a "chapter" about the custom bindings planned for the new UI Components guide. @almarchenko is continuing the Doc Sprint work on this guide, with the core developers... below is a screenshot of the outline for the bindings we want to document:

![image](https://cloud.githubusercontent.com/assets/9368837/18497730/6dd4def4-79f6-11e6-97c3-21c91427eec2.png)

We plan to post the out

[2016-09-14 19:29] astorm commented on #718
Looks like a good start for covering the components.

Although "in 2.1 make sure they use our new templates" is a little confusing.  It's not clear what templates they're talking about -- the `.html` files loaded over HTTP?  Or something more? (Regardless, as a side note, documentation of how those `.html` templates work and where that syntax comes from would be useful)

Also -- the xhtml template

[2016-09-15 02:22] tanberry commented on #718
Thanks @astorm for the feedback. As part of a concerted effort we did a Doc Sprint with the core devs... and as the very first step we defined a comprehensive outline of everything that should be documented about UI Components. Above I meant to post just the section on the custom bindings, but the screen capture also shows some topics above the bindings (in orange) that we know we need to cover. (

[2016-09-15 08:47] hostep opened #823 "Magento 1: tax configuration warning link points to incorrect documentation link"
Hi guys

Not sure if this is the correct place to report this.

But when in a Magento 1 shop you configure your tax settings slightly wrong you get this message:
![screen shot 2016-09-15 at 10 45 16](https://cloud.githubusercontent.com/assets/85479/18543760/ac4cda4c-7b31-11e6-94f2-0361dd3c768f.png)

The link on 'source' leads to: http://www.magentocommerce.com/knowledge-base/entry/magento-ce-18-ee

[2016-09-15 13:29] xcomSteveJohnson commented on #823
Thanks for pointing this out. We'll create an issue to fix the redirect and provide an update here when it's fixed. It usually takes a couple of days.

[2016-09-15 16:09] timrsfo commented on #805
1. I agree they all default to JSON, but the docs indicate they all default to XML
[REST API: Stock Items](http://devdocs.magento.com/guides/m1x/api/rest/Resources/inventory.htmll)
e.g from above link
Authentication: Admin
Default Format: XML
Parameters :
No Parameters

2. I got thru the JSON, I will upload some examples

[2016-09-15 21:25] xcomSteveJohnson commented on #789
I think this is fixed. Please check and close if you're happy with it.

[2016-09-15 21:44] xcomSteveJohnson commented on #805
Thanks for pointing that out. We'll work on a fix and update you.

[2016-09-16 13:57] paales commented on #789
YEAH! 👍

[2016-09-16 13:57] #789 closed

[2016-09-19 17:17] jcalcaben commented on #818
@hostep
The page is now updated with cases on when to use `escapeHTML`, `escapeQuote`, and `escapeXssInUrl`. (`escapeURL` was removed in the doc to favor the more secure `escapeXssInUrl` function)

[2016-09-19 17:17] #818 closed

[2016-09-19 17:34] hostep commented on #818
Ok thanks @jcalcaben!
I was especially wondering what the difference was between `escapeURL` and `escapeXssInUrl`, so it's good you removed the less secure one and recommend to always use the second one.

[2016-09-19 17:42] hostep opened #829 "Updated timestamps on symlinked pages issue"
Hi guys

Just something I just noticed.
Check the 'Updated' timestamp on the [version 2.0](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-security.html) and compare it with the [version 2.1](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/templates/template-security.html).
The page for version 2.0 has: `19 September 2016 (PDT)` and version 2.1 has: `Updated:

[2016-09-19 17:43] xcomSteveJohnson commented on #829
Do you know how to solve this?

[2016-09-19 17:46] hostep commented on #829
No sorry, I have no experience with Jekyll unfortunately.

[2016-09-19 18:27] jcalcaben commented on #829
This is a known issue that I am looking for potential solutions for.

[2016-09-19 18:53] tanberry commented on #829
I do believe that Mr. @dshevtsov  is working this on an internal ticket. ;-) When he gets back from hiking in the Carpathians. I am NOT jealous. Sigh.

[2016-09-19 19:08] tanberry commented on #818
Whoo hoo, thank you @hostep  for all of your help, contributions, and communications with the Magento DevDocs team! Look what I just saw on Twitter, fresh from Poland:
![image](https://cloud.githubusercontent.com/assets/9368837/18645361/793a4b14-7e72-11e6-8806-dac852d5ad3f.png)
https://twitter.com/tutnix/status/777784527712313344

[2016-09-19 19:24] xcomSteveJohnson commented on #823
Should be fixed now. Please check it out and close this if it works correctly.

[2016-09-19 20:30] hostep commented on #823
Yes, looks like it is fixed, thanks! :)

[2016-09-19 20:30] #823 closed

[2016-09-20 19:20] xcomSteveJohnson commented on #419
@luckyraul Sorry about the delay. I should know something soon.

[2016-09-21 14:26] xcomSteveJohnson commented on #791
@tiwarimukesh Can we close this?

[2016-09-22 09:08] tiwarimukesh commented on #791
@xcomSteveJohnson You can close this ticket.

[2016-09-22 12:27] #791 closed

[2016-09-23 09:39] strauss69400 opened #831 "bug in documentation for memcached"
Hi,
there is  a bug in the documentation about installation of memcached :
http://devdocs.magento.com/guides/v2.0/config-guide/memcache/memcache_ubuntu.html

it must to replace this code by that
`
if (class_exists('Memcache')) {
    $meminstance = new Memcache();
} else {
    $meminstance = new Memcached();
}

$meminstance->addServer("127.0.0.1", 11211);

$result = $meminstance->get("test");

if (

[2016-09-23 12:50] xcomSteveJohnson commented on #831
Can you provide more detail?

[2016-09-23 16:39] strauss69400 commented on #831
The var $mem must be replaced by $meminstance.that s all!!

[2016-09-23 17:58] keharper commented on #764
Closing due to inactivity. Please reopen if I haven't answered your question.

[2016-09-23 17:58] #764 closed

[2016-09-26 09:42] gamerboy opened #836 "404 on Javascript Developer Guide"
On [Javascript developer guide](http://devdocs.magento.com/guides/v2.1/javascript-dev-guide/bk-javascript-dev-guide.html) there is a 404 on this link: [disable all the default scripts and their load by RequireJS](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/javascript/custom_js.html#disable_default_js).

Best regards,
Andrea

[2016-09-26 11:53] almarchenko commented on #836
Thanks! Will fix this asap

[2016-09-26 17:53] sakiss opened #838 "404 on Composer Integration"
That page gives a 404 error
http://devdocs.magento.com/guides/v2.1/extension-dev-guide/composer-integration.html

The link comes from that page:
http://devdocs.magento.com/guides/v2.1/extension-dev-guide/build/required-configuration-files.html

[2016-09-26 17:54] jcalcaben commented on #838
Thanks for pointing this out! I will fix it.

[2016-09-26 17:58] jcalcaben commented on #838
It should point to this page:
http://devdocs.magento.com/guides/v2.1/extension-dev-guide/build/composer-integration.html

[2016-09-26 20:23] jcalcaben commented on #838
Link is now fixed. Thanks for reporting this @sakiss!

[2016-09-26 20:23] #838 closed

[2016-09-27 10:49] harsh-persistent opened #841 "404 on Installation guide"
http://devdocs.magento.com/guides/v2.1/install-gde/continue.html

[2016-09-27 13:05] xcomSteveJohnson commented on #806
@pascaladriaansen Did you create an issue to get this question answered? Can we close this one?

[2016-09-27 13:10] xcomSteveJohnson commented on #608
There is no progress on the issue yet.

[2016-09-27 13:15] xcomSteveJohnson commented on #463
Closing because of no response. You can reopen if you'd like to provide more detail.

[2016-09-27 13:15] #463 closed

[2016-09-27 13:38] xcomSteveJohnson commented on #841
Fixed now. Please close if you agree.

[2016-09-27 13:41] harsh-persistent commented on #841
Done!

[2016-09-27 13:41] #841 closed

[2016-09-27 14:03] leeuweriq commented on #527
Hi @magento-team,

I am running into the exact same problem here when trying to add a comment when POSTing a shipment (running Magento 2.1.0). Any updates on this issue? Will this issue be fixed or should we be using three endpoints (shipment, track, comment) to add tracking info to a shipment?

[2016-09-27 14:06] xcomSteveJohnson commented on #831
@strauss69400 Should be fixed now, close this if so.

[2016-09-27 14:14] #831 closed

[2016-09-27 20:04] hostep commented on #608
I can weigh in a little bit on this matter.
In Magento 2.0.x it used to be a problem when using the `--no-dev` argument (at least in versions up to 2.0.7, I'm not sure about 2.0.8, 2.0.9 or later versions).
But in Magento 2.1.x you can safely use that flag on a production system.

See this entire thread for more info: https://github.com/magento/magento2/issues/2561

[2016-09-27 20:14] xcomSteveJohnson commented on #608
I'm asking because I don't know ... what is the reason someone would use `--no-dev`?

[2016-09-27 20:22] hostep commented on #608
To not install the development dependencies on a production server. Since those files aren't necessary on a production system.
See the main Magento 2 [composer.json file](https://github.com/magento/magento2/blob/develop/composer.json), it contains a `require` section, and a `require-dev` section. If you run `composer install --no-dev` it will only install the dependencies from the `require` sectio

[2016-09-27 21:34] xcomSteveJohnson commented on #608
It looks like these subcommands also work with `composer create-project` which I'd prefer to document because you're not supposed to use a clone in production.

Or how do you use `composer install`?

[2016-09-27 22:23] keharper commented on #527
@leeuweriq  We'll be providing a new API in an upcoming patch (2.0.x and 2.1.x) that allows you to perform these tasks in one call. In the meantime, it looks like you'll have to use multiple calls.

[2016-09-28 07:13] hostep commented on #608
Hi Steve

This is more of a topic which should be discussed over here: https://github.com/magento/devdocs/issues/419

But we always run `composer install` every time we deploy a new version to a production system.

`composer create-project` is only necessary to set up the initial project one single time and then put the generated composer files into your version control system. You should always d

[2016-09-28 08:38] pascaladriaansen commented on #806
@xcomSteveJohnson Hey, I didn't create an issue, but found that @victor-v-rad's answer was enough for me to answer my question. I understood "replication" the wrong way, as I just created a database dump in stead of actually replicating the db usign mysql's replication feature.

[2016-09-28 08:38] #806 closed

[2016-10-01 00:58] astorm opened #844 "UI Components: Documentation of exports, imports, links, and listens Needed"
The UI Component guide has sections for the base [`uiClass`](http://devdocs.magento.com/guides/v2.1/ui_comp_guide/concepts/ui_comp_uiclass_concept.html) object/class, and the base [`uiElement`](http://devdocs.magento.com/guides/v2.1/ui_comp_guide/concepts/ui_comp_uielement_concept.html) object/class.  This is good.

However, the documentation provided doesn't go far enough.  In particular are thes

[2016-10-03 19:26] tanberry commented on #844
HI @astorm, thanks for those in-depth comments. Very pertinent phrase here: "... making wild guesses at how Magento's core objects behave, and aren't likely to adopt these constructs into their own code." We do indeed want the best practice constructs broadly utilized.

So this very task you described above sounds like a good candidate or a How Topic: describe the steps by which a programmer can i

[2016-10-05 09:51] cottton opened #848 "missing "(optional)" ?"
Shouldnt this parameter be marked as **(optional)** ?

https://github.com/magento/devdocs/blob/develop/guides/m1x/api/soap/catalog/catalogProductAttributeMedia/catalog_product_attribute_media.info.html#L67

[2016-10-05 11:57] cottton opened #849 "Notification flag (string) ?"
Shouldnt this be an **int**?

https://github.com/magento/devdocs/blob/develop/guides/m1x/api/soap/sales/salesOrder/sales_order.addComment.html#L65

[2016-10-10 21:34] xcomSteveJohnson commented on #805
@timrsfo Do you have some JSON responses I can use?

[2016-10-10 22:13] xcomSteveJohnson commented on #805
Sorry for the delay. Partially fixed now. I changed all the default responses to JSON in the text but most of the examples are XML.

I put a bounty of sorts on it; if you'd like to contribute JSON responses, please do so and I'll mention you by name on the page.

[2016-10-11 14:30] xcomSteveJohnson commented on #849
I'm told the WSDL specifies string. Can we close this?

[2016-10-11 14:30] xcomSteveJohnson commented on #848
Did you omit the endpoint and verify the service works?

[2016-10-11 16:06] molneek opened #859 "Wrong bash commands in devdocs"
1. Go to http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-ubuntu.html#instgde-prereq-php5.65-install-ubuntu14
2. Find install PHP 5.5 instruction.

Expect result: Find bash commands for PHP 5.5 installation
Actual result: Got  bash commands for PHP 5.6 installation

[2016-10-11 20:14] xcomSteveJohnson commented on #859
Oops! Sorry about that!

Fixed now, please close this issue if you're satisfied.

[2016-10-11 22:20] timrsfo commented on #805
I am glad to contribute, I will try to get to it by the end of the day

[2016-10-12 19:49] timrsfo commented on #805
@xcomSteveJohnson
Steve, I have some time now, what would you like? and where should I put it?
For example, I am using Postman and RestAssured/JaxRs (both in Eclipse).
I can give you the GET cmds and responses from Postman

let me know if this is what you can use and I will send the responses.
Postman e.g.:

`
base_uri = http://dockerized-magento.local
base_path = api/rest

get: {{base_uri}}/{{bas

[2016-10-13 05:50] timrsfo commented on #805
@xcomSteveJohnson
added pull requests for changes to customer and address resources to include json

[2016-10-14 16:10] jcalcaben commented on #793
Update: We are currently planning a site redesign where this issue will be addressed.

[2016-10-16 12:26] Gouravchawla opened #866 "After Install magento permission don't work"
The permissions given in the below document doesn't seem to work and almost everywhere I see on the web there are permissions mentioned which are different than these.

https://github.com/magento/devdocs/blob/ce5bff93d4d5a92e0f034383aa197267bbb12648/guides/m1x/install/installer-privileges_after.html

Could someone confirm if this is just me or are these actually wrong permissions?

[2016-10-16 14:24] xcomSteveJohnson commented on #866
We published these permissions on the advice of our information security team. It's very doubtful at this point that anyone is going to do any research on Magento 1.x.

This is also a duplicate of #553 so closing this and we'll provide any updates in the other issue.

[2016-10-16 14:24] #866 closed

[2016-10-16 14:38] Gouravchawla commented on #866
Oh, I didn't realize there was already an issue created about this. And I'm using Magento 1.8 and having issue with security so was looking for resources on this. The guide was there on the official site so, I trusted this but it lead to a disaster.

Anyways, thanks for the quick response.

[2016-10-16 14:53] xcomSteveJohnson commented on #866
I wish I had a better answer. The only thing we can advise for sure is do not use 777 permissions in production.

[2016-10-16 15:16] xcomSteveJohnson commented on #849
Closing, feel free to reopen if you still have questions.

[2016-10-16 15:16] #849 closed

[2016-10-16 15:16] xcomSteveJohnson commented on #848
@cottton Reminder, please update us.

[2016-10-16 15:17] xcomSteveJohnson commented on #778
Closing, feel free to reopen if you still have questions.

[2016-10-16 15:17] #778 closed

[2016-10-16 15:25] xcomSteveJohnson commented on #682
@erikhansen FWIW, it's now easier to get an extension's Composer name. We cover it [here](http://devdocs.magento.com/guides/v2.1/cloud/howtos/install-components.html#cloud-howto-comp-composer).

In 2.2, there will be an Extension Manager (install, uninstall, update) and a Module Manager (enable, disable). This will make dealing with components a little easier.

Question remains as to how valuable

[2016-10-16 15:26] xcomSteveJohnson commented on #805
@timrsfo Thanks! You're not listed as a contributor on these pages:

http://devdocs.magento.com/guides/m1x/api/rest/Resources/resource_customer_addresses.html
http://devdocs.magento.com/guides/m1x/api/rest/Resources/resource_customers.html
http://devdocs.magento.com/guides/m1x/api/rest/get_filters.html

Closing this issue. If you'd like to contribute some more, reopen.

[2016-10-16 15:26] #805 closed

[2016-10-16 17:48] xcomSteveJohnson commented on #608
I think @hostep is correct that this issue is basically a duplicate of #419 ; therefore, closing this issue.

We expect to have a better and more comprehensive story about production deployment in the Magento 2.2 timeframe, but I don't know what that is.

MAGETWO-52095 is still open, unresolved.

[2016-10-16 17:48] #608 closed

[2016-10-16 17:53] xcomSteveJohnson commented on #419
@luckyraul We should have a better story about deployment to production in 2.2 but I don't know the ETA for that release.

[2016-10-16 19:54] sammarcus opened #867 "Public userguide has github.corp.magento.com URL"
Over at the [2.0 Release Notes for CE](http://docs.magento.com/m2/ce/user_guide/magento/release-notes-ce-2.0.html) the CHANGELOG link goes to **github.corp.magento.com** .

Can this be updated to https://github.com/magento/magento2/blob/develop/CHANGELOG.md ?

(I'm not seeing where to open a PR for the user guide itself?)

[2016-10-16 21:42] xcomSteveJohnson commented on #867
@ccondra Can you fix this?

[2016-10-17 16:53] xcomSteveJohnson commented on #553
We don't expect any updates to this topic. As the topic says these are suggestions, not requirements. Closing.

[2016-10-17 16:53] #553 closed

[2016-10-17 18:52] erikhansen commented on #682
I'm glad to see that it's easier to get a Composer packages name!

I guess the feedback I have at this point is more of a Marketplace UI issue, not necessarily a documentation issue.

I would encourage you to go through the process of purchasing an extension (even a free one) on the Marketplace and do it in the mindset of a non tech-savvy merchant. I haven't done it recently, but I do know that wh

[2016-10-18 13:36] xcomSteveJohnson commented on #682
Your request is forwarded to the Marketplace team.

Created issue MAGETWO-59819 to track.

[2016-10-20 15:05] ccondra commented on #867
Thanks so much for sending this along. For the user guide, the best way to report issues is to use the Feedback link at the bottom of that page.  That's one of the first things I see in the morning!  I'll fix this today, and it'll go live with the next batch of updates.

[2016-10-20 16:46] tanberry commented on #867
Thanks @ccondra ! And thanks @sammarcus for letting us know! Closing this now.

[2016-10-20 16:46] #867 closed

[2016-10-22 22:53] sylink opened #874 "Varnish is not fully explained - best practices"
Varnish tends to work out of the box without issue, exactly how it does seems to be a complete mystery where the devdocs are concerned.

Is it possible someone could add some information regarding best practices for theme development/block management with regards to Varnish?

M2 performance tanks quite a bit on sites where this isn't considered, I think due to values like cacheable="false" and per

[2016-10-23 15:10] xcomSteveJohnson commented on #874
This is a duplicate of issue #339. As we said in [this comment](https://github.com/magento/devdocs/issues/339#issuecomment-170736801), we're waiting on internal resources to improve this topic.

Closing, watch issue 339 for updates.

[2016-10-23 15:10] #874 closed

[2016-10-23 15:13] xcomSteveJohnson commented on #222
Closing due to lack of response. Feel free to reopen.

[2016-10-23 15:13] #222 closed

[2016-10-23 16:15] sylink commented on #339
SSL with Varnish is more than possible, we do it with Apache/Nginx.

[2016-10-24 08:25] pantaoran opened #875 "Securing cron.php is misleading or not sufficiently explained"
On [this page](https://github.com/magento/devdocs/blob/develop/guides/v2.0/config-guide/secy/secy-cron.md) there is the following documentation:

<h3 id="config-cron-secure-nginx-config">Step 2: Modify the nginx configuration</h3>

Add the following to your `nginx.conf`:

[code]

Restart nginx and continue with the next section.

This is not clear at all. If I follow this literally, what happens i

[2016-10-24 15:01] xcomSteveJohnson commented on #875
Would you mind providing that info here?

[2016-10-25 02:14] pantaoran commented on #875
The [Magento 2.1 nginx sample config](https://github.com/magento/magento2/blob/develop/nginx.conf.sample) contains the following block:

[code]

I used all the lines from inside that block in addition to the two lines about `auth_basic` that I mentioned above.

I have no idea if that is good/recommended because I'm not very good with nginx. As a developer I hate to see that code duplication, but I

[2016-10-25 06:46] #859 closed

[2016-10-25 14:44] xcomSteveJohnson opened #876 "Verify technical bulletin instructions for upgrade to 2.1"
#https://github.com/magento/magento2/issues/7162#issue-184846485

Verify these instructions should be used for any upgrade to 2.1 from any version of 2.0.x.

[2016-10-25 19:10] xcomSteveJohnson commented on #876
Cannot reproduce, waiting for response in the linked issue.

[2016-10-26 15:45] xcomSteveJohnson commented on #875
Created MAGETWO-60158 to track.

[2016-10-26 15:47] xcomSteveJohnson commented on #829
This will probably be replaced by #794 but meanwhile, we're tracking it with MAGEDOC-2527.

[2016-10-26 15:50] xcomSteveJohnson commented on #802
Created internal issue MAGETWO-60159 to track.

[2016-10-26 15:54] xcomSteveJohnson commented on #776
Tracking this with MAGETWO-56161

[2016-10-26 15:56] xcomSteveJohnson commented on #739
This and issue #419 are expected to be resolved with the 2.2 release but I don't know a time frame for that release.

[2016-10-26 16:00] xcomSteveJohnson commented on #661
Tracking with MAGEDOC-2085.

[2016-10-26 16:10] xcomSteveJohnson commented on #419
As with issue #739 we're planning to address this in 2.2 but I don't know the ETA for that release.

[2016-10-26 16:11] xcomSteveJohnson commented on #366
This is basically a duplicate of #776 so closing. Reopen if you have additional questions.

[2016-10-26 16:11] #366 closed

[2016-10-27 05:55] popatkaran opened #879 "customer segment issue after data migration magento1 to magento2 enterprise edition"
I have completed with data migration and data was migrated from magento 1 (ee : 1.12.0.2) to magento 2 (ee: 2.1.1). After migration I have reindex data and cleared cache. In front-end I am getting error

[code]
I have attached report log file here for reference.
[1272167402754.zip](https://github.com/magento/devdocs/files/555037/1272167402754.zip)

Any help is appreciated.

[2016-10-27 06:03] #879 closed

[2016-10-27 15:07] xcomSteveJohnson commented on #875
@pantaoran I'm trying to set up a system but I cannot get nginx to work with Magento 2.1.2 at all. In what file is your `server` block located?

[2016-10-31 15:37] dmrachkovskyi commented on #762
Hi @icsw. Thanks for reporting this!

The guide has already been updated, Still, to fully cover the topic, the MAGETWO-60303 has been created.   Stay tuned!

[2016-10-31 17:34] dshevtsov commented on #719
an internal issue created: MAGETWO-60308

[2016-11-01 02:44] pantaoran commented on #875
Firstly, I'm working with Magento 2.1.0 here, haven't made it to 2.1.2 yet, but I'll just assume that it shouldn't be a huge difference.

However, your question confuses me. The `server` block is in the nginx config file. In my last post I linked to Magento2's own sample config, which contains the `server` block in a comment near the top.

Specifically, what I do is uncomment lines 8 - 13 and move

[2016-11-01 04:45] almarchenko commented on #844
internal issue magetwo-59999

[2016-11-01 09:36] almarchenko commented on #836
Fixed!
@gamerboy  thanks for reporting!

[2016-11-01 09:36] #836 closed

[2016-11-01 09:58] almarchenko commented on #718
Internal issue MAGETWO-55289

[2016-11-01 10:32] almarchenko commented on #505
Internal issue MAGETWO-60331

[2016-11-01 13:23] xcomSteveJohnson commented on #875
Thanks, that's the same thing I did. I get a 500 when I try to access the web server and the logs are confusing. I'll try it again later this week.

[2016-11-01 14:20] xcomSteveJohnson commented on #876
This was Magento's error, we fixed it. Closing.

[2016-11-01 14:20] #876 closed

[2016-11-01 14:21] xcomSteveJohnson commented on #848
Closing for lack of response. Feel free to reopen.

[2016-11-01 14:21] #848 closed

[2016-11-01 16:26] keharper commented on #527
Magento added POST /V1/order/{orderId}/ship in 2.0.10 and 2.1.2. Its payload is

[code]

[2016-11-01 16:30] keharper commented on #527
Since MAGETWO-50202 is closed and the code fixes have been published, I'm closing this issue.

[2016-11-01 16:30] #527 closed

[2016-11-02 06:37] pantaoran commented on #875
Post your confusing logs, I might have some ideas, I have accumulated quite a bit of experience in debugging nginx configs by now...

[2016-11-02 11:53] zyukov opened #884 "Dynamic Rows Component Documentation"
https://devdocs.magento.com/guides/v2.1/ui-components/ui_dynamic_rows.html page not fount.

[2016-11-02 13:50] xcomSteveJohnson commented on #884
This is intentional. We've recently replaced the UI components documentation that used to be located at the `/ui-components` URI with this: http://devdocs.magento.com/guides/v2.1/ui_comp_guide/bk-ui_comps.html

The two sets of content might not be equivalent. You can still find your topic in the `/v2.0` directory though.

Let us know if you  have any questions or concerns.

[2016-11-02 17:28] zyukov commented on #884
Thank you for your responce. I try to find information about dynamic rows component, so I tried to find it in /2.0 directory. Still can't find it there.

[2016-11-02 17:47] xcomSteveJohnson commented on #884
I looked at the history and apparently this file never existed in `v2.0` and I removed all the 2.1 HTML files for the `ui-components` path.

Assign to @almarchenko to comment further because she authored this topic. Maybe the name of the topic is different in 2.1?

[2016-11-02 18:01] zyukov commented on #884
Hello @almarchenko !
Can you help me please, I am looking for information about dynamic rows component. It was some info https://devdocs.magento.com/guides/v2.1/ui-components/ui_dynamic_rows.html, but now there is no page. So xcomSteveJohnson told me, that you authored this topic in v2.0 and may be can help with it

[2016-11-02 20:09] keharper commented on #780
`attribute_group_id` isn't actually required for `POST /V1/products/attribute-sets/groups` .  If the model schema for a POST operation that creates something contains an `id`, quite often that `id` is generated.

The minimum payload looks like this:

[code]
where `attribute_set_id` identifies the attribute set to use for populating the group with default attributes.

You would then use the PUT cal

[2016-11-02 20:09] #780 closed

[2016-11-02 20:11] keharper commented on #767
Closing due to inactivity. Feel free to reopen.

[2016-11-02 20:11] #767 closed

[2016-11-02 22:58] zainengineer opened #886 "No documentation of login itself in soap M1"
Login is extensive referenced by m1x soap api documentation
But it does not have its own entry page.

It is just username and apikey but it should be documented
`Mage_Api_Model_Server_Handler_Abstract::login()`

[2016-11-03 22:18] keharper commented on #770
Created internal issue MAGETWO-60480. I believe the `items` list will be required if multiple items are in the original order.

The completed documentation will include an example of each call.

[2016-11-03 22:24] keharper commented on #768
Closing due to inactivity. Feel free to reopen.

[2016-11-03 22:24] #768 closed

[2016-11-04 14:14] xcomSteveJohnson commented on #875
error.log set at debug; nothing is logged if I set it for info:

2016/10/28 09:53:03 [debug] 15747#0: epoll: fd:6 ev:0001 d:00007F7F72B3D010
2016/10/28 09:53:03 [debug] 15747#0: accept on 0.0.0.0:80, ready: 0
2016/10/28 09:53:03 [debug] 15747#0: posix_memalign: 0000000000FCB2E0:512 @16
2016/10/28 09:53:03 [debug] 15747#0: *29 accept: 10.235.34.14:51165 fd:4
2016/10/28 09:53:03 [debug] 15747#0: *29

[2016-11-04 14:15] xcomSteveJohnson commented on #875
access.log:

10.235.34.14 - - [28/Oct/2016:09:53:53 -0500] "GET /index.html HTTP/1.1" 500 5 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36" "-"

[2016-11-05 06:56] pantaoran commented on #875
In that case I'm going to have to disappoint you, I never had to go down to debug level from what I can remember. Is php-fpm getting called (is it executing any code)? If nginx info doesn't show anything then I would look more at php to find problems...

[2016-11-05 13:41] xcomSteveJohnson commented on #875
Don't worry about it... For whatever reason, if I set log level to info, nothing is logged. Sat with a developer yesterday, he came to the same conclusion you did about php-fpm.

The above was using CentOS 6 and nginx 1.10. What are you using?

I'm trying now on Ubuntu 16 with nginx 1.4.

[2016-11-06 19:39] tschifftner commented on #419
We are currently trying to find a good deployment setup. You are welcome to use and participate:

https://github.com/tschifftner/magento2-deployscripts

[2016-11-07 21:15] xcomSteveJohnson commented on #419
Thanks. I passed the link along.

[2016-11-08 02:06] pantaoran commented on #875
I'm running this in Ubuntu 14.04 based docker containers, the host is running Debian jessie.

Nginx is mostly 1.8, sometimes 1.10, your 1.4 sounds really old.

php-fpm 7.0.12

[2016-11-08 17:23] xcomSteveJohnson commented on #875
I'm getting tantalizingly close. Using an internal Vagrant image to get nginx working and the default `nginx.conf.sample`, I first got a 404 running `cron.php` in the browser. Now I'm getting an exception. I'll let you know if I can get it working.

[2016-11-10 15:16] jcalcaben commented on #811
The ordering has been fixed. Closing this issue.

[2016-11-10 15:16] #811 closed

[2016-11-14 23:16] keharper commented on #591
This was documented long ago, but not closed out.

Create an integration: http://devdocs.magento.com/guides/v2.1/howdoi/webapi/integration.html

OAuth-based authentication: http://devdocs.magento.com/guides/v2.1/get-started/authentication/gs-authentication-oauth.html

[2016-11-14 23:16] #591 closed

[2016-11-15 12:59] hostep opened #901 "Link to lifestyle doesn't work on the Events and Observers page"
Hi

The link to `lifestyle` on the [Events and Observers page]( http://devdocs.magento.com/guides/v2.1/extension-dev-guide/events-and-observers.html#subscribing-to-events) doesn't seem to work.

The term `lifestyle` was changed to `lifecycle` in this PR: https://github.com/magento/devdocs/pull/167

But on the [Extension lifecycle page](http://devdocs.magento.com/guides/v2.1/extension-dev-guide/pre

[2016-11-15 16:43] jcalcaben commented on #901
Hi @hostep

The content you are looking for is now in the [di.xml file](http://devdocs.magento.com/guides/v2.1/extension-dev-guide/build/di-xml-file.html#object-lifestyle-configuration) documentation.

I will fix the link. Sorry for the confusion!

[2016-11-15 19:38] hostep commented on #901
Thanks @jcalcaben!

Btw: the internal link on that di.xml page to the `Object Lifestyle Management` section is also broken ;)
It points to `#object-lifestyle-management` instead of the correct `#object-lifestyle-configuration`

[2016-11-15 20:49] jcalcaben commented on #901
Thanks for pointing that out! Both links are fixed now.

I'll look into the search results issue.

[2016-11-15 20:49] #901 closed

[2016-11-15 20:51] jcalcaben commented on #654
You can now find the documentation for application entry points as it relates to the `di.xml` file at: http://devdocs.magento.com/guides/v2.1/extension-dev-guide/build/di-xml-file.html#areas-and-application-entry-points

[2016-11-15 20:51] #654 closed

[2016-11-15 20:55] astorm commented on #654
Lifestyles of the rich and famous objects? ;)

[2016-11-16 01:59] joshuaswarren opened #902 "How Do I / Article Suggestion"
First of all - hi, DevDocs team! It's been entirely too long since I've bugged y'all. 😄

This is primarily to remind *me* to potentially contribute something around this, unless you already have something in the works. While preparing my php[world] 2016 talk on optimizing Magento 2 performance, I wanted to look up what other 'official' sort of M2 optimization/performance best practices I was forge

[2016-11-17 07:49] Khaleel commented on #419
https://github.com/magento/magento2/issues/6131

Is this related?

[2016-11-17 08:59] gamerboy opened #904 "Magento 2.1.x technology stack requirements page"
Hi,

from the [Magento 2.0.x technology stack requirements page](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements-2.0-tech.html) if i try to change the Magento version to 2.1 using the top-right select i get a **Page Not Found error**.
If i change manually the url to http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html everything works fine.
Sa

[2016-11-17 17:22] xcomSteveJohnson commented on #902
@joshuaswarren Yes, I think we're still in the process of figuring this out. If you can either put the details here or open a PR, we'll pass it along to the Performance team and get back to you. Let us know if you have questions.

Thanks as always for your offer to help.

[2016-11-17 21:04] xcomSteveJohnson commented on #419
@khakiout Yes, thanks!

[2016-11-21 06:44] harshu108 opened #905 "Documentation page down"
The page at this link:http://devdocs.magento.com/guides/v2.0/extension-dev-guide/extension_attributes/adding-attributes.html

This page keeps redirecting to itself repeatedly

![image](https://cloud.githubusercontent.com/assets/14261945/20473033/f6ff4ab6-afe3-11e6-85dc-a177ad5c7a1c.png)

[2016-11-21 14:21] xcomSteveJohnson commented on #904
Sorry about that, fixed now. I tried to get too fancy with the URLs. Please try it and close this if it works for you.

[2016-11-21 14:26] gamerboy commented on #904
It's working now. Thanks!

[2016-11-21 14:26] #904 closed

[2016-11-21 16:24] jcalcaben commented on #905
Thanks for pointing this out! I will be looking into it.

[2016-11-22 15:19] hostep opened #908 "webapi_rest event area isn't mentioned in the Events and observers page"
Hi

I just wasted 2 hours trying to figure out why a certain event wasn't being observed on the frontend while defining it in my `etc/frontend/events.xml` file.
Apparently, certain 'frontend' events now should be declared in the `etc/webapi_rest/events.xml` file.
There is no mentioning of this on the [Events and observers page](http://devdocs.magento.com/guides/v2.1/extension-dev-guide/events-and-

[2016-11-22 16:32] tanberry commented on #908
Ach, sorry @hostep  for the wasted time, and a big thanks for letting us know how to prevent others from wasting time in the future. @jcalcaben can you take a look and add the requested info to the  Events and observers page and wherever else it might be needed? Pieter, it would be great if you are willing to take a look after James updates the docs, and let us know if it is more clear. Thanks!

[2016-11-22 18:03] hostep commented on #908
Tnx @tanberry!

@jcalcaben, I see there are even more area's to be aware of, see:
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/App/Area.php#L18-L24

But I'm not sure if all of these can and are being used for defining observers...

[2016-11-22 18:44] jcalcaben commented on #908
@hostep Thanks for pointing this out. I will also add **Areas** as a topic that needs to be written in addition to fixing the doc.

[2016-11-22 19:17] skukla opened #909 "EE APIs have no documentation"
I am seeing more and more potential merchants ask about Magento's API coverage.  Given that the majority of EE merchants are integrating with third-party systems, and there are notable feature differences, it would be great to have these documented.

**Note:** It would also be good to document B2B-specific APIs as well when those are released.

[2016-11-22 19:23] keharper commented on #909
I'll see if I can push out a list of EE APIs today.

[2016-11-22 20:37] xcomSteveJohnson commented on #902
Update. We _expect_ to have something for 2.1.4, which is tentatively in January. If you're working on something as well, let's compare notes around mid-December when I'll know more about it.

[2016-11-22 22:46] keharper commented on #909
I appended the EE REST APIs to the current list.

http://devdocs.magento.com/guides/v2.1/rest/list.html
http://devdocs.magento.com/guides/v2.0/rest/list.html

[2016-11-22 22:46] #909 closed

[2016-11-23 15:33] dshevtsov commented on #719
Added a new topic - [JavaScript Unit Testing with Jasmin](http://devdocs.magento.com/guides/v2.0/test/js/jasmine.html)
@Vinai what do you think?

[2016-11-28 15:04] #905 closed

[2016-12-02 15:24] okobchenko opened #914 "Incorrect version for ElasticSearch is mentioned in "Install and Configure Elastic" article"
According to composer.json file Magento 2 supports elastic of ~2.0 versions, meanwhile documentation says it M2 support 1.0 and 2.0 versions. Please remove 1.0 version from documentation.

Link to article: http://devdocs.magento.com/guides/v2.1/config-guide/elasticsearch/es-overview.html

[2016-12-03 23:35] user3748173 opened #915 "Magento 2 documentation “Remove a component” plugin tutorial error"
### Preconditions

1. Magento 2.1.2
2. Reading through magento documentation [ "Remove a component"](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_customize.html)

### Steps to reproduce

1. Following the tutorial:
2. Creating di.xml file and plugin file inside Plugin directory
3. Plugin file content:

`class removeCheckoutComponent {`</br>`
    public function aroundProcess($jsL

[2016-12-04 12:45] user3748173 commented on #915
Solved

[2016-12-04 12:45] #915 closed

[2016-12-05 13:51] user3748173 opened #916 "Error “Cannot read property 'indexedOptions' ” when removing Company field"
### Preconditions

1. Magento 2.1.2
2. Reading through magento documentation  [ "Remove a component"](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_customize.html)

### Steps to reproduce

1. Following the tutorial.
2. Creating di.xml file and plugin file inside Plugin directory
3. Plugin file content:
`public function aroundProcess(\Magento\Checkout\Block\Checkout\LayoutProcesso

[2016-12-05 21:19] user3748173 commented on #916
Solved it! But the errors that following the tutorial is outputting are confusing at least to me?
**Maybe it would be good idea to add some error codes to the documentation?**
The answer was in github issue: https://github.com/magento/magento2/issues/4425

[2016-12-05 21:20] #916 closed

[2016-12-06 02:23] xcomSteveJohnson commented on #914
Fixed. Please verify and close this if you're satisfied.

[2016-12-06 20:48] xcomSteveJohnson opened #918 "Test"
Feedback on page: /guides/v2.0/install-gde/bk-install-guide.html

Entering this issue as part of devdocs responsive test. You can close this

[2016-12-07 12:02] dshevtsov commented on #719
@Vinai I'm closing the issue, but if you have any feedback, you are welcome to comment it at any time.

[2016-12-07 12:02] #719 closed

[2016-12-07 13:00] Vinai commented on #719
Hey, sorry I missed your comment and the "Waiting for response" label"
Thanks for the update, it looks great! Last time I tried to use the jasmin tests, it failed because of broken tests in the core. I'll it out again soon and should there be issues you'll hear from me 👍
Thank you very much for the documentation!

[2016-12-07 13:03] dmrachkovskyi commented on #762
The Business Logic layer is a synonym of the Domain layer, not its subset or a separate entity. Sorry for this confusion.

The [text](http://devdocs.magento.com/guides/v2.1/architecture/arch_whatis.html#domain-layer) in the Architecture Guide is now correct.

Thanks for your help!

[2016-12-07 13:03] #762 closed

[2016-12-09 00:38] user3748173 opened #919 "Should there be a OnePage checkout creation tutorial"
I have searched how to create OnePage checkout from magento.stackexchange.com but all who have asked about it have not get any answer. I also found module that allowed it and is free to download. But when i looked inside the module I notice that the developer has overriding many html and js files.

Is it really necessary (what if Magento 2 decides to change those files) ? Because many people needs

[2016-12-09 03:57] shoosah opened #920 "Please select a valid payment method."
After creating card via 'cart.create', I set payment via 'cart_payment.method'. I used the following code sample and it only works when I set payment method to "purchaseorder" ("method" => "purchaseorder"). Otherwise, it throws faultcode:1008(Please select a valid payment method).

$proxy = new SoapClient('http://magentohost/api/soap/?wsdl');
$sessionId = $proxy->login('apiUser', 'apiKey');

$shop

[2016-12-12 08:23] ihor-sviziev opened #922 "SSL certifiate is not valid"
Right now in google index we have pages on http & https protocols. After going to https link we have incorrect ssl certificate warning.

**Steps to reproduce**
1. Go to https://www.google.com/search?q=magento+2+vault
2. Click on link that starts from https://devdocs.magento.com/

**Actual result**
We have incorrect ssl certificate

**Expected result**
We should have correct SSL certificate

[2016-12-12 13:59] xcomSteveJohnson commented on #922
devdocs is not an SSL site. We don't know why some search links are returned with the incorrect `https://` scheme.

If you change the scheme to `http://`, the links work.

Closing.

[2016-12-12 13:59] #922 closed

[2016-12-12 15:01] #918 closed

[2016-12-12 15:03] xcomSteveJohnson commented on #914
Closing.

[2016-12-12 15:03] #914 closed

[2016-12-12 15:05] xcomSteveJohnson commented on #920
Referred to Support for assistance.

[2016-12-12 15:13] xcomSteveJohnson commented on #920
@shoosah Support would like to know what version of Magento 1.x you're using. This appears to be a known issue being tracked by SUPEE-4952.

[2016-12-12 21:00] shoosah commented on #920
@xcomSteveJohnson It is version 1.9.0.1. If it's a known issue, then I was wondering how I can differentiate between different payments like CC and Paypal in Magento.

[2016-12-12 21:20] astorm opened #924 "Docs Reference Section that No Longer Exists"
The following page

http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-apply.html

References a `Stores > Configuration > Design` section.  This section no longer exists in the 2.1.x branch.  Magento Inc. moved these sorts of options into the new `Content -> Design` section.  This page, and any other page, that references `Store > Configuration > Design` should reference the co

[2016-12-13 07:59] hostep commented on #924
@astorm: the documentation for Magento 2.0 is correct.
You should check the documentation specifically for version 2.1, over here: http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-apply.html (notice the version number in the url, and the version switcher at the top right ;))

[2016-12-13 17:36] astorm commented on #924
Ah ha!  Didn't realize you had that implemented.  Only other thing I'd suggest is Google seems to have the following URL highly indexed for that topic

http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/themes/theme-apply.html

and this URL redirects to the 2.0.x version of the page, not the *latest* version.  Not sure if this is an oversight, or a deliberately preferring 2.0.x due to the s

[2016-12-13 17:36] #924 closed

[2016-12-13 17:43] afmv opened #926 "Class Magento\SampleMinimal\Cron\Test does not exist"
Hi everyone, i follow this tutorial but i can't execute correctly. It give me this error "Class Magento\SampleMinimal\Cron\Test does not exist"

http://devdocs.magento.com/guides/v2.0/config-guide/cron/custom-cron-tut.html

When i execute cron:run it show a error in the DB in the table cron_schedule.

[2016-12-13 18:33] xcomSteveJohnson commented on #924
@astorm That's a good point. We have a way to do redirects from any page to any page such as, in this case, when the URL changes.

We should review how these redirects are done and update them accordingly. @tanberry @almarchenko

[2016-12-13 18:47] hostep commented on #924
Just an idea: other documentation sites also have the latest version available using the `latest`, `current` or `master` key in the url, instead of the version itself. Examples:
- [https://docs.akeneo.com/**latest**/developer_guide/installation/index.html](https://docs.akeneo.com/latest/developer_guide/installation/index.html)
- [http://symfony.com/doc/**current**/page_creation.html](http://symfon

[2016-12-13 18:53] xcomSteveJohnson commented on #924
@hostep We have an open issue on this. CC @jcalcaben , @belbiy

The challenge is, our documentation is hosted on GitHub which isn't a web server. We can't set up rewrite rules. We'll have to get creative. But it's a good idea and we need to implement something like it.

[2016-12-13 18:56] astorm commented on #924
@xcomSteveJohnson If only you were using a static site generation tool that's capable of publishing to any sort of web server, and not just GitHub ;)

(I know, I know, not that simple.  Dropping of this thread, but good luck!)

[2016-12-13 18:58] xcomSteveJohnson commented on #924
Don't count out that possibility either.

[2016-12-13 22:55] ttnnkkrr opened #927 "unfollowed standards"
Feedback on page: /guides/v2.1/extension-dev-guide/object-manager.html

and then you say

Yet you make it nearly impossible to build code without it by having poor documentation of you object model and by in your own sample codebase doing the very thing you recommend against

[2016-12-14 09:05] Vinai opened #928 "Some pages are broken in new layout"
For example http://devdocs.magento.com/guides/v2.1/extension-dev-guide/test/test_js-unit.html

The header doesn't look like on the other pages and no menu entry can be selected (Firefox and Chrome Desktop).

<img width="1059" alt="Broken Header" src="https://cloud.githubusercontent.com/assets/72463/21175912/e1986b36-c1e4-11e6-982f-61ab27be795e.png">

[2016-12-14 11:59] dshevtsov commented on #928
@Vinai good catch! Will fix! Thanks!

[2016-12-14 15:11] xcomSteveJohnson commented on #928
@dshevtsov I'm fixing it now. I'm adding a redirect from the old page to the correct page.

[2016-12-14 15:48] dshevtsov commented on #928
@xcomSteveJohnson the [Navigation link](https://github.com/magento/devdocs/blob/develop/_includes/navigation.html#L68) must be fixed also.

[2016-12-14 15:53] almarchenko commented on #919
Hi @user3748173 !

Here are our docs about customizing checkout:
http://devdocs.magento.com/guides/v2.1/howdoi/checkout/checkout_overview.html
It is not a complete tutorial yet, but answers a lot of questions about checkout customization.
Hope it will be helpful!

We are working now on a list of required tutorials, so we will add your request to this list!
Please let me know if I can close the iss

[2016-12-14 15:54] xcomSteveJohnson commented on #928
The link is correct in the `develop` branch. There is an unexplained delay in synchronizing the internal GitHub repo with the public repo. Most likely the issue goes away when synchronization resumes.

[2016-12-14 17:26] user3748173 commented on #919
I know about the docs how to customize the checkout and have learned a lot from them. But I have found just that lot of questions about the checkout are without any answers in magento.stackexchange.com.

Also should not there be some Rules how to Customise Magento 2? I mean how much is normal to override files in the module so it will not disturb updating Magento and how many should treat Changing

[2016-12-14 21:39] schmengler opened #931 "2.1 docs lack information about filter UI component"
In the 2.0 docs there is a section about "listing/grid secondary components" like the filter component: http://devdocs.magento.com/guides/v2.0/ui-components/ui-secondary-filter.html

There seems to be nothing like this for Magento 2.1

Also, examples for common tasks to **extend** these components would be useful, like:

- add a new attribute to the grid filters
- add a custom calculated filter

T

[2016-12-16 15:33] xcomSteveJohnson commented on #794
@erikhansen @hostep This is done now: http://devdocs.magento.com/guides/v2.1/magento-devdocs-whatsnew.html

Feel free to reopen with comments if you'd like to see improvements.

[2016-12-16 15:33] #794 closed

[2016-12-16 16:19] xcomSteveJohnson commented on #928
@Vinai Fully fixed now with a redirect to the correct URL. Please close if you're satisfied.

[2016-12-16 19:04] MikeOtown opened #935 "Magento 2 works on Windows!"
Why the hate for Bill G. ?

Feedback on page: /guides/v2.1/install-gde/system-requirements-tech.html

[2016-12-16 20:07] xcomSteveJohnson commented on #935
We neither _support_ nor document installing Magento on Mac or Windows.

[2016-12-16 20:07] #935 closed

[2016-12-16 20:51] bassplayer7 opened #936 "Missing attribute under layout instructions"
Each XML element listed in the allowed layout instruction table has a list of available attributes. The table is here: http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/layouts/layout-types.html#layout-types-page. It appears that the `src_type` is not listed as an available attribute. The attribute doesn't append the site's asset location URL to the value of the `src` attribute. As a resul

[2016-12-16 22:42] xcomSteveJohnson commented on #920
@shoosah I don't know the answer to your question. SUPEE-4952 resulted in a patch to EE 1.14.0.1 but Magento Support doesn't usually patch CE.

Suggest you post a question on [Magento Forums](https://community.magento.com) and see if you can get more help there.

[2016-12-16 23:08] xcomSteveJohnson commented on #926
Make sure this file does exist: `/var/www/html/magento2/app/code/Magento/SampleMinimal/Cron/Test.php`

[2016-12-17 12:10] hostep commented on #794
Thanks Steve, good job!

[2016-12-17 17:25] xcomSteveJohnson commented on #794
@hostep Thanks. Let us know what you think about the weekly updates. Is it useful? Necessary? IOW, I could always update it every week but is the "Week ending" column useful?

[2016-12-17 18:11] hostep commented on #794
It is certainly useful and necessary :)
I would suggest you change the "week ending" column to the exact date on which the change was published if possible, that makes more sense to me.

Maybe @erikhansen, @mttjohnson and other watchers can also weigh in their opinions?

( I just noticed a small bug btw: the headers of the October changes are shuffled around ;) )

[2016-12-17 18:42] hostep opened #937 "Changelog for 2.1.3 about setup:di:compile is slightly incorrect"
Hi

In the [changelog for Magento CE 2.1.3](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.3CE.html), this is stated:
`We’ve optimized compiler performance by adding several options to the setup:di:compile command.`

By reading this, I was expecting to see that the `setup:di:compile` command got some new command line options, but this isn't the case.

CE 2.1.2:
[code]

CE 2.1

[2016-12-17 18:48] xcomSteveJohnson commented on #937
Doink. That's on me, sorry, will fix.

[2016-12-17 18:50] xcomSteveJohnson commented on #794
@hostep Can you elaborate on the October changes bug?

[2016-12-17 18:55] hostep commented on #794
Sure, the first column of the October table is "Week ending" instead of "Description", and the other column headers are also incorrect.
See:
![screen shot 2016-12-17 at 19 54 19](https://cloud.githubusercontent.com/assets/85479/21289040/b5afece6-c492-11e6-99b8-ff6ebeba344e.png)

[2016-12-17 19:16] xcomSteveJohnson commented on #794
Doink. Just pushed the fix, it should be live around 1:45 Central. Thanks!

[2016-12-17 20:55] afmv commented on #926
Hi, Thks for the reply. I'm already solved the problem... For some reason when i save the file the extension .php wasn't saved.

[2016-12-19 13:29] ekuusela opened #939 "mismatched permissions in examples"
Feedback on page: /guides/v2.1/install-gde/prereq/file-system-perms.html

Under the heading **To set ownership and permissions for a one-user system:** there's an example for setting the permissions:

[code]

but the one-liner version that follows adds the write permission to group instead of owner:

[code]

[2016-12-19 19:25] xcomSteveJohnson commented on #928
Closing

[2016-12-19 19:25] #928 closed

[2016-12-19 19:25] xcomSteveJohnson commented on #926
@afmv Are you able to complete the procedure?

[2016-12-19 19:32] xcomSteveJohnson commented on #886
It is covered [here](http://devdocs.magento.com/guides/m1x/api/soap/introduction.html) in the API section. Is that OK?

[2016-12-19 19:39] xcomSteveJohnson commented on #829
@hostep We removed the date entirely in favor of the [What's New on DevDocs](http://devdocs.magento.com/guides/v2.1/magento-devdocs-whatsnew.html) page. Closing.

[2016-12-19 19:39] #829 closed

[2016-12-19 19:44] xcomSteveJohnson commented on #793
@hostep Has the new design addressed this?

[2016-12-19 20:51] hostep commented on #793
Hi Steve, I don't think so.
The main menu at the top still has no indication of what section is currently active. And also in its dropdown I think it would be handy to see which submenu item is currently active.

But these are just nice-to-haves, it doesn't really bother me.

[2016-12-19 21:09] xcomSteveJohnson commented on #937
@hostep Please check now and close if appropriate. Thanks

[2016-12-19 21:10] xcomSteveJohnson commented on #939
@ekuusela Fixed now. Please check and close if you're happy with the solution.

[2016-12-19 21:13] xcomSteveJohnson commented on #793
Created internal issue MAGETWO-62461 to track.

[2016-12-19 21:15] hostep commented on #937
Thanks, looks good. Closing.

[2016-12-19 21:15] #937 closed

[2016-12-19 21:18] #939 closed

[2016-12-19 23:02] shoosah commented on #920
@xcomSteveJohnson I asked the question on https://community.magento.com/t5/Programming-Questions/Please-select-a-valid-payment-method-version-1-9-0-1/m-p/55551#M6867
I'd suggest that you close this issue since it is a known issue and the solution is a patch in a later version.

[2016-12-19 23:02] #920 closed

[2016-12-20 00:55] astorm commented on #746
I dropped by to open a ticket on the UI Component template syntax needing documentation, only to discover I thought the same thing back in July.

Any update on this @almarchenko ?  Or is this something that's not going to get done and I should close the ticket?

[2016-12-20 05:28] deepikabiswas opened #946 "Custom options in sales order details missing"
I cannot get the custom options in order detail of customer through REST Api. Can you please suggest how can I get the custom options if it is available with the product in the order. I can fetch the whole order detail through REST Api by /rest/V1/orders/:orderid but I cannot see if customer has selected the custom option of the product. Please let me know with a solution asap.

[2016-12-20 06:10] user3748173 opened #947 "widget_accordion.html page improvement suggestion"
**How about you make more noticeable this section in tutorial:**

<h3>Initialize accordion in a template</h3>
The accordion widget can be initialized using the data-mage-init attribute or <script> element, as described in JavaScript initialisation.
<h2></h2>
The link where tutorial is located: [link](http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/widgets/widget_accordion.html#collaps_

[2016-12-20 09:11] afmv commented on #926
Hi. I'm completed the procedure.

I'm opened a question in magento forum. Can you help if you know how?
https://community.magento.com/t5/Programming-Questions/ERP-Integration/m-p/55536#U55536

[2016-12-20 10:12] zainengineer commented on #886
@xcomSteveJohnson
is it possible to have its separate entry like other pages
http://devdocs.magento.com/guides/m1x/api/soap/catalogInventory/cataloginventory_stock_item.list.html

so it is more detailed and easy to find in search engines.

Every api call has its own entry.
login call is used for almost every api call so it should have its own entry as well.

[2016-12-20 13:17] keharper commented on #946
I've asked development to take a look at this.

[2016-12-20 17:34] mbacklas opened #950 "Documentation contains lots of "Smart Quotes" / Microsoft-encoded quotes"
For example, http://devdocs.magento.com/guides/m1x/api/soap/checkout/cartPayment/cart_payment.method.html contains in it's code examples multi instances of improper quote marks (“) which will break PHP - if you copy and past from the code examples it will not work correctly. Is there any reason this is written this way - or is it safe for me to replace all those improperly encoded characters?

[2016-12-20 17:57] xcomSteveJohnson commented on #950
Thanks for pointing that out. I do not know the history of how this was authored. You can replace these at will.

If I can find a way to globally search/replace, I'll fix them.

[2016-12-20 19:20] mttjohnson commented on #794
The what's new section is awesome!

As @hostep mentioned it would be ideal to know the specific date the change was published, as opposed to the week, but considering getting that granular might require a lot more work in the process, the weekly granularity seems more than adequate for what I would think most people would need or want considering this is a summary of changes.

[2016-12-20 19:22] erikhansen commented on #794
@xcomSteveJohnson I agree, that "What's New" section looks great! Good work on that. Thanks for making our lives easier!

[2016-12-20 19:37] xcomSteveJohnson commented on #794
@erikhansen @mttjohnson @hostep Thanks for your kind words. We aim to please!

I'm checking into adding the date of each change. If we do that, it would be going forward only.

[2016-12-20 19:48] mbacklas commented on #950
I do believe I have it sorted with a find replace I did - if I can grab some time here at the end of the day I'll do a pull and run it again and send a request over. Thanks!

[2016-12-20 19:48] mbacklas commented on #950
Opening until I actually get it on here

[2016-12-20 19:58] xcomSteveJohnson commented on #950
@mbacklas I just did a search-replace that found 64 instances of curly quotes across 14 files. I just need to validate it before I merge with develop.

Does that number sound about right to you?

[2016-12-20 20:49] astorm commented on #746
Also, possibly relevant and of interest if this is something that will happen: http://magento-quickies.alanstorm.com/post/154733424095/design-problems-with-magentos-knockoutjs

[2016-12-20 20:51] astorm commented on #844
Link of possible interest and relevance for folks looking for answers while the official docs are worked on: http://alanstorm.com/magento_2_uiclass_data_features/

[2016-12-20 20:52] astorm commented on #470
Any update on this, or is this not going to happen?

[2016-12-20 20:52] astorm commented on #434
Any update on is, or is this not going to happen?

[2016-12-20 21:19] tanberry commented on #844
Thanks @astorm , we do appreciate you helping us fill the gaps. Check your Inbox, please, regarding a plan for a West Coast Doc Sprint for UI Components. Looking forward to a reply, thanks!

[2016-12-20 22:32] xcomSteveJohnson commented on #950
@mbacklas I merged a fix for 64 occurrences in 14 files. Please let me know if you find other instances of smart quotes.

[2016-12-20 22:51] mbacklas commented on #950
@xcomSteveJohnson I also got 64 for the forward smart quotes - did you check for the ending quotes as well, since they user a different character? (”)

[2016-12-20 22:53] xcomSteveJohnson commented on #950
That's a good point. Yes, I searched for both sets of quotes so you're correct, should be 128 occurrences in 14 files.

[2016-12-20 23:01] mbacklas commented on #950
That sounds about right - I've noticed there are a few others in the /guides/v2.0/ - I haven't searched the other but my guess is a few slipped into /guides/v2.1/ and /guides/v2.2/ as well. However it seems those might be harder to dig through due to their directory structure - many images are being pulled up in my find and replace (Notepad++ is showing images as blobs). If you have a better metho

[2016-12-20 23:05] xcomSteveJohnson commented on #950
If it helps, I use Sublime Text 2. To do the replace, I just copy to the clipboard each character and replace with `"`. Pretty simple.

Yegods! I just did a search across all guides and found almost 400 of them. I'll let the other writers know.

[2016-12-21 01:23] mbacklas commented on #950
Sounds good! Thanks for all the help today - I knew those quotes looks suspect!

[2016-12-21 14:51] xcomSteveJohnson commented on #434
I'm waiting on input from engineering. I don't have an ETA for that.

[2016-12-21 17:36] astorm commented on #434
Thanks for the update @xcomSteveJohnson -- we live in hope :)

[2016-12-21 18:48] xcomSteveJohnson commented on #950
@mbacklas Update: We're now down to 85 instances of smart quotes. We're asking the writers to remove those soon. I'll update this when we're done.

[2016-12-21 23:10] xcomSteveJohnson commented on #470
I supposedly have the information I need to write this but haven't started yet. With holidays on us, I'll take a look and get back to you here with a yes/no soon, and then an ETA after that.

[2016-12-22 11:22] aakimov commented on #946
Hi @deepikabiswas,
Thank you for your report and interest in Magento.
You can try the following API call to fetch all required information about order items:

`/rest/V1/orders/items?searchCriteria[filter_groups][0][filters][0][field]=order_id&searchCriteria[filter_groups][0][filters][0][value]=1&searchCriteria[filter_groups][0][filters][0][condition_type]=eq`

(replace _1_ with your order ID).
For

[2016-12-22 11:52] deepikabiswas commented on #946
Hello

Thank you for the response. It was similar to what I want in the order but
The custom options are showing in form of ID but I want that the
titles/values of those ID should come in response as the ID will be
difficult to match with the custom options of the products.
Please help me out.

[image: Inline image 1]

On Thu, Dec 22, 2016 at 4:52 PM, Alexander Akimov <notifications@github.com>
wr

[2016-12-22 13:04] aakimov commented on #946
Hi once again,
There is separate service that you have to use in order to get custom option metadata (like title, price etc). Services of the Magento\Sales module should not provide this data because it is not their responsibility.

You can try:
`/rest/V1/products/{sku}/options/{optionId}`

Regards.

[2016-12-22 15:04] nikolalardev opened #955 "Component Manager link is not working"
Feedback on page: /guides/v2.1/extension-dev-guide/intro/intro-composer-gloss.html

When you click on Component Manager link you are redirect to here http://devdocs.magento.com/guides/v2.1/comp-mgr/compman-start.html

And I get: Page Not Found

[2016-12-22 15:05] mbacklas commented on #950
Great work!

[2016-12-22 17:40] xcomSteveJohnson commented on #955
Fixed now. Please close this if you're satisfied.

[2016-12-22 17:45] nikolalardev commented on #955
Fixed.

[2016-12-22 17:45] #955 closed

[2016-12-23 18:42] ryantfowler opened #957 "Lack of clarity regarding global 3rd party javascript library inclusion"
When I refer to this [page](http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js-resources.html), specifically this section:
[code]
Is it even possible in M2 to add additional files to `<docRoot>/lib/web` and then pull that in via require.js? Say I wanted to add a library to `<docRoot>/lib/web/js/custom.js` ... how would I refer to `lib/web/js/custom` in my *custom theme's* re

[2016-12-26 23:25] user3748173 opened #958 "Suggestion to a documentation (Errors caused by modules)"
Sorry if it not the right place, but I have another suggestion based on posts i have seen in magento.stackexchange.com/.

I have worked with Wordpress and common knowledge in that CMS is that if something is not working then it is probably caused by plugin(in magento it is modules). To locate where exactly the problem is, it is advised:  ["If you can access the Administration Screens try deactivat

[2016-12-27 19:51] maxfootball18 opened #959 "Routing page for magento 2.x display old magento 1.x way?"
Feedback on page: /guides/v2.0/extension-dev-guide/routing.html

Basically, is there a reason why creating multiple actions for one controller doesn't work like in the Doc:

    public function createAction()
    {
        $this->_forward('noroute');
    }

    public function forgotpasswordAction()
    {
        $this->_forward('noroute');
    }

but I came across this somewhere on the web:

[htt

[2016-12-29 06:44] ekuusela opened #960 "Misleading examples of private data in configuration guide"
Feedback on page: /guides/v2.1/config-guide/cache/cache-priv-priv.html

I inspected my local storage after modifying addresses and selecting some of them for shipping and so on but I can't find the actual addresses in that private content. Only data related to addresses are the IDs of the currently selected addressed (`selectedBillingAddress`, `selectedShippingAddress`) and text filled into forms

[2016-12-31 20:05] bassplayer7 opened #964 "Add XML Naming Convention to Code Standards"
There is currently no naming convention in place for layout XML files. This isn't really a syntax problem as there are few defined requirements on what you can and cannot do with the layout XML naming. However, I have noticed a pattern in various places in Magento and have found it to work very well in my own development. On [Twitter](https://twitter.com/bassplayer_7/status/814140503327473664),
I

[2016-12-31 20:12] xcomSteveJohnson commented on #958
@user3748173 This is good feedback, thanks. What is the difference between beginning users and developers in your opinion?

Can you give an example of where this has worked for you? Are you currently facing such an issue?

[2016-12-31 20:13] xcomSteveJohnson commented on #960
We need input from @antonkril on this.

[2017-01-02 01:56] user3748173 commented on #958
No I am not  facing such an issue, but when i have looked at some magento.stackexchange.com/ questions _(two separate days, accidentally skipping through new posts. I spotted same issue - too little information provided to answer both were caused by Magento version upgrade)_ then some guide how to narrow down issue (or module) that is causing the problem in module by Magento version upgrade would

[2017-01-02 17:11] jbecerra-topgroup opened #966 "Very poor documentartion"
Feedback on page: /guides/v2.0/ui-components/ui-form.html

Please improve the information about ui_components.

I need examples on defining field validations in forms using ui_components

There is nothing about fieldsets and fields

Thanks

[2017-01-03 17:02] xcomSteveJohnson commented on #964
Sure, please send us a PR. Thanks!

[2017-01-03 17:05] xcomSteveJohnson commented on #958
Tracking with internal issue MAGETWO-62896. We'll need engineering input for this.

[2017-01-03 17:23] BenSpace48 commented on #966
Agreed, this doesn't look great on either Github or the devdoc, it looks like a custom parser isn't playing nice. For example:

[code]

- https://github.com/magento/devdocs/blob/develop/guides/v2.1/ui_comp_guide/components/ui-form.md
- http://devdocs.magento.com/guides/v2.1/ui_comp_guide/components/ui-form.html

[2017-01-03 17:39] jbecerra-topgroup commented on #966
Some example of validations using ui_components:

`<field name="MyField">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">100</item>
                    <item name="dataType" xsi:type="string">string</item>
                    <item name="formElement" xsi:type="string">input</item

[2017-01-04 13:16] antonkril commented on #960
Addresses here were provided as an example of private content. Not all private content is stored in local storage, only the content required by private data blocks rendered in browser. Actual address information is not required by blocks, so it's not loaded to local storage.

[2017-01-04 16:19] bassplayer7 commented on #964
Great. I'll do that.

[2017-01-05 08:01] MarcoWeiss opened #969 "Magento technology stack requirements link not found"
Feedback on page: /guides/v2.1/install-gde/system-requirements2.html

On that page the link to that URL
http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html

where not found.

Found the system requirements here.
http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html

Regards,
Marco Weiß

[2017-01-05 12:33] markus2810 opened #970 "media not restored from db when accessing images directly"
I have db media storage configured and it seems working fine on a first glance. But when I delete the media files in the pub folder in the file system, the files are not loaded from the db when the files are accessed directly. e.g. domain.com/pub/media/wysiwyg/home.jpg.
When I go over content->edit page->insert image. The file is loaded from the db and placed under ub/media/wysiwyg/home.jpg on the

[2017-01-05 18:59] scottsb opened #971 "Unclear documentation about --base-url-secure on CLI setup"
Twice on the CLI install page the following statement is included:

However, the `--base-url-secure` argument is described like this:

Either the `--base-url-secure` argument also accepts a binary value (`1`) whose meaning should be explained, or else the statement about "fully secure site" requirements is wrong. My suspicion is that the statement is actually supposed to be about `--use-secure-adm

[2017-01-05 19:01] xcomSteveJohnson commented on #971
@scottsb Thanks for pointing it out. I'll talk with engineering and get back to you.

[2017-01-05 19:51] scottsb opened #972 "Incorrect validation rules specified in --backend-frontname documentation"
The documentation for `--backend-frontname` states:

However, the regex for this argument in `Magento\Backend\Setup\ConfigOptionsList:: validate()` is `/^[a-zA-Z0-9_]+$/`, which does not allow for dashes (or, more precisely, hyphens).

Also, the validator doesn't actually limit this to 255 characters in length. I can't imagine why you'd possibly want it longer than that, but the statement should p

[2017-01-05 23:03] cbartak-rivet opened #974 "Accurate Message Queue documentation?"
Feedback on page: /guides/v2.1/config-guide/mq/config-mq.html

Is this documentation accurate and up-to-date? The structure of the example XML differs slightly from the sample data https://github.com/magento/magento2-samples/tree/master/sample-module-sample-message-queue. For instance, queue.xml uses a consumerInstance property (which references a non-existent class), and that property is absent i

[2017-01-06 13:19] almarchenko commented on #966
@jbecerra-topgroup Thank you for your feedback!
Creating the better docs about UI components is in our priorities, and we definitely will improve the docs.

Regarding your particular question about validation, I think better chances for getting the answer are if you post it on  [Magento 2 GitHub](https://github.com/magento/magento2/issues), [Magento forum](https://community.magento.com/), or [stac

[2017-01-06 13:20] almarchenko commented on #966
@BenSpace48
Hi! Thank you for your feedback.
Could you plz specify what exactly is wrong/broken on
http://devdocs.magento.com/guides/v2.1/ui_comp_guide/components/ui-form.html ?
Cause for me all code samples look ok.

[2017-01-06 13:43] BenSpace48 commented on #966
@almarchenko - The code blocks are ok on the devdocs but the link to form.js isn't being parsed, it's in the overview section.

I presume this:

![screen shot 2017-01-06 at 13 41 12](https://cloud.githubusercontent.com/assets/8895777/21719443/cdb96f46-d415-11e6-9c5a-c70075c86479.png)

Should look like this:

The following is the Form component constructor: [form.js](https://github.com/magento/mage

[2017-01-06 13:45] almarchenko commented on #957
@ryantfowler thank you for feedback!
I'll get in touch with developers and get back to your question.

[2017-01-06 13:49] almarchenko commented on #966
@BenSpace48  Thank you, now I see!
Thanks for the PR! I'll happily merge it once it is ready! (now it looks like in progress)

[2017-01-06 13:51] BenSpace48 commented on #966
@almarchenko Do you mean in progress with me or with Magento?

[2017-01-06 13:51] BenSpace48 commented on #966
Never mind, I didn't actually create it. Oops.

The actual PR is here - https://github.com/magento/devdocs/pull/976

[2017-01-06 14:02] almarchenko commented on #966
@BenSpace48  I merged it. Thanks for your input!

[2017-01-06 14:29] xcomSteveJohnson commented on #950
@mbacklas I believe we've removed all of them. Closing. Please reopen if you find some more.

[2017-01-06 14:29] #950 closed

[2017-01-06 15:54] almarchenko commented on #957
Internal issue 63023

[2017-01-06 16:43] #969 closed

[2017-01-06 19:05] alankent opened #978 "Expanding module name standards description"
Feedback on page: /guides/v2.1/extension-dev-guide/build/composer-integration.html

It would be good to clarify further the difference between a "project" and a "product". The following needs to be confirmed, but my recollection is a "project" package is a template used by the "composer create-project" command. So it contains a recommended skeleton project structure. We have one for CE and EE that

[2017-01-06 21:51] xcomSteveJohnson commented on #972
Fixed, please check:

http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html

http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/install-cli-install.html

http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/install-cli-subcommands-deployment.html

http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-subcommands-deploymen

[2017-01-06 21:58] xcomSteveJohnson commented on #971
To the following topics, I _added_ a new section toward the beginning titled "Completely secure installation" that discusses the options you need to set and _removed_ it from the table, where it was easy to miss.

I still have a question to whether or not `base-url` must be `https://` and will add that if necessary.

Affected topics:

http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/

[2017-01-06 21:59] keharper commented on #974
@cbartak-rivet , consumerInstance was added for 2.1 and subsequently deferred to 2.2. I'll remove it from the docs, since it shouldn't be there. I'll ask Development for a working asynch example.

[2017-01-06 22:00] scottsb commented on #972
The update about the characters looks good.

What was your thought on the 255 character limit (or lack thereof)?

[2017-01-06 22:02] xcomSteveJohnson commented on #972
Sorry, I missed that. I'll check.

[2017-01-06 22:02] scottsb commented on #971
This looks good. (As far as I know `base-url` would not need to be `https://` itself as well, but I'm only ankle-deep in Magento 2, with the depth of my experience on Magento 1.)

[2017-01-06 22:02] #971 closed

[2017-01-06 23:16] keharper commented on #974
I take that back. `consumerInstance` is a valid parameter--I looked in the wrong xsd file when I made that statement.

The `consumerInstance` parameter in the example in `config-mq.html` points to a valid class in EE. Are you using CE or EE?

[2017-01-07 14:46] cbartak-rivet commented on #974
@keharper - Thanks for the follow-up. After digging through core for a while I also found that consumerInstance was a valid attribute (the class referenced exists too...not sure why I missed that). Please ignore that part of the comment.

I think an async example would be a good addition. There should also be a section on listing and starting consumers, as is mentioned in the MySQL MQ documentatio

[2017-01-09 05:35] stalniy opened #980 "Migration path 2.x"
It looks like a bad joke :)) are there plans for kind of tech article explaining of how to migrate 1.x extension to 2.x?

Feedback on page: /guides/v2.0/howdoi/migrate/migrate-extensions.html

[2017-01-09 15:22] mbacklas commented on #950
Thanks for all the hard work!

[2017-01-09 16:31] valugi opened #981 "ambiguity on Redis requirements"
Feedback on page: /guides/v2.0/install-gde/system-requirements-tech.html

I want to clarify if the *can* is a *must*, or I can use Redis 2.8.19, which is the standard EPEL version today. Can I use version 2+ or is 3.0 a minimum accepted version?

[2017-01-10 01:47] choukalos commented on #981
Helo @valugi we use Colin's redis adapter ([link](https://github.com/colinmollenhour/Cm_Cache_Backend_Redis)) which supports Redis 2.4+ .  We only tested with Redis 3+ and didn't test prior versions.  M2 probably works with Redis 2.4+, please give it a shot and let us know your experience.

[2017-01-10 10:39] almarchenko commented on #936
@bassplayer7  Thank you for the observation!
Will correct this, internal issue 63040

[2017-01-10 10:55] almarchenko commented on #947
@user3748173
Thank you for your feedback!
I think that with the new devdocs design this section will become more noticeable, thanks to the ON THIS PAGE widget with the page TOC. It is located on the right when you open a page.

[2017-01-10 11:21] almarchenko commented on #931
@schmengler Thank you for your input!
This is absolutely true. Adding all the lacking info in the UI component guide for 2.1 is one of our priorities. And adding a filterable attribute is in the list of How tos. Here's the outline http://devdocs.magento.com/guides/v2.1/ui_comp_guide/ui_comp_outline_proposed.html
And the information you provided is very useful.

[2017-01-10 15:55] xcomSteveJohnson commented on #926
@afmv Because you've completed the procedure, closing. Feel free to reopen if you still have questions.

[2017-01-10 15:55] #926 closed

[2017-01-10 16:07] CodeMuz opened #983 "Missing : Magento CE 1.9.1.0 Release Notes"
[http://devdocs.magento.com/guides/m1x/ce19-ee114/ce1.9_release-notes.html](http://devdocs.magento.com/guides/m1x/ce19-ee114/ce1.9_release-notes.html)

The above page is missing section for the link:
**_[Magento CE 1.9.1.0 Release Notes](http://merch.docs.magento.com/ce/user_guide/Magento_Community_Edition_User_Guide.html#magento/release-notes-ce-1.9.1.html)_**

[2017-01-10 16:36] xcomSteveJohnson commented on #972
The character limit of 255 isn't true and I removed it. Please check:

http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html

[2017-01-10 16:46] almarchenko commented on #936
@bassplayer7 I've updated the doc, thank you!
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/layouts/layout-types.html

[2017-01-10 17:19] xcomSteveJohnson commented on #983
Updated the link, thanks for catching that. Please close this if it's correct.

[2017-01-10 19:58] bassplayer7 commented on #936
Very good. Thank you @almarchenko!

[2017-01-10 19:58] #936 closed

[2017-01-10 22:31] #983 closed

[2017-01-11 15:00] scottsb commented on #739
For what it's worth, the Magento setup code itself looks for a minimum memory level of 756MB, not 768MB. Those few MB are unlikely to be significant, but it's an odd discrepancy.

https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Model/PhpReadinessCheck.php#L190

[2017-01-11 15:15] xcomSteveJohnson commented on #739
Good catch, thanks! I updated documentation.

[2017-01-11 16:05] almarchenko commented on #957
@ryantfowler
Thanks for drawing our attention to this topic. Looks like it needs enhancements, and I'm working on it. Meanwhile, the quick answer to your question:
We strongly recommend third party developers not to put custom files in web/lib.
You can put them in custom modules (the files will be available for other modules and themes), or in custom theme (the files will be available for inheriti

[2017-01-11 16:12] scottsb commented on #972
Looks good.

[2017-01-11 16:12] #972 closed

[2017-01-11 16:58] ryantfowler commented on #957
Thank you got your response with clarity regarding the situation. Yes,
information on this would be good in the documents.

I'd go do far as to suggest that a section of the docs be dedicated to
"common actions a M1 front-end dev won't be able to do in M2". Thinking
through what's there might also highlight areas that are lacking in the
current docs.

Thank you

On Wed, Jan 11, 2017, 8:05 AM Oleks

[2017-01-11 18:26] hostep commented on #739
I still believe this limit is ridiculously high.
We are currently running a Magento CE 2.1.2 in production on an environment using PHP 7.0.14 where `memory_limit` is set to `192M` and it is running without any problems.

[2017-01-11 18:32] tanberry commented on #739
@misha-kotov can you please read above, particularly @hosteps post on July 4th, re: test versus prod environs?

[2017-01-11 18:59] xcomSteveJohnson commented on #739
@hostep How do you update Magento and components?

[2017-01-11 19:04] hostep commented on #739
Using composer on our local machines (which uses php-cli and a `memory_limit` of `-1`), and then deploying the changes to the production server.
We never update Magento or modules directly on the production server, that's just a very very very very very bad idea.
(I realize that non-technically skilled people probably do it this way, and I don't think Magento 2 is meant for non-technically skilled

[2017-01-11 19:07] xcomSteveJohnson commented on #739
@hostep Thanks. I am a bit dense about this. Does `-1` "just work"? IOW, if you're not using a memory-strapped machine, is that the best way to manage PHP memory?

[2017-01-11 19:13] scottsb commented on #739
@xcomSteveJohnson, `-1` would "just work" since it allows PHP to use unlimited memory. However, it would be a very bad idea in production, as it could allow a memory leak in one runaway process to crash or lock up the entire server. In a development environment, the minimal risk is worth the simplicity.

Separately, I just noted that the Magento code (in the next line after I linked above), specif

[2017-01-11 19:48] xcomSteveJohnson commented on #739
@hostep @scottsb We cover it here: http://devdocs.magento.com/guides/v2.1/install-gde/prereq/php-settings.html:

Installing and updating Magento components from Magento Marketplace, 2G

[2017-01-12 21:11] jcalcaben commented on #978
Thanks for the feedback @alankent !

I have updated the documentation as you suggested. Let me know if I missed anything!

[2017-01-12 22:34] angelamettas opened #988 "Can I have a list of all the bugs that being fixed as part of release 2.1.3"
Feedback on page: /guides/v2.1/release-notes/ReleaseNotes2.1.3CE.html

[2017-01-12 22:38] xcomSteveJohnson commented on #988
You mean this? http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.3CE.html#functional-fixes-and-enhancements

[2017-01-12 23:27] angelamettas commented on #988
No, because that says there is over 90 bugs and issues being fixed in this
version and doesnt list all of them - i want the full list of what bugs are
being fixed

On 13 January 2017 at 09:38, Steve Johnson <notifications@github.com> wrote:

--
[image: Fairfax Media]
Angela Metcalfe | Business Analyst| Fairfax Media
t 02  | m 0402 154423| Angela.Metcalfe@fairfaxmedia.com.au

--
The information con

[2017-01-13 01:14] Ctucker9233 opened #989 "Example of Moving header links is out of date for 2.1"
Feedback on page: /guides/v2.1/frontend-dev-guide/layouts/layout-practice.html

The information in this example seems out of date or incomplete. If the instructions are followed, the developer is left with an unsightly bullet list of links and some of the links are duplicated. One appears in the bullet list and one appears in its original format. A more concise and thorough guide would be apprecia

[2017-01-13 14:43] almarchenko commented on #957
@ryantfowler
Thank you for the idea!

[2017-01-13 14:49] almarchenko commented on #957
@ryantfowler
Do you mind if I close this ticket?
I've created a new internal one for improving the doc.

[2017-01-13 16:16] ryantfowler commented on #957
Not at all

On Fri, Jan 13, 2017, 6:49 AM Oleksandra Marchenko <notifications@github.com>
wrote:

[2017-01-14 09:23] hostep commented on #988
@angelamettas, something like this might help: https://github.com/magento/magento2/compare/2.1.2...2.1.3

[2017-01-14 15:24] xcomSteveJohnson commented on #960
@ekuusela Does this answer your question? If not, what remaining questions do you have?

[2017-01-14 15:25] xcomSteveJohnson commented on #970
Closing, feel free to reopen if you still have questions.

[2017-01-14 15:25] #970 closed

[2017-01-16 09:14] timneutkens opened #992 "Document using x-magento-init and data-mage-init in dynamic content"
The following gist should be in the devdocs 👍
https://gist.github.com/timneutkens/004f8ac0f963068fa718e8397877194e

[2017-01-16 10:51] krisztianfyoma opened #994 "The "--theme" option does not exist."
Feedback on page: /guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html

I tried to issue the following command as per the example (**Magento v2.1.0**):

`magento setup:static-content:deploy en_GB --theme Magento/themename`

Deployment fails with the following error message:

[code]

I also tried `magento setup:static-content:deploy en_GB --area frontend --theme Magento/themename`

[2017-01-16 15:52] xcomSteveJohnson commented on #994
Are you certain of your Magento version? The `--help` command in 2.1.3 lists the `--theme` and `--area` options.

[2017-01-16 18:21] hostep commented on #994
The `--theme` option (and a whole bunch of others) were only added in Magento 2.1.1, so they don't exist in 2.1.0. Maybe the docs should be updated to mention this?

See the [2.1.1 releases notes](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.1CE.html), it says:

Also @krisztianfyoma: you should really consider updating to at least 2.1.2, since a whole bunch of [security iss

[2017-01-17 10:28] krisztianfyoma commented on #994
@hostep Thanks, that explains the issue. I will advise the client to update, I'll just do a `magento setup:static-content:deploy en_GB` in the meantime.

[2017-01-17 10:28] #994 closed

[2017-01-17 13:30] almarchenko commented on #992
HI @timneutkens
Thanks for your input!
I'll consult with our JS devs!

[2017-01-17 13:42] almarchenko commented on #989
@Ctucker9233  Thank you for the feedback!
I've created an internal issue 63240 to update the topic.

[2017-01-17 13:46] almarchenko commented on #966
@jbecerra-topgroup  Do you mind if I close the issue for now?

[2017-01-17 14:51] xcomSteveJohnson commented on #994
@krisztianfyoma @hostep Added a note about which values are supported in 2.1.1

[2017-01-17 15:08] hostep commented on #994
Thanks Steve! I just noticed a very small typo just above where you added this, it says:

I think it should be `<lang>`, just like in the table above.
Or even better, rename both to `<locale>` since that is what is used in the command above the table: `[<list of locales>]`

Sorry for the noise in this thread, but the issue is so small it doesn't really deserve a new ticket :)

[2017-01-17 15:28] xcomSteveJohnson commented on #994
No typo too small! I can't change `<lang>` or `<language>` because it's part of the command. I did change `<list of locales>` to `<list of languages>`.

Thanks

[2017-01-17 15:29] almarchenko commented on #919
@user3748173
"Also should not there be some Rules how to Customise Magento 2? "
We have a lot of recommendations and best practices in a separate book:
http://devdocs.magento.com/guides/v2.1/ext-best-practices/bk-ext-best-practices.html

Regarding core files overriding, the golden rule is the following:
"You should never edit the core code because code changes occur between version upgrades and an

[2017-01-17 15:36] almarchenko commented on #964
@eug123 @MomotenkoNatalia
Guys, do we have internal naming conventions for XML files?

[2017-01-17 22:51] Ctucker9233 commented on #989
@almarchenko Happy to help!

[2017-01-19 06:10] manojs229 opened #996 "Regarding this"
Feedback on page: /guides/v2.0/frontend-dev-guide/layouts/layout-practice.html

Hi Please tell me , its fine working for it show only after login . but i want dropdown for sign in and create an account under my accont text . so i can add in my project . plz let me know how can i do this.

Regards
Manoj Sonawane

[2017-01-19 12:45] timneutkens commented on #992
Great, thanks! 👍

[2017-01-19 17:02] almarchenko commented on #996
Hi @manojs229 thank you for your feedback.
I think better chances for getting the answer are if you post your question on  [Magento 2 GitHub](https://github.com/magento/magento2/issues), [Magento forum](https://community.magento.com/), or [stackexchange](http://magento.stackexchange.com/).

[2017-01-19 17:10] almarchenko commented on #992
@timneutkens
I've create an internal issue MAGETWO-63395 to add this info.
Thanks again for your input!

[2017-01-19 18:18] timneutkens commented on #992
Thank you 🙂

[2017-01-19 21:43] james-mcdonald-serato opened #997 "Update cataloginventory_stock_item resource to account for multi-warehouse"
Hey team.

It appears there is currently no way to update stock attributes for specific warehouses via the API. It seems that a stock item must be a global qty.

Can we include a specified warehouse in the catalogInventoryStockItemUpdateEntity ?

Regards

[2017-01-19 22:11] idmistir commented on #802
Any updates to this?

[2017-01-19 22:50] keharper commented on #997
Unfortunately, this feature doesn't exist. It's been discussed, but work on it has been deferred.

[2017-01-19 22:51] #997 closed

[2017-01-20 13:07] chrom opened #1000 "Problem with installation"
Can't install Magento DevBox.

Feedback on page: /guides/v2.1/install-gde/docker/docker-over.html

Software:
    System Software Overview:
      System Version: macOS 10.12.2 (16C67)
      Kernel Version: Darwin 16.3.0
      Boot Volume: Macintosh HD
      Boot Mode: Normal
      Secure Virtual Memory: Enabled
      System Integrity Protection: Enabled
      Time since boot: 3 days 21:01

Docker v

[2017-01-20 13:42] xcomSteveJohnson commented on #1000
I see you already created an issue in the DevBox repo. You'll get help there. Closing.

Only suggestion I can make is you check your authentication keys. One reason the package can't be found is you're using CE keys to get EE software.

[2017-01-20 13:42] #1000 closed

[2017-01-20 22:15] scottsb opened #1004 "Install permissions instructions are a mess"
There are a number of issues with the instructions about file permissions. (I believe the technical term for its current status is a "hot mess.") I'm including these in a single issue report, but if it would help to break any/all of these into separate individual issues, let me know, and I'll do so.

Page being addressed:
http://devdocs.magento.com/guides/v2.1/config-guide/prod/prod_file-sys-perms

[2017-01-21 10:31] hostep commented on #1004
Not sure if this is relevant, if not, please ignore.

But a couple of months ago, I tried to come up with a theoretical idea of using 3 different users instead of 2, which should result in an even more secure installation.

I still haven't had the chance to actually test this out, to see if my idea would work in practice or not,  and unfortunately probably won't have time in the near future to loo

[2017-01-21 15:25] xcomSteveJohnson commented on #1004
@scottsb For now, I'd suggest putting points 3 and 4 in separate issues (one issue each). Thanks!

[2017-01-22 21:56] james-mcdonald-serato commented on #997
Thanks @keharper.

I understand I can specify a store view via the cataloginventory_stock_item.update call, and ALSO include the catalogInventoryStockItemUpdateEntity array.

If a specific warehouse is associated ONLY with a particular store view, would that be sufficient to update the qty in that warehouse? I'm trying this call now and am receiving a True response but can't see any changes made w

[2017-01-23 05:50] Jayme-T opened #1006 "Magento 2.0 Search using REST APIs documentation and examples"
I am trying to use your magento 2.0 documentation for searches (http://devdocs.magento.com/guides/v2.0/howdoi/webapi/search-criteria.html) and I was able to set it up for both "or" and "and" searches but it says on this page you support 'in' and I can't seem to make that work. There is no sample data on how to set up an in with the various filter group and filters that are required.

  	newVendorP

[2017-01-23 09:33] kimpear opened #1007 "this did not resolve for me in magento 2.1.3"
Feedback on page: /guides/v2.0/comp-mgr/trouble/cman/component-depend.html

[2017-01-23 13:56] xcomSteveJohnson commented on #1007
Details?

[2017-01-23 16:00] keharper commented on #1006
@Jayme-T , I got this to work using the sample data:

http://<host>/rest/default/V1/customers/search?
searchCriteria[filter_groups][0][filters][0][field]=email&
searchCriteria[filter_groups][0][filters][0][value]=roni_cost@example.com,roni_cost@gmail.com,roni_cost@yahoo.com&
searchCriteria[filter_groups][0][filters][0][condition_type]=in

[2017-01-23 16:01] keharper commented on #1006
That should be

[code]

[2017-01-23 18:40] xcomSteveJohnson commented on #1004
@scottsb Added some clarifications for points 1 and 2. Comments:

**Point 1**. Some of Magento's customers choose to go live on shared hosting. We can't tell them not to do that and we can't tell them to do the impossible (set up additional users). I added a paragraph saying that a private server is more secure.

**Point 2**. Not sure what the issue is.

*  This topic is about file system permissi

[2017-01-23 19:19] scottsb commented on #1004
Hi Steve, some followups:

**Point 1**
I think I wasn't clear enough here. To clarify, I'm not saying you should tell people to use a private server. While that is more secure, I understand that you have to document how it can work on shared hosting. My point is that the documentation assumes that you have no control over the user setup (one user or two users), even if you *are* on a private serve

[2017-01-23 19:23] scottsb opened #1008 "Risky differentiation between vendor/ & app/code/"
*Split off of #1004 into a separate issue as requested.*

Page being addressed:
http://devdocs.magento.com/guides/v2.1/config-guide/prod/prod_file-sys-perms.html

Differentiating between contributing developers or non-contributing developers in terms of providing directions around `vendor/` and `app/code/` is misguided. Both contributing and non-contributing developers should equally protect `vend

[2017-01-23 19:24] scottsb opened #1009 "Clarify difference between read-only and writeable permission sections"
*Split off of #1004 into a separate issue as requested.*

Page being addressed:
http://devdocs.magento.com/guides/v2.1/config-guide/prod/prod_file-sys-perms.html

The difference in intent between the subsections "Make files and directories read-only" and "Make files and directories writable" is unclear. The list of directories to protect provided prior to this section is not fully represented in e

[2017-01-23 21:39] xcomSteveJohnson commented on #1004
@scottsb Thanks for clarifying. I made the changes you suggest; please take a look and close this if you're satisfied. FWIW, even though you can see it only in the `guides/v2.2` branch (Markdown, not HTML), I also updated the topic for 2.2 because directories like `var/di` and `var/generated` have changed names and locations.

[2017-01-23 22:00] scottsb commented on #1004
Looks good, except for one minor typo in both copies: "one that to transfer files" should be "one to transfer files."

(Strictly speaking, the transferring is not the significant point: the point is ownership, which could theoretically be other than the transferring user. But that's a nitpick that's probably not worth pursuing.)

[2017-01-23 22:01] #1004 closed

[2017-01-24 12:21] xcomSteveJohnson commented on #1004
My motto is “no typo too small”. Fixed. Thanks!

From: Scott Buchanan [mailto:notifications@github.com]
Sent: Monday, January 23, 2017 4:01 PM
To: magento/devdocs <devdocs@noreply.github.com>
Cc: Steven Johnson <stevjohnson@magento.com>; Assign <assign@noreply.github.com>
Subject: Re: [magento/devdocs] Install permissions instructions are a mess (#1004)

Looks good, except for one minor typo in bo

[2017-01-24 13:54] kweij opened #1012 "Installing sample-data also requires `php bin/magento setup:upgrade`"
Feedback on page: /guides/v2.0/install-gde/install/sample-data-before-composer.html
Feedback on page: /guides/v2.0/install-gde/install/sample-data-before-clone.html

Ok, I figured it out, but installing the sample-data also requires to execute `php bin/magento setup:upgrade`. It rather trivial, perhaps, but the documentation is not complete when lacking this instruction. I propose to add this inst

[2017-01-24 18:56] dmatthew opened #1013 "Missing Page: js_init.html"
The following page is missing: http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/javascript/js_init.html

It is linked to at the bottom of this section: http://devdocs.magento.com/guides/v2.1/javascript-dev-guide/javascript/custom_js.html#extend_js_component

[2017-01-24 18:59] dmatthew commented on #1013
It looks like this may be the page: http://devdocs.magento.com/guides/v2.1/javascript-dev-guide/javascript/js_init.html

[2017-01-24 19:58] Jayme-T commented on #1006
Yup sorry I made a mistake on my end. You can go ahead and close this issue. Thanks for the quick response

[2017-01-24 20:07] keharper commented on #1006
I'll add a sentence to the descriptions of the `in` and `nin` conditions stating that those conditions accept a comma-separated list of values. If nothing else, you've made me aware that those conditions needed some attention, so thanks!

[2017-01-24 20:07] #1006 closed

[2017-01-25 18:57] astorm opened #1015 "Error in Grunt Instructions"
On the following page

http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html

There's the following instructions

However, when I try to run the above command with a  freshly installed 2.1.3 (from the composer create-project method), I get the following error.

    $ npm install
    $ npm WARN enoent ENOENT: no such file or directory, open '/Users/alanstorm/Sites/mage

[2017-01-25 19:18] hostep commented on #1015
@astorm, you are looking at the wrong version of the docs again :wink:

It was changed in [Magento 2.1](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html) as to how to set it up:

[2017-01-25 19:20] astorm commented on #1015
Thanks @hostep -- I'm just following the links Google throws up at me -- you might want to look into  ways of ensuring the latest version of the platform is the one Google sees ;)

Closing out.

[2017-01-25 19:20] #1015 closed

[2017-01-25 19:24] xcomSteveJohnson commented on #988
@angelamettas Do you have the info you need? Can we close this?

[2017-01-25 19:29] tanberry commented on #1015
@astorm  and @hostep  I myself was actually thrown by this just yesterday; I asked Google about  indexers in Magento, and got all excited about a hit... then later realized it was a Magento 1.x document. ;-(

I'll add that to our list of things to improve about our site. Heads up, @jcalcaben ! ;-)

[2017-01-26 10:16] BenSpace48 opened #1016 "Broken styling on 2.0 UI Components"
The styling on [this page](http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/ui_components_js.html) isn't looking too good.

Spotted in Chrome Version 55.0.2883.95 (64-bit) on OSX Yosemite 10.10.2.

![using_ui_components__client-side](https://cloud.githubusercontent.com/assets/8895777/22327664/430eb932-e3b0-11e6-9d76-c3096e168007.jpg)

![using_ui_components__client-side_and_itunes](https

[2017-01-26 15:26] tanberry commented on #1016
@BenSpace48  Ouch, yes, that's a mess for sure. Thanks for alerting us, we will get that fixed asap.
 @almarchenko can you take a look please, and maybe start with examining the .md file /guides/v2.0/javascript-dev-guide/ui_components_js.md?

Pull in @jcalcaben if it turns out to be an issue with automation.

[2017-01-26 16:14] tanberry commented on #1016
we just found it. It is in the 2.0 UI Compoents book. @jcalcaben  is fixing the redirect right now.

@almarchenko, notice how that topic is at the top of the TOC? Can you please move it to under Overview? And also, please add a Note in the Overview section of the 2.0 UI Comps Guide encouraging readers to please look at the 2.1 version of the UI Comps Guide.

[2017-01-26 17:08] BenSpace48 commented on #1016
I'm impressed with the speed you're handling it, well played and thank you!

[2017-01-26 17:15] tanberry commented on #1016
;-) With a page that messed up, none of us could even have an appetite for lunch, or sleep, until it was fixed. Thank YOU for catching it!

[2017-01-26 21:28] angelamettas commented on #988
I have never gotten this information, I'm just referred back to the release
notes which just have general information

On 26 January 2017 at 06:24, Steve Johnson <notifications@github.com> wrote:

--
[image: Fairfax Media]
Angela Metcalfe | Business Analyst| Fairfax Media
t 02  | m 0402 154423| Angela.Metcalfe@fairfaxmedia.com.au

--
The information contained in this e-mail message and any accompa

[2017-01-26 23:23] jorbope commented on #802
**yes, here a solution**

# First of all, We have to install magento in Server1 and configure it as you wish.

**Here my proposal**

* server1: 192.168.207.128 : front	:	http://192.168.207.128/magetest
* server1: 192.168.207.128 : backend:	http://192.168.207.128/magetest/admin/
* server3: 192.168.207.130 : database

**Our goal will be to achieve this one**

* server1: 192.168.207.128 : front	:	htt

[2017-01-26 23:23] #802 closed

[2017-01-26 23:27] xcomSteveJohnson commented on #802
@jorbope If you'll submit this to us in a PR, I will use your name as a contributor similar to this page: http://devdocs.magento.com/guides/v2.1/test/integration/integration_test_execution_phpstorm.html (Upper right corner)

I'd suggest you add a new file here: https://github.com/magento/devdocs/tree/develop/guides/v2.0/config-guide

Don't' worry too much about formatting, I'll fix that.

[2017-01-27 14:05] jorbope commented on #802
OK

[2017-01-30 16:42] user3748173 opened #1019 "Lack of reference to working sample modules in documentation"
Feedback on page: /guides/v2.0/howdoi/checkout/checkout_carrier.html

**Why You have not added reference link to magento 2 [sample modules github repository](https://github.com/magento/magento2-samples/tree/master/sample-module-shipping-provider). I would like personally see a way how the documentation has been implemented in practical module!** Practical modules would make some of the tutorials m

[2017-02-01 01:35] xcomSteveJohnson commented on #1012
@kweij I'm not sure this is correct. If you run `magento sampledata:deploy` before you install Magento, it should work. In fact, I don't think `magento setup:upgrade` will work before Magento is initialized.

Are you sure you used `magento sampledata:deploy` _before_ you installed Magento?

[2017-02-01 01:37] xcomSteveJohnson commented on #1008
@scottsb To be a little dense, all you're suggesting is to advise to put the same restrictions on both `app/code` and `vendor`?

If so, I'll do it right away. Thanks for pointing it out.

[2017-02-01 01:40] xcomSteveJohnson commented on #1009
@scottsb Are you referring to both the one-user and two-user instructions?

I'm pretty sure the read-only instructions are for everyday use and the writable instructions are so you can update the software and extensions.

I can certainly make that more clear. Do you think this is the source of confusion?

[2017-02-01 01:41] xcomSteveJohnson commented on #981
Closing due to no response. Please reopen if you still have questions.

[2017-02-01 01:41] #981 closed

[2017-02-01 01:42] xcomSteveJohnson commented on #996
Closing. Feel free to reopen if you still have a question for us.

[2017-02-01 01:42] #996 closed

[2017-02-01 01:43] xcomSteveJohnson commented on #980
We have a [code migration toolkit](https://github.com/magento/code-migration) you can use to get started. Do you have another question? If not we'll close this one.

[2017-02-01 01:44] xcomSteveJohnson commented on #978
Closing due to lack of response. Feel free to reopen if you still have qusetions.

[2017-02-01 01:44] #978 closed

[2017-02-01 01:45] xcomSteveJohnson commented on #966
Closing due to age. Feel free to reopen if you still have issues.

[2017-02-01 01:45] #966 closed

[2017-02-01 01:46] xcomSteveJohnson commented on #957
From earlier comments, it looks like this should have been closed. Feel free to reopen if that's not correct.

[2017-02-01 01:46] #957 closed

[2017-02-01 01:49] xcomSteveJohnson commented on #886
@zainengineer Left to myself, I can tell you there is no ETA for getting this done. I probably can't get any resources to help me either.

If you'd like to contribute this as a PR, I will give you credit similar to [this topic](http://devdocs.magento.com/guides/m1x/api/rest/get_filters.html). Otherwise, I'll close it.

[2017-02-01 01:51] xcomSteveJohnson commented on #793
I'm pretty sure we've decided not to do this because we have breadcrumbs. Feel free to reopen if you disagree or if that isn't satisfactory.

[2017-02-01 01:51] #793 closed

[2017-02-01 01:53] xcomSteveJohnson commented on #517
Closing.

[2017-02-01 01:53] #517 closed

[2017-02-01 10:05] DavidLambauer commented on #419
Matthias Walter published a series of our (netz98) deployment process. This might be interesting too!

[https://dev98.de/2017/01/06/deploying-magento2-history-overview-14/](https://dev98.de/2017/01/06/deploying-magento2-history-overview-14/)

[2017-02-01 16:21] scottsb commented on #1009
Yes, that's what I'm referring to.

Adding direction about which option would be a first step. Right now it's not clear why you would follow the one set of directions over the other. It would also help to say "code files and directories" instead of just "file and directories," since that's really where the difference lies.

There's also a higher-level question of whether it should ever be recommen

[2017-02-01 16:25] xcomSteveJohnson commented on #1009
OK, thanks. I'll add some words to make it more clear when directories should be writable and let you know when it's done.

[2017-02-01 16:26] scottsb commented on #1009
The other issue here is that the commands in the two sections are not fully parallel right now. (For example, the "read-only" section sets permissions on `vendor/` while the "writeable" section doesn't.) That means that if you're using these commands to switch back and forth between the modes (as I assume the intent is), they will not actually reverse each other fully.

[2017-02-01 20:33] aaronsturm commented on #419
I'm using Docker to build a deployable image with any changes from a previous release. I wanted to state that I found if I run `bin/magento setup:upgrade` and then  `bin/magento deploy:mode:set production`, that that seems to remove the need for the individual steps others have listed above.

[2017-02-01 20:40] valugi commented on #981
I do not understand why this is closed without an answer. And how difficult is to clarify? I do not want to make mean comments but again and again the big problem with Magento is the lack of proper docs.

[2017-02-01 20:45] xcomSteveJohnson commented on #981
Your answer is [here](https://github.com/magento/devdocs/issues/981#issuecomment-271463285). Did you try a 2.x Redis version?

[2017-02-01 20:48] luckyraul commented on #419
@aaronsturm
magento deploy:mode:set production enables maintenance mode, you can't do it on the production

[2017-02-01 20:52] valugi commented on #981
Sorry but that is not an official documented answer, but an opinion. My question was precise in wording and I would like to have a precise answer in the official documentation. The documentation should specify minimum requirements and official supported version of the software it REQUIERES for the EE version. I can try all existing versions, but then what is the need of the documentation? Maybe al

[2017-02-01 20:58] aaronsturm commented on #419
I'm using a load balanced environment with rolling updates, that's how I bypass that.

[2017-02-01 21:14] luckyraul commented on #419
@aaronsturm if you put production site to maintenance mode, lb will not help )
You code may be okay, but only to building images

[2017-02-01 21:26] aaronsturm commented on #419
You can remove the instance from the load balancer before updating, of course. In my case, I use AWS' immutable policy to create a new instance, deploy the Docker image, add the instance to the load balancer, and destroy the others after it's successful. Using `deploy:mode:set production` won't work in every case, I was just adding input to hopefully help someone else out there.

[2017-02-02 13:36] paales commented on #793
@xcomSteveJohnson For me the breadcrumbs are fine by me. Please note that we can't reopen the issue if you have closed it, I can only reopen if I have closed it my self.

[2017-02-02 13:40] xcomSteveJohnson commented on #793
Thanks for pointing that out. I was copying what they say in the core Magento GitHub. Maybe they advise to create a new issue instead of reopening the same closed one. I'll say it that way in the future.

[2017-02-03 11:00] user3748173 opened #1027 "Shipping-method step: using form or field?"
I have read [ these tutorials](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_overview.html) that have risen question that has not been answered anywhere in the web.

While customising Shipping-method step, when it is right to add input fields as form and when should be added as field? How should developer decide between those two options?

Examples: Fields added below shipping-me

[2017-02-05 16:17] xcomSteveJohnson commented on #1027
@ccondra Can you help?

[2017-02-06 07:36] maghamed commented on #997
Hi @james-mcdonald-serato ,
For now Magento doesn't support multi warehouse functionality.
So, business logic relies on the assumption that Magento is a single stock.
Potentially using APIs you could create Several Stocks (StockInterface) and assign different amount of products to them, creating StockItems for each of that stock (Stock item has Stock_Id - referring to specific stock and Product_Id

[2017-02-06 10:29] notlee opened #1030 "JavaScript Errors Preventing Link Click"
Feedback on page: /guides/v2.1/howdoi/bk-how-do-i.html

I'm unable to click "Edit this page on GitHub" or "Give us feedback" without removing Event Listeners because of JS errors in `analytics.js`.

[2017-02-06 14:05] xcomSteveJohnson commented on #1030
What browser do you use? Do you have developer debugging tools turned on?

Works fine for me in Chrome.

[2017-02-06 16:27] almarchenko commented on #1019
@user3748173
Thank you for your comment! You are definitely right about the sample modules being a great illustration. Please give us a couple of days and we’ll get back with a comment on this particular situation.

[2017-02-06 19:30] ccondra commented on #1027
This is really a question for a developer.  Sorry I can't help with this one!

[2017-02-07 08:16] almarchenko commented on #1019
Hi @user3748173!

We are not 100% sure that the sample-module-shipping-provider module is completely up-to-date for the last versions of Magento.
The good news is that Magento has a new Community Engineering team, that will take action on that specific module and all of the sample modules soon. And we will definitely add links to them where appropriate.

Thanks for raising this question! Please re

[2017-02-07 08:16] #1019 closed

[2017-02-07 10:48] #1013 closed

[2017-02-07 11:39] almarchenko commented on #844
@astorm I do not why I missed closing this issue, the doc is published long ago!
http://devdocs.magento.com/guides/v2.1/ui_comp_guide/concepts/ui_comp_linking_concept.html
Sorry for that!
Please reopen the issue of we missed something.

[2017-02-07 11:39] #844 closed

[2017-02-07 12:16] almarchenko commented on #884
Hi @zyukov!
I'm terribly sorry I didn;t address this earlier.
It's very strange, but I cannot find nor the 2.0 nor the 2.1 version of the doc, though it definitely existed at some moment.
I'm now investigating the situation.
Meanwhile, if your questions about the component are still actual, you can post them here and I'll try to get answers from our devs asap.

[2017-02-08 06:49] sp93s opened #1033 "Cart PUT request on item quantity updation is adding the quantity to last quantity not updating it as new"
Feedback on page: /guides/v2.0/rest/list.html

[2017-02-08 11:43] almarchenko commented on #1016
@tanberry  Done)

@BenSpace48  Please re-open this issue if we missed something, thank you!

[2017-02-08 11:43] #1016 closed

[2017-02-08 11:45] BenSpace48 commented on #1016
Looks miles better, thanks.

[2017-02-08 12:13] sereban commented on #505
Hi @mohinik-chetu What is module in [module]/field_comment?

I looked at Config/Reader that is responsible for system.xml file, and do not find an existing way to do this (however maybe Im wrong).

It is possible to use dynamic things in node attributes. And eah dynamic variable for attribute should look like:

<section some_attribute="section_name/group_name/field_name">
 ....
</section>

However

[2017-02-08 14:07] keharper commented on #1033
I need more details about what you're trying to do. Would you provide the call, payload, and response?

[2017-02-09 05:25] sp93s commented on #1033
let you added a particular item in cart (quantity was 3).Now if I want to update the quantity of that particular item by  PUT  /V1/carts/mine/items/:itemId request now let I send this items quantity 5, then finally the updated quantity of that particular item in cart becomes 8 instead of updating to 5 .

[2017-02-09 07:14] rasimov commented on #884
Hi @almarchenko!
I agree with @zyukov, lack of the documentation causes some difficulties in development.
Could you please provide any information about these attributes:
* `dataScope` (in Magento, this attribute usually has `data.links` value, but I can't see `data` in `getData` output, usually `links` is defined at the top level of array returned by `getData`, I mean
[code]
Here is an example ho

[2017-02-09 16:55] tanberry commented on #1027
@VladimirZaets ?

[2017-02-09 23:38] keharper commented on #1033
What version are you using? I can't replicate this on 2.1.3

1. Add 3 items to a cart.
[code]

Response

{
  "item_id": 22,
  "sku": "WS12-M-Orange",
  "qty": 3,
  "name": "Radiant Tee-M-Orange",
  "price": 22,
  "product_type": "simple",
  "quote_id": "6"
}

2. Change the number of items to 5.

[code]

Response

[code]

[2017-02-10 05:18] sp93s commented on #1033
PUT rest/default/V1/carts/mine/items/138
{
  "cart_item": {
    "quote_id": "17",
    "sku": "24-WB04",
    "qty": "2"
  }
}

RESPONSE

{
  "item_id": 138,
  "sku": "24-WB04",
  "qty": 16,
  "name": "Push It Messenger Bag",
  "price": 45,
  "product_type": "simple",
  "quote_id": "17"
}

[2017-02-10 05:57] sp93s commented on #1033
version 2.0

[2017-02-11 17:08] lfolco opened #1036 "Installing sample data instructions don't actually give you instructions"
Feedback on page: /guides/v2.1/install-gde/install/sample-data.html

It tells you to "Modify Magento's root composer.json to enable sample data modules." but it doesn't tell you what to actually modify.

[2017-02-11 18:23] xcomSteveJohnson commented on #1036
@lfolco Sorry about that omission. While I'm fixing the topic, you can go [here](http://devdocs.magento.com/guides/v2.1/install-gde/install/web/install-web-sample-data-composer.html) to find the information you need.

Are you installing sample data _after_ installing Magento? In that case, see [this topic instead](http://devdocs.magento.com/guides/v2.1/install-gde/install/sample-data-after-compose

[2017-02-11 18:29] lfolco commented on #1036
Great, thanks!

[2017-02-12 00:06] xcomSteveJohnson commented on #1036
Fixed it. Please check and close this if you're happy with the resolution.

[2017-02-12 20:18] samm-git commented on #802
Just a few comments:

1. Cache should be on Redis.
2. I would not recommend to store sessions in the DB, Redis is better

[2017-02-12 21:00] #1036 closed

[2017-02-13 12:51] jorbope commented on #802
Yes,  you are right.

Best Regards, Jorbel Borrero
Software Developer at PiBLOC
(+53) 54079283
Software/Internet
https://pibloc.com

El 12/2/2017 3:18 p. m., "Alex Samorukov" <notifications@github.com>
escribió:

[2017-02-14 14:30] lfolco opened #1039 "Styles debugging page links to article on compiling with Grunt"
Feedback on page: /guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_approach.html

Under recommended reading, the link to _Styles Debugging_ links to an article about Compiling LESS with Grunt (http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html). Is this by design?

[2017-02-15 05:23] anujeetphj opened #1040 "Magento 2 certain version compatibility changes within days"
Feedback on page: /guides/v2.1/install-gde/system-requirements-tech.html

I'm using Magento 2.1.3 version . My reason to choose the latest version was to have all the patches to the issues fixed till now. But it's been just a month that I've started using this in my project suddenly on the requirements page I see that that my Magento version requires different php version though it ws not mentione

[2017-02-15 14:10] xcomSteveJohnson commented on #1040
System requirements weren't changed; can you clarify where you saw the PHP version originally? You say "suddenly" you see a different PHP version than you saw "the day you installed it". I'm not sure where the discrepancy is coming from. Thanks!

[2017-02-15 16:35] anujeetphj commented on #1040
When I installed the magento 2.1.3 version the CLI commands were working
fine and that time I had the same PHP version I'm having now. Since today
morning I am getting warnings while executing CLI commands for mcrypt
functions. From where all these warnings are coming suddenly?

With Best Regards

Anujeet Kaur

On 15 Feb 2017 7:40 p.m., "Steve Johnson" <notifications@github.com> wrote:

[2017-02-15 16:40] xcomSteveJohnson commented on #1040
Please provide these details:

*  PHP version (do you have more than one installed?)
*  Error message text

Thanks

[2017-02-15 16:44] anujeetphj commented on #1040
My PHP version is 7.1.1
Magento 2.1.3

And the error is in whole Magento/framework....Crypt.PHP file for all
mcrypt/mdecrypt functions

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:10 p.m., "Steve Johnson" <notifications@github.com> wrote:

[2017-02-15 16:45] anujeetphj commented on #1040
The errors are for depreciated functions

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:14 p.m., "Anujeet kaur Pahuja" <anujeetphj@gmail.com>
wrote:

[2017-02-15 16:46] xcomSteveJohnson commented on #1040
Magento does not support PHP 7.1. Did the system requirements page confuse you on that point?

We're considering changing that page. I apologize for the confusion it caused.

[2017-02-15 16:48] anujeetphj commented on #1040
Which PHP versions can support my current Magento and later versions?

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:16 p.m., "Steve Johnson" <notifications@github.com> wrote:

[2017-02-15 16:51] xcomSteveJohnson commented on #1040
Assuming you want to stay with PHP 7:

All 2.1.x versions support: 7.0.2, 7.0.6–7.0.x

_Not_ supported by any 2.1.x version:

PHP 7.1
PHP 5.5

[2017-02-15 16:54] xcomSteveJohnson commented on #1040
Even though PHP 7.1 is not supported, I suggest you raise an issue in the [Magento 2 GitHub](https://github.com/magento/magento2/issues) because it doesn't seem like you should have been able to install Magento in the first place.

[2017-02-15 16:55] anujeetphj commented on #1040
And can you please explain why I'm getting the warnings from today?

Will skippings warnings for depreciated functions cn solve the issue once
or the compatibilty issue may cause other problems in the future as well?

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:21 p.m., "Steve Johnson" <notifications@github.com> wrote:

[2017-02-15 16:57] xcomSteveJohnson commented on #1040
[PHP documentation](http://php.net/manual/en/migration71.deprecated.php)

[2017-02-15 17:04] anujeetphj commented on #1040
Thanks if I will override the file in which I'm gettings errrors with my
own custom file and use replacements for depreciated functions. Will it
work?

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:27 p.m., "Steve Johnson" <notifications@github.com> wrote:

[2017-02-15 17:05] xcomSteveJohnson commented on #1040
I'm not sure, I'm sorry. You can ask this on stackexchange or the Magento 2 GitHub.

[2017-02-16 03:19] astorm opened #1041 "The oAuth Integration docs use Unidentified Classes in Code Samples"
This is a reopening/correction to

https://github.com/magento/devdocs/issues/591

The oAuth example code in

http://devdocs.magento.com/guides/v2.1//get-started/authentication/gs-authentication-oauth.html

uses two unidentified classes

    OAuth\Common\Consumer\Credentials
    OauthClient

However, neither of these classes are built-in PHP classes, and its not 100% obvious where they're coming fr

[2017-02-16 10:37] ivagarfitt opened #1042 "Error 503 Backend fetch failed"
How can I fix this error?

[2017-02-16 14:26] xcomSteveJohnson commented on #1042
Need more context but also, you should consider posting this on stackexchange or the Magento 2 GitHub because you'll likely get a better response.

Have you looked at this: http://devdocs.magento.com/guides/v2.0/config-guide/varnish/tshoot-varnish-503.html

[2017-02-16 15:20] ivagarfitt commented on #1042
I did, and that is my question (sorry, not very clear).

Where in this docker can I find /etc/default/varnish?

[2017-02-16 15:23] xcomSteveJohnson commented on #1042
Are you using DevBox? If so, try posting the question [here](https://github.com/magento/magento2devbox-web/issues). I watch that repo and will update documentation accordingly.

If you're not using DevBox, I'm sorry but I don't know the answer. Try posting on a technical forum. Thanks!

[2017-02-16 18:43] samm-git commented on #802
Another addition - instruction on how to pass admin traffic to the admin node should be added. It could be redis, aws elb or smth else + probably separate subdomain

[2017-02-16 18:46] xcomSteveJohnson commented on #802
@samm-git Can you clarify/amplify? Thanks

[2017-02-16 18:52] astorm commented on #1041
Just noticed there's a definition for the `OauthClient` on the same page -- which makes it a *little* clearer to do.  I think it would still be better if the code sample on that page were actual working code -- i.e. instructions that a developer can follow and end up with a working and active API integration they can call **without** the need for their code to interact with an existing Magento sys

[2017-02-16 21:11] samm-git commented on #802
Sure. If we are adding > 1 node we should also load balance traffic between them. If we want to make admin node - we should route admin traffic (and only to it) based on subdomain or path

[2017-02-17 14:38] xcomSteveJohnson commented on #1007
Closing due to no response. Feel free to open another issue if necessary.

[2017-02-17 14:38] #1007 closed

[2017-02-17 14:39] xcomSteveJohnson commented on #1008
@scottsb Please confirm; this is an easy change to make.

[2017-02-17 14:39] xcomSteveJohnson commented on #1012
@kweij Please respond, thanks.

[2017-02-17 15:06] kweij commented on #1012
I ran `magento sampledata:deploy` _after_ installing Magento. This caused no problem, it just required running `magento setup:upgrade`.

Perhaps the documentation should stated that _if_ you run magento sampledata:deploy after you've installed Magento, you need to run `magento setup:upgrade`. That seems missing in the docs.

[2017-02-17 15:12] xcomSteveJohnson commented on #1009
@scottsb Both issues should be resolved. Please check; I went a little blind when trying to make sure the readable/writable commands were the same so I'd appreciate a double-check there.

[2017-02-17 17:17] xcomSteveJohnson commented on #1012
@kweij Thank you for clarifying.

[2017-02-17 17:20] orlangur commented on #1040
Hi again, @anujeetphj,

This happened because of PHP configuration change on your side as explained [here](https://github.com/magento/magento2/issues/8569#issuecomment-280074808).

or the compatibility issue may cause other problems in the future as well?

own custom file and use replacements for deprecated functions. Will it
work?

Skipping warnings in general cannot cause any troubles by itself.

[2017-02-17 17:43] tanberry commented on #1040
Thanks @orlangur !!

[2017-02-17 17:50] xcomSteveJohnson commented on #1012
@kweij Pages are updated. If you're happy, please close this.

[2017-02-17 19:02] keharper commented on #1041
@astorm I need a little more help understanding what you're asking for. The 4 PHP code samples included at the bottom of the "OAuth-based authentication" article are meant to simulate a connection to a third-party system.

If we provide working code, do we need to have a real account on a third-party system?

Would the code be the same between different systems?

Why would the integrator's code no

[2017-02-17 19:12] astorm commented on #1041
That's your call @keharper -- what I know if if I come to that page, see the `OauthClient.php` program, and attempt to run it stand alone, I get the following errors

    PHP Fatal error:  Class 'OAuth\OAuth1\Service\AbstractService' not found in /Users/alanstorm/Desktop/oauth.php on line 14
    PHP Stack trace:
    PHP   1. {main}() /Users/alanstorm/Desktop/oauth.php:0

    Fatal error: Class 'OA

[2017-02-18 15:49] xcomSteveJohnson commented on #902
@joshuaswarren This is still kind of a black hole. We're currently aware of some things that can help Magento performance but we don't yet have the info to document them. Anything you can provide would be most welcome.

[2017-02-18 15:49] xcomSteveJohnson commented on #1030
@notlee Any update?

[2017-02-18 15:50] xcomSteveJohnson commented on #960
@ekuusela Any update?

[2017-02-18 15:50] xcomSteveJohnson commented on #886
Closing. Feel free to send us a PR. Thanks!

[2017-02-18 15:50] #886 closed

[2017-02-18 15:51] xcomSteveJohnson commented on #1008
@scottsb This should be fixed now. Please check.

[2017-02-20 13:09] notlee commented on #1030
Sorry for the delay @xcomSteveJohnson. Looks like my privacy extension https://disconnect.me/ was blocking GA and Munchkin which led to this.

David Walsh wrote about a similar issue he had with Ghostery a couple of years ago: https://davidwalsh.name/detecting-google-analytics

I've opened a PR which makes the analytics fail gracefully in such cases, although there are better solutions:
https://gi

[2017-02-20 14:50] xcomSteveJohnson commented on #1030
Thanks, we'll take a look.

[2017-02-20 16:26] scottsb commented on #1009
Looks good. The one thing you could do to make the commands a bit more transparent to the user and also help you from going blind comparing them is to sort the directories in the initial bulleted list and both commands the same way. The order won't make any difference in the command's effect.

[2017-02-20 16:28] scottsb commented on #1009
I also still think it would be worth saying "code files and directories" since that's what really matters here.

[2017-02-20 20:27] xcomSteveJohnson commented on #1009
I took your advice on code files and directories. Thanks! Closing.

[2017-02-20 20:27] #1009 closed

[2017-02-20 20:28] xcomSteveJohnson commented on #1008
This is fixed, closing. Please open another issue if there are remaining issues.

[2017-02-20 20:28] #1008 closed

[2017-02-21 16:05] astorm opened #1049 "Misleading Page Title"
The following page

uses the title

However, the listed configuration

    'cache' =>
    array(
       'frontend' =>
       array(
          'default' =>
          array(
             'backend' => 'Cm_Cache_Backend_Redis',
             'backend_options' =>
             array(
                'server' => '127.0.0.1',
                'port' => '6379'
                ),
        ),
        'page_cach

[2017-02-21 21:41] xcomSteveJohnson commented on #1049
I performed some cosmetic surgery on the topics. Let me know what you think.