[2019-11-07 17:34] swaibar opened #5954 "Clarify Enable profiling (MAGE_PROFILER) topic"
# General issue

## Description:

After reading this page and trying to get the profiler running I was quite frustrated.

## Possible solutions:

The solution to my problem after a while of googling was to set the correct deploy mode:

`php bin/magento deploy:mode:set developer`

obvious really, but would have been nice to see on the page.

[2019-11-07 19:23] dobooth commented on #5887
Closing as merged.

[2019-11-07 19:23] #5887 closed

[2019-11-07 19:47] meker12 commented on #3361
@diazwatson  Are you still interested in working on this new topic?

[2019-11-08 09:56] diazwatson commented on #4451
A bit of update in here:
I am planning to submit more PR in the next few days and expecting to complete this task by the end of December

[2019-11-08 10:41] diazwatson commented on #3361
Hi @meker12 apologies for the delay. I will submit a PR in the next few hours

[2019-11-08 14:09] fritzmg opened #5956 "Add transaction isolation level requirement to database requirements"
According to https://github.com/magento/magento2/issues/8933#issuecomment-551520758 the https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#database section of the documentation should get the following added:

[2019-11-08 15:44] jeff-matthews commented on #5250
I fixed all the errors in https://github.com/magento/devdocs/tree/5250-enable-MD032, except for the following false positives:

[code]

The tool is identifying asterisks inside a code block as bullets.

[code]

[2019-11-08 15:50] jeff-matthews commented on #5250
I added some blank lines to resolve the errors, but it's not ideal since the rendered output will show extra lines as well. I can live with it though.

[2019-11-08 16:19] #5250 closed

[2019-11-11 02:17] diazwatson commented on #3361
I finally started working in this (apologies for the delay) and I have some doubts you guys maybe could give me a hand with?

1. do you guys think is better to use generic names like Vendor\ModuleName in the examples or refer to the core files?
Putting myself in the shoes of a developer that lands to this topic looking for answers that help his/her develops a module I can see benefits in both appr

[2019-11-11 15:47] rafaelstz opened #5967 "Less syntax not applied"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/javascript/js-resources.html#including-third-party-javascript-libraries

## Description

There is no style applied to Less syntax.

<img width="1272" alt="Screen Shot 2019-11-11 at 12 32 03 PM" src="https://user-images.githubusercontent.com/610598/68600364-266a1480-0481-11ea-9205-9

[2019-11-11 15:57] Kipperlenny commented on #5956
I don't think this is the solution! Many shared hostings cannot do this, other shopsystems don't need this!

Please fix this in the code - not only mention the bug in the docs...

[2019-11-12 16:18] jcalcaben commented on #3361
Putting myself in the shoes of a developer that lands to this topic looking for answers that help his/her develops a module I can see benefits in both approaches.

I would go with the generic name as the primary example and then link/refer to core files for any additional information needed.

I agree with creating a separate topic for this issue. My recommendation would be to put it under the *Mod

[2019-11-14 19:17] shrielenee commented on #5967
`less` is not the correct syntax, use `scss` instead.

[2019-11-14 19:20] shrielenee commented on #5956
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2019-11-14 19:21] #5956 closed

[2019-11-14 19:29] shrielenee commented on #5926
I also would like to see the expandable/collapsible sections removed so that everything is visible.

[2019-11-14 19:31] shrielenee commented on #5924
Add more details to individual line items in Required files section.

Or "Components may require these three files:"

[2019-11-14 19:34] shrielenee commented on #5916
Add information about use cases, how to use them, when they should be used, and more.

[2019-11-14 19:40] jcalcaben commented on #5001
If this is for development, the guide should say it needs to be added to `app/code/<vendorName>` instead of the `vendor` directory.

[2019-11-14 23:13] rodrigowebjump commented on #5926
I am working on this.

[2019-11-16 18:40] konarshankar07 commented on #5967
Hello @shrielenee ,
I like to work on this ticket. But I'm not sure about the above comment so you want to change the import `less` file to `scss` file? Correct me if I'm wrong
Thanks

[2019-11-16 20:42] lfolco opened #6011 "Use standard generated factory in example on Factories topic"
# General issue
Example for passing parameters to the `ItemFactory` can cause confusion due to using a non-standard factory definition in the example. https://devdocs.magento.com/guides/v2.3/extension-dev-guide/factories.html

## Description:
The example for passing parameters to a factory points to factory that does not follow the same pattern as generated factories.

[code]

The class `Magento\S

[2019-11-18 05:10] keharper commented on #6011
@lfolco you can edit the `guides/v2.2` version of the file unless the Magento code has changed for 2.3. If the code has changed, break the symlink by deleting the 2.3 version with `git rm <file>` and copy the 2.2 version over to the 2.3 directory. Then edit the 2.3 version.

If you'd like to work on this issue, let us know, and someone will assign it to you.

[2019-11-18 13:34] lfolco commented on #6011
Okay that works, you can assign it to me.

[2019-11-18 14:21] jeff-matthews commented on #5251
We have several places in our API reference docs that use bolded text as a type of header (e.g., Request and Response body examples). More often than not, these headers follow an H2 heading, so changing from bolded text to an H3 heading may not be appropriate because H3s show up in the on page navigation.

Even in places where the bolded text header is preceded by an H3 and therefore would be a go

[2019-11-18 15:19] shrielenee commented on #5967
The syntax of `less` does not render code blocks correctly. To add the syntax to the code block use `scss` instead/

[2019-11-18 15:30] rafaelstz commented on #5967
Hi @shrielenee and @konarshankar07,

As it was an easy fix I already created the PR: https://github.com/magento/devdocs/pull/6018

Thanks

[2019-11-18 15:30] dshevtsov commented on #5251
They can be changed to bolded text followed by `:`
[code]

[code]

[2019-11-18 15:33] jeff-matthews commented on #5251
@dshevtsov, are you saying that adding the colon will keep these from triggering the rule?

[2019-11-18 15:33] dshevtsov commented on #5251
We cannot use headings for this because headings with the same names will be generated with same ids. This will be detected by HTML checker as invalid HTML.

[2019-11-18 15:34] dshevtsov commented on #5251
yes

yes

[2019-11-18 17:48] #5967 closed

[2019-11-18 19:30] lfolco opened #6022 "Feedback on page: /guides/v2.3/frontend-dev-guide/layouts/xml-instructions.html"
# General issue
Docs for `container` `htmlTag` attribute are incorrect.

## Description:
`container` tag `htmlTag` attribute docs say that it can contain "Any valid HTML 5 tag", but that is not true. For example, `article` is a valid HTML 5 tag but it doesn't work as a value for the `htmlTag` attribute.

## Possible solutions:
List the valid tags that can be used for this attribute.

I can update

[2019-11-18 20:56] #5251 closed

[2019-11-18 21:19] #5951 closed

[2019-11-19 07:59] k4emic opened #6025 "Advanced JS Bundling examples can lead to problems with JS execution"
# General issue

## Description:

Using the current guide to setup JS bundling can lead to bundles which include `domReady!` in the bundle.

This results in the main bundle to be included multiple times on the page, which can cause problems with jQuery and other javascript components.

`domReady!` is included due to the manual writing of the bundle configuration, which doesn't filter out undesirea

[2019-11-19 16:27] #6025 closed

[2019-11-20 14:32] atwixfirster commented on #5632
Let's try with this one - https://github.com/magento/devdocs/pull/6040

Thank you!

[2019-11-20 17:30] atwixfirster commented on #5218
PR: https://github.com/magento/devdocs/pull/6042

[2019-11-20 18:11] #5632 closed

[2019-11-20 19:27] ascottfuji opened #6044 "More information about staging functionality"
# General issue
Not enough information

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/staging.html

## Description:

This topic provide very high-level information about Staging functionality.   However it does provide any information on whether the listed modules are; and if so how.  Nor does this topic provide a link to corresponding documentation in the User Guide.  As a developer

[2019-11-21 15:34] #5218 closed

[2019-11-22 11:33] alexkwellbe commented on #6044
@magento I am working on it

[2019-11-22 11:35] alexkwellbe commented on #6044
@m2-community-project I am working on it

[2019-11-25 15:17] meker12 opened #6067 "Feedback on ece-tools package topic"
# General issue

I can’t find anywhere in devdocs that it says to do a DB query against a slave database in cloud you should hit port 3304 instead of 3306.

What is not well documented is that the load balancer provides different ports for accessing MySQL for different purposes. The default port of 3304 gets spread across all 3 nodes of the cluster. while 3306 gets sent to just the non-master MySQ

[2019-11-27 14:45] filmaj commented on #5778
So I might have jumped the gun on this issue... after last week's sprint to get initial testing packages ready for the integration, I became aware that actually the integration will be bundled with all editions of Magento2 starting with version 2.3.4.

So, in that sense, there won't be any installation needed at all, only configuration - which we are handling documenting over on the merchdocs repo

[2019-11-27 14:45] #5778 closed

[2019-11-27 22:37] meker12 commented on #5468
This was fixed in #5867 fixes this issue.  Must ensure that RabbitMQ is configured before running the command provided.

[2019-11-27 22:37] #5468 closed

[2019-11-27 22:38] meker12 commented on #4182
Fixed in #6083.

[2019-11-27 22:38] #4182 closed

[2019-11-28 13:33] BenSpace48 opened #6085 "Feedback on page: /guides/v2.3/pattern-library/getting-user-input/form_elements/form_elements.html"
# General issue

## Description:

The [form field validation](https://devdocs.magento.com/guides/v2.3/pattern-library/getting-user-input/form_elements/form_elements.html#form-field-validation) section refers to the "Alerts and Messaging documentation" but this is not linked and no page exists with this name.

## Possible solutions:

Either link to the intended page or remove this text.

## Additio

[2019-11-29 14:20] diazwatson commented on #3361
Thanks @jcalcaben

[2019-12-02 09:45] sanganinamrata opened #6091 "Misleading statements about theme's view.xml file"
# Topic clarification/correction request

- Misleading statements about theme's view.xml file

## Topic Link

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/theme-inherit.html#override-viewxml-file

## Description

The above statement is incorrect with respect to the actual implementation of theme's view.xml file.

## Possible solutions

N/A

## Additional information

N/A

[2019-12-02 11:01] diazwatson commented on #5778
Not at all, thanks for your hard work :)

[2019-12-03 13:21] meker12 opened #6100 "Feedback on page: /guides/v2.2/cloud/project/manage-disk-space.html"
# General issue

Clarify information about how to allocate disk space on Starter environments and Pro Production and Staging environments.

## Description

- The "Allocate disk space" section in the "Manage disk space topic" doesn't clarify that customers must submit a Magento support ticket to change disk space allocation on Pro Production environments.
- The introduction doesn't mention that you

[2019-12-03 13:31] meker12 opened #6101 "Feedback on Create and manage users topic"
# General issue

Possibly inaccurate information in https://devdocs.magento.com/cloud/project/user-admin.html

## Description:

This page indicates that a redployment is required in order for newly added users to access the environment. in my experience this is not the case. can we validate/update as necessary?

[2019-12-03 16:37] almarchenko opened #6103 "Feedback on page: /guides/v2.3/cloud/project/manage-disk-space.html"
# General issue
Need to add a note that Allocating disk space as described is not applicable for Cloud Pro Staging and Production. The latter should contact support and pay for increase.
## Description:

Need to add a note that Allocating disk space as described is not applicable for Cloud Pro Staging and Production. The latter should contact support and pay for increase.
More tech details can be

[2019-12-03 18:20] #6100 closed

[2019-12-03 19:20] jeff-matthews commented on #6103
@meker12, does this issue duplicate #6100?

[2019-12-03 20:06] meker12 commented on #6103
@jeff-matthews  Yes. It's a related issue.  Updated note instructs customers to submit Support ticket to change disk space allocation on Pro Staging and Production environments.

[2019-12-03 20:51] dobooth commented on #6091
Hi @sanganinamrata Thanks for creating this issue. Could you explain how it would be better explained? What part is misleading?

[2019-12-03 21:37] meker12 commented on #3291
Updated the Custom VCL blocking topic with pointer to the  Fastly documentation for using the Blocking documentation in PR #6097.

[2019-12-03 21:45] #6103 closed

[2019-12-04 13:33] david-ziffity opened #6116 "Feedback on page: /guides/v2.3/extension-dev-guide/Contribute_edg.html"
# General issue
The **generic template**  link is leading to 404.
## Description:
Clicking the generic template link leads to 404

The **generic template**  link is leading to 404.
## Possible solutions:
change the link to correct one

[2019-12-04 19:30] #3291 closed

[2019-12-05 06:31] david-ziffity opened #6125 "Feedback on page: /guides/v2.3/frontend-dev-guide/css-topics/css-critical-path.html"
# General issue
External link icon not displaying
## Description:
External link svg icon implemented as background which is not displaying in the browser chrome Version 75.0.3770.142 (Official Build) (64-bit)  in ubuntu

External link icon not displaying in chrome Version 75.0.3770.142 (Official Build) (64-bit) ubuntu

[2019-12-05 15:04] #6116 closed

[2019-12-05 19:06] #6085 closed

[2019-12-05 19:17] fabriciosobral opened #6138 "Need change link example in "ui_comp_linking_concept.html" page"
# Bug report

## Description
Need chance link reference on page: /guides/v2.2/ui_comp_guide/concepts/ui_comp_linking_concept.html
When we are reading the "Imports property" Observe the following excerpt:
"For an example of imports usage in Magento code see product_form.xml, line 103" The link is incorrect because the line has changed, now the line is 105"

### Steps to reproduce

1. go to page htt

[2019-12-05 19:17] fabriciosobral commented on #6138
I am Working on this

[2019-12-05 19:22] dobooth commented on #6125
Closing as a browser-specific issue. We don't have anything we can change to fix it.

[2019-12-05 19:22] #6125 closed

[2019-12-05 20:04] #6138 closed

[2019-12-06 17:38] konarshankar07 commented on #5954
Hello @swaibar ,
As I have checked in the various magento version, I can't find this issue cause Profiler is running in all the modes. Can you please add more information?
Thanks

[2019-12-08 02:26] josh-carter opened #6151 "Incorrect xsi:noNamespaceSchemaLocation in queue.xml example"
# Bug report

## Description

On [the Queue Configuration devdocs page](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/message-queues/config-mq.html) there is an issue in the queue.xml example. The value for the `config` node attribute `xsi:noNamespaceSchemaLocation` is set as `urn:magento:framework:Communication/etc/communication.xsd`, it should be `urn:magento:framework-message-queu

[2019-12-09 17:14] #6151 closed

[2019-12-09 23:59] meker12 opened #6160 "Feedback Import Magento Commerce code into a Cloud project"
# General issue
This is a general request to review this page and clean up a little bit here and there to make it clearer what we’re talking about when we’re talking about it, and making sure we talk about them editing files either in their existing live magento directory or in a directory of files that are a clone of the github of their magento version or so.

https://devdocs.magento.com/cloud/se

[2019-12-10 00:09] awktion commented on #6160
There are 3 main venues covered in this page, the local development environment (what's downloaded from git for example), the existing production environment (generally referred to as Magento Commerce system), and any of the cloud environments (referred to as Magento Commerce Cloud server).

In the cloud itself when logged into the cloud the main Magento folder is not writable, so .magento.app.yam

[2019-12-10 18:34] carlos-reynosa opened #6168 "Feedback on Cloud composer topic"
# General issue

https://devdocs.magento.com/cloud/reference/cloud-composer.html

## Description:

I feel like the description of the **magento/magento-cloud-metapackage** is kind of flat and as I was reading it I wasn't aware that the sections following the description of **magento/magento-cloud-metapackage** were describing it's included components.

## Possible solutions:

A diagram describing

[2019-12-11 10:55] atwixfirster commented on #5926
Last update here was 27 days ago.

So, I've fixed this issue in https://github.com/magento/devdocs/pull/6181 due to @rodrigowebjump inactivity.

Thanks

[2019-12-11 12:23] ajithkumar-maragathavel commented on #5927
@magento Pull request for this has been raised.
https://github.com/magento/devdocs/pull/6167

[2019-12-11 12:32] atwixfirster commented on #5924
@shrielenee

A problem is more deeper than a simple description change  :)

More details here: https://github.com/magento/devdocs/pull/6184

Thank you!

[2019-12-11 13:33] atwixfirster commented on #4651
Yep, we missed `bin/magento cache:clean` in the tutorial. But if you having disabled all caches on your develop/instance then tutorial will work ;)

The necessary information has been added.

Thank you!

[2019-12-11 15:27] jasonhildebrand commented on #4651
Thanks!

[2019-12-11 15:34] #4651 closed

[2019-12-11 15:37] #5926 closed

[2019-12-12 15:49] #5927 closed

[2019-12-12 19:21] shrielenee commented on #6101
Hey @meker12 --- I feel like this needs a knowledgeable developer to verify whether redeploy is required in this case. Can you tag someone who may be a good fit? 😺

[2019-12-12 19:24] shrielenee commented on #6091
Hey @sanganinamrata --- Any more info on this so we can begin work? Thanks!

P.S. Loved your Hackathon t-shirt tweet 😄

[2019-12-12 20:29] atwixfirster commented on #6101
Hi, @meker12!
[Rebuild the environment](https://devdocs.magento.com/cloud/project/user-admin.html#rebuild) is true when you create admin from the Magento Cloud Account. But if you create admin from the back-end side you do not need to run redeploy.

I can add this notice if you approve.

Thank you!

[2019-12-12 20:40] atwixfirster opened #6194 "Requirements for the StoreFront application"
# New topic request

## Description

We have a new requirements for the StoreFront application:

<img width="1068" alt="6194_01" src="https://user-images.githubusercontent.com/13585327/70747330-6b0ef700-1d30-11ea-800c-ee1b21ca457f.png">

I would like to add them into existing documentation. Looking for the proper place.

**Option 1:** Add into existing [GraphQL Overview](https://devdocs.magento.co

[2019-12-12 20:52] jeff-matthews commented on #6194
@keharper, can you help @atwixfirster groom this issue?

[2019-12-12 21:18] meker12 commented on #6101
@atwixfirster  That sounds great.  Thanks!

[2019-12-12 21:40] meker12 commented on #6101
So the content on the page is correct.  If you add a user to a Cloud environment using the Project Web UI or the CLI, you have to redeploy.  If you add a user to the Magento Application through the Magento Admin UI, you do not have to redeploy the environment.

![image](https://user-images.githubusercontent.com/6391769/70751283-a6d89b00-1cf5-11ea-9fd0-96f9e5e4075f.png)

I think the note just needs

[2019-12-13 23:03] atwixfirster commented on #6101
@meker12 , could you please review a proposed option:

<img width="1193" alt="6101" src="https://user-images.githubusercontent.com/13585327/70837709-8d2a7700-1e0d-11ea-8b40-4a6d196a88e9.png">

PR: https://github.com/magento/devdocs/pull/6205

Thank you!

[2019-12-16 17:54] #6101 closed

[2019-12-17 19:31] hellotaran opened #6221 "Incorrect path in CP command"
# Bug report
Incorrect path in CP command
## Description
Under production mode section there is a command to copy config file. Command is incorrect.

### Steps to reproduce
If you copy and paste or follow the command from dev docs it gives you an error that "No such file or directory".

## Expected result

Command should copy the file.
## Possible solutions

## Additional information

[2019-12-18 09:04] sanganinamrata commented on #6091
@shrielenee Great to hear that you recognized me😄And TYSM for the complement 😊
- I'll revert back to you about in couple of hours.

Thanks!

[2019-12-18 15:43] #6221 closed

[2019-12-18 20:14] almarchenko opened #6245 "Need more info about interpreting output of db:size command"
# General issue
The $magento-cloud db:size command can return very confusing information, like 1021% being used. (I tried attaching the image, do not understand if it worked out).
Talked to two support agents, and they do not recommend customers using this command.
## Description:
The $magento-cloud db:size command can return very confusing information, like 1021% being used. (I tried attaching th

[2019-12-18 21:56] andrewbess commented on #6160
Hello @meker12
Sorry, Margaret, but are you sure that provided in description link is correct?
I think, correct link is https://devdocs.magento.com/cloud/setup/first-time-setup-import-prepare.html

[2019-12-18 22:31] meker12 commented on #6160
@andrewbess So this issue looks like it requires clarification and cleanup for two topics:

https://devdocs.magento.com/cloud/setup/first-time-setup-import-prepare.html
https://devdocs.magento.com/cloud/setup/first-time-setup-import-import.html

I updated the description to indicate the additional changes.

If you would like to take this issue, I am happy to collaborate with you on the updates.

[2019-12-18 22:59] andrewbess commented on #6160
Thank you @meker12
I am working on this issue now

[2019-12-18 23:01] andrewbess commented on #6160
I cannot assign this issue myself.
This is strange, because I have a possibility to do it on magento/magento2 repo.

[2019-12-18 23:07] keharper commented on #6160
It's yours @andrewbess

[2019-12-18 23:09] andrewbess commented on #6160
Yes, thanks.
You wrote: "...The Prepare your existing Magento Commerce system isn't referenced as a prerequisite for the Import Magento Commerce code topic..."
I think this is different topics

[2019-12-18 23:22] meker12 commented on #6160
@andrewbess So this topic:  Prepare your existing Magento Commerce system  provides the steps to complete before you "Import Magento Commerce code"

The problem is that if you open the "Import Magento Commerce code" topic directly, that topic is based on having completed the preparation steps for import.   However, the "Import Magento Commerce" code topic doesn't mention that you need to complete

[2019-12-18 23:42] andrewbess commented on #6160
Perhaps, it should be above [this block](https://monosnap.com/file/ThwdYSW55zNgjjelDthBAHGeJPo2MZ) and should look like
If you have the already installed Magento Commerce you can use [Prepare your existing Magento Commerce install instruction](https://devdocs.magento.com/cloud/setup/first-time-setup-import-prepare.html).

What do you think about this? @meker12

[2019-12-18 23:53] andrewbess commented on #6160
@meker12 Something like this
<img width="1172" alt="Import Magento Commerce code into a Cloud project  Magento 2 Developer Documentation 2019-12-19 01-51-11" src="https://user-images.githubusercontent.com/10788564/71133113-41f3d800-2202-11ea-94a1-6bfe60206dc0.png">

[2019-12-18 23:55] meker12 commented on #6160
Before you begin the import process, make sure that you have completed the steps to [Prepare your existing Magento Commerce system](https://devdocs.magento.com/cloud/setup/first-time-setup-import-prepare.html).

So the idea is that you already have a Magento Commerce project that is not on Cloud. You prepare that project by following the instructions in the "Prepare" topic.  Then, the next step is

[2019-12-19 00:01] meker12 commented on #6160
I think if the note uses the language in previous comment, update will be good:  Before you begin....

Having two notes together is not ideal.  That warning note makes more sense if you move it to the section  [Import your Magento Commerce code to your Cloud project](https://devdocs.magento.com/cloud/setup/first-time-setup-import-import.html#cloud-import-imp)

[2019-12-19 09:30] sanganinamrata commented on #6091
As mentioned here: https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/theme-inherit.html#override-viewxml-file

`If your theme does not contain a view.xml configuration file, it will be inherited from the parent theme. If you add the <theme_dir>/etc/view.xml file in your theme, it overrides the parent’s file.`

This means that the child theme's view.xml file overrides the parent the

[2019-12-20 12:09] saigadekar opened #6293 "Error While - Advance Js Bundling"
https://github.com/magento/devdocs/blob/master/src/guides/v2.3/performance-best-practices/advanced-js-bundling.md

I had Implemented Js Bundling on My project which was working fine on magento 2.2.6. But after the upgrade (product-community-edition": "2.3.3) bundle js is failing while deployment.

I even updated the latest build.js file in my project but i am getting error while doing the bundle.B

[2019-12-23 07:35] andrewbess commented on #1596
Hello guys. I am looking into this. Could you please assign this issue to me?

[2019-12-23 07:44] andrewbess commented on #434
Hello guys. I think I can describe it. Could you please assign this issue to me?

[2019-12-27 15:04] atwixfirster commented on #434
Already described in https://devdocs.magento.com/guides/v2.2/config-guide/log/custom-logger-handler.html

[2019-12-29 01:43] Januszpl opened #6305 "Correct requirejs-config.js path on page: Locate JavaScript components"
# Correction request

## Topic Link

[Locate JavaScript components](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/javascript/js_debug.html#locate_widget)

## Description

At least in Magento 2.3 path to Magento RequireJS configuration file in section 4.1 is wrong.
Currently it is:

`Alternatively, you can open the requirejs-config.js file from the file system: pub/static/_requirejs/

[2019-12-30 14:25] burakswe opened #6310 "Clarify steps in Migration Guide"
Hello everyone,

I have some struggles to follow if the document means Magento 1 or Magento 2 directory for the commands. Do you have a chance to express the difference?

Thanks!

File: /guides/v2.3/migration/migration-migrate-settings.html

[2019-12-30 16:29] milindsingh opened #6311 "Wrong Inventory (MSI) repo url in the links"
# General issue
https://devdocs.magento.com/guides/v2.3/inventory/inventory-api-reference.html

## Description:
All urls are 404 in the inventory API reference page.

## Possible solutions:
Add a new variable and update the blob urls.

## Additional information:

[2020-01-01 04:17] broros opened #6316 "Provide more info in Configure Apache and Elasticsearch"
# General issue

## Description:

This page does not make a lot of sense, multiple parts are not very clear.

**Step 2: Secure communication with Apache

in step 2 it does not tell you how to add elasticsearh to the proxy, in only tell you how to remove the previous unsecured connection

[code]

## Possible solutions:

don't have one

## Additional information:

File: https://devdocs.magento.com/g

[2020-01-02 11:37] hungpvdev opened #6317 "Setup multiple domains info not correct in Set up multiple websites or stores with nginx topic"
# General issue
Setup multiple domains using multiple virtual hosts is not correct
## Description:
-- In multiple virtual hosts, using Nginx "map" directive will not work correctly due to "map" directive only run once for the same variable.

http://nginx.org/en/docs/http/ngx_http_map_module.html#map

## Possible solutions:
Instead of using map directive, we will set variable directly, map directiv

[2020-01-02 14:17] #5924 closed

[2020-01-02 16:48] #6305 closed

[2020-01-02 18:23] mpchadwick opened #6322 "Clarify Magento version support for magento/url-rewrite-import-export"
## Topic Link

https://github.com/magento/devdocs/blame/81586c737e31b63b12fa364b8d5edd551abde49f/src/cloud/configure/import-url-rewrites.md#L13

## Description

Is it true that this module is only available for 2.2.x or does it also support 2.3.x?

[2020-01-02 21:32] atwixfirster commented on #6322
Regarding to [module](https://marketplace.magento.com/commerceextensions-module-urlrewrites-import-export.html) compatibility it supports the next versions: 2.0, 2.1, 2.2

<img width="1286" alt="6322" src="https://user-images.githubusercontent.com/13585327/71694490-050a1280-2db8-11ea-8be2-f8fc86f9e7aa.png">

[2020-01-02 21:40] atwixfirster commented on #6322
@mpchadwick , I've asked Scott (seller) directly and he answered - YES.

So, you can use it for your Magento 2.3.x.

Thank you!

[2020-01-02 21:44] scottbolasevich commented on #6322
Yes it will work on 2.3.x

[2020-01-03 07:56] milindsingh commented on #6322
Hi  @atwixfirster
Is `magento/module-url-rewrite-import-export` and `commerceextensions/module-urlrewrites-import-export` are same ?

[2020-01-03 08:03] atwixfirster commented on #6322
Hi, @milindsingh !

No. Looks like I missed up with module name 😊

[2020-01-03 08:22] hostep opened #6325 "Configuring the lock provider should be done with 'setup:config:set' instead of 'setup:store-config:set'"
# Bug report

## Description

In the [configure the lock provider](https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-subcommands-lock.html#instgde-cli-lockconfig) section, it says to use `setup:store-config:set`, but that is incorrect. It should be done using `setup:config:set`.

### Steps to reproduce

1. Run `bin/magento setup:store-config:set --help`
1. Run `bin/magent

[2020-01-03 12:19] atwixfirster commented on #6322
Ok.

So, regarding to @rogyar notice `magento/module-url-rewrite-import-export` supports ~7.0.13|~7.1.0 PHP versions:

<img width="904" alt="module info" src="https://user-images.githubusercontent.com/2148959/71722378-dd9f5e00-2e28-11ea-89e0-de1d9299f125.png">

Regarding to [Magento 2.3 technology stack requirements](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2020-01-03 12:30] scottbolasevich commented on #6322
Who can i send the latest zip too?

Sent from my iPhone

[2020-01-03 21:57] jeff-matthews opened #6332 "Replace the section that instructs users to manually create a webhook with guidance about autogenerated webhook"
# General issue

## Description:

https://devdocs.magento.com/cloud/integrations/bitbucket-integration.html

Upon creating the integration with bitbucket as per the guide, it now creates the webhook in bitbucket for you. However the next task tells you to create the webhook. I had 2 webhooks created and sending updates on every push to the repository. I believe this caused a conflict. Once I remov

[2020-01-03 22:08] jeff-matthews opened #6333 "Feedback on page: /cloud/project/project-conf-files_services-mysql.html"
# General issue

## Description:

https://devdocs.magento.com/cloud/project/project-conf-files_services-mysql.html

Upgrading the MySQL service from 10.0 to 10.2 cannot be rolled back in the traditional sense. After an upgrade from 10.0 to 10.2 is complete, we can't roll it back.

This is not something specific to the Magento platform. See Maria DB [documentation](https://mariadb.com/kb/en/upgradi

[2020-01-06 10:46] atwixfirster opened #6337 "Editorial. Replace mdash HTML special char."
# Topic clarification/correction request

## Topic Link

[Translation dictionaries and language packages](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-i18n.html)

## Description

There are a lot of pages which have `&mdash;` special HTML char:

<img width="1281" alt="mdash" src="https://user-images.githubusercontent.com/13585327/71813497-68c76080-3082-11ea-8c91-b

[2020-01-06 13:39] jeff-matthews commented on #6337
Thanks for reporting @atwixfirster. Your description suggests replacing the HTML entity with a hyphen/dash (`-`). The correct solution is to replace the HTML entity with the unicode [em dash](https://en.wikipedia.org/wiki/Dash#Em_dash) (`— `) character.

We use kramdown, which is supposed to convert three consecutive hyphens/dashes to a single em dash, but I haven't tested it to verify. See [kramd

[2020-01-06 14:44] atwixfirster commented on #6337
@jeff-matthews , can we discuss the award for this issue?  ;)

Many thanks!

[2020-01-06 15:14] shrielenee commented on #6337
@atwixfirster Points are awarded for completed PRs, not issues :)

Make this fix, per Jeff's info, and we can talk award points! 🏆

[2020-01-06 15:58] #6322 closed

[2020-01-07 11:04] zepgram opened #6343 "GraphQL Query Wish List"
# Topic clarification/correction request
The wishlist query is marked as available through Customer Query but it's not on latest version available (2.3.3), it will be done with 2.4 release according to this :
- https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/WishlistGraphQl/etc/schema.graphqls

## Topic Link
https://devdocs.magento.com/guides/v2.3/graphql/queries/wishlist.htm

[2020-01-07 15:06] keharper commented on #6343
@zepgram We inadvertently merged the `2.3.4-develop` branch into master prematurely and are working to revert those changes. This should be completed later today. Thanks for your diligence.

[2020-01-07 15:06] #6343 closed

[2020-01-07 20:10] dshevtsov commented on #3521
There are still [4 conflicts](https://gist.github.com/dshevtsov/9f9a6eaef2cf454b5989ef8f3dcfee66).

[2020-01-07 20:48] atwixfirster commented on #6337
Ok,  @shrielenee :)

This is a PR https://github.com/magento/devdocs/pull/6351

Now your move :)

Thanks

[2020-01-07 21:08] hguthrie commented on #6337
Three dashes does convert to an em dash; however, it stores it as three separate characters.

[2020-01-07 21:11] atwixfirster commented on #6337
Hi, @hguthrie

sounds like an approve?

[2020-01-07 21:13] hguthrie commented on #6337
I'm not quite sure, @atwixfirster . Also, I was thinking about the Jekyll headers surrounded by three dashes. We might have to check that it doesn't interfere...

[2020-01-07 21:28] hguthrie commented on #6337
Okay, I tested a few scenarios:
First, my IDE highlights some instances as an error, which reflects a preference in my environment, so take that with a  grain of salt.
Second, when using three dashes inside of a Jekyll header will not work. For example, some of the fixes were in a title (`src/guides/v2.3/install-gde/continue-to-verify.md`).

Otherwise, it seems okay. As long as it is not used in a

[2020-01-07 21:54] keharper commented on #6337
I didn't see the discussion happening here. Changing the mdash to 3 dashes in the frontmatter causes 3 separate dashes to be displayed in the title. I commented in #6351

[2020-01-08 09:56] BenSpace48 opened #6356 "UI Element code block is not rendering correctly"
# Bug report

## Description

The observable example in https://devdocs.magento.com/guides/v2.3/ui_comp_guide/concepts/ui_comp_uielement_concept.html is not rendering as a code block, it is using correct Markdown so I'm not sure what the problem is (possibly the whitespace before the backticks?)

![About_the_uiElement_class___Magento_2_Developer_Documentation](https://user-images.githubusercontent

[2020-01-08 13:26] jeff-matthews commented on #6356
Thanks for reporting @BenSpace48.

The problem is that there is no closing set of back ticks (code fence) _after_ the code example. Adding three back ticks after the code sample will fix this issue.

[2020-01-08 22:08] #6337 closed

[2020-01-09 19:28] shrielenee commented on #6310
Hey there @burakswe --- Thanks for this question! We need to add info in the overview content about what versions you are migrating between. It's mentioned in the topmost topic, https://devdocs.magento.com/guides/v2.3/migration/bk-migration-guide.html, but not in the parent of this topic or within this topic.

This is Magento 2, by the way. We will clarify.

[2020-01-09 19:30] jcalcaben commented on #6293
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). You can also start a conversation in [Slack](https://magentocommeng.slack.com/archives/C4YS

[2020-01-09 19:30] #6293 closed

[2020-01-09 19:31] dobooth commented on #6091
That's great feedback! Thanks for the clarification.

[2020-01-09 20:29] meker12 commented on #6160
Thanks for your help @andrewbess 🥇

[2020-01-09 20:29] #6160 closed

[2020-01-09 21:56] atwixfirster commented on #6356
Pull request: https://github.com/magento/devdocs/pull/6370

Thanks

[2020-01-10 00:02] #6356 closed

[2020-01-10 12:15] BenSpace48 commented on #6356
Ah right, I did try adding the closing back ticks but the preview showed lots of other changes so I didn't want to risk breaking the below content.

[2020-01-10 13:26] atwixfirster commented on #6356
Hi, @BenSpace48 !

I did not notice any problems with fix:

<img width="1115" alt="preview" src="https://user-images.githubusercontent.com/13585327/72156159-7f8cf080-33bd-11ea-85cf-ede50fad4453.png">

[2020-01-13 14:44] victortodoran opened #6383 "Add disclaimer to Indexing overview topic about triggering reindex logic"
# General issue

## Description:
The page does not explicitly specify that UpdateOnSave Indexers must be handled by custom code (plugins, events or any other working approach).
The diagram is misleading and leaves you to believe that the Indexer logic is executed when the Index is configured as Update On Save when in reality this is not the case

https://devdocs.magento.com/guides/v2.3/extension-d

[2020-01-13 15:27] dshevtsov opened #6384 "404 external links"
# Bug report

## Description

When I run `rake test:external_links` on the master branch, I get [60 failures](https://github.com/magento/devdocs/files/4054328/404-links_2019-01-13.txt) with 404.

Some links have been reported in #6311

## Expected result

Fixed content with no 404 failures.

[2020-01-13 19:49] dshevtsov commented on #6384
#6312 fixes some links

[2020-01-14 15:40] diazwatson opened #6388 "Install B2B page command out of date"
# Bug report

## Description
While following the instructions to install B2B module today, I noticed that the recommended composer package does not longer exists.

### Steps to reproduce

Follow the instructions to install B2b composer package in https://devdocs.magento.com/extensions/b2b/#configure-b2b

command
[code]

## Expected result

command installs the b2b package

## Possible solutions

U

[2020-01-14 17:00] #6311 closed

[2020-01-14 17:23] BenSpace48 commented on #6356
Sweet, thanks for fixing @atwixfirster

[2020-01-14 18:13] #6388 closed

[2020-01-14 20:03] dobooth commented on #5488
Part of the issue is that the UI has versions hard coded in. The UI might say 7+ but that includes versions of 7 we might yet support.

[2020-01-15 14:45] karyna-tsymbal-atwix commented on #6325
Indeed, looks like store-config:set is deprecated since 2.2.0, and config:set should be used.
I'm preparing PR with fix.

[2020-01-15 15:48] #3521 closed

[2020-01-15 19:19] karyna-tsymbal-atwix commented on #6325
PR https://github.com/magento/devdocs/pull/6402

[2020-01-15 19:31] dobooth commented on #5488
https://github.com/magento/community-features/issues/231

[2020-01-15 20:22] dobooth commented on #6316
Adding the steps are described in step 1 and step 2 describes removing info that may or may have not been added from https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-config-apache.html#es-apache-proxy-24. Please provide more details about what could be clarified here. While it is a big, complicated topic, I am not sure what exactly to change with this issue.

[2020-01-15 20:22] #6316 closed

[2020-01-16 19:15] dobooth commented on #6383
@jcalcaben Is this in your wheelhouse?

[2020-01-16 21:31] meker12 opened #6411 "Feedback on page: /cloud/project/project-upgrade.html"
# General issue

Most merchants on the Magento Cloud platform do not need to submit a ticket to remove mcrypt - only if they're not currently on the Wings interface

Remove the following note from the [Upgrade ](https://devdocs.magento.com/cloud/project/project-upgrade.html) topic:

If you use PHP version 7.2, you must remove the mcrypt extension from the extensions section of the .magento.app.yam

[2020-01-17 06:50] bsacharski opened #6412 "Release notes for 2.3.4 don't include backward-incompatible change"
# Bug report

## Description

The release notes for 2.3.4 release of Magento (`src/guides/v2.3/release-notes/release-notes-2-3-4-open-source.md`) on the `2.3.4-develop` branch don't include information about breaking change (which should not be there, but that is another issue) introduced as a part of security issue fix:

This information should be highlighted once again in "Backward-incompatible

[2020-01-17 10:10] vshcheglov opened #6413 "Clarify what is <ClassName>"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/plugins.html

Not enough transparently what is ClassName here.

Is it a class name of class which I want to create?
Or a class name of class on which I'm creating a plugin?

If it is a class name of class which I want to create, do we have any naming convention after \Vendor\Module\Plugin\?

[2020-01-17 11:09] xi-ao opened #6414 "[Magento 2.3] Invalid filename for local themes in Grunt configuration"
There seems to be an inconsistency regarding the name of the configuration file holding the local themes for Grunt in the doc.

These sections mention a `local-themes.js`, while it doesn't seem to work anymore on Magento 2.3:
- https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css_debug.html#add_theme
- https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/tools/using_grun

[2020-01-17 12:39] jeff-matthews commented on #6412
Thanks @bsacharski.

We have automation that runs as soon as a new stable branch in the magento2 repo is released that updates our Backward Incompatible Changes documentation. This is not a manual task and does not need to be run before a release reaches general availability (GA), which in this case is 1/28/2020.

[2020-01-17 12:39] #6412 closed

[2020-01-17 15:31] #6333 closed

[2020-01-17 15:59] #6091 closed

[2020-01-18 22:14] atwixfirster commented on #6413
Hi, @vshcheglov !

 The name of a plugin’s class or its virtual type.

For example,

[code]

[2020-01-19 09:32] vshcheglov commented on #6413
So, considering your response, <ClassName> is just a desired plugin class name and part of class name after `My\Module\Plugin\` can be any which I want. No any naming convention from magento?

As you see here, Magento sometimes includes part in plugin class name, regarding to class name in "type" - CatalogRule\Model\Rule.
[code]
But somethimes not.
[code]

[2020-01-20 15:42] hvanmegen opened #6422 "Feedback on page: /guides/v2.3/config-guide/varnish/config-varnish.html"
I have no idea what 'stanza' means in this context.. the online definitions of 'stanza' also don't help.. contrary to popular opinion, the Magento 2 documentation ain't poetry as far as I know.

[2020-01-20 15:56] jeff-matthews commented on #6422
@hvanmegen, a [simple Google search](https://www.google.com/search?q=varnish+stanza&oq=varnish+stanza&aqs=chrome..69i57.1877j0j7&sourceid=chrome&ie=UTF-8) for "varnish stanza" returns several results directly from Varnish docs. Here are a few examples:

- https://readthedocs.org/projects/varnish-cache/downloads/pdf/readthedocs/
- https://varnish-cache.org/docs/trunk/users-guide/purging.html
- http

[2020-01-20 15:56] #6422 closed

[2020-01-20 22:06] atwixfirster commented on #6413
@vshcheglov

yep

no :)

But, from my practice : the name of plugin class should describe a plugin purpose. This is an understandable point for another developers.

Please let me know if have any additional question here.

[2020-01-20 22:25] MantisMan13 commented on #1224
Your documentation is still horribly lacking. I hope the guidance I found here helps me. This should not have been a closed thread without having acted on the suggestion and updated the documentation as suggested or explained why that is not a good thing to be done. JMO

[2020-01-21 18:40] dobooth commented on #6413
Thanks for the issue, and thanks Alex for your input. @vshcheglov, with this new information, please let us know where you think we can clarify here.

[2020-01-22 17:33] awktion opened #6436 "Feedback on page: /cloud/architecture/scaled-architecture.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

looks good, though i think we could improve this - the unified role of the core nodes would be more clear if updated to split or core so they are not hte same as other normal non split node roles (edited)
meaning we’d have 3 roles:
unified (normal cluster)
core (db nodes in split)
web (web nodes in split)
Also th

[2020-01-23 17:21] dshevtsov opened #6443 "Align Magento PHP prerequisites in different topics"
# General issue

Align [Magento PHP prerequisites](https://devdocs.magento.com/guides/v2.3/install-gde/prereq/php-settings.html#verify-installed-extensions) with [system requirements](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#php).

## Description:

The [System requirements](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#ph

[2020-01-23 19:22] shrielenee commented on #6414
@DrewML Can you confirm that the second filename is correct for v2.3? If so, the lovely @xi-ao will create the fix. 💛

[2020-01-23 19:36] #434 closed

[2020-01-23 19:38] dobooth commented on #1596
Happy to see some action on this, @andrewbess!

[2020-01-23 19:40] jcalcaben commented on #1721
@keharper what's the status of this issue?

[2020-01-23 19:44] dobooth commented on #1996
@keharper Is this still germane?

[2020-01-23 19:46] dobooth commented on #2427
@serhiyzhovnir Sorry for the delay. Missed the notification. It's all yours!

[2020-01-23 19:47] hguthrie commented on #2108
Major updates to this section were made late last year. Closing out this issue.

[2020-01-23 19:47] #2108 closed

[2020-01-23 19:51] dobooth commented on #4315
@bdenham what's the holdup here?

[2020-01-23 19:55] #2954 closed

[2020-01-23 21:01] keharper commented on #1996
Yes

[2020-01-24 14:19] shrielenee commented on #3361
Contributors! See the above closed PR for the work. Clean it up, submit, call it good!

[2020-01-24 15:37] #6022 closed

[2020-01-24 15:49] electrospanner opened #6452 "Create bundle product with price_type = 1 in REST"
# General issue
Cannot create bundle product with price_type = 1 (fixed) with REST API
## Description:
The customer raised a support ticket with this issue:

## Possible solutions:

For bundle products, the attribute price_type must be set under custom_attributes!

[code]

## Additional information:

The client found it here:

https://stackoverflow.com/questions/40168472/how-to-create-bundle-produ

[2020-01-26 21:00] VanArmenia opened #6458 "Feedback on page: /guides/v2.3/rest/tutorials/orders/order-prepare-checkout.html"
No such carriers

 "shipping_carrier_code": "tablerate",
 "shipping_method_code": "bestway"

After sending post request I have this error response.
I have tried to add this method and clear the cache, but result is the same.
I have tried also to change shipping_carrier_code and shipping_method_code, but the result is the same.

Could you please help?

 "message": "Carrier with such method not foun

[2020-01-27 16:30] hguthrie commented on #6436
I am not sure what you are trying to say about technical limitations. This topic provides a very high-level description of the scaling capabilities available to certain Cloud Pro projects. It does say that core nodes provide the various services and DB storage. But I have made an effort to clarify further for both node types and roles. If you have any further concerns, you are welcome to create a

[2020-01-27 16:36] andrewbess commented on #1596
Hello @dobooth
I am finishing it.
I'll create PR tomorrow or the day after tomorrow.
Sorry for my late.

[2020-01-27 17:03] katmoon opened #6465 "Supported PHP versions for Magento 2.2.x"
# Bug report

## Description

Info at https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html is contradictory
“Supported PHP versions:
~7.0.13”
“Supported PHP versions for Magento 2.2.x are 7.2 and 7.1. PHP 7.0 is no longer supported.”

## Expected result

It's clear if Magento still supports PHP ~7.0.13 or not.

[2020-01-27 17:07] katmoon opened #6467 "Invalid link to CODE_OF_CONDUCT.md"
# Bug report

## Description

This bug report template contains a link https://github.com/magento/devdocs/blob/develop/.github/CODE_OF_CONDUCT.md which leads to a 404 page.

### Steps to reproduce

1. Open https://github.com/magento/devdocs/issues/new?template=BUG.md
2. Scroll down the issue template till Additional information section
3. Open the mentioned link https://github.com/magento/devdocs/

[2020-01-27 17:43] jeff-matthews commented on #6465
Thanks @katmoon. Ordinarily, I would close this issue because we no longer support 2.2 devdocs. But there may be something we can do to add some clarity in this case.

We autogenerate PHP requirements from the `composer.lock` file found in the magento2 repo. Since 7.0 is still listed in the file, it's showing up on devdocs as supported. It seems odd that we would continue to list an unsupported ve

[2020-01-27 18:11] hostep commented on #6465
I would leave PHP 7.0 in there, it's clearly still allowed in the [`composer.lock` file for Magento 2.2](https://github.com/magento/magento2/blob/2.2/composer.json#L11)

It doesn't mean if official support for PHP 7.0 has ended that people can no longer use it. Certain Linux distro's still support older versions of PHP and will backport security fixes from newer versions to it, [example](https://m

[2020-01-27 18:11] dshevtsov commented on #6465
If we will hide it, this would turn the entire automation useless. I'd rather verify the manual update that contradicts to information from the codebase.
The contradictory info was added in [this commit](https://github.com/magento/devdocs/commit/e01debb591101b5657b2a00f99edfcaa0fa34032#diff-ba7242f19163f8e804014e98721154e1R46). @dobooth could you please clarify the source of the 7.0 deprecation in

[2020-01-27 18:22] jeff-matthews commented on #6465
I think that's a bit of an exaggeration @dshevtsov, but I understand your disapproval.

We have a similar case with 2.3.4 PHP support where we've been asked to remove 7.1 since it has reached EOL. It's still possible to install Magento on 7.1, but it has not been tested by Magento and Magento does not support it.

Let's start by updating the non-autogenerated content to try to provide clarity befo

[2020-01-27 18:40] jeff-matthews commented on #6465
What's particularly problematic is that we introduce the list of PHP versions specifically as "supported".

[2020-01-28 17:36] bsacharski commented on #6412
@jeff-matthews The release has been made, the notes have been published and the "backward incompatible changes" section has been removed. Can we have this issue reopened?

[2020-01-28 17:39] jeff-matthews commented on #6412
@bsacharski, we are still executing our automated tasks to publish BICs and will publish them as soon as possible. We are tracking this task in our internal system. Thank you for your patience.

Cc: @dshevtsov

[2020-01-28 19:17] dshevtsov commented on #6412
The updates should be available later today. I'll link this issue to the corresponding pull request.

[2020-01-28 19:19] cgarrigues opened #6482 "Clarify which logs are handled in /cloud/env/log-handlers.html"
# General issue

## Description:

This page should be explicit as to what logs are being handled here.

## Possible solutions:

Explicitly state that this is for build and deploy logs, not for application or nginx logs.

More than one person has assumed that they can send nginx logs this way.

## Additional information:

[2020-01-28 20:47] keharper commented on #6458
Hi @VanArmenia, I just ran the tutorial, and provided payload works fine for me.

The tutorial assumes you're using the Luma sample data and you've configured your installation as described in https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-config-store.html

If your instance is configured correctly, the only question I can think to ask is which version of Magento are you runni

[2020-01-28 20:54] #6194 closed

[2020-01-28 21:04] taf2 opened #6487 "Feedback on page: /guides/v2.3/rest/bk-rest.html"
# General issue
Not finding details that show how to authenticate the API

[2020-01-28 21:11] keharper commented on #6487
@taf2 Is this what you're looking for?

https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication-token.html

[2020-01-28 21:17] taf2 commented on #6487
Yes thank you! I found it after googling thought it should appear in the nav on that page thank you!

[2020-01-28 21:26] #6487 closed

[2020-01-28 21:30] keharper commented on #4879
It looks like this has been taken care of.

[2020-01-28 21:30] #4879 closed

[2020-01-28 22:31] #5032 closed

[2020-01-29 16:47] #6436 closed

[2020-01-30 07:33] broros opened #6507 "Feedback on page: /guides/v2.3/config-guide/elasticsearch/es-config-apache.html"
do I still need to setup authentication if elasticsearch and Magento are on the same server using localhost for connection?

[2020-01-30 19:10] dobooth commented on #6507
Is there a particular section in this topic this needs clarification?

[2020-01-30 19:16] dobooth commented on #6507
We need to clarify around "Enable Elasticsearch HTTP Auth". The field is not in the screen shot. There is an option to setup auth within ES specifically.

[2020-01-30 19:19] dobooth commented on #6467
Yup. Need to change the link to the master branch, as nicely put in Expected Result.

[2020-01-30 19:25] dobooth commented on #1740
This is fixed in 2.3.4. We need to investigate this to see what still needs updating in this topic. @atwixfirster, would you be able to look into this?

[2020-01-30 19:49] keharper commented on #6452
The author referenced /guides/v2.3/graphql/queries/custom-attribute-metadata.html, but this is actually a request to add REST information. There isn't an automatic place to put this in the REST documentation.

[2020-01-30 20:52] #6467 closed

[2020-01-30 21:26] atwixfirster commented on #1740
Sure, @dobooth

[2020-01-30 22:45] atwixfirster commented on #1740
@dobooth ,

Per my opinion you can close this issue because of merged:
- https://github.com/magento/magento2/pull/24187
- https://github.com/magento/devdocs/pull/6428

From my side, there is nothing to add here.

Thank you!

[2020-01-31 00:04] atwixfirster commented on #3361
Let's try with this one - https://github.com/magento/devdocs/pull/6514. It's based on @diazwatson PR.

[2020-02-02 05:13] pareshpansuriya commented on #2743
#mm20in

[2020-02-02 05:35] hitendra-wagento opened #6528 "| symbol is missing on the Menu Bar"
# Bug report
Dev Docs Home page "|" symbol is not displayed between each Menu Name.

## Description
Dev Docs Home Page.

### Steps to reproduce

1. Go to the below URL(Dev Docs Home Page).
2. https://devdocs.magento.com/
3. You will be able to see the Menu Bar.
4. Between the Testing and Functional Areas show the "|". and also the " | " vertical-align not proper.
5. While other Menu bars "|" symbo

[2020-02-02 05:44] hitesh-wagento commented on #6528
I am working on this issue.

[2020-02-02 05:54] hitendra-wagento opened #6529 "Extraneous " | " displays in the top navigation"
# Bug report

Dev Docs Home page " | " symbol is not vertical-align proper.

## Description

### Steps to reproduce

1.Go to the below URL(Dev Docs Home Page).
2.https://devdocs.magento.com/
3.You will be able to see the Menu Bar.
4.Between the Testing and Functional Areas show the "|". a symbol is not vertical-align not proper.

## Expected result

" | " symbol should be vertical-align proper.

#

[2020-02-02 09:56] hitendra-wagento opened #6530 "DocBlock standard"
# Bug report

Correction of Article and Spelling incorrect.

## Description

On this page
https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html

Following these standard is optional for third-party Magento
In **this sentences** or **these standard** should be these standards or it should be this standard.

Formatting according phpDocumentor standard
In this senten

[2020-02-03 15:05] afzal24 opened #6534 "Feedback on page: /guides/v2.3/install-gde/system-requirements.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2020-02-03 15:16] gibbotronic opened #6535 "Clarify behavior of plugins in Plugins (Interceptors) topic"
# General issue
Plugins do not replace functionality. https://devdocs.magento.com/guides/v2.3/extension-dev-guide/plugins.html

## Description:
The plugin guide states that plugins "substitute" behaviour of the original class. They do not. They merely call functions around it.
Calling functions around another function is not what the word "substitute" means, because the original function is still

[2020-02-03 20:51] atwixfirster commented on #6310
Hi, @burakswe !

The first point `1. Log in to Magento server as the file system owner.` on the [Migrate settings](https://devdocs.magento.com/guides/v2.3/migration/migration-migrate-settings.html) means that on the Magento server you have Magento 1 and Magento 2 installations.

Also please note, Magento 1 does not have a `bin/magento` tool.

Please let us know if you have any additional questions

[2020-02-04 05:55] milindsingh opened #6541 "Unable to run 'rake preview' on local"
# Bug report

## Description
`src/_data/codebase/v2_3/open-source/bin-magento.json): found unknown escape character while parsing a quoted scalar at line 1 column 200 (Psych::SyntaxError)`

### Steps to reproduce

1. Pull the code and run `bundle exec jekyll serve --incremental --trace` or `rake preview`

## Expected result
It should compile and run.

## Possible solutions

## Additional informati

[2020-02-04 07:44] milindsingh commented on #6535
Thanks @gibbotronic for pointing this out. I believe the plugin just modifies the behavior of the original method.
So, shall I replace the word `substitute` with `modifies` ? And add some extra description like:
`Plugins let you add extra functionality around existing functionality. They do not replace the original functionality.`

[2020-02-04 08:13] DenisSaltanahmedov commented on #6443
Hi @shrielenee
The PR of the issue https://github.com/magento/devdocs/pull/6517 is merged
Could you close the issue?
Thx.

[2020-02-04 10:44] gibbotronic commented on #6535
Yes please, that'd be great, thank you!

[2020-02-04 12:15] DenisSaltanahmedov commented on #5916
Hi, I am working on this issue.
@jeff-matthews could you please assign the issue to me? Thx.

[2020-02-04 13:33] shrielenee commented on #6443
Yes @DenisSaltanahmedov --- The trigger "Closes #6443" wasn't used so this didn't auto close. Thanks for the reminder!

[2020-02-04 13:34] #6443 closed

[2020-02-04 14:00] jeff-matthews commented on #5916
It's all yours @DenisSaltanahmedov! Thanks for helping out.

[2020-02-05 15:35] #6310 closed

[2020-02-05 18:20] keharper commented on #3687
This work has been completed in the course of completing other tasks.

[2020-02-05 18:20] #3687 closed

[2020-02-05 18:42] keharper opened #6564 "Describe how to add a custom attribute to GraphQL"
# New feature request

## Description

Devdocs covers how to create a query or mutation from scratch, but it doesn't describe how to add a custom attribute to an existing query or mutation. The processes aren't really that different, so this information would provide clarity.

General process:

1. Add a field to the DB. This process is beyond the scope of the topic. A link to the declarative schem

[2020-02-05 22:17] atwixfirster commented on #6413
@dobooth , I think we can resolve this issue because @vshcheglov did not provide any additional questions.

Thanks!

[2020-02-06 02:04] meker12 opened #6571 "Feedback on page: /cloud/live/live-prot.html"
# General issue

## Description:

Is the Protective Block feature still supported on Magento Cloud?

## Possible solutions:

I believe this topic is outdated and needs to be removed.

[2020-02-06 17:17] samshuai commented on #6541
+1
`root@dev:/data/wwwroot/doc.magentochina.org# jekyll build --trace/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:29: warning: constant Gem::ConfigMap

[2020-02-06 17:19] keharper commented on #6541
@dshevtsov Can you take a look?

[2020-02-06 19:19] #6534 closed

[2020-02-06 19:19] shrielenee commented on #6534
This PR form was not filled out.

[2020-02-06 19:25] shrielenee commented on #6528
@hitendra-wagento @hitesh-wagento This is a UX/design issue/decision. I am closing this one so we can investigate internally and fix the error. Thanks!

[2020-02-06 19:25] #6528 closed

[2020-02-06 19:28] jeff-matthews commented on #6528
The original design calls for a single pipe character to separate the core top-level categories from the Functional Areas and Tutorials categories. This is working as designed between Docs and UX.

[2020-02-06 19:30] shrielenee commented on #6529
This design decision was intentional, so I am going to close this for now. Please let us know if you have any questions!

[2020-02-06 19:30] #6529 closed

[2020-02-06 19:44] keharper commented on #3827
This was documented some time ago.

[2020-02-06 19:44] #3827 closed

[2020-02-06 20:51] dshevtsov commented on #6541
Waiting for #6579 and #6546 to be merged into master to continue.

[2020-02-06 22:09] dobooth commented on #6465
We added the note in [v2.3](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#php). With the current state of v2.2, anything left to be done with this issue, @jeff-matthews ?

[2020-02-07 00:23] jeff-matthews commented on #6465
No, since we no longer update the 2.2 docs, there's nothing to be done.

[2020-02-07 00:23] #6465 closed

[2020-02-07 09:20] slackerzz opened #6588 "Feedback on page: /guides/v2.3/javascript-dev-guide/widgets/widget_modal.html"
# General issue

## Description:

The code sample at the end of the page doesn't work and generates an error in console.
```TypeError: $ is undefined```

[2020-02-07 23:43] atwixfirster commented on #6535
That's not correct statement.

If you call a `callable` method in your plugin class then the original/parent method will be executed but if you do not do that then a parent method will be skipped.

Example with parent method call in the custom AROUND plugin:

[code]

Example when parent method WILL BE SKIPPED in the custom AROUND plugin:
[code]

I've attached a module -
[Vendor.zip](https://github

[2020-02-08 15:53] #6541 closed

[2020-02-10 09:56] drpayyne commented on #6588
I'm able to reproduce this and will submit a fix to the docs. Can you please assign this to me? @dobooth

[2020-02-10 11:01] gibbotronic commented on #6535
Perhaps after the warning "If the around method does not call the callable, it will prevent the execution of all the plugins next in the chain and the original method call." on the page, two examples could exist:
1. calling ```callable()```
2. NOT calling ```callable()```
to show the differences in outcome.

Also it isn't clear what happens if you don't call ```callable()`` - in Scenario B, if Plu

[2020-02-10 13:46] drpayyne commented on #6564
Hey @keharper, please assign this to me. I'd like to work on this!

[2020-02-10 15:22] keharper commented on #6564
It's yours, @drpayyne

[2020-02-10 18:07] #6588 closed

[2020-02-10 18:54] shrielenee commented on #4451
Hey @diazwatson --- Are you still planning to do more work on this?

[2020-02-10 20:20] diazwatson commented on #4451
Yes

[2020-02-12 19:28] dobooth commented on #5488
Fix is in for the UI change that will clarify this.

[2020-02-13 14:16] atwixfirster opened #6643 "Verifying Recommendations"
# Topic clarification/correction request

## Topic Link

[Verifying Recommendations](https://devdocs.magento.com/recommendations/testing.html)

## Description

I've a question about `environmentId` value on the next screenshot:

<img width="1296" alt="01" src="https://user-images.githubusercontent.com/13585327/74443652-375d6400-4e7c-11ea-87a9-8b1cb6eafaf5.png">

I am verifying context data on my M

[2020-02-13 18:10] jeff-matthews commented on #5253
There are still MD046 errors that we cannot fix. The mdl tool identifies code blocks inside nested lists as errors. For example:

[code]
[code]

[2020-02-13 18:25] jeff-matthews commented on #5253
No need to report this to the maintainers. It appears that it's already been reported and a PR is in place to fix it: https://github.com/markdownlint/markdownlint/pull/293. It's been open since Jan 11.

[2020-02-14 07:23] rasmuswikman opened #6657 "Feedback on page: /guides/v2.3/release-notes/release-notes-2-3-4-commerce.html"
# General issue

## Description:

Link to instructions for file naming convention for Custom Layout Update leads to information about email templates.

[2020-02-14 10:19] ilnytskyi opened #6659 "Clarify explicitly why "EAV indexer" should be enabled/disabled when different search engines are used"
# Topic clarification/correction request
When trying to get information why we should use ES search or Mysql search there is no exact explanation how EAV indexer affects those scopes
## Topic Link

https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/configure-magento.html
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexer-batch.html

## Description
Not that much inf

[2020-02-14 16:56] #6530 closed

[2020-02-14 17:43] dobooth commented on #6384
- _site/cloud/docker/docker-mode-production.html
  *  External link http://magento2.docker/ failed: response code 0 means something's wrong.
             It's possible libcurl couldn't connect to the server or perhaps the request timed out.
             Sometimes, making too many requests at once also breaks things.
             Either way, the return message (if any) from the server is: Couldn't

[2020-02-14 17:46] dobooth commented on #6384
Told Jeanne about the bottom release notes links.

[2020-02-14 19:44] #3361 closed

[2020-02-16 10:07] HeiderSati opened #6666 "Feedback on page: /guides/v2.3/javascript-dev-guide/javascript/js-resources.html"
# General issue

## Description:

Your code example under "Result" could never work, this is due to different names between the CLASS and what's being referenced under $().

Furthermore, on the < UL > you have class="my-list", however, inside the <script> you have $("my-list") instead... notice the difference (hyphen vs. underscore). causing your example not to work due to this error.

## Possible

[2020-02-18 12:40] DenisSaltanahmedov commented on #5916
Hi, @shrielenee the PR https://github.com/magento/devdocs/pull/6543 merged, could you please close the issue. Thx.

[2020-02-18 13:17] jeff-matthews commented on #5916
Thanks @DenisSaltanahmedov!

[2020-02-18 13:17] #5916 closed

[2020-02-18 16:44] #6657 closed

[2020-02-18 16:47] #6666 closed

[2020-02-19 10:39] xi-ao commented on #6414
@DrewML bump?

[2020-02-19 11:09] Jeeva-Rathinam opened #6679 "Feedback on page: /guides/v2.3/extension-dev-guide/intro/developers_roadmap.html"
# General issue
Link Not Working
## Description:
Link you given on the page not working.

 The Link : validation tool Under Distribute your component.

[2020-02-19 14:53] lenlorijn opened #6683 "Space in Custom Directive code does not work on Email Templates"
## Description:

The example of a new directive does not work in an upgraded 2.3.4 Magento.

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/templates/template-email-migration.html

## Possible solutions:

Either a part of the description is missing or the code should be made to work. I personally have not been able to make this work.

## Additional information:

I have created a direct

[2020-02-19 19:38] jeff-matthews commented on #5253
Looks like the fix just got merged, which is great!

Now the question becomes, will we be able to use it when they bump the package version with this fix? For example, I don't think we can currently use the latest release (`v0.8`), but I don't remember why... I think there's a reason we're stuck on `v0.7`.

Cc: @dshevtsov

[2020-02-19 19:41] dshevtsov commented on #5253
It still fails on `v0.8`, I have not investigated the reason yet.

[2020-02-19 20:00] benhath opened #6684 "Remove 404 links to MarketPlace tools repo"
Validation tool URL dead.

[2020-02-19 20:19] andrewbess commented on #6684
Also, this link exists in [this article in the Magento blog](https://magento.com/blog/marketplace/magento-20-extension-upload-validation-tool)

[2020-02-19 20:36] andrewbess commented on #6684
I think it would be better to use here the next text: **_"Use our feature "Magento coding standard" to check your package before you distribute it"_** and add the link to [Magento coding standard Github repository](https://github.com/magento/magento-coding-standard).
How do you think @dobooth ?

[2020-02-19 21:51] meker12 commented on #6571
Looks like this content is OK for now.

[2020-02-19 21:51] #6571 closed

[2020-02-19 23:01] dshevtsov commented on #5253
It doesn't fail in the merchdocs project by the way: https://github.com/magento/merchdocs/blob/master/Gemfile#L11

[2020-02-20 12:37] ihor-sviziev opened #6689 "Add information about required Apache configuration adjustment"
# General issue

## Description:

In the documentation there is no information that apache configuration requires also following parameter to be set for apache globally or in virtualhosts:
[code]

Context:
https://github.com/magento/magento2/issues/21353#issuecomment-588988384

Incorrect configuration causing following issues, and maybe more:
- https://github.com/magento/magento2/issues/8615
- htt

[2020-02-20 12:55] ihor-sviziev commented on #6689
In addition to that I see that also not shown that following modules need to be enabled:
- mod_expires - https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/pub/.htaccess#L172-L182
- mod_headers - https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/pub/.htaccess#L229-L233

[2020-02-20 16:17] sethsnel opened #6693 "Validation tool for packaged component"
## Topic Link

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/package/package_module.html

## Description

The link to the validation throws an 404. And I would like to validate a Magento 2 component. Where is the validation tool hosted?

## Possible solutions

Rectify link.

[2020-02-20 19:10] jcalcaben commented on #6693
Closing as a duplicate of #6684

[2020-02-20 19:10] #6693 closed

[2020-02-20 19:14] jcalcaben commented on #6643
@erikmarr is this related to what you are currently working on?

[2020-02-20 19:15] keharper commented on #6458
Closing due to lack of response.

[2020-02-20 19:15] #6458 closed

[2020-02-20 19:17] jcalcaben commented on #6679
Closing as duplicate of #6684

[2020-02-20 19:17] #6679 closed

[2020-02-20 19:23] #6413 closed

[2020-02-20 19:26] #1740 closed

[2020-02-20 19:28] abukatar opened #6697 "Feedback on page: /cloud/project/project-conf-files_magento-app.html"
# General issue
We have to emphasize that renaming an existing project is strictly discouraged.

## Description:
We have a client that complains that he lost project images due to the project renaming and there were no explanations of consequences in devdocs.
## Possible solutions:

Please change a notice:
"Do not change the name of an application after it has been deployed."
into a warning:
"Do n

[2020-02-20 20:57] erikmarr commented on #6643
Thanks @atwixfirster for your feedback! Because this content is specific to the EAP, we don't want to specifically mention the new version the user has to install in the docs. Rather, we will publish (on Slack) when we push new updates so users can run the following to update their install:
`composer update magento/product-recommendations --with-dependencies`
Admittedly, we have not yet made our E

[2020-02-20 20:57] #6643 closed

[2020-02-21 15:43] #6564 closed

[2020-02-24 13:54] u-maxx opened #6713 "Typo on the Service contract design patterns page"
# Topic clarification/correction request
There is a typo on the Service contract design patterns page

## Topic Link
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/service-contracts/design-patterns.html

## Description

**get(id)** | Performs a database lookup by ID.

is not correct, the correct method name is **getById(id)**
## Possible solutions
replace **get(id)**  by **getById(id)

[2020-02-24 15:59] #6713 closed

[2020-02-25 16:58] dobooth commented on #6684
Let's remove the links for now. We will have updated information for them later on.
Fix the same link on this topic. https://devdocs.magento.com/guides/v2.3/extension-dev-guide/prepare/dev-summary.html
Ready when you are, @andrewbess!

[2020-02-25 17:20] dobooth commented on #6684
Search show me:
src/guides/v2.3/extension-dev-guide/intro/developers_roadmap.md
src/guides/v2.3/extension-dev-guide/package/package_module.md
src/guides/v2.3/extension-dev-guide/package/package.md
src/guides/v2.3/extension-dev-guide/prepare/dev-summary.md

[2020-02-25 18:05] lenaorobei opened #6721 "Need to document the inheritance elimination for action controllers"
Need to document layer super type removal and the recommendations for extension developers.

https://github.com/magento/magento2/pull/26778 PR moves the dispatching of the `controller_predispatch` events into a plugin.
It also changes the plugins for `Action::dispatch()` method to `ActionInterface::execute()`.
Finally, it preserves the behavior in regards to the `NO_DISPATCH` and `NO_POST_DISPATCH

[2020-02-27 13:11] andthink opened #6735 "Declare a custom UI component topic needs updated code sample"
# General issue

Element 'component': This element is not expected. Expected is one of ( hidden, file, input, date, boolean, checkbox, checkboxset, email, colorPicker, select ).

## Description:

Seems that using the example provided conflicts with the given xsd
      xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd

## Possible solutions:
I'd like a working ex

[2020-02-27 13:43] andrewbess commented on #6684
Hello @dobooth
I have fixed it.
Thank you for your effort to find dependent pages.
I also tried to find the dependent pages using some different methods. There was not exist more.
Please take a look at [my PR](https://github.com/magento/devdocs/pull/6736).
Thank you in advance.

[2020-02-27 17:18] #6684 closed

[2020-02-27 19:19] dobooth commented on #6697
@meker12 FYI...

[2020-02-28 13:20] korostii opened #6745 "Feedback on page: /cloud/project/project-patch.html"
# General issue

## Description:

--
This is outdated as the command will produce an error on a local instance
[code]

## Possible solutions:

`php ./vendor/bin/ece-tools patch` command should be recommended instead

[2020-02-28 14:50] #6745 closed

[2020-02-28 16:58] meker12 commented on #5040
I'm closing this. The sub-title is showing up above the topic. Initially, it looked like a duplicate of the title. It would be good if it was a little smaller, but it's not a show-stopper.

[2020-02-28 16:58] #5040 closed

[2020-02-28 17:26] #6697 closed

[2020-03-01 12:29] atwixfirster commented on #6689
Added in the separate PR - https://github.com/magento/devdocs/pull/6755.

Thanks

[2020-03-01 14:00] jonashrem opened #6756 "Clarify minimal transaction isolation level"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#database

## Description

In https://github.com/magento/magento2/issues/8933#issuecomment-551520758 the option to set Isolation Level to READ-COMITTED was discussed as a workaround to a bug.

While #9756 was closed as workarounds should not be put in the Docs (

[2020-03-02 14:52] #6689 closed

[2020-03-02 21:45] dobooth commented on #1982
Hey @serhiyzhovnir  There is a good chance you have handled this one already. Any more updates need on this issue?

[2020-03-02 21:47] dobooth commented on #3396
Any action needed here as well, @serhiyzhovnir?

[2020-03-02 23:30] jeff-matthews commented on #6721
@lenaorobei, will this be backported to 2.3.5 or should we plan on publishing for 2.4.0 only?

[2020-03-03 10:47] paul-gene opened #6773 "Text UI Component Example incorrect"
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-text.html

The example on this page does not work.

[2020-03-03 10:48] paul-gene opened #6774 "Input UI Component Example incorrect"
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-input.html

The example on this page does not work.

[2020-03-03 15:18] lenaorobei commented on #6721
@jeff-matthews, 2.4.0 only.

[2020-03-04 15:05] #6773 closed

[2020-03-05 05:35] AnshuMishra17 commented on #6721
@lenaorobei What is the expected release date for Magento 2.4?

[2020-03-05 14:53] #6774 closed

[2020-03-06 17:20] dshevtsov opened #6807 "Move downloadables from the repository"
# New feature request

## Description

The repository contains large binary files linked in topics as downloadables such as images of proprietary formats and archives, that sufficiently enlarges the repository in size. It would be great to have them as just links like https://devdocs.magento.com/downloads to avoid tracking the huge files in git and adding them to each build.

## Expected result

1

[2020-03-06 19:11] jeff-matthews commented on #6807
@dshevtsov, I found several `.pdf`, `.psd`, and `.zip` files in the project that should be moved. Can you think of any other file types I should search for?

[2020-03-06 19:14] dshevtsov commented on #6807
`.ai`, `.sketch`
@dobooth maybe you can add more.

[2020-03-08 00:31] atwixfirster commented on #6535
`Plugin C` will be not triggered.

See the attached example -
[scenario_B_without_callable.zip.zip](https://github.com/magento/devdocs/files/4302666/scenario_B_without_callable.zip.zip)

[2020-03-08 00:32] atwixfirster commented on #6535
See the explanations in the next example -
[scenario_B_with_callable.zip](https://github.com/magento/devdocs/files/4302667/scenario_B_with_callable.zip)

[2020-03-09 18:45] jeff-matthews commented on #6807
I propose moving the binaries to a new object in our S3 bucket called `downloads/`. We do something similar on the `docs.magento.com` site for storing PDFs.

I'll create the new object on S3 and update links in a new devdocs branch to show how this will work.

We would need to update the devdocs production Jenkins pipeline to exclude the new object so it doesn't get deleted on subsequent deploymen

[2020-03-10 12:08] jeff-matthews commented on #6807
See DOC-120

[2020-03-10 12:26] denis-zyk commented on #6683
@lenlorijn I've just had the same issue after upgrading to 2.3.4, and after some debugging it all resolved to template directives having spaces inside of curly braces, e.g.:
`<div>{{ name }}</div>`
should be replaced with:
`<div>{{name}}</div>`.

[2020-03-10 14:14] dshevtsov commented on #6807
The discussion about internal implementation will be discussed in internal channels.
Any important highlights about affected content or changes in contribution workflows will be shared here.

[2020-03-10 17:11] lenaorobei opened #6830 "Need to document dashboard charts improvement"
# New topic request

## Description
Need to document dashboard charts improvement base on https://github.com/magento/magento2/pull/26923

Will be the part of 2.4.0 release.

## Content checklist

-  [ ] The topic provides an explanation of how ____ works.
-  [ ] The topic provides steps for ____.
-  [ ] The topic contains code samples that shows ____.
-  [ ] Other (please specify)

## Additional i

[2020-03-10 17:57] atwixfirster commented on #6830
I may be wrong but this ticket is a [MerchDoc](https://github.com/magento/merchdocs/) stuff.

[2020-03-10 18:05] lenaorobei commented on #6830
You are right, we should consider transferring it.

[2020-03-10 21:06] #6807 closed

[2020-03-11 07:20] PivitParkour94 commented on #1596
@andrewbess did you end up getting this finished? I've got a custom index running on schedule, but triggering it "on save" seems to require a lot more code digging. It would be awesome if there is a guide to point us in the right direction

[2020-03-11 12:41] jeff-matthews commented on #6830
Yes, this issue belongs in the magento/merchdocs repo. We don't have permissions to move issues between repos, so I just created a new issue in magento/merchdocs#403.

[2020-03-11 12:41] #6830 closed

[2020-03-11 14:09] dobooth commented on #6735
@serhiyzhovnir ?

[2020-03-11 14:14] dobooth commented on #6683
@nathanjosiah

[2020-03-12 18:03] #6535 closed

[2020-03-14 15:59] ioweb-gr opened #6864 "clarify usage of _extend.less in theme structure"
# Topic clarification/correction request
I just faced a misconception after reading the documentation about extending less files in the child theme by using `_extend.less` file.

By reading the documentation it is apparent to me that I can chain uses of _extend.less in child themes' children.

So if I have a structure like

mytheme
mytheme/mychildtheme which extends mytheme
mytheme/mychildtheme/my

[2020-03-15 18:02] sagar1dahiwala opened #6865 "Typo in the description of Pagebuilder->Extend a content Type -> step 3: Extend Forms - Extension forms."
# Topic clarification/correction request
I think there is a typo in the description of step 3: Extend Forms - Extension forms. The name of the form will be the same as the existing content type’s form. As per the given example in the document and codebase, that file name should be "pagebuilder_banner_form.xml" instead of "page-banner-form.xml"

## Topic Link
https://devdocs.magento.com/page-builde

[2020-03-16 10:22] felicianpopaevozon opened #6869 "Feedback on page: /guides/v2.3/frontend-dev-guide/validations/custom-validation.html"
# General issue

## Description:

This code doesn't work
## Possible solutions:

return value.split(' ').length == 5 ? true | false;
should be replaced with
return value.split(' ').length == 5 ? true : false;
## Additional information:

[2020-03-16 12:35] jeff-matthews commented on #6865
@bdenham, can you help with this one?

[2020-03-17 02:05] jeff-matthews opened #6880 "Feedback on page: /guides/v2.3/install-gde/prereq/connect-auth.html"
# General issue

Frequent errors with composer downloads

## Description:

Users frequently encounter errors downloading magento using composer for the following reasons:

- Outstanding invoice
- Keys created on the wrong account

## Possible solutions:

Explain these caveats

[2020-03-17 13:40] #6869 closed

[2020-03-18 12:59] hguthrie commented on #6067
This is not a problem with ece-tools package topic, per se, since that is a brief introduction on how to use ece-tools. This topic request seems to be about understanding the load balancer with the remote database cluster. I recommend this is an opportunity for a new topic, or new section to enhance the [MySQL service](https://devdocs.magento.com/cloud/project/project-conf-files_services-mysql.htm

[2020-03-18 13:44] #6880 closed

[2020-03-19 14:31] #6683 closed

[2020-03-20 02:20] hieudmg opened #6896 "Feedback on page: /guides/v2.3/extension-dev-guide/cli-cmds/cli-howto.html"
# The guide is not working on Magento 2.3.3

I followed the guide to add command line to my newly installed Magento 2.3.3 instance. When run `bin/magento setup:upgrade` or `bin/magento setup:di:compile` or `bin/magento cache:clean` this error will be shown:

[code]

After add `$this->setName("anything");` in `configure()` function the error is gone.

The code in the guide and sample module have to

[2020-03-20 14:19] #6507 closed

[2020-03-21 08:51] atwixfirster commented on #5954
@shrielenee , regarding to @rogyar [comment](https://github.com/magento/devdocs/pull/6012#discussion_r347417960) we can close this issue because profiler is not depend on deployment mode and works in all modes.

Thank you!

[2020-03-23 12:10] shrielenee commented on #5954
Per @rogyar explanation and @atwixfirster this is no longer an issue. Will close.

[2020-03-23 12:11] #5954 closed

[2020-03-23 22:10] atwixfirster commented on #6896
There are two ways how you can define a name of your custom command:
- via `di.xml`:

[code]

- in the `configure()` function:

[code]

I will update a tutorial.

[2020-03-23 22:12] jeff-matthews commented on #6896
Thanks @atwixfirster!

[2020-03-24 03:10] hieudmg commented on #6896
@atwixfirster thanks but the xml way is not working for me. I copy-pasted the code from the guide and the error showed up.

[2020-03-24 08:37] atwixfirster commented on #6896
Does your custom Command class have a `__construct()` method? If yes then you need to put a `$name` into a parent `__construct()`. For example:

[code]

If your custom Command class does not have a `__construct()` method then it should work:
[code]

[2020-03-24 09:41] dverkade opened #6912 "PHP Extension ext-sockets not in requirement list"
# Bug report

## Description

Magento requires the following library: php-amqplib/php-amqplib this requirement is listed in the root composer.json of Magento here: https://github.com/magento/magento2/blob/2.4-develop/composer.json#L45

This library required the PHP extension "ext-sockets" since 2018. However this extension is not listed in the required PHP extension list in the documentation.

The

[2020-03-24 14:32] #6896 closed

[2020-03-25 10:11] atwixfirster commented on #6912
Fixed in https://github.com/magento/devdocs/pull/6922.

Thank you for reporting, @dverkade

[2020-03-26 19:45] bdenham commented on #6865
hey @sagar1dahiwala, you are correct. It should be `pagebuilder_banner_form.xml`. Thanks for catching that. I will fix it soon with a PR and update you when done.

[2020-03-26 19:57] bdenham commented on #6865
PR has been created for this issue. It will be fixed in the docs soon. Thanks again for catching that!

[2020-03-26 19:57] #6865 closed

[2020-03-27 12:50] bdenham commented on #6865
@sagar1dahiwala fixed now :) https://devdocs.magento.com/page-builder/docs/extend-existing-content-type/step-3-extend-forms.html#extension-form

[2020-03-27 13:21] MarkADurham opened #6939 "Feedback on page: /cloud/docker/docker-config.html"
# General issue

## Description:

This document has a whole section about setting the launch mode to "Developer mode", but according to this page (https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-mode.html#change-to-developer-mode) "Magento Commerce Cloud supports production and maintenance modes only." Although I have configured docker to use developer mode accordin

[2020-03-27 14:10] serhiyzhovnir commented on #6735
@dobooth Please, assign this issue to me.
I will handle it soon.
Thank you!

[2020-03-27 15:31] MarkADurham commented on #6939
Well, I have learned a bit more about this since posting this feedback. It turns out that, yes I am seeing my local deployment set to production mode ("INFO: Set Magento application mode to 'production'"), and if I run **bin/magento deploy:mode:show** it does say "Current application mode: production." But it also says "(Note: Environment variables may override this value.)" And running **printenv

[2020-03-27 15:31] #6939 closed

[2020-03-27 18:01] dobooth commented on #5185
Fixed in https://github.com/magento/devdocs/pull/6681

[2020-03-27 18:01] #5185 closed

[2020-03-27 18:10] dobooth commented on #3187
Hey @nuzil, is this just a matter of removing the data-hash from the code example?

[2020-03-27 18:14] dobooth commented on #3396
There have been a lot of updates to the UI Component docs since this issue was filed. Please open a new issue if there are still gaps in the docs.

[2020-03-27 18:14] #3396 closed

[2020-03-27 18:20] tscoffield opened #6942 "Clarify which directories are synced in staging/prod clusters"
# General issue
Clarification on what directories are synced on a pro environment

## Description:

https://devdocs.magento.com/cloud/architecture/pro-architecture.html#production-technology-stack
https://devdocs.magento.com/cloud/project/project-conf-files_magento-app.html#mounts
https://devdocs.magento.com/cloud/project/log-locations.html

The above links describe where to find logs and which lo

[2020-03-27 18:36] ccondra commented on #2743
This issue has been addressed.

[2020-03-27 18:36] #2743 closed

[2020-03-27 19:02] dobooth commented on #2078
I think it is clear on a close reading.
Imports: X has a property 'visible' that it imports from Y. When Y.visible('show') changes to 'hidden', X will import that new value and will be hidden.
Listens: When the 'visible' value for X is changed at all, it kicks off a method that does something.

[2020-03-27 19:04] meker12 commented on #2387
Addresses added here: https://devdocs.magento.com/cloud/cdn/configure-fastly.html#dns

[2020-03-27 19:04] #2387 closed

[2020-03-27 19:05] #2078 closed

[2020-03-27 19:11] dobooth commented on #1982
Serhiy has done extensive rework on all/most of the UI Components. He provides a working sample for each. Please file a new issue if there is a gap in documentation.

[2020-03-27 19:11] #1982 closed

[2020-03-27 19:41] dobooth commented on #1727
@Vinai If you can make a PR with a suggested improvement to the Technical Guidelines, we can get the architects to start arguing over it and get some clarification. It is def a confusing statement.

[2020-03-29 15:46] linhtv97 opened #6948 "order cart with payment method by "paypal_express""
When making payment by paypal in magento pwa, when considering setPaymentMethodOnCart with the following payment_method method: "paypal_express" I proceed with the order by mutation: {placeOrder (input: PlaceOrderInput): {PlaceOrderOutput}}
but the result returns Invalid token (# 10410: Invalid token). In my opinion, especially when the user has paid, there is "payer_id" so how to order with the p

[2020-03-29 17:43] atwixfirster commented on #6948
Hi, @linhtv97 !

Did you try to use [createPaypalExpressToken](https://devdocs.magento.com/guides/v2.3/graphql/mutations/create-paypal-express-token.html)?

[2020-03-29 20:01] keharper commented on #6948
@linhtv97 Your screenshot doesn't show what mutations you ran before `placeOrder`. If [PayPal Express Checkout payment method](https://devdocs.magento.com/guides/v2.3/graphql/payment-methods/paypal-express-checkout.html) doesn't answer your question, then there is a technical issue, and you should ask on the graphql channel on Engcomm Slack. https://magentocommeng.slack.com/archives/C8076E0KS

[2020-03-29 20:08] linhtv97 commented on #6948
hi @atwixfirster
I have followed and created the url, but when paying with that url it all fails to show the payment form and manually redirect to the magento page, maybe when creating the url token information is not enough

[2020-03-29 20:13] linhtv97 commented on #6948
@keharper
mutation I ran before include:
+ create emty cart
+ add product into cart
+ set payment method is "paypal_express"
+ set email because owner of cart is guest
+ placeOrder ( error 10410 invalid token )
![image](https://user-images.githubusercontent.com/48935244/77859548-50f01a80-7234-11ea-99df-446fbb6838c6.png)
![image](https://user-images.githubusercontent.com/48935244/77859580-70874300-

[2020-03-30 02:58] keharper commented on #6948
@linhtv97  Your `setPaymentMethodOnCart` mutation doesn't include the proper payload. Make sure that you're following the procedure described in "PayPal Express Checkout payment method", linked above. Also, make sure the `return_url` value in the `createPaypalExpressToken` is an actual page.

[2020-03-30 07:28] linhtv97 commented on #6948
@keharper
Is there a way to return_url will return to pwa page rather than back to magento's back end url
![image](https://user-images.githubusercontent.com/48935244/77885
919-22a12800-7292-11ea-8f4a-995ef9cf93e3.png)

when payment finish t want it back page pwa studio but it back to font_end magento
![image](https://user-images.githubusercontent.com/48935244/77886192-9e9b7000-7292-11ea-9182-815e0

[2020-03-30 13:47] keharper commented on #6948
It sounds like you're looking to combine steps 3 & 4 of the PP EC workflow, and that's beyond the scope of the documentation. Please ask your question on the #graphql or #pwa channel on the Engcomm Slack. [Sign up](https://opensource.magento.com/slack) here.

[2020-03-30 13:47] #6948 closed

[2020-03-31 08:59] Vinai commented on #1727
@dobooth Magento is built around composer and these usage guidelines, and changing them would probably have far reaching effects. I don't think that's a fight I want to pick.
Instead, I'll just continue to educate external companies to not follow the Magento guidelines, and use more practical approach for their own code instead.
Core contributions of course would still need to follow the official

[2020-03-31 13:05] serhiyzhovnir commented on #6735
**Update**
I was able to reproduce the issue with the example from this page: https://devdocs.magento.com/guides/v2.3/ui_comp_guide/howto/new_component_declaration.html#example-creating-a-custom-secondary-not-basic-component.
The code of the error:

[code]

I will proceed with the investigation and I will keep you posted here.

Thank you!

[2020-03-31 14:21] #2370 closed

[2020-03-31 14:47] #6912 closed

[2020-03-31 16:59] dshevtsov commented on #1727
@buskamuza @paliarush could you please help to clarify technical guidelines?

[2020-03-31 17:02] #6384 closed

[2020-04-01 15:06] jeff-matthews opened #6966 "Support custom devdocs tooling in Docker"
# New feature request

## Description

A contributor added steps for using the official Jekyll Docker image to build the devdocs project locally. However, the devdocs project uses custom rake tooling and plugins that may not be supported in the official Docker image.

## Expected result

All rake tasks and plugins work as expected in a Docker container.

## Benefits

Contributors can run all rake

[2020-04-01 16:02] dobooth commented on #5488
I have updated supported ES version numbers in 2.3.5 and 2.4. More work will need to be done around MySQL. Closing for as Fixed.

[2020-04-01 16:02] #5488 closed

[2020-04-01 21:15] dsmithhayes opened #6970 "Need more examples for utilizing custom cache type"
# General issue

## Description:

Lack of examples on how to utilize the custom Cache Type.

## Possible solutions:

Include an example class (Repository, Model, Block, etc) that utilizes the new Cache Type. Examples may include how to save, how to load, how cleaning works, and how to remove the data from the cache.

Also, it may be valuable to show how a cache type can save/load/clean/remove mult

[2020-04-02 00:14] styler3 opened #6971 "Container section `label` has insufficient description"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_cont

## Description

In the table of container attributes, the description for `label` is incorrect. The current description says:

This attribute has no effect on the final rendered HTML.

## Possible solutions

Update the de

[2020-04-02 14:17] jeff-matthews opened #6972 "Install JDK on Ubuntu instructions do not work"
# Bug report

## Description

In the Install and configure Elasticsearch topic, the instructions for [installing JDK on Ubuntu](https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html#install-prereq-java-ubuntu) don't work.

### Steps to reproduce

1. Spin up an Ubuntu 18 VM.
1. Follow the [instructions](https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch

[2020-04-02 14:37] jeff-matthews commented on #6972
Using this command appears to install JDK, but I haven't tested it with the entire Elasticsearch setup instructions for Magento.

[code]

[2020-04-02 17:34] milindsingh commented on #6972
WebUpd8 team's PPA has been discontinued effective from April 16, 2019. Thus this PPA doesn't have any Java files. More information can be found on PPA's page on Launchpad. Hence this method no longer works and exists because of historical reasons.

Reference:
https://launchpad.net/~webupd8team/+archive/ubuntu/java

I can update the doc with default-sdk (open-jdk) command.

[2020-04-02 18:01] jeff-matthews commented on #6972
Sounds good. Thanks @milindsingh.

[2020-04-02 18:25] shrielenee commented on #3412
@Vinai is correct here, these are not Magento-specific. Please feel free to submit a PR with the external resources you mentioned @df2k2 to the Community resources section Lori mentions above.

We are closing this issue, as we will not document these in Magento documentation.

[2020-04-02 18:25] #3412 closed

[2020-04-02 18:34] hguthrie commented on #6942
We do mention this for the scaled architecture. https://devdocs.magento.com/cloud/architecture/scaled-architecture.html#log-locations

[2020-04-02 18:45] dobooth commented on #1707
@akaplya Any suggestions here for best practices?

[2020-04-02 18:47] shrielenee commented on #1707
Thank you for your feedback @gamort! It doesn't seem like your issue is related to Magento DevDocs documentation, but is instead related to engineering/architecture processes. We have pinged an internal resource, in case this warrants being addressed on that side.

Thanks for taking the time to create a GitHub issue for docs improvement! If you feel this IS something we can help address, please fe

[2020-04-02 18:47] #1707 closed

[2020-04-02 18:51] dobooth commented on #1721
We should document how it is currently working. The URL params are ignored and overwritten by the POST data.

[2020-04-02 18:54] shrielenee commented on #6011
@lfolco A little late to the party but we can definitely get you started on this. Assigning... let us know if you want us to UNassign you. 😄

[2020-04-02 18:56] shrielenee commented on #2609
@bdenham Any news? 📰

[2020-04-02 18:58] shrielenee commented on #2427
Whaddup @serhiyzhovnir? You working on this?

[2020-04-02 19:02] hguthrie commented on #1786
Adding the corresponding internal tracking: MCLOUD-1620

[2020-04-03 13:58] #6972 closed

[2020-04-04 00:42] atwixfirster commented on #6971
Hi, @styler3 !

Good point from your side. Container's `label` attribute describes the purpose of `container`.

I've fixed a current explanation in https://github.com/magento/devdocs/pull/6984.

Thanks!

[2020-04-04 17:53] #1721 closed

[2020-04-04 21:47] dobooth commented on #6971
Fixed in #6984

[2020-04-04 21:47] #6971 closed

[2020-04-05 05:42] jeff-matthews commented on #6721
Thank you @lenaorobei! We will need a technical resource to help us with this, Do you have a recommendation?

[2020-04-05 15:27] lenaorobei commented on #6721
Sure @jeff-matthews! You can ping me or @lbajsarowicz.
This blog post might be helpful as well https://community.magento.com/t5/Magento-DevBlog/Decomposition-of-Magento-Controllers/ba-p/430883

[2020-04-05 15:34] lbajsarowicz commented on #6721
It's been covered already.

[2020-04-06 06:54] kweij opened #6991 "Add info about implementing or changing private content using customer-data.js"
# General issue

This page does not give me information about how to implement, change or use private content using `customer-data.js`.

## Description:

It starts of with "This example displays a customer’s name on a cacheable page", but that's not happening anywhere on the pages. Currenty this pages contains alot of links to files as examples, but doesn't describe the working of the files or the

[2020-04-06 13:09] jeff-matthews commented on #6721
Thanks @lbajsarowicz!

[2020-04-06 13:09] #6721 closed

[2020-04-06 19:03] meker12 commented on #6482
The log handlers topic already states that the log forwarding is for build and deploy actions:

![image](https://user-images.githubusercontent.com/6391769/78594919-bc2a8580-780e-11ea-873e-60060655538b.png)

However, in the log locations topic, there is a link to the logging handler topic that doesn't clarify that you  configuring slack and email is for build and deploy actions only, which might co

[2020-04-07 14:44] dobooth commented on #5321
Any updates here, @jeff-matthews ?

[2020-04-07 14:55] jeff-matthews commented on #5321
I've spoken to engineering and we're still trying to figure out what we want to publish for the next minor release (2.4.0).

[2020-04-07 18:20] #6482 closed

[2020-04-07 21:41] Giuliano69 opened #7007 "Magento 2.3 (&2.2) Set up multiple websites, stores, and store views in the Admin"
# Bug report
typo from old version  in  "Step 7: Change the default store view base URL"
## Description
at point  5 ,  a  wrong domain name is given in the URL
`“Enter the **http://mysite.mg** URL in the Base URL and Base Link URL fields.”`
The given domain name mysite.mg has no relation with the current example (magento.mg)
It is perhaps a typo from a 1.x realese....

### Steps to reproduce

1. F

[2020-04-08 09:37] hostep commented on #6325
This was fixed in #6402, thanks @karyna-tsymbal-atwix!

Closing issue.

[2020-04-08 09:37] #6325 closed

[2020-04-08 09:45] hostep opened #7008 "Incorrect title for the page which explains the queue consumer configuration"
# Bug report

## Description

When I search the devdocs for 'lock provider', I expect the first result to take me to https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-subcommands-lock.html, but it takes me to https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-subcommands-consumers.html instead.

This is probably because the title of that second pa

[2020-04-08 21:16] #7008 closed

[2020-04-09 06:20] hostep commented on #7008
Thanks @dobooth !

The search still returns that page you fixed when searching on 'lock provider', I assume the content hasn't been reindexed yet?

[2020-04-09 18:18] meker12 commented on #7007
@Giuliano69 Can you provide the link to the topic that requires update. Thanks!

[2020-04-09 21:01] keharper commented on #7007
It's https://devdocs.magento.com/guides/v2.3/config-guide/multi-site/ms_websites.html

[2020-04-12 09:51] ioweb-gr opened #7029 "for text column in db_schema the attribute 'length' is not allowed."
# Bug report

https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/db-schema.html
In the docs it suggests that we can use length attribute for text column nodes however it doesn't seem to be the case as magento 2 throws an error.

Element 'column', attribute 'length': The attribute 'length' is not allowed.

## Description

Currently in the docs it mentions that we can use

[2020-04-14 11:20] tonicc opened #7032 "Blackfire Cloud Integration page is missing"
# Bug report

## Description

Blackfire Cloud documentation page is missing: https://devdocs.magento.com/cloud/project/project-integrate-blackfire.html

### Steps to reproduce

1. Access https://devdocs.magento.com/cloud/project/project-integrate-blackfire.html
2. You'll get HTTP 404 Page Not Found

## Expected result

1. Access https://devdocs.magento.com/cloud/project/project-integrate-blackfire

[2020-04-14 14:10] meker12 commented on #7032
Blackfire is no longer integrated with Magento Commerce Cloud. You can still use Blackfire.io with Magento projects, but you must have your own account and use the documentation provided by Blackfire. See the [Blackfire site](https://blackfire.io/magento) for information.

[2020-04-14 14:10] #7032 closed

[2020-04-14 15:38] amarroni opened #7033 "Feedback on page: /recommendations/install-configure.html"
# General issue
Reviewing how to use this functionality I found link under configuration step not working.

## Description:
Under the step **Configure Product Recommendations** the link to _specifying the API Key and selecting a SaaS Environment_ show Page not found.

## Possible solutions:
Update the link with the correct page path.

## Additional information:
Here is screenshot showing the URL p

[2020-04-14 15:40] jeff-matthews commented on #7033
Assigning to @erikmarr to investigate.

[2020-04-16 10:38] atwixfirster commented on #7029
Good catch, @ioweb-gr !

When you use a `TEXT` type for a column you don’t have to specify a storage length like for `CHAR` and `VARCHAR`.

Fixed in https://github.com/magento/devdocs/pull/7045.

Thanks

[2020-04-16 15:25] meker12 commented on #6411
Information about New Relic has not been added. Will close ticket when that task has been completed.

[2020-04-16 15:59] #7029 closed

[2020-04-17 13:09] jeff-matthews opened #7051 "Add note about recommendation to put site in main mode and disable cron"
# General issue

It would be great to update https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-index.html with a notice saying that before switching indexer mode, it is recommended to put your website to the maintenance mode and disable cron. Doing so will ensure you don't have database locks.

## Additional information:

Originally reported by @almarchenko.

Please r

[2020-04-19 11:00] ioweb-gr opened #7059 "clarifications about filterProcessor when searching with repositories"
# General issue
I think there needs to be a clarification about the different types of FilterProcessors in Magento 2 and their appropriate usage at: https://devdocs.magento.com/guides/v2.3/extension-dev-guide/searching-with-repositories.html#filter-processor

## Description:

Currently there is only a generic paragraph about the FilterProcessors pointing to `Magento\Framework\Api\SearchCriteria\Co

[2020-04-19 17:01] LiamKarlMitchell opened #7060 "Explain how to upload images to configurable product"
# General issue

The tutorial example shows how to create a configurable product, but does not show how to upload images to it as well.

## Description:

How can we upload the product images with the bulk API?

Related question on magento stack exchange.
https://magento.stackexchange.com/questions/310766/import-update-create-products-in-bulk-with-async-api-with-product-images-and

[2020-04-20 14:52] benmarks opened #7063 "Feedback on page: /cloud/setup/first-time-setup-import-first-steps.html"
# General issue

## Description:
Unencoded link in [SSH access to cloud environments](https://devdocs.magento.com/cloud/setup/first-time-setup-import-first-steps.html#ssh) section

![image](https://user-images.githubusercontent.com/2141138/79765733-00308680-82f5-11ea-8885-2d9d78c03e19.png)

## Possible solutions:

## Additional information:

[2020-04-20 16:42] #7063 closed

[2020-04-20 18:32] #6452 closed

[2020-04-20 20:47] okorshenko opened #7068 "Test issue"
# Bug report

## Description

### Steps to reproduce

1. First Step
1. Second Step
1. Etc.

## Expected result

## Possible solutions

## Additional information

[2020-04-20 20:47] okorshenko commented on #7068
@magento I am working on this

[2020-04-20 20:49] #7068 closed

[2020-04-20 20:56] okorshenko opened #7069 "Update Contributor Assistance Documentation on issue self-assign automation"
Type of Doc:

-  [ ] New topic
-  [x] Topic Update, Devdoc link: https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#contributor-assist

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [ ] New REST endpoints or updated GraphQL query syntax?
-  [ ] New command line option?

## Content

Update Contributor Assistance Documenta

[2020-04-20 20:56] okorshenko commented on #7069
@magento I am working on this

[2020-04-21 13:22] jfvalois opened #7071 "Feedback on page: /cloud/env/environments-start.html"
# General issue

## Description:

US-5 is not listed in the incoming and outgoing IPs for integration.

## Solution:

Add US region 5 IP address information for Integration environments:

Region 5:

Incoming IP addresses: 50.112.160.58, 54.213.195.223, 35.163.170.185
Outgoing IP addresses: 54.70.238.217, 52.88.113.98, 52.36.188.230

[2020-04-21 16:49] keharper commented on #7060
@LiamKarlMitchell

We need a topic that discusses creating products in detail. The configurable products tutorial is a start, but's it's lacking details about things like the media gallery, product links, stock items, etc. I've shied away from media gallery in particular, because converting an image to base64 makes any sample too long to read. In the real world, you'd call some method that convert

[2020-04-21 17:36] keharper commented on #7060
You can review this [functional test](https://github.com/magento/magento2/blob/2.3/dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductAttributeMediaGalleryManagementInterfaceTest.php) to get other ideas on how to add media gallery items.

I'd like to ask you to rewrite the description of this issue, requesting that we fully document how to create simple and download products. (Or maybe

[2020-04-21 18:43] #7007 closed

[2020-04-21 22:51] okorshenko opened #7074 "Add Documentation about severity and priority of Issues"
On magento/magento2 project there are lots of issue reports and pull requests in the queue. It is clear, that all these submissions can't be processed immediately. At the same time, these contributions bring different value to the product and community. Thus, it is important to stay focused on the most critical issues and pull requests and make sure that they are addressed in time. Less critical i

[2020-04-22 14:42] amarroni opened #7077 "Feedback on page: cloud/configure/setup-cron-jobs.html | link to support articule no allow access"
# Bug report

## Description
Reset stuck cron jobs manually on the cloud link re-direct you to a support ticket article but It's like special access needed to see the content.

### Steps to reproduce

1. go to <https://devdocs.magento.com/cloud/configure/setup-cron-jobs.html>
1. On bottom of the page offer 2 links to continue reviewing corns
1. click on 'Reset stuck cron jobs manually on the cloud

[2020-04-22 14:44] amarroni commented on #7033
Seen to be working right now the link!

Thank you! I'm closing the issue.

[2020-04-22 14:44] #7033 closed

[2020-04-22 18:21] #7069 closed

[2020-04-22 19:22] ioweb-gr opened #7081 "textarea uicomponent example seems to be problematic"
# Topic clarification/correction request
It seems the example provided is not working correctly.

## Topic Link
https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-textarea.html#integrate-the-textarea-component-with-the-form-component

## Description

When declaring the component like the example in ui componet form on 2.3.4

[code]

I get this result
![image](https://user-images.g

[2020-04-23 18:23] dshevtsov commented on #7077
@almarchenko can you help with this?

[2020-04-23 18:28] almarchenko commented on #7077
@dshevtsov  this article is unpublished, that is why it cannot be accessed. We are now trying to understand if it was intended or mistake.

[2020-04-23 19:20] almarchenko commented on #7077
Was unpublished by mistake, fixed now.

[2020-04-23 19:24] almarchenko commented on #7077
@amarroni  thank you for reporting this.

[2020-04-23 19:26] meker12 commented on #7077
Thanks for the quick fix @almarchenko!

[2020-04-23 20:04] amarroni commented on #7077
It was a pleasure!

[2020-04-23 20:04] #7077 closed

[2020-04-24 14:13] #7081 closed

[2020-04-24 22:18] Januszpl opened #7092 "Correction for Accessing js resources in JavaScript resources in Magento"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/javascript/js-resources.html#accessing-js-resources

## Description

Example nr 2 in Accessing js resources need to be corrected as it is wrong.

## Possible solutions

**Replace this:**

**With:**

Changed path in "File published to..." and path to file in require dependency array.

[2020-04-25 03:52] WileESpaghetti opened #7093 "Clarify attributes on Message config topic"
# General issue

Topic: https://devdocs.magento.com/guides/v2.4/extension-dev-guide/message-queues/config-mq.html

## Description:

In the section about `communication.xml` the document should go into a bit more detail about the difference between the `schema` and `request` attribute of `<topic>`. They both seem to be a way to encode message data and online tutorials seem to randomly choose one.

[2020-04-26 19:48] atwixfirster commented on #7092
Good catch , @Januszpl !

**fixed** in https://github.com/magento/devdocs/pull/7097

Thank you!

[2020-04-28 07:09] hostep commented on #7051
@almarchenko: can you give a bit more information where this is coming from?

We are seeing this is becoming required after upgrading to 2.3.5 but we are not sure yet why this suddenly is changed (it wasn't needed in our case on 2.3.4 and lower)?

See https://magentocommeng.slack.com/archives/C4YS78WE6/p1587562804354300 for the full details

[2020-04-28 07:15] hostep opened #7108 "Describe being able to disable cron runs using the env.php file"
# Topic clarification/correction request

## Topic Link

[env.php reference](https://devdocs.magento.com/guides/v2.3/config-guide/prod/config-reference-envphp.html)

## Description

Magento [added](https://github.com/magento/magento2/commit/2fc966cb4ef8c2e57a94a2c354395d91153dfa82#diff-3b1d99500263280e4b5e03e820785782R90-R93) in version 2.3.0 (and 2.2.6) the ability to prevent cronjobs for being r

[2020-04-28 10:54] ioweb-gr opened #7110 "add an EOL table for community versions?"
# New feature request
Is it possible to add a section to the devdocs about support and updates and EOL for each magento 2 version?

## Description

I would like to see a table stating the various versions from 2.0 to 2.3 and the creation date / EOL date. I wasn't able to find it by searching the devdocs. It could be a part of the update guide perhaps?

## Expected result

Developers would be easil

[2020-04-28 13:12] jeff-matthews commented on #7110
Hi @ioweb-gr,

I recommend bookmarking this link: https://magento.com/sites/default/files/magento-software-lifecycle-policy.pdf

It describes the lifecycle for Magento release lines. There's a link to that document at the bottom of this devdocs page: https://devdocs.magento.com/release/policy/.

We also have this page on devdocs: https://devdocs.magento.com/release/.

It contains a [Patch schedule

[2020-04-28 18:16] mpchadwick opened #7114 "Document Elasticsearch 7 Suppport Feedback on page: /cloud/project/project-conf-files_services.html"
# General issue

## Description:

Elasticsearch 7 support was added in Magento 2.3.5. Currently it is not documented that ES7 is supported, nor which specific 7.X version is supported.

https://github.com/magento/devdocs/blame/c816c89fd607c211e0359d901adcc82273be857f/src/cloud/project/project-conf-files_services.md#L164

## Possible solutions:

Update file to clarify.

## Additional information:

[2020-04-28 18:17] mpchadwick commented on #7114
Also here: https://devdocs.magento.com/cloud/project/project-conf-files_services-elastic.html

[2020-04-28 18:20] jeff-matthews commented on #7114
We updated the system requirements here: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#technologies-magento-can-use.

I suppose the cloud docs need an update as well @meker12.

[2020-04-28 21:34] jeff-matthews opened #7116 "Feedback on page: /guides/v2.3/install-gde/system-requirements-tech.html"
# General issue

## Description:

It's not clear that the 2.3 docs describe requirements for the latest patch release of Magento 2.3.

## Possible solutions:

Add a note to this page explaining that is applies to the latest patch release of Magento 2.3.

[2020-04-29 04:34] atwixfirster commented on #7116
**done** in https://github.com/magento/devdocs/pull/7121

[2020-04-29 13:08] #7092 closed

[2020-04-29 17:27] #7116 closed

[2020-04-30 03:23] meker12 commented on #4093
Documentation the doc_root_is_pub option added in PR #7038. Closing this issue.

[2020-04-30 03:23] #4093 closed

[2020-04-30 16:11] #7108 closed

[2020-04-30 18:10] shrielenee commented on #7093
We will need some technical expertise here. Maybe an architect? 😺

[2020-04-30 20:15] #7114 closed

[2020-04-30 20:15] #6411 closed

[2020-04-30 20:15] #7071 closed

[2020-05-01 16:04] chris-brabender opened #7142 "Clarification on Varnish supported versions"
# General issue

Varnish support is unclear / defines an unsupported Varnish version
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

## Description:

The definition of Varnish support is not entirely clear between the technology stack requirements page, where Varnish support is listed as 4.x, 5.2 and 6.2 versus the [Varnish configuration page](https://devdocs.mag

[2020-05-01 16:05] chris-brabender commented on #7142
The 2.3.3 release notes dictate only 6.2.0 as supported - https://devdocs-beta.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-commerce.html#platform-upgrades

[2020-05-01 20:56] goivvy commented on #1465
Do you still need a tutorial on admin grids? I'm in the process of writing one and just wanted to make sure it's still needed.

[2020-05-03 06:11] ajithkumar-maragathavel commented on #6383
@magento I am working on this

[2020-05-04 12:44] jeff-matthews commented on #1465
Hi @goivvy,

Yes, I think this is still a valid need.

[2020-05-04 14:17] #7051 closed

[2020-05-04 17:20] goivvy commented on #1465
Alright then, I'll submit a PR when I'm ready.

[2020-05-04 19:33] #7074 closed

[2020-05-05 05:04] vijay-wagento opened #7156 "Wrong command listed to get environment list"
# Bug report
https://devdocs.magento.com/cloud/reference/cli-ref-topic.html
## Description
On this page https://devdocs.magento.com/cloud/reference/cli-ref-topic.html.
There is a command table magento-cloud list, the description says that it gives a list of the environment but I think this command will give a list of all command available through magento-cloud

magento-cloud list Description says

[2020-05-06 16:10] dshevtsov opened #7164 "Doctor jekyll reports conflicts"
# Bug report

[code]

## Description

`bin/jekyll doctor` reports about conflicts. Most of conflicts are caused by redirects, when a redirected page has more than one target.  A typical case is when _page A_ contains `redirect_from: C` and _page B_ contains `redirect_from: C`. In many cases, this may appear because 2.4 topics are created as symlinks of 2.3 topics. In such cases, the conflicts are

[2020-05-07 07:59] Tazaf opened #7168 "Markdown links in tables must be converted to HTML links"
# General issue

## Description:

Markdown links markup seems to not be converted correctly when in tables (see following excerpt of the page):

![image](https://user-images.githubusercontent.com/7702322/81269334-73eac700-9049-11ea-8d95-f6df991f6bc3.png)

[2020-05-07 16:09] hguthrie commented on #6245
Ah, yes. I think we might address this problem in the PR #7171
We shall see...

[2020-05-07 18:16] dobooth commented on #7168
markdown links within HTML tables will not get converted. Need to make the link HTML.

[2020-05-08 10:29] Tazaf opened #7182 "Feedback on page: /guides/v2.3/javascript-dev-guide/javascript/js-resources.html"
# General issue

## Description:

In the **JS resources location** section, some list items have a word surrounded by brackets (see following screenshot).

![image](https://user-images.githubusercontent.com/7702322/81397526-d1eddc00-9127-11ea-81dc-553057770b4c.png)

I suppose it was intended as a link markup but someone forgot to put the actual link after?

[2020-05-09 12:02] atwixfirster commented on #7182
Looks like yes.

Fixed in https://github.com/magento/devdocs/pull/7187

Thanks for reporting , @Tazaf

[2020-05-10 05:42] DatGoodArt opened #7188 "WorldProfit5789178"
# Bug report

## Description

### Steps to reproduce

1. First Step
1. Second Step
1. Etc.

## Expected result

## Possible solutions

## Additional information

[2020-05-10 05:43] #7188 closed

[2020-05-11 12:28] VenkataRamanaGandham opened #7189 "Contributions may be missing after DevDocs redesign"
# General issue

## Description:

My contribution is listed earlier on devdocs, after revamp of the design, my contribution is missing in. :
https://github.com/magento/devdocs/graphs/contributors

My Contribution PR:
https://github.com/magento/devdocs/pull/7150

Contribution link:
https://devdocs.magento.com/guides/v2.3/graphql/mutations/update-customer-address.html

## Possible solutions:

## Add

[2020-05-11 16:01] #7156 closed

[2020-05-11 19:11] #7182 closed

[2020-05-12 00:31] erfanimani commented on #4495
I can second this request. The instructions on running tests are quite confusing at the moment.

Is it for core code? Is it for custom code in app/code? Are you supposed to use the phpcs/phpunit commands or dev:tests:run? What's up with Magento ignoring `Magento2.Files.LineLength.MaxExceeded` when the Magento2 standard actually throws `Generic.Files.LineLength.TooLong`? Why is the Magento2 coding

[2020-05-12 14:34] neobiz opened #7204 "Category attribute values are not saved in Magento CE 2.3.4"
# General issue
The value is not saved on magento CE 2.3.4
## Description:
The new field is displayed on the backend, but when we modify the value and save the category then the value is not saved.
## Possible solutions:

## Additional information:
I also tested with a text attribute instead the booleab and the value is not saved.

[2020-05-12 18:58] jeff-matthews commented on #5321
We should definitely update this topic to clarify that it only applied to the 2.3.0 beta release onle and does not apply to 2.3.x patch releases. I don't think there's any value in changing the remaining statuses to green.

After several internal discussions, we decided to discontinue the component status page and will not publish it for 2.4.0 beta.

[2020-05-12 19:36] #5321 closed

[2020-05-14 18:15] keharper commented on #7142
@chernenm What versions of Varnish are supported in 2.3.5?

[2020-05-14 18:23] bdenham commented on #7168
Hey @Tazaf, thanks for reporting this.

[2020-05-14 18:36] chernenm commented on #7142
hi @keharper , we can say 6.x is supported and tested with 6.3.1

[2020-05-14 18:47] jeff-matthews opened #7219 "Feedback on page: /guides/v2.3/frontend-dev-guide/layouts/layout-create.html"
# General issue

## Description:

The code sample for creating a 3-cloumn double footer layout is incomplete because it declares an empty container for the footer content which needs to be designed.

According to the [description for containers](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_cont):

## Possible solutions:

Comple

[2020-05-14 20:24] #7142 closed

[2020-05-18 16:33] meker12 commented on #6245
So thinking that the article update which provides separate instructions for checking db-size on Integration and checking it on dedicated clusters (Pro Staging and Production_ might clarify the use of these commands.  @almarchenko Can you check the updated article:  https://devdocs.magento.com/cloud/project/manage-disk-space.html?

[2020-05-18 22:35] meker12 commented on #6942
https://devdocs.magento.com/cloud/project/log-locations.html#viewing-logs

![image](https://user-images.githubusercontent.com/6391769/82265956-f028b880-992d-11ea-93fc-4434d8677c45.png)

[2020-05-19 18:09] kennylawrence opened #7242 "Information about using grunt is unclear"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css_debug.html

## Description

Using "grunt watch", how does LiveReload work if your browser isn't run on the host? How do they communicate? Is this an environment under which this process works? The manual states in one place:

"grunt watch | Tracks the changes in the so

[2020-05-19 18:12] jeff-matthews opened #7243 "Feedback on page: /guides/v2.3/contributor-guide/contributing.html"
# General issue

## Description:

There's no info about how the contributor program applies to the magento/merchdocs project.

## Possible solutions:

Make the section apply to devdocs and merchdocs in general. Provide specific info for merchdocs where different from devdocs (e.g., labels).

https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#devdocs-awards-and-points

[2020-05-19 20:52] meker12 commented on #6942
This issue is addressed in updates from https://github.com/magento/devdocs/pull/7238

[2020-05-19 20:52] #6942 closed

[2020-05-20 08:22] Eddcapone opened #7251 "Enterprise/Commerce Support Site not working"
# Bug report

## Description

Sorry, not sure where to post this issue.
I want to notify you, that the support site is not working.

### Steps to reproduce

1. Login to your magento account.

2. Open Support site:
https://support.magento.com/hc/en-us/requests/new

Try to submit a ticket.

## Expected result

Everything works

[2020-05-20 14:43] #7168 closed

[2020-05-20 20:56] #7243 closed

[2020-05-21 03:13] palomaEcommistry opened #7260 "Technical error with code example in Widget Media Uploader"
# General issue

https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget-media-uploader.html

## Description:

I tried to replicate this on my local environment and it gives me an error:
`A technical problem with the server created an error. Try again to continue what you were doing`

I copied the HTML and JS exactly as they are in the explanation on my phtml file.

Is there a

[2020-05-21 18:12] dobooth commented on #7260
Hey @serhiyzhovnir Can you see anything amiss here?

[2020-05-21 18:17] meker12 commented on #7251
@Eddcapone can you be more specific about what's not working.  We'll tag our Magento KB team in this ticket for follow up.

If you don't see a "Submit a ticket" link, there is an article about that in the Magento Help Center:
[Submit a ticket link not displayed](https://support.magento.com/hc/en-us/articles/360020597871)

@almarchenko

[2020-05-21 18:19] dobooth commented on #7242
@dshevtsov Do you see anything amiss here?

[2020-05-21 20:11] dshevtsov commented on #7242
I'm not an expert in this.

[2020-05-22 03:04] mega667 opened #7266 "Feedback on page: /guides/v2.3/howdoi/checkout/checkout_zip.html"
# General issue

## Description:

There is an incorrect filename (`zip_code.xml`) in the 'Add custom ZIP code input masks' section. It should be `zip_codes.xml`.

## Possible solutions:

Update `zip_code.xml` to `zip_codes.xml`.

## Additional information:

![image](https://user-images.githubusercontent.com/3303991/82626891-ee255a80-9bb6-11ea-9dc9-ccae66cafc66.png)

[2020-05-22 13:41] #7266 closed

[2020-05-22 18:37] markshust opened #7271 "inconsistent recommendations for SKIP_SCD"
# Bug report

## Description

There are inconsistent recommendations when it comes to the `SKIP_SCD` variable.

On the deploy variables page https://devdocs.magento.com/cloud/env/variables-deploy.html#skip_scd it states:

However on the build variables page https://devdocs.magento.com/cloud/env/variables-build.html#skip_scd it states:

In one section is says "We recommend", in the other section it

[2020-05-22 20:55] meker12 commented on #7271
@markshust These variables can be a bit confusing, and the two descriptions that you mention don't help the situation.

So:

SKIP_SCD = true = do not build static content

SKIP_SCD = false = build static content

I think we could update the text like this to clarify:

**[Deploy variables page](https://devdocs.magento.com/cloud/env/variables-deploy.html#skip_scd)**

On the deploy phase, we recommen

[2020-05-23 16:33] markshust commented on #7271
@meker12 thank you so much for the info! that definitely makes a lot more sense. I'll make a PR with these updates.

[2020-05-25 11:03] nazaridak opened #7274 "Dead links on the Code Contributions page"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#combine-pr

## Description
When I researched the Code Contributions page I found several dead links on this page - https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#combine-pr.

For instance:
"To combine pull requests, a member of the [Commu

[2020-05-25 11:03] nazaridak commented on #7274
@magento I am working on this

[2020-05-25 11:15] nazaridak commented on #7274
Also,
if I'm not member of Magento Community Maintainers this https://github.com/orgs/magento/teams/open-source-maintainers/members link shows me 404 pages.

![image](https://user-images.githubusercontent.com/43548684/82807939-83fc0680-9e91-11ea-8747-34c357aeb567.png)

If I read this info the first time and I'm not familiar with the contribution this error confusing me.

[2020-05-26 01:57] aligent-lturner opened #7276 "Incorrect parameter specified for theme logo"
# Bug report

## Description

In the current documentation for creating a custom theme, the instructions for specifying a custom logo uses an incorrect parameter name, which means the logo will not be displayed.

### Steps to reproduce

1. Follow directions at https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/theme-create.html#logo_declare to specify a logo file other than `logo.sv

[2020-05-26 13:07] webgility-amazonapi opened #7280 "Not able to sync products cost using api /rest/V1/products/cost"
Hi Magento,

We are using magento version 2.3.0 community edition.
We want to sync the cost but we are not able to sync cost.
API : rest/V1/products/cost
Request : {"prices":[{"cost":100.0,"store_id":0,"sku":"Test Prdouct-104"}]}
Response : []

We are getting empty body in response. how can we solve this ?

[2020-05-26 13:22] nuzil commented on #7280
Hi @webgility-amazonapi
Can you please open an issue on Magento2 Repo?
https://github.com/magento/magento2/issues

Thanks

[2020-05-26 13:22] #7280 closed

[2020-05-26 18:31] #7276 closed

[2020-05-27 19:54] vlmironov opened #7297 "Need to clarify workflow for deploying static assets to production"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.3/config-guide/deployment/pipeline/

The Build System description is confusing.
This sentence: **"One system on which you deploy static assets and compile code for your production system."** doesn't make whole lot of sense because once you move the built assets to production environment you will need to flip magento to Product

[2020-05-27 22:10] #7271 closed

[2020-05-28 18:14] #7251 closed

[2020-05-29 19:36] hellotaran commented on #7189
@VenkataRamanaGandham What issue do you see? You contribution "," is there on the doc page. If you are looking for your name in the contributor list then it will show up if you fall under top 100. The list you are looking at is for top 100 contributors.

[2020-06-01 18:50] gideon-magento opened #7325 "Link Snapshop article with Cloud Role article"
# Topic clarification/correction request

## Topic Link

## Description

The Snapshots documentation should be updated to include that only Admin and Super Users  have the rights to create Snapshots. The docs probably should link to each other as well.
https://devdocs.magento.com/cloud/project/project-webint-snap.html
https://devdocs.magento.com/cloud/project/user-admin.html#cloud-role-project

##

[2020-06-01 22:11] goivvy commented on #1465
https://github.com/magento/devdocs/pull/7307

[2020-06-02 10:22] korostii opened #7332 "question regarding page: guides/v2.4/release-notes/release-notes-2-4-0-open-source.html"
## Description

https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html#frameworks

Linked issue and PR seem to be closed, is there a link to commits available for this change? It is not clear how does the behavior change, and it sounds like a backward-incompatible change.

[2020-06-02 10:26] PascalBrouwers opened #7333 "Feedback on page: /guides/v2.4/release-notes/release-notes-2-4-0-open-source.html"
# General issue

Duplicate sentence on release-notes-2-4-0-open-source

## Description:

Duplicate sentence

## Possible solutions:

Remove duplicate sentance:
[code]

## Additional information:

[2020-06-02 10:28] PascalBrouwers opened #7334 "Feedback on page: /guides/v2.4/release-notes/release-notes-2-4-0-open-source.html"
# General issue

Typo on release-notes-2-4-0-open-source.
"JavaScript magnification" should be: "JavaScript minification"

## Description:

Under the section Backend is a typo:
[code]

## Possible solutions:

replace `magnification` with `minification`

## Additional information:

[2020-06-02 15:53] jfrontain commented on #7334
Thanks, @PascalBrouwers -- really glad you caught that. I've entered the change while making other changes to these files. Thanks again.

[2020-06-02 15:53] #7334 closed

[2020-06-02 15:57] jfrontain commented on #7333
Thanks, @PascalBrouwers. I've entered this change in both versions of the notes while making other edits.

[2020-06-02 15:57] #7333 closed

[2020-06-02 16:41] jfrontain commented on #7332
@korostii, thanks for the feedback. I'm researching this right now.

[2020-06-02 17:43] dobooth commented on #1465
Nice work, @kunal1234gh !

[2020-06-03 14:30] Eddcapone commented on #7251
The site was just not loading. White screen.

[2020-06-04 05:04] MagentoJess opened #7346 "Feedback on page: /guides/v2.4/ext-best-practices/tutorials/custom-import-entity.html"
# General issue

404 page when searching https://github.com/magento/magento2/blob/2.4/app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php

## Description:

404 page when searching https://github.com/magento/magento2/blob/2.4/app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php

## Possible solutions:

Updated link.
## Additional information:

[2020-06-04 11:12] dobooth commented on #7346
Hi @MagentoJess. The 2.4  branch has not been released yet. You can find it on 2.4-develop. https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php

[2020-06-04 11:13] dobooth commented on #7346
I can update the link for now.

[2020-06-04 18:09] dobooth commented on #7325
Sound correct, @hguthrie ?

[2020-06-04 18:24] meker12 commented on #6245
@almarchenko Closing this issue based on recent update. If needed, open a new issue for any further updates required.

[2020-06-04 18:24] #6245 closed

[2020-06-06 12:48] mrs45p commented on #1719
- name: Setup JFrog CLI
  uses: jfrog/setup-jfrog-cli@v1.0.5

[2020-06-06 20:54] ksaandev opened #7361 "The URL for the website uses http instead of https"
# Bug report

## Description

Github repository magento/devdocs provides a link to website using http

## Possible solutions

Replace link with https, it's 2020 it's better to be secure 😄

## Additional information

HTTP redirects to HTTPS on magento/devdocs so visitors are secured, but it's even better for the image to use http instead of https

[2020-06-06 20:55] ksaandev commented on #7361
Screenshot
<img width="1040" alt="Capture d’écran 2020-06-06 à 22 53 04" src="https://user-images.githubusercontent.com/65755110/83954368-c4bc2e00-a848-11ea-89d3-b033e981a67a.png">

[2020-06-06 23:16] keharper opened #7363 "GraphQL: Add support for gift messages"
# Community engineering issue

Type of Doc:

-  [ ] New topic
-  [x] Topic Update, Devdoc link: multiple
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28519

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/28072

Magento 2 version:

-  [x] 2.4.1

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] N

[2020-06-07 02:15] keharper opened #7364 "GraphQL: Document password change mutations"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [x] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28521

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/27876

Magento 2 version:

-  [x] 2.4.0

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST e

[2020-06-07 02:48] keharper opened #7365 "GraphQL: Add support for gift wrapping"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [x] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28519

Magento 2 GitHub PR: https://github.com/magento/partners-magento2ee/pull/246

Magento 2 version:

-  [x] 2.4.1

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] N

[2020-06-07 07:29] atwixfirster opened #7366 "GraphQl. subscribeEmailToNewsletter. Mutation for subscribe feature."
# New topic request

## Description

Issue:
- https://github.com/magento/magento2/issues/27337

PRs:
- https://github.com/magento/architecture/pull/367
- https://github.com/magento/magento2/pull/27586

## Content checklist

-  [X] The topic provides an explanation of how ____ works.
-  [ ] The topic provides steps for ____.
-  [ ] The topic contains code samples that shows ____.
-  [ ] Other (plea

[2020-06-07 18:40] keharper opened #7367 "GraphQL: Document addProductsToCart mutation"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28524

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/27914

Magento 2 version:

-  [ ] 2.4.1

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST e

[2020-06-07 18:59] Art198 opened #7368 "Feedback on page: /cloud/bk-cloud.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2020-06-08 17:39] keharper opened #7373 "GraphQL: Add support for wish lists"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28551

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/28205

Magento 2 version:

-  [x] 2.4.1

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST e

[2020-06-08 17:51] keharper opened #7374 "GraphQL: Add support for compare lists"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28522

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/29047

Magento 2 version:

-  [x] 2.4.1

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST e

[2020-06-08 18:00] dobooth commented on #7361
Fixed! Thanks for the sharp eye, @ksaandev.

[2020-06-08 18:00] #7361 closed

[2020-06-08 22:15] keharper opened #7375 "GraphQL: Add support for Inventory In-Store Pickup"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [x] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/inventory/issues/2381

Magento 2 GitHub PR: https://github.com/magento/inventory/pull/2525

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST end

[2020-06-09 02:52] keharper opened #7376 "REST: Inventory In-Store Pickup endpoints"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issues:
https://github.com/magento/inventory/issues/2568
https://github.com/magento/inventory/issues/2365

Magento 2 GitHub PRs:
https://github.com/magento/inventory/pull/2751
https://github.com/magento/inventory/pull/2487

Magento 2 version:

-  [x] 2.4

Notifications of

[2020-06-09 03:12] dougkm opened #7377 "Clarify info about accessing diff nodes on Pro architecure and Scaled architecture topics"
In https://devdocs.magento.com/cloud/architecture/scaled-architecture.html#ssh-access

the section on accessing the different nodes applies to both Pro Architecture and the Scaled Architecture.  The Pro architecture only has nodes 1 - 3.

This section was the only place I could find this documented.

Also, the possible values of <environment> should be spelled out.

[2020-06-09 12:26] sugarcubeproductions opened #7379 "Installation bug on new install"
# Bug report

## Description

Deprecated Functionality: Function ReflectionType::__toString() is deprecat
  ed in /var/www/puppypridestore-2.3.5/vendor/laminas/laminas-code/src/Reflec
  tion/ParameterReflection.php on line 83

### Steps to reproduce

Freshly installed PHP7.4, downloaded new Magento 2.3.5, try to install

## Expected result

I'd assume it would install?

## Possible solutions

Comp

[2020-06-09 12:46] navarr opened #7380 "ESLINT and JSCS rules links do not work on 2.4"
# Bug report

## Description

The ESLINT and JSCS links on the [JavaScript coding standard page](https://devdocs.magento.com/guides/v2.4/coding-standards/code-standard-javascript.html) point to incorrect URLs.

This is due to them using {{ page.guide_version }} as part of the URL, and the page content being cloned from 2.3.

Currently, there exists a 2.3 branch and a 2.4-develop branch, and the wa

[2020-06-09 13:10] jeff-matthews commented on #7379
@sugarcubeproductions, Magento 2.3.x does not support PHP 7.4: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#php

Magento 2.4.0 supports PHP 7.4: https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html#php

[2020-06-09 13:10] #7379 closed

[2020-06-09 13:31] goivvy commented on #1437
Is a new topic about price adjustments still needed? I'm working on one and thought I'd ask.

[2020-06-09 14:56] Yonn-Trimoreau commented on #1437
Documenting the functionality will surely help it being used...
For the last two years and a half, I encountered numerous use cases where price adjustments would have been useful. But since it is undocumented and appeared far too obscure to me, I didn't use it.
I'm not even sure if it's working since Magento core doesn't use it.

[2020-06-09 19:41] erastl opened #7386 "Feedback on page: /redoc/2.3/"
# General issue

## Description:

This page https://devdocs.magento.com/redoc/2.3/admin-rest-api.html is practically unusable for me. The side menu freezes when scrolling, and sometimes the entire page freezes up, and I have to stop and wait just to even copy some piece of text.

## Possible solutions:

## Additional information:

I'm using Chrome v. 81 to view the page.

[2020-06-09 20:04] dobooth commented on #7386
HI @erastl thanks for posting this. We have heard about it, from both the community and internal users as well. It has to do with the size of the admin data file. We are currently looking at solutions for this, including dedicated hosting, alternative API implementations and other speed increases we can wring out of it.
This issue, and comments in other forums let us know just how much people depe

[2020-06-09 20:15] dobooth commented on #7274
Pinged @okorshenko to get the proper EngCom link.

[2020-06-11 06:56] rip057 opened #7391 "Linux kernel info out of date on Software recommendations page"
# General issue

## Description:

Regarding https://devdocs.magento.com/guides/v2.3/performance-best-practices/software.html

Operating System section specifically

net.ipv4.tcp_tw_recycle = 1
net.ipv4.tcp_tw_reuse = 1

## Possible solutions:

Well first and foremost net.ipv4.tcp_tw_recycle doesnt exist past kernel 4.12
see [https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit

[2020-06-11 14:41] #7375 closed

[2020-06-11 18:09] dobooth commented on #7391
@buskamuza who is the right person to get info on this issue?

[2020-06-11 18:10] #7386 closed

[2020-06-11 18:12] dobooth commented on #7380
Links to the 2.4 codebase will fail in the beta docs until the actual release date. We added a note to reflect this. Thanks!

[2020-06-11 18:12] #7380 closed

[2020-06-11 18:15] keharper commented on #7386
@erastl Firefox seems to work better than Chrome. Also try waiting a couple of minutes after the page loads before trying to scroll and interact with the page.

[2020-06-11 18:21] bdenham commented on #7368
There is no information provided with this issue. Closing.

[2020-06-11 18:21] #7368 closed

[2020-06-12 14:12] #7376 closed

[2020-06-12 23:15] carlos-reynosa opened #7400 "Provide instructions for Linux users to replace xdebug hostname config w/correct IP"
# General issue
Xdebug session does not start in Linux with given instructions.
## Description:

Xdebug session does not start because `host.docker.internal` is not available on **Linux**. Docs should provide special instructions for Linux users to replace xdebug hostname configuration with a correct IP.

## Possible solutions:
In order to configure xdebug correctly for Linux the remote hostname w

[2020-06-13 04:36] eplata1991 commented on #527
Hi!

**Fix it!!!**

The **orderId** is: **entity_id** from table sales_order
**URL:**
host/rest/V1/order/orderId/ship

**Body**
{
    "entity": {
    	"orderId":8961,
    	"store_id":1,
        "items": [
            {
                "order_item_id": 4723,
                "qty": 1
            }
        ]
    }
}

![imagen](https://user-images.githubusercontent.com/7060398/84559992-3a227580-ad05-1

[2020-06-14 01:28] meaty68 opened #7403 "Feedback on page: /guides/v2.3/comp-mgr/updater/update-updater.html"
# General issue - unable to update the updater - Magento 2.3.5-p1

## Description:

The Update the Updater Application failed for me with the following error:
 [InvalidArgumentException]
  Could not find package magento/updater with stability stable in a version installable using your PHP version 7.3.16.

## Possible solutions:

Is a new version available?

[2020-06-14 19:40] arshadpkm opened #7404 "Feedback on page: /guides/v2.4/ui_comp_guide/components/ui-wysiwyg.html"
# General issue

## Description:

Under events (https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-wysiwyg.html#events) listed about TinyMCE javascript events, but given a link to Magento events and observers under (See Events and observers to learn more about events and how to use them.)

## Possible solutions:

Remove the link to Magento events and observer and give link to how

[2020-06-15 16:06] rehman0845 opened #7407 "Unable to View the Rest API documentation for Magento version 2.1.12"
@magento Unable to View the Rest API documentation for Magento version 2.1.12
https://devdocs.magento.com/swagger/index_21.html
Can anybody provide the resource to view the REST API the documentation for Magento version 2.1.12?
Thanks.

[2020-06-15 22:24] atwixfirster commented on #7404
@magento I am working on this

[2020-06-16 02:59] manishmittalm commented on #7325
@gideon-magento are you looking to add this note "Admin and Super Users have the rights to create Snapshots." in document is it? and where are you suggesting to add this link to https://devdocs.magento.com/cloud/project/user-admin.html#cloud-role-project

Please specify.

[2020-06-16 03:10] gideon-magento commented on #7325
The first bullet point already mentions that Super Users have the rights to create snapshots.

The Super user role grants administrator access to all environments. They can change settings and execute actions on any environment, including creating and restoring snapshots.

The word ‘snapshot’ should probably link to the Snapshots article. https://devdocs.magento.com/cloud/project/project-webint-sn

[2020-06-16 03:23] manishmittalm commented on #7325
@magento I am working on this.

[2020-06-16 14:51] manishmittalm commented on #7407
@rehman0845
I think this has been deleted as Magento not providing support for Magento 2.1.

rest documents you can find here:
https://devdocs.magento.com/swagger/index_22.html
https://devdocs.magento.com/swagger/index_23.html

[2020-06-16 14:53] manishmittalm commented on #7407
It is not a bug, Closing this issue, if you still need any hlep. Feel free to open it. Thanks

[2020-06-16 14:53] #7407 closed

[2020-06-16 14:55] manishmittalm commented on #7325
This is pending from reviewer now, I have shared already fix for this in 2.4-manish-develop branch.

[2020-06-17 01:08] meker12 commented on #7400
@carlos-reynosa  In the 2002.1.1 release Xdebug is automatically configured and enabled in a PHP container that's created when you specify the --with-xdebug option. See the draft [Configure Xdebug](https://github.com/magento/devdocs/blob/Cloud-Docker-1.1.0/src/cloud/docker/docker-development-debug.md) topic in the Docker 1.1.0 integration branch.

And for details, see the [PR description|https://g

[2020-06-17 11:27] atwixfirster commented on #7364
@magento I am working on this

[2020-06-17 15:16] atwixfirster commented on #7364
**done** in https://github.com/magento/devdocs/pull/7424

**in progress**

**in progress**

[2020-06-17 18:55] #7404 closed

[2020-06-18 01:42] keharper opened #7428 "GraphQL: Add support for product reviews"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [x] Topic Update, Devdoc link: Several
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28523
Magento 2 GitHub PR: https://github.com/magento/magento2/pull/27882

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New R

[2020-06-18 15:23] keharper commented on #7364
Reopening because #7426 is still in progress.

[2020-06-18 15:49] manishmittalm commented on #7325
Fixed, closing this issue.

[2020-06-18 15:49] #7325 closed

[2020-06-18 18:36] erikmarr commented on #7403
@meaty68 thanks for your feedback. This looks more like a support issue. You can find more resources here: https://devdocs.magento.com/community/resources/support.html

[2020-06-19 00:13] carlos-reynosa commented on #7400
It does not solve the issue for  Linux users and will require additional configuration and documentation guidance in order to set up xdebug within Linux successfully. The draft still assumes that the user is running docker for MacOs or Windows  by _not_ mentioning that the default configuration `XDEBUG_CONFIG=remote_host=host.docker.internal`  uses the `remote_host` value `host.docker.internal` wh

[2020-06-20 09:58] atwixfirster commented on #7374
@magento I am working on this

[2020-06-22 04:55] manish-sp commented on #7274
@magento I am working on this

[2020-06-22 04:56] manishmittalm commented on #7274
@magento I am working on this

[2020-06-22 05:06] manishmittalm commented on #7274
Fixes: #7432

[2020-06-22 05:28] #7364 closed

[2020-06-22 15:50] shrielenee opened #7433 "Add Microsoft Edge as supported for 2.4"
# General issue

## Description:

Edge was removed as supported from 2.4, when it SHOULD be supported. IE 11 should remain unsupported, as shown in 2.4 docs.
https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements_browsers.html

## Possible solutions:

Add back in Microsoft Edge, shown in previous version doc: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements_

[2020-06-22 16:23] eduard13 opened #7435 "Search results are leading to the wrong links"
# Bug report

## Description

When searching something using the top search bar, we're expecting to get the correct links

### Steps to reproduce

1. Open the following [page](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/conventions_js.html) or this [one](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/bk-javascript-dev-guide.html)
1. Open the search bar
1. Type into t

[2020-06-22 18:31] #7433 closed

[2020-06-22 20:11] almarchenko opened #7437 "Feedback on page: /guides/v2.3/performance-best-practices/software.html"
On behalf of Magento Support, there's a suggestion to replace
"opcache.memory_consumption=512MB" to "opcache.memory_consumption=2GB", since this is what we recommend to our customers.
According to @Alkar778  512MB is only enough for clean Magento, while a real site requires at least 2GB.
Thank you.

[2020-06-24 02:52] keharper opened #7443 "GraphQL: Add support for id_v2 for Open Source product types"
# Community engineering issue

Type of Doc:

-  [ ] New topic
-  [x] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28524
Magento 2 GitHub PR: https://github.com/magento/magento2/pull/28210

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST endp

[2020-06-24 13:57] atwixfirster commented on #7363
@magento I am working on this

[2020-06-24 14:09] damienwebdev opened #7444 "[DOCS] The routes.yaml docs are either wrong or very confusing"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/cloud/project/project-conf-files_routes.html

## Description

As a developer, I'd like to be able to configure routes for my project in a multi-store environment in both production and staging. My routes can be either http:// or https://.

## Possible solutions

In theory, this is entirely configurable from `route

[2020-06-24 15:28] Pisikoll opened #7448 "Promote usage of ModifierPoolDataProvider instead of AbstractDataProvider in DataSource component topic"
# General issue

Use  **\Magento\Ui\DataProvider\ModifierPoolDataProvider** instead of **\Magento\Ui\DataProvider\AbstractDataProvider**

https://devdocs.magento.com/guides/v2.2/ui_comp_guide/concepts/ui_comp_data_source.html

## Description:

While researching how should I create custom data provider first place where google points is [this page](https://devdocs.magento.com/guides/v2.2/ui_comp_gu

[2020-06-24 17:35] atwixfirster commented on #7363
**done**

PR: https://github.com/magento/devdocs/pull/7449

[2020-06-24 18:06] YPyltiai commented on #7444
@meker12 , @hguthrie , please review once you have a chance.
It fits into the discussion we had some time ago about "request only" feature list, which would be great to document somewhere.

[2020-06-25 03:00] keharper opened #7454 "GraphQL: Add support for rewards"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28834

Magento 2 GitHub PRs:
- https://github.com/magento/partners-magento2ee/pull/285
- https://github.com/magento/partners-magento2ee/pull/281

Magento 2 version:

-  [x] 2.4

Notifications of Changes:

-  [ ] Changes to

[2020-06-25 16:21] #7437 closed

[2020-06-25 18:12] shrielenee commented on #7435
Is this automation gone wrong?

[2020-06-25 18:14] #7403 closed

[2020-06-25 19:51] mykhailo-superiorseating opened #7456 "Modules block in env"
# Bug report

## Description

Devdocs/[env.php reference](https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-envphp.html) doesn't contain 'modules' block clarification.

## Additional information

Example:
[code]

[2020-06-26 14:37] jpanke opened #7459 "Feedback on page: /cloud/project/privatelink-service.html"
# General issue

## Description:

In the Limitation section, it talks about customers being able to purchase additional support to help with enablement.  There is no team that will help beyond initial enablement.

Magento support does not cover troubleshooting AWS PrivateLink issues beyond initial enablement. **Customers have the option to purchase additional support from Magento Services**

## Po

[2020-06-26 22:07] manishmittalm commented on #7456
@mykhailo-superiorseating  Module not exists in env.php file. This is part of config.php file.
Please refer this
https://devdocs.magento.com/guides/v2.4/config-guide/config/config-files.html

[2020-06-28 09:41] hefawei opened #7470 "I want to know why the plugin was canceled"
# General issue

## Description:
Submission ID: s9td38slee
https://developer.magento.com/extensions/details/s9td38slee

[2020-06-28 09:43] hefawei commented on #7470
customer issues

[2020-06-29 13:04] mykhailo-superiorseating commented on #7456
@manishmittalm Got it. But what about https://github.com/magento/community-features/issues/126 ?

    According to the comment above, this ticket is moved to feature-requests track

Is it implemented?

[2020-06-30 03:13] manishmittalm commented on #7456
Please track same ticket for that issue, when it will be implemented then only we can take any documentation ticket. Thanks

[2020-06-30 04:40] pramodraam commented on #4109
Hi, Is there a workaround to make CDN and Advanced JS bundling work together? The issue I am facing is that enabling CDN adds an .js extension to those dependencies ending in .html extension. Please advise me as to what the solution is.

https://magento.stackexchange.com/questions/316025/magento-2-3-4-enabling-cdn-for-static-subdomain-results-in-some-knockout-js-dep

[2020-06-30 17:27] Sartoric opened #7474 "ModifierInterface example is wrong"
# General issue

Affected page: /guides/v2.3/ui_comp_guide/concepts/ui_comp_modifier_concept.html

## Description:

In the document we have :
`In your custom module, add a class that implements \Magento\Ui\DataProvider\Modifier\ModifierInterface `

But the example Class, in fact, extends the AbstractModifier (that implement the interface)

## Possible solutions:

Correct the text or the sample

[2020-07-01 06:05] sw-tt-jigneshvagh opened #7475 "Feedback on page: /guides/v2.4/ui_comp_guide/howto/add_category_attribute.html"
# General issue
After adding the custom attribute, its showing on category edit details but it is not saving the data.

## Description:
After adding the custom attribute, its showing on category edit details but it is not saving the data, I have tried different methods and also tried to clear cache, setup:upgrade, re-indexing but still facing issue.

## Possible solutions:

## Additional informati

[2020-07-01 09:12] manishmittalm commented on #7475
@sw-tt-jigneshvagh Please post this issue here: https://community.magento.com/

This forum to share issues with documentation only. closing this ticket here.

[2020-07-01 09:12] #7475 closed

[2020-07-01 13:31] atwixfirster opened #7479 "GraphQl. Mutation: customerOrders query and gift_message attribute"
# Bug report

## Description

Error `Can't load gift message for order` is returned when order does not have a `gift_message`:

<img width="1114" alt="001" src="https://user-images.githubusercontent.com/13585327/86249206-a03d4280-bbb7-11ea-80ec-2faa89caeb28.png">

### Steps to reproduce

1. Magento (2.4-develop) with a sample data
1. Generate customer token:

[code]

1. Retrieve customer orders:

[2020-07-01 13:33] atwixfirster commented on #7479
@magento I am working on this

[2020-07-01 13:55] atwixfirster commented on #7479
Wrong place to report.

😊

Moved to CORE repo - https://github.com/magento/magento2/issues/28957.

[2020-07-01 13:55] #7479 closed

[2020-07-01 21:36] atwixfirster commented on #7474
@magento I am working on this

[2020-07-01 21:47] atwixfirster commented on #7474
Fixes provided in: https://github.com/magento/devdocs/pull/7480

Thank you for reporting, @Sartoric 👍

[2020-07-02 08:28] rsidhaarth opened #7481 "NDB Cluster 7.4.* Support"
Hi Team,

I am trying to migrate the mysqldump data to NDB cluster 7.4 and I am getting error with Fulltext.

As I can see that, M2 support NDB Cluster 7.4 but when trying to create a table on NDB cluster it fails as they dont support FULLTEXT.

So whats the solution here?

`CREATE TABLE `catalogsearch_fulltext_scope1` (
  `entity_id` int(10) unsigned NOT NULL COMMENT 'Entity ID',
  `attribute_id`

[2020-07-06 06:16] eduard13 commented on #7373
This issue has to be postponed, as there will be some implementation adjustments on the current GraphQl Wishlist implementation, based on the following [discussion](https://github.com/magento/partners-magento2ee/pull/248#issuecomment-649749589).

[2020-07-06 16:03] meker12 commented on #7459
Fixed in #7464.

[2020-07-06 16:03] #7459 closed

[2020-07-06 19:38] #7366 closed

[2020-07-07 16:07] meker12 commented on #7470
@hefawei  This GitHub repository is for issues related to the Magento Developer Documentation. I'd suggest posting your question in the Community Forum: https://community.magento.com/

[2020-07-07 16:07] #7470 closed

[2020-07-08 06:43] PiotrBenedysiuk opened #7491 "Link to ReDoc 2.4 doesn't work"
# General issue
Hyperlink to the REST API docs sends me to Magento 404 page.
## Description:
The content of https://devdocs.magento.com/redoc/2.4/index.html seems to be gone.

## Possible solutions:

If docs are moved to a different location then the hyperlink referencing them should be adjusted.
If they are rightfully gone, then display information on your page regarding the end of support for Ma

[2020-07-08 13:01] jeff-matthews commented on #7491
@PiotrBenedysiuk, the 2.4 docs are in beta at the moment. The 2.4 REST API docs won't be published until 2.4.0 reaches GA.

[2020-07-09 08:43] brucemead opened #7496 "Feedback on page: /guides/v2.4/extension-dev-guide/routing.html"
# General issue

## Description:

Some links going to `https://github.com/magento/magento2/blob/2.4/...` instead of `https://github.com/magento/magento2/blob/2.4-develop/...`

## Possible solutions:

Update links to `https://github.com/magento/magento2/blob/2.4-develop/...`

[2020-07-09 08:46] brucemead commented on #7496
@magento I am working on this

[2020-07-09 09:13] brucemead commented on #7496
So reviewing the `routing.md` file its using variable `{{ page.guide_version }}` which is pulled from line 4
[code]
Which I believe is then used here in one of these https://github.com/magento/devdocs/tree/master/_plugins/page-params to set the variable `{{ page.guide_version }}`.

So in my suggested PR https://github.com/magento/devdocs/pull/7497 I've added a new variable `version_branch` and use

[2020-07-09 14:48] dshevtsov commented on #7496
`guide_version` version is generated by [custom plugin ](https://github.com/magento/devdocs/blob/master/_plugins/page-params/page-baseurl-generator.rb#L9-L10) for each page.

[2020-07-09 15:41] meker12 opened #7500 "Update Additional search configuration section to provide info about ELASTICSUITE_CONFIGURATION variable"
# General issue

## Description:

- In the Cloud Guide, [Additional search configuration](https://devdocs.magento.com/cloud/project/project-conf-files_services-elastic.html#additional-search-configuration) section mentions Elasticsuite and custom configuration, but it does not provide a link to the [ELASTICSUITE_CONFIGURATION](https://devdocs.magento.com/cloud/env/variables-deploy.html#elasticsuit

[2020-07-09 15:53] dshevtsov commented on #7496
Code in `2.4-develop` is not fully relevant to documentation in 2.4. The documentation covers 2.4.0 codebase but `2.4-develop` accepts contributions for releases AFTER 2.4.0 already. `2.4` links will be resolved right after 2.4.0 release.

[2020-07-09 15:53] #7496 closed

[2020-07-09 16:09] dshevtsov commented on #7496
Removing the redundant `version` parameter in #7502.
For more detail on where `2.4`. comes from, refer to my comment [here](https://github.com/magento/devdocs/pull/7497#issuecomment-656166612).

[2020-07-09 16:54] brianpittvps opened #7503 "Feedback on page: /guides/v2.3/migration/migration-tool.html"
# General issue
Terminology is not explained
## Description:
The instructions for the data migration tool refer to "documents", but never tell you what a document is in the context of the data migration tool. To me, a "document" is a file with text in it that someone reads.  But you use it like a table in a database.  There are "document_rules" for ignoring or renaming "documents".  The "field_rul

[2020-07-09 17:03] brianpittvps opened #7504 "Explain best practices for sample files"
# General issue

## Description:
The migration tool contains a bunch of sample files for the mapping, settings, etc that we can copy to our own module for configuring the migration tool.  The map.xml.dist file, for instance, contains over 2200 lines with hundreds of entries.  Is this just an example or are we supposed to keep all that stuff in there and add our own customizations as needed?  This

[2020-07-09 18:22] shrielenee commented on #7456
Hey there @mykhailo-superiorseating @manishmittalm I am going to close this. Based on your comments above it seems this should be tracked in the mentioned issue, and this one is no longer relevant. If you feel this was in error please open another issue!

[2020-07-09 18:22] #7456 closed

[2020-07-09 18:25] shrielenee commented on #7481
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, contact [Magento Support](https://support.magento.com/hc/en-us/articles/360000913794-Magento-Help-Center-User-Guide#support-tickets)---They should be able to help you with this! Let us know if you have any more questions.

[2020-07-09 18:25] #7481 closed

[2020-07-09 18:29] shrielenee commented on #7504
This page also requires a general copyedit.

[2020-07-09 18:44] keharper commented on #7503
Closing because it appears to be a duplicate of #7504

[2020-07-09 18:44] #7503 closed

[2020-07-10 22:26] #7474 closed

[2020-07-14 08:20] Zifius opened #7513 "Version switcher looks wrong in Safari"
# Bug report

## Description

The switcher on the new layout has too much text padding from the top in Safari. Looks good in Chrome
## Expected result

Switcher looks the same in all browsers
## Additional information

<img width="144" alt="Screenshot 2020-07-14 at 10 12 35" src="https://user-images.githubusercontent.com/696727/87402118-64dd4380-c5bb-11ea-96e2-05af699837b3.png">

[2020-07-14 09:26] gingerben opened #7514 "Feedback on page: /guides/v2.4/rest/bk-rest.html"
the rest api documentation link on this page does not work
https://devdocs.magento.com/redoc/2.4/index.html

[2020-07-14 13:36] miguelbalparda opened #7518 "Feedback on page: /guides/v2.4/config-guide/redis/redis-session.html"
# General issue

## Description:

Redis won't log anything lower than 4. Current guide says log level = 3

## Possible solutions:

Change log level to 4

## Additional information:

Looking at the Cm\RedisSession\Handler class, it doesn’t write anything below LoggerInterface::WARNING which is 4

[2020-07-14 13:36] miguelbalparda commented on #7518
@magento I am working on this

[2020-07-14 14:27] miguelbalparda commented on #7518
Thank you @mjrafferty for the original report <3

[2020-07-15 12:50] #7518 closed

[2020-07-16 18:14] dobooth commented on #7513
@belbiy Thought you might want to see this.

[2020-07-16 18:32] jeff-matthews commented on #7514
@gingerben, we're working on publishing the 2.4 REST docs and they'll be ready by GA. In the meantime, you can see the synchronous endpoints here: https://magento-24.redoc.ly/

[2020-07-17 19:06] #7514 closed

[2020-07-17 20:36] atwixfirster commented on #7504
For this issue we can write a book. DMT is a complex tool. It's impossible to write a few sentences to explain how does it work.

[2020-07-18 14:37] melwinlobo18 opened #7540 "Unable to create the cart"
# Bug report

## Description
When I try to create a cart (quote) for a customer I get the following message

[code]

### Steps to reproduce

## Expected result

The response is the quoted: \<id\>

[2020-07-18 14:38] hostep commented on #7332
@korostii, there's this hidden feature of the release notes which links the Magento internal ticket number to an entry in the release notes, if you take a look at the html source code, you'll see this. In this case the internal ticket number is `MC-31729`.

If I then search the git commits on the `2.4-develop` branch using something like `git log origin/2.4-develop --grep 'MC-31729'`, I find a bun

[2020-07-18 14:39] melwinlobo18 commented on #7540
@magento I am working on this

[2020-07-18 14:43] hostep commented on #7297
@vlmironov: you can execute: `bin/magento deploy:mode:set --skip-compilation`, the `--skip-compilation` flag will skip the static assets generation and the compilation process. This is probably what you are searching for?

[2020-07-19 01:46] melwinlobo18 commented on #7540
Sorry. This is an error with the framework, not the documentation. I have created a PR in the **magento2** repo.

[2020-07-19 01:46] #7540 closed

[2020-07-19 02:50] pramodvegeta opened #7542 "Clean up sample in Apache documentation"
# General issue

## Description: AllowEncodedSlashes code snippet - Copy Issue

Clicking on "Copy" to copy the code for AllowEncodedSlashes copies text along with the three dots that act as a line separator i.e. "..." and for a non tech savvy person this might cause issue with the server.

Path to file: /guides/v2.4/install-gde/prereq/apache.html

## Possible solutions:

Remove the dots and let th

[2020-07-20 00:50] khaled2358 opened #7544 "Feedback on page: /guides/v2.3/get-started/bk-get-started-api.html"
# General issue

## Description:

## Possible solutions:

## Additional information:

[2020-07-20 00:51] khaled2358 commented on #7544
@khaled2358

[2020-07-20 00:51] #7544 closed

[2020-07-21 02:18] meker12 opened #7557 "Cloud: what to do when you update Elasticsearch"
# General issue

In the Elasticsearch set up information, no information about what to do when you update the Elasticsearch version.

Affected page: /cloud/project/project-conf-files_services-elastic.html

## Description:

In the [Services](https://devdocs.magento.com/cloud/project/project-conf-files_services.html)  and [Upgrade the Magento application](https://devdocs.magento.com/cloud/project/pr

[2020-07-21 04:34] atwixfirster commented on #7557
@magento I am working on this

[2020-07-21 07:47] winds1983 opened #7559 "Psych::SyntaxError: (src/_data/codebase/cloud/magento-cloud.json): found unknown escape character while parsing a quoted scalar at line 1 column 256"
# Bug report

## Description

Configuration file: /var/www/html/magento/magento-devdocs/_config.yml
 Theme Config file: /home/sunfeng/.rbenv/versions/2.6.6/lib/ruby/gems/2.6.0/bundler/gems/devdocs-theme-13b0d9620c17/_config.yml
            Source: /var/www/html/magento/magento-devdocs/src
       Destination: /var/www/html/magento/magento-devdocs/_site
 Incremental build: enabled
      Generating..

[2020-07-21 14:20] rafaelstz opened #7562 "Inconsistent ElasticSearch recommendation"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/es-config-nginx.html
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/es-config-apache.html

## Description

There are two different recommendations/examples:

"The Magento application and Elastic

[2020-07-21 19:27] lokesh450 opened #7568 "Feedback on page: /guides/v2.3/install-gde/system-requirements-tech.html"
# PHP Extensions Check

4 missing PHP extensions. Hide detail

## Description:
how to extensions

## Possible solutions:

## Additional information:

[2020-07-21 19:30] dobooth commented on #7568
@lokesh450 Thanks for the issue. Can you please provide more details about the specific extensions that are missing?

[2020-07-23 09:28] RimantasAdeoWeb opened #7580 "Add details to Define the GraphQL schema for a module"
# General issue

The lack of examples in some sections make this page uninformative.

Path to file: /guides/v2.4/graphql/develop/create-graphqls-file.html

## Description:

There are no examples under "Declare input attributes", "Specify output attributes", "Define the output interface", "Define enumerations"
It makes these sections nearly useless to people not already familiar with Magento's inte

[2020-07-23 18:11] shrielenee commented on #7559
Hey @dshevtsov --- Is this something you've experienced?

[2020-07-23 18:16] dshevtsov commented on #7559
I added a Troubleshooting section about `Psych::SyntaxError` to our wiki just yesterday: [Psych::SyntaxError when running commands to preview or build the site](https://github.com/magento/devdocs/wiki/Troubleshooting#psychsyntaxerror-when-running-commands-to-preview-or-build-the-site).

[2020-07-23 18:26] dshevtsov commented on #7559
This looks like an environment related issue, otherwise it would fail before a pull request with this JSON was merged.
My first guess is that the issue is related to `rbenv`. @hguthrie, can you reproduce this issue on latest master with ruby installed by `rbenv`.

[2020-07-23 18:30] keharper commented on #7491
@PiotrBenedysiuk We have fixed the issue. The file you mentioned no longer exists, but the left navigation now takes you to the 2.4 admin schema.

[2020-07-23 18:30] #7491 closed

[2020-07-24 14:17] Lennonka opened #7587 "Feedback on page: /guides/v2.4/extension-dev-guide/events-and-observers.html"
# General issue

## Description

The documentation is missing a reference of events which come with Magento out of the box.

## Possible solutions

Include an official list and description of events would be most welcome.

## Additional information

These could be an inspiration:

- https://www.mageplaza.com/magento-2-module-development/magento-2-events.html#list-all-events-in-magento-2
- https://

[2020-07-26 09:42] hostep opened #7592 "Duplicated entries in BiC reference list for 2.4.0"
# Bug report

## Description

This is about the page [Backward incompatible changes reference](https://devdocs.magento.com/guides/v2.4/release-notes/backward-incompatible-changes/reference.html)

### Steps to reproduce

1. Look at the [Database changes](https://devdocs.magento.com/guides/v2.4/release-notes/backward-incompatible-changes/reference.html#ce_2.3.0-2.4.0-develop-database) list

## Expec

[2020-07-27 14:44] keharper commented on #7580
Thanks for taking this PR, @chandru-199

[2020-07-27 15:18] dshevtsov commented on #7592
Engineering is aware of this issue. Unfortunately, the Documentation team doesn't have control over the BiC reference generation tool; we can only work with its results. We've been publishing raw output for the _magento2ce_ and _magento2ee_ codebases until the 2.4.0 release. The lists will be processed to a normal view right after the release.

[2020-07-28 12:29] atwixfirster opened #7605 "Cloud. How to skip a native Cloud patch?"
# Topic clarification/correction request

## Topic Link

[Apply patches](https://devdocs.magento.com/cloud/project/project-patch.html)

## Description

We have a topic about Cloud patches. However this topic does not contain an information how to skip a particular Cloud patch.

## Possible solutions

## Additional information

On our Cloud project we have removed Amazon payment modules via `replac

[2020-07-28 12:41] atwixfirster commented on #7605
Related issue: https://github.com/magento/magento-cloud-patches/issues/51

Thank you so much, @hostep

[2020-07-29 18:09] milindsingh opened #7625 "Store scopes in config.php works only for fresh install."
# General issue

## Description:
Feedback on page: /guides/v2.4/config-guide/prod/config-reference-configphp.html

- `group_id` and `store_id` is db auto increment field and cannot be taken by the provided config.php.

## Possible solutions:

## Additional information:

[2020-07-30 16:19] #7592 closed

[2020-07-30 18:05] pmonosolo opened #7636 "Add info about creating "maintenance.enable" file in maintenance mode when CLI is used"
# General issue

## Description:

Custom Maintenance page only works when you do "touch <magento_root>/maintenance.enable". When CLI is used to enable the Maintenance mode it does not create "maintenance.enable" file and therefore the custom page is not shown.

## Possible solutions:

bin/magento maintenance:enable needs to create maintenance.enable file or a redirect for 503 should be included in

[2020-07-30 18:16] dobooth commented on #7636
Hi @pmonosolo Thanks for the issue. That command is listed in the steps on the page you provided. Is the command not working correctly for you?

[2020-07-30 18:25] meker12 commented on #7605
So you cannot skip patches required patches on Cloud projects. The issue you are experiencing is due to a bug that will be fixed in the next release of Cloud Patches (1.0.6).  Looks like bug affects installations with 2.2.6 and 2.3.5. See https://github.com/magento/magento-cloud-patches/pull/63.

[2020-07-30 18:27] #7605 closed

[2020-07-30 20:38] hguthrie commented on #7559
I use RBENV and I have not run in to this situation. I tried to start with a fresh clone and play with the versions to see if it messes up, but still didn't see this. I agree that the problem could be related to environment.

There are a couple of things that can cause RBENV to throw errors: outdated dependencies and outdated XCODE.

- Make sure XCODE is up to date.
- Make sure the Ruby version is

[2020-07-30 20:53] pmonosolo commented on #7636
The command works, but the article only sets up rules in NGINX to deal with "touch <magento_root>/maintenance.enable" and does not take in consideration that CLI command bin/magento maintenance:enable often is setup to run via cron and thus the maintenance.html page that you have set up will not be shown.

Here is a breakdown;

- touch <magento_root>/maintenance.enable - creates a file and nginx r

[2020-07-30 21:40] keharper opened #7641 "GraphQL: Add support for PayPal Payflow Pro Vault"
# Community engineering issue

Type of Doc:

-  [x] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/magento2/issues/28520

Magento 2 GitHub PR: https://github.com/magento/magento2/pull/28821

Magento 2 version:

-  [ ] 2.3

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [x] New REST end

[2020-08-03 11:38] ihor-sviziev opened #7656 "Add asynchronous variant for uiRegistry component in uiRegistry topic"
# General issue

## Description:

This page is showing only synchronous variant of using uiRegistry component, while it's not good from performance perspective. In the JS file we have exampe how to retrieve any component using async variant: https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/Ui/view/base/web/js/lib/registry/registry.js#L342-L346

##

[2020-08-05 08:22] chandru-199 commented on #7580
If any GraphQL expertise take this PR, it will be better I think. Thank you!.

[2020-08-05 13:13] ghoyle opened #7676 "Version of symfony/console for migration tool incompatible with the rest of M2.4"
# M2.4 migration tool incompatible

## Description:
On trying to install the migration tool onto a clean M2.4.0 open source site I get an error saying the version of a dependent module symfony/console (v4.4.0) conflicts with other dependencies which require symfony/console (v4.1.12)

## Additional information:

`Problem 1
    - Conclusion: don't install magento/data-migration-tool 2.4.0
    - Conc

[2020-08-06 14:03] victor-v-rad commented on #7676
Hi @ghoyle

There is a dedicated repository https://github.com/magento/data-migration-tool for Data Migration Tool related issues. Please describe details of the issue there. Like Magneto version used, how it was installed from github or composer. The same for DMT. Thank you!

[2020-08-06 14:09] dobooth commented on #7676
Closing as there is a better place for the issue.

[2020-08-06 14:09] #7676 closed

[2020-08-06 18:19] dobooth commented on #7636
@buskamuza We could use a consult on this. Are the docs unclear here or is the command missing something? Not sure what the expected behavior is. Thanks!

[2020-08-06 19:21] goivvy commented on #1437
@jeff-matthews Will adding a new total collector via etc/sales.xml be the correct way to do price adjustments for quote items?

[2020-08-07 13:08] jeff-matthews commented on #1437
@goivvy, I don't know the answer to that unfortunately.

@buskamuza, do you know the correct way to do price adjustments? If not, can you recommend someone who does?

[2020-08-07 16:25] goivvy commented on #1437
The problem with total collectors is that it only adjust totals, prices a customer sees on the cart page will be different to what he/she sees on product pages (if price adjustments are implemented).

[2020-08-08 15:25] swnsma opened #7701 "In-Store Pickup GraphQl intersection products assignments filter"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.4/graphql/queries/pickup-locations.html

## Description
Update GraphQl query with newest information as soon as
https://github.com/magento/inventory/pull/3161 - Approved 09/09/2020
https://github.com/magento/architecture/pull/419 - Merged
Will be approved and merged.

[2020-08-08 15:25] swnsma commented on #7701
@magento I am working on this

[2020-08-09 19:10] swnsma opened #7704 "PHPStan update"
# Topic clarification/correction request

## Topic Link
https://devdocs.magento.com/guides/v2.4/test/testing.html

## Description
1. Link for PHPStan levels is outdated
2. Level has been changed to 1 in https://github.com/magento/magento2/pull/27905

## Possible solutions
1. Update PHPStan levels link
2. Add info about 1'st level

[2020-08-09 19:14] swnsma commented on #7704
@magento I am working on this

[2020-08-10 17:58] chakravarthykalyan90 opened #7709 "Feedback on page: /guides/v2.4/release-notes/release-notes-2-4-0-open-source.html"
# General issue

## Description:

Under "Additional security enhancements" > "Implementation of 2FA for Admin accounts, Magento.com user accounts, and Cloud SSH access" > "Securing your Magento Admin account."

It is described as 2FA is enabled by default and cannot be disabled. But actual behavior is 2FA mobule can be disabled and admin is allowed to login without it.

![image](https://user-image

[2020-08-10 18:04] chakravarthykalyan90 commented on #7709
@magento I am working on this

[2020-08-10 18:04] chakravarthykalyan90 commented on #7709
@magento add to contributors team

[2020-08-10 18:06] chakravarthykalyan90 commented on #7709
@magento I am working on this

[2020-08-10 22:00] goivvy commented on #1437
@arthurlataks @Yonn-Trimoreau

[2020-08-11 17:29] jeff-matthews commented on #7709
See comment in #7710

[2020-08-11 17:29] #7709 closed

[2020-08-11 17:45] #7454 closed

[2020-08-11 21:50] DrewML opened #7718 "Add note about mixing cacheable and noncacheable queries in a single request"
# General issue

## Description:
It would be great if we could list that we have a bit of a caveat with GraphQL caching.

Unlike typical REST APIs, GraphQL will let you include as many distinct queries as you'd like in a single request.

But, with Magento's Full Page GraphQL cache, a single query that is not cacheable will cause _all queries in the same request to bypass cache_.

**Example that hi

[2020-08-12 10:44] Yonn-Trimoreau commented on #1437
@goivvy you make a point.

For my part, last use case I can think of is: in a B2B project, the ERP had a dynamic discounting system that I needed to call via web service each time a product was added to the cart. I sent the references and the quantities, and it sent me a list of adjusted prices back.

The customers were expecting these "magic" discount prices since they were already getting them w

[2020-08-12 13:30] #7704 closed

[2020-08-12 14:58] dobooth opened #7726 "Feedback on page: Add a new input form to checkout"
# General issue

https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_form.html

## Description:

User reports that these steps fail somewhere around the static/dynamic form area.
He didn't know exactly what is missing.

[2020-08-12 17:04] zaheerbadi opened #7730 "Ui-columnscontrols topic needs clarification"
# General issue

https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-columnscontrols.html

## Description:

I was just looking on this component to add this in my custom grid but I am very disappointed with this guide.
Do you think any middle-level developer can implement this custom component in their module?
Just 5-6 line of code and there isn't specify how to use this and what i

[2020-08-12 17:56] sirugh commented on #7718
I wonder if it would be possible to have combined queries split into cacheable/non-cacheable combinations before sending across the network.

[2020-08-12 18:35] #7718 closed

[2020-08-12 20:23] arthurlataks commented on #1437
@goivvy yes, I believe that is how the M2 team intended these mechanics to work. I see their stance here, on PLP/PDP you see a price + "tax" calculated together (for your convenience), and on a cart page you see a brake down of the price which was already counted into the price on PLP/PDP.

[2020-08-12 21:40] DrewML commented on #7718
Sure, @fnhipster is working on something like that for his PWA.

There's a big downside though. If you're splitting the queries automagically like that, that means both requests would need to complete before your client code could "stitch" the responses back together. Means that, no matter how fast the cached query is, your component code wouldn't see it until the slow uncached query completed.

[2020-08-13 13:34] paul-gene opened #7739 "EAV Attribute Options"
# Topic clarification/correction request

## Topic Link

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/attributes.html

## Description

The page includes a list of options that can be set for attributes, but some are lacking a real description of what they actually do. See the screenshot for an example of 4 options with zero, useful, information.

<img width="794" alt="Screen Shot 20

[2020-08-13 18:22] dobooth commented on #7730
@serhiyzhovnir Is there room for improvement on this topic?

[2020-08-13 19:20] buskamuza commented on #7636
Hm. Looks like docs are not corresponding to what we have in the implementation. The command creates `var/.maintenance.flag` file. I think if docs will replace `.maintenance.enable` with `var/.maintenance.flag`, all should work as expected. Also, IP addresses can be specified with a CLI command, and will be stored in `var/.maintenance.ip`. Possibly this same file can be read to provide IP addresse

[2020-08-14 00:24] #7641 closed

[2020-08-17 19:22] dobooth commented on #1596
Thanks for the update (via Slack) Andrew. We are ready when you are.

[2020-08-18 20:25] pikulsky opened #7755 "Feedback on page: /guides/v2.4/extension-dev-guide/security/content-security-policies.html"
# General issue

## Description:

Missing space in this sentence:
"This mode isuseful for debugging"

## Possible solutions:

Add space. Expected result: "This mode is useful for debugging"

## Additional information:

[2020-08-19 12:37] ivanavm opened #7759 "Feedback on page: /guides/v2.4/install-gde/system-requirements-tech.html"
# General issue
Elasticsearch version requerment is incorect.
## Description:
Impossible to install Magento Comunity Edition with elasticsearch 7.6.x

## Possible solutions:
Minimum required version is 7.7.x

## Additional information:
`- magento/product-community-edition 2.4.0 requires elasticsearch/elasticsearch ~7.7.0 -> satisfiable by elasticsearch/elasticsearch[7.7.x-dev, v7.7.0] but these co

[2020-08-19 14:40] fascinosum commented on #7759
hello @ivanavm,
thank you for your contribution. From the error you provided I see that you have a conflict between the dependencies in `composer.json` of your project. The [ES Engine](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html) version does not play any role at the composer install/upgrade step.
In the above error, we see the information that your current projec

[2020-08-19 18:52] keharper commented on #7373
I see that mutations were added in https://github.com/magento/magento2/pull/28205 for managing products within the default CE wishlist. I'll add those. All other features were deferred to 2.4.2.

[2020-08-19 20:59] #7759 closed

[2020-08-19 22:30] #7365 closed

[2020-08-19 22:30] #7363 closed

[2020-08-20 18:23] shrielenee commented on #6383
@ajithkumar-maragathavel Hey there! When you start working an issue update the title to be more descriptive and add the link to the topic in the description. I made that change here! 🙇‍♀️

[2020-08-20 18:30] shrielenee commented on #7400
@carlos-reynosa You reopened this, but the PR that @meker12 mentioned is merged. And there is also a related issue #233 https://github.com/magento/magento-cloud-docker/issues/233.

Should this issue remain open?

[2020-08-24 19:40] goivvy commented on #7587
@shrielenee  Will a new topic with all the events work? I can work on it

[2020-08-25 12:52] shrielenee commented on #7587
Hey @goivvy --- Yep! We would love if you would work on it. 🌟

[2020-08-25 16:23] #7373 closed

[2020-08-25 18:01] goivvy commented on #7587
@magento I am working on this

[2020-08-25 21:58] MichaelThessel opened #7779 "Incorrect release notes for 2.3.5"
# Bug report

## Description

The [2.3.5 release notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-5-open-source.html#customer) contain this section:

[code]

The same paragraph is contained in the [2.4 release notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html#customer).

This has not been fixed in 2.3.5 and probably only wa

[2020-08-27 16:03] iphigenie opened #7783 "consumers_wait_for_messages described in docs doesnt exist? Feedback on page: /config-guide/cli/config-cli-subcommands-queue.html"
# General issue

## Description:

/guides/v2.x/config-guide/cli/config-cli-subcommands-queue.html

The documentation mentions `--consumers-wait-for-messages` as a parameter that can be passed when processing message queues

Both on 2.3.4 and 2.4 this parameter results in an error  `The "--consumers-wait-for-messages" option does not exist.`

The parameter is mentioned in magento\module-message-que

[2020-08-27 18:54] meker12 commented on #7783
In the Magento 2.3 and 2.4 CLI reference generated from code, the `consumers-wait-for-messages` is an option for the following commands:

[`setup:config:set`](https://devdocs.magento.com/guides/v2.3/reference/cli/magento-commerce.html#setupconfigset)
[`setup:install`](https://devdocs.magento.com/guides/v2.3/reference/cli/magento-commerce.html#setupinstall)

@BaDos  Should the `--wait-for-max-messa

[2020-08-27 19:16] #3187 closed

[2020-08-27 21:51] meker12 commented on #7783
@iphigenie  I submitted PR #7784 to update the _Start message queue consumers_ topic to replace the parameter descriptions with a link to the `queue:start:consumers` help, which shows the currently supported parameters for the `queue:consumers:start ` command.

As mentioned in previous comment, it looks like the `--consumers-wait-for-messages` option is available on the following commands:

`setup

[2020-08-28 09:42] #7783 closed

[2020-08-28 09:58] iphigenie commented on #7783
It is indeed in the documentation if you run `bin/magento help setup:config:set`

`   --consumers-wait-for-messages=CONSUMERS-WAIT-FOR-MESSAGES                                  Should consumers wait for a message from the queue? 1 - Yes, 0 - No [default: 1]`

but it seems I will have to file a bug report because try to call this and you get

`The "--consumers_wait_for_messages" option does not exi

[2020-08-28 16:55] jfrontain commented on #7779
Thanks for reading the 2.3.5 release notes so attentively, @MichaelThessel. Our PM has investigated and confirms that this fix was merged into 2.3.5, so I am leaving the issue description in the notes. Closing.

[2020-08-28 16:55] #7779 closed

[2020-08-28 17:18] MichaelThessel commented on #7779
@jfrontain strange. I'm seeing the issue still in 2.3.5-p2. That's why I came across this in the fist place. I don't think that has been packported to 2.3.5. Can you double check with your PM and make sure that this code has actually made it into 2.3.5?

[2020-08-28 19:40] infinityredux opened #7786 "`beforeSave` functionality is incorrectly described"
# General issue

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html

Directly following the general patterns described on [this page](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html) - for an extension attribute on a product, with a plugin connected to the product repository - the `afterSav

[2020-08-30 10:52] TijnArts opened #7787 "Broken DevDocs links: compman-checklist.html & extensman-checklist.html"
These two links seem to be broken:
https://devdocs.magento.com/guides/v2.4/comp-mgr/module-man/compman-checklist.html
https://devdocs.magento.com/guides/v2.4/comp-mgr/extens-man/extensman-checklist.html

I tried to access them from:
https://docs.magento.com/user-guide/system/tools.html

[2020-08-31 18:29] keharper commented on #7367
fixed by #7774

[2020-08-31 18:29] #7367 closed

[2020-08-31 22:26] slavvka opened #7793 "[TEST] DO NOT TOUCH!"
# Community engineering issue

Type of Doc:

-  [ ] New topic
-  [ ] Topic Update, Devdoc link:
-  [ ] Other

Magento 2 GitHub Issue: https://github.com/magento/devdocs/issues/link

Magento 2 GitHub PR: https://github.com/magento/devdocs/pull/link

Magento 2 version:

-  [ ] 2.3

Notifications of Changes:

-  [ ] Changes to Admin interface?
-  [ ] New software requirements?
-  [ ] New REST endpoin

[2020-08-31 22:27] slavvka commented on #7793
@magento-engcom-team give 2.4-develop instance

[2020-08-31 22:29] slavvka commented on #7793
@magento give me 2.4 instance

[2020-09-01 02:56] keharper commented on #7443
Fixed by #7416

[2020-09-01 02:56] #7443 closed

[2020-09-01 02:57] keharper commented on #7428
Fixed by #7775

[2020-09-01 02:57] #7428 closed

[2020-09-01 14:34] meker12 commented on #7557
We add instructions for upgrading and downgrading services for Magento Commerce on the Cloud platform.  See [Changing services versions](https://devdocs.magento.com/cloud/project/project-conf-files_services.html#change-service-version).

[2020-09-01 14:35] #7557 closed

[2020-09-01 14:52] Zifius commented on #7513
Checked and it looks fine now. Closing and thanks for the fix!

[2020-09-01 14:52] #7513 closed

[2020-09-01 15:07] #7793 closed

[2020-09-01 17:11] BarnyShergold commented on #1786
@hguthrie @jeff-matthews I've just taken another look at this page : https://devdocs.magento.com/cloud/project/project-conf-files_magento-app.html

It is much too long and contains information about a wide variety of topics. I would recommend this page be broken up in small pages and made sub-pages of Configure Environment > Application. To join "Set Cache For Static Files"

I would be happy to do

[2020-09-01 17:23] BarnyShergold commented on #6067
@hguthrie @meker12 - I think a small mention on the MSQL Service page is in order but perhaps there should be an additional section under "Manage Your Project" called "Remote Database Access" - eg showing how to make a connection using a mySQL tool like SequelPro to access databases - both master & slave?

@meker12 - Under what circumstances were you expecting to need to know the difference betwee

[2020-09-01 19:18] hguthrie commented on #1786
@BarnyShergold I completely agree with you. All the configuration information in that topic is applicable to the application configuration and breaking out the subjects makes sense. The internal tracking seems to have become technical debt, but the original intent was to do as you describe. Properties and Variables is enough for the one topic, but customizing PHP settings and understanding Workers

[2020-09-01 19:39] hguthrie commented on #6067
The Manage your project topic does reference where to access the remote load balancer URLs, but a more intentional section or topic "showing how" is always well received.

[2020-09-02 08:43] codemasternode opened #7801 "Getting error: Schema is not configured for mutations when call createCustomer mutation"
# General issue

## Description:

When i am trying to make graphql call, like in magento 2 documentation:
`mutation {
  createCustomer(
    input: {
      firstname: "Bob"
      lastname: "Loblaw"
      email: "bobloblaw@example.com"
      password: "b0bl0bl@w"
      is_subscribed: true
    }
  ) {
    customer {
      firstname
      lastname
      email
      is_subscribed
    }
  }
}`
I am gett

[2020-09-02 08:56] #7801 closed

[2020-09-02 10:29] Eddcapone opened #7802 "Pipline deployment definition is unclear"
# General issue

## Description:

https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/

It says:

This makes no sense to me. Does this mean, our marketing/content editors/product creators etc. should work on the development system which may often break because of development??? Then they will always come in crossfire with the developer, how does this make any sense?

And it al

[2020-09-02 19:25] BarnyShergold commented on #1786
@hguthrie - I'll take this one

[2020-09-03 16:09] keharper commented on #7787
Closing this issue. It should have been reported in the merchdocs repo. Opened a new issue there.

[2020-09-03 16:09] #7787 closed

[2020-09-03 18:22] shrielenee commented on #7701
@swnsma Are you still working on the related PR #7702 ?

[2020-09-03 18:28] shrielenee commented on #7444
This looks to not be in progress anymore (last activity June 25). Moving back to Ready for Development.

[2020-09-03 18:28] dobooth commented on #7802
We should clarify that this is defining what a production server is and it is not declaring a process. The "Production" definition needs clarification and a grammar check.

[2020-09-03 18:30] #7274 closed

[2020-09-03 18:31] shrielenee commented on #1996
It looks as if this is not in progress. I will move back to Ready for Development.